[2019-01-31 16:41] Simn commented on #7723
I'm lost, how does using a switch make any difference here?

[2019-01-31 16:47] RealyUniqueName commented on #7731
I'm ok with `NullUnsafe`

[2019-01-31 17:22] back2dos commented on #7723
If your expectation is that making code null safe will just be a matter of adding `@:nullSafety` globally, you're in for a surprise. For starters, all the fields that are indeed nullable will have to be declared as such and as a result a lot of code that accesses them without a null guard (because it "knows" that the field is initialized by the time it's accessed). Consider just this simple patter

[2019-01-31 17:23] back2dos commented on #7723
This works *already*, because the switch captures the value and therefore `i` is known to not be `null`, regardless of any changes to `s.f`. Is that what you're asking?

[2019-01-31 17:35] frabbit commented on #7731
UnsafeNull sounds better :D

[2019-01-31 18:51] nadako commented on #7453
I looked a bit into implementing that and the thing described by @back2dos is just working accidentally already. The only minor issue there is that the signature of the `macro` function is not checked for consistency with the signature of the corresponding function in the `.macro.hx` module, which can lead to some confusion.

So, now I wonder whether we really want `@:forwardMacro` then :)

[2019-01-31 18:56] nadako opened #7732 "confusing error message for invalid argument types in function type"
[code]

[code]

This is reversed: it should be `Bool should be String (have: Bool, want: String)`.

[2019-01-31 21:15] frabbit commented on #7453
I still think that metadata is a much more flexible and more generic solution. It's also something that can be generated when building a class inside of a macro etc. There is currently no way to add macros to those classes, but with meta data this may be possible.

[2019-01-31 23:13] RblSb commented on #7723
I think it's a pretty big layer of code. Things may not be asynchronous at all, so this strictness is unnecessary in many cases. It would be very nice if this particular filter were optional and included on demand for packages, just like `@:nullSafety` (because strict field access is important feature, but for another type of projects). Like `@:threadNullSafe` (or reverted `@:threadNullUnsafe`) fo

[2019-02-01 08:30] RealyUniqueName opened #7733 "Compiler crash with recursive typedef and class"
[code]
[code]
Latest development

[2019-02-01 08:33] Simn commented on #7733
Probably a variant of #5785.

[2019-02-01 08:58] #7732 closed, assigned to nobody

[2019-02-01 09:00] Simn commented on #7732
Note that it still says `String should be Bool`. I think that's fine because that's the accurate unification message. It's just the have/want that was confusing here in my opinion.

[2019-02-01 09:22] Simn commented on #7728
I have to fix this for the RC somehow...

[2019-02-01 09:36] Simn commented on #7728
This isn't a good solution for various reasons, but I think it's fine for the RC.

I still want to try and only allow unqualified typing of enum (abstract) constructors. That should help cleaning up the matcher logic quite a bit.

[2019-02-01 09:44] back2dos commented on #7723
You're cherry picking. There's a whole array of ways that the field can get modified.

If you're concerned with terseness, that is a different matter. I would point out that the token count for the switch statement is exactly the same (17), but the example is contrived. Let's use slightly more realistic field names:

[code]

As you can see, there is less redundancy in the switch than the if. And t

[2019-02-01 10:09] #7731 closed, assigned to nobody

[2019-02-01 10:14] Gama11 commented on #7723
@back2dos Your replacements for _simple_ if-checks don't look terrible (though I still think it's highly unrealistic to expect that people will change their habits to that degree). However, for more complex ifs with multiple conditions it IMO looks much worse due to the increased indentation:

[code]

vs:

[code]

(I guess what I'd really want here is a C#-style `client?.outputChannel?.dispose();`

[2019-02-01 10:22] Simn commented on #7723
Note that these switches are translated to `if` expressions too. The match + bind is not an atomic operation in multi-threaded environments.

[2019-02-01 10:45] Simn commented on #7729
I agree we can utilize the constraints `final` comes with here.

[2019-02-01 14:59] RealyUniqueName commented on #7731
Changed to `NullUnsafe`

[2019-02-01 15:04] kevinresol commented on #7722
You can also use single quote, only that interpolation won't work

[2019-02-01 15:06] nadako commented on #7453
Okay, let's have both, but after 4.0 I guess. I'll add a test for Juraj's example though :)

[2019-02-01 15:45] RealyUniqueName commented on #7731
Removed in favor of `@:nullSafety(false) expr`

[2019-02-01 15:46] Gama11 opened #7734 "[typer] "Loop variable cannot be modified" error is absent"
This compiles since #7365 / preview 5 (it seems unintentionally). With preview 4, it errors with the usual "loop variable cannot be modified".

[code]

[2019-02-01 16:24] #7734 closed, assigned to nobody

[2019-02-01 16:32] RealyUniqueName commented on #7730
Allowed for fields in 50ab2f631c2d193c4a5df39d2e98e561ca6f049f

[2019-02-01 16:32] #7730 closed, assigned to RealyUniqueName

[2019-02-01 16:45] ncannasse opened #7735 "Eval null access error"
When doing a null access in Eval, we get the following error:
`Uncaught exception Unexpected value VNull(null), expected Array`

I find it to be a lot less readable than other platforms, such as:
`Cannot read property foo of null` (JS)
`Null access` (HL)

[2019-02-01 21:55] Gama11 opened #7736 "Null<T> inference"
Would be nice if `Null<T>` was inferred here, so it compiles with null safety enabled:

[code]

In that case it would be `Null<Unknown<0>>` in the first `$type` and `Null<String>` for the second.

[2019-02-02 08:49] Simn commented on #7382
Reading your post I'm only now noticing the "add additional flags without breaking macros" comment. Was the idea to expose these flags to macros as well? I thought we would still encode it as real fields for them, and we kinda missed our chance to change that now.

[2019-02-02 08:53] Simn commented on #7584
To be honest I didn't really notice that we added `--` in the first place. I'm inclined to just remove it because it seems redundant.

[2019-02-02 09:16] Simn commented on #7728
One other thing we currently allow as plain idents in patterns is type expressions like `case String`. I hate this a bit but I guess it's too late to suggest removing it.

[2019-02-02 09:36] Simn commented on #7728
The other problem is that people probably burn my house down if we break this:

[code]

Not sure what to do here

[2019-02-02 09:47] Simn commented on #7736
@ncannasse: How do you feel about this? It seems correct to me to infer `null` as `Null<?>`, but I'm somewhat concerned about inference differences that come from different typing order:

[code]

I suppose this is consistent with our general unification behavior though.

[2019-02-02 09:50] #7709 closed, assigned to hughsando

[2019-02-02 09:58] Simn commented on #7448
The concern I have about that is that it's `m_deps : (int,module_def) PMap.t;`, i.e. the dependencies are actual `module_def` instances. This would mean that macro modules are referenced in the non-macro context, and then code like this looks very scary:

[code]

... although I'm seeing that it has a check for `MMacro` in there, so maybe it's fine after all.

[2019-02-02 10:18] Simn commented on #7674
Note that I'm cheating a bit in my example because I type-hint `value:Array<Float>`. In the original example, this was untyped and as it turns out, we delay the property checks so far that we don't have the proper type when making the access:

[code]

All the `Array` instances there have an unknown type parameter. This is a different but very much related problem because we cannot top-down infer w

[2019-02-02 10:22] Simn commented on #7674
Argh, this changes when we put `MyAbstract` above `Main`.

[2019-02-02 10:44] Gama11 commented on #7584
Yeah, it doesn't seem strictly necessary considering you can do the same with `--run`. I think the motivation was mostly that `--` is a flag that a lot of tools support.

Agree it's better to remove it than to release it in a broken state.

[2019-02-02 21:26] ncannasse commented on #7382
Well that was the idea, but I have no strong opinion about it.

On Sat, Feb 2, 2019 at 9:49 AM Simon Krajewski <notifications@github.com>
wrote:

[2019-02-02 21:28] ncannasse commented on #7736
@Simn atm not auto-typing things as `Null<Unknown>` allows us to detect and warn on static platforms `null cannot be used as a basic type` and requires explicit `Null<Int>` typing. Also, the typing order bother me here, so I would prefer to keep it as-it.

[2019-02-02 21:35] Gama11 commented on #7736
Type inference is always affected by order though? For instance this doesn't seem much different to me:

[code]

[2019-02-02 21:43] Simn commented on #7736
That's the conclusion I arrived at too. It's not really different from assigning Int and Float values where the order matters as well.

I think we should infer `Null<?>` now. It's a bit silly that the compiler doesn't infer it but then complains about it...

[2019-02-03 19:26] ncannasse commented on #7448
It was working at some point so I would be optimistic about putting it back.

On Sat, Feb 2, 2019 at 10:58 AM Simon Krajewski <notifications@github.com>
wrote:

[2019-02-04 09:38] ze0nni opened #7738 "Incorrect lua code for callback-functions"
In version 2019-02-01: 4.0.0-rc.1 I try transalte to lua this code:

[code]

and have this in output:
[code]

and error `'end' expected (to close 'function' at line 387) near '('`

[code]

[2019-02-04 10:02] Simn commented on #7722
I also don't see what the problem with requiring `this."field"` is. We're talking about a syntax for field access here, which is unrelated to identifier resolution. Just because identifiers can resolve to fields doesn't mean that we cannot have a distinct dot-access syntax for fields.

The only thing that bothers me somewhat is that you couldn't use this from within abstracts because there is no s

[2019-02-04 10:47] markknol opened #7739 "Treat `static main` to be as the constructor"
_From slack:_
If I have `static var ctx:CanvasRenderingContext2D;` and assign it in my `static main` function, does it still need to be marked as `static var ctx:Null<CanvasRenderingContext2D> = null` and guarded everywhere its been used?

Found in Haxe 4.0.0-rc.1

[2019-02-04 10:51] back2dos commented on #7722
I think that:

1. having a way to use identifiers that are keywords is crucial, because it covers certain edge cases where native code requires an identifier that's reserved in Haxe, in which staying within the type system is difficult at best.
2. if having keywords is really necessary (hscript doesn't have them at lexer level, so I'm not quite sure why Haxe does), then some way of escaping is an

[2019-02-04 11:42] RealyUniqueName commented on #7739
Now the question is: should we use `static main` for this or `static __init__` or both?
And if the latter, then which one to use if both `main` and `__init__` exist in the same class?

[2019-02-04 11:47] Gama11 commented on #7739
If both exist, maybe it should work as long as an init happens in either of them?

[2019-02-04 11:50] Gama11 opened #7740 "[display] FieldCompletionSubject with Null<T> and ECheckType"
Here, the `FieldCompletionSubject` is of type `Null<String>` as expected:

[code]

[code]

However, here it's somehow just a plain `String`:

[code]

[code]

[2019-02-04 11:52] Simn opened #7741 "[java] catching Null<T> generates nonsense"
[code]

This generates:

[code]

Which errors:

[code]

This blocks #7736. Could be a matter of a missing `follow` or something worse... Advice appreciated!

[2019-02-04 11:53] Gama11 commented on #7472
Hm, this works fine for me:

![](https://i.imgur.com/rLj5GxU.png)

![](https://i.imgur.com/R5OlFax.png)

[2019-02-04 11:55] Simn opened #7742 "[hl] Null<Void> return type causes hl-check error"
[code]

[code]

I'm not entirely sure what this should do, but probably not that.

[2019-02-04 12:08] Gama11 opened #7743 "[typer] "Cannot iterate backwards" is inconsistent with before"
This code no longer compiles. It now gives "Cannot iterate backwards", which is a lie, it's not iterating at all. :)

[code]

(trust me, this makes much more sense in flixel's unit tests where the max value is from an inlined getter that only returns 0 if some define isn't set)

[2019-02-04 12:29] Simn commented on #7472
What is "package completion"?

[2019-02-04 12:30] Simn commented on #7742
To be clear because I realize `Null<Void>` looks stupid: This can also happen due to inference without an explicit `Null<Void>`, e.g. like so:

[code]

[2019-02-04 12:46] #7743 closed, assigned to nobody

[2019-02-04 12:55] ncannasse opened #7744 "[eval] no position reported even with eval-stack"
[code]

This gives an error at line 11 (build macro call), but does not report the line 5 invalid array access, even with `-D eval-stack`

[2019-02-04 12:56] ncannasse commented on #7744
Putting that in 4.0-final because it's quite a show stopper when debugging big macros.

[2019-02-04 12:56] RealyUniqueName commented on #7739
As a workaround `@:nullSafety(false)` on that field could be used to skip the initialization value check.

[2019-02-04 13:00] Simn commented on #7744
Too bad there isn't a debugger or something!

[2019-02-04 13:05] RealyUniqueName opened #7745 "Null safety strictness levels"
Something like
[code]
For TypeScript-like null safety.

And
[code]
For Kotlin level of strictness.

Rough example to showcase the difference:
[code]
The `Weak` null safety would not complain about such code, while the `Strict` one will emit an error on `var notNullable:String = o.f;` because `o.f` could be changed to `null` in `mutate(o)` call.

If different modes are used in the same build, a war

[2019-02-04 13:11] #7729 closed, assigned to RealyUniqueName

[2019-02-04 13:15] Gama11 commented on #7745
What about `@:nullSafety` meta? Would `@:nullSafety(false)` become `@:nullSafety(Off)` so you can have `@:nullSafety(Weak)` and `@:nullSafety(Strict)`?

[2019-02-04 13:15] RealyUniqueName commented on #7745
I don't want to support mixed modes )

[2019-02-04 13:18] Gama11 commented on #7745
The ability to set it per package doesn't count as "mixed modes"?

[2019-02-04 13:18] Simn commented on #7745
Any technical reason for that? If we configure this per-field anyway I don't see much of a problem with it.

We could have this:

[code]

[2019-02-04 13:20] RealyUniqueName commented on #7745
I'm scared that in the end I'll have to support different modes for different expressions in the single method body :)

[2019-02-04 13:26] Gama11 commented on #7745
@Simn Hm, supporting both `Bool` and a strictness "enum" seems unnecessary / confusing.. If there's ever typed meta that would turn into something like `EitherType<Bool, NullSafetyStrictness>`?

("null safety off" also sounds a bit better in my head than "null safety false")

[2019-02-04 13:28] RealyUniqueName commented on #7745
That can be like `Strict, Weak, Off`

[2019-02-04 13:30] RealyUniqueName commented on #7745
But then again, if it's supported per package/field, then why not per expression? )

[2019-02-04 14:41] Simn commented on #7435
I kind of forgot what we wanted to do here...

[2019-02-04 14:41] #7744 closed, assigned to Simn

[2019-02-04 14:41] #7584 closed, assigned to Simn

[2019-02-04 14:41] #7735 closed, assigned to nobody

[2019-02-04 15:14] Simn commented on #7739
There's a specified order for initialization:

1. `__init__`
2. Static variable assignments
3. `main`

Ideally, the null-checker respects that order. Note that the types in `com.types` are sorted so that static initialization works. Though I forget what happens if you create yourself a circular static initialization dependency.

[2019-02-05 09:32] Simn opened #7746 "[cs] funky String.lastIndexOf performance"
## HL

Our benchmarks suggest that lastIndexOf does something weird when there should be a match on the first attempt:

[code]

The "lastIndexOf hit" should have the same result as "indexOf hit" because the provided offset points directly at the substring we're looking for.

Neko has the same characteristics but I suppose we're not gonna fix that.

## C#

This is also weird:

[code]

indexOf must

[2019-02-05 10:58] Simn commented on #7745
I guess we don't need the bools. I treated it like it's the existing way to configure, but I suppose we are still free to change it.

[2019-02-05 12:06] #7714 closed, assigned to Simn

[2019-02-05 12:07] Simn commented on #7714
You mentioning reification red-herringed me for an hour because I was looking in the wrong places. Turns out eval's JIT was simply using the wrong position...

[2019-02-05 14:40] ncannasse opened #7747 "EvalJIT error"
[code]

[2019-02-05 14:42] Simn commented on #7747
That means you have an int-switch but no int-patterns, somehow...

[2019-02-05 14:43] ncannasse commented on #7747
Yes, I was looking at the evalJIT source.
Oh...

[2019-02-05 14:48] ncannasse commented on #7747
This compiles ? :D
https://gist.github.com/ncannasse/8f66e0a548da831a570debe657f47947

See line 406-415, I did forgot the .code
Can't seem to reproduce with a smaller example.

[2019-02-05 14:55] Simn commented on #7747
That doesn't compile for me:

[code]

[2019-02-05 14:56] ncannasse commented on #7747
if you compile in macros ?

[2019-02-05 14:58] ncannasse commented on #7747
It does not give errors when compiled as part of the domkit sample:
a) get domkit from https://github.com/ncannasse/domkit
b) replace the MarkupParser with my buggy one
c) open sample in vscode
d) compile --> evalJIT error

[2019-02-05 15:08] Simn commented on #7747
[code]

[2019-02-05 15:31] ncannasse commented on #7747
Error should not be eaten away though.

[2019-02-05 15:32] Simn commented on #7747
It's not, it just doesn't cause compilation to halt. That's how we treat errors in general.

[2019-02-05 15:34] ncannasse commented on #7747
Oh.  But that's weird to actually execute some code that failed to compile... shouldn't we in that case stop compilation and prevent macros from being executed?

[2019-02-05 15:35] Simn commented on #7747
Well, ideally yes, but I'm not sure where/how to check that...

[2019-02-05 15:41] ncannasse commented on #7747
Catching errors during macro context typing finalization ? Then turning it into some kind of fatal error that directly reach the toplevel (main or server loop)

[2019-02-05 15:42] ncannasse commented on #7747
I think we had that in place at some point.

[2019-02-05 15:48] Simn commented on #7747
Ah yes we do check that in `call_path`, but the eval jitting happens before that.

[2019-02-05 15:52] Gama11 opened #7748 "[display] expansion of env vars in JSON-RPC"
Auto-completion fails in VSCode with this because env vars are auto-expanded in arguments and we send the file contents via JSON-RPC on the command line:

[code]

[code]

[2019-02-05 16:41] kigero opened #7749 "Generics not written on function parameters"
I'm writing a utility function in Haxe that adds some information to an exception before it gets thrown, and I'm having an issue with this in Java because the type parameters aren't being written out to the java function.

I've got a function defined in haxe like this :

[code]

When I comple this with haxe for the Java target, the java code that gets output looks like this:

[code]
Note that the

[2019-02-05 17:38] Gama11 opened #7750 "[eval] (unknown) error position with invalid Reflect.fields() call"
This code is obviously stupid, but shouldn't there be a proper position for the error message? `-D eval-stack` doesn't help either.

[code]

[code]

[2019-02-05 18:57] Gama11 opened #7751 "[display] hover doesn't work on `new():Void`"
[code]

Hovering over the first `Void` works as expected, for the second one it gives "no completion point found".

[2019-02-05 19:04] Gama11 opened #7752 "[display] hover doesn't work on arguments of extern functions"
[code]

In this example hover works on everything but the `test` identifier, there it throws "no completion point was found". It works ok if it's not `extern`:

![](https://i.imgur.com/PQ0xtZO.png)

[2019-02-05 19:05] Gama11 commented on #7751
This one isn't specific to externs, also happens with this:

[code]

[2019-02-05 19:19] Gama11 opened #7753 "[display] hover on overloaded function call doesn't show correct signature"
[code]

Hovering over the calls always shows the "primary" `Int -> Void` signature, which is incorrect for the second one:

![](https://i.imgur.com/6xQneui.png)

[2019-02-05 19:27] Gama11 opened #7754 "[display] ? is lost in signature help of overloaded functions"
[code]

It seems the overload's `?` is lost in signature help, while it works for the "primary" overload:

![](https://i.imgur.com/Ixxq34C.png)

![](https://i.imgur.com/btA9sUs.png)

The `Null` wrapper is missing in the JSON, so it's not just a vshaxe presentation / printing problem. Hover on the overload is correct though:

![](https://i.imgur.com/ByBJLIN.png)

[2019-02-06 11:22] Simn commented on #7751
I wonder if we should discourage type-hints on constructors. The compiler probably doesn't even look at them, which would explain the issue here. Also, them being typed to return `Void` looks quite confusing.

[2019-02-06 11:29] nadako commented on #7751
Maybe we could even make it a compile-time error for 4.0?

[2019-02-06 11:36] Gama11 commented on #7751
At least a warning perhaps? There's a couple of these in hxnodejs btw, which is how I found this.

[2019-02-06 11:36] Simn commented on #7751
A warning makes sense to me. We have to check the situation in externs though.

[2019-02-06 12:10] Simn opened #7756 "[php] failing %= test if analyzer is disabled"
These tests are failing if the analyzer is disabled:

[code]

[2019-02-06 13:13] Simn opened #7757 "[hxcpp] failing test if analyzer is disabled"
This segfaults if no `-D analyzer-optimize` is used:

[code]

Generated code:

[code]

My investigation so far:

[code]

Any advice?

[2019-02-06 13:37] mockey opened #7758 "haxe.http.HttpMethod"
I just saw that there is an enum abstract now for HTTP request methods under `haxe.http.HttpMethod`.
Any chance of having the values upper-case, i.e. `POST` instead of `Post`?
I think that's usual notation. I know that there is CamelCase for enum values, but this one feels quite strange to me.
Also, woludn't `haxe.http.RequestMethod` be better?

[2019-02-06 13:45] Gama11 commented on #7758
That's debatable, if you do a search for `enum abstract` in standard lib, pretty much all results that aren't externs use CamelCase.

[2019-02-06 14:29] Simn commented on #7750
I still don't have a good strategy for this when it comes to builtin functions. We could probably use the position of the call but I don't think we could make it error on the `0` itself.

What position did this show in 3.4?

[2019-02-06 14:38] Gama11 commented on #7750
The call seems good enough.

Well... it didn't error at all, it returned an empty array. :)

[2019-02-06 14:52] mockey commented on #7758
Sure, no big deal. I have an own abstract for this anyway.

[2019-02-06 14:52] #7758 closed, assigned to nobody

[2019-02-06 14:53] Gama11 opened #7760 "[display] hover doesn't work on @:private meta"
[code]

Hovering over `@:private` just gives "no completion point was found". Does meta with keywords need special handling? It works for other stuff like `@:enum` and `@:extern`.

[2019-02-06 14:54] Gama11 commented on #7760
Nevermind... vshaxe makes switching between Haxe versions so easy that I constantly forget to switch back. :'(

[2019-02-06 14:54] #7760 closed, assigned to nobody

[2019-02-06 15:23] Gama11 opened #7761 "[display] completion doesn't work with @:forwardStatics"
No code completion here, but works for the regular `@:forward` or with `BooleanClass.` directly:

[code]

[2019-02-06 16:27] kevinresol commented on #7749
Type parameter generation for hxjava is not perfect at the moment. Maybe related: https://github.com/HaxeFoundation/haxe/issues/6289

[2019-02-06 20:00] dmcblue opened #7762 "[js] haxe.http.HttpJs Enable DELETE, PATCH, PUT"
JavaScript is capable of DELETE, OPTIONS, PATCH, and PUT requests but the Haxe implementation ( [haxe.http.HttpJs](https://github.com/HaxeFoundation/haxe/blob/development/std/haxe/http/HttpJs.hx) ) does not allow this (at least as far as I can figure out).  Some thing like the attached code would allow other request types; its just a slight change of the existing code.

Of course, it'd probably be

[2019-02-06 22:51] nadako opened #7763 "[macro] typedef vs Context.typeExpr"
Sometimes you want to write a macro that receives a "type expression" and processes it somehow. A natural way is to do `Context.typeExpr` and match for `TTypeExpr(...)`, however there are two problems with passing `typedef`s like that:

[code]

For `f(A)`, this code will fail with the error `A is not a value`, which is fair if we consider normal typing, but it would be good to delay this error to

[2019-02-07 07:30] Simn commented on #7763
Well, that's how expression typing works and that's what `typeExpr` exposes. I don't think we should change the behavior here or make special cases for it.

[2019-02-07 07:35] Simn commented on #7762
That seems like a fair idea, but it should use https://github.com/HaxeFoundation/haxe/blob/development/std/haxe/http/HttpMethod.hx instead of a `String` argument. It also shouldn't still have the additional `post` argument because that's redundant.

Feel free to send a pull request so we can discuss this further.

[2019-02-07 07:35] #7762 closed, assigned to nobody

[2019-02-07 08:04] #7756 closed, assigned to RealyUniqueName

[2019-02-07 08:47] ncannasse opened #7764 "Dash in XML literal node name not parsing"
The following does not parse:

[code]

[2019-02-07 09:08] Simn commented on #7764
Argh, in that case I have to rewrite the way we parse this a bit.

[2019-02-07 09:10] nadako commented on #7763
That's debatable, because technically there's no reason to not **type** it as `TTypeExpr(TTypeDecl)`, like we do for other type expressions. And we already defer some checks for the later, like the var initialization or null for static platforms, how this particular "type is not a runtime value" check is different from those that it should be done eagerly in the typer?

What about the second thing

[2019-02-07 09:13] Simn commented on #7764
If anyone with stronger feelings about XML wants to help, I need the correct definition of `xml_ident` here:

[code]

[2019-02-07 09:23] Simn commented on #7763
I'm not sure what you mean. The typer has always followed typedefs to their actual types for type expressions. That's implemented directly in `type_module_type` and probably code from Haxe 0.1. If we changed that, we would have to review all occurrences of `TTypeExpr` and `type_module_type` to make sure it uses `resolve_typedef` where appropriate.

You'd have to find a really good reason for doing

[2019-02-07 09:32] back2dos commented on #7763
Using expressions to refer to types is pretty iffy and the [evolution proposal](https://github.com/HaxeFoundation/haxe-evolution/pull/44) to improve it got rejected, so I guess you'll have to live with the fact that this is deemed an edge case. FWIW this will work quite fine for typedefs:

[code]

[2019-02-07 09:39] Simn commented on #7752
The compiler never really looks at the arguments for externs. This is the code non-extern arguments go through:

[code]

So there is:

1. The `$` check
2. Typing of the default value (hover for those also doesn't work on externs)
3. The display check of the argument itself

I think we want all three of these for extern functions as well. That would also fix this code passing the typer: `extern fun

[2019-02-07 09:46] nadako commented on #7763
yeah that's basically what I generally use, but I always saw that as a workaround for the `TTypeExpr` situation. maybe i got it wrong, so oh well :)

[2019-02-07 09:46] #7763 closed, assigned to nobody

[2019-02-07 09:57] Simn commented on #7763
Well, if we had https://github.com/HaxeFoundation/haxe-evolution/pull/44  it would require users of your macro to use `f(:A)`, which is arguably worse than `f(A)` with appropriate handling. So I'd argue that the `getPath` approach is actually superior for this case.

We could add `getPath` to ExprTools. We already have the reverse in MacroStringTools.toFieldExpr (sort of, it accepts `Array<String>

[2019-02-07 11:59] back2dos commented on #7763
That argument only works for the most trivial of cases: when the type is an unparametrized type path. It doesn't cover function types, anonymous types or parametrized types. Some of those cases can be worked around with via typedefs, but again not all:

[code]

There's no way to typedef to `Array<blargh.T>`, so you have to come up with even weirder workarounds like `someMacro((_:Array<T>))`. Or us

[2019-02-07 12:37] nadako commented on #7763
for the record, i also agree that a complex type expression would be useful in a world full of macros :) i mean we even have inline xmls that are required to be processed by macro...

[2019-02-07 12:46] Simn commented on #7763
See that's why we're so apprehensive to adding new syntax because as soon as you do, everyone goes "you added xyz so you might as well add abc".

[2019-02-07 13:12] nadako commented on #7763
(don't want to start a long argument here, but still) i think that's a natural reaction when a syntax with basically one justified use-case is added, when one with much more usages is deemed "not worth it". given that there are very much viable workarounds/alternatives for both of them

[2019-02-07 13:19] Simn commented on #7752
@haxiomic: I had to push this change to a branch because the HTML externs have some code like this:

[code]

Which now fails with `C:\GitHub\haxe\std/js/html/eme/MediaKeys.hx:44: characters 63-74 : String should be Null<js.html.eme.MediaKeySessionType>`. We should fix this in the externs generator.

[2019-02-07 13:26] Simn commented on #7763
Which are? The only thing this seems to do is allow you to write `:SomeType<X>` instead of `(_:SomeType<X>)`. Yes it looks nicer, but I'm not seeing more usages here.

Also, https://github.com/HaxeFoundation/haxe-evolution/pull/44 was never suggested in a macro-only context. In fact, most of the discussion revolved around run-time intricacies.

[2019-02-07 13:35] Simn commented on #7752
@RealyUniqueName: Found something for you too: https://github.com/HaxeFoundation/haxe/blob/development/std/php/Global.hx#L1145

[code]

[2019-02-07 13:46] nadako commented on #7763
Exactly, `validate(value, :Type<X>)` looks much cleaner than `validate(value, (_:Type<X>))` or `validate(value, var _:Type<X>)` or `validate(value, "Type<X>")`, not only because of the token-count, but also because the syntax has clear meaning and purpose - to pass a type. It's just good for readability IMO. And I think given that there are more use-cases where you'd want to pass a complex-type, i

[2019-02-07 14:35] Simn opened #7765 "[analyzer] Some mess with something"
[code]

Generated JS:

[code]

C'est la merde...

[2019-02-07 15:04] back2dos commented on #7763
Well, to be fair, what you probably want is `validate((value : Type<X>))`. If only we could get rid of that ternary operator, you could make it shorter still ...

I've heard you say that a number of times and IIRC I already tried to clarify the issue, but at the risk of repeating myself I will do so again: you're misperceiving what has actually been said.

It's not exactly the exception that propo

[2019-02-07 15:26] haxiomic commented on #7752
Thanks for the heads up @Simn

[2019-02-07 15:46] Simn commented on #7763
You're always doing the same thing: Take something, abstract it to arbitrary levels and then derive something else from that. If you abstract enough, you can find a perceived precedent for anything and thus justify its validity. While this is a good approach in a court of law, I don't believe that it leads to good language design.

That's misconstrued and you know it. My concern in that discussion

[2019-02-07 15:52] Simn commented on #7765
Different example:

[code]

Generated JS:

[code]

I think something weird is going on with purity inference because `-D analyzer-no-purity-inference` fixes it.

[2019-02-08 00:24] rushmobius opened #7766 "Implicit casts not applied for abstract of abstract"
Given the following code:
[code]

It will fail to compile the if (o) unless the @:to is placed on the Outer abstract. Is this expected or is there a way to follow the implicit cast operator for abstracts of abstracts?

[2019-02-08 00:36] Gama11 commented on #7766
Abstract casts are not transitive as documented here:

https://haxe.org/manual/types-abstract-implicit-casts.html

[2019-02-08 08:59] Simn commented on #7764
According to the [xml specification](https://www.w3.org/TR/xml/#sec-common-syn), `$` is not a valid character for names. What spec am I supposed to follow here?

[2019-02-08 09:12] Simn commented on #7558
Reopening this as it seems dollar symbols are not allowed in XML names. See #7764.

[2019-02-08 09:43] #7558 closed, assigned to Simn

[2019-02-08 09:43] #7764 closed, assigned to Simn

[2019-02-08 09:46] Simn commented on #7558
So the dollar is indeed not allowed in the XML spec, but it is allowed in the JSX spec (via the ECMA 6 identifier spec).

[2019-02-08 09:48] Simn commented on #7764
Tentative result of our slack discussion: We allow names according to the XML spec with the addition of the `$` character. This should be somewhat sane.

[2019-02-08 12:48] frabbit commented on #7182
any chance we get this into 4.0?

[2019-02-08 12:49] Simn commented on #7182
yah

[2019-02-08 14:50] Gama11 opened #7767 "[eval] stepping over should give "about-to-leave-function" indication"
When stepping over code, debuggers usually indicate in some way that they're about to leave a function. Node debugging in VSCode for instance highlights the function headers, I've seen other debuggers move the the closing `}` of the function.

![](https://i.imgur.com/YiYKbio.gif)

Eval doesn't do this, it just exits after the `if` (IMO it's also way too granular there, but that's a separate issue)

[2019-02-08 17:02] ncannasse commented on #7722
The problem with using "field" is that it's already used in normal syntax, which can leads to think that you're making some kind of dynamic/Reflect.field/Map-like access, like you do in JS with `obj["field"]`.

Back quotes have no prior usage in Haxe and could be restricted to contain only a specific subset of characters (for instance, no escaping or newlines), preventing as much errors in code ge

[2019-02-08 17:07] #7742 closed, assigned to ncannasse

[2019-02-08 17:08] ncannasse commented on #7472
It's when doing completion on types. The module still appears while it contains a single @:noCompletion type.

[2019-02-08 17:17] ncannasse commented on #7435
Well, I don't want anymore the debug output to be part of error messages, so I'll close.

[2019-02-08 17:17] #7435 closed, assigned to Simn

[2019-02-08 17:17] Gama11 commented on #7472
Oh, you mean the module, not the type.

[2019-02-08 17:20] ncannasse commented on #7746
What does "hit" means there? I'm not sure what's the problem. Performances?

[2019-02-08 17:24] ncannasse commented on #7751
Why discouraging or warning? For sure, it should error if it's not Void,
but adding : Void is perfectly valid and should not give any prompt.

On Wed, Feb 6, 2019 at 12:36 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-02-08 17:43] Simn commented on #7746
Yes it's about performance. "hit" means that it uses a `startIndex` which is close (in this case directly on) the sub-string we're looking for. The test is here: https://github.com/HaxeFoundation/haxe/blob/development/tests/benchs/src/cases/StringScan.hx#L16

The performance characteristics suggests that it walks a large portion of the string instead of starting at `startIndex`.

[2019-02-08 19:11] axelhuizinga opened #7768 "php target 4.0.0-rc.1+1fdd3d59b complains"
C:\HaxeToolkit\haxe\std/php/_std/String.hx:32: characters 10-30 : Class<php.Global> has no field mb_strtoupper (Suggestion: strtoupper)
C:\HaxeToolkit\haxe\std/php/_std/String.hx:36: characters 10-30 : Class<php.Global> has no field mb_strtolower (Suggestion: strtolower)
C:\HaxeToolkit\haxe\std/php/_std/String.hx:62: characters 10-23 : Class<php.Global> has no field mb_chr
C:\HaxeToolkit\haxe\std/

[2019-02-08 19:17] Simn commented on #7768
Please double-check that you're actually using the correct standard library.

[2019-02-09 06:37] axelhuizinga commented on #7768
Sorry - my bad - I forgot I used to override some signatures - shouldn't be the driver_options in PDO::prepare be optional?

[2019-02-09 06:37] #7768 closed, assigned to nobody

[2019-02-09 09:04] ncannasse commented on #7767
For HL I'm emitting the HRet opcode on the pmax of the function.

[2019-02-09 09:06] ncannasse commented on #7746
I'm not surprised that several platforms exhibit the same behavior, as I mostly copy/pasted the implementation when adding a new platform.

[2019-02-09 09:09] ncannasse commented on #7763
We already have th `_:` operator for that ;-)   `f(_:Array<Int>)` works really well.

[2019-02-09 09:20] nadako commented on #7763
You meant `f((_:Array<Int>))` and I already mentioned it :)

[2019-02-09 11:04] Gama11 opened #7770 "[display] use isIterable and isKeyValueIterable in toplevel sorting"
In order to support `for`-loop generation for arbitrary types with `iterator()` / `keyValueIterator()` methods instead of only a few hardcoded types from the std lib, the language server needs these flags in `FieldCompletionSubject`.

Haxe can also use this internally for expected type sorting on `for (foo in ...)` and `for (key => value in ...)`.

[2019-02-09 23:28] Geokureli commented on #7226
I agree with @Simn that this should result in a compiler error. On occasion, I've copy/pasted bind code to be used as a normal call and forgotten to remove the bind. I've spent way too long staring at my code wondering "why is this not being called" only to discover its only a bind call.

All the same, any unused function call should result in a compile error, not just binds, like the following:
[

[2019-02-09 23:59] ncbray opened #7771 "[js] WebGL2Context does not inherit from RenderingContext"
@haxiomic

WebGL2's interface is a superset of WebGL:
https://github.com/KhronosGroup/WebGL/blob/master/specs/latest/2.0/webgl2.idl#L601
But js.html.webgl.WebGL2Context does not inherit from js.html.webgl.RenderingContext.  Supporting both versions of WebGL in an app requires some amount of code duplication because Haxe's type system sees them as separate types.

[2019-02-10 09:07] nadako opened #7772 "use namespaced metadata for targets"
As briefly discussed in Slack, maybe it makes sense to refactor all the target-specific metadata (`@:jsRequire`/`@:cppInclude`/etc.) into namespaced variants (`@:js.require`, `@:cpp.include`). If we go with that, we can slowly deprecate the old ones, making them hidden aliases for the new ones and eventually emitting a deprecation warning.

One question here is what to do with target-specific meta

[2019-02-10 18:43] haxiomic commented on #7752
@Simn, to clarify on this one: do you want me to remove all the inline default values from the externs?

[2019-02-10 18:59] haxiomic commented on #7771
Thanks for the report @ncbray, looks like the `WebGLRenderingContextBase` type is a bit of a fudge to overcome IDL overload issues – WebGL2 can directly extend WebGL1 without issue. I've made a workaround in the externs generator: #7774

[2019-02-10 19:07] Gama11 commented on #7752
In the example above, it should work to generate the enum abstract value rather than a string literal?

[code]

[2019-02-10 19:51] SavedByZero commented on #6728
I can confirm that this bug is still happening, but for the release html platform.  This chunk of code results in infinite keys and hasNext() perpetually returning true:

	{
		var returnString:String = "";

		for (key in _varMap.keys())
		{
			returnString += (key + "=" + _varMap[key] + ",");
			ErrorTracer.getInstance().traceMessage("k:" + key + "," + _varMap[key] + "," + _varMap.keys().hasNext()

[2019-02-10 19:54] #7771 closed, assigned to haxiomic

[2019-02-10 20:10] haxiomic commented on #7752
@Gama11 thanks for the clarification, I've made a PR :) #7775

[2019-02-11 10:41] skial opened #7777 "Abstract @:from macro displays false? warning"
It seems since the release of `4.0.0-preview.4` the following [code](https://gist.github.com/skial/1e351a80f59f1a538d55540dab9218e2) started causing the compiler to warn that `Thing should be Foo<String>`.  Testing with `4.0.0-preview.3` no warnings are reported by the compiler.

![preview](https://user-images.githubusercontent.com/379926/52557252-bf7ed880-2de6-11e9-9ce1-8ca77f5a6c87.png)

[2019-02-11 11:20] markknol commented on #7777
Did you also test `4.0.0-preview.5` or `4.0.0-rc.1` ?

[2019-02-11 11:30] skial commented on #7777
Yep and the most recent nightly build `1229db0`.

[2019-02-11 13:03] ncannasse opened #7778 "@:persistent is not always enough persistent"
When developing domkit I hit into the following problem:

I have classes that are being `@:build`. For each of these builds I create a `MetaComponent` instance that is stored into a `@:persistent static var Map<String,MetaComponent>`, for later resolution.

Things works quite good since when the classes are modified, `@:build` is triggered and this leads to updating the Map with the new version.

[2019-02-11 13:03] ncannasse commented on #7778
ping @Simn @back2dos

[2019-02-11 13:31] Simn commented on #7778
I'm still very confused by this. If we rebuild something in the macro context, we do it for a reason, namely that it or one of its dependencies changed. Subverting that would put the context in an invalid state where there could be a stored value from an older compilation mixed into the current compilation. That sounds like a recipe for disaster to me.

I'm also not sure what you mean when you say

[2019-02-11 13:57] nanjizal commented on #7702
The following Python works.
[code]
request library details are here, it seems really Haxe needs such a library but I am not the one to try to write it.
https://www.pythonforbeginners.com/requests/using-requests-in-python

My current Haxe code
[code]
[code]
Would really appreciate if anyone is able to assist, I would like to use Haxe to manage sync of two stores especially as I can quickly create n

[2019-02-11 14:17] Gama11 opened #7779 "[eval] Sys.sleep() doesn't work with Int"
[code]

[code]

Works fine with a Float (`1.0`).

[2019-02-11 15:13] haxiomic commented on #7702
Could you test with the js target with node.js (using lib hxnodejs)? My instinct is that this is a url parsing issue in `std/sys/Http.hx` and the js target uses something else

[2019-02-11 15:21] nadako commented on #7779
interesting, shouldn't the value be VFloat(1) automatically?

[2019-02-11 16:38] kevinresol commented on #7702
You can try the tink_http library which relies on tink_url which should have better url parsing

[2019-02-11 17:12] nanjizal commented on #7702
In setting up old electron nodejs project noticed I had to add a cast  ?
[code]
[code]
seems strange, I am cautious to introduce tink dependancies and macros for small project would prefer to stick to standard Haxe libraries, but may not have a choice.

[2019-02-11 17:26] kevinresol commented on #7702
See https://github.com/HaxeFoundation/haxe/issues/7549

[2019-02-11 17:26] haxiomic commented on #7549
@Simn I think we should bump fixing this (which requires #7390) to the 4.0 milestone – seems like it could come up a lot and if the js modules are moving around I think best to do it for 4.0 so it's not an unexpected change in 4.1.

Completing #7390 is firmly on my todo list so if no one else gets to it eventually I'll complete it.

[2019-02-11 22:26] ncannasse commented on #7778
Yes, the macros itself are not retyped, but the macro context is discarded and rebuilt to account for the Main.test change, which means a @:persistent in Macro class will be reset.

Or, I need to be able to store a list (actually map) of the classes that have been built, and there's a mismatch between our compiler cache and the macro context persistant cache for the reason above.

[2019-02-11 22:36] ncannasse commented on #7779
That calls for a whole API review ;)

On Mon, Feb 11, 2019 at 4:21 PM Dan Korostelev <notifications@github.com>
wrote:

[2019-02-11 22:38] ncannasse commented on #7549
I would close #7390 and rename both js.Map and js.Date to js.NativeMap and js.NativeDate

[2019-02-12 02:47] RblSb commented on #7549
Probably `js.Map` doesn't break too much https://github.com/search?q=language%3Ahaxe+%22package+js%22+%22new+Map%22&type=Code (`[=>]` case not included)
Maybe it's better to leave it as it is by adding `package js; typedef Map = std.Map;` in hx3compat (same for `Date`)?
Any option looks okay, but for js lib devs `import js.lib.Map` is little better than `import js.NativeMap as Map`.

[2019-02-12 08:48] back2dos commented on #7778
Yeah, this is a minefield :D

Anyway, for this particular case, I think the best solution would be to be able to attach persistent cache *to specific types*. From my experience, the type cache is far more reliable than the macro module cache. I would propose an API along these lines:

[code]

As soon as `type` is reloaded, the cache is gone.

This would also be nice for caching the result of expen

[2019-02-12 09:22] Simn commented on #7778
It's not:

[code]

[code]

[code]

I thought that was the whole idea behind `@:persistent`.

[2019-02-12 10:24] back2dos commented on #7778
Well, as far as I understand Nicolas, his @:persistent Map get's reset. Which it shouldn't, as far as I understand you.

Beyond that, being able to persist something *for as long as a given type is not invalidated* would be very helpful. If you consider Nicolas's case, this set up leaks memory (although probably not enough to matter), because it will keep data even for components that you remove f

[2019-02-12 13:36] markknol opened #7780 "Confusing have/want error reporting"
[code]
Note the lack of `?` here.

This results in this error
![image](https://user-images.githubusercontent.com/576184/52638815-0f3ace00-2ed3-11e9-81b0-545c166cf308.png)

Found in: Haxe 4.0.0-rc.1

[2019-02-12 15:40] haxiomic commented on #7702
@nanjizal how did it go with the js or tink test? – keen to hear if it worked, because that implies there's a bug to fix for the other targets

[2019-02-12 15:40] romamik opened #7781 "Huge compilation time when using Map with typedef key"
Code like this (but with more types and fields) takes very long time to compile.
Time grows non-linearly:
7 types/fields - 0.170 sec
8 types/fields - 0.902 sec
9 types/fields - 9.642 sec on my machine
10 types/fields -  392.284 sec, used more then 10GB RAM
[code]
Here are test generator and generated tests: [test-map-slow.zip](https://github.com/HaxeFoundation/haxe/files/2856657/test-map-slow.zip)

[2019-02-12 16:59] rb1147x opened #7782 "[js] should HttpBase's setPostData() parameter accept more than just String?"
I recently had an issue where I needed to implement a file upload feature on a website. I am doing this by creating a FormData object, appending the file, and sending it via xhr.

`setPostData` requires a String argument, but on MDN it looks like there should be more acceptable parameters for `xhr.send()`: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send#Parameters

Guessing, I

[2019-02-12 19:59] haxiomic commented on #7782
Thanks for the report @rb1147x

Hmm, so HttpBase probably should allow non-strings for post data, but [currently the sys implementation assumes a string](https://github.com/HaxeFoundation/haxe/blob/945461390b774b761f57777365b1e0cbb3ac26be/std/sys/Http.hx#L215) so probably won't work correctly for sys targets but I think you're safe for js.

I had a quick look at [sys/Http.hx](https://github.com/Ha

[2019-02-12 22:47] rb1147x commented on #7782
Ah, I'm probably not the most qualified to implement a fix for this in the sys/Http.hx class. I've only been working with the JS target.

And speaking of which, for JS, while a cast is working just fine, I'm assuming there's a better way to handle this?

[2019-02-12 22:52] haxiomic commented on #7782
If it's browser JS only, then I'd use `js.html.XMLHttpRequest` directly since then you know exactly what is going on (and that has the correct types)

[2019-02-12 23:36] aartzrc opened #7783 "Class initialization + serialization in JS target"
Hopefully not a redundant issue, but I have an odd case where I am trying to serialize some data during class initialization. It works in `--interp` but `-js` target fails. Here's a sample to reproduce the problem:

[code]
It fails on `js` target with
[code]
Looking at the bottom of the javascript output:
[code]
It's apparent that the `js_Boot.__toStr` function is defined after class initializatio

[2019-02-12 23:57] #7783 closed, assigned to nobody

[2019-02-13 00:00] nadako commented on #7783
Thanks for the report and the awesome reproducible example! The magic helper `__toStr` function should be of course already available when statics are initializing, I fixed it \o/

[2019-02-13 05:11] nanjizal commented on #7702
This works for GET and think for POST not sure on PUT, it's based on some posted in recent issue.
https://gist.github.com/nanjizal/38c03f19a24bcd2b98f8f03c7e9ec0da
Still a bit early for me to share too much feedback.

For download without password this can be useful.
https://gist.github.com/nanjizal/590d65188e5de6089918a470ae9c5930

Ideally would like these and OAuth ( and the PUT XML stuff ) all

[2019-02-13 10:05] markknol opened #7784 "DOMElement.requestFullscreen missing"
I noticed `DomElement` doesnt have `requestFullscreen()` anymore in Haxe 4.0.0. It

3.4.7 api doc https://api.haxe.org/js/html/DOMElement.html
4.0 api doc https://api.haxe.org/v/development/js/html/DOMElement.html

MDN: https://developer.mozilla.org/en-US/docs/Web/API/Element/requestFullScreen

cc @haxiomic Maybe you want to take a look at this?

[2019-02-13 10:07] haxiomic commented on #7784
Good spot @markknol, looks like a new flag "nsDocument::IsUnprefixedFullscreenEnabled" was added in the WebIDLs, will PR to fix

[2019-02-13 10:40] #7784 closed, assigned to haxiomic

[2019-02-13 13:38] Antriel opened #7786 "[js] switch on const value leaves behind empty switch"
Target JS, with analyzer. Same behavior on 3.4.7 and on Haxe 4 nightly as of 2019/02/13.
The following code works as expected, but leaves behind an empty switch. See http://try-haxe.mrcdk.com/#Df7e7.
[code]
This code is in the compiled js:
[code]
Furthermore, uncommenting the extra lines also produces:
[code]

[2019-02-13 16:38] haxiomic opened #7789 "[js] Use new typedef syntax in html externs"
Currently we have

[code]

Should be

[code]

Same for `@:optional` vs `?`

See https://github.com/HaxeFoundation/haxe/pull/7788#discussion_r256475867

[2019-02-13 18:03] MiloHX opened #7791 "Std.int() return negative value when the input float > 2147483647 (JS target)"
As captioned.

[2019-02-13 19:10] #7789 closed, assigned to haxiomic

[2019-02-13 19:45] ncannasse commented on #7778
Maybe I didn't understood correctly @:persistent, but it definitely gets
discarded when I modify the macro that have @:persistent or one of the
macro which rely on it :)
It's then not as a big problem as I thought it would be. But I think the
per-type cache Juraj suggested would make sense.

On Tue, Feb 12, 2019 at 11:24 AM Juraj Kirchheim <notifications@github.com>
wrote:

[2019-02-13 19:47] ncannasse commented on #7778
OTOH if we solve #7448 this will make sure that the cache gets entirely
rebuilt

On Wed, Feb 13, 2019 at 8:45 PM Nicolas Cannasse <ncannasse@gmail.com>
wrote:

[2019-02-13 19:59] ncannasse commented on #7791
That's perfectly normal, it's a 32 bit integer overflow.

[2019-02-13 19:59] #7791 closed, assigned to nobody

[2019-02-13 20:04] ncannasse opened #7793 "Rare issue with compiler cache"
I don't have a reproducible example but I would like this one to be looked into.

In the past months, we had several errors with the following pattern:
- someone has some project open on VSCode, which successfully compiles
- confident enough, he commits+pushes the code
- someone else updates, and get a parse error in some file (missing ; at eol etc.)
- the original committer can still compile, but

[2019-02-13 20:06] ncannasse commented on #7793
This is an important error, quite rare (4-5 occurrences in the past 2 months) but quite highly problematic. Let's do the checks and hopefully find some reason this might happen. If we can't find it, let's push it to 4.1

[2019-02-13 20:09] ncannasse commented on #7793
@trethaller can maybe give some additional info

[2019-02-13 20:22] Gama11 commented on #7793
This reminded me of an issue I had written down, but not reported... I think there's a good chance it's related:

- have a `main` with `{}.foo();` and a trace after it
- try to compile it, it should fail with `Unexpected .`
- switch to another `.hx` file tab (to trigger diagnostics on it)
- compile again, now it succeeds, but `main` is empty in the compiled output (!)

Doesn't reproduce with diagn

[2019-02-13 21:13] ncannasse commented on #7793
Woohoo thanks @Gama11 that might be it indeed!

[2019-02-13 21:22] djaonourside commented on #7793
I can confirm that it happens with my project too.  Sometimes vscode and compilation server give no error while teamcity building with haxe cmd does it.

[2019-02-13 21:43] Simn commented on #7793
We cache stuff if

* `ctx.has_error = false` and
* `com.display.dms_full_typing = true`.

The problem with diagnostics is that it collects errors instead of emitting them, which means `ctx.on_error` is never set to `true`. It also qualifies as `dms_full_typing` because that's what we want to do for diagnostics.

We have to somehow communicate that we are in an erroneous state even in diagnostics m

[2019-02-14 00:42] MiloHX commented on #7791
@ncannasse Thanks for the explanation. I am using Krom, and It actually worked before (converted correctly with > 2147483647 value), but after the latest update it stopped working. Maybe Krom changed to use 32 bits internally, I will check further.

[2019-02-14 01:18] MiloHX commented on #7791
I am wrong, it never converts correctly, please ignore this one.

[2019-02-14 04:46] posxposy commented on #7793
This reminds me of my old issue:
https://github.com/HaxeFoundation/haxe/issues/7195

Sometimes, but on a regular basis, I got problems with caching on the C++ target.
Don't know how to reproduce it, because I do not do anything special. Just writing code as always. Just in some point, I realize that compiled application is using old codebase, or even won't compile at all with linking errors (and s

[2019-02-14 09:15] ncannasse opened #7794 "[js] optional params + overloads"
The following used to work but no longer since #7776

[code]

Ping @Simn (if we can fix this in compiler) and @haxiomic (FYI)

[2019-02-14 09:25] haxiomic commented on #7794
Signature for connect()  is:

[code]

[2019-02-14 09:29] Simn commented on #7794
That suggests that the "optional" inference of arguments in overloads doesn't work.

[2019-02-14 09:33] ncannasse commented on #7793
Some additional information : I could confirm that the developer that had the bug had `haxe.enableDiagnostics = false` in VSCode configuration. However I guess this can also be triggered by doing a hover or other diagnostic-on-demand call?

[2019-02-14 09:34] ncannasse commented on #7794
Most likely default values are discarded in overload signatures.

[2019-02-14 09:36] Simn commented on #7794
We don't need the default value as long as the type is correct.

[2019-02-14 09:37] Simn commented on #7794
I guess #7754 was mistaken for a display-specific bug when it is actually a general problem.

[2019-02-14 09:38] Simn commented on #7794
Never mind, that one uses an explicit `?` which makes the difference.

[2019-02-14 10:04] Simn commented on #7794
Should be fixed. Keeping this open because I'd like to add a test for it somehow.

[2019-02-14 10:52] Simn commented on #7752
3 errors left in the HTML externs:

[code]

[2019-02-14 11:27] markknol opened #7795 "Context.defined / Context.definedValue keys should translate dashes to underscores"
**Description**
In current setup, If I use `-D haxe-is-great` then
-  `Context.defined("haxe-is-great")`  is false
-  `Context.defined("haxe_is_great")`  is true

Same goes for `Context.definedValue`.
This is because `#if haxe-is-great` doesn't work, which makes sense.

The `Context.defined` docs now say

This is confusing because the -D parameter does contains a dash, but its translated somewhere

[2019-02-14 11:30] elsassph commented on #7795
What about just making `-D haxe-is-great` work? And I guess for backwards compatibility both would have to work.

[2019-02-14 11:30] RealyUniqueName opened #7796 "[flash] Failing on glsl2agal.swc"
With the latest Haxe:
[code]
[code]
This is official Adobe's library: https://github.com/adobe/glsl2agal/blob/master/bin/glsl2agal.swc
Works fine with Haxe 3.4.

[2019-02-14 11:55] Simn commented on #7796
That is likely going to require a bisect. I didn't think we changed anything related to this...

[2019-02-14 20:32] trethaller commented on #7793
I'm pretty confident (but not 100% sure) that in the few cases where I experienced this, the error was introduced by modifying source code outside of VSCode, most likely in a diff program before committing. The following builds (in VSCode) would then not report any error, and would not until the incorrect file is opened.

[2019-02-14 21:42] haxiomic commented on #7752
~~I've created a PR (#7797), hopefully that should do it (otherwise let me know the branch name and I'll iterate on it)~~

Made mistakes in that PR – will revisit tomorrow

[2019-02-15 08:23] RealyUniqueName commented on #7752
Fixed in 5aa3289d35df31fbe480d71e7e4a753cd7751b22

[2019-02-15 16:35] haxiomic commented on #7752
@Simn PR #7798 up to remove the disallowed default values

Seems like there should have been more than 3 errors judging by the number lines affect – would be good to double check that we're not missing anything (like default values in `@:overloads`)

[2019-02-16 11:33] Simn opened #7799 "[hl] A wild unicode failure appears"
Don't know what happened but travis says something is broken:

[code]

[2019-02-16 11:59] #7799 closed, assigned to ncannasse

[2019-02-16 18:30] wartman opened #7800 "Metadata seems to be broken on arrow function arguments"
Arrow functions seem to break if you use metadata on their first argument (in 4.0.0-rc.1).

[code]

[2019-02-17 07:30] bary12 opened #7801 "[python] StackItem.FilePos first parameter is always null"
Haxe 3.4.7
[code]

`s` seems to always be null in python for no apparent reason. When printing it in javascript it's usually `StackItem.method`, but in python it's always null, which is annoying as this information is available through `traceback.extract_stack`.

[2019-02-17 13:16] Gama11 opened #7802 "[display] display/typeDefinition doesn't work in object literal"
[code]

Invoking "go to type definition" at the `|` doesn't take you to `Foo`.

This may look a bit silly in the above example, but this can be especially useful in cases where there isn't a type hint nearby to use the regular "go to definition" on:

[code]

[2019-02-17 13:25] Gama11 opened #7803 "[nullsafety] closures with uninitialized local vars"
The following code isn't null-safe, but null safety doesn't complain:

[code]

[2019-02-17 13:52] #7752 closed, assigned to Simn, RealyUniqueName, haxiomic

[2019-02-17 14:03] Simn commented on #7802
This seems a bit dodgy. It's true that the expected type at the position can be inferred as `Foo`, but it's not exactly correct to say that you're hovering on an instance of `Foo`. If we changed this, it would also show `Foo` if you're hovering on something that's structurally not `Foo`, e.g. `{ }`.

[2019-02-17 14:19] Simn commented on #7800
The lambda parsing code gives me a headache. Can we remove short lambdas? :P

[2019-02-17 16:08] back2dos commented on #7803
Shouldn't this be handled by the compiler's check against uninitialised variables?

[2019-02-17 16:11] Gama11 commented on #7803
That doesn't seem to apply for locals used in closures (but perhaps ideally it should).

[2019-02-17 16:42] nadako commented on #7803
Concerning null-safety this looks okay, since `a` is not `Null<Array<Int>>` so it's really about the unitialized vars. I wonder though, if the null-safety checker will complain if `a` is typed as `Null<Array<Int>>`.

[2019-02-17 16:45] Simn commented on #7803
#7447

[2019-02-17 20:00] Gama11 commented on #7802
Hm.. it can't be done in a way that doesn't affect anything else? Checking for inference only on `display/typeDefinition`, or something..

[2019-02-17 21:36] Gama11 opened #7805 "[c#/java] Cannot find field enumIndex in class Type"
Looks like C# / Java don't compile more than once through the compilation server right now:

[code]

[code]

[code]

This is obviously a regression, but 4.0.0-rc.1 is already affected. Preview 5 is fine.

[2019-02-17 21:40] nadako commented on #7805
Since `Type.enumIndex` is marked with `@:ifFeature("has_enum")` it means that the `has_enum` feature is lost during the second compilation, so the method gets eliminated by DCE. A quick band-aid fix of course is to comment out the `@:ifFeature`, but looks like there's something wrong with state recovering and it might cause other issues.

[2019-02-17 21:48] Simn commented on #7805
I think I know why this happens.

[2019-02-17 21:52] Simn commented on #7805
See if that helped!

[2019-02-17 22:01] Gama11 commented on #7805
Yep!

Aren't there some compilation server tests that should've caught this? I guess they don't test all targets?

[2019-02-17 22:02] Simn commented on #7805
We don't run any compilation server tests. Our CI in that regard consists of Nicolas and you.

[2019-02-17 22:04] Gama11 commented on #7805
But... https://github.com/HaxeFoundation/haxe/blob/development/tests/server/src/Main.hx

[2019-02-17 22:05] RealyUniqueName commented on #7803
Looks like a compiler's job. I don't think null safety should check this. Especially after #7447.

It will.

[2019-02-17 22:05] Simn commented on #7805
Yah but all these just fail so we don't run them. :D

[2019-02-17 22:08] RealyUniqueName commented on #7447
Let's just prohibit the usage of uninitialized locals in closures and named function.
[code]

[2019-02-17 22:08] Gama11 commented on #7805
Oh... :(

[2019-02-17 22:09] RealyUniqueName commented on #7800
Submit a proposal )

[2019-02-18 04:26] robinrodricks commented on #5480
What's the status on this?

[2019-02-18 05:16] nanjizal commented on #5480
robinrodricks, you can check the std library for cs here and watch for changes:

https://github.com/HaxeFoundation/haxe/tree/development/std/cs
https://github.com/HaxeFoundation/haxe/tree/development/std/cs/_std
https://github.com/HaxeFoundation/haxe/tree/development/std/cs/internal

You will see mostly changes are only related to improvements in Haxe language in stabliity and features, or target

[2019-02-18 06:47] Simn commented on #7802
I think it should show the same results for hover and type definition.

[2019-02-18 06:54] Simn commented on #7793
Vshaxe sets the compiler to a mode where it (the compiler) doesn't check file modification times, but instead relies on vshaxe to inform it about changed files. This gives a huge speedup for completion because we can avoid a lot of file system checks, especially on large codebases. However, it obviously causes problems if files are modified outside of vscode.

@Gama11: We might have to make that a

[2019-02-18 09:33] nadako commented on #5480
I don't think anyone worked on .NET core support, but I also think it's mostly a matter of changing some API usages in standard lib.

[2019-02-18 10:12] Gama11 commented on #7793
Hm.. what if there was a mode where the compiler checks file modification times, but only on compilation requests?

In fact, doesn't it already do that since https://github.com/HaxeFoundation/haxe/issues/7203?

[2019-02-18 10:30] Simn commented on #7793
Right, that's likely again an issue with diagnostics...

There might also be problems with caching in macro context though. That should technically always be considered to be "compilation". Meh

[2019-02-18 10:56] Gama11 commented on #7793
I thought there was no caching for diagnostics precisely because it led to isssues?

[2019-02-18 10:57] Simn commented on #7793
There is as explained in https://github.com/HaxeFoundation/haxe/issues/7793#issuecomment-463385599

[2019-02-18 10:59] Gama11 commented on #7751
If `:Void` is the correct return type, why does this compile (and `return;` doesn't)? ;)

[code]

[2019-02-18 14:54] ncannasse opened #7807 "Some tests are not run"
bba3a51aff6958c16d95c03b9d7e07027edc353f entirely broke CRC32, my bad for not checking. I just fixed it in 982befb24a671911a76ac381123e4a9e50044421, but it seems the corresponding unit tests were not run, which worries me.

[2019-02-18 14:57] #7807 closed, assigned to nobody

[2019-02-18 20:44] ncannasse commented on #7793
Just want to emphasis that this is a must-fix for 4.0 final imho

[2019-02-18 20:46] ncannasse commented on #7751
Wait what ? Seems like a bug with abstract new, they should not be allowed to return any value, since we assign "this" instead. Dont't hijack the thread and open a new issue :D

[2019-02-18 20:56] Gama11 opened #7809 "[typer] abstract constructors shouldn't be allowed to return a value"
(extracted from #7751)

This compiles, despite the `:Void` type hint on `new`:

[code]

[2019-02-18 21:44] Gama11 opened #7810 "[eval] "index out of bounds" crash on debug hover"
Hovering over the usage of `foo` here crashes eval's debugger:

[code]

[code]

[2019-02-18 21:50] nadako commented on #7752
@Simn / @ncannasse I'm afraid it looks like there's more to that (from Travis): [`std/flash/events/KeyboardEvent.hx:10: characters 173-174 : Int should be flash.ui.KeyLocation`](https://travis-ci.org/HaxeFoundation/haxe/jobs/495134413#L1319)

In our flash externs there are signatures like:
[code]
while `KeyLocation` is:
[code]

I wonder if we should just re-generate enums like this to enum abstrac

[2019-02-18 21:56] Gama11 commented on #7752
Interesting, I hadn't noticed that because OpenFL's custom Flash externs [already use enum abstracts](https://github.com/openfl/openfl/blob/df061e16129531500754381d0a446602bc5c17c3/externs/flash/flash/ui/KeyLocation.hx#L4-L13).

[2019-02-18 22:29] Simn commented on #7752
Meh, that didn't fail on my branch. I guess because we don't run dox there...

[2019-02-19 00:13] nadako commented on #7805
ae0ab793ad40a935e70c66464952210ec4b3e8c1 somehow breaks some feature detection in [js](https://travis-ci.org/HaxeFoundation/haxe/jobs/495134414#L2598) and [python](https://travis-ci.org/HaxeFoundation/haxe/jobs/495134414#L3317).

the js issue seems to come from this: https://github.com/HaxeFoundation/haxe/blob/5333a5817f3c5625c550758eb092164af70f22c0/std/js/_std/Std.hx#L65-L68

and it already give

[2019-02-19 00:19] nadako commented on #7805
OK, the issue seems to be that `Common.has_feature` actually checks for `Meta.Used`, which is now cleared out, so the `__feature__` and friends fail.

[2019-02-19 00:21] nadako commented on #7805
I reverted @Simn's fix for now, sorry but I need travis to do some work :)

[2019-02-19 01:44] RblSb opened #7812 "Final function as fully private"
At the moment, with this code, Haxe gives errors concerning the `missed override declaration` and `Cannot override final method` (which is logical):
[code]
I'm interested in your opinion in case this code can be considered valid. `final function` will be a "fully private" function, with the ability to create a personal function with the same name in the subclasses and without access/completion to

[2019-02-19 04:53] Geokureli commented on #7812
I don't see why you would want the final keyword to make these methods more private? I foresee cases where I would want private final methods to be visible to derived classes.

It sounds like you want haxe to distinguish between private and protected, which is a decent argument to make, but really has nothing to do with final.

[2019-02-19 06:08] Simn commented on #7812
There currently is no true `private` in Haxe, which can be a problem in some cases. However, we definitely don't want to sneakily introduce it through `final`.

[2019-02-19 06:08] #7812 closed, assigned to nobody

[2019-02-19 06:15] Simn commented on #7805
Seems strange that `has_feature` would check that. Without the `@:used` meta and with DCE enabled, the type in question wouldn't be in `com.types` in the first place.

[2019-02-19 07:11] Simn commented on #7805
I guess it does make a difference for `extern` classes, argh.

[2019-02-19 07:23] Simn commented on #7805
Alright this should work: It now removes the `@:used` during DCE's entrypoint collection. This means it's going to be there between DCE and the end of compilation 1, but then gets removed at the DCE stage of compilation 2. I "think" this is what we want here.

[2019-02-19 11:56] #7723 closed, assigned to RealyUniqueName

[2019-02-19 11:56] #7745 closed, assigned to RealyUniqueName

[2019-02-19 12:47] #7805 closed, assigned to Simn

[2019-02-19 14:24] Gama11 opened #7814 "[display] display randomly uses extern arguments"
I've been having random issues with hover and goto definition not working properly. It reproduces perfectly, but seems a bit tricky to isolate, so I bisected it instead, to 308d19ceb19af91c9dbaa6ee882c571eaeccbe7f.

Example, I hover over this `html` field and it reports some `fromIndex` argument instead:

![](https://i.imgur.com/czUcZ1h.png)

Looking at the JSON, this is actually from a completely

[2019-02-19 14:26] Simn commented on #7814
Haha, oops

[2019-02-19 14:28] #7814 closed, assigned to Simn

[2019-02-19 14:35] Gama11 commented on #7814
I really wanted to blame nadako at first, since I remembered that he messed with positions (9a8ab5979bf007f635e861cde8df63965bc18d94), but reverting that locally didn't help.. :P

[2019-02-19 18:46] mockey opened #7815 "[PHP] Web.getClientHeader"
This function uses `getallheaders` (if available). I have one server where the header names are returned in lowercase and another one where their case is kept.
So I get `x-requested-with` on one server and `X-Requested-With` on the other. Maybe because of different php versions (7.2 vs. 7.0)? I read that header names are case insensitive. Maybe convert them all to lowercase?

[2019-02-19 19:52] RealyUniqueName commented on #7815
The old php generator did it in the upper case. So maybe the new one should do the same?
Also `Web.getClientHeader(name)` should be case insensitive too.

[2019-02-19 21:06] Gama11 opened #7816 "[nullsafety] errors or warnings for null checks on non-nullable types"
Existing Haxe code usually doesn't use `Null<T>` (and even if it does, not consistently), which means that many externs and types for loading external data become incorrect when null safety is enabled. The compiler can't see if `null` is ever assigned in those cases.

Consider code like this:

[code]

The intention is clearly that `foo` is nullable, since there's a null check and default value han

[2019-02-19 21:38] Gama11 opened #7817 "[nullsafety] field access false positive with multiple guards"
Shouldn't this compile with loose null safety? Neither `a1` nor `a2` can be `null` here due to the previous checks:

[code]

[code]

[2019-02-19 22:13] Gama11 opened #7818 "final unification failure despite read-only usage"
This seems somewhat annoying - all usages of `struct.foo` in `foo()` are read-only. Shouldn't `struct.foo` be inferred as `final`?

[code]

At the very least, the error message should be improved to include `final`, as this is quite confusing (similar to #7780). And how does `Dynamic` get involved?

[code]

[2019-02-19 22:14] nadako commented on #7817
That's a nice test case :)

[2019-02-19 22:33] nadako commented on #7818
There's a difference between read-only and final, as final is more restrictive: it guarantees that the value won't ever change, so all subsequent reads will yield the same result. So there's no reason for this to be inferred as `final`.

But at the same time, this looks like it should compile, because the following seems to compile:
[code]

[2019-02-19 22:43] nadako commented on #7818
I guess `struct.foo` is inferred as `default,null`, not `default,never`, hence the failure, but I don't quite understand if there's any difference between `null` and `never` for anonymous structures. Maybe it's safe to set the write access to `never` in this case?

[2019-02-19 22:51] Gama11 opened #7819 "[nullsafety] allow indirect field initialization"
As @Simn said this probably won't be solved soon, but I feel like this is going to come up a lot (at least it's a very common pattern in vshaxe). In this example, some of the initialization logic is moved outside of the constructor (usually done because that function is also needed in other places), but still called by it.

I guess it's debatable whether it should be allowed if `init()` is overrid

[2019-02-19 23:12] nadako commented on #7819
This is a tough one, since it requires some serious interprocedural analysis that we might or might not have at some point :) For now I would say `@:nullSafety(Off)` on a field is a fair way to dodge this. TypeScript went a [similar way](https://www.typescriptlang.org/play/#src=class%20Main%20%7B%0D%0A%09foo!%3Astring%3B%0D%0A%0D%0A%09constructor()%20%7B%0D%0A%20%20%20%20%20%20%20%20this.init()%3B

[2019-02-20 08:02] RealyUniqueName commented on #7819
Working `inline` is not an incident. Because inlining happens before null safety pass.
So, to make it work you just need to change your constructor like this:
[code]

[2019-02-20 09:55] Simn commented on #7818
I don't think we should infer `final`, but yeah the error message is stupid.

[2019-02-20 10:10] mockey commented on #7815
Also Web.getClientHeader(name) should be case insensitive too.

Yes, this would be best, I think. Using upper or lower case internally wouldn't matter then, if the conversion is done in the function call.
BTW: `getClientHeaders()` returns a List, which is out of fashion nowadays. Maybe switch this to Array or Map (a Map is already created)?

[2019-02-20 10:15] Gama11 commented on #7818
I thought that would make sense because of similar issues (#7391 and #7394).

[2019-02-20 12:26] Gama11 opened #7820 "[nullsafety] false positive with short-circuiting + multiple conditions"
Somehow it's allowed to access `foo` in the second condition, but not anymore in the third:

[code]

![](https://i.imgur.com/to26gYp.png)

Just `var bool = struct == null || struct.foo != "";` compiles fine.

[2019-02-20 12:30] Gama11 commented on #7820
Heh, with `&&` it breaks slightly differently, now suddenly the second condition is the problem:

[code]

![](https://i.imgur.com/SfxXxQv.png)

And it again compiles with only two conditions (`var bool = struct != null && struct.foo != "";`).

[2019-02-20 13:36] Gama11 opened #7821 "[nullsafety] missing position / confusing error with inlined function"
[code]

[code]

Firstly, the error message doesn't have any position, which can make it quite hard to find out where this even comes from, as I have no `spawnSync` calls in my code:

[code]

Secondly, hxnodejs' `command()` implementation seems safe enough, as it does have a null check. Perhaps some overload-related issue?

[code]

And there's also the problem of null safety getting enabled on code

[2019-02-20 17:04] ncannasse commented on #7819
Does this pass with loose null-safety ? I think it should :)

[2019-02-20 17:17] RealyUniqueName commented on #7819
Why? Even typescript does not allow that )

[2019-02-20 18:59] nanjizal opened #7822 "p: UInt = -1;"
given ts have just posted a Positive typing.
https://twitter.com/GiulioCanti/status/1098173442019463168
really Haxe should error this, I understand it may not be able to pick up all UInt failures - but this one I would have expected?
http://try-haxe.mrcdk.com/#4A3D0

[2019-02-20 19:00] nanjizal commented on #7822
I can look into the abstract used but I presume we need this not to impact runtime.

[2019-02-20 19:35] Simn commented on #7822
This has defined semantics and shouldn't be an error.

And wtf is a brand combinator...

[2019-02-20 19:36] Simn commented on #7822
Actually it doesn't really have defined semantics because UInt has no defined size.

[2019-02-20 20:22] nadako commented on #6546
implemented with `-D js-es=6` since 406d3fb2bfb4016b384082768182a3d470633ed8

[2019-02-20 20:23] #6546 closed

[2019-02-20 20:24] haxiomic commented on #6546
Amazing stuff @nadako, thank you for working on this :)

[2019-02-20 21:13] Simn opened #7824 "call site inline vs. override"
So we don't forget: We have to detect and error in this case.

[2019-02-20 21:16] ncannasse commented on #7819
Because I don't like when the compiler is dumb. In this specific case it's very clear that the variable will be correctly set.

But then of course you can get overrides, and inline init() won't help there. So either you check it completely, by building a complete dependency graph and solving it in a proper way, or you trust the developer for doing what is right wrt constructors initialization (whe

[2019-02-20 21:25] nadako commented on #7819
I think that in practice there are more cases when fields are initialized directly in the constructor and not delegated to the init methods (I'm not saying that it's a rare case though), especially when dependency injection in involved. E.g. in vshaxe we [do](https://github.com/vshaxe/vshaxe/blob/ad3c0b8dea68ccdd21836dc0cde910dc8fb860cd/src/vshaxe/EvalDebugger.hx#L20-L22) [that](https://github.com

[2019-02-20 22:14] kevinresol commented on #4717
Shall we introduce a `help-wanted` label and at least keep these kind of issues opened?

[2019-02-20 22:16] Simn commented on #4717
I really prefer to not have these long-term feature request issues on my radar...

[2019-02-20 22:16] Gama11 commented on #4717
The label already exists, added it in case that helps: https://github.com/HaxeFoundation/haxe/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

Whether this should be reopened, not my call.

[2019-02-20 22:23] kevinresol commented on #4717
That's exactly the function of milestones and labels

[2019-02-20 22:26] Simn commented on #4717
Yeah but I'd still find it annoying to have this underbelly of forever-open issues. Plus I don't see the benefit because nobody randomly checks for open issues with help-wanted labels. Even during events like Hacktoberfest we don't get anything.

[2019-02-20 22:29] Gama11 commented on #4717
There's a lot of different approaches to issue management. For instance for the GitHub desktop client I've seen that they seem to simply close all feature requests that aren't on the immediate roadmap, but label them and come back to them later if they're good.

Seems like that could work with `help-wanted` issues too, without having them in the list of open issues.

[2019-02-20 22:42] kevinresol commented on #4717
That conclusion is derived from a sample size of 5 (or 4, before this very issue is tagged), seriously?

Yeah, I don't mind anything as long as the information is retained.

[2019-02-20 22:49] RblSb commented on #7070
Doc fixed! https://haxe.org/manual/types-numeric-operators.html

[2019-02-20 23:01] Simn commented on #7070
Right, thanks for the reminder!

[2019-02-20 23:01] #7070 closed

[2019-02-20 23:05] nadako opened #7826 "Crc32 unit test failure on eval on AppVeyor Windows"
This currently fails on AppVeyor:

[code]

[2019-02-20 23:51] EricBishton commented on #4717
Just because you hide it, that doesn't make it go away.  You've got the same open (but marked closed) issues.  They just become (alot) harder to find.

Nobody ever checks for _closed_ issues that they can help with, either.

Closing issues just so you don't have to look at them is the same as saying "Yeah, we don't care.  We don't want this fixed."  It would be quite a bit better to mark them as "

[2019-02-21 06:19] Simn commented on #4717
We'll just have to agree to disagree on this one. You are free to post requests like this on the forum or somewhere without them being an open issue in the haxe repository.

And feeling good is very important in an open source world with many volunteers. It is much better when the amount of problems seems surmountable, and I'm perfectly happy to trick myself and others into thinking that they are.

[2019-02-21 06:20] #7767 closed, assigned to nobody

[2019-02-21 06:20] #7779 closed, assigned to nobody

[2019-02-21 06:20] #7810 closed, assigned to Simn

[2019-02-21 06:42] Simn commented on #7818
These issues are much more local because it's about an object declaration. We directly declare an object against a type there, in which case top-down inference can deal with final.

The case here is different because the type is inferred across the entire function and would be influenced by all usages of `struct`. I find this a bit too "tricky", and I also find it fair to type-hint your arguments

[2019-02-21 08:12] back2dos commented on #7818
Here's the thing though:

[code]

So as we see, the compiler has no problem inferring a field to be readonly, in which case it uses `(default, null)`. Any reason not infer `(default, never)` instead?

[2019-02-21 08:15] Simn commented on #7818
We just discussed this and I wasn't really aware that the compiler already goes for `(default, null)` inference. In that case I agree that we can infer `(default, never)` instead.

What bothers me is that the inference entirely depends on the first field access. But that's a different problem I suppose.

[2019-02-21 08:24] Simn commented on #7780
???

[2019-02-21 08:33] markknol commented on #7780
That is an arrow function. Sorry that was too minimalistic, I thought it was something like this:

[code]

But now I retest, I cannot reproduce the error

[2019-02-21 08:38] haxiomic commented on #4717
I agree with Simn on feel good being an important (and maybe under appreciated) factor in open source.

If we have these issues closed I think we should mention it somewhere in the readme, as I read this issue as “help-wanted but already completed”.

Maybe adding something with the gist:

### Contributing to haxe
New volenteers looking to contribute should start with the [`help-wanted`](https://gi

[2019-02-21 08:44] back2dos commented on #7780
Here you go:

[code]

I guess the simplest thing would be to just skip have/want if the strings are actually equal.

[2019-02-21 11:13] markknol opened #7827 "Bug interface with finals and extended types"
This should work, but doesn't.
[code]
Demo: http://try-haxe.mrcdk.com/#e10ea

**Note:**
Changing `final x:Base;` to `var x(default,never):Base;` in interface I makes it work http://try-haxe.mrcdk.com/#a5d95

Found in Haxe 4.0.0-rc-1

[2019-02-21 11:14] markknol commented on #7780
Ah that was exactly my use case, thanks!

[2019-02-21 12:12] Simn commented on #7766
Yes and we shouldn't make `@:forward` influence this either.

[2019-02-21 12:12] #7766 closed, assigned to nobody

[2019-02-21 12:42] RealyUniqueName commented on #7815
fixed in 64fc139bb7141493b18857b7d3da63f0593ce25f

[2019-02-21 12:42] #7815 closed, assigned to RealyUniqueName

[2019-02-21 13:07] back2dos opened #7829 "RTTI merging for abstracts incorrectly rejects varying implicit casts"
The [way abstracts are merged](https://github.com/HaxeFoundation/haxe/blob/64fc139bb7141493b18857b7d3da63f0593ce25f/std/haxe/rtti/XmlParser.hx#L185), having different implicit casts leads to an error. Instead, casts should cary platform information, much like ordinary fields.

[2019-02-21 14:29] Simn opened #7832 "$hxEnums is still not defined"
[code]

[code]

[2019-02-21 15:00] Simn opened #7834 "[js] __interfLoop is stupid"
It accesses `__interfaces__` on class prototypes, but the problem with that is that it takes "inherited" values if a class doesn't implement any interfaces:

[code]

Adding a trace to `__interfLoop`:

[code]

This would only get worse in deeper hierarchies.

Not sure how to fix this except by setting `__interfaces__ = []` on classes that don't have any interfaces.

[2019-02-21 16:10] nadako opened #7836 "[js] (es6) no error when using this before super in a specific inheritance scenario"
[code]

this should complain, but instead it generates some rubbish:

[code]

[2019-02-21 16:26] nadako commented on #7836
Uh-oh, this seems to be a more general issue, kind of reproducing with ES5 as well:

[code]

`extern.js`:
[code]

haxe will generate (es5):
[code]

note the absense of `B.call(this)` in the `C` constructor function.

[2019-02-21 16:27] nadako commented on #7836
it's not even js-specific, lua has the same issue

[2019-02-21 16:57] nadako opened #7837 "invalid constructor inheritance when extending externs that extend externs"
(from #7836)

[code]

This will currently generate invalid code on some targets (at least js and lua), because `new C()` won't call the super constructor. As @Simn said, constructors on extern classes are not inherited, so it's a problem with extern definition. However in this case, `new C()` should be a compile-time error, since we don't define a constructor on either `B` or `C`.

[2019-02-21 17:16] nadako commented on #7836
blocked by #7837 - gotta figure out the desired behaviour and ctor inheritance rules and then adapt generators

[2019-02-21 17:36] back2dos opened #7838 "final vs never vs null"
Following up on #7818:

[code]

This is weird. One could argue that unifying `never` with `null` creates a type hole: once access is `null`, you can use `@:privateAccess` to read/write the value. You can even start with `final`, promote to `never`, promote to `null` and mutate via `@:privateAccess`. One "solution" would be to disallow `never` to unify with `null` but it'd break a lot of existing c

[2019-02-21 18:23] nanjizal commented on #7822
UInt trace does not work on haxe 3.4.3 ( or number that the link links to ) but that is not really a relevant but just interesting historical detail.

I understand that improving UInt is not simple without overhead. It's not a feature that bothers me, on as3 I found Vector of UInt carried overhead that I could not justify.  I rarely consider using UInt, it's more common to create abstracts for lim

[2019-02-21 18:23] #7822 closed, assigned to nobody

[2019-02-21 19:31] Gama11 opened #7839 "[eval] debugger crash on pattern matching"
[code]

Setting a breakpoint on the line with `switch` and pressing "Step Over" once crashes eval-debugger.

[2019-02-21 19:40] Simn commented on #7839
This should at least partially be fixed in eval-debugger by actually checking the `error` state.

[2019-02-21 19:44] Gama11 opened #7840 "[eval] macro call location in callstack"
Eval-debugger's call stack doesn't give a lot of indication as to where a macro call came from. It seems like at least theoretically, it should be possible to have this info for all different kinds of macros:

- **Expression Macros**: Right now the call site doesn't seem to be part of the call stack. This is probably the most straighforward one to fix.

    ![](https://i.imgur.com/23WIc0H.png)

-

[2019-02-22 09:16] back2dos commented on #6794
[code]

[2019-02-22 10:10] kLabz commented on #7157
Any idea what could be done or where to look at?

[2019-02-22 10:27] kLabz commented on #7157
FYI, to reproduce this without -net-lib, this code is enough (will need to be compiled with a compatible target, cs for example):

[code]

[2019-02-22 10:33] kLabz commented on #7157
Actually that can somehow be applied to other targets as well: https://try.haxe.org/#cf117
Not sure if this one is worth it, though.

[2019-02-22 10:38] RealyUniqueName opened #7842 "Unroll arrays from arguments of inlined functions"
Can we have loop unrolling in inlined functions?
[code]
generated output:
[code]
http://try-haxe.mrcdk.com/#9170b

[2019-02-22 10:39] nadako opened #7843 "[js] do not generate __interfaces__ (and maybe interface definitions) if Std.is is not used"
I want to look into skipping generation of interfaces and `__interfaces__` field when run-time type checking that requires it is not present in the output.

[2019-02-22 11:13] nadako opened #7844 "@:native should be inherited in the overriden methods"
[code]

`B.final_` should also be generated as `final`

[2019-02-22 11:23] ncannasse opened #7845 "Various issues with macro module generation"
I can't get goto definition to work on IDL generated methods:

- checkout webidl https://github.com/ncannasse/webidl ,
- open webidl/sample with vscode
- compile active configuration should work
- open Sample.hx
- F12 on p.length() - this should reach the definition within idl file

[2019-02-22 11:31] ncannasse commented on #7845
Bonus issue : if you a type in IDL file by NotExisting (or something else that is supposed to fail), the invalid type is now reported within the macro call (in TPath constructor call ??? I have no idea how that's even possible) instead of within IDL as _I think_ it was doing before.

[2019-02-22 11:35] ncannasse commented on #7845
Additional issue: the macro code adds a registerModuleDependency which is supposed to force the SampleModule to rebuild when IDL changes. But changing it (even within VSCode) does not trigger rebuild (requires restarting cache server)

[2019-02-22 11:46] markknol commented on #7845
I have simple reproducable example here [goto-settings.zip](https://github.com/HaxeFoundation/haxe/files/2893761/goto-settings.zip). A macro generates 3 fields, and creates custom position to a settings text file.

In Haxe 3.4.7 it works like this, in haxe 4.0 it doesn't goto-definition.
![goto-non-haxe-file](https://user-images.githubusercontent.com/576184/53240766-e15a4400-369f-11e9-818d-190373b

[2019-02-22 12:45] #7844 closed, assigned to nobody

[2019-02-22 13:18] nadako opened #7847 "typo suggestion when overriding fields"
[code]

This will rightfully error: `Field _final is declared 'override' but doesn't override any field`.

Can we add `(Suggestion: final_) to it? :)

[2019-02-22 13:20] ncannasse commented on #7843
`catch( e : Interface )` might be involved too

[2019-02-22 13:30] nadako commented on #7843
yes, but that is actually transformed into `Std.is` so it should automatically work. i'll make sure to test cases like this

[2019-02-22 15:09] kLabz commented on #7157
While it is more problematic with cs, this is not a cs-only issue and is linked to static extension.

I updated the description accordingly. Could the labels be updated?

[2019-02-22 17:13] nadako opened #7849 "[lua] @:expose for classes in packages is broken"
[code]

generates:

[code]

I'm pretty sure this is a regression!

[2019-02-22 17:29] #7849 closed, assigned to jdonaldson

[2019-02-22 21:42] bary12 commented on #7801
I can try to fix this and submit a pull request. Just want to make sure this is actually a problem and that the desired behavior is that `s` will be StackItem.method.

[2019-02-23 11:57] nadako opened #7850 "[eval] sys.FileSystem.absolutePath doesn't work on inexistant paths Linux"
Subj. It's supposed to work even if the file doesn't exist, but looks like it ends up using `realpath` on unixes that won't work for nonexisting files.

As a workaround one can use the old implementation:
[code]

[2019-02-23 16:00] nadako opened #7851 "[server] Context.includeFile doesn't include file on the second compilation"
Main.hx
[code]

a.js
[code]

do
[code]
(`a.js` contents is included into the generated file)

do this again:
[code]
(`a.js` contents is NOT included into the generated file until `Main.hx` is invalidated)

[2019-02-23 16:00] nadako commented on #7851
This completely breaks e.g. Lua target as it uses file inclusion for some basic types like `Array`.

[2019-02-23 16:06] nadako commented on #7851
Which is super unfortunate because vshaxe enables compilation server by default :-/

[2019-02-23 16:16] nadako commented on #7851
Looks like `include_files` was never cache-friendly, so this might require quite some refactoring...

[2019-02-23 16:57] Gama11 commented on #7850
You said this is a regression? Should probably be marked as such then so it gets fixed before 4.0.0.

[2019-02-23 17:05] Simn commented on #7850
I'm not entirely convinced that this is even defined behavior. Getting the absolute path of a non-existent file doesn't make much sense, and defaulting to cwd + file name seems somewhat random.

What do other targets do in this case?

[2019-02-23 17:10] Simn commented on #7850
Yes but "main.js" is not a relative path.

Anyway, there's definitely something we have to fix here because eval does something entirely different in its implementation.

[2019-02-23 17:11] nadako commented on #7850
Yeah, as I found out thanks to Travis, Haxe 3.4.7 works fine here:)

[2019-02-23 17:12] Gama11 commented on #7850
Huh, how is "main.js" _not_ a relative path? It's certainly not absolute.

[2019-02-23 17:12] nadako commented on #7850
Why?

[2019-02-23 17:14] Simn commented on #7850
I was under the impression that you had to use "./main.js" on unix systems, but apparently I'm wrong.

[2019-02-23 17:15] Gama11 commented on #7850
You might be thinking of how you have to prefix `./` to run scripts / executables from the cwd rather than from PATH.

[2019-02-23 17:33] Gama11 opened #7852 "[nullsafety] Loose null safety vs. while loops"
This only compiles with loose safety atm if `while` is replaced with `if`:

[code]

[2019-02-23 17:39] Gama11 opened #7853 "[nullsafety] null check doesn't work in local function"
For some reason, the following only compiles with loose null safety if the code isn't wrapped in a local `bar()` function:

[code]

[2019-02-23 17:54] Gama11 opened #7854 "[nullsafety] constant object literals with nullable fields"
Null safety is smart enough to detect that `a` can never be null here despite being declared as `Null<T>`, so this compiles:

[code]

Consequently, this should also compile:

[code]

[2019-02-23 17:56] Gama11 opened #7855 "[nullsafety] null safety doesn't use the new have/want error reporting"
Null safety error messages can sometimes be quite unreadable since they don't use the new have/want error reporting yet:

![](https://i.imgur.com/dkMIKvE.png)

[2019-02-23 19:47] RealyUniqueName commented on #7853
Because in strict mode `callback` is not guaranteed to stay unmodified between the check and the usage.
E.g. in a multithreaded environment. And we don't have a code analysis yet to detect if `bar` is passed somewhere outside of `foo`.

[2019-02-23 19:54] Gama11 commented on #7853
But this is in loose mode. I don't think it should matter what happens with `bar` there.

[2019-02-23 20:02] Simn commented on #7853
Agreed, in loose mode this should be same as the `obj.field` case.

[2019-02-23 21:58] nadako commented on #7843
I made it so `__interfaces__` is only generated when `js.Boot.__instanceof` is present. This covers both `Std.is` and typed `catch`.

Also I made actual interface declarations only generate when needed, in the following cases:
 - interface type is directly accessed (thanks DCE and the `@:directlyUsed` mark)
 - `Type.resolveClass` is used because we can resolve it (not sure why would we tho)
 - `js

[2019-02-23 22:17] RealyUniqueName commented on #7843
What about typed cast to an interface?

[2019-02-24 07:39] #7839 closed, assigned to Simn

[2019-02-24 07:53] Simn commented on #7850
<strike>IMO this function should be moved to haxe.io.Path given that it has nothing to do with the file system.</strike>

Well, I guess it uses `Sys.getCwd` so it does in fact have something to do with the file system.

[2019-02-24 08:36] Simn commented on #7850
lua fails the tests:

[code]

[2019-02-24 09:56] #7850 closed, assigned to jdonaldson, Simn

[2019-02-24 09:59] Simn commented on #7843
Could you also deal with #7834 while you're at it?

[2019-02-24 10:06] nadako commented on #7843
That will keep `__cast` (due to `typed_cast` feature) and thus `__instanceof`  and thus everything else :)

[2019-02-24 10:07] Simn commented on #7826
I'm using the zlib implementation here:

[code]

No idea how that can fail.

[2019-02-24 10:09] nadako commented on #7843
Welp, I can certainly look into it :)

[2019-02-24 10:17] Simn commented on #7826
[code]

[code]

@ncannasse: `Val_int` looks like the wrong thing to use here, but I'm not sure what else to use. Any advice?

[2019-02-24 10:18] #7834 closed, assigned to nobody

[2019-02-24 10:19] Simn commented on #7834
Thanks!

[2019-02-24 10:27] nadako commented on #7832
All these features checks in genjs are so messy. I think we should have some `js.Internal` class with magic compiler-provided functions (similar to `js.Syntax`) and use it from all the things in `Type`/`Std`/`Boot` that need internal stuff like `$hxEnums`. Then we could rely on simple single feature checks.

[2019-02-24 10:27] nadako commented on #7832
But for now I'll put some band-aid of course.

[2019-02-24 10:45] nadako commented on #7832
Fixed by 5f18a08f57b805dd2bf8c1f5b263f80614ed157e

[2019-02-24 13:27] Gama11 commented on #7840
Something still needs to be done about entry points coming from `Compiler.add(Global)Metadata("@:build")` / `"@:autoBuild"`. Either the proper location of the `Compiler` call should be used (if it happened in an init macro), or the adapter should disable / grey out the call stack item so you can't click on it and get an error as is currently the case:

![](https://i.imgur.com/gNRnLl4.png)

[2019-02-24 13:35] Gama11 opened #7858 "[eval] EReg presentation in eval-debugger"
It would be nice if the debugger could show a string formatted in regex literal style (`~/regex/`), rather than just the class name:

![](https://i.imgur.com/90lwB40.png)

[code]

[2019-02-24 14:51] Gama11 opened #7859 "@:using should work on typedefs"
Regular static extensions with on typedefs with `using`:

[code]

Consequently, it feels quite inconsistent that this doesn't work with the new `@:using` metadata:

[code]

[2019-02-24 15:00] Gama11 opened #7860 "[eval] Expr presentation in eval-debugger"
Considering that the primary use case for eval-debugger is macro debugging, it would be nice if `ExprTools.toString()` could be used for the string representation of `Expr` objects. Something like this doesn't tell you a lot at a glance:

![](https://i.imgur.com/QZcRxkq.png)

If this instead showed you what the actual Haxe code the expressions represent looked like (while still allowing to expand

[2019-02-24 15:26] Gama11 opened #7861 "[eval] uninitialized var shown with value of loop counter"
This is an interesting one...

[code]

![](https://i.imgur.com/yULM6dw.png)

Without the loop, the value is `null` as long as it's not been initialized as expected.

The dump is also interesting:

[code]

It looks like `-D analyzer-optimize` fails to optimize that away.

[2019-02-24 15:32] Gama11 opened #7862 "[eval] no variables at "leaving-function" position"
Follow-up for #7767. The fake position on `}` doesn't show any of the variables in the current scope:

[code]

![](https://i.imgur.com/r89HanU.png)

![](https://i.imgur.com/ZNFJhIp.png)

This works fine in the HL, Flash and Node debuggers.

[2019-02-24 16:02] Simn commented on #7862
Meh, the scope is already closed at that point, so it's not exactly incorrect to say that there are no variables because there are no scopes. This would be quite confusing on `return` statements because your cursor would be at the end of the function, but the scope you see could be somewhere in the middle of it.

Or is it only supposed to halt at the `}` if control flow falls through?

[2019-02-24 16:12] Gama11 commented on #7862
Yes.

[2019-02-24 16:22] Simn commented on #7862
I don't understand how this is useful or makes any sense from a run-time point of view, but if all other debuggers do it I guess I'll try to comply.

[2019-02-24 17:03] Simn commented on #7861
The problem is that eval shares local slots to minimize memory usage. You can also reproduce the problem with this:

[code]

This will show `foo = 1` because `foo` and `x` share the same local slot.

This is going to require a different approach which actually considers the liveness of variables properly. At the very least we'll have to detect that the variable is defined after (or on) our current

[2019-02-24 17:19] Simn commented on #7858
I can't find a PCRE function for this so I would have to store the string explicitly...

[2019-02-24 17:27] Gama11 commented on #7858
Is that an issue?

I guess it could be done only when debugging? But it might be neat if it worked for a `EReg.toString()` too.

[2019-02-24 17:31] Gama11 commented on #7861
I think it depends, for both Node and Flash it seems to be `undefined`. But yeah, that seems perfectly fine. Seems to behave like that in HL too.

[2019-02-24 21:15] nadako commented on #7845
I think the problem here is that we use `*_name_pos` for goto definition and other requests, but it is never supplied by the macro, just because it's not even in `haxe.macro.Expr` structure definitions. The `MacroApi` seems to try getting inexistant `name_pos` from the macro value and ends up using `null_pos`.

We should do some of these:
 - support `namePos` in the macro API. personally i think i

[2019-02-24 21:22] Simn commented on #7845
I think I dislike

the least.

[2019-02-25 11:32] Simn commented on #7840
This sounds like something the adapter has to handle. Or what position does it report here?

[2019-02-25 11:43] #7858 closed, assigned to Simn

[2019-02-25 11:55] Gama11 commented on #7840
Well, depends on whether or not it's possible to obtain the location of `Compiler.addMetadata()` calls I guess?

According to the "copy call stack" context menu item, it just sends `.` as the file name right now. I'm guessing `Source.path` should be set to `null` for invalid positions instead.

[code]

[2019-02-25 12:25] Simn commented on #7840
Interesting, I have no idea where such a position comes from...

[2019-02-25 12:31] Gama11 opened #7864 "[display] metadata completion with multiple types in a module"
[code]

Works for the first meta:

[code]

Fails for the second:

[code]

Seems not to be a regression (huh, have I really never noticed this before?).

[2019-02-25 12:38] Gama11 commented on #7864
Oh, right, display test cases..

[code]

[2019-02-25 14:26] Simn commented on #7840
Please test with https://github.com/Simn/haxe/tree/eval_stack_improvements and latest eval-debugger and tell me if that behaves as expected now.

I've changed it so that all entry-point stack items are now considered "artificial" (which causes a `label` display in vscode), but still use the source if available. Normal stack items should be unaffected by this. It also now prints the expression of `

[2019-02-25 14:47] #7852 closed, assigned to RealyUniqueName

[2019-02-25 14:55] Gama11 commented on #7840
Awesome, it finds the correct location now. :) But is it normal that it shows the full path here instead of a dot path?

![](https://i.imgur.com/WuplPHd.png)

It should at least be a properly-cased path instead of all-lowercase?

[2019-02-25 14:57] Gama11 commented on #7840
For init macros it seems perfect. :)

![](https://i.imgur.com/jjD3HIS.png)

[2019-02-25 15:01] Gama11 commented on #7840
Interesting, for this expression macro the file name casing is correct:

![](https://i.imgur.com/bUMn4uI.png)

Still, seems like a `flixel.input.keyboard.FlxKey` style dot-path would be nicer.

[2019-02-25 15:25] Simn commented on #7840
I use positions for this so I can't transmit a dot path.

Don't know why the casing is wrong, I use `get_real_path` in all these cases. Does the file actually exist?

[2019-02-25 15:27] Gama11 commented on #7840
Sure, it even takes me to it when I click the call stack item.

[2019-02-25 15:31] Simn commented on #7840
Oh I see why

[2019-02-25 15:39] Simn commented on #7840
That should be better.

I could potentially show dot paths for expression macros, but I'm not sure if it's worth it. Also, it doesn't look like vscode would show this correctly anyway because we already provide the correct source with line and column: `{"id":1,"name":"C:\\GitHub\\HaxeRepro\\source\\Main.hx","source":"C:\\GitHub\\HaxeRepro\\source\\Main.hx","line":4,"column":3,"endLine":4,"endColum

[2019-02-25 15:52] Gama11 commented on #7840
Yep, that fixed that case.

Not sure I follow.. is the dot path determined automatically by VSCode? I thought that would be something the adapter has to provide.

[2019-02-25 15:54] Simn commented on #7840
Yes my point is that it wouldn't look like the other dot paths anyway. And arguably that's a good thing because it's not a real stack item. Plus it would introduce inconsistencies with expression macros showing dot-paths and all other entry-points showing files.

[2019-02-25 15:59] Gama11 commented on #7840
I think my main issue is that it's such a long path that you have to expand the sidebar to see what file that even is.. Normally the file name is shown on the right there like `Injector.hx`:

![](https://i.imgur.com/WKlL20v.png)

I'm guessing we couldn't show a relative path either because if we knew how to do that we could show a dot path? Maybe something like `Macro.hx (full path)` would make th

[2019-02-25 16:55] Jarrio commented on #7832
I still receive this error message, I have isolated the code down to a forwarded abstract that I'm using on the latest development build (Haxe Compiler 4.0.0-rc.1+030601e)

[code]

The key seems to be something to do with the `delete` function, if I keep `insert` and comment out `delete` the error goes away. `find()` does not seem to be causing any issues either.

I'm running the latest dev branch

[2019-02-25 17:01] nadako commented on #7832
Thanks, I will investigate this!

[2019-02-25 19:40] nadako commented on #7832
@Jarrio is this a full example? Compiling this code (by adding an empty `main` and changing `side` to `type`) gives me only one `$hxEnums` usage in the generated code, guarded by `if (o.__enum__)` which will always be false, because there are no enums in the output, and if there were, `$hxEnums` would be generated. Can you please provide a more reproducible example? :)

[2019-02-25 20:00] Gama11 commented on #7436
Honestly, I think it would be quite unfortunate if final 4.0 spits out a compiler warning on every compilation for a specific target, that makes it look like it's no longer maintained or something.

A hack to work around it might not be the worst alternative here, considering there's nothing like a `@:noDeprecation` meta as of yet as far as I can tell. https://github.com/HaxeFoundation/haxe/pull/7

[2019-02-25 20:54] ibilon opened #7866 "null safety and map.exists"
Null safety isn't aware of map.exists which leads to warnings:

Main.hx
[code]

build.hxml
[code]

Result
[code]
Displayed 10 times (is the loop unrolled?)

Also we might want to make trace take a Null<Dynamic> since `trace(null);` works fine.

[2019-02-25 21:52] nadako opened #7867 "[js] invalid identifiers in es6 method declarations"
[code]

should generate
[code]

[2019-02-25 21:58] #7867 closed, assigned to nadako

[2019-02-25 21:58] #7645 closed, assigned to nadako

[2019-02-25 22:48] jcward opened #7868 "Macro haxe.Json.parse(string_with_unicode) throws - dump/decoding_error.txt"
Seems like there's a unicode / utf-8 problem decoding JSON from a macro. Using Haxe 4-RC1 on linux:

Test.hx:
[code]

[code]

This is a smaller testcase from my full JSON file, in which `haxe.Json.parse` throws: `Uncaught exception Invalid char null at position 279329` -- but there is an ASCII character at that (byte) position in the file. Maybe it's not counting correctly due to unicode character

[2019-02-25 23:39] haxiomic opened #7869 "[js][es6] Unexpected "Must call `super()` constructor before accessing `this`""
Hey @nadako, just want to say absolutely _loving_ the new es6 class output! It's been working well for me so far but I've run into an issue with a class like this:

[code]

The error is
[code]

It seems to happen when a member is accessed within a closure

For example, it also happens with
[code]
(Haxe build 4eefb9795903f30bfb77dc27a5ed6c4bced548ff)

[2019-02-26 00:01] Jarrio commented on #7832
I will have to check this when I get back home, I was trying to narrow it down and did find it odd that the part of the code that was causing this error had no enum's in it. I did have a switch wrapping around it for execution
[code]
But commenting out the enums didn't make a difference, it was only until I commented out the delete function did the error go away so I figured that was the cause

[2019-02-26 05:09] RealyUniqueName commented on #7866
It's safe only in a single-threaded environment until there are no calls in between.
[code]
So allowing it makes sense only in Loose null-safety mode.
Also, there might be more types like this (at least all Haxe collections in std) and even in user-land code.
So instead of adjusting the compiler to a never-ending source of edge cases, I'd like to have a simple way for users to avoid null check.
E.

[2019-02-26 05:12] RealyUniqueName commented on #7866
It's safe only in a single-threaded environment until there are no calls in between.
[code]
So allowing it makes sense only in Loose null-safety mode.
Also, there might be more types like this (at least all Haxe collections in std) and even in user-land code.
So instead of adjusting the compiler to a never-ending source of edge cases, I'd like to have a simple way for users to avoid null safety er

[2019-02-26 06:00] nadako commented on #7868
What does this return with a non-unicode JSON? Because you have a mistake here - you have to return an expression (`{expr: ..., pos: ...}` as the compiler complains) from a macro function, not a value. Try `return macro $v{haxe.Json.parse(t)}` - that will try to convert a macro-time value into an expression.

[2019-02-26 06:03] nadako commented on #7869
Err, `var _gthis = this` gets in the way here. @Simn why is that generated at the very top of the function instead of before the first place where it's needed?

[2019-02-26 06:12] nadako commented on #7589
As a temporary workaround I think it should be possible to replace the offending type from std with a fixed version in your class path!

[2019-02-26 06:27] nadako commented on #7589
Should be fine now, leaving this open so we don't forget to add test for `-D lua-vanilla` (should run on travis similar to how we test different flags for js, but with unicode tests excluded i guess).

[2019-02-26 06:53] back2dos commented on #7866
For strict safety, do this:

[code]

Also, if performance matters, this should be faster, because it only does `get` instead of `exists` + `get`.

[2019-02-26 06:57] Simn commented on #7869
Because that's how it's implemented at the moment.

[2019-02-26 07:30] #7868 closed, assigned to nobody

[2019-02-26 07:32] Simn commented on #7868
Yep this is a pebcak situation. :P

Still, I've changed the error message to mention the expected type so it's hopefully a bit clearer now:

[code]

[2019-02-26 07:56] Simn commented on #7840
Eval's frames use the unique path, which is generally necessary to deal with breakpoints correctly. I can either keep both the original and unique path, or try to find the relative path from the unique path. I think the latter sounds worse though.

[2019-02-26 08:20] Simn commented on #7840
I think I finally got this right now.

## Macro call from --macro

![code_2019-02-26_09-15-14](https://user-images.githubusercontent.com/634365/53397305-19ff6380-39a7-11e9-8117-95d49241ed05.png)

## `@:build` via addGlobalMetadata via --macro

![code_2019-02-26_09-16-14](https://user-images.githubusercontent.com/634365/53397351-356a6e80-39a7-11e9-945b-2bf356d0b407.png)

## normal `@:build` in synt

[2019-02-26 08:39] Simn commented on #7860
Note that unlike for regexes, I didn't add this to the actual value printer because all these peasants that use trace-debugging wouldn't like that.

I'm also not going through haxe.macro.Printer but use your `Ast.s_expr` instead. That's because `haxe.macro.Printer` might not even be part of a compilation, and I don't think we want to start loading additional types when debugging.

[2019-02-26 09:13] Simn commented on #7866
I don't know how I feel about hard-coding map-semantics into the compiler. There should be a more elegant solution to this problem...

On the other hand, an inelegant solution is still better than no solution.

[2019-02-26 09:16] shakesoda commented on #7589
@nadako thanks! latest nightly works, and workaround in my classpath works for rc1 too. now I, too, can get with the times 👍

[2019-02-26 09:57] #7860 closed, assigned to Simn

[2019-02-26 09:57] #7862 closed, assigned to Simn

[2019-02-26 09:58] Simn commented on #7840
hopefully closed by #7870

[2019-02-26 09:58] #7840 closed, assigned to Simn

[2019-02-26 10:20] Simn opened #7871 "[macro] Detect some invalid usages of the haxe.macro.Compiler API"
At the moment, the `haxe.macro.Compiler` API has various functions that modify compilation parameters. However, they can be freely used from any random macro, which I don't think was the original intent.

For instance, using `Compiler.addClassPath` in the middle of a compilation could lead to very weird situations where some parts of a package are resolved in one class path and other parts are res

[2019-02-26 10:37] jackie-t opened #7872 "Allow empty statements"
I have a lot of code like this:

[code]

This, in haxe, isn't just a warning, but an outright error. The "fix" of course is easy enough - you remove the ";" - but it seems to be strange to treat it as an error.

Is there any compelling reason (other than trying to force a specific code style) why empty statements are not allowed? What would make them so majorly different to

[code]

which does act

[2019-02-26 10:38] Gama11 commented on #7861
While this is fixed for the variables view, hover and debug console are still broken:

![](https://i.imgur.com/SNNpDty.png)

[2019-02-26 10:41] nadako commented on #7872
Haxe doesn't have empty statements (or "statements" at all, really). The `;` is used to separate expressions inside a block.

[2019-02-26 10:42] Gama11 commented on #7872
https://code.haxe.org/category/principles/everything-is-an-expression.html

[2019-02-26 10:42] #7872 closed, assigned to nobody

[2019-02-26 10:51] ktimothy commented on #7872
@jackie-t why not just
[code]
?

[2019-02-26 10:59] jonasmalacofilho commented on #7872
@jackie-t, you could consider adding a comment explicitly stating that it should be a no-op:

[code]

[2019-02-26 11:06] Gama11 opened #7873 "[hxcpp] stepping over shouldn't just fall through"
Consider this example code:

[code]

Stepping over at the end of the function suddenly puts me into `EntryPoint.hx`, which can be somewhat confusing:

![](https://i.imgur.com/vXMmhJP.gif)

The behavior with all other debuggers (Eval, HL, Flash and JS) is instead:

- stepping over first gives some indication that we're about to leave the function, see #7767 for more details
- stepping over again pu

[2019-02-26 11:12] Gama11 commented on #7860
This is pretty awesome. :tada:

![](https://i.imgur.com/agWKgnh.png)

[2019-02-26 11:18] Gama11 commented on #7860
Thanks to tooltips, it even works reasonably well for multi-line expressions:

![](https://i.imgur.com/qWpvqeU.png)

Now if only VSCode would allow us to syntax-highlight that. :)

[2019-02-26 11:21] #7861 closed, assigned to Simn

[2019-02-26 11:30] Gama11 commented on #7840
Urm... so I'm meant to see relative paths now? Not seeing much of a difference:

![](https://i.imgur.com/kQtzM5b.png)

[2019-02-26 11:42] Simn commented on #7860
That screenshot gives me a headache.

[2019-02-26 12:06] Simn commented on #7840
It uses the original path. If that's not relative then you won't see a relative path.

[2019-02-26 12:35] Simn commented on #7869
I'm a bit nervous about changing this in the typer. While we can easily detect the place where it's needed at the time of typing, I'm not sure if there could be transformations which require a `this` variable earlier. It then makes sense to handle this during post-processing, at a point where we can be sure that nothing inserts itself before our `this` variable.

We might even want to handle this

[2019-02-26 12:40] Simn commented on #7869
Then again, given that this is a normal variable, I don't think anything could be inserted there anyway.

[2019-02-26 12:43] nadako opened #7874 "[analyzer] local dce is not perfect :-)"
[code]
generates
[code]

[2019-02-26 12:50] Simn commented on #7874
That has nothing to do with the analyzer or local DCE.

It also only holds in a single-threaded environment because your field is mutable.

[2019-02-26 12:52] kLabz opened #7875 "[cs] Native type constraints missing in generated closures"
While native type constraints have been partially implemented behind the `@:nativeTypeConstraints` temporary custom meta (see #3526), there are still use cases where they fail: generated closures do not include the necessary constraints and while haxe compilation succeeds, c# compilation fails with
[code]

**Note: I'm working on it in #7863, mainly creating this issue to have a proper issue number

[2019-02-26 12:54] nadako commented on #7874
I think this should still be removed because the check is pure and the then block is also pure (empty in this case).

[2019-02-26 12:57] Simn commented on #7874
I see, I thought your point was that you check the same thing twice.

[2019-02-26 12:59] nadako commented on #7874
Yeah, sorry I wasn't very clear. I actually noticed this because of google closure warnings for a chain of useless pure checks of different things, which originally had a block with a `trace` which was removed by `--no-traces`, but I reduced to this minimal sample :)

[2019-02-26 13:00] Simn commented on #7869
That should do it. Assigning to nadako to clean up after me and add a test.

[2019-02-26 13:07] Gama11 opened #7876 "[eval] Field presentation in eval-debugger"
Just like #7860, but for `haxe.macro.Expr.Field`. :) For build macros, it'd nice to see the proper declarations (`public static function foobar(arg:Type):Return`).

Right now it's more like `{name: "foobar", <unreadable mess>}`.

![](https://i.imgur.com/MkwsyyL.png)

Probably shouldn't include the epxr of fields unless it's single-line? (and maybe only for vars)

[2019-02-26 13:18] #7874 closed, assigned to nobody

[2019-02-26 13:35] Simn commented on #7876
I have to work on something else for a bit. If you want to take a look at this yourself, the secret is somewhere in this general area: https://github.com/HaxeFoundation/haxe/blob/development/src/macro/eval/evalDebugSocket.ml#L85

[2019-02-26 14:06] Antriel opened #7877 "[diagnostics] Build macro processed class triggers faulty diagnostic error."
In a build macro processed class, diagnostics complain that `ProcessedClass does not have a constructor`, on the second constructor call.
Compilation works without errors.

Same behavior on Haxe 4 RC1 and 4.0.0-rc.1+63aaf2ded.

With Main.hx:
[code]
And another file ProcessedClass.hx (needs to be another file, including it in the Main module wouldn't trigger the issue):
[code]
And finally the Proce

[2019-02-26 14:10] Simn commented on #7877
wtf...

[2019-02-26 14:38] Simn commented on #7845
You seem to be telling me that one problem is reproduced by changing the IDL file, and the other is that changing the IDL doesn't have any effect. I don't think both of these can be true at the same time.

FWIW I can't seem to reproduce either of them: Adding nonsense to point.idl gives me an error on recompilation: `point.idl:11: characters 1-19 : Unexpected Nonsense line 11`. What am I misunders

[2019-02-26 14:48] Simn commented on #7877
Something is still bonkers if we change some things:

[code]
[code]

Even the errors on normal compilation are crazy:

[code]

The first two lines are fine, but wtf is "Defined in this class" doing there? And why does it error on line 4, but not on line 3...

[2019-02-26 15:16] jcward commented on #7868
Hmm, seems I typoed in trying to isolate the issue from my greater project. Ah well, I don't have any more time to spend on it.

[2019-02-26 15:18] Gama11 opened #7878 "[display] goto definition on unknown type"
[code]

Invoking goto definition on `SomethingUnknown` takes you to `Array.hx`. It should just fail.

[2019-02-26 16:34] nadako opened #7879 "[js] do not add abstract impl classes to $hxClasses"
There's no need for abstract impls to be accessible via `Type.resolveClass`, right?

[code]

[2019-02-26 16:40] #7448 closed, assigned to Simn

[2019-02-26 16:45] nadako commented on #7879
Same with `__name__` I think.

[2019-02-26 16:47] nadako commented on #7879
In general I think we should generate abstract impls as simple objects:

[code]

[2019-02-26 17:16] nadako commented on #7879
@Simn it should be safe to use the abstract type's own pathname in the generators, right?

So if I have `abstract A(Int) { function f() }` I can just generate `var A = { f: function(this1) {} }` in JS and don't fear name clashes?

[2019-02-26 17:17] Simn commented on #7879
Not sure about `@:coreType`. Probably depends on the generator...

[2019-02-26 17:21] nadako commented on #7879
`@:coreType` are the ones without haxe-generated implementation at all, right?

[2019-02-26 17:22] Simn commented on #7879
Not necessarily, they can have an implementation.

[2019-02-26 17:23] nadako commented on #7879
OK let's talk about it more when I get home:)

[2019-02-26 19:24] nadako opened #7880 "[js][es6] make this-before-super filter smarter"
my own thoughts from slack:

[2019-02-26 20:44] jcward opened #7881 "Regression: static extension and abstract @:from"
This appears to be a regression between 3.4.7 and 4.0.0-rc1:

The below `OneOf` abstract is designed to let you call a given function with either type (by inferring an `Either` with `@:from`). That still works.

You used to be able to further use this with static extension -- this has broken.

Haxe 3.4.7 output (as expected):
[code]

Haxe 4.0.0-rc1 output:
[code]

**Test.hx:**
[code]

[2019-02-26 20:59] Simn commented on #7881
That was a deliberate breaking change, see https://github.com/HaxeFoundation/haxe/wiki/Breaking-changes-in-Haxe-4.0.0#static-extension-restrictions

[2019-02-26 20:59] #7881 closed, assigned to nobody

[2019-02-26 21:35] #7869 closed, assigned to nadako, Simn

[2019-02-26 22:04] nadako opened #7882 "[ci] use Travis for Windows builds"
AppVeyor is super-slow and Travis nowadays provide Windows builds, so I think we should look into that.

Maybe @andyli will have some time for this, otherwise anyone is welcome to contribute here!

[2019-02-26 22:05] Simn commented on #7882
Yes please! AppVeyor is infuriatingly slow.

[2019-02-26 23:06] nadako opened #7883 "abstracts vs non-static properties"
In the following code, all the getter functions return an inferred `Int`, which is fine, but when accessed through a property, that `Int` should be casted to the type of that property. And that seems to work for everything but abstract non-static propeties:

[code]

[2019-02-26 23:07] Simn commented on #7883
#7674?

[2019-02-26 23:09] nadako commented on #7883
Uhm, looks similar, yeah, can't say for sure because there's so much text and code in that issue :)

[2019-02-27 04:43] back2dos opened #7885 "Expression macro doesn't get called in display mode, even when containing completion point."
Here's a pretty minimal example:

![completion](https://user-images.githubusercontent.com/509501/53466473-6c498e80-3a52-11e9-8aef-bb0fe6f38dd5.gif)

As you can see, diagnostics trigger the macro just fine, but for completion it's skipped.

[2019-02-27 06:37] Simn commented on #7885
I think I was too quick to fix #7699. The question is if this should give any completion if the macro doesn't type it. And considering our typing rules for macro arguments, I'm thinking that it should not.

[2019-02-27 07:33] back2dos commented on #7885
Well, the example is a bit contrived. I think the correct behavior would be to:

1. call the macro
2. give completion iff the macro returns an `EDisplay`.

[2019-02-27 07:36] Simn commented on #7885
Yes but the question was if we should do anything special for arguments to the macro-call. The problem here occurs because I've changed it to check for `EDisplay` in the call arguments, but thinking about it now that seems to be wrong.

[2019-02-27 08:22] RealyUniqueName opened #7886 "Inline at call site does not work for abstracts"
[code]
http://try-haxe.mrcdk.com/#D11Bb
generated code:
[code]

[2019-02-27 10:02] ncannasse commented on #7826
Yes Val_Int will overflow on 31/63 bits depending on the platform. You need to return an actual Int32.t, I'm not sure which C call is necessary for this, look at caml api H

[2019-02-27 10:11] Simn commented on #7826
I was concerned about breaking ocamllibs compat with Haxe 3.4, but as it turns out we've only exposed zlib's crc32 after 3.4 anyway: https://github.com/HaxeFoundation/ocamllibs/commit/5396ed3306f5a10be138d309d3f9dbf90b8ee07f

So this isn't even your fault, dammit.

[2019-02-27 10:55] Simn commented on #7826
Possibly fixed by https://github.com/HaxeFoundation/ocamllibs/commit/101516896900a046e19e32737b9a09a870da2f94. With any luck AppVeyor should tell us before the end of the month.

[2019-02-27 11:13] Simn commented on #7886
The problem is that abstract fields use `AKUsing` access instead of `AKExpr` and we cannot easily rewrite that to `AKInline`. Probably gonna have to carry the `forced_inline` flag in `AKUsing` for this to work. But it's quite awkward.

[2019-02-27 11:27] #7886 closed, assigned to Simn

[2019-02-27 13:06] Simn commented on #7826
passed

[2019-02-27 13:06] #7826 closed, assigned to nobody

[2019-02-27 14:23] RealyUniqueName opened #7888 "Inlining nested callbacks"
[code]
http://try-haxe.mrcdk.com/#2fdD0
Generated js:
[code]

[2019-02-27 14:54] #7382 closed, assigned to Simn

[2019-02-27 16:41] thomasjwebb opened #7889 "@:include directive is being ignored on hxcpp target"
There's something inconsistent or mysterious about how `@:include` works that's preventing it from doing anything at all. Another project where I am not doing anything substantially different is allowing it to work, although there I wasn't able to include the same .h file in multiple .hx files, forcing me to stuff everything related to a lib in the same file. Anyway, with this class:

[code]

And

[2019-02-27 17:01] haxiomic opened #7890 "[Arrow functions] { return; } is typed as Dynamic rather than Void"
**TL;DR**: ` { return; }` gets typed as Dynamic, but something like `{ trace('hi'); }` gets typed as Void. This creates unexpected errors when using arrow functions that you expect to have a Void return type.

A specific example, I'm having an issue using arrow functions with `js.Promise`:
http://try-haxe.mrcdk.com/#7d772

[code]

This unexpectedly fails with
[code]

It fails because the the secon

[2019-02-27 17:15] nadako commented on #7890
This is funny. `(string) -> { return; }` is the same as `function(string) return { return; }`, and the `return` expression itself is a monomorph so stuff like `var x = if (...) 1 else return;` works. I think we can be smarter here somehow, but I'm not sure how exactly right now.

[2019-02-27 19:12] haxiomic commented on #7782
Looks like #2586 is tracking a similar issue

[2019-02-27 20:27] Simn commented on #7722
We can do the exact same check for string literal fields.

Let's please not introduce something random like backticks, especially not for a corner case like this.

[2019-02-27 22:25] jcward opened #7893 "Haxe 4 - Compiler.getDefine() in macro throws Uncaught exception macro-in-macro"
I'm going to assume this is as-designed, so I'll go ahead and close this bug. But file it as a cookie crumb for others facing the issue in Haxe 4 migration.

In Haxe 3.4.7, you could call `Compiler.getDefine()` from inside a macro, or from regular code.

In Haxe 4.0.0, you can no longer call `Compiler.getDefine()` from inside a macro -- it results in `Uncaught exception macro-in-macro`.

**Resolut

[2019-02-27 22:25] #7893 closed, assigned to nobody

[2019-02-27 22:37] Gama11 commented on #7893
That seems a bit awkward, there's `Context.definedValue()`. In fact, `Compiler.getDefine()` is just a macro that calls that.

[2019-02-28 06:24] thomasjwebb commented on #7889
It looks like this is ignored unless I also specify a build configuration. Is that expected behavior? That's the one area where this project is the odd one out. It seems like it should give me an error if that's a requirement instead of silently failing. It also doesn't seem like that should be a requirement although practically speaking you'll have to give it an include path at the very least.

[2019-02-28 08:45] Simn commented on #7748
I don't really know how to fix this... We run the env expansion very early, i.e. before we look at the arguments.

[2019-02-28 11:42] Simn commented on #7838
I don't think I want to mess with `@:privateAccess`, but I agree otherwise.

[2019-02-28 12:00] #7824 closed, assigned to Simn

[2019-02-28 12:16] back2dos opened #7896 "Get all values of enum abstract."
It would be nice to have a way to extract all values of an `enum abstract`.

My suggestion would be `static public final allValues:haxe.ds.ReadOnlyArray<TheEnumAbstract> = [...];`. Simn said something about it being useful, but it shouldn't be relying on "random names", so I'm putting this out here for discussion.

My other idea was to explicitly allow `for` loop over `enum abstract`, where the co

[2019-02-28 12:37] Gama11 commented on #7896
If that does happen, `values` seems like a much nicer name than `allValues`.

[2019-02-28 12:51] #6714 closed

[2019-02-28 13:00] #7182 closed

[2019-02-28 13:47] kevinresol commented on #7896
FYI, I have a library but it is macro-based https://github.com/kevinresol/list-enum-abstract

[2019-02-28 13:48] RealyUniqueName commented on #7821
This is not possible atm. Typer assigns all inlined expressions position info of a place where it was inlined.

[2019-02-28 14:56] nanjizal commented on #7896
Recently was interested in all in a typedef's with ability to list **optional** ones separately, would be good to have something like this added to https://api.haxe.org/Type.html also I be nice to allow **clone** of typedef. Only mention incase if enum abstracts are consider the api is considered to make it consistant.  I realize you can do this stuff with macros or rtti but seem quite useful.

[2019-02-28 15:54] haxiomic commented on #7890
Nice one @Simn! Thanks for such a quick turn around - I was scratching my head looking the typer code thinking this could be a tricky issue to fix

[2019-02-28 15:57] Simn commented on #7890
This is going to require some more investigation, see commit comments.

[2019-02-28 16:08] Gama11 opened #7897 "[nullsafety] null safety errors in inlined code"
#7821 is related to this, but it deserves its own issue.

Inlined code currently breaks the package filters of `--macro nullSafety()` / `@:nullSafety`, which is a real problem if the inlined code isn't controlled by you. Especially considering that the std lib isn't null safe yet. For instance, this prevents you from using regexes together with null safety on the Python target:

[code]

[code]

Of

[2019-02-28 16:19] RealyUniqueName commented on #7897
The only workaround I can suggest right now is using `@:nullSafety(Off)` at expression level:
[code]

The way compiler assigns position info to inlined expressions is also a problem with debuggers:
[code]

[2019-02-28 16:23] Gama11 commented on #7897
Right, I remember that FD used to inject `--no-inline` for Flash/Debug builds to make things behave nicely.. :/

[2019-02-28 17:59] back2dos commented on #7838
Ok, I've mentioned `@:privateAccess` a lot there, but it's beside the point. The question is: could we plainly disallow *all* access to `null` on interfaces/structures? And if so, is there any reason not to do it?

[2019-02-28 18:14] kevinresol commented on #7896
Btw, does that mean we cannot have an enum entry named `values`/`allValues` if this is implemented?

[2019-02-28 18:54] Simn commented on #7896
Yes that's what I mean when I say that we shouldn't use random names like that.

[2019-02-28 19:26] Simn opened #7898 "[cppia] Bad move target"
I don't have any details yet because I'm in the middle of refactoring our unit tests, but I'm currently staring at this:

[code]

Will update with more information later.

[2019-02-28 19:32] RealyUniqueName commented on #7796
Can move this to "Release 4.0" milestone?
This is very bad for the Flash target.

[2019-02-28 19:36] Simn commented on #7796
I can but this isn't exactly high on my priority list.

[2019-02-28 22:00] nadako commented on #7796
The issue here is that `IO.read_bits` is bugged in the current extlib version we use. We fixed it in https://github.com/HaxeFoundation/ocamllibs/commit/97ddb4d99884042469e34d1be94b3605d51fbf43 but then it was unfixed by using extlib from opam. I reported the issue here https://github.com/ygrek/ocaml-extlib/issues/50, but we should think about what can/should we do until the fixed extlib is release

[2019-02-28 22:09] Gama11 opened #7899 "[nullsafety] String concatenation with null values should be allowed"
I think this should compile, `null` isn't dangerous here (it's well-defined what happens with `null` values in `Std.string()`):

[code]

Also, this might be a regression triggered by some of the more recent null safety changes - I found this in dox, which used to compile with null safety enabled.

[2019-02-28 23:10] nadako opened #7900 "[nullsafety] null-safety vs trace"
both of these `trace`s fail

[code]

[code]

I guess we gotta add `Null<Dynamic>` to `haxe.Log.trace` and `haxe.PosInfos.customParams` to fix that?

[2019-03-01 05:16] back2dos commented on #7720
Bump ;)

[2019-03-01 06:30] Simn commented on #7898
I cannot reproduce this locally unfortunately. @RealyUniqueName: Could you try running the cppia unit tests on #7901 locally?

[2019-03-01 07:09] Simn commented on #7898
Never mind, I can reproduce it with `-jit`.

[2019-03-01 07:37] Simn commented on #7898
That reduced surprisingly far:

[code]

[2019-03-01 09:30] RealyUniqueName commented on #7900
Yep.
Doesn't look like it will break anything.

[2019-03-01 10:18] Simn opened #7903 "[lua] Printing of recursive values causes stack overflow"
From #7901:

[code]

[2019-03-01 12:02] Simn opened #7904 "Should Bytes.toString really use getString?"
I know it has been like this for a while, but having an implicit conversion like this seems wrong to me. In the general case, the conversion does not lead to printable strings and printing is what `toString` is typically used for. There could be 0-chars in the middle which in the standard `getString` implementation truncate the string.

IMO the user should be explicit about such a conversion. A `t

[2019-03-01 12:03] #6180 closed

[2019-03-01 12:52] back2dos commented on #7896
Not sure what makes a name "random", but the choice here was quite deliberate:

1.  it is lower case, which enum values shouldn't be
2.  I did pick `allValues` because `values` (being much nicer) seems a much more likely name in general

[2019-03-01 13:04] back2dos opened #7905 "What happend to genericBuild?"
[code]

In haxe 3, this correctly reports `Void -> Cls0` ... in 4.0.0-rc.1 this fails saying that `Cls0 does not have a constructor`. And to top it all off, diagnostics with preview.3 gives me this:

![huh](https://user-images.githubusercontent.com/509501/53639652-19c2ca80-3c2a-11e9-8494-290dc55533bb.png)

All that said, I have projects with rc.1 / recent nightly that use far more complex genericB

[2019-03-01 13:06] nanjizal commented on #7896
following getClassFields convention the following would be useful on the Type class
[code]

[2019-03-01 13:10] Simn commented on #7896
I'm not criticizing your ability to name things, but I question if it's okay to use _any_ magic name like that. I don't think this is good API design, and it's also not in-line with anything else we have.

[2019-03-01 13:13] Simn commented on #7905
That looks like some regression from the `@:eager` change.

[2019-03-01 13:15] RblSb commented on #7896
It is not possible to create compiler supported `EnumAbstractTools` class with `getName/getIndex/getValues/etc`? Can `Abstract` be generic type like `Enum` for static extensions and other things? (sorry for stupid question)

[2019-03-01 13:16] haxiomic commented on #7904
Thanks for brining this up @Simn

Without knowing anything about the bytes API beforehand, I'd expect it to work something like

[code]

Looking at the existing API, I think we need a lazier getString(), so you can just do `bytes.getString()`

[2019-03-01 13:31] nadako commented on #7896
I just wanted to add that I'm against having a magic name (at least not prefixed with `_hx_` or something), because this is not always possible:

For example sometimes it is desired to follow some specific naming rules when writing an extern library, so people can easily find stuff and/or port their code. When working with lua/python it's often the case that the naming rules are `lower_snake_case`

[2019-03-01 13:34] Simn commented on #7896
That would also be my preferred solution, but we'll need a new constraint type for that first.

[2019-03-01 13:41] Simn commented on #7878
Test added

[2019-03-01 13:41] #7878 closed, assigned to nobody

[2019-03-01 13:51] #7847 closed, assigned to nobody

[2019-03-01 19:00] Jarrio commented on #7832
I can't seem to reproduce the scenario as I had worked around that issue :( I'm unsure as to whether it was my project or the new output target

[2019-03-02 12:58] Gama11 opened #7906 "[display] goto declaration with typedef + abstract constructor"
[code]

Goto declaration on the first `HaxeRequestMethod` in `main()` here works as expected, but on the second one it instead takes you to `RequestMethod`. I don't think this makes sense as long as `new` and `Type` in `new Type()` are treated as separate tokens that go to different locations.

___________

[code]

[2019-03-02 17:52] Aurel300 opened #7907 "haxe.Timer.delay with haxe.MainLoop"
[code]

Expected both to print, but only the first `trace` works. This is not a problem with logging – I verified by setting a value on the global object like so:

[code]

(Outputs `1`.)

Compiled with `haxe -lib hxnodejs -main Main -js test.js` and executed with `node test.js`. Node version 8.5.0.

[2019-03-02 19:11] nadako commented on #7907
Hm, I don't think we have anything specific to haxe.Timer and/or haxe.MainLoop in hxnodejs, meaning that the problem is actually in Haxe. I can look into this, but I think it's @ncannasse area of competence.

[2019-03-02 19:20] Aurel300 commented on #7907
Unfortunately the first snippet in my post (when compiled as `haxe -main Main -js test.js`, then included in an HTML file) works fine in Chrome, i.e. both `trace` commands are executed. So it must be related to Node one way or another. After some further examination, the key difference between the JS generated with `-lib hxnodejs` is:

[code]

The former doesn't work when executed with `node`, sin

[2019-03-02 19:33] nadako commented on #7907
Yeah, there's a check here [in the Haxe sources]( https://github.com/HaxeFoundation/haxe/blob/2627715a3531e1fb5a37c8892de74dee3b9ec08a/std/haxe/EntryPoint.hx#L119-L121), I guess something is wrong there...

[2019-03-02 19:35] Aurel300 commented on #7907
Ah yes, I didn't realise Haxe JS produces different code with `-D nodejs`. Should I close this and open an issue in Haxe then?

[2019-03-02 19:36] nadako commented on #7907
Let's see if GitHub's fancy "transfer issue" feature works :)

[2019-03-02 19:44] nadako commented on #7907
I think the issue is because of:
[code]

It just never schedules the next tick even tho we do `addThread` "later", because it's unaware of `haxe.Timer`. We probably should "wake up" the loop when someone adds a new "thread" while we're still running for some reason.

[2019-03-03 10:06] Simn opened #7908 "[server] [memory] some modules are reported as using a lot of memory"
When compiling vshaxe once, the memory overview shows some std files as rather large:

![code_2019-03-03_11-02-09](https://user-images.githubusercontent.com/634365/53693657-ea37cd80-3da3-11e9-9e79-915854382411.png)

There are two possible causes here:

1. They actually are this fat
2. Memory diagnostics are broken

[2019-03-03 10:08] Simn commented on #7908
I suspect it's 2. because the total reported cache size is only 161.4 Mb, and that includes all other contexts.

[2019-03-03 10:28] Simn commented on #7908
The js.Boot problem is caused by `@:ifFeature` because the memory exploration doesn't ignore that. BalancedTree, Type and Reflect are still fat though.

[2019-03-03 11:15] Simn commented on #7908
Never mind, that just causes it to ignore its own classes... So there's some other problem altogether.

[2019-03-03 13:28] Simn commented on #7908
Something is broken:

![code_2019-03-03_14-25-32](https://user-images.githubusercontent.com/634365/53695784-3c86e780-3dc0-11e9-8151-ae1b1c4f1451.png)

Look at the memory for `__string_rec`, `remove` and `enumEq`. They have one thing in common: They are the only functions in their respective classes that have a `try ... catch`.

[2019-03-03 13:59] Simn commented on #7908
It's `JsExceptions.inject_callstack` adding a reference to `haxe.CallStack` without adding a proper module dependency.

[2019-03-03 14:00] nadako commented on #7908
Uh-oh...

[2019-03-03 14:00] nadako commented on #7908
Wait, but how that allocates so much memory? It's a single compilation even, right?

[2019-03-03 14:03] Simn commented on #7908
It doesn't allocate that much. The problem is that the missing dependency causes memory detection to go wrong because it doesn't stop when coming across the `haxe.CallStack` module, and then goes on to pick up everything `haxe.CallStack` references (recursively). However, I "think" any missing reference could leak, so it's still important to fix.

[2019-03-03 14:28] Simn commented on #7908
There are still other problems like this:

![code_2019-03-03_15-25-11](https://user-images.githubusercontent.com/634365/53696564-8c69ac80-3dc8-11e9-856b-21ca50f0e1b3.png)

I have no idea how this small class can cause such memory diagnostics...

[code]

Its dependencies are `StdTypes`, `String` and `protocol.debug.Types`, which seems fine (though I don't know where `String` comes from).

[2019-03-03 14:48] Simn commented on #7908
Now I cannot reproduce this anymore...

[2019-03-03 14:48] nadako commented on #7796
Waiting for the new extlib to be released after https://github.com/ygrek/ocaml-extlib/pull/52 is merged. Then we can pin it and it should be fixed :-3

[2019-03-03 16:15] Simn opened #7909 "Everything depends on you, String"
I noticed that every single module has a dependency on String, which I found curious. It comes from this piece of code in typeloadModule.ml `type_types_into_module`:

[code]

I get that we want to make sure String (and Array) is loaded, but I don't see why we would have to load it from every module.

[2019-03-03 16:46] Simn commented on #7871
If we can address the "Another problem", we could further improve the compilation server by not initializing the outside context before running initialization macros. At the moment, we add a bunch of modules immediately when creating the typer: StdTypes, String, Array, haxe.EnumTools. If an initialization macro adds a define, these types will forever remain unused on the compilation server.

Ideal

[2019-03-03 17:22] Simn commented on #7909
I lied, `StdTypes` is the one module that does not depend on String.

[2019-03-03 17:46] ncannasse commented on #7748
Maybe a hack would be be not to expand env vars for multiline strings...

On Thu, Feb 28, 2019 at 9:45 AM Simon Krajewski <notifications@github.com>
wrote:

[2019-03-03 17:49] ncannasse commented on #7720
@andyli can you look into this?

[2019-03-03 17:49] Simn commented on #7871
How about we add a value to the `macro` define so it's `macro = "init" | "build" | "expr"`. Then we can add custom checks like `if (Context.definedValue("macro") != "build") error("getBuildFields can only be called inside build-macros")`.

[2019-03-03 17:54] ncannasse commented on #7904
Well, I understand that we might want to see the whole bytes with  trace(bytes) and not only the string part. But I'm quite afraid with changing that now (even for 4.0) as it might silently break some code relying on current behavior. Maybe better off deprecating toString() entirely ?

[2019-03-03 17:59] ncannasse commented on #7896
I think that we should keep this feature for macros, and not generate extra metadata for each enum abstract. Unlike traditional enums, the enum abstract have a very high number of allowed runtime values, much more than what their definition actually allows.

Also, this would not make sense for instance with the semantics of some special definitions such as:

[code]

[2019-03-03 18:00] Simn commented on #7896
<strike>I don't think the idea is to generate anything, but instead query it from the compiler statically.</strike>

I'm not making any sense.

[2019-03-03 18:59] ncannasse commented on #7909
The problem is that we might have constant Strings that are typed without the dependency to String module actually being set (we directly use tstring/tarray). Not sure if that's a real problem or not, but the comment seems to indicate that was a fix for something.

[2019-03-03 19:16] Simn commented on #7793
Note: @Gama11's issue here is about a _parsing_ error. I completely ignored that fact and it likely is a different problem than other people have.

In principle it's similar: The parser is lenient in diagnostics mode and ignores errors, so the server thinks it's fine to cache the file. It's then picked up on the next compilation.

This probably means that I have to review the error handling in the

[2019-03-03 20:10] ncannasse commented on #7793
@Simn I confirm that our errors also are only about parsing, not typing.

[2019-03-03 21:42] Gama11 commented on #7908
Some of these also seem a bit fishy:

![](https://i.imgur.com/qLJFZxm.png)

[2019-03-03 21:59] Simn commented on #7908
Any particular types or fields there that are reported as too big?

[2019-03-03 22:02] ncannasse commented on #7908
There was a leak detection at some point that could say which modules were
referenced in memory but not in dependencies, maybe you could allow to list
these using a simple command so it's more easy to track them down?

On Sun, Mar 3, 2019 at 10:42 PM Jens Fischer <notifications@github.com>
wrote:

[2019-03-03 22:03] Gama11 commented on #7908
For instance here, there's two methods with ~1 MB each.. isn't that a bit much? They're not exactly the shortest ones, but still?

![](https://i.imgur.com/3GJNq3v.png)

Does inlining play a role maybe?

[2019-03-03 22:08] Simn commented on #7908
I wanted to port the leak detection but I didn't understand how it works. Will look at it again tomorrow.

[2019-03-03 22:12] Gama11 opened #7911 "[display] package completion suggests import.hx modules"
This is silly:

![](https://i.imgur.com/BcwRTlB.png)

[2019-03-04 02:03] andyli commented on #7720
Maybe. I have zero idea of how this can be done though.
It would be great if there is someone with the experience can point me to the right direction.

[2019-03-04 03:07] #7898 closed, assigned to hughsando

[2019-03-04 03:07] hughsando commented on #7898
Thanks for the simple example.

[2019-03-04 14:25] kLabz opened #7913 "Type inference not [always] working with @:overload fields"
I first had this issue when using the new `js.html` externs in haxe 4 rc1, when using `DOMElement.scrollIntoView` [[0]].

The issue can be reproduced without JS externs too, like that ([[1]] for a try-haxe):

[code]

[code]

This works fine if the primary signature is `function(a:{foo:Foo}) : Void` and the overloaded one is `function(a:Bool) : Void`.

This issue makes using modified js.html extern

[2019-03-04 15:48] kro13 opened #7914 "[Haxe 3.4.7] Std.is behaves differently depending on the 'generic' meta tag"
[code]
It seems to be the result of that the compiler creates distinct classes per type, when the 'generic' meta tag is used. But it also seems right that both cases should behave the same way. [Haxe 3.4.7]

[2019-03-04 15:48] ncannasse opened #7915 "EitherType ordering"
It somes that for some types (abstracts ?) the order in which the EitherType is declared/checked changes something:

[code]

[2019-03-04 15:52] RealyUniqueName opened #7916 "[php] Improve the generation of anonymous objects declarations"
[code]
Currently generates
[code]
But this performs 50% faster:
[code]
PS: don't forget to remove constructor declaration from `php.Boot.HxAnon`

[2019-03-04 15:59] Simn commented on #7914
Yes this is expected because it indeed creates a distinct instance per type-parameter combination. I suppose we should clarify in the docs.

[2019-03-04 16:39] nadako commented on #7916
does this also support random field adding/deleting? _IIRC_ it has to be supported by anon object values (which is unfortunate).

[2019-03-04 16:42] Simn commented on #7916
Yeah Reflect.deleteField is a real party-pooper...

[2019-03-04 16:47] Simn opened #7917 "The display tests are retarded"
We start a new haxe process for every request, which is stupid and slow. I don't really know how to change this for the old protocol though because we rely on `-D display-stdin`.

[2019-03-04 17:06] nadako commented on #7915
is it the same as #5997?

[2019-03-04 17:30] RealyUniqueName commented on #7916
Yes adding/deleting fields is supported.

[2019-03-04 17:31] kro13 commented on #7914
I agree, if this behaviour was stated in the docs there would be no questions. Otherwise it could seem as a bug from user perspective.

[2019-03-04 17:45] Simn commented on #7909
You originally added it here: https://github.com/HaxeFoundation/haxe/commit/7671ee3860851e4b4306b109bbafa1edeadf3461

And then moved it here: https://github.com/HaxeFoundation/haxe/commit/fdd0872a7e5160b14443d007a3ec7bf8e598e911

Unfortunately, it doesn't reference any issue. But yes, I can see why simply grabbing `tstring` could lead to issues here. It is even used by some generators, so we could

[2019-03-04 17:45] #7909 closed, assigned to nobody

[2019-03-04 17:53] Simn commented on #7917
Hoping for some @nadako advice because I feel like I'm missing something obvious again.

[2019-03-04 19:47] nadako commented on #7917
I'm not sure what is the issue? Doesn't it work like described in #5120?

[2019-03-04 19:51] Simn commented on #7917
That may have been the information I was looking for.

[2019-03-04 19:51] nadako commented on #7914
Yeah it looks like it should work, but mostly because `Std.is` is stupid. We really need a proper syntax that handles complex types with type parameters, like `cast` does.

[2019-03-04 20:20] Gama11 opened #7918 "[nullsafety] recursive local function vs. null safety"
I don't think there's any logical reason why this shouldn't compile:

[code]

The error position here is really confusing:

![](https://i.imgur.com/2D9K2pY.png)

I'm assuming this is related to the access through `_gthis`. It's fine if the local function isn't recursive, presumably because `recurse`'s assignment isn't delayed then. Dump:

[code]

[2019-03-04 20:22] Gama11 commented on #7918
(even if it turns out this is just a duplicate of https://github.com/HaxeFoundation/haxe/issues/7853, the confusing error reporting is still a problem here)

[2019-03-04 20:31] Simn commented on #7917
I can't get this working with our Process API, so I guess we'll have to port this nodejs again. In that case I'll just keep the display tests disabled until we have a usable solution for this.

[2019-03-04 20:31] #7917 closed, assigned to nobody

[2019-03-04 20:36] Gama11 opened #7919 "final locals should be allowed in pattern matching"
According to @Simn this was even meant to work already.

[code]

[code]

[2019-03-04 20:38] Simn commented on #7919
Err sorry, we had a misunderstanding here. What I said should work is `case final value`. I don't want to support local resolution to local finals.

[2019-03-04 20:38] #7919 closed, assigned to nobody

[2019-03-04 20:39] Gama11 commented on #7919
Oh. This would be nice though!

[2019-03-04 21:02] RealyUniqueName commented on #7918
Are you sure you are using the latest dev Haxe?
I cannot reproduce this.

[2019-03-04 21:09] Gama11 commented on #7918
Wait, what, now I can't anymore either (still an issue in the code I isolated it from though)... I wonder if the compilation server was involved in breaking my repro case somehow.

[2019-03-04 21:17] Gama11 commented on #7918
Wtf, this only reproduces on JS with `-D js-es=6`... @nadako!?

[2019-03-04 21:21] RealyUniqueName commented on #7918
I got it with `-D js-es=6` too.

[2019-03-04 21:30] nadako commented on #7918
it's probably related to @Simn's `_gthis` change for #7869

[2019-03-04 21:48] #7918 closed, assigned to RealyUniqueName

[2019-03-04 21:51] RealyUniqueName commented on #7918
I hacked it by detecting expression sequence `var fn = null; var _gthis = this; fn = function() ...`, but the proper way is probably to add a special `tvar_kind` for variables generated by local named functions.

[2019-03-04 22:02] Simn commented on #7918
But it already does that, these vars should be `TVOLocalFunction`.

[2019-03-04 22:05] RealyUniqueName commented on #7918
Didn't know that. Thanks!

[2019-03-04 22:15] #7899 closed, assigned to RealyUniqueName

[2019-03-04 22:16] RealyUniqueName opened #7920 "Assigning another function to local named function should error"
[code]
3.4 also doesn't emit a compilation error here.

[2019-03-04 22:21] #7853 closed, assigned to RealyUniqueName

[2019-03-05 11:47] Gama11 commented on #7821
You fixed the position reporting, but is the null safety error in this case actually legit? `Sys.command()`'s implementation in hxnodejs does have a null-check.

[2019-03-05 12:49] RealyUniqueName commented on #7821
Looks like it's not.

[2019-03-05 14:28] ncannasse opened #7921 "Match on variable name"
Today I was asked why the following now gives a warning:

[code]

I think the match should actually be an error here, given it's always true and can induce the confusion between match and equals (which is the original cause of the problem here)

[2019-03-05 14:28] ncannasse commented on #7921
And I'm glad it's not a regression : the match was always returning true since 3.4.x ;)

[2019-03-05 14:39] Simn commented on #7921
I'm pretty sure this actually is a regression from some Haxe version.

[2019-03-05 14:42] Gama11 commented on #7921
3.2.1 gives this:

[code]

[2019-03-05 19:30] Geokureli opened #7922 "Enum abstracts are not constant when used to define other enum abstracts"
The following fails exhaustiveness checks
[code]

As far as I know, these abstract values are constants and `var HOT = COOL;` should behave the same as `var HOT = 1;` which is not the case.

[2019-03-05 19:31] ncannasse commented on #7921
By "regression", I meant that it never worked as Type.enumEq would have.

[2019-03-05 21:22] lublak commented on #4151
Also BouncyCastle.Crypto.dll throws an error.

[bccrypto-csharp-1.8.5-bin.zip](https://github.com/HaxeFoundation/haxe/files/2932867/bccrypto-csharp-1.8.5-bin.zip)

[2019-03-05 23:00] Gama11 opened #7923 "[display] Null<EnumAbstract> values sometimes missing from toplevel completion"
Main.hx:

[code]

TreeItem.hx:

[code]

The enum values are completely missing from completion here:

![](https://i.imgur.com/NFlBZPT.png)

Some clues, this only reproduces if:

- `TreeItemCollapsibleState` is in a separate module
- `collapsibleState` is `Null<T>`

The expected type seems to be correct.

[2019-03-06 00:10] Gama11 opened #7924 "[display] diagnostics false positive with optional arg skipping + unqualified enum value"
The following compiles fine, but produces an error diagnostic:

Main.hx:

[code]

ReturnTypeHintOption.hx:

[code]

![](https://i.imgur.com/zOolgpF.png)

Some clues, this only reproduces if:
- the enum value is unqualified (`ReturnTypeHintOption.NonVoid` works)
- the enum is in a separate module
- optional argument skipping is used

[2019-03-06 00:25] Gama11 opened #7925 "[nullsafety] arguments with non-null default values"
This compiles with null safety purely because of the `= ""` default value. However, unlike optional arguments with `?`, default values do not imply nullability, and the argument isn't typed as `Null<String>`. So IMO this should error just like it does when the argument doesn't have a default value.

[code]

[2019-03-06 01:39] Gama11 opened #7926 "[display] incorrect activeParameter in signature help with optional arg skipping"
[code]

`"activeParameter": 0` is being reported incorrectly here:

![](https://i.imgur.com/VdMeYfl.png)

Instead, 1 should be reported so that the correct argument is highlighted.

[2019-03-06 01:48] Gama11 opened #7927 "[display] hover fails on pattern matching "rest" arguments"
Hover fails with "Not enough arguments" when hovering over the `_` here.

[code]

It would be neat if it instead listed all the ignored arguments, but I'm not sure if that's possible with the current `DisplayItem` kinds.

[2019-03-06 01:54] Gama11 opened #7928 "[display] expected name for hover on enum arguments in patterns"
Hovering over a function argument at call-site reports an expected name, which allows showing this "for argument" info:

![](https://i.imgur.com/wOMRI3D.png)

It would be nice if the same info was provided in patterns as well - right now the JSON only includes the expected type, but no name.

![](https://i.imgur.com/LXVclKA.png)

[code]

[2019-03-06 08:21] Simn opened #7929 "[display] Invalid package error position spans entire class"
This might be bit specific to haxe/std, but it's quite stupid:

![code_2019-03-06_09-19-04](https://user-images.githubusercontent.com/634365/53866048-e77de800-3ff0-11e9-94a0-1c724ee1e148.png)

We have to check why it thinks the error position is on the class because that seems very random.

Note that I'm fine with the error showing up due to the special semantics of our std package structure. I ju

[2019-03-06 08:52] R32 opened #7930 "static extension "@:using" seems doesn't work on abstract"
[code]

[2019-03-06 09:13] kevinresol commented on #5924
Is this change intentionally apply only to `@:from` fields but not `from` directives?

FYR the following code still generates `BarTools.stringify({ i : 1})`:

[code]

[2019-03-06 10:56] Gama11 opened #7931 "[display] diagnostics miss errors from Haxe's post-processing"
[code]

This fails to compile with `Local variable s used without being initialized`, but there's no diagnostics error for it.

Seems like this is not a regression / has always been this way.

[2019-03-06 11:15] Gama11 opened #7932 "[display] diagnostics miss some parser errors"
Diagnostics are now meant to report parser errors, but they don't in this case:

[code]

On compilation, there's a proper error:

[code]

[2019-03-06 11:39] Gama11 opened #7933 "[display] diagnostics miss null safety errors"
[code]

There's no diagnostics for the null safety error in this example. I can't think of a good reason why null safety errors should be omitted from diagnostics?

[2019-03-06 11:42] Antriel opened #7934 "[analyzer] returning (const) variable prevents optimization"
[code]
Produces:
[code]
But changing the `test` body to:
[code]
Will optimize it down to:
[code]

[2019-03-06 11:46] Simn commented on #7934
That's likely not about the return in particular, but about `test` showing up multiple times, which prevents propagation.

[2019-03-06 11:48] Antriel commented on #7934
Ah sorry, will update the example. It still happens even if the local variable is named differently.

[2019-03-06 11:49] Simn commented on #7933
Same as #7931.

[2019-03-06 11:50] Simn commented on #7931
Any error from our post-processing is missed because we don't run it for diagnostics.

We can explicitly run the var init check and null-safety in diagnostics mode. They are early filters, so it should be fine.

[2019-03-06 11:50] Simn commented on #7931
By the way, do we have diagnostics tests now?

[2019-03-06 11:57] Antriel commented on #7934
Additionally, changing the `test` body to:
[code]
will also prevent optimization.

[2019-03-06 11:58] Simn commented on #7934
As I said, the variable appears multiple times which prevents propagation.

[2019-03-06 11:59] Gama11 commented on #7931
Yep, although just a single one that checks that there are _no_ diagnostics. So no `hasDiagnostics()` helper function or anything like that yet.

https://github.com/HaxeFoundation/haxe/commit/b20cb70290da8ae78bebcf75442d06dad9613752#diff-d56e6b80704188e7ea0e5d667a79876b

[2019-03-06 11:59] Simn commented on #7931
Not easy to fix because we don't have access to a good error function in post-processing. This is going to require some refactoring.

[2019-03-06 12:00] Antriel commented on #7934
Aha, I understand now. Could it be optimized if it was `final` then? Or some other way to achieve optimization?
EDIT: nevermind, I understand. :)

[2019-03-06 12:02] Simn commented on #7934
Has nothing to do with the variable being final or not. It's simply not propagated to the usages, so the condition never resolves to plain `true`. This is something we should fix in the data flow analysis because even if we don't propagate, we can keep track of the value and use it to optimize such cases.

[2019-03-06 12:12] Gama11 opened #7935 "[parser] empty error message for missing )"
[code]

[code]

This used to error with:

[code]

[2019-03-06 12:30] Gama11 commented on #5306
Interesting - when I isolate this to something smaller I now get the "Missing ;" diagnostic since #7912:

![](https://i.imgur.com/H4hcnvv.png)

[code]

However, when copying the full example that diagnostic is missing. There's some "Type not found" since I don't have Kha installed, but that shouldn't matter since that's a typer error at a later stage?

[2019-03-06 12:51] ncannasse opened #7936 "[js] $fid value sharing"
I hit into some weird and very hard to debug error that was related to `$bind` function counter `$fid` being reset, this occured while loading some scripts dynamically. As the result, two methods on same object had the same __id__, leading to $bind returning the wrong closure.

I fixed it in js-classic here: 91dac26cb95dfb891c9bc46fff81d6927e402cc9

However I think the error can still reproduce wi

[2019-03-06 12:58] nadako commented on #7936
yeah if we want multiple haxe modules to interop between each other we have to make them share `$fid` and maybe some other global support context. it should be possible but might require some design.

alternatively we could use module-specific field instead of `hx_closures__` and such (also `__id__` for objectmap?), but it's dirty and can lead to some unnecessary data duplication.

[2019-03-06 13:01] Gama11 opened #7937 "[display] "Can only extend structures" false positive on hover"
[code]

Hovering over `foldingRangeProvider` gives this error:

[code]

Yet the code compiles just fine. It's not a regression, this happens since at least preview 4.

[2019-03-06 13:02] nadako commented on #7937
i thought we consider anything that appeared after 3.4 a regression :-P

[2019-03-06 13:03] Gama11 commented on #7937
I mean, this syntax didn't even exist then. :)

[2019-03-06 13:11] Gama11 commented on #7937
Oh, the error is even more fun with the old syntax:

[code]

[code]

And that one also reproduces with 3.4.7.

[2019-03-06 13:12] Simn commented on #7932
This fails now.

Would be nice to have a test for it...

[2019-03-06 13:16] Simn commented on #7937
Works if the two typedefs are swapped.

[2019-03-06 13:16] Gama11 commented on #7932
I'll look into adding one. That's even a much better compiler error than before! :)

[2019-03-06 13:50] Simn commented on #5306
Well, with missing types it probably just fails so hard that it doesn't recover.

[2019-03-06 13:51] Simn commented on #7935
wat...

[2019-03-06 13:53] Gama11 commented on #5306
But why would parsing care about types?

[2019-03-06 13:54] Simn commented on #5306
It doesn't. I'm assuming the compiler doesn't even reach a point where it reports diagnostics.

[2019-03-06 13:59] Gama11 commented on #7937
Hm, I may have isolated this too much, but I still get this error hovering over _anything_ in [this file](https://github.com/vshaxe/language-server-protocol-haxe/blob/master/src/languageServerProtocol/protocol/FoldingRange.hx). The fun part is that the error points to a different file:

[code]

[2019-03-06 14:17] ncannasse commented on #7845
@Simn try compiling once with good idl (+ server cache), then modify point idl and try to recompile. No error is displayed (in VSCode)

[2019-03-06 14:18] ncannasse commented on #7845
The first problem is reproducible by changing the IDL before opening vscode (no compiler cache)
The second problem requires compiler cache

[2019-03-06 14:35] elsassph commented on #7936
Maybe `hx__closures__` could be an array and `$bind` would use the length of it.

[2019-03-06 14:39] Simn commented on #7935
Fixed, needs test.

There are some different code paths for display/non-display mode in the parser, so we'll have to fiddle a bit to make sure compilation and diagnostics give the same error message.

[2019-03-06 14:41] elsassph commented on #7936
My project works with this `$bind` implementation:

**Edit: this doesn't work sorry :D**

[code]
Edit: optimised for 1st instance bind, 1st method bind, and other cases.

[2019-03-06 14:57] nadako commented on #7936
Right, or we could get rid of global state :)

[2019-03-06 15:04] Simn commented on #7937
I cannot seem to reproduce that...

[2019-03-06 15:05] Simn commented on #7935
Actually, I don't want to insist on them being equal in all cases. Compilation parsing is optimized for performance, so if it gives less ideal (but still correct) messages in some cases I'm fine with that.

[2019-03-06 15:08] Gama11 commented on #7935
Sure, as long as there aren't cases where you get an error on compilation that doesn't happen in diagnostics or vice-versa.

[2019-03-06 15:09] Simn commented on #7928
Requires some refactoring because this information is currently lost when handling patterns.

[2019-03-06 15:13] Simn commented on #7927
I have no idea what I'm supposed to show here. There is no Haxe type to use for this.

[2019-03-06 15:15] Gama11 commented on #7927
Maybe we could have some "meta" display item kind that's just a list of others?

[2019-03-06 15:16] Simn commented on #7927
That seems excessive for such a special case.

[2019-03-06 15:18] Gama11 commented on #7937
Hm, that's strange.. I assume you just open `FoldingRange.hx` from the vshaxe workspace and the hover over stuff?

[2019-03-06 15:19] Simn commented on #7937
Ah, I was in `FoldingRangeFeature.hx`.

[2019-03-06 15:22] Gama11 commented on #7927
Well, that's of course in the hope that it might come in handy for other stuff too, although I can't think of something right now... :/

[2019-03-06 15:24] kevinresol commented on #7637
This is a regression, can we have it in haxe 4 release?

[2019-03-06 15:24] kevinresol commented on #7636
This is a regression, can we have it in haxe 4 release?

[2019-03-06 15:26] Simn commented on #7636
I don't really understand what's wrong here because the errors look like I expect them to:

[code]

[2019-03-06 15:28] kevinresol commented on #7636
Aha, I just tested with haxe4rc1 and it reports this:

[code]

But with 4f3881b it is working as you described.

Ready to close. Thanks!

[2019-03-06 15:28] #7636 closed, assigned to nobody

[2019-03-06 15:28] Simn commented on #7926
This requires a bit of a different approach to how we detect this, but I think it's a worthwhile fix to have.

[2019-03-06 15:29] kevinresol commented on #7637
Ok, this is fixed in nightly too.

[2019-03-06 15:29] #7637 closed, assigned to nobody

[2019-03-06 15:29] Simn commented on #7636
Right, I probably fixed this during my recent eval-debugger adventures.

[2019-03-06 15:32] Simn commented on #7926
Come to think of it, this probably leads to a big mess with overloads. The argument could be number 2 on one overload and number 1 on another.

[2019-03-06 15:33] kevinresol commented on #6282
@ncannasse what is the specification here?

[2019-03-06 15:35] Gama11 commented on #7926
Yeah, I think I've noticed weird signature help behavior with overloads as well.

[2019-03-06 15:38] Simn commented on #7926
But what can we do about it?

[code]

The `activeParameter` is not tied to the list of signatures. So once I switch to a different overload the information of which one is the active parameter is lost.

[2019-03-06 15:47] Gama11 commented on #7926
I think the new signature context API actually added something for that (but that hasn't made it into the LSP yet):

https://github.com/Microsoft/vscode/issues/33413#issuecomment-452096700

[2019-03-06 15:50] Simn commented on #7926
In that case I prefer to not change this for the time being.

[2019-03-06 15:50] #7932 closed, assigned to nobody

[2019-03-06 16:04] Gama11 commented on #7931
I assume "Type name should start with an uppercase letter" is one of these too?

[2019-03-06 16:05] Simn commented on #7931
No, that's a parser error. But it might be a hard error still.

[2019-03-06 16:06] Gama11 opened #7938 "[display] more missing diagnostic parser errors"
[code]

Compilation fails with this, but no diagnostics:

[code]

[2019-03-06 16:10] #7921 closed, assigned to Simn

[2019-03-06 16:14] Gama11 commented on #7926
In theory we could always just work around / bypass the LSP, but meh..

[2019-03-06 16:32] Simn commented on #7938
This relates to class field resuming and is therefore nothing I want to touch right now/ever.

[2019-03-06 16:35] Gama11 commented on #7938
Hm.. I guess all parser errors on field level are related to that? Such as:

[code]

[2019-03-06 16:38] Simn commented on #7938
Yes, and there are at least two problems here: One is to get the error when resuming, the other is to get to a state where we report diagnostics in the first place. I think we have to put an exception handler around our entire typing to do this.

[2019-03-06 16:39] Gama11 opened #7939 "[display] missing diagnostic for missing = in typedef"
[code]

Compilation errors with `source/Main.hx:1: characters 16-17 : Unexpected {`, but no diagnostic.

[2019-03-06 16:44] Gama11 opened #7940 "[display] missing diagnostic for unterminated strings"
[code]

Fails compilation with "Unterminated string", but no diagnostic. I guess this is technically a lexer, not a parser error?

[2019-03-06 17:25] RuiCuco opened #7941 "Date in Java target"
It uses a deprecated API.

[2019-03-06 17:28] RuiCuco opened #7942 "Float number in C#"
The number 123.e12 gives an error in C#, but not in other targets. It has to be 123.0e12.

[2019-03-06 18:56] elsassph commented on #7936
What do you mean about the global state?
My proposed reimplementation doesn't use a counter so it will work for multiple JS files, with and without js-classic.

[2019-03-06 18:58] elsassph commented on #7936
Oh wait there's a problem. The ID is shared across instances. That's doesn't work... I'm probably lucky that it works for my project - and it's a real complex project :D

[2019-03-06 19:03] elsassph commented on #7936
That's silly but indeed we depend on a global counter if we want to be completely safe when sharing code between different Haxe JS modules... The right way to do it I think is to attach `$bind` to the global state (if not already defined) as a closure with a private counter.

[2019-03-06 19:31] #7935 closed, assigned to Simn

[2019-03-06 20:09] #5306 closed

[2019-03-06 20:11] Simn commented on #7938
I realized that we already handle this for the most part. The main problem was the same as in #5306 because we never reached a point where we would emit diagnostics.

I'm now catching `Error.Error` and raise the `Diagnostics` exception if we're in diagnostics mode.

[2019-03-06 20:11] Simn commented on #7939
This works now as well, still needs a test.

[2019-03-06 20:29] Simn commented on #7940
This should work now!

[2019-03-06 21:33] #7938 closed, assigned to nobody

[2019-03-06 21:33] #7939 closed, assigned to nobody

[2019-03-06 21:33] #7940 closed, assigned to nobody

[2019-03-06 21:42] Gama11 opened #7943 "[display] even more missing parser error diagnostics"
[code]

Compilation fails with `Missing ;`, but there's no diagnostics (well, apart from `This code has no effect`).

[2019-03-06 21:46] Gama11 opened #7944 "[display] still more missing parser error diagnostics"
[code]

This fails to compile with `Expected }` but has no diagnostics.

I'm guessing this is the field resuming case that @Simn mentioned in #7938.

[2019-03-06 21:47] Gama11 opened #7945 "[display] missing parser diagnostics for misspelled from/to in abstract decl"
[code]

This fails to compile with `Expected {`, but it has no diagnostics. Interestingly, there _are_ proper diagnostics for misspelled `extends` / `implements` for classes.

[2019-03-06 21:47] Gama11 opened #7946 "[display] starting to run out of issue titles for missing parser diagnostics"
[code]

No diagnostics, but `Unexpected open` on compilation. I guess this is an issue for all module-level keywords (`class`, `package`...).

[2019-03-06 22:40] Simn commented on #7943
I think this is because we only show exactly one diagnostics per position. I'm not sure why the "no effect" one takes priority though.

[2019-03-06 22:42] Gama11 opened #7947 "[typer] unhelpful multi-line error ranges for switches in value places"
If a switch is used in a value place, and one of the cases doesn't return anything, the resulting error spans the entire range of the switch, which is not very helpful.

[code]

This affects error reporting both on the command line and in diagnostics:

![](https://i.imgur.com/7KHh835.png)

I think the best-case would be if only the `case` that's missing a return value was marked (`case Right(_):`

[2019-03-07 00:13] #7947 closed, assigned to nobody

[2019-03-07 00:15] Simn commented on #7947
It now uses `case Right(_)` as the position. That's the best we can do because it's the only position we have if there is no case expression.

As a bonus, if you swap the cases it now errors on the `true` instead of the entire case.

[2019-03-07 00:47] Gama11 opened #7948 "[display] missing parser error diagnostic for nested classes"
Don't laugh, this happened as a result of a copy-paste fail. 🙃

[code]

This doesn't diagnost, but compilation fails with a parser error obviously.

[2019-03-07 09:59] elsassph commented on #7936
What about:
[code]
It makes `$bind` global without risking to expose the counter variable.

[2019-03-07 10:03] skial commented on #7777
I've just tested the issue code with the `fe0802f` nightly build and the warnings no longer appear.

[2019-03-07 10:30] Gama11 commented on #7777
As far as I can tell, this was actually just an issue with diagnostics, not with compilation? I'll add a test for this.

[2019-03-07 10:30] nadako opened #7949 "[nullsafety] cannot unify a null-checked value with a non-nullable field"
[code]

[2019-03-07 10:44] #7777 closed, assigned to nobody

[2019-03-07 11:06] #7943 closed, assigned to nobody

[2019-03-07 11:06] #7945 closed, assigned to nobody

[2019-03-07 11:06] #7946 closed, assigned to nobody

[2019-03-07 12:52] lublak opened #7950 "Allow to modify the abstract value without local variable"
I think it's a simple improvement.
I look in the ocalm code but i don't figure out how i can fix it myself.
But i think it could be simple wrap the call into a tmp variable.

Example:
https://try.haxe.org/#36D8D

[2019-03-07 13:01] Simn commented on #7950
Without thinking about it too much, this might be a matter of adding `| TBlock el when el <> [] -> is_writable (List.hd (List.rev el))` to `is_writable`.

[2019-03-07 16:00] Simn opened #7952 "[display] goto definition follows too much sometimes"
[code]

Requesting the definition of `HaxeRequestMethod` (in `new HaxeRequestMethod`) brings us to `RequestMethod` instead of the intermediate `HaxeRequestMethod`.

[2019-03-07 16:02] Gama11 commented on #7952
Duplicate of https://github.com/HaxeFoundation/haxe/issues/7906? ;)

[2019-03-07 16:03] Simn commented on #7952
indeed

[2019-03-07 16:03] #7952 closed, assigned to Simn

[2019-03-07 16:20] Gama11 opened #7954 "[nullsafety] --macro include() can break null safety"
`source/foo/Main.hx`:

[code]

[code]

This works as expected:

[code]

However, if you swap the two `--macro` calls, null safety silently breaks / doesn't complain anymore.

[2019-03-07 16:20] #7906 closed, assigned to Simn

[2019-03-07 16:20] Simn commented on #7906
Note that this wasn't specific to abstracts.

[2019-03-07 17:11] Gama11 opened #7955 "[display] JSON-RPC display protocol doesn't return JSON for errors"
Errors in the display protocol seem to be plain strings right now like `Error: No completion point was found`, which doesn't follow the JSON-RPC spec (which actually defines an `error` field and error codes).

[2019-03-07 17:28] #7955 closed, assigned to nobody

[2019-03-07 18:00] RMax2015 commented on #7720
https://docs.microsoft.com/en-us/windows/desktop/menurc/versioninfo-resource

https://docs.microsoft.com/en-us/windows/desktop/appxpkg/how-to-sign-a-package-using-signtool
It looks like you need to run the Sign Tool from Windows 8+

Hope this helps!

[2019-03-07 19:26] Gama11 opened #7956 "[display] `@:optional` with nothing after it in hover expr"
This looks quite peculiar:

![](https://i.imgur.com/9VGhaPt.png)

The JSON has this:

[code]

Something must be wrong with Haxe's printing there. Original code:

[code]

[2019-03-07 23:23] Gama11 opened #7957 "[nullsafety] more issues with local functions"
It seems like this should work in loose mode:

[code]

Somewhat similar to #7853, except that the null check isn't inside the inner function here.

[2019-03-08 02:30] andyli opened #7958 "Fail to build with sedlex v2.0"
Sedlex v2.0 was recently released, and Haxe failed to build with it.

[code]

FYI, the diff between sedlex 1.99.4 and 2.0: https://github.com/ocaml-community/sedlex/compare/v1.99.4...v2.0

[2019-03-08 06:27] Simn commented on #7958
I'll look into this next week. Can we pin the last working version until then?

[2019-03-08 06:35] andyli commented on #7958
Sure. Thanks!

[2019-03-08 06:38] Simn commented on #7958
Do you know which OCaml version is run on our CI? I can't find that in the log. Maybe we need a `ocamlopt --version` somewhere.

[2019-03-08 06:44] andyli commented on #7958
For Linux, it's 4.02.3 from ppa:haxe/ocaml. For Mac, it's from homebrew, which usually is the latest release (4.07.1 at the moment).

I agree it's good to print the OCaml version. Will add.

[2019-03-08 06:47] Simn commented on #7958
That is strange though because [my build](https://travis-ci.org/Simn/haxe/builds/503039383) was failing only on OS X and they talk about [removing support for 4.02.3](https://github.com/ocaml-community/sedlex/issues/69).

[2019-03-08 06:54] andyli commented on #7958
The Linux builds succeed because they used sedlex 1.99.2, because the later versions of sedlex have `ocaml>=4.03.0` defined in their opam files.

[2019-03-08 10:33] andyli commented on #7720
It happens to have a code signing related discussion on hacker news today:

Notepad++ drops code signing for its releases - https://news.ycombinator.com/item?id=19329330

Some quotes:

---

---

Just saying this could be painful. I guess we still have to go through this to help users to comply with their company policies.

I think it is better to have @ncannasse to get the cert first, since the pr

[2019-03-08 11:03] Simn commented on #7720
@Neverbirth: Did I understand correctly that adding the metadata would be "good enough" for now?

[2019-03-08 11:13] Neverbirth commented on #7720
Sadly not :/. I provided to our IT department some lix version with the metadata and it was not enough... what I didn't get to check is if a "trusted" certificate is needed, I think a self signed one is good enough. I wanted to look into that one these past days but I was busy... Valid certificate would probably be needed for things like the ones mentioned above: antiviruses, UAC, etc.

[2019-03-08 11:57] Gama11 opened #7959 "[display] hover on Map constructor call"
Not sure I've seen this many compiler internals exposed in a single hover yet. :D

![](https://i.imgur.com/TOqHIx3.png)

- `_new` instead of `new`
- `_Map` (this is #5627 I guess)
- `_Impl_`
- monomorphs (also expected here I guess)

[code]

[2019-03-08 11:58] Simn commented on #7959
`<?, ?>` is my face when I investigate these issues.

[2019-03-08 12:00] haxiomic commented on #7913
I agree this should be fixed at the compiler level but given there's a lot in the queue I'll tweak the extern generator to reorder overloads (this won't fix 100% of cases but should fix most :))

[2019-03-08 12:46] Gama11 opened #7960 "[display] DisplayLocal vs FunctionArgument.opt"
[code]

There's no way to tell whether the argument `bar` is actually optional or just `Null<T>` from the data reported by hoveing over it (a `DisplayLocal`).

![](https://i.imgur.com/AooaWOn.png)

This is inconsistent with the data obtained from hovering over the function itself (`foo`), which includes this via the `opt` flag.

[2019-03-08 12:49] Gama11 commented on #7282
Huh, was this accidentally fixed somehow? Now seems to be working:

![](https://i.imgur.com/2TDwcKw.png)

I guess I'll add a test and close this.

[2019-03-08 12:59] Gama11 commented on #7282
Oh, this is reported as `DKRemovableCode`, and the range on that is pretty off..

![](https://i.imgur.com/fXt42Xj.gif)

[2019-03-08 14:06] SundialServices commented on #7720
I suspect that, in the end, a variation of the **letsencrypt.org** strategy will prevail, because it is most-important that the executable _is signed,_ not that someone paid money or that someone else looked up an address in a phone-book and made a call that was answered.

"Code signing" fundamentally exists to resist _tampering,_ not to "vouch for" the thing that was originally signed.  Malware c

[2019-03-08 16:32] Gama11 opened #7961 "[display] find references on $type returns strange results"
[code]

When invoking find references on `$type` _twice_ (somehow the first time it returns nothing), some strange / random results are returned:

![](https://i.imgur.com/aczIXBe.png)

[2019-03-08 16:57] Gama11 opened #7962 "[display] completion results on hover"
It looks like hovering over the `import` here returns results for `display/completion` instead of `display/hover`..

[code]

[2019-03-08 18:07] #7911 closed, assigned to nobody

[2019-03-08 18:43] jcward opened #7963 "Metadata doesn't work on Enums"
The docs (https://haxe.org/manual/lf-metadata.html) specifically state the metadata can by applied to both the enum declaractions and enum constructors. However, only a `class` is shown in the example code on that page.

If I copy that example to try.haxe.org (https://try.haxe.org/#F8faa), and add an enum with various metadata, I can see in the **JS Source** tab that the metadata specified on the

[2019-03-08 18:45] Gama11 commented on #7963
What you added there is _compile-time_ metadata (prefixed with a `:`), which won't show up in the output.

[2019-03-08 18:47] jcward commented on #7963
Huh, ok then.

[2019-03-08 18:47] #7963 closed, assigned to nobody

[2019-03-08 18:48] Gama11 commented on #7963
Documented here:

https://haxe.org/manual/lf-metadata.html#compile-time-metadata

[2019-03-08 18:49] jcward commented on #7963
Perhaps I'll submit a PR for a better example, including Enums, and maybe even a comment about compile-time metadata.

[2019-03-08 22:12] Gama11 opened #7965 "Document analyzer defines in --help-defines"
Currently, none of the [analyzer defines](https://github.com/HaxeFoundation/HaxeManual/pull/376#issuecomment-470453313) are documented in `--help-defines`.

I'm not sure if all the ones for individual modules should be there? But I think at least `analyzer-optimize` and `analyzer-times` should be listed.

[2019-03-09 02:08] R32 commented on #7965
I'm just wonder when the `analyzer-optimize` will be default.

[2019-03-09 09:28] Gama11 commented on #7965
At least not for Haxe 4 I guess, it'd be a bit late to make a change like that (RC stage already).

[2019-03-09 11:53] Gama11 opened #7966 "Error range of inheritance errors"
All inheritance-related errors currently color the entire class in question red.

- Should extend by using a class
- Cannot extend type parameters
- Cannot extend basic class
- etc

Ideally, the range would only span the `extends Type` portion.

[code]

![](https://i.imgur.com/2d4XjpL.png)

[2019-03-09 16:18] ibilon opened #7967 "using ClassField as map key hangs compilation on js target"
[code]

Hangs only on js target compilation.

[2019-03-09 16:32] Gama11 commented on #7967
Not a regression, it seems, I can reproduce it all the way back to 3.2.1.

[2019-03-09 16:33] elnabo commented on #7967
It might be related to #5785.

[2019-03-09 17:57] posxposy commented on #7199
Just tried it on interfaces and it won't compile with latest hxcpp (4.0.8) and haxe-rc-1
Example:
[code]

Compilation error:
[code]

I found that with natigeGen meta It is using `::__new();` to construct object instead of `::allog(ctx);'. Don't know it is by design or it is a bug.

[2019-03-09 20:53] ncannasse opened #7968 "Import a module with same definition twice wrong error position"
[code]

[code]

`haxe -x Main` gives:
`Main.hx:1: characters 8-11 : Type name A is already defined in this module`

Whereas it should give the error in Foo module.

[2019-03-09 20:58] ncannasse commented on #6282
I think it should work, because readBytes allows to return less than what was actually read. But I'm not sure how to fix this either.

[2019-03-09 20:59] ncannasse commented on #7941
Duplicate of #5294, is part of 4.0 Milestone

[2019-03-09 20:59] #7941 closed, assigned to nobody

[2019-03-09 21:04] ncannasse commented on #7948
@Simn don't trust him, I'm sure he wrote a bot to generate random code and report the cases where parser fail but not diagnostics :D

[2019-03-09 21:07] Gama11 commented on #7948
You're gonna laugh, but that's actually something I considered... should be fairly straightforward...

[2019-03-09 21:08] ncannasse commented on #7936
As a reminder, haxe.ds.ObjectMap.count is also a problem. I think it's better to expose a global $hx_counter and use it for both $bind and ObjectMap.

[2019-03-09 21:08] Gama11 commented on #7941
Not anymore it seems:

![](https://i.imgur.com/NrNgmCN.png)

[2019-03-09 21:12] ncannasse commented on #7954
I think it's by-design. The include will prevent null safety metadata for being registered in the classes.

[2019-03-09 21:17] Gama11 commented on #7954
That seems highly surprising / dangerous (since it makes null safety silently do nothing). I think @ibilon ran into the same issue, and he had a case where it's tricky to fix the order as well.

How is it by design? `nullSafety()` uses `addGlobalMetadata()` under the hood, not `include()`. Or are they related?

[2019-03-09 21:21] ncannasse commented on #7720
There seems to be two kind of certs for code signing "normal" ones, and "EV ones", only the later gives instance Smartscreen Reputation, but it requires two-factor auth so I guess it's harder to automate, I'll get a normal one for now.

[2019-03-09 22:45] ncannasse commented on #7941
@RuiCuco interested in submitting a PR ?

[2019-03-09 22:46] ncannasse commented on #7954
I think addGlobalMetadata needs to be called _before_ the modules are parsed, and _include_ does load all the modules. One solution would be for include to "queue" the modules from being loaded instead.

[2019-03-09 22:52] Gama11 commented on #7954
Ah, I see.. it wasn't obvious to me that `include()` immediately _does_ the inclusion when you call it (rather than doing something like your proposed solution).

[2019-03-10 10:50] elsassph commented on #7936
Yuk then yes code you be using a `$global.$hx_counter`. I'd only suggest the reference to be qualified to avoid scope climbing.

[2019-03-10 13:06] ncannasse opened #7969 "Hashlink Int to Float"
[code]

This produces a lot of constant Int-to-Float conversions in HL at runtime, whereas we should infer these as constant floats.

[2019-03-10 20:32] ncannasse opened #7970 "Profiling data"
I found the following when looking at gprof output for haxe:

[code]

This means that AnalyzerTexpr.create allocates `a lot` of Hashtbl (122688 in my case compared to a total of 298794 for the whole compilation). I'm not sure if they are all used or not, maybe some kind of optim would help here, for instance having a static shared empty Hashtbl until first insert is done (if they are most often em

[2019-03-10 20:34] sledorze commented on #5785
Thanks guys to take care of that long standing issue 👍

[2019-03-10 20:46] Simn commented on #7967
I don't think it's related because there are no type parameters involved here. It is however very likely the same as #7781.

[2019-03-10 21:44] Simn commented on #7970
We can try using `StringMap` instead.

[2019-03-10 23:35] ncannasse commented on #7969
Closed by b835bb0190078cf6c22b8e8551d28b810206c1cf (thanks @Gama11)

[2019-03-10 23:35] #7969 closed, assigned to nobody

[2019-03-10 23:57] Gama11 opened #7972 "[display] positions of switch subject are off"
Hover / goto declaration etc don't seem to work properly on complex switch subjects anymore. For instance in this example, hover always highlights the entire expression and doesn't provide docs for the individual components (`Std`, `int()`...).

![](https://i.imgur.com/MgQdwYF.gif)

[code]

It actually seems to have been this way for quite a while (at least since preview 4). However, it does work

[2019-03-11 07:39] nadako opened #7973 "[nullsafety] false-positive in pattern matching"
[code]

[2019-03-11 08:12] Simn commented on #7970
See if that did anything

[2019-03-11 08:19] Simn commented on #7972
Probably caused by https://github.com/HaxeFoundation/haxe/commit/b3a6dc1824b418c7008718f216b6255a9a0b994f

[2019-03-11 08:32] #7972 closed, assigned to nobody

[2019-03-11 08:40] Simn commented on #7967
It's not the same after all. This issue reproduces with `ObjectMap`, whereas #7781 doesn't.

[2019-03-11 08:41] Simn commented on #7781
Setting this to 4.0 because it's quite bad.

[2019-03-11 10:56] sonygod commented on #4066
@:coreApi can not allow use in hashlink,

[2019-03-11 16:18] nanjizal commented on #7896
Can we pass the abstract type to a function, how do we type it, see commented out wishful code.
http://try-haxe.mrcdk.com/#96a5A

[2019-03-11 16:26] nanjizal commented on #7896
It's quite useful to be able to extract abstract enum names for use in user API's and also to setup so they could be called via hScript, similar with Typedef'd structures as I mentioned earlier, sure the runtime would be heavy used this way.  Obviously with more boiler plate it can be worked round.

[2019-03-11 20:27] Geokureli opened #7974 "ArrayAccess is unable to resolve Enum types for shared instance names"
The following results in "Error: No @:arrayAccess function accepts arguments of Bar and Int"

[code]
When Foo is defined after Bar ArrayAccess fails for barMap instead.

I'm expecting array access to behave identical to set() calls

Observed on 3.4.4 and latest dev. Possibly related to: #6743

[2019-03-12 08:51] Simn commented on #7781
This is related to (and probably caused solely by) https://github.com/HaxeFoundation/haxe/commit/858f28ea0536d60a3509fcd3e3900ee7a999f6f5

[2019-03-12 09:24] ncannasse commented on #7896
I think this should be turned into a language proposal or closed. I'm personally in favor not to generate anything here and let the macro deal with it.

[2019-03-12 09:29] ncannasse commented on #7781
@simn restricting the stack depth here might be good enough

On Tue, Mar 12, 2019 at 10:00 AM Simon Krajewski <notifications@github.com>
wrote:

[2019-03-12 09:32] Simn commented on #7896
Agreed, this would have to come as an evolution proposal.

[2019-03-12 09:32] #7896 closed, assigned to nobody

[2019-03-12 10:28] #7781 closed, assigned to Simn

[2019-03-12 10:28] #7967 closed, assigned to nobody

[2019-03-12 10:28] Simn commented on #7967
I'm retarded, it doesn't reproduce with `ObjectMap`.

[2019-03-12 10:30] Simn commented on #7781
It occurred to me that we don't need an actual stack for this kind of check. We only care about revisiting types, not doing so in a recursive way. I've moved the stack outside of the check loop (which technically means it's not a stack but more like a lut) to make sure we look at every type exactly once.

[2019-03-12 11:33] #6430 closed

[2019-03-12 11:57] delahee commented on #6430
Oh Thanks a lot Simn :)

Le mar. 12 mars 2019 à 12:33, Simon Krajewski <notifications@github.com> a
écrit :

[2019-03-12 13:01] #7966 closed, assigned to nobody

[2019-03-12 13:23] Simn commented on #7974
Well, we use the type of the array access index to find the `@:arrayAccess` function, not the other way around. I suppose we could use top-down inference if there's only one applicable `@:arrayAccess` function on the abstract in question.

[2019-03-12 13:36] Simn commented on #7973
Note that the pattern matcher translates this to an `if`. We should also check if this occurs if there are more than two cases.

My guess is that the null-checker doesn't deal with `TEnumParameter` correctly. This can basically be treated like a field access to a `final` field because enum values are immutable.

[2019-03-12 13:42] Simn commented on #7962
Too messy to fix this for 4.0 and I doubt normal people run into this.

[2019-03-12 13:45] Simn commented on #7961
I kinda want to wontfix this but at the same time I am very curious wtf is happening here...

[2019-03-12 13:46] Gama11 opened #7975 "[display] range of field access hovers"
When hovering over `Std`, only that token is part of the hover range. However, when hovering over `int`, the entire `Std.int` is highlighted.

This has an unfortunate consequence: When you move left-to-right, the hover switches from `Std` to `int` as expected:

![](https://i.imgur.com/HvqHSIp.gif)

However, moving in the other direction, nothing happens, as `Std` is already part of the current hov

[2019-03-12 13:48] Gama11 commented on #7961
This doesn't seem specific to `$type` at all actually, it seems that inovking it on any keyword will have the same result.

[2019-03-12 13:59] Simn commented on #7975
I think we have to calculate this by doing `{ p with pmin = p.pmax - String.length cf.cf_name }` because we don't have the accurate position in our AST. I'm concerned about the typed field name not being equal to the one that appears in syntax though. I think that could happen with properties, and also with `@:native` but I don't think we ever handle that before we handle displaying.

Too risky fo

[2019-03-12 14:17] Simn commented on #7948
This is going to require adjustments to the field resuming, which I don't want to touch for 4.0.

[2019-03-12 14:19] Simn commented on #7959
This is too crazy for 4.0.

[2019-03-12 14:20] Simn commented on #7936
This sounds like something we should do for 4.0.

[2019-03-12 14:21] Simn commented on #7796
Can we close this?

[2019-03-12 14:22] Simn commented on #7832
I have moved this to 4.1 because there is no reproducible example at the moment.

[2019-03-12 14:24] Simn commented on #7728
Not gonna change anything for 4.0 after all. Mostly because I'm not sure what to change.

[2019-03-12 14:24] Simn commented on #7748
That might be a good hack.

[2019-03-12 14:40] nadako commented on #7796
Not yet, I have to figure out how to actually pin the dependency now.

[2019-03-12 14:41] nadako commented on #7796
(i have a [branch](https://github.com/nadako/haxe/commits/extlib_upgrade))

[2019-03-12 14:53] Simn commented on #7796
Why do we have to pin something though? We should only need pinning if we want to rely on an older version of a lib.

[2019-03-12 14:54] Simn commented on #7827
This is nice-to-have but not really 4.0-critical.

[2019-03-12 14:59] Simn commented on #7793
This should be resolved. I probably won't know for sure until we make a release, but we're definitely on the right track here.

[2019-03-12 14:59] #7793 closed, assigned to Simn

[2019-03-12 15:08] nadako commented on #7796
Well, it's not exactly "pinning", it's ` >= "1.7.6"` to make sure we're using the fixed version.

[2019-03-12 15:10] nadako commented on #7796
The problem is that it currently says `  - No package matches extlib>=1.7.6.`, even though it's there (https://opam.ocaml.org/packages/extlib/) and I didn't have a change to investigate the reson.

[2019-03-12 15:14] Simn commented on #7845
I cannot reproduce that:

[code]

I'll go ahead and assume that this has been fixed. Please reopen if you can still reproduce it.

[2019-03-12 15:19] Simn commented on #7778
It's unclear to me if there's anything I have to do here for 4.0. I like the idea of tying invalidation to a type, which I think comes down to allowing to set up a module dependency by hand.

[2019-03-12 15:36] back2dos commented on #7778
To me it's still not clear if `@:persistent` works as advertised or not. And if doesn't (as Nicolas would seem to indicate), then something should be done about it for 4.0.

[2019-03-12 15:46] Simn commented on #7778
I'm happy to discuss this, but I'll need a concrete example that shows what isn't working as expected.

[2019-03-12 16:07] Gama11 commented on #7748
Hm, I still get the same error with the code example from this issue:

[code]

Also note that `"id": null` there, that's not good (but might be a separate issue).. I think that's what leads to completion hanging forever:

![](https://i.imgur.com/VKv5tas.png)

[2019-03-12 16:15] Simn commented on #7748
I tested your example and it works for me. Are you sure you updated properly?

[2019-03-12 16:15] Simn commented on #7748
... or maybe the problem is that I don't actually have HAXEPATH defined.

[2019-03-12 16:18] Simn commented on #7748
I guess the problem is that we don't actually have line breaks, but escaped `\n` instead. 💩

[2019-03-12 17:11] DevRubicate opened #7976 "Compiler fails to optimize pointless variable assignments"
Obviously in this little minor example it's no big deal, but I have an issue with inlined constructors for transformation matrices that spews out hundreds of pointless dummy variable assignments over and over.

Haxe code:
[code]

JS output:
[code]

build.hxml:
[code]

[2019-03-12 17:19] Simn commented on #7905
This is probably not about `@:genericBuild` but about `defineType`. There's a pass problem involved here because we trigger the build while in PTypeField, but after the type has been added, nobody ever flushes PBuildClass before trying to look up the field.

Our pass handling makes my head hurt a bit.