[2019-03-12 17:42] Simn commented on #7976
Interesting, it is thrown off by the integer assignment:

[code]

[2019-03-12 18:47] DevRubicate commented on #7976
Ah, you are right, I didn't realize the typing was causing it. Testing a bit, I'm getting the same issue with my abstract RGB(Int) to Int, from Int, when I assign an integer to the RGB typed variable, compiler doesn't dare optimize the assignment away.

[2019-03-12 20:46] Gama11 opened #7977 "[display] find references on overriden methods"
[code]

When "find references" is invoked on `Child`'s `update()` declaration, no results are returned, which is somewhat annoying.

IntelliJ, at least for Java, has a "Do you want to find usages of the base method?" popup for situations like this. I don't think the LSP supports this, but it seems like the sort of thing that might be added in the future, so for future-proofing it would be nice if

[2019-03-12 23:34] realcraig opened #7978 "Socket flags lost after calling connect() on ipv6 address"
[This code](https://github.com/HaxeFoundation/haxe/blob/52862239942262c3f83fa8ff00703d7b99cdb6f0/std/cpp/_std/sys/net/Socket.hx#L159-L171) in Socket.hx connect() determines if an ipv6 connection is needed. If so, it destroys the current socket and creates a new socket. In doing so, any flags that were set on the socket prior to the connect() call are lost, specifically, the flags set by these meth

[2019-03-13 04:49] ncannasse commented on #7978
Hi, I heard you fixed the problem on your side, could you submit a Pull Request ?

[2019-03-13 09:46] RealyUniqueName commented on #2861
Not yet
https://github.com/HaxeFoundation/haxe/blob/69b79b7ea09a2b0857e8c8c8d6042e3e941bdc0f/std/java/_std/haxe/zip/Compress.hx#L31-L34

[2019-03-13 12:34] Simn commented on #5896
To illustrate the problem, consider code like this:

[code]

The analyzer transformation moves the conditional block into the loop body, which is good for code generation in general:

[code]

However, we cannot simply take the exit condition and put it in a `} while(condition)` because then we run into scoping problems (not on JS, but on targets with sane scoping behavior).

[2019-03-13 14:02] nanjizal commented on #2861
Haxe api does not seem to have many of the standard Zip libaries I only see a few.
https://api.haxe.org/java/util/zip/Deflater.html
For instance seems common to have more
https://docs.oracle.com/javase/8/docs/api/index.html?java/util/zip/package-summary.html

Java docs on Deflater recommend a try catch implementation this code if it fails would fail hard on java target as Java does not provide muc

[2019-03-13 14:36] SmerkyG opened #7980 "private class in haxe 4.0 disallows @:access"
In Haxe 4.0 using the private modifier on a class makes that class impossible to get at via @:access. Not sure if this is desirable or not, but it sure makes extending some parts of Heaps tricky! e.g. @:access(h2d.Graphics.GraphicsContent) does not allow it to become visible for use as a superclass, for example. I think if @:access is allowed for private fields it should also be allowed for privat

[2019-03-13 14:42] Gama11 commented on #7980
I don't think that's specific to Haxe 4, it's always been that way:

- https://github.com/HaxeFoundation/haxe/issues/4210
- https://github.com/HaxeFoundation/haxe/issues/5731

[2019-03-13 15:10] SmerkyG commented on #7980
Gotcha. Yeah looks like this was considered and decided against in 2018.

[2019-03-13 15:16] SmerkyG commented on #7980
Just to point out, though: you cannot even use @:access a private class's members! So for example @:access(h2d.TileGroup.TileLayerContent) will not allow you to access myTileGroup.content.tmp

Effectively, private classes are entirely beyond the scope of @:access, even on a member basis.

[2019-03-13 15:23] SmerkyG commented on #7980
Oh very odd indeed! It actually DOES allow access to the members of the private class if you don't qualify the name with the file that it's in:

@:access(h2d.TileLayerContent)
instead of
@:access(h2d.TileGroup.TileLayerContent)

The module namespaces sure are confusing in this situation!

[2019-03-13 15:29] Gama11 commented on #7980
There's also some related issues for that one. :)

- #3590
- #3638

[2019-03-13 15:36] gene-pavlovsky commented on #7720
I've had some experience with this issue when I was doing a job for a client in USA.

With my guidance, they bought an EV code signing certificate from DigiCert. EV means "extended validation", and there are some differences:
- DigiCert actually checks various details about the company they issue this certificate to. Anyone can get a certificate from LetsEncrypt, but all that certificate does is p

[2019-03-13 15:37] gene-pavlovsky commented on #6867
I have some hands-on experience with this stuff, commented here
https://github.com/HaxeFoundation/haxe/issues/7720#issuecomment-472476113

[2019-03-13 16:12] kevinresol opened #7981 "Can't use both `@:arrayAccess` and `@:resolve` on the same field?"
Haxe4 rc1:

[code]

`src/Main.hx:4: characters 11-16 : I has no field foo`

if we reverse the order of the two meta:

`src/Main.hx:5: characters 14-17 : String should be Int`

[2019-03-13 16:54] Simn opened #7983 "[eval] Improve capture variable handling"
The current implementation of handling captured variables is not ideal. In fact, it kinda falls apart in certain scenarios. By now I have a fairly clear idea of how I want to do this, but it is going to require some effort so I'm not sure I'll be able to do it for Haxe 4.0.

[2019-03-13 20:21] ncannasse commented on #7845
New (more precise) instructions for second bug:

Add the following line to the class Point in sample.idl:

```NotExisting foo();```

Compile.
Error is reported within Module.hx (TPath call) instead of the inserted position (within idl file). Most likely a position mistake (using the runtime one)

I confirm original issue + third issues seems to be fixed. Only second issue remains.

[2019-03-13 20:25] ncannasse commented on #7778
My problem has been solved with #7448

[2019-03-13 20:25] #7778 closed, assigned to nobody

[2019-03-13 21:51] #7980 closed, assigned to nobody

[2019-03-14 14:51] R32 opened #7986 "[eval] String encoding looks inconsistent"
[code]
The strange thing is that the String encoding of `eval` looks like `UTF16`, but when write string to bytes with `RawNative` which String encoding is like `UTF8`.

[2019-03-14 14:57] Simn commented on #7986
I don't understand what you think is wrong here. Eval uses UTF-8 encoding, why do you think UTF-16 is involved?

[2019-03-14 15:01] R32 commented on #7986
I think if it's UTF8, then the example above should not return `30410` by `str.charCodeAt(0)`

[2019-03-14 15:02] Simn commented on #7986
What else would it return? That's the correct code for that character, no?

[2019-03-14 15:08] R32 commented on #7986
Ok, I am a bit confused, But I think if UTF8, then the value returned by `string.charCodeAt(0)` should be consistent with `bytes.get(0)`

[2019-03-14 15:13] Simn commented on #7986
That's not correct. Bytes is the raw bytes representation with a range of 0x00-0xFF, i.e. 8 bits, which is where the 8 in UTF-8 comes from.

[2019-03-14 16:53] nadako opened #7987 "[flash] -swf-lib vs rest args"
Currently when loading externs from a swf library with `-swf-lib`, Haxe transforms `...rest` argument into 5 optional args, but nowadays it can use `haxe.extern.Rest<Dynamic>` instead. Should be a simple fix.

[2019-03-14 20:10] Simn commented on #7908
These problems no longer occur, so I'll go ahead and close here.

[2019-03-14 20:10] #7908 closed, assigned to nobody

[2019-03-14 20:16] Gama11 commented on #7908
So a single type using 5.9 MB is normal? That file isn't that big (1.7 kLoC), there's definitely similar ones that use a lot less in this example.

[2019-03-14 20:20] Simn commented on #7908
I cannot comment on that if all I have is an image. If anything the problem is likely that the <strike>error</strike>memory detection is wrong. This stuff is hard to get right with all the possible references, and I currently don't have time to look into this.

[2019-03-14 20:22] Gama11 commented on #7908
Well, I'm assuming this sort of thing can't really be isolated, so not sure what to provide other than an image. :) It's just a standard Flixel project FWIW.

[2019-03-14 20:32] SmerkyG opened #7988 "es6 output does not work properly with heaps"
Compile the base3D sample in Heaps with -D js-es=6 and you'll see it has no visual output.

@nadako It doesn't show any runtime errors, just no visual output... I did see visual output with other things. Wasn't easily able to tell if it's related to normals, textures, or other... but I was getting some models that looked white.

[2019-03-14 20:36] nadako commented on #7988
"interesting". i'll check it out, thanks!

[2019-03-14 20:38] Simn commented on #7845
I don't really understand how you expect this to use any other position. You use `ret : makeType(ret)`, so you end up with a `ComplexType` and these don't have a position on the macro-end.

We might be missing API here, but this doesn't look like a regression.

[2019-03-14 20:45] SmerkyG commented on #7988
By the way, is there a reason why members are all initialized to the value 'null' even for things like int, bool in the js target? One of my biggest pet peeves with Haxe's cross platform support is the lack of standardized initializers for member values across targets. This could be something to change in 4.0... just saying!

[2019-03-14 20:47] nadako commented on #7988
Yeah I agree it's super annoying. Maybe it'll change in the future with the adoption of null-safety, fingers crossed :) Regarding the `null` values - they are actually generated only `Type.getInstanceFields` is used and that was like this when I found it :-P

[2019-03-14 20:53] SmerkyG commented on #7988
There's one other interesting js specific issue I ran into recently as well - Reflect.field(someInstance, 'someMemberFn') does not return you a function bound to 'this', like it would on other targets! So if you then call that function, thinking it's a normal this-bound Haxe function, you end up with big problems. Not sure there's an elegant solution for that one though... it'd at least require so

[2019-03-14 20:55] nadako commented on #7988
Yeah, that's kind of expected. You're supposed to do `Reflect.callMethod(obj, Reflect.field(obj, meth), [...])`. But of course you should think of some reflectionless alternative.

[2019-03-14 21:00] nadako commented on #7988
Interesting, `-dce full` fixes that example.

[2019-03-14 21:03] Gama11 commented on #7988
There's a discussion on that here: https://github.com/HaxeFoundation/haxe/issues/7002

[2019-03-14 22:02] nadako commented on #7988
Found it!

[code]

This will trace `undefined` because the arguments are never passed to `_hx_constructor`.

[2019-03-14 23:06] SmerkyG commented on #7988
Nice, that was quick!!!

[2019-03-15 00:58] Ilir-Liburn opened #7990 "Macro: Invalid character '`'"
[code]
Call to macro gives:
Main.hx:6: characters 11-31 : Invalid character '`'

Haxe Compiler 4.0.0-rc.1+40365dad5

[2019-03-15 10:34] Simn commented on #7990
I'm not sure if this is a real issue. `Context.getTypedExpr` is a huge source of problems in general because it tries to convert the typed AST back to syntax which does not always make sense. It can easily expose compiler internals (like the escape character for generated variables here), so my advice would be to stay away from it.

[2019-03-15 10:48] Ilir-Liburn commented on #7990
Here is what I get, target is Javascript (including js-es=6), after changing last line in macro to return macro null and tracing r;

Macro.hx:96: function():StdTypes.Void {
	var a = null;
	`trace("What", { fileName : "Main.hx", lineNumber : 25, className : "Main", methodName : "callb" });
}

Erroneous ` comes before trace. I can fix that in my code, but I would prefer to see such errors fixed. One

[2019-03-15 10:52] Simn commented on #7990
The point is that we don't guarantee that you can go typed AST -> print -> AST. You should _not_ rely on something like this. If we change anything here it's likely going to be a `@:deprecated` on `getTypedExpr`.

[2019-03-15 12:14] back2dos commented on #7986
The behavior is correct. I understand the need for consistent representations, but I think `RawNative` quite clearly implies that that's not what you get.

There may be a case for supporting uc2/utf16 encoding of course, but implementing it would be quite tedious, so I think it's going to be the kind of thing that's considered not worth adding until somebody comes forward with a PR ;)

[2019-03-15 14:31] SmerkyG commented on #7002
@ncanasse Regarding your concern that JS developers new to Haxe might see excessive initialization: For variables that get set after initialization, I would think that static analysis would permit them to be initialized to their default values only when absolutely necessary:

a) For a member variable, only when it is not manually assigned in the constructor prior to the first time it is read durin

[2019-03-15 15:13] #7986 closed, assigned to nobody

[2019-03-15 15:16] haxiomic opened #7993 "[display] var expressions in metas upset completion"
I had some macros in haxe 3 project that used `var x: Type` expressions to specify a list of idents and types to use when generating fields.

For example
[code]

While the code compiles, some weird side effects start happening in completion, for example, the field `name: Type` is suggested as if it were a field of other classes and macro-generated fields stop showing up in completion.

~~@nadako s

[2019-03-15 16:56] EricBishton commented on #7977
Yes, that is implemented for the intellij-haxe plugin.

[2019-03-15 17:03] Ilir-Liburn commented on #7990
Well, trace(method.expr().toString()) gives:
[code]
TypedExpr is corrupted (there is ` in front of trace). However, return Context.storeTypedExpr(method.expr()) generates correct JavaScript result:

[code]

[2019-03-15 17:19] Klug76 opened #7994 "Adobe Air can't use swc written in Haxe 4"
The swc library compiled with Haxe 4 cannot be used in recent versions of Adobe Air (v.32).
Even for an empty class, an incorrect dependency is generated, e.g.
[code]
in .swc/catalog.xml.
As a result, the compilation gives an error:
[code]
I understand that Air is buried the same way as flash, but hope that there is a chance that this can be easily fixed.

[2019-03-15 18:03] haxiomic opened #7995 "[display] Problems if keyword 'macro' appears at start of type path"
I often want to organise my macros in a package named `macro`, so when building types I use the metadata `@:build(macro.TypeBuildingMacro.build()`, while this compiles, diagnostics says "unexpected ." and completion for macro-generated fields stops working.

This didn't compile at all in haxe 3 so it's been fixed in some parts of the compiler, but not all

[2019-03-15 18:38] Simn commented on #7995
Could you please post a complete example of this?

[2019-03-15 21:43] Simn opened #7996 "[java] java.vm.Deque does not work"
[code]

This should print `[()]`, and does so on all other threaded targets.

[2019-03-15 23:38] haxiomic commented on #7995
Attached a test project with comments
[macro-path-issue.zip](https://github.com/HaxeFoundation/haxe/files/2973220/macro-path-issue.zip)

Interestingly the problem doesn't occur if the meta is on the `Main` class, only the other class in the same file

[2019-03-15 23:46] Gama11 opened #7997 "Crash when compiling recursive local function"
[code]

I'm not getting much useful info such as a stack trace, it just crashes:

Not sure if this is a regression or not, since `JsonModuleTypes` hasn't been around for that long.

[2019-03-16 00:57] back2dos commented on #7997
In Haxe 3 this was a stack overflow: https://try.haxe.org/#246AD

I think the problem comes from trying to infer the `type` argument of the local function. It has an `args` field that is the type itself. If you comment out the `loop(type.args);` it doesn't crash.

[2019-03-16 01:04] back2dos commented on #7996
FWIW, this works:

[code]

[2019-03-16 09:57] Gama11 opened #7998 "[display] completion for fields named iterator / keyValueIterator fails"
[code]

Completion here fails with `Int cannot be called`, as long as there's at least one field named `iterator` or `keyValueIterator` (it works when renaming them to `iterato` / `keyValueIterato`).

This seems to be a regression from the iterator info I added to the display API...

[2019-03-16 10:49] nadako commented on #7994
It's weird that it says "warning" but still fails. I think should add swc testing in addition to swf (build swc, link it to as3 project, run tests from an as3 entrypoint).

[2019-03-16 10:51] nadako commented on #7993
sorry, it was hanging but not with this example, it was with my code at work :)

[2019-03-16 11:11] Gama11 opened #8000 "[display] show first argument of static extension methods in hover"
@nadako recently brought up that the first argument of static extension methods should be shown in hover hints because it sometimes contains valuable information, for instance if there's a type parameter involved.

It probably has to stay as-is for completion/signature help... Although, technically Haxe could probably just start with an active parameter of 1 / skip the first argument. That would a

[2019-03-16 11:12] Gama11 opened #8001 "[display] completion features in macro classes"
Display features don't work very well with macro classes.

[code]

- hovering over anything in the class highlights the whole thing with `Array<String>` (?)

   ![](https://i.imgur.com/oNDygOY.png)

- toplevel completion in `bar()` works, but not correctly (`test` doesn't show up for instance)
- find references on `test`'s usage instead finds random results (#7961)

[2019-03-16 11:32] Simn commented on #8001
So, what reification does is translate Haxe code into the `haxe.macro.Expr` structures. As such, this is not "real" Haxe code and you will never get the same completion that you would get in real Haxe code.

For instance, if we fix this, hovering over the `test` in `bar`, it will tell you that it's a `String`. More specifically, it's the string `"test"` that is passed to the `CIdent` constructor.

[2019-03-16 11:36] barraganlazlo opened #8002 "Wrong environment variable Path on installation"
I runned the Windows 64bit installer for haxe 4.0.0rc1 and it tried to wrote the path of the commands in the PATH variable but windows 10 on my computer use the Path variable not PATH so it didn't worked
i added it by hand but i just wanted to signal you this

My version of windows 10 :
Windows 10 Professional
1809
17763.379

[2019-03-16 11:40] Gama11 commented on #8001
"never" is a strong word. ;) Couldn't there in theory eventually be a "mini-context" that's created for proper completion in macro classes?

[2019-03-16 11:42] Gama11 commented on #8002
Huh, apparently this is a thing, the casing of `PATH` can be _whatever_ on Windows... https://github.com/cucumber/aruba/issues/291

[2019-03-16 11:50] Simn commented on #8001
That would not be the correct behavior. We're at a different level here: It's not even clear what your `test` field ends up being because all you have is a raw expression structure. Sure, it could become a real field if you `defineType` your structure, but that's not guaranteed to happen.

You will find that the `12` in `macro 12` is also reported as `String`, again because what the compiler actua

[2019-03-16 11:52] Simn commented on #8002
Not sure I follow, if it's case-insensitive then why does it matter that we use PATH instead of Path?

[2019-03-16 11:52] Simn commented on #8000
This probably won't be easy to fix, setting to 4.1.

[2019-03-16 11:59] Simn commented on #7993
This has always been an issue with class field resuming. It tries to find the next class field and `var` qualifies.

Why do you think it's a regression? I remember this being an issue even in Haxe 2.

[2019-03-16 12:04] Gama11 commented on #8001
I still think it would be the more convenient option, even if it's not the "technically correct" one.

Perhaps that's what hover should show then (`EConst(CInt("12"))`). That would help teach people how macro reification works.

[2019-03-16 12:06] Simn commented on #8001
Unfortunately, that's incompatible with our display handling which tries to find the innermost expression at the display position.

[2019-03-16 12:08] Gama11 commented on #7993
Indeed, I get the same result with 3.4.7:

![](https://i.imgur.com/QtkvTHl.png)

[2019-03-16 12:13] Gama11 commented on #8001
Hm.. because at that point, the information that there was some reification involved is lost? Perhaps that could be retained somehow?

[2019-03-16 12:16] #7820 closed, assigned to RealyUniqueName

[2019-03-16 12:18] Simn commented on #8001
Even then we would have to check that the outer expression doesn't contain any sub-expressions which are more specific. Or we would have to promote the `EDisplay` outwards somehow. Either way it's a bit tricky to handle and I'm not sure it's worth the effort.

[2019-03-16 12:55] ncannasse commented on #7845
It is a regression, it used to give the error at the class_field position. But since we introduced type_hint in parser which assigns a pos to each complex type, we cannot define these in macros.

[2019-03-16 12:57] ncannasse commented on #7845
I think this requires exposing TypeHint to the macro AST, as an abstact with a from/to ComplexType for maximum backward compatibility.

[2019-03-16 13:02] Simn commented on #7845
Yes that's what I meant by "missing API". This might be a bit messy with variance and that fun `Const` flag on structures.

[2019-03-16 13:07] #7978 closed, assigned to nobody

[2019-03-16 13:12] ncannasse commented on #7986
RawNative means "whatever the platform internal string representation might want it to be". There is no guarantee. #if utf16 however gives some guarantee such as out of BMP chars taking one single char.

[2019-03-16 13:15] ncannasse commented on #7994
Maybe it's only a warning tough, and the error is something else entirely.

[2019-03-16 13:16] ncannasse commented on #7994
Let's try to ignore Null from our dependencies for now. I think it's a regression because Null used to be a typedef in Haxe 3.x anyway.

[2019-03-16 13:20] Simn commented on #7994
Does anyone remember why we made `Null` a `@:coreType` instead of declaring it as `abstract Null<T>(T)`?

[2019-03-16 14:36] #7998 closed, assigned to nobody

[2019-03-16 14:54] Gama11 opened #8003 "[display] core types vs display/typeDefinition"
`display/definition` returns multiple results when core types like `String` are involved (the "interface" / extern and the current platform's implementation).

However, `display/typeDefinition` currently always only returns the implementation (if invoked on `string` here for instance).

[code]

[2019-03-16 15:02] nadako commented on #7994
because underlying type is not T in general case

[2019-03-16 16:42] Gama11 opened #8004 "[display] UInt is missing from workspace symbols"
The workspace symbol results for `uint` don't include the `UInt` type itself:

![](https://i.imgur.com/6J8VrU9.png)

This seems to be target-specific, it works on Flash/C# (native UInt support), but not JS/Neko.

[2019-03-16 22:10] Simn commented on #7748
Any other clever ideas for hacks?

[2019-03-16 22:21] Gama11 commented on #7748
Is it that hard to just not expand anything in the argument after `--display`?

[2019-03-16 23:53] Gama11 opened #8007 "[display] no completion point found with `var i:Null<|>`"
Completion isn't working here:

[code]

This happens frequently because the `<>` are auto-inserted by vshaxe once you select a parametrized type from completion.

If this was a valid completion point, it could even auto-retrigger completion there.

[2019-03-16 23:55] Gama11 commented on #8007
Note: it's not any better with `var i:Null<|`, so I guess it happens frequently regardless of what vshaxe auto-inserts.

[2019-03-17 10:26] Simn commented on #7996
Yes that indeed works nicely, thanks! I'm gonna use a real class instead of an abstract to conform to `@:coreApi`.

[2019-03-17 14:11] Gama11 opened #8008 "[display] hover claims that blocks with return values are typed as Dynamic"
Hovering over the block or the `return` keyword here shows `Dynamic`. I guess that's some compiler internals that are exposed here, but it probably shouldn't be shown to the user, since there's a high potential for confusion.

![](https://i.imgur.com/g0QQ5wy.png)

[code]

Without a `return`, it's fine (shows `Void`).

[2019-03-17 14:16] Simn commented on #8008
Well, that's correct. I don't see what we could do about this, or why we should do something about this in the first place.

[2019-03-17 14:41] Gama11 commented on #8008
Because it makes it look like the code isn't statically typed? Especially people who are new to Haxe often have a hard time getting over their feat of type inference, this surely doesn't help.

It'd be better not to have a hover hint at all here if all it's going to show is `Void` or `Dynamic`.

[2019-03-17 14:52] Simn commented on #8008
But the blocks' type _is_ Dynamic. This is important to understand in the everything-is-an-expression-context because it's the reason `var x = cond ? 1 : return 2` works. Of course it would be better if we had a bottom type, but we don't. And if we had, it would likely be no less confusing to show it.

[2019-03-17 18:43] Gama11 commented on #8008
Hm.. I wonder how others feel about this. :)

[2019-03-17 20:40] nadako commented on #8008
I think we have more important stuff to care about, but then again, maybe we can say that the expected type for the function expression is `Void` and bind the monomorph to it instead of Dynamic?

[2019-03-17 21:49] #7996 closed, assigned to nobody

[2019-03-17 21:52] Simn commented on #8008
That's a separate discussion IMO. The proposal here is to hide the exact typing from the user.

[2019-03-17 22:32] Gama11 commented on #7962
Oh, and diagnostics seems to report completion here, but in XML... x)

[2019-03-17 22:59] Simn commented on #7983
I might have to do it for 4.0 after all. I've come across some cases where this causes problems, at the very least with the debugger. I think there might be run-time issues as well in certain situations.

@ncannasse: What did you end up doing with capture var handling in HL? I remember you having some problem with `this`-closures being indistinguishable from normal one-capture closures, so that's

[2019-03-18 11:02] Simn commented on #7838
I don't want to change `@:privateAccess`. To me it's on the same level as access through Dynamic or reflection: You subvert the type-system and are responsible for the consequences. Given that we will never have 100% safety guarantees here while Dynamic and setField exist, I see no reason to restrict `@:privateAccess`.

[2019-03-18 11:40] Simn commented on #7818
Closing this in favor of #7838.

[2019-03-18 11:40] #7818 closed, assigned to Simn

[2019-03-18 11:43] ncannasse commented on #7838
As long as it works only in the final-to-null way I don't see a problem.
aFinal = aNull should error.

[2019-03-18 11:49] Simn commented on #7838
This is the diff of the tests that changed: https://github.com/Simn/haxe/commit/a534053c156d8c61c5df3453f8c745c987f13171

So this change would allow:

* final-anon-field to null-anon-field
* final-class-field to never-anon-field and null-anon-field

[2019-03-18 11:55] Simn commented on #7827
Let's fix this too while I'm looking at this stuff anyway.

[2019-03-18 12:30] ncannasse opened #8010 "[eval] stack information lost"
Just got the following:

[code]

It fails with:
`(unknown) : Uncaught exception Unexpected value VNull(null), expected string`

So the exact position is not known.

[2019-03-18 12:48] Simn commented on #7838
I'm going through all occurrences of `AccNo` and `AccNever` to check the places where one behaves differently than the other:

## type.ml

[code]

Technically, somebody could call this for TAnons as well, but it only makes sense for class fields where the distinction is correct. Should be fine

## fields.ml

[code]

This means that `@:privateAccess` only works on `null`, not `never`. That seems go

[2019-03-18 13:04] back2dos opened #8012 "Allow array pattern when matching things with length and array read access."
I noticed it already works for `haxe.ds.ReadOnlyArray` ... I presume that is because it has direct `to Array<T>`?

It would be practical to array match against `NodeList` / `HTMLCollection` and also `haxe.ds.Vector` (and also some more custom things).

[2019-03-18 14:32] Simn commented on #8010
#7750

[2019-03-18 14:32] #8010 closed, assigned to nobody

[2019-03-18 14:52] Simn commented on #7750
The problem with accurate error reporting on built-in functions is that I must absolutely avoid hitting OCaml's write-barrier. This means that I don't actually have a frame for a built-in function and that makes call-stack-management more tricky.

The current approach is this: Each frame carries `leave_pmin` and `leave_pmax` record fields which are updated when a call is made (they are ints so no

[2019-03-18 15:03] Simn commented on #7750
One heuristic that might work in these cases: If the exception position itself is `null_pos` (as is the case when decoding something from within a built-in function), we could still show the topmost frame position. This means we would get this:

[code]

As I've said there is no chance of getting the position on the value that actually fails to decode. This would require associating values with pos

[2019-03-18 15:37] Gama11 commented on #7750
That seems fair, and is still a big improvement. And even still points you to exactly the correct line in this example.

[2019-03-18 15:59] #7748 closed, assigned to nobody

[2019-03-18 15:59] Simn commented on #7748
I... don't know why I thought this was so complicated. You're right of course, we can simply not expand the argument after `--display`...

[2019-03-18 16:52] #7747 closed, assigned to Simn

[2019-03-18 16:54] Simn commented on #7747
This issue made me realize that this is a thing:

[code]

I'm not sure if I want to reset the macro interpreter cache if there's an error. This might actually explain the confusion about `@:persistent` because we would indeed create a new interpreter in this case.

I think it's fine to keep the interpreter if there's a typing error because we won't let `add_types` do anything anyway, and I can't s

[2019-03-18 17:04] #7885 closed, assigned to Simn

[2019-03-18 17:07] Simn commented on #7699
I have reverted the fix but I'm not reopening this issue because I don't think it's valid: If the macro doesn't cause typing of the argument expression (either manually or by returning it), we can not get completion for said expression. This would simply be inconsistent with how macro argument typing works and also directly conflict with #7885.

I acknowledge that this used to work, but this was o

[2019-03-18 17:19] Simn commented on #7809
I'm removing the 4.0 milestone from this because I don't find this clear cut. Why should class constructors be allowed to return early but abstract constructors not? I think the actual problem here is with the typing.

[2019-03-18 17:24] Simn commented on #7800
Honestly, can we simply document that metadata on short lambda function arguments isn't supported? This is a bit of a parsing nightmare and IMO also doesn't really suit the short notation to begin with.

[2019-03-18 17:31] #7827 closed, assigned to Simn

[2019-03-18 17:43] Gama11 commented on #7699
Didn't you say that the string literal / constant case is special and could probably be handled?

[2019-03-18 17:45] Gama11 commented on #7800
Shouldn't it at least _not_ work _consistently_ then? Right now it seems to work as long as it's not on the first argument.

[2019-03-18 17:46] Simn commented on #7699
I'm not sure if that's true though, because what looks like an innocuous string literal in your arguments could become the destroyer of worlds in the macro. I think we would be making assumptions if we provided string completion in that case.

[2019-03-18 17:46] Simn commented on #7800
Yes that's what I'm suggesting.

[2019-03-18 17:47] Gama11 commented on #7699
Well, the argument is typed as `:String` on the macro side, I guess that's different than if it was typed as `:Expr`?

[2019-03-18 17:49] Gama11 commented on #7809
I don't think anybody wanted to disallow returns, but it should probably be `return;`, not `return value;`? Quoting @ncannasse:

[2019-03-18 17:50] Simn commented on #7699
That's a bit of a funny argument because if the expected type is `String` you _have to_ pass a string literal and no completion in the world is going to be what you want.

[2019-03-18 17:51] Simn commented on #7809
I see, I misread that. Still not 4.0 priority though, and also not easy to fix because this becomes a very normal function to the typer...

[2019-03-18 17:52] Gama11 commented on #7699
Hm.. that's actually a great point. :) However, this isn't just about field completion, hover and go to type definition for instance also don't work on the string literal in this example.

[2019-03-18 17:53] Gama11 commented on #7809
Agreed, doesn't seem urgent.

[2019-03-18 17:53] Simn commented on #7699
Alright, _that_ might be something to look into, but only if the expected type is indeed `String`, I think.

[2019-03-18 17:55] Gama11 commented on #7699
Well, that or one of the other constant types (`Int` / `Float`...)

[2019-03-18 18:19] Gama11 commented on #7818
There were technically two issues here, one about the shitty error reporting:

[code]

Could this still occur?

[2019-03-18 18:19] Simn commented on #7818
Wasn't there a separate issue for that?

[2019-03-18 18:21] Gama11 commented on #7818
There's one that's similar, not sure if it's the same: https://github.com/HaxeFoundation/haxe/issues/7780 - there `?` is missing, here the `final` was.

[2019-03-18 18:22] Simn commented on #7818
Well it's about the error message, so the exact source probably doesn't matter. Especially if you cannot reproduce it here.

[2019-03-18 18:32] Simn commented on #6843
# Rant

## You're crazy

I just read through this issue properly for the first time and think y'all are crazy. Porting the Haxe sources to Haxe only to then compile them back to OCaml is insanity.

Let's look at what's bad about OCaml:

1. It's a pain the ass to set up, especially if you're not on Linux.
2. Its compilation time can be very slow.
3. It does not support true parallelism.
4. Its tool

[2019-03-18 19:22] 01010111 opened #8013 "Compiler not inferring array type correctly in ternary operation"
This can be reproduced with
[code]
(http://try-haxe.mrcdk.com/#2616f)

[2019-03-18 19:24] 01010111 commented on #8013
Whoops, just saw that @Gama11 pointed out it also happens with `if else` (http://try-haxe.mrcdk.com/#e8A02)

[2019-03-18 20:01] nadako commented on #6843
I'm not sure how much different the rewrite would look like from the "OCaml-idiomatic code", especially if we talk about multi-threading. I'm pretty sure it'll still be a bunch of recursive pattern matching functions and persistent data structures, unless "we" want to go for the OOP visitor pattern madness (I can see different array handling and some proper non-exception based control flow though:

[2019-03-18 22:13] ncannasse commented on #7983
In HL a closure is a function ptr + a captured value. The value can be any pointer value or a "single contructor enum" that holds several values (when capturing multiple vars).

And yes I don't think I can distinguish between the two, but that's quite easy actually you should just tag your closure with a given "kind" marker.

[2019-03-18 22:13] Gama11 opened #8014 "[display] completion not working mid-word after `extends`"
`extends` completion works fine when invoked on `extends |`.

![](https://i.imgur.com/RcqXDZX.png)

However, there's no results when it is invoked mid-word, for instance `extends MainLo|`:

![](https://i.imgur.com/wLf3hqa.png)

[code]

This is similar to other mid-word-completion issues we've had before like https://github.com/HaxeFoundation/haxe/issues/7075.

[2019-03-18 22:16] ncannasse commented on #7750
This is a real show stopper, needs to be addressed for 4.0, can we get a benchmark result of performance impact ?

[2019-03-18 22:17] ncannasse commented on #7750
Maybe I didn't read correctly :) Does your fix covers 99.9% of the cases ? In which cases it's still a problem ?

[2019-03-18 22:24] Gama11 commented on #7750
The `Reflect.fields()` code example now gives:

[code]

[2019-03-18 22:28] Simn commented on #7750
I think it covers 101% of the cases, i.e. it might report nonsense in some situations. But that would necessarily involve `null_pos` which _should_ not happen in normal code.

[2019-03-18 22:28] ncannasse commented on #6843
I partly agree with the rant against OCaml and its "difficulties" to setup and use.

I think an interesting question would be ask ourselves _why_ OCaml performs so good. I think it boils down to two things:

a) good code analysis / auto inlining / tail call optimization, resulting in functional code being entirely lifted into more imperative constructors
b) a very efficient generational GC that al

[2019-03-18 22:31] ncannasse commented on #6843
Regarding multithreading, I there it could work well for some very specific cases (pure map, some truly parallel stateless filters, etc.) but most of the rest of the compiler code has to remain single threaded for our own sanity.

[2019-03-18 23:27] #8014 closed, assigned to nobody

[2019-03-18 23:28] Simn commented on #7750
So unless you find an actual problem I'll keep this closed.

Plus you can always press F5 if you need more information about macro errors. \o/

[2019-03-18 23:28] #7750 closed, assigned to Simn

[2019-03-18 23:54] pecheny opened #8015 "[flash] Runtime error while implementing both generic and specific interfaces (i.e.IMyFloat and IMy<Float>)"
Not sure if it should work at all and how if it does. At least we can show warn while compiling to flash.

[code]

http://try-haxe.mrcdk.com/#e1543

[2019-03-19 01:20] zicklag commented on #6843
I think it would be a lot nicer to skip the OCaml layer if we could use something like HashLink or HxCPP instead. I really like how tiny HashLink is and how easy it is to compile. Reducing the need for OCaml tooling to just needing a C/C++ compiler would go a long way in making it easier to get setup for development.

[2019-03-19 01:52] nanjizal commented on #6843
This is quite interesting on lack of parrallel Ocaml, but I expect you have read it, but there are many interesting aspects if you read all the comments.
https://www.reddit.com/r/ocaml/comments/61pep4/ocaml_multicore_support/

[2019-03-19 06:51] Simn commented on #6843
## HL

The reason I didn't mention HL is because I'm not sure if this kind of performance is going to be your focus. At the moment, our [mandelbrot benchmark](https://github.com/HaxeFoundation/haxe/tree/development/tests/benchs/mandelbrot) is 40 times slower on HL than it is on hxcpp, Java and nodejs. This benchmark is very relevant to the performance discussion here because it creates a lot of sm

[2019-03-19 06:57] R32 commented on #8015
Every time flash causes this kind of issue, it seems that you can solve it by adding `@:generic` in the appropriate place.

for your example:
[code]

[2019-03-19 09:44] filt3rek opened #8016 "Possible PHP7 haxe.Serializer bug"
Hej all,

I'm sorry it's the minimalest example I was able to write, I'm on this strange bug for few days now.
It gives me a weired PHP fatal error (What I understand is that it's looking for a static field named "xfields" while it's a member one) :

[code]
I've attached a zip where you have the source, the build and the sql file, all to check quickly if you want.
[src.zip](https://github.com/Haxe

[2019-03-19 11:04] ncannasse commented on #6843
@Simon : yes, the mandelbrot benchmark is actually very GC oriented, unless
compiled with -D reduce_allocs, I think outside of GC you should get
similar or better perfs in HL/C than in HxCPP.
But yes HL GC is very basic compared to what would be necessary for
Haxe-in-Haxe
Regarding JVM : yes I know the JIT is quite good, but I'm not sure how much
the GC can cope with functional approach. Maybe wri

[2019-03-19 12:33] pecheny commented on #8015
@R32 Thanks! (for now i use simplified solution since my  `@:autoBuild` used for method generation should be rewritten to be compatible with `@:generic`)

[2019-03-19 13:41] filt3rek commented on #8016
Maybe it could be linked to this issue that I've closed : https://github.com/HaxeFoundation/haxe/issues/7635 but maybe I shouldn't because these issues don't occur on neko target for example...

[2019-03-19 13:57] Simn commented on #7983
It occurred to me that I don't actually have to carry the environment around on my values because the jit-function already knows which variables are captured and where they are captured from. The problem is that it captures way too much, i.e. everything from the parent scope that is captured (even from other closures).

I've designed it like this so I wouldn't need `CPWrapRef`, but looking at it n

[2019-03-19 15:27] Simn commented on #6843
Yes, it's only slightly slower than hxcpp with `-D reduce_allocs`. But that's a bit like saying that your parser tests work fine except for the failing parser tests.

One appealing thing about HL is its non-ridiculous compilation time. But overall this is all moot unless we get a GC that can compete. I suppose we would ultimately write this in a way that we could compile it to one or the other any

[2019-03-19 15:53] filt3rek commented on #8016
I don't know if it can help but if I cleanup the SPOD cache between, it works fine :
[code]

[2019-03-19 16:09] thomasjwebb commented on #6054
This would totally help me too. If it's difficult to do with built-in types like `Int` is it at least possible to offer it on additional targets? I'm often needing it on cpp, where it should be easy (using `std::numeric_limits`).

[2019-03-19 16:12] kevinresol commented on #6054
use https://github.com/skial/min-max

[2019-03-19 16:16] thomasjwebb commented on #6054
That only provides for two types (Float and Int).

[2019-03-19 16:43] ncannasse commented on #7983
Yes, you need to manage the copy of the captured vars only so the closure
scope does not reference the parent function scope

On Tue, Mar 19, 2019 at 2:57 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-03-19 16:48] ncannasse commented on #6843
That's a bit oversimplifying : a compiler is a quite specific piece of software which can highly benefit from some very particular runtime features (highly GC dependent, TCO, low memory overhead per "object") etc.

As I suggested the next step to evaluate our best target candidate would be to write some micro benchmarks evaluating these things, and see if some platform is already on-par with what

[2019-03-19 16:49] Simn commented on #6843
I agree. Fortunately, we have nadako working on his Actionscript compiler at the moment and we should get some nice performance metrics from that.

[2019-03-19 16:51] ncannasse commented on #6843
I don't this that's the best benchmark. Unless @nadako widely uses
ocaml-like lists the way we do in Haxe compiler?

On Tue, Mar 19, 2019 at 5:49 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-03-19 16:54] Simn commented on #6843
That's what I meant regarding Haxe-idiomatic and OCaml-idiomatic. Cons lists are very untypical for Haxe and our Haxe-in-Haxe should certainly avoid them. It's not an option without a reliance on TCO anyway. They are nice in many situations, but not a hard necessity for compilers.

[2019-03-19 17:02] nadako commented on #6843
I don't use cons-lists, but I do use a lot of enums and immutable structures (I even have a `a.with(field=value)` macro).

[2019-03-19 17:50] filt3rek commented on #8016
It seems the getter `get_xfields`is called twice everytime, maybe something here ?

[2019-03-19 18:12] #7983 closed, assigned to Simn

[2019-03-19 21:11] RealyUniqueName commented on #8016
Which versions of Haxe and SPOD library are you using?

[2019-03-19 21:37] RealyUniqueName commented on #8016
It's a bug in record-macros. The field gets deleted here: https://github.com/HaxeFoundation/record-macros/blob/f32f71a7f45d346fd19d2af923b972461c5ccf33/src/sys/db/Manager.hx#L673
Please submit an issue to record-macros repo.

[2019-03-19 21:37] #8016 closed, assigned to RealyUniqueName

[2019-03-19 22:18] filt3rek commented on #8016
Hej Alexander,

Thanks for your answer. I've commented the line you said and it works. Clearing cache does work too as I said. But why does it work on Neko without any error ?
And why does PHP throw a weired error like that ? What has "xfields" to do with that please ?

[2019-03-20 07:39] lublak opened #8018 "[feature request] inline function in typedef"
is there any chance to make typedef function inline?

example:
https://try.haxe.org/#003aa

[code]

generates:

on haxe 4:

[code]

on haxe 3:

[code]

but it could be better:
[code]

[2019-03-20 09:17] filt3rek commented on #8016
Alexander,

I've even tried with PHP 5 (the old Haxe/PHP) target, and it works fine that's why I think it could be a PHP7 bug.

[2019-03-20 09:27] skial commented on #8018
Checkout the output of nightly builds http://try-haxe.mrcdk.com/#5aCFD, which reduces this down to the following:

[code]

[2019-03-20 09:31] back2dos commented on #6843
Perhaps we could salvage https://github.com/elnabo/haxe_in_haxe for performance metrics?

Also C# might be an interesting target too, since you can explicitly hint things to be structs (not so good for the recursive enums, but things like Field/ClassField could be quite a bit cheaper). Also AOT is a lot more mature for .NET/mono, and since the compiler doesn't have much need to use all the bells a

[2019-03-20 10:54] lublak opened #8019 "[bug] uppercase package name and lowercase packagename macro"
It just was a try and it works. I was confused that it works.
It shouldn't work.

Example: http://try-haxe.mrcdk.com/#98B02

[code]

generates (is valid):

[code]

[2019-03-20 11:00] Gama11 commented on #8019
This seems similar to how macros don't check the names of identifiers as would be the case with normal Haxe syntax (#5002).

[2019-03-20 11:00] lublak commented on #8018
@skial but it could be cleaner only have
[code]

its just an idea.
Because if i create a class or an abstract i can just say: You are inline. And it is possible.

if you see, i also test it with haxe 4

[2019-03-20 11:42] filt3rek commented on #8016
Hmm I think you're right Alexander.
In Neko and PHP5 it doesn't throw any error until I added traces in the loop where it deletes all the class fileds, and not only the ones used in the DB : https://github.com/HaxeFoundation/record-macros/issues/34
Sorry for my misunderstanding...

[2019-03-20 13:24] Gama11 opened #8020 "[eval] exception when stepping over to end of function"
[code]

- set a breakpoint in the macro's body
- step over once

This crashes with the following:

[code]

This worked in rc.1.

[2019-03-20 13:55] Simn commented on #8020
Can you check if a debug adapter can tell vscode that execution should continue? So far we only support termination, but that is not correct on macro exit.

[2019-03-20 14:00] Gama11 commented on #8020
Shouldn't it just _not_ send a terminated event here (assuming that's what's happening)?

[2019-03-20 14:00] Simn commented on #8020
I've added the dynamic version for now. Initialization is somewhat verbose at instruction-level:

[code]

[code]

This is gonna be quite efficient though.

[2019-03-20 14:01] Simn commented on #8020
Oops wrong issue x)

[2019-03-20 14:02] Simn commented on #8020
That's not the problem. I think the problem is that the adapter is still in "paused on step" mode, which is why it sends another stack trace request. We should obviously change it so that the request doesn't cause a crash, but ideally it shouldn't send that request in the first place.

[2019-03-20 14:56] markknol opened #8021 "Expressions in `trace` are omitted with `--no-traces`"
This Haxe code:
[code]
With `--no-traces` in compile arguments generates this JavaScript output.
[code]
Note the absent of `x += 5`.

According the docs (https://haxe.org/manual/debugging-trace-log.html) it might be correct:

Is this intended behavior?

[2019-03-20 15:50] thomasjwebb commented on #6054
I thought about this a little yesterday and I think it would be better if the interface was more like how it is in c++, i.e., using a type parameter. This would allow one to write generic algorithms that could work on different integer types, rather than littering your code with conditionals or having to use macros:

[code]

_edit: the above code would work on all numeric types, not just integer_

[2019-03-20 19:35] posxposy opened #8022 ""@:using" is not working on interfaces."
Hello! :)
[code]

Error: `Test.hx:3: characters 9-24 : Test has no field test`
http://try-haxe.mrcdk.com/#7Cd23

Haxe 4. RC1

[2019-03-20 19:38] Gama11 commented on #8022
At this point I'm wondering, what _does_ `@:using` work on? :D

[2019-03-20 19:42] jgranick opened #8023 "Hidden ThreadHandle type does not unify for documentation"
[code]

I believe this is breaking the job for generating api.haxe.org as well:

https://travis-ci.org/HaxeFoundation/api.haxe.org/jobs/508915723#L857

[2019-03-20 19:45] Simn commented on #8022
This shouldn't work. `@:using` on a type only has an effect when a field access is made on that type. The compiler doesn't explore all related types to find all possible static extensions.

We will document this accordingly.

[2019-03-20 19:45] Simn commented on #8023
I noticed that too but thought it would be solved by making the type private. Guess I was wrong about that.

[2019-03-20 19:51] ncannasse opened #8024 "Assert when macro has compilation error"
`File "_build/src/typing/macroContext.ml", line 680, characters 14-20: Assertion failed`

[2019-03-20 19:56] nadako commented on #8022
I don't know, this looks like a somewhat legit use-case and it looks like it should work. And we don't have to _explore_ anything here, right? We can inherit `@:using` when processing class heritage.

[2019-03-20 20:00] jgranick opened #8025 "Docs report features are available that are not"
There are a number of features within Haxe that report as "Available on all platforms" or as available on a number of platforms (such as sys platforms) but are implemented on fewer platforms.

For example:

https://github.com/HaxeFoundation/haxe/search?q=not+implemented+for+this+platform&unscoped_q=not+implemented+for+this+platform

It would be helpful if these were documented to be available only

[2019-03-20 20:04] Simn commented on #8022
We can, but I don't think we should because this gets very magical.

I'm inclined to go the opposite way and restrict `@:using` to enums. That's why I originally added it, and because enums don't have sub-types we don't have to worry about complexity.

[2019-03-20 20:12] jgranick opened #8026 "[cpp] Can we simplify forced release compilation?"
We use the following pattern in Lime and OpenFL to improve debug performance:

[code]

We used to experience _extremely_ slow debug performance, since core APIs (especially our OpenGL bindings) we compiled for debug, when a user meant to debug their code, not the Lime or OpenFL libraries.

The solution we are using (above) is currently flagging files to _not_ include debug information from Haxe (`

[2019-03-20 20:15] Gama11 commented on #8026
Hm.. have you considered using `Compiler.addGlobalMetadata()` with a `pathFilter` from an init macro (so you can check the `lime_debug` define before doing so)?

[2019-03-20 20:18] nadako commented on #8022
Well, I can live with that. If we error on other types it'll at least look as something actually designed and not randomly (not) working :-) And we can revisit this some time in future.

[2019-03-20 20:18] Gama11 commented on #8023
Now it's about `Deque`:

[2019-03-20 20:19] Simn commented on #8023
Argh that's bad. I completely forgot that the documentation generator requires types to be equal even without `@:coreApi`. This isn't going to work because these types are abstracts on HL but classes everywhere else.

[2019-03-20 20:53] posxposy commented on #8022
Please, noooo :(
It is very useful for class types too. I'm using it in my project and I really like this feature.

[2019-03-20 20:53] jgranick commented on #8026
I believe I did try this (around the time this was first implemented) but I think it did not work well. It may be related to:

https://github.com/HaxeFoundation/haxe/issues/7954?#issuecomment-471229184

[2019-03-20 21:19] nadako commented on #8022
But you can just add your `using`s to `import.hx`...

[2019-03-20 21:23] #7988 closed, assigned to nadako

[2019-03-20 21:24] Simn commented on #8023
I think we need some hack here.

[2019-03-20 21:37] posxposy commented on #8022
Yes, but you can do the same for enums... Why do you need `@:using` then?
It is just good when you have a syntax sugar and different solutions for one problem.
`import.hx` doing it in a bit implicit way.

[2019-03-20 21:42] #8023 closed, assigned to nobody

[2019-03-20 22:25] #8024 closed, assigned to Simn

[2019-03-20 22:32] Simn commented on #8020
The vscode interaction is still not ideal here, but I'm not sure what it wants from me. I tried sending a ContinuedEvent but that changed nothing. In cases like this:

[code]

If you break on the `foo` macro and step over, you'll get the correct stack trace but the cursor line doesn't move. The debug log also seems weird:

[code]

Note how after the "next" it immediately sends another "getThreads"

[2019-03-20 22:38] Gama11 commented on #8020
Hm.. while Haxe no longer crashes, it also doesn't show that "leaving-function indicator" from #7767 anymore it seems? Or is that part of the non-ideal VSCode interaction you mentioned?

[2019-03-20 22:40] Simn commented on #8020
Somebody told me it should only do that when control flow falls through, not on `return`. Which means it's never going to do that for macros.

[2019-03-20 22:42] Gama11 commented on #8020
Oh, right. And actually, it does work for init macros.

[2019-03-20 22:44] Simn commented on #8020
Something else we have to figure out is who is supposed to send whom termination events and who is responsible for closing the socket gracefully.

[2019-03-21 09:30] Gama11 opened #8029 "[eval] pseudo-fields for Bytes in the debugger"
It would be nice if you could expand `Bytes` to get an array field with the raw hex values. Ideally this should support the debug protocol's "chunking" to deal with large arrays.

A second field with `Bytes.to_string` might be helpful too.

[2019-03-21 11:26] Gama11 opened #8030 "[std] use map literal syntax in Map's toString()"
In the context of modern Haxe with its map literal syntax, `Map`'s string representation feels a bit unnatural, as it uses `{}` instead of `[]`:

[code]

I'm assuming that this is from a time before Haxe had map literals?

Changing it might be considered a minor breaking change.

[2019-03-21 12:38] Simn opened #8032 "Lord of the Parser - The Two Streams"
I tried making `#if target.sys` parse today and ran into some trouble with our stream handling. There are two streams:

* `s`: The normal stream which goes through `process_token` and supports comments as well as conditional compilation
* `sraw`: The raw stream used for parsing the conditions of  `#if` and `#elseif`

The first problem I noticed is that doing `ignore(Stream.peek sraw)` causes parsi

[2019-03-21 14:14] nanjizal commented on #6843
Not sure it's ideal for haxe to follow c# NET core even if there maybe some interesting approaches to explore.
[OCaml-to-F#-conversions](https://github.com/jack-pappas/NHol/wiki/OCaml-to-F%23-conversions)
[console F# with NET core](https://github.com/odytrice/core-fsharp-templates/blob/master/ConsoleApplication/Program.fs)  - notice they target web and mobile
`net-lib Program.dll` ??

[2019-03-21 14:37] zhaoterryy opened #8033 "[js][es6] add ES6 module exports"
Add a way to export classes and functions as an ES6 module. Maybe overriding the ```@:expose``` behavior when ```-D js_es=6```? Or introducing a new metadata?

i.e.
[code]
would produce
[code]

[2019-03-21 16:22] Gama11 opened #8034 "Add Compiler.forbidPackage() / allow for more complex package rules"
...to support forbidding access to `js.html` in hxnodejs (now possible thanks to #7894).

This would also mean extending package rules to work with subpackages - right now `--remap`, `--macro allowPackage()` etc only seem to work with top-level packages. Things like "what's the most specific rule that matches" would have to be considered, rather than just having a simple `PMap.find`.

[2019-03-21 16:39] nadako commented on #8034
if you want this by default, there should be a way to unforbid it back, because in some environments you can have both I think (node-webkit?)

[2019-03-21 16:42] Gama11 commented on #8034
A `--macro allowPackage()` afterwards should "just work" with how it's implemented right now, I think. But yeah, we should have a test case for that.

[2019-03-21 16:46] Simn commented on #8034
[code]

[2019-03-21 16:47] Gama11 opened #8035 "Extract infos from from define.ml and meta.ml into JSON files"
@simn and I talked about how it might be a good idea to extract the desscriptions / "used on" info etc of defines into a JSON file. That seems more natural for something that's essentially just data than a source file.

If it's done for `define.ml`, it only makes sense to do the same for `meta.ml`. Technically we even have a JSON structure defined already for metadata due to the display API.

This

[2019-03-21 22:10] #7796 closed, assigned to nadako

[2019-03-22 02:56] #7715 closed, assigned to hughsando

[2019-03-22 09:51] nadako opened #8036 "confusing error message for incompatible overriden interface property type"
[code]

This will currently reports:
[code]

I find this extremely confusing, because:
 * the position of the error message is the base interface, not the overriden one
 * it talks about `get_x` method and its function types, even though it's an implementation detail for interfaces

I think it should instead point to the position of the `B.x` type hint (`:String`), or at least to the whole field a

[2019-03-22 10:41] nadako opened #8037 "[display] no hover/position for the super property access"
[code]

here if you hover or try to goto-definition the `x` in the `super.x` nothing happens :)

[2019-03-22 10:56] nadako opened #8038 "[display] no expected-type completion for (Map) array-assignment"
[code]

no `{fields...}` 😢

Works with Array, didn't test with custom/non-multiType abstracts, but I suspect it's a general abstract operator overloading issue. Could we at least provide the expected type when there's only one `@:op([])`?

[2019-03-22 11:07] Gama11 commented on #8037
Something does happen:

[code]

[2019-03-22 11:11] Gama11 commented on #8038
Multiple expected types could in theory be represented as `haxe.extern.EitherType`, but that's probably too hacky? :) The language server already looks for that, but it doesn't tend to work very well because of #7262.

[2019-03-22 15:42] posxposy opened #8039 "[Haxe 4, RC2] Assertion failed in evalContext.ml"
Hello! Thanks for RC2!
Just tried it on my project (JS target), and got this error on compilation:
`File "_build/src/macro/eval/evalContext.ml", line 342, characters 2-8: Assertion failed`

VSCode output console says this:
[code]

[2019-03-22 15:44] Simn commented on #8039
Uhm, that's not good...

Could you define the environment variable `OCAMLRUNPARAM=b` and paste me the stack trace you should be getting when compiling again with that?

[2019-03-22 15:49] posxposy commented on #8039
Maybe the error is coming from my macros. But I don't know how to look deeper into this if there are no errors in Haxe code itself.

Output with `OCAMLRUNPARAM=b` variable:
[code]

---
Tried it on another project and everything compiles successfully (Java target).

[2019-03-22 15:53] Simn commented on #8039
It dies trying to decode the `tname` field of some `TPath`. That means the field is missing, or it has a value that isn't a string (possibly `null`). I'll have to check why this no longer raises a proper error.

[2019-03-22 15:59] Simn commented on #8039
Maybe fixed, could you try with a build from http://build.haxe.org/builds/haxe/ once it's available for your OS? I might re-release rc.2 with this fix because it's pretty bad.

[2019-03-22 16:17] kLabz commented on #8035
Yeah!

I planned to do something similar, although only for `meta.ml`: generate `HaxeMeta.hx`, an `@:enum abstract to String` to be used in macros. Maybe such an abstract could be included in haxe std (in `haxe.macro` maybe?).

[2019-03-22 16:19] Gama11 commented on #8035
That does seem like an interesting idea! I currently also maintain a (very incomplete) list of constants for metas in the language server because I wanted to avoid repeating string literals everywhere.

[2019-03-22 16:19] posxposy commented on #8039
Works fine now! No exceptions, no errors.

[2019-03-22 16:26] kLabz commented on #8035
Yeah, plus it avoids typos and provides some documentation on autocomplete.

[2019-03-22 18:19] back2dos commented on #8033
Related: It would also be good if there were a `@:jsRequire` equivalent for es6 `import`.

[2019-03-22 18:50] back2dos commented on #8022
Dunno. When I proposed this, I [specifically mentioned interfaces as a use case](https://github.com/HaxeFoundation/haxe-evolution/issues/35). And quite frankly, I don't get it: if you can apply the same extensions via using "globally" in `import.hx`, then what different kind of problem arises when applying them via `@:using`?

As for "why not just use `import.hx`":

![](https://i.imgflip.com/2wpgu

[2019-03-22 20:20] #7690 closed, assigned to nobody

[2019-03-24 16:55] flashultra opened #8040 "[js][java] Performance lost"
I created two identical files  - Haxe and java source -  and after that compile Haxe to Java target and run via JVM . There is significant difference between Haxe generated java classes and those write on Java . At example :
  1)  Haxe - Java takes  1.01  seconds
  2) Pure  Java takes  0.40 seconds

Here is all sources and test vectors:
  1) Haxe source :  https://gist.github.com/flashultra/8b33d4

[2019-03-24 18:31] nadako commented on #8040
I'm 80% sure it's all the redundant casting going on, but of course we need to look into the generated code and the profiler output. Thanks for the benchmark, we'll look into it as Java target is getting some love for Haxe 4.1

[2019-03-24 19:52] flashultra commented on #8040
Here is more results for Haxe targets :
- Hashlink ( native ) - 0.40 seconds
- HXCPP ( native ) - 0.54 seconds
- Javascript - 0.68 seconds
- Java - 1.02 seconds
- Hashlink ( hl ) - 1.96 seconds
- Eval - 18.35 seconds
- PHP - 29.67 seconds

What is strange for me is Javascript.  According this library https://www.npmjs.com/package/bcrypt , JS should produce 2-3 hashes/sec ( with rounds=12 ) , but i

[2019-03-25 06:10] flashultra commented on #8040
According these tests ( https://github.com/dcodeIO/bcrypt.js/wiki/Benchmark ) bcryptjs should run for 0.40 seconds ( similiar to hashlink , java ) . Here is test for 12 rounds ( they compare native C++ with JS )
- bcrypt sync: 319.607ms
- bcrypt.js sync: 404.098ms

[2019-03-25 06:23] Simn commented on #8040
If you want to achieve anything with this issue you'll have to profile the generated code to figure out why it's slow. It's Java so I assume there's good tooling for that.

[2019-03-25 07:07] terurou opened #8041 "[js] Shadowing warning in js.Boot"
I tried to using `-D warn-var-shadowing` in Haxe 4.0.0-rc.2.

[code]

[code]

This code displays some warnings.

[code]

[2019-03-25 09:31] flashultra commented on #8040
You are right .  Here are profile images for Haxe and Java . Hope that helps.

**Java profiler images**
![java1](https://user-images.githubusercontent.com/13473027/54908707-32ed2d00-4ef1-11e9-99ca-728a5c9f1d46.png)
![java2](https://user-images.githubusercontent.com/13473027/54908714-34b6f080-4ef1-11e9-990d-0f374212b342.png)
![java3](https://user-images.githubusercontent.com/13473027/54908723-38e30

[2019-03-25 09:36] nadako commented on #8040
Yeah, looks like it's the int boxing being a bottleneck...

[2019-03-25 09:36] Simn commented on #8040
Looks like nadako was right.

[2019-03-25 09:57] lublak opened #8042 "[feature request] macro Compiler nativeType"
Allows from Macro Context compile stuff like:

[code]

it helps for native code injection.

currently i do it myself (uncomplete) like (based on genjava real_type https://github.com/HaxeFoundation/haxe/blob/development/src/generators/genjava.ml#L1213:

[code]

[2019-03-25 12:03] Antriel opened #8043 "language server getting stuck on "Parsing Classpaths...""
This is an odd one that took some time to track down.
In a certain configurations, an empty project with `-lib coconut.vdom` targeting js (most probably unrelated, didn't test), will cause the language server to get stuck "Parsing Classpaths...". I should also note that the project compiles at any point. It's just about language server being stuck.

It doesn't happen with latest versions of the li

[2019-03-25 12:20] Simn commented on #8043
Well, that makes some sense. e0ddd85fbc3d75e5e8749cc704f1ac9a9719f4ab fixed an issue where macros would not be run again on the server (#8042), so if the vdom change fixed a potential hang in the macro execution that might explain something (@back2dos).

Note that we still send the full compilation argument to Haxe for class path exploration, including `--macro` and everything. We have to do that

[2019-03-25 14:03] lublak commented on #8042
@Simn should at be at haxe code or ocalm code?

I mostly rewrite the code for (currenlty only) java and it works fine.
If it should haxe i can work more on it if it needed. For ocalm i have no time to learn ocalm.

Also the most time it difficult to figure it out how it can be created in haxe code.

(I think ocalm is the right place genjava/genphp/gen....)

[2019-03-25 14:13] Simn commented on #8040
By the way, I think we've been here before, but you should really use Vector instead of Array for this kind of stuff. That should actually make a huge difference on Java because it can use the non-boxing native array types.

[2019-03-25 14:13] Simn commented on #8042
If this targets strings it would be useless at OCaml-level, so I'm gonna say Haxe.

... in which case you don't really need this on the Compiler/Context API.

Also I would stay away from syntax-based code injection in general. What are you trying to do?

[2019-03-25 14:21] Simn commented on #8040
Which would mean you'd not only lose the value boxing but also the entire Array layer.

[2019-03-25 14:33] Gama11 opened #8044 "[display] import diagnostics should take type parameters into account"
In this case, a type whose type parameters don't fit is suggested as the preferred choice, so applying the quick fix is then followed by an "invalid number of type parameters" error. This is especially annoying because of VSCode's new "auto fix" command / preferred code action API.

![](https://i.imgur.com/CvaVHc6.png)

If possible, type parameters should be taken into account to sort accordingly

[2019-03-25 14:46] lublak commented on #8042
@Simn i want to create a auto "clone" build macro.
The most part a simple and the other part are the new "@:final" for fields.
At this i use the Reflection api.

But i want to optimize for java. (clone constuctor).
So i additional add a construtor via:

[code]

i don't find any simpler solutions for this.

java also supports multiple constructor and haxe not.

but i come more to more to the option

[2019-03-25 14:56] flashultra commented on #8040
Ok, so I change all Array to Vector and now Haxe java source is at the same speed as pure java code . Still some strange things ( see screenshoot below ) .  On thing,  if Vector is much better than Array , why array not have way to set fixed length ( if this is the only difference between array and vector) to gain same performance ?
Here are screenshoots .   Runtime.toInt take 27%
![haxe1-1](https

[2019-03-25 14:57] markknol commented on #7395
Can we add this ArrayKeyValueIterator for now?

[code]

[2019-03-25 15:02] Gama11 opened #8045 "[display] no completion in string interpolation block with escape sequences"
Invoking completion at the `|` here yields toplevel completion results instead of field completion for the string literal:

[code]

![](https://i.imgur.com/pdtGVKE.png)

If the `\n` is removed, it works:

![](https://i.imgur.com/qTumoB6.png)

[2019-03-25 15:28] Gama11 opened #8046 "[display] no completion for `key` or `value` in `key => value in map`"
Not sure how nobody has noticed this before, but apparently completion on `key` or `value` in key value iteration doesn't work? I just get toplevel completion results:

[code]

![](https://i.imgur.com/W660GzN.png)

Also, somehow it's fine with the old protocol _or_ `-D no-copt`.

[2019-03-25 15:33] kevinresol opened #8047 "[display] feature request: analyze wildcard imports"
For wild card imports like `import js.html.*;`
The compiler should be able to tell what types are used from such import, e.g. `DivElement` and `CanvasElement`.

It could also facilitate IDE actions such as expanding into individual imports.

[2019-03-25 15:46] back2dos commented on #8043
Mhh, I guess if it really hangs in a `--macro` it should do so while "Building Cache", no? In any case, the change I made simply shaves off a fewhundred ms (because most projects use no more than 10% of all available html tags). It should definitely not make a difference between hanging indefinitely, and working just fine.

Perhaps the cause of the observed behavior is what I "fixed" here: https:/

[2019-03-25 16:01] Simn commented on #8042
I don't really follow, but if you're looking for a Java-specific solution then why not simply do something along the lines of `(cast yourObject : java.lang.Object).clone()`?

[2019-03-25 16:29] lublak commented on #8042
@Simn I give up. My brain burns. I I use reflection for final fields for all targets.
(cast yourObject : java.lang.Object).clone()
Only supports shallow clone.
But I want deep clone so ist recommend for java targets to use a Java constructor for it.
(Manual clone but auto created by autoBuild)

But now my brain says: No!

I now create for each field a clone expression and for @:final I use the ref

[2019-03-25 17:06] #8042 closed, assigned to nobody

[2019-03-25 17:09] Simn commented on #8043
That's hard to say with the compilation server involved.

[2019-03-25 17:20] Simn opened #8048 "Type.getClass documentation"
It says "If `o` is null or of a different type, null is returned.", but that isn't exactly true. Targets like Java will always report `Type.getClass(1)` as `java.lang.Integer` because it has to wrap in the argument-to-type-parameter case. It isn't even true on JavaScript.

[2019-03-25 17:46] Gama11 opened #8049 "[display] uncaught DisplayException on hover"
[code]

[code]

When hovering over `JsonParser`, Haxe crashes with:

This did not crash in RC1, so it's a regression:

![](https://i.imgur.com/01ilO6n.png)

[2019-03-25 21:29] nadako opened #8050 "[matcher] null-checked pattern is not tempvared"
[code]

generates

[code]

The result of `_g.get_field()` should be stored in a temp var before null-checking.

---

Originally I found this because of null-safety checker complaining about code like this:

[code]

With the `@:nullSafety` disabled it generates:
[code]
If we enable the check, it will complain with `src/Main.hx:5: characters 10-11 : Null safety: Cannot access "value" of a nullable v

[2019-03-25 22:35] nadako opened #8051 "[lua] un-hardcode more initialization lua code"
See https://github.com/hxdefold/hxdefold/issues/13#issuecomment-476400759

[2019-03-26 01:00] mailsoza opened #8052 "How to get request from https addresses"
I am trying to make a `haxe.Http.requestUrl("https://www.google.com")` but it says it needs `-lib hxssl`. So i add it and then i receive the error `type not found: Lib`. In which platforms can I request Https addresses or how do i solve this?

[2019-03-26 01:57] kevinresol commented on #8052
What target are you using?

[2019-03-26 05:57] flashultra commented on #8040
I will close this issue. My conclusion at the moment  for replacing Array with Vector:
 -  Vector has better performance on Java target
 - Vector has worst performance on Javascript target ( 1.02 seconds VS  0.43 seconds  )

So each target should be tested separately using Array or Vector and in the code should be use many compiler flags ( #if java , #if javascript , etc ) to reach good performanc

[2019-03-26 06:25] Simn commented on #8040
Uhm, that's something we should check. How does the generated code differ? Given that `Vector<T>` is an all-inline abstract over `VectorData<T>` and that is a typedef to `Array<T>` on JS, performance should be equal.

[2019-03-26 07:28] flashultra commented on #8040
I replace all Array with Vector and use ```Vector.fromArrayCopy`` for init the Vector .
I also change pBox and sBox to be   Vector<Int>
About generated code ,  Vector is represent as  Array , but obviously that doesn't help.
Here is :
  - Vector implementation : https://gist.github.com/flashultra/7d4018f0b77a557ecbb05803217d87de
  - Array implementation: https://gist.github.com/flashultra/8b33d48a

[2019-03-26 07:30] Simn commented on #8040
That's what I don't understand. If it's represented as Array then how can it be slower than the Array version?

Could you diff the generated code?

[2019-03-26 08:35] jonasmalacofilho opened #8053 "Cannot use Reflect with empty string name on eval"
[code]

I don't think this is right, an empty string should be just as valid as any (non-null) field name.

Personally I use this to differentiate between `/` and default routes when using the old `haxe.Dispatch` (or, more accuratelly, [`eweb.Dispatch`](https://github.com/jonasmalacofilho/eweb.hx/blob/master/lib/eweb/Dispatch.hx)).

But I can also see this causing issues when dealing with JSON dat

[2019-03-26 08:35] Antriel opened #8054 "improve uninitialized var tracking?"
[code]
This causes `Test.hx:6: characters 16-19 : Local variable bar used without being initialized`. Could compiler figure out it's actually initialized in cases like this?
Alternatively, would some kind of metadata override make sense?

My use case is initializing the variable using inlined constructor, so initializing to null breaks the inline.

[2019-03-26 08:42] Simn commented on #8054
Eeeeh.... suuure....

[2019-03-26 09:03] flashultra commented on #8040
Vector generation created Vectro function . Here is both files  ( left is with vector , right is with array)
https://www.diffchecker.com/qYtHwfX2

[2019-03-26 11:04] ncannasse opened #8055 "Unterminated string"
This fails to parse, although display correctly in VSCode:

[code]

[2019-03-26 11:50] flashultra commented on #8040
Maybe the problem is with blit(). Vector use self created function ```haxe_ds__$Vector_Vector_$Impl_$.blit ``` , but Array use slice().
 Suggestion:  Replace blit() with slice() for JS target

[2019-03-26 12:13] Simn commented on #8040
Yes I think js can join the `#if eval` branch there which already does that.

[2019-03-26 15:27] lublak opened #8056 "[bug] java build macro Same Fieldname as Enumname"
Error (only in java):

haxe 4.0 rc.2

`This expression cannot be generated because Test is shadowed by the current scope`

The Error shows on the enum Test; Test3(test:String); Test2 and Test.

Only throws if `enum Test` has the same name as one of his values.
It works if i remove the value Test.

Main.hx
[code]

Macro.hx
[code]

[2019-03-26 16:01] kevinresol commented on #8056
perhaps you can use `@:native('SomeOtherName') enum Test {` to workaround it

[2019-03-26 16:16] kevinresol commented on #4630
Can we reopen this?

As I said, the use case is not to inspect the enum value but provide a way for JS (non-haxe) users to create Haxe enum which can be passed to Haxe-generated APIs.

[2019-03-26 16:20] nadako commented on #4630
Makes sense to me

[2019-03-26 16:33] ncannasse opened #8057 "PCRE Error 2 in macro"
I have the following code that runs in macros:

[code]

This used to work well (requires to run as Admin), it now fails on some computers when some env var contains non ascii chars (a `ï` in my case) with `Pcre.Error(2)` (not catchable)

[2019-03-26 18:18] lublak commented on #8056
Thank you. I simple change the name of it. But i send it because it is (i think) a bug.
@kevinresol but here you get an heart: ❤️
Could it be a solution to prefix all "native" java enums? or is it gen bug?

[2019-03-26 21:25] Simn opened #8058 "`map_expr_type` loses overload field information"
[code]

Dump:

[code]

The expression types are still correct but the `FStatic` has the wrong class field (String instead of Int). This is a bit bad for targets where this is important.

I think this affects all usages of `quick_field`.

[2019-03-27 02:51] kevinresol commented on #8056
I'd consider it as a generator bug. The generator is supposed to take care of native matters like this one.

P.S. this happens on C# as well, ref: https://github.com/haxetink/tink_core/blob/76a1e82db507edd79440b5dab91fe3bbd88c9e6c/src/tink/core/Noise.hx#L4

[2019-03-27 07:05] jonasmalacofilho commented on #8053
Clarifying...  Assuming you agree that

this is a regression from 3.4.x.  See [slightly adapted example](http://try-haxe.mrcdk.com/#8400C) on try-haxe.mrcdk.

[2019-03-27 13:47] Simn opened #8059 "Weird (un)typing"
I found this beauty in `haxe.io.Bytes.compare`:

[code]

Dump when compiling to Java:

[code]

Notice how the first one is `[Array:java.Int8]` but the second one is `[Array:Int]`. I realize this is using `untyped` and could therefore set your house on fire upon compilation, but this still seems quite strange. I have reason to believe that this is not caused by gencommon, but by our typer directly.

[2019-03-27 13:54] Simn commented on #8059
This also leads to the generated code having more casts than a 4-player session of Magicka:

[code]

[2019-03-27 14:04] Simn commented on #8059
Uhm, right... this is parsed as `untyped (data[0] - untyped data[0])`, so that explains everything.

[2019-03-27 14:11] Gama11 opened #8060 "[python] resources are not embedded"
The [docs on resources](https://haxe.org/manual/cr-resources.html) suggest that they are always embedded, even if concrete implementation details vary a bit (several targets, including Python, are actually missing here btw). But the end result is always that you only have a single file to worry about.

On Python, something like this instead causes the resource to simply be _copied_ to a `main.py.t

[2019-03-27 14:19] Simn commented on #8060
That's exactly why I find the expectation so wonky. We don't specify how exactly we generate the output, but we do specify that resources are embedded in that unspecified output?

[2019-03-27 16:13] Gama11 opened #8061 "[display] constructor docs missing from signature help, but showing in hover"
[code]

Hovering over `new` shows the constructor's docs as expected:

![](https://i.imgur.com/O5tKqIu.png)

But they're missing from signature help:

![](https://i.imgur.com/upq9RQC.png)

This is also not consistent across targets... on Python, neither has any docs, presumably because `@:coreApi` is missing from the implementation for some reason. And Flash/JS show docs for both, funnily enough.

[2019-03-27 18:03] mailsoza commented on #8052
I'm using `--interp` and `-python`, but both present errors.

interp result
![image](https://user-images.githubusercontent.com/44980731/55101180-4a1f4c80-50a2-11e9-81f7-c3bbca235f45.png)

python result
![image](https://user-images.githubusercontent.com/44980731/55101094-1ba17180-50a2-11e9-80c4-445134a9061a.png)

[2019-03-28 16:28] sebthom opened #8063 "sys.thread.Thread.current() returns different objects on each call on some targets"
This actually is also true for some of the pre-haxe 4 implementations (e.g. `cpp.vm.Thread.current()`). But since we now have get a generic threading API it hopefully is the right time to address this.

It would be extremely helpful if either:
- for all thread-supporting targets the following evaluates to true (per some spec definition):
[code]
- OR if sys.thread.Thread gets an additional id() met

[2019-03-28 19:11] Simn commented on #8063
I actually noticed this too during the rework but forgot about it. This was supposed to be fixed for hxcpp and neko in #4141, which would make this a regression.

Not sure how to best solve this without weird compare magic though. Using a Tls?

[2019-03-28 20:10] ncannasse commented on #8063
I agree this should be part of the spec.

On Thu, Mar 28, 2019 at 5:28 PM Sebastian Thomschke <
notifications@github.com> wrote:

[2019-03-28 22:46] Simn opened #8064 "[matcher] Temp-var TEnumParameter"
The pattern matcher currently does not temp var enum parameters, which can lead to the same access being made multiple times. This is particularly bad on targets that use something like nadako-enums where casts actually matter.

We should try changing it so every access that occurs more than once is temp-varred. This is not going to make the code any prettier, but it will be more efficient on most

[2019-03-29 09:58] Simn opened #8065 "Reflect.isObject specification clarification"
This is the current documentation:

[code]

We have to clarify this with regards to `Null<Int>` and such because there's a disconnect between our view and the run-time view: While from our point of view it is not an object, it very well might be on several targets. The documentation should clarify that "object" here refers to Haxe point of view.

The reason this can be confusing is that on e.g. Ja

[2019-03-29 10:50] back2dos commented on #8063
FWIW tink_concurrent sidesteps this by having `Thread` be an `abstract` over the native handle / thread and thus `==` just works as expected for free (and even if it didn't `==` could be defined to do the comparison correctly).

[2019-03-29 11:07] Simn commented on #8063
I agree that abstracts are a good fit here, but I want to keep things classy for now. So we need a solution for this.

[2019-03-29 12:55] back2dos commented on #8063
Pick your poison. You can make it an extern class with inline methods then ;)

[2019-03-29 14:04] Gama11 opened #8066 "[display] completion in build macros is a mess"
There seem to be quite a few issues with completion in build macros:

[code]

When attempting completion here, Haxe returns no results:

![](https://i.imgur.com/Z52TIaW.png)

Hm, ok, maybe it doesn't know about `getBuildFields()` because we're not in macro context, let's try `#if macro`:

![](https://i.imgur.com/2sDU1Yu.png)

Wat, now I get keywords...

Well, ok, let's get rid of `#if macro` and t

[2019-03-29 21:21] elnabo opened #8067 "Field final access is lost during conversion to ComplexType"
In macro, using `TypeTools.toComplexType` on anonymous type will lose the information about final fields.

The resulting `ComplexType` field will lack the `AFinal` access.
Observed on latest haxe and originally raised there https://github.com/elnabo/json2object/issues/49

Example:
[code]

Or http://try-haxe.mrcdk.com/#919aC

[2019-03-30 02:40] kevinresol opened #8068 "Closure on string"
## Haxe Code:
[code]

## JS
Runtime error
[code]

## Lua 5.2
Syntax error

## Lua 5.3
Runtime error
[code]

## Python
Compile time error:
[code]

[2019-03-30 06:34] Simn commented on #8068
IMO this should be documented to be unspecified. String is a special case because it's not generally a real (run-time) class. I think you can find more broken cases by accessing string methods through `Dynamic`.

[2019-03-30 08:28] YellowAfterlife opened #8069 "[JS] Unnecessary closures for functions inlined into __js__"
Code:
[code]
3.4.5, 4.0.0.p1:
[code]
fce5719:
[code]

[2019-03-30 08:32] Simn commented on #8069
Our code analysis refuses to do anything if there's `untyped` in the function body. In 3.4 it was possible to avoid this detection by inlining the untyped code like you do here, but this was fixed in 4.0.

This should be fixed in user code by not using `untyped`. Check out `js.Syntax` for alternatives.

[2019-03-30 08:42] Simn commented on #6486
I'm coming back to this issue wondering if this kind of variance is actually sound in the case of interfaces. The way Haxe/Java dodges this is by rewriting the implementation to return `double` instead of `int` if one of the interfaces mandates that. However, we can easily make conflicting demands here:

[code]

This doesn't compile through javac:

[code]

genjava tries to rewrite the implementati

[2019-03-30 08:45] YellowAfterlife commented on #8069
I suppose that the only way to do this now would be
[code]
which is a somewhat unsafe-looking way to stitch expressions together, but it's what [Reflect.fields](https://github.com/HaxeFoundation/haxe/blob/90eda8ce3c0be0e597b7d9a22150d5da25e6f66b/std/js/_std/Reflect.hx#L56) does, so I guess that's "okay"

Would have been nice to have a js.Syntax option for a for-in loop. Or automatically expand `fo

[2019-03-30 08:46] Simn commented on #8069
Note that there's `js.Syntax.code("code {0}", args)`.

[2019-03-30 08:53] Simn commented on #6486
Note that this might be specific to Float vs. Int variance.

[2019-03-30 09:32] YellowAfterlife commented on #8069
I've done tests with that, but it does not look like I can get it to inline a function into the loop body - the function gets passed by reference, and often also assigned to a temporary variable
[code]
->
[code]

[2019-03-30 11:01] back2dos commented on #8067
Related: https://github.com/HaxeFoundation/haxe/issues/6063

Workaround: https://github.com/haxetink/tink_macro/blob/master/src/tink/macro/Sisyphus.hx

[2019-03-30 11:30] back2dos commented on #6486
This'll be awkward:

[code]

Unless you're suggesting to also disallow narrowing return type when overriding. Let's please not do that.

[2019-03-30 11:36] back2dos commented on #8068
Not sure what "unspecified" means exactly. Can we have a compiler error if it won't work at runtime?

[2019-03-30 11:54] ncannasse opened #8070 "[hlopt] Notes for further optimization"
The new hlopt cache allows for faster genhl.

However it still requires to recompile the method to hl bytecode, only the bytecode optimization of the function is optimized.

It should be possible to use this cache to directly return optimized bytecode when the method is not modified, but this requires handling at least:
- constant refs remap (int, string, etc.) - 30% of methods but representing on

[2019-03-30 11:55] Simn commented on #6486
See my subsequent comment, this is specific to Int vs. Float because that relationship is not reflected at Java run-time. I don't think we can generate this code to the Java target.

[2019-03-30 11:59] Simn commented on #8068
Well, if we can detect to error we can likely patch it somehow for the run-time. But then it still won't work for untyped access. My point is that right now this is clearly unspecified and should be documented accordingly. This is nothing we can "just fix" in either direction.

[2019-03-30 13:20] lublak opened #8071 "Assertion failed forLoop.ml"
This failure comes with:

[code]

But if i call
[code]
before it. All works fine.
The Type is an TLazy Type
ANd is a Method

The log:

[code]

[2019-03-30 13:49] YellowAfterlife opened #8072 "[JS] @:forward abstract _(Array<_>) will not use an inline iterator unless it defines length+@:arrayAccess"
Might be half-related to https://github.com/HaxeFoundation/haxe/issues/7661

[code]
produces
[code]
so the compiler knows that the object is iterable because it inherited the iterator from Array, but uses HxOverrides.iter unless the abstract itself defines length and an array getter.

[2019-03-30 13:58] back2dos commented on #6486
Well, there's always `java.lang.Number` but I guess that'll introduce more problems than it solves.

[2019-03-30 14:02] Simn commented on #6486
We could indeed rewrite both the interfaces and the implementation to that, yeah. I think that would work, but I don't like the idea that implementing an interface silently rewrites my implementations... This would also have to spread: Other implementations of these interfaces would have to be patched to use `java.lang.Number` as well.

[2019-03-30 17:44] Gama11 opened #8073 "[display] range of parameterized types in hover"
This is essentially the same issue as #7975, but for types. Only `Array` should be highlighted here, instead the entire `Array<Int>` type hint is:

![](https://i.imgur.com/BM85acy.png)

This makes it so you have to "cancel" the hover first before you can hover over the `Int` type parameter.

[2019-03-31 09:29] RealyUniqueName commented on #8069
[code]
generates:
[code]

[2019-03-31 10:00] ncannasse commented on #8065
I think specifying that it returns true if it's platform runtime object value seems fair. Would that break some unit tests?

[2019-03-31 10:03] ncannasse commented on #8068
I think it's the platform responsibility (either at gen or as part of the compiler type checker) to generate correct code for this.

[2019-03-31 10:19] Simn commented on #8068
I'm not against improving support for this, but I don't want to do it for 4.0 because I want to release 4.0 at some point and this involves messing with various targets.

We would have to generate run-time support classes like we do for abstracts.

[2019-03-31 10:59] Simn opened #8075 "[eval] Array issue with push/pop/set"
[code]

This seems to require this specific pattern to reproduce. Looks like `pop` doesn't actually unset the value, it just optimistically reduces the array length by 1. The set operation then doesn't blit anything because the underlying array is sufficient in size already.

[2019-03-31 13:59] terurou opened #8076 "Allow-function with `_` argument in iterp"
I tried this code in 4.0.0-rc.2.

[code]

[code]

result
[code]

Is it expected behavior?

[2019-03-31 14:18] Gama11 commented on #8076
Not sure what you'd expect to happen there, the second `_` shadows the first. That's how it works on every target, not just `--interp`.

[2019-03-31 14:20] nadako commented on #8076
I think there was already discussion about same-argument-name though. IIRC `function f(a, a)` is also allowed with the same behaviour which can be surprising.

[2019-03-31 14:35] terurou commented on #8076
Thank you. I understand.
I assumed the `_` argument to be ignored like the pattern match.

[2019-03-31 14:35] #8076 closed, assigned to nobody

[2019-03-31 14:48] terurou commented on #8076
I also write C#, so I might have confused this:
https://docs.microsoft.com/en-US/dotnet/csharp/discards

[2019-03-31 15:00] Gama11 commented on #8076
I also find it a bit strange that "ignored" parameters can still be used (I know that it's just a convention for function parameters, with no special semantics). It might be reasonable to turn that into a compiler error? Then again, you'd probably have to do the same with locals for consistency.

[2019-03-31 15:39] terurou commented on #8076
I do not think this should be a compiler error. There is almost no problem in practice. (In the first place, I just misunderstood.)
However, I think that it is kinder when it becomes a compiler error.

[2019-03-31 20:25] ncannasse commented on #7746
I made a small fix in lastIndexOf in ac8b78a792c4801e2da5f13e15417437fd3d0a19
But the problem remain that we don't have a native way to search bytes backward, which would be necessary to reach the required performances.

[2019-03-31 20:34] ncannasse commented on #7746
I've opened https://github.com/HaxeFoundation/hashlink/issues/239 not to forget about it

[2019-03-31 20:52] lublak opened #8077 "[bug] Loop in class building prevent compiler termination on TLazy TypedExpression"
Currently i can't currently figure out how i reproduce it (if i find some i post it here, i hope!)

currently sometimes if i go over the ClassType (superClass) and search the constructor than sometimes i get a TLazy.
Somtimes if i follow the TLazy with: `TypeTools.follow(const.type)`
like this:
[code]

Also the compiler exit immediately.
all after `const.expr();` not execute anymore.

if i replace

[2019-03-31 21:39] nadako opened #8078 "[java] assertion failed in completion related to overloads"
[code]
gives
[code]

[2019-04-01 07:31] lublak commented on #8077
closed because i think duplicate error: https://github.com/HaxeFoundation/haxe/issues/6567

[2019-04-01 07:31] #8077 closed, assigned to nobody

[2019-04-01 08:27] lublak commented on #6567
@Simn is there any solution for it?
I'm confused about it.

[2019-04-01 09:00] RealyUniqueName commented on #7217
Is this ok?
[code]

[2019-04-01 09:11] Simn commented on #7217
Sounds good!

[2019-04-01 09:47] Gama11 opened #8079 ""Cannot access field or identifier timeout for writing" with call before assignment"
The following used to compile with Haxe 4.0.0-rc.2, but no longer does on dev (probably related to #8011):

[code]

The above code is isolated from Lime 7.2.1. Is this an intentional breaking change, or a regression?

[2019-04-01 10:02] back2dos commented on #6567
When in a build macro, try to avoid triggering expression typing. For example, you might be able to generate macro calls in the returned fields, that will get run later, i.e. during the expression typing.

[2019-04-01 10:38] #7217 closed

[2019-04-01 11:03] Simn commented on #8079
¬_(*&!"*)£&!"$(£&)"(*$_"£($_"£$£"}~~}£"?$

[2019-04-01 11:06] nadako commented on #8079
what if you type-hint `var instance` with `Dynamic`?

[2019-04-01 11:07] Simn commented on #8079
Yes that works, it's an instance of the dynamic inference issue.

[2019-04-01 11:25] Simn commented on #8020
I'm tentatively setting this to 4.1 because I don't know if I'll do another eval-debugger pass before we release that. I think the main issue here has been addressed and the rest is not high priority.

[2019-04-01 11:26] Simn commented on #8039
Well, this has been addressed.

[2019-04-01 11:26] #8039 closed, assigned to Simn

[2019-04-01 11:56] Gama11 opened #8080 "-java-lib on non-Java-targets"
It looks like `-java-lib` is currently _allowed_ on non-Java-targets (and apparently there's also valid use cases for it), but in practice it doesn't actually _work_ due to `@:overload`-related errors:

[code]

[code]

[code]

So one of two things should probably be done:
- fix the errors so that Java externs actually become usable on non-Java-targets
- throw an error when trying to use `-java-lib

[2019-04-01 12:20] nadako commented on #8080
I don't think the first option is really viable, because how the externs should work on other targets depends very much on the concrete use-case. I assume the original intent here is to use java APIs from some embedded interpreter that provides access to java types? The correct approach would be to generate some specific externs/glue code by either macro within java target compilation or even by m

[2019-04-01 14:15] ncannasse opened #8081 "Cannot read + write with type inference"
[code]

This used to work and now gives `Cannot access field or identifier x for writing`

[2019-04-01 14:23] Gama11 commented on #8081
Probably a duplicate of #8079?

[2019-04-01 14:28] Simn commented on #8081
Let's revert #8011.

[2019-04-01 15:08] ncannasse commented on #8081
@Simn what's exactly the problem here? We can first infer null write then update it to default write since the anon is still open

[2019-04-01 15:17] Simn commented on #8081
That's what I thought it was doing, but apparently it's not what it's actually doing.

[2019-04-01 15:38] ncannasse opened #8082 "Issue with hlopt cache optim"
It seems the optimizations I did for hlopt are not working well enough.
- I sometimes get some assert on line 1021 due to mismatch between our cache and the function. Somehow using hxf as key doesn't work?
- using the function path as key and checking for physical tfunc equality skips most (all?) of the methods
I think it's required to generate an unique id for each tfunc

[2019-04-01 15:45] AlexHaxe opened #8083 "[PHP] slow Xml.parse with large input on Haxe 4rc2"
Working with large XML data structures on PHP target is almost impossible due to a huge slowdown in latest Haxe 4 versions compared to Haxe 3 generated output. Haxe 4's PHP code is orders of magnitude slower, than its Haxe 3 equivalent.

Sample code with a very flat XML structure takes about 1s with Haxe 3 and 100s with Haxe 4.
With real world XML files using more complex data structures it's even

[2019-04-01 21:53] RealyUniqueName commented on #8083
@AlexHaxe could you please check the latest dev with your real data?

[2019-04-01 21:59] RealyUniqueName opened #8085 "Rewrite parsers in std to use `haxe.io.Input` instead of strings as data sources"
Since Haxe now supports multibyte strings by default, string-based parsers became slower on some targets (at least on php: #8083)
`haxe.xml.Parser`
`haxe.format.JsonParser`
`haxe.Template`
Anything else?

[2019-04-01 22:13] RustyMoyher opened #8086 "Diagnostics error occurs when an @ is used in the file path"
If the path of a file has an `@` in it, an error will occur with diagnostics.

For example, I have a folder called `@Projects`. This causes the error to occur in VSCode when I save.

`Invalid format: Projects/FlixelTut/source/PlayState.hx`

The issue appears to be a compiler bug, probably a string.split() that goes wrong. Based on discussions with @Gama11 in Discord, we believe that Haxe does a a

[2019-04-01 22:22] AlexHaxe commented on #8083
I only ran some basic tests, but it looks like Xml.parse is now working at almost identical speed to Haxe 3.
Same goes for json parsing with `-D haxeJSON`, it might even be slightly faster than Haxe 3 - of course both are not as fast as without `-D haxeJSON`.

I will try to get more test runs in, but so far it looks great!

Thanks for the quick fix and good job!

[2019-04-02 06:56] RealyUniqueName commented on #8063
Maybe some special `ThreadHandle` type would solve this issue without comparison magic and abstracting `Thread`?

[code]
And then comparing threads is just `thread.handle == thread.handle`

[2019-04-02 06:58] Simn commented on #8063
I don't think we should fix the comparison. What we should fix is the two `Thread` objects not being equal in the first place.

[2019-04-02 07:47] RealyUniqueName opened #8087 "[cpp] Turn on hxcpp_smart_strings by default"
Currently, it's off by default:
[code]
[code]

Also, hxcpp_smart_string has issues: https://github.com/HaxeFoundation/hxcpp/issues/772

[2019-04-02 08:55] lublak commented on #6567
@back2dos thank you for the tip.
I complete rework my code that maps expr against imports.
So i can cache the expr and use it later in my code without trigger typedexpr.
It works fine with my workaround.

[2019-04-02 10:51] nadako commented on #7987
After doing this we should also re-generate Flash externs.

PS also we should use enum abstracts instead of `@:fakeEnum` while we're at it

[2019-04-02 12:51] mockey opened #8088 "Cannot compare String as Constraint?"
This used to work:
[code]
But in current git version I get the compile error:
`Cannot compare sortAsc.T and sortAsc.T`
I understand that not every T is comparable like this, but I get the same error for `sortAsc<T:String>`, while `sortAsc<T:Int>` works. Is that correct?

Actually I would like to have that function for Int *or* String. Is there a syntax for that? I only saw `<T:Int & String>` but t

[2019-04-02 13:00] RealyUniqueName opened #8090 "[hxcpp] sys tests fail with `-D hxcpp_smart_strings`"
[code]

[2019-04-02 17:03] Simn commented on #8088
Uhm, did we ever allow `String < String`?

[2019-04-02 17:04] Simn commented on #8086
I... don't think this can be fixed in the old protocol.

[2019-04-02 17:06] Gama11 commented on #8086
Why not? The `@displaymode` can only appear at the end, right?

[2019-04-02 17:09] Simn commented on #8086
Yes but the position is also separated with a `@`. It's `file@pos@mode`, _and_ the mode is optional. So with `fi@le@pos@mode` we are in a bad spot.

[2019-04-02 17:12] Gama11 commented on #8086
I'm not sure that can actually happen though? Or is `@` a valid character in a module name?

The original issue here is with `@` in an earlier part of the path.

[2019-04-02 17:52] back2dos commented on #8088
[Here you go](https://try.haxe.org/#b87f4):

[code]

[2019-04-02 17:57] lublak opened #8092 "try catch over haxe.macro.* doc "wrong""
`Context.getType` throws an error that can not be catched

`Module haxe.Constraints does not define type Constraints`

It it here?
https://github.com/HaxeFoundation/haxe/blob/a4fad7bdf61558547232b8b12d3a2aefbb79b60a/src/typing/typeload.ml#L94

[code]

http://try-haxe.mrcdk.com/#cB1d0

[2019-04-02 18:06] Simn commented on #8086
Not sure what you mean, something like `/something/@Projects/File.hx@12@position` is just the case I mention. Or do you think we should try to find the `File.hx` first and then take it from there?

[2019-04-02 18:10] Gama11 commented on #8086
Something like that, yeah.

[2019-04-02 18:14] lublak commented on #8092
A workaround if someone needs it (warning not perfekt)

[code]

[2019-04-02 20:14] ncannasse commented on #8085
haxe.io.Input is maybe a bit too highlevel, calling readByte is a bit expensive and requires a dynamic dispatch. Maybe we should have something more like a StringReader that allows the operations we need in a parser in an optimized way, something that would replace StringTools.fastCodeAt/StringTools.isEOF but with a more high level API:

[code]

Regarding parsers, you can search std library for `f

[2019-04-02 20:21] Simn commented on #8085
What would also help is having an `actuallyFastCodeAt` which doesn't come with the weird Eof specification. You have the string length, there's really no excuse for reading out of bounds...

[2019-04-02 21:44] ncannasse commented on #8088
@Simn yes, strings can be freely compared, I think (and mostly hope) it's part of our std unit tests

[2019-04-02 21:47] ncannasse commented on #8085
Right, that could be replacing isEof(c:Int) by isEnd() which means we have reached the end of the string.

[2019-04-02 22:13] jonasmalacofilho opened #8093 "Can't read then write JSON field without explicit typing"
Something changed in the last week:

[code]

This is related to what type `obj` is inferred to be:

[code]

Honestly, since the spec says that monomorphs don't bind to Dynamic, I'm not sure why this used work in the first place.  Still, this should be fairly common when dealing with `haxe.Json`.

---

Note: pattern found in [haxe-version](https://github.com/ypid/haxe-version/blob/f3b927942db57c81f

[2019-04-02 22:16] Gama11 commented on #8093
This is likely the same as #8081 and #8079.

[2019-04-02 22:17] Simn commented on #8093
Could someone open a PR that adds a test for this and reverts #8011?

[2019-04-02 23:25] back2dos commented on #8092
Looks like you've reimplemented [`Context.resolvePath`](https://api.haxe.org/haxe/macro/Context.html#resolvePath) ;)

That said, as a rule the calls to `Context` methods don't throw `String` but `haxe.macro.Expr.Error` (because there's always a position associated with the error). I think I've run across cases where that is not so (not sure they even still exist), but even then, the exception was

[2019-04-03 05:03] ncannasse opened #8094 "Sys unicode unit tests"
I know it's late since we're already at RC2 but I'm a bit worried about our state of Sys support wrt unicode, as #8087 #8057 etc are showing.

I don't want to delay the 4.0 final release but I think it's better if we have a good picture of were we're at and if we can fix some of the most urgent issues before final release that would be great.

We need to test the following (with full unicode chars

[2019-04-03 06:05] lublak commented on #8092
ähhh yes xD this function removes from my brain.

but catching Dynamic works fine.
My opinoin is we should change the doc

to

@back2dos

[2019-04-03 08:42] #8046 closed, assigned to RealyUniqueName

[2019-04-03 09:29] RealyUniqueName commented on #7533
I've just measured. And applying a mask to left shift makes it slower by 13%
[code]
reports ~0.455s on each run, while without a mask it's ~0.4s on each run.

[2019-04-03 09:38] RealyUniqueName opened #8095 "Bitwise operators should overflow on 32bits"
@ncannasse [said](https://github.com/HaxeFoundation/haxe/issues/7533#issuecomment-432648995):

If this is our spec, then we need additional tests in our test suite and the php target should comply (which [will make bitwise operators on php ~13% slower](https://github.com/HaxeFoundation/haxe/issues/7533#issuecomment-479413138)).

If so, this is better to be done in 4.0 than in 4.1

[2019-04-03 09:49] RealyUniqueName commented on #8095
Note the current php behavior of not following this spec causes haxe-crypto to not work on php target: https://github.com/HaxeFoundation/crypto/issues/8#issuecomment-479083004

[2019-04-03 10:00] ncannasse commented on #8095
Could we have a PR with additional tests to check whereas other targets are affected ?
If possible, I would like to keep it in 4.0 as this is a silent runtime difference, I would prefer to break it on a major release than on a minor one.

[2019-04-03 10:00] ncannasse commented on #8095
PS: 13% slower seems good to me otherwise (for PHP, which is not mainly about speed)

[2019-04-03 10:23] RealyUniqueName commented on #8093
Here: https://github.com/HaxeFoundation/haxe/pull/8096

[2019-04-03 13:03] mockey commented on #8088
`Reflect.compare` was completely new to me, live and learn, thanks for that.
And it still compiles with current version :-)
I think I've written that compare/sort function a hundred times or so...

But about my other question: Is a constraint for two types possible, like String or Int?

[2019-04-03 13:03] mockey commented on #8088
BTW: Is that compile error actually an issue then?

[2019-04-03 15:46] nadako opened #8097 "[nullsafety] haxe.DynamicAccess vs safety"
[code]

gives
[code]

the error comes from the inlined `DynamicAccessKeyValueIterator.next` method:

[code]

this will fail here if we add `@:nullSafety`, which is fair, because `access[key]` returns `Null<T>`.

interestingly, if we change it to `(access[key] : T)`, it will compile, even though the typecheck is not null-safe (we're casting `Null<T>` to `T`), which might be another issue.

[2019-04-03 20:03] Simn commented on #1306
I suppose we can close this issue now and focus on concrete reports and ideas instead. \o/

[2019-04-03 20:03] #1306 closed

[2019-04-03 20:18] ncannasse opened #8098 "sys.io.File.copy eval"
sys.io.File.copy in eval throw an uncatchable OCaml exception when the file does not exists.

[2019-04-04 08:59] #7936 closed, assigned to RealyUniqueName

[2019-04-04 09:00] RealyUniqueName commented on #8083
@AlexHaxe  any news?

[2019-04-04 09:40] AlexHaxe commented on #8083
I haven't encountered any slow downs during my tests, so I would call it fixed.

[2019-04-04 09:40] #8083 closed, assigned to RealyUniqueName

[2019-04-04 09:56] RealyUniqueName commented on #8095
According to test results php, python and lua don't follow this spec.
Now the question is: should the sign bit of the result of 32bit operation be replicated in a 64bit value storing that result?
I mean (for example) `0xFFFFFFFF | 0 == -1` even on 64bit runtime or `0xFFFFFFFF | 0 == 4294967295` is ok?

[2019-04-04 14:44] #8098 closed, assigned to RealyUniqueName

[2019-04-04 14:54] hughsando opened #8100 "Please separate build logic from travis.yml"
Hxcpp uses the bleeding edge haxe build from source.  The procedures for building haxe - particularly the difficulties with ocaml - are a moving target and can cause travis to break.
haxe has these precious steps inside travis.yml, but I would appreciate these steps being put in something like "build_linux.sh"  so they can be shared with hxcpp (and other projects).

[2019-04-04 16:28] RealyUniqueName commented on #8049
Bisected to 704ec5d8c1a792d88e976a5f2681842936ca994d

[2019-04-04 17:25] RealyUniqueName commented on #8049
This `raise_hover` is not caught anywhere:
https://github.com/HaxeFoundation/haxe/blob/da81c978c6afa2690b61727fb47b2565307252da/src/context/display/displayEmitter.ml#L237-L239

<details><summary>Here is the call stack</summary>

[code]

</details>

[2019-04-04 17:31] Simn commented on #8049
Hmm, it's a Context.getType which causes this. Typeloading checks display stuff all over the place, but it assumes that somebody actually catches the display exceptions it raises.

We could temporarily unset the display position before loading the type, but I'm not sure if that's the right thing to do. We could also catch the exception, but then what do we do with it...

[2019-04-04 17:59] RealyUniqueName commented on #8049
What was the behavior before 704ec5d8c1a792d88e976a5f2681842936ca994d ?

[2019-04-04 18:07] Simn commented on #8049
The field had no position, so the problem never occurred because the type load never considered the field to be the display field.

[2019-04-04 20:00] Simn commented on #8063
Maybe we should go for abstracts after all. Given that we're moving the types to a new place anyway, it seems like a practical choice.

[2019-04-04 20:29] Aurel300 opened #8101 "Type unification bug with dynamic function"
Minimal example:

[code]

The `f1` assignment is fine, but for `f2` it fails with:

    Test.hx:5: characters 5-22 : error: String should be Void
    Test.hx:5: characters 5-22 :  have: (...) -> String
    Test.hx:5: characters 5-22 :  want: (...) -> Void

This only seems to happen with `dynamic` functions.

[2019-04-05 11:21] Simn opened #8102 "Bad @:generic typing when Dynamic is involved"
Found in the unit test for #4273:

[code]

Dump:

[code]

Note how the `v` field is typed as `Int`. I assume what happens is that Dynamic isn't bound to a generated monomorph while constructing the generic instance, and then it becomes `Int` via the `T` on the `eq` call.

[2019-04-05 11:43] #8102 closed, assigned to nobody

[2019-04-05 11:43] #8059 closed, assigned to nobody

[2019-04-05 11:43] #8075 closed, assigned to Simn

[2019-04-05 12:27] Simn opened #8103 "Bad typing in @:structInit constructor"
[code]

Dump:

[code]

There's some confusing `Null<Int>` vs `Int` here: While the `x` field is typed as `Int`, the `Field` expression is `Null<Int>`. We should take the type of the lhs, not rhs, when generating assignment expressions.

[2019-04-05 12:32] #8103 closed, assigned to nobody

[2019-04-05 12:36] Simn commented on #8103
I'm surprised static targets managed to generate this correctly because the `Null<Int>` to `Int` assignment is quite hidden here...

[2019-04-05 14:52] #8079 closed, assigned to nobody

[2019-04-05 14:52] #8081 closed, assigned to nobody

[2019-04-05 14:52] #8093 closed, assigned to nobody

[2019-04-05 15:07] RealyUniqueName opened #8105 "[python] Runtime error upon accessing non-existent field of anonymous object inferred from Dynamic"
[code]
[code]

[2019-04-05 15:07] Gama11 commented on #8105
Same as https://github.com/HaxeFoundation/haxe/issues/5051?

[2019-04-05 15:08] RealyUniqueName commented on #8105
Duplicates #7546

[2019-04-05 15:08] #8105 closed, assigned to nobody

[2019-04-05 15:09] RealyUniqueName commented on #8105
No. That one was about properly typed var. This one is about inerred `Dynamic`.

[2019-04-05 15:09] RealyUniqueName commented on #7546
Only happens if inferring type from `Dynamic`:
[code]

[2019-04-05 15:15] RealyUniqueName opened #8106 "[python] invalid value traced for `trace(null);`"
[code]
Should print "null", but prints "None":
[code]
Need to check if other something else is affected besides `trace`.
Probably related to #3877

[2019-04-05 19:06] ncannasse commented on #8095
0xFFFFFFFF should be compiled to -1 anyway, on both 32 and 64 bits runtime.
Otherwise all bits ops ( | ^ & << >> >>>) should return a 32 bit signed integer

[2019-04-05 21:43] dionjwa commented on #6546
Yeah I just noticed this, great stuff!

[2019-04-05 22:12] RealyUniqueName commented on #8095
`0xFFFFFFFF` is already compiled as -1. What I mean is if as a result of some bitwise operation we get 1 on the thirty-second bit, should it also set to 1 the sixty-fourth bit on 64 bit systems?
E.g.
[code]
both have the same binary representation, but different decimal value.

[2019-04-06 08:20] kevinresol commented on #8095
Perhaps introduce `Int32` which has consistent 32-bit behavior across platforms?

and keep `Int` to have  "native" behaviour?

[2019-04-06 08:26] Simn commented on #8095
IMO for 4.1 we should look into adding a `haxe.numeric` package which has `(U)Int(8|16|32|64)`, while `Int` just represents the native integer type.

[2019-04-06 08:34] RealyUniqueName commented on #8095
What if we leave current Int as-is, but create a haxelib library with the suggested `haxe.numeric` types? This way we won't break any rc2-compatible code and introduce consistent Int32 much earlier than 4.1. And then incorporate it into 4.1 by the time of release.

[2019-04-06 08:36] Simn commented on #8095
Not sure if this makes sense as a haxelib because it requires generator support.

You could probably make an abstract implementation that just works (I mean, we'll need that anyway), but to make it efficient we have to make the generators aware.

[2019-04-06 08:38] RealyUniqueName commented on #8095
Yes, I mean abstract-based implementation for haxelib. At least it will be consistent across targets.

[2019-04-06 08:39] Simn commented on #8095
Yes that might be a good approach. Have this default implementation which does the right thing (and tests 20000 corner cases), then optimize it in the generators where possible.

[2019-04-06 09:24] Gama11 opened #8108 "[display] macro reification support"
Several things I'd like to have to make the experience of using [expression reification](https://haxe.org/manual/macro-reification-expression.html) easier:

- [x] Auto-trigger completion on `$` when we're inside a macro (can be done with tokentree on the language server side)
- [ ] Show the full list with `$i{}` / `$v{}` etc in completion when inside `macro` (both after typing `$` or without it),

[2019-04-06 09:34] nadako commented on #8108
I wonder if expected type sorting already works for e.g. `$i{...}`.

[2019-04-06 11:23] Gama11 opened #8109 "[std] move arg quoting functions out of StringTools"
It doesn't seem like the `StringTools` additions from https://github.com/HaxeFoundation/haxe/commit/767b3fb4021124276741473ee2185f70b8508a92  (`quoteUnixArg()`, `winMetaCharacters`, `quoteWinArg()`) really belong there. It's especially awkward to have those functions show up in String dot completion with `using StringTools`.

According to @ncannasse `StringTools` shouldn't even have a regex depend

[2019-04-06 11:26] Gama11 commented on #8109
`isEof()` also seems slightly unusual, and already has `@:noUsing`, likely because of that.

[2019-04-06 12:04] ncannasse commented on #8095
Ok for leaving as-it for now, and working on it for 4.1

[2019-04-06 12:06] ncannasse commented on #8109
I agree these should be moved somewhere else.

[2019-04-06 13:33] Gama11 commented on #8108
Hm, it looks like completion on `macro $|` just doesn't work period:

![](https://i.imgur.com/Wv9SYpp.png)

So auto-triggering doesn't do much good.

[2019-04-06 17:25] #8087 closed, assigned to RealyUniqueName

[2019-04-06 18:54] Gama11 opened #8110 "[display] hang when interacting with `@:hlNative` usages"
To reproduce:

- open `haxe\std\hl\_std\sys\net\Socket.hx`
- invoke a hover request on some specific `socket_` calls, for instance `socket_init();` in line 113
- `haxe.exe` is now in some infinite recursion and all further display requests hang

This seems to be triggered by a very recent "regression" / fix. Even in rc.2, this didn't trigger a hang (instead, I simply get a `Display file was not fo

[2019-04-06 19:34] RealyUniqueName opened #8111 "Issues in other repos to be fixed till Haxe 4.0 release"
- [x] https://github.com/HaxeFoundation/hxcpp/issues/772
- [x] https://github.com/HaxeFoundation/haxelib/issues/448
- [x] https://github.com/HaxeFoundation/hxnodejs/issues/122
- [x] https://github.com/HaxeFoundation/hashlink/issues/250
- [x] https://github.com/HaxeFoundation/hxcpp/issues/797
- [x] https://github.com/HaxeFoundation/dox/issues/256
- [x] https://github.com/vshaxe/vshaxe/issues/349
-

[2019-04-06 20:03] Gama11 commented on #5131
After stumbling over this and reading through https://github.com/HaxeFoundation/hxcpp/issues/92, I've added some disclaimers to the docs of `read()` and `write()` which I _think_ should be accurate. Not sure if that's enough to close this issue, and it'd be good if @ncannasse could confirm that the docs are ok.

I'm also wondering if it's a good idea to allow using these methods in non-blocking mo

[2019-04-06 20:30] Gama11 commented on #8109
Including `isEof()`? In that case, they can't be moved into some `sys` package module as that is used outside of sys targets too.

I guess that only leaves the option of creating a new module in the `haxe` package? Perhaps it would fit into `haxe.io`?

What would the module be called, and do we need a `@:deprecated` redirect for `isEof()` in `StringTools`?

[2019-04-07 00:06] Gama11 commented on #7460
I think this should be covered by https://github.com/HaxeFoundation/haxe/commit/d415a7d8f18a08c6e253e38057b165392173d6dc, didn't know there was an issue for it. :)

[2019-04-07 00:06] #7460 closed, assigned to nobody

[2019-04-07 06:06] binki opened #8112 "Manually specify dependencies for DCE"
When I call an extern method which accepts a type such as `IMap<String, String>`, DCE deletes methods on my type that are required by the type.

If an extern library’s method accepts a type, Haxe should assume that the extern method may access any of the members of that type. This should result in passing such types to extern methods causing all of their members to be marked keep. Otherwise, the c

[2019-04-07 19:38] Gama11 commented on #7050
I now check this in the language server using tokentree (https://github.com/vshaxe/haxe-language-server/commit/5a97fb48d9b9748cd96d05f5f36ba9ac2aefc321), so not sure if it's strictly necessary to do anything on the Haxe side anymore.

[2019-04-08 10:12] RealyUniqueName commented on #3414
This works as expected because of being calculated at compile time by the compiler and compiled as `trace(-1)`

This is because it's calculated at runtime by PHP with 64bit integers.

Since it's decided to [keep `Int` as native integers](https://github.com/HaxeFoundation/haxe/issues/8095), I'm closing this issue.

[2019-04-08 10:12] #3414 closed

[2019-04-08 10:47] Simn commented on #8065
Never mind, changing this likely wouldn't improve anything.

[2019-04-08 10:47] #8065 closed, assigned to nobody

[2019-04-08 11:00] RealyUniqueName opened #8114 "[php] spec test for Utf8 failure"
[code]

[2019-04-08 11:50] oscarcs commented on #5131
It's been 2 1/2 years since I've looked at Haxe sockets, but if there's anything I need to do to update my [StackOverflow question and answer](https://stackoverflow.com/questions/39292522/how-do-i-use-haxe-sockets-in-a-cross-platform-way-without-blocking) for this (which seems to be the top Google result for 'haxe sockets'), please do let me know.

[2019-04-08 11:51] Aurel300 opened #8115 "neko startsWith/endsWith empty string test failures"
In the `neko` unit tests at the moment:

[code]

The failing lines are:

[code]

Might be a regression after https://github.com/HaxeFoundation/haxe/pull/8062

[2019-04-08 13:03] Aurel300 commented on #8115
Difference is caused by inconsistent behaviour of `indexOf` and `lastIndexOf` on neko:

[code]

Outputs `-1` and `-1` on neko, `0` and `6` on other targets.

[2019-04-08 13:05] Simn commented on #8115
I think we should just patch that in neko's String.hx. Not worth going into the C code over this.

It's surprising that this isn't caught by our unit tests though.

[2019-04-08 13:09] AdrianV opened #8116 "@:nullsafety(false) annotation is ignored"
when a class is annotated with @:nullSafety, you cannot disable checks for single expressions:

[code]

[2019-04-08 13:14] Gama11 commented on #8116
It's now `@:nullSafety(Off)`: https://github.com/HaxeFoundation/haxe/pull/7811

[2019-04-08 13:41] chrilves opened #8118 "[Python] Variable capure when an enum constructor field has the same name as the enum"
On Haxe 4.0.0-rc2, the enum

[code]

compiles (simplified) in Python to

[code]

which makes `C` to call its argument `A` instead of the class `__init__`.

[2019-04-08 13:45] Gama11 commented on #8116
@RealyUniqueName Do you think invalid values as `@:nullSafety()` arguments should give a compile time error?

[2019-04-08 13:48] RealyUniqueName opened #8119 ""\xFF" notation produces wrong string literals"
E.g.:
[code]
Passing that string through this code:
[code]
produces following sequence:
[code]
while it should be
[code]

[2019-04-08 13:50] #8114 closed, assigned to RealyUniqueName

[2019-04-08 13:55] RealyUniqueName commented on #8114
Now PHP tests fail because of #8119

[2019-04-08 13:57] RealyUniqueName commented on #8116
I think yes

[2019-04-08 14:09] RealyUniqueName opened #8120 "[as3] spec tests failures"
[code]
https://github.com/HaxeFoundation/haxe/pull/8107#issuecomment-480499518

[2019-04-08 14:35] AdrianV commented on #8116
Hm with my simple example @:nullSafety(Off) works. In my projects I tried both @:nullSafety(Off) and@:nullSafety(false) but had no success -  i will check again. BTW sometimes it is very hard to figure out which operation triggers the null safety error

[2019-04-08 14:42] AdrianV opened #8121 "@:nullSafety on an abstract level is ignored"
this code compiles, but should error

[code]

[2019-04-08 14:49] AdrianV commented on #8116
I have checked now: @:nullSafety(Off) works as expected - sorry for the wrong report, but I am complete dizzy now, because of so many null problems in my code...

[2019-04-08 14:55] RealyUniqueName commented on #8116
You can add `@:nullSafety` meta class-by-class instead of `--macro nullSafety("whole.app")` to migrate gradually.

[2019-04-08 15:27] Aurel300 commented on #8063
After discussion with @Simn, it seems that abstracts alone can't solve the problem completely. They seem like a good idea for targets where the underlying handle is just a primitive anyway, e.g. `handle` in `cpp`.

But for e.g. `eval`, this won't work, since `current()` in the stdlib just calls `StdThread.self()` which just generates a new instance:

https://github.com/HaxeFoundation/haxe/blob/dev

[2019-04-08 15:36] RealyUniqueName commented on #8120
[code]
I'm not sure what to do with this one.
It's
[code]
compiled to exactly the same as3 code.
Either as3 generator should generate a cast of `a[0]` to int or this test should be disabled for as3 to leave the generator intact.
@ncannasse

[2019-04-08 15:38] back2dos commented on #8063
Let's please not add further overhead to context switching. For all targets except eval, there's actually a call that returns the same value for the same thread. As for eval, we have full control, so I'd suggest fixing it there (could also be via opaque thread handles wrapped in abstracts).

[2019-04-08 15:44] AdrianV opened #8122 "@:nullSafety on abstract this not always recognized"
Sorry couldn't find a better subject naming. In the following code I need to explicitly annotate an expression with @:nullsafety(Off) to make the whole thing work.

[code]

[2019-04-08 15:55] Simn commented on #8063
I don't think that's true. There's a hack to make it _appear_ like it's the same value. See #4141.

[2019-04-08 16:17] back2dos commented on #8063
That hack is to make it appear like *the wrapper instances* are identical. I don't see how that's still relevant in light of the agreed upon solution.

[2019-04-08 16:47] Aurel300 commented on #7609
Found this again during #8117. The docs should specify what the intended behaviour of `s.indexOf("", index)` and `s.lastIndexOf("", index)` should be. Unfortunately making this consistent across targets might involve adding some checks to otherwise direct function mapping:

 - `neko`: `$sfind(str, x, "")` returns `x` but throws an error if `x < 0 || x >= str.length` (but this should be handled in

[2019-04-08 18:05] RealyUniqueName commented on #8119
Seems it's an intended behavior: https://github.com/HaxeFoundation/haxe/issues/7449
Though, idk why do we need `\x` to behave like this since we also have `\u`

[2019-04-08 18:07] Simn commented on #8119
IMO we should discuss this again because the longer I look at this the wronger it seems.

[2019-04-08 19:13] RealyUniqueName opened #8124 "[cs] spec test failure"
[code]

[2019-04-08 20:41] #8124 closed, assigned to RealyUniqueName

[2019-04-08 22:10] Gama11 commented on #7809
Worryingly, a `return` also seems to bypass the `missing this = value` check.

[code]

I'm not sure what the implicaitons of this are, but that might make it Haxe 4 priority after all?

It at least seems to break with `inline`, which results in a confusing `Cannot inline a not final return`.

[2019-04-09 00:38] mailsoza commented on #8052
Okay, it's just that hxssl is not compatible with macros, so one solution is to use `curl` with sys.io.Process. How exactly can i use it in code? I tried to pass `sys.io.Process("curl https://google.com > file.temp")` and then `sys.io.File.getContent("file.temp")`, but it only reads the second time the program is run. Is passing the content to a file a good option or are there better ones? Thanks

[2019-04-09 01:07] zagortenej opened #8126 "haxe cpp build fails with "expected unqualified-id ..." message"
UPDATE:
As I was reproducing this issue on OSX I realized that `M_PI_2` is actually `#define` from `math.h` and that is why the build is failing. If I change M_PI_2 to i.e. M_PI_2a it builds fine, I just get a lot  of warnings:

     warning: dynamic exception specifications are deprecated in C++11 [-Wdeprecated]

Maybe there is a way to handle these kind of edge cases, maybe not, and I'm not even

[2019-04-09 07:21] RealyUniqueName commented on #8052
Try `new Process("curl", ["https://google.com"]).stdout.readAll().toString()`

[2019-04-09 07:45] ncannasse commented on #8110
git bisect ? ;)

[2019-04-09 07:46] ncannasse commented on #8109
We will keep fastCodeAt/isEof for backward compatibility

On Sat, Apr 6, 2019 at 10:30 PM Jens Fischer <notifications@github.com>
wrote:

[2019-04-09 07:50] Gama11 commented on #8052
IIRC, it's a bad idea to use `Process` like that? `close()` is never called, I think that once led to processes being leaked whenever code completion was invoked with FD / Flixel...

[2019-04-09 07:52] ncannasse commented on #8112
That's the whole point of DCE, and there is no way for the haxe system to know which extern library is using what without you somehow providing this information.

We could add a dce mode such as you suggest, but let's say that your Map contains some of your custom app class, then suddenly all this class, and all the other classes it references (its member fields, etc.) will be "dce-kept".

[2019-04-09 07:59] ncannasse commented on #8119
Our strings are now unicode so we don't allow anymore arbitrary byte injection in it.
`\xFF` now means the unicode character "255", so we should have:

[code]

[2019-04-09 08:01] ncannasse commented on #8120
seems like in AS3 the array is not correctly typed as `Array.<int>` or else reading from it should be 0.

[2019-04-09 08:06] Aurel300 commented on #8119
But, to be clear, its length *in unicode codepoints* is 1, not in bytes.

[2019-04-09 08:13] RealyUniqueName commented on #8120
But arrays are not parametrized in as3. Or is there a way to do it, which I'm not aware of?

[2019-04-09 08:15] Simn commented on #8120
Let's disable the test, nobody uses the AS3 target anyway and this is not a regression.

[2019-04-09 08:17] nadako commented on #8120
the only parameterized type in as3 is vector

[2019-04-09 08:19] #8120 closed, assigned to RealyUniqueName

[2019-04-09 08:23] RealyUniqueName commented on #8052
That was more of a "show api in one line" :)

[2019-04-09 08:26] RealyUniqueName commented on #8119
But why do we need it now since we have `\u00FF` which does exactly the same thing?

[2019-04-09 08:29] Gama11 commented on #8052
Yeah, but then people copy it as-is and only notice that there's a problem until it's too late. ;) (that's what happened with Flixel)

[2019-04-09 08:29] #8115 closed, assigned to Aurel300

[2019-04-09 08:31] AdrianV opened #8127 "sometimes Void as a value compiles on JS"
just fund this by accident the following code compiles only on JavaScript but I think it should not.
On other targets (tested interp, neko and cppia) it errors as expected
The behavior is the same for Haxe 3.4

[code]

[2019-04-09 08:47] Simn commented on #8119
That's exactly why I think values > 127 should be disallowed...

[2019-04-09 09:08] ncannasse commented on #8120
Ah right, my flash days are getting far. The correct fix would have been to cast after each typed Array read.

[2019-04-09 09:11] ncannasse commented on #8119
We can either disallow > 127 or make sure >127 outputs unicode characters.
The first option tells people they need to update their code, the second
assume that that's what they intended from the start.

On Tue, Apr 9, 2019 at 10:47 AM Simon Krajewski <notifications@github.com>
wrote:

[2019-04-09 09:18] Gama11 opened #8128 ""No-op" arrow functions typed against Void"
[code]

Instead of a no-op, this actually generates code that returns an empty object literal, which can be quite surprising. See generated JS:

[code]

If typed against a `->Void` return, this should probably just generate `function() {}`?

[2019-04-09 09:21] back2dos commented on #8119
Could anyone please come forward with a good use case for `\x` escape sequences beyond char 127? Short of that, my suggestion would be just to disallow it for the time being, as it's unlikely to break any significant amount of code.

[2019-04-09 09:23] back2dos commented on #8128
Strongly related to https://github.com/HaxeFoundation/haxe/issues/7376

[2019-04-09 09:29] nadako commented on #8128
I wonder if `({}:Void)` in general should (also) be typed as empty block tho. This makes sense, but might be surprising not to have an error there in cases where it looks like a value (that said you'll still get a "cannot use Void as a value" later).

[2019-04-09 09:39] nadako opened #8129 "[flash] swc extern loader vs uppercase-first packages"
We have an SWC with this code: https://github.com/shin10/Starling-FFParticleSystem/tree/master/src/de/flintfabrik/starling/extensions

And it's not possible to import anything from the `de.flintfabrik.starling.display.FFParticleSystem` package, because (obviously) it's also a module within Haxe type system.

One solution would be to lowercase the first package letter, like (I think) it's done in t

[2019-04-09 11:47] Aurel300 opened #8131 "Java TestThreads silently fails"
[code]

The test runner should output some text ("all tests ok"). The exit code is non-error `0`, even though it seems to be a crash. Any tests following `TestThreads` are not run.

[2019-04-09 12:45] AdrianV opened #8132 "@:nullSafety(Off) does not work in the constructor"
the @:nullSafety(Off) annotation is ignored in the constructor - or I am using a wrong syntax again ?

Is there a way to use `this` inside the constructor when not all fields are initialized ? Any not trivial class needs to access `this` in the constructor in some way.

As shown in the TestD, marking all fields with @:nullSafety(Off) works, but can still lead to errors, so I would prefer to have a

[2019-04-09 13:27] ncannasse commented on #8129
Good for me

[2019-04-09 13:29] #8132 closed, assigned to RealyUniqueName

[2019-04-09 13:30] RealyUniqueName commented on #8132
Try `bar = @:nullSafety(Off) this` with the latest dev Haxe.

[2019-04-09 17:01] Aurel300 commented on #8094
Concerning file and filesystem tests only, for the time being:

The approach of providing files and directories with various Unicode-heavy names directly in the Git repo should cover a lot of cases. Some things of note:

 - characters that are reserved on NTFS (Windows), but allowed on HFS+ (macOS) should not be part of the provided files
    - these should **eventually** be tested but I think for

[2019-04-09 17:02] RealyUniqueName commented on #8049
#8133 fixes this issue, but reported type is still not `JsonParser_0`:

![img](https://i.imgur.com/lfNA3BO.png)

This is beacause JsonParser macro generates fields using the same position it uses for `JsonParser_0`, and one of that fields is picked for completion.

[2019-04-09 18:20] Gama11 commented on #8049
@elnabo / @ibilon sounds like the positions json2object generates may need to be adjusted?

[2019-04-09 19:12] #8049 closed, assigned to RealyUniqueName

[2019-04-09 20:58] Aurel300 opened #8134 "Handling filesystems with non-Unicode filenames"
[Many filesystems](https://en.wikipedia.org/wiki/Comparison_of_file_systems) allow filenames in the format:

or even:

Both NTFS, ReFS (Windows) and HFS+ (macOS) impose a fairly reasonable limitation:

With an only-Unicode paths limitation, we can express paths as Unicode `String`s in Haxe and have nice `FileSystem` interfaces. Since we support Linux, however, there is a potential problem when run

[2019-04-09 21:29] RealyUniqueName commented on #8134
I thought, it's specified that our strings are unicode now, please, let's not make them "some times it's bytes in an ugly representation" :)

[2019-04-09 21:33] RealyUniqueName commented on #8134
https://github.com/HaxeFoundation/haxe/issues/8119#issuecomment-481145290

[2019-04-09 21:48] Aurel300 commented on #8134
I agree, I would also prefer strings to always be valid Unicode. We do need to deal with the case of a non-Unicode filename somehow, though. Some alternative options:

 - simply throw an error when a non-Unicode filename is found
 - return `null`s instead
 - change the API to return `Either<String, Bytes>`

None are particularly good solutions.

I think having a completely separate alternative API

[2019-04-09 22:09] ncannasse commented on #8134
The best way to deal with it is to do the following:

- have filepathOfBytes : haxe.io.Bytes -> String and bytesOfFilepath : String -> haxe.io.Bytes that does some escaping/unescaping of invalid unicode chars in the form `\uSPECIAL\u00<byte>` where `\uSPECIAL` is an unassigned unicode code point.
- make sure (on filesystem that matters) that all not utf8-encoded strings are passed through filepath

[2019-04-09 22:55] Gama11 opened #8136 "[display] invalid positions in `replaceRange.end`"
Invoking completion here:

[code]

returns this replace range:

[code]

I think the only reason why this hasn't caused issue so far / isn't passed onto the LSP by the language server is that there happens to be a check that makes sure `replaceRange` isn't multi-line...

It's also a rather recent regression, this works even with RC2.

[2019-04-09 23:09] Gama11 commented on #8136
I must either be very lucky or very unlucky to run into this already, but this regression is in fact _very_ recent - it's from #8133. :)

[2019-04-10 06:20] Simn commented on #8136
Right, I forgot about `cut_pos_at_display`

[2019-04-10 08:57] Aurel300 commented on #8134
After some more thought I realised that having the `filepathOfBytes` and `bytesOfFilepath` functions in Haxe code assumes we can read file paths as byte sequences to begin with.

Likewise here, we need to provide a `Bytes` API for the users to be able to do that.

[2019-04-10 09:40] Aurel300 opened #8139 "Utf.iter8 throws for 0x7F on Neko"
[code]

Expected output: `127` and `97` (works on Python, JS, Java, eval, C++, …)

Neko v2.2.0:

[code]

[2019-04-10 09:49] RealyUniqueName opened #8140 "[js] multiple haxe-generated js modules race for Array.__name__ and String.__name__"
Main.hx:
[code]
build.hxml:
[code]
run.js:
[code]
Result:
[code]
This happens, because `withName.js` is generated like this:
[code]
and `withoutName.js` is
[code]
And since `withoutName.js` is loaded _after_ `withName.js` the `__name__` properties of `Array` and `String` are overridden.

I suggest to always generate `__name__` with a proper name value for `Array` and `String`.
Expected change shou

[2019-04-10 10:11] Aurel300 commented on #8139
This line is the culprit:

https://github.com/HaxeFoundation/neko/blob/master/libs/std/utf8.c#L362

(should be `<= 0x7F`)

There is a similar problem in HashLink, though it does not throw:

https://github.com/HaxeFoundation/hashlink/blob/master/src/std/string.c#L89

Additionally neither `C0`, `C1` (overlong sequence start), nor `F5` – `FF` (codepoints higher than allowed in Unicode) are rejected.

[2019-04-10 10:20] #8140 closed, assigned to RealyUniqueName

[2019-04-10 10:44] ncannasse opened #8142 "[hlc] hl/enums.h refactor"
All closures contexts are currently defined in hl/enums.h, leading to whole-recompilation times when order change or add/insert.

[2019-04-10 10:44] #8136 closed, assigned to RealyUniqueName

[2019-04-10 11:49] #8063 closed, assigned to Aurel300

[2019-04-10 12:30] Simn commented on #8057
I cannot reproduce that:

[code]

What OCaml version are you on?

[2019-04-10 12:41] ncannasse commented on #8142
closed by c586004af4e3ef7a064136afdb64dbb4fa0fbce3

[2019-04-10 12:41] #8142 closed, assigned to nobody

[2019-04-10 12:57] Simn commented on #8131
There must be some interaction with utest going on here. It works fine if we run `TestThreads` outside utest, in which case it happily goes through all 144 permutations of the tests. Under utest it just stops after 26. I also checked again on rc.2 and it looks I was wrong. It stops there too, although it goes to 41 or 42 tests there.

@RealyUniqueName: Any idea what could be going on here? The tes

[2019-04-10 13:12] Simn commented on #8112
Not sure what a good strategy is here. I don't think we should keep everything that is assigned to an extern by default. However, I also think it shouldn't be the responsibility of the user (of an extern) to handle this. The responsibility should be on the author of the extern, but it's unclear how we would interface here.

[2019-04-10 13:27] Simn commented on #3392
This also affects other occurrences of `_`.

[2019-04-10 13:32] Aurel300 commented on #3392
[code]

[2019-04-10 13:45] RealyUniqueName commented on #8131
Looks ok. I'll investigate

[2019-04-10 14:33] Simn commented on #7524
I had a look at this for Java but find it a bit dodgy. We will have to null-pad the missing arguments, but that quickly conflicts in case overloads are involved. At the very least we would have to communicate to the run-time which arguments are optional somehow.

[2019-04-10 14:51] RealyUniqueName opened #8143 "[cs] Missing `sys.thread.Thread` implementation"

[2019-04-10 15:56] binki commented on #8112
@ncannasse

I don’t think this is precisely true. The point of DCE is used to get a lot of the standard library or used packages to not be included in the compiler output when you just use a few classes from them. In my own projects, I try to avoid keeping any dead code in my own codebase—so removing my own dead code is not why I enable DCE.

If your extern class accepts a type, the type system sh

[2019-04-10 15:58] kevinresol commented on #8112
How about extending the @:keep meta?

- `@:keep` = keep this type or field
- `@:keep(target.Type)` = when this type or field is kept, also keep `target.Type`
- `@:keep(target.Type.field)` = when this type or field is kept, also  keep `target.Type.field`

[2019-04-10 15:59] Gama11 commented on #8112
That sounds a lot like `@:ifFeature`.

[2019-04-10 16:02] kevinresol commented on #8131
Calling `async.done()` inside a thread will cause all the remaining code to be run in that thread, no?

[2019-04-10 16:04] RealyUniqueName commented on #8131
Yes, but `async.done()` is not even executed. The app exits somewhere inside of `ThreadSort.run()`

[2019-04-10 16:05] Simn commented on #8131
I think this reproduces even without the extra thread.

[2019-04-10 16:05] kevinresol commented on #8143
Ref: https://github.com/haxetink/tink_concurrent/blob/1a5549b33b1ac1b8399ae23516dee9d44ee1d832/src/tink/concurrent/Thread.hx#L66-L81

[2019-04-10 16:16] RealyUniqueName commented on #8131
I can reproduce it even without utest.

[2019-04-10 16:32] RealyUniqueName commented on #8131
Apparently, Java just doesn't wait for child threads to complete.
If I add `haxe.Timer.delay(() -> trace('done'), 10 * 60 * 1000);` to the end of  `static main`, then everything works as expected.

[2019-04-10 16:36] RealyUniqueName commented on #8131
I'm not sure if we should workaround this behavior.

[2019-04-10 17:12] RealyUniqueName commented on #8131
Well, we explicitly tell java to not wait for threads :)

https://github.com/HaxeFoundation/haxe/blob/c586004af4e3ef7a064136afdb64dbb4fa0fbce3/std/java/_std/sys/thread/Thread.hx#L118-L124
See `setDaemon(true)`. Commenting it out fixes the issue.

[2019-04-10 17:37] Aurel300 commented on #8131
But wait, here:

https://github.com/HaxeFoundation/haxe/commit/df45237db3e568340c00bcf5889c5e51dda612c2

The line was added specifically for consistency with cpp and neko. Why does this test not fail on cpp and neko?

[2019-04-10 18:13] RealyUniqueName commented on #8131
Idk. Maybe something has changed since 2014 :)
Just checked: `Sys.exit()` correctly shuts down java app.

[2019-04-10 18:20] Aurel300 commented on #8131
But that's not the issue…

[code]

This needs to exit, not wait for the thread. Neko and Cpp do it this way currently.

[2019-04-10 18:23] Aurel300 commented on #8131
The entire point of `async.done` is to allow a test running in another thread to notify the test runner that the test has finished. The issue (I assume), is that the test runner does not correctly wait for the call to `async.done`, or it is waiting for it in a separate thread that gets killed off.

[2019-04-10 18:41] Simn commented on #8131
We shouldn't wait for child threads, but shouldn't utest keep things alive until that `async` is resolved? I thought that was the whole point of it.

[2019-04-10 18:41] RealyUniqueName commented on #8131
I see.
But the code handling `async.done` is the same for all targets. I'll dig deeper.

[2019-04-10 20:02] Simn commented on #3398
I think this has to be a compiler error on Java. The types are simply not compatible at run-time, and using the wrapper element type would defeat the purpose of Vector (which is being fast).

[2019-04-10 20:09] Simn commented on #3965
This is the same as #3398.

[2019-04-10 20:09] #3965 closed

[2019-04-10 20:17] Simn commented on #5748
This is also #3398.

[2019-04-10 20:17] #5748 closed

[2019-04-10 20:18] Simn commented on #6120
We're not gonna do this for genjava, but...

[2019-04-10 20:18] #6120 closed

[2019-04-10 20:21] Simn commented on #6276
This is tracked in #7524.

[2019-04-10 20:21] #6276 closed

[2019-04-10 20:31] Simn commented on #6536
@waneck: Any idea why this behaves differently between Java and C#?

[2019-04-10 20:40] Simn commented on #7561
This is a duplicate of #4091, where you said it would be fine to leave this unspecified.

[2019-04-10 20:40] #7561 closed, assigned to waneck

[2019-04-10 21:34] RealyUniqueName commented on #8131
So, I'm dodging this on the utest side by setting up a `Timer.delay()` repeatedly until all the tests are finished:
https://github.com/haxe-utest/utest/blob/aa39baf189e8bc4d14b93b2056a06a017f739276/src/utest/Runner.hx#L276-L282

However, `async` timeout is also set up using `Timer.delay()` from the main thread. And I don't know why Java target does not wait for `Timer.delay()` of `async`, but wait

[2019-04-10 21:35] RealyUniqueName commented on #8131
Closed by 8fd98c94ae3995b8ed053bb94e1d3cb8c552f516

[2019-04-10 21:35] #8131 closed, assigned to RealyUniqueName

[2019-04-10 22:09] AlexHaxe opened #8144 "[PHP7] root package modules conflict with include_path"
Recently I wrote a Wordpress plugin in Haxe targeting PHP7. It worked fine on my local system, but not on target system. I could get it to work by switching include paths (Haxe's lib first, then system includes). Today I learned that ordering breaks media uploads, so I had to limit my plugin to only invoke when run through `index.php`.

I have investigated further (I don't have direct access to ta

[2019-04-11 00:43] nanjizal commented on #8131
https://github.com/HaxeFoundation/haxe/blob/development/std/java/_std/Sys.hx#L147
Have a feeling I was ignored when I suggested that haxe.Timer should use nanoTimer internally?
Is this any use?
https://github.com/nanjizal/JigsawX/blob/master/jigsawxtargets/hxjava/UpdateTask.hx

[2019-04-11 01:25] nanjizal commented on #6536
I don't know about c# but it's effectively internally it's   NativeArray < HxObject > and not really NativeArray < Int > so the way it defaults is different from how might be expected:

 "Arrays of primitives have elements that are initialized to default values. Arrays of objects have the value null in each element." http://www.pearsonitcertification.com/articles/article.aspx?p=101368&seqNum=7

[c

[2019-04-11 03:36] kevinresol opened #8145 "Unable to use private class in the same module as static extension"
[code]

[2019-04-11 05:35] flashultra opened #8146 "[hl] Ignore byte \x0"
Hashlink ignore byte 0 when is added in String.
Example:
[code]
Output for Hashlink is : ``` Bytes: 70617373776f7264 ```
but the correct one is :  ```Bytes: 70617373776f726400```

[2019-04-11 07:11] RealyUniqueName commented on #8144
Could you please copy-paste here the contents of the generated `index.php`?

[2019-04-11 07:15] AlexHaxe commented on #8144
[code]

[2019-04-11 07:15] RealyUniqueName commented on #8144
Actually, I don't think there is anything to do on the Haxe side here. Except maybe better document such situation to increase awareness.
Did you try `-D php-prefix=my.pack`? It will generate all the code into `\\my\\pack` namespace.

[2019-04-11 07:22] RealyUniqueName commented on #8145
This happens because internally in the compiler `Main.Helper` is generated into a special package for private types: `_Main.Helper`.
Would be great to have private types available in userland code as subtypes of their modules like `Main.Helper`.

[2019-04-11 07:34] AlexHaxe commented on #8144
`-D php-prefix=some.package` seems to solve the issue, it seems like I was unaware of that option.

I tried running with `-D php-prefix=haxe`, which results in a "Class 'haxe\haxe\Std' not found" error, but other namespace names work.

So I would say that fixes my issue, and I agree that maybe some documentation warning of such a naming conflict would help. The PHP section in Haxe manual is rather

[2019-04-11 07:50] RealyUniqueName commented on #8131
I don't see how would that help.
`haxe.Timer` is specified to have milliseconds precision anyway.

[2019-04-11 07:56] markknol opened #8147 "Unused variable warning for-loop"
[code]
I get `Warning: Unused variable`

Would be nice to suppress this kind of errors, because there is no other alternative.

I tried underscore but that didn't help
[code]

[2019-04-11 08:24] nadako opened #8148 "()->T shows up as Void->T in error messages"
[code]

gives `Int should be Void -> Void`, but should give `Int should be () -> Void`

[2019-04-11 08:57] Gama11 commented on #8147
Are you talking about diagnostics in FlashDevelop? In VSCode these are just grayed out instead of displaying as an actual warning.

![](https://i.imgur.com/JnwPUCT.png)

Seems like this would need to be a setting on FD's end?

[2019-04-11 08:57] kLabz commented on #6993
I have a similar issue, with a big project too, and commenting the same line (well it has moved since then; I am using haxe 4 rc2) solves it too.

The differences:
* I am not using `server.setModuleCheckPolicy()` at all
* It does not happen with a top-level type, but with one of my (macro helper) class
* It behaves exactly like issue #5588 although it is not an enum

So my issue is different, but

[2019-04-11 09:22] nadako opened #8149 "show unbound type param monomorphs by their name"
[code]

currently shows `Int should be Array<Unknown<0>>`, which is technically correct, if you know the inner workings, but I think it would be nicer/less confusing to show `Int should be Array<T>` here

[2019-04-11 09:32] kLabz commented on #6993
Problem solved for me!

I had this in my build.hxml:
[code]

I changed `''` to specific packages, and it removed the error.

_(This does seem similar to the issue with `setModuleCheckPolicy` somehow now)_

[2019-04-11 09:33] Gama11 commented on #6993
Hm, that's a problem, it's common to use `addGlobalMetadata` like that..

[2019-04-11 09:44] kLabz commented on #6993
Yeah, but I cannot reproduce the issue with simple projects.. I have no idea what I am doing wrong in this one =/

[2019-04-11 09:57] jeremyfa commented on #6993
Regarding the initial issue, @Simn helped me to nail the underlying problem a while ago: dependencies between haxe files where making `server.setModuleCheckPolicy()` settings break compilation server.
Tidying up how files depend on each other solved the issue for me (even if that was not an easy task).

However [this issue specific to C# and Java targets](https://github.com/HaxeFoundation/haxe/iss

[2019-04-11 10:08] markknol commented on #8147
cc @SlavaRa  Is there something HaxeDevelop can do here?

Some idea's from @Gama11 on the chat:

- > It should be easy for FD to check if the unused range is a `_`.

- > IMO unused code shouldn't be displayed as warnings to begin with, much nicer to gray it out

[2019-04-11 11:36] SlavaRa commented on #8147
@markknol Hi, I'll be in the chat after the main job :)

[2019-04-11 13:45] filt3rek commented on #4447
Hej !

Is there any news about that or it will never be implemented ?

[2019-04-11 14:00] nadako commented on #4447
I think typed metadata will be implemented at some point, but it's not in the nearest plan. You'll have to macro-process the meta for the time being, I'm afraid.

[2019-04-11 15:26] ncannasse opened #8150 "Compiler cache AST changes"
I think this is not HL specific, but there seems to be significant changes in AST (and then generated bytecode) when using or not the compiler cache.

This leads to big differences in generated C code, which requires as much recompilation.
AST should not depend on compiler cache, will investigate further.

[2019-04-11 15:33] ncannasse commented on #8150
Ok, I found this is related to this https://github.com/HeapsIO/heaps/blob/master/h2d/Object.hx#L424

[code]

The `this != null` check might disappear after using compiler cache, while it's present in first compilation output.

[2019-04-11 16:10] AlexHaxe commented on #8144
ok, now that I've tested with an actual project, instead of sample code, I found two issues when using `-D php-prefix=my.pack -php out`:
1. `res` folder is generated in `out/res`, but generated code searches for ressources in `out/lib/my/res`
2. in Wordpress I need to register some handlers/callbacks for which I call `Type.getClassName (MyType)`, but that call returns classname and package without

[2019-04-11 16:15] ncannasse commented on #8057
OCaml 4.03.0

[2019-04-11 16:27] ncannasse commented on #8057
Ok, the error was actually something else entirely : a big binary file that we were trying to pass (by accident) through haxe.Template.

[2019-04-11 16:27] #8057 closed, assigned to Simn

[2019-04-11 18:53] RealyUniqueName commented on #8144
With the latest dev Haxe there should be no issues with `-D php-prefix=haxe`

[2019-04-11 19:02] RealyUniqueName commented on #8110
This is probably fixed with recent fixes:

![hover](https://i.imgur.com/dZmPb7D.png)

@Gama11 please, check if you can reproduce it with the latest dev Haxe.

[2019-04-11 19:44] Gama11 commented on #8110
Still reproduces for me with 97aa17087de7376ca39ebe556a9693ea4c85388d.

[2019-04-11 19:45] Gama11 commented on #8110
With verbose mode, I'm endlessly getting this in the output:

[code]

Seems very similar to https://github.com/HaxeFoundation/haxe/issues/7236.

[2019-04-11 19:45] ncannasse commented on #8134
@Aurel300 yes, we already have haxe.io.Bytes API for manipulating bytes, and we could add public functions fromFilePath/toFilePath to it for doing the escaping/unescaping proposed in my other comment.

[2019-04-11 19:51] Aurel300 commented on #8134
I meant a `Bytes` API to produce the filepaths as `Bytes`. For example the equivalent of `sys.FileSystem.readDirectory(dir)` would be something returning `Array<Bytes>` instead of `Array<String>`, each entry being a filename in the directory.

[2019-04-11 19:51] ncannasse commented on #8139
I have fixed the 0x7F in HashLink.
I'm not sure what to do with C0-C1 and F5-FF, you can submit a PR for
hashlink string.c if you want to improve things here
I will not fix Neko but you can submit a PR there as well.

On Wed, Apr 10, 2019 at 12:11 PM Aurel <notifications@github.com> wrote:

[2019-04-11 20:06] ncannasse commented on #8112
@binki the problem is the following. Let's say you have an extern that does the following:

[code]

Then if you automatically do what you describe, then you have to keep the whole Map implementation, but also the whole MyClass implementation, and the whole OtherClass implementation, and all other classes referenced by any of these classes member variables or method return types, because there is n

[2019-04-11 20:08] ncannasse commented on #8112
Actually, we might want something that works the other way as `@:ifFeature` as well.

[2019-04-11 20:10] Gama11 commented on #8112
"The other way"? `@:unlessFeature`?

[2019-04-11 20:15] ncannasse commented on #3398
We have similar error at runtime in HL.
The correct fix is to either inline or @:generic the function.

[2019-04-11 20:29] Simn commented on #3398
We should have some `@:invariant` metadata on these type parameters, but I still don't know how to implement that properly.

[2019-04-11 20:39] RealyUniqueName commented on #8144
Try `php.Syntax.nativeClassName(MyType)`.

[2019-04-11 20:45] ncannasse commented on #8131
Ideally we should wait until all user-created threads are terminated before exiting.
We should however be able to mark a thread as "not blocking" so we can terminate before it ends.
We already do that for our haxe.MainLoop events (see `isBlocking`)

[2019-04-11 20:47] Simn commented on #8131
Why would we suddenly switch the default behavior here? None of our threaded targets wait for children, so if anything we should make that an opt-in behavior.

[2019-04-11 20:47] ncannasse opened #8153 "Threads termination"
Following #8131, quoting myself:

Ideally we should wait until all user-created threads are terminated before exiting.
We should however be able to mark a thread as "not blocking" so we can terminate before it ends.
We already do that for our haxe.MainLoop events (see isBlocking)

[2019-04-11 20:48] Simn commented on #8153
Quoting myself too:

[2019-04-11 20:49] ncannasse commented on #8131
Making sure that all threads created by potentially various sources are terminated is very hard for the end user, so this is something the Haxe API should provide as part of its Thread API. The way Java does actually by having daemon=false by default. I think it's the right choice, although might require a bit of additional support for other platforms.

[2019-04-11 20:49] ncannasse commented on #8131
PS: you can always force-exit with Sys.exit if you need it

[2019-04-11 20:50] #8119 closed, assigned to nobody

[2019-04-11 20:50] ncannasse commented on #8148
I'm sure you can fix this one yourself ;)

[2019-04-11 20:51] Simn commented on #8131
I acknowledge the usefulness of this, I just don't see why we should randomly switch the default behavior here...

[2019-04-11 20:54] Simn commented on #8148
Careful with the misc tests though.

[2019-04-11 20:57] AlexHaxe commented on #8144
Thanks, that works for Haxe 4. For Haxe 3 I still have to use `Compiler.getDefine`.

Haxe 3 also suffers from `res` folder location issue, when using `--php-prefix=my.pack`

[2019-04-11 21:00] RealyUniqueName opened #8154 "[java] TestThreads fails on Windows"
[code]
https://ci.appveyor.com/project/HaxeFoundation/haxe/builds/23764812/job/nimuxakvuxc37fa3#L2378

[2019-04-11 21:01] Simn commented on #8154
I think this is a legit timeout.

[2019-04-11 21:01] ncannasse opened #8155 "Haxelib "boot""
I propose the following for replacing haxelib.exe:

In OCaml:
- rewrite the method responsible for resolving haxelib repository (which is quite easy)
- locate the current haxelib package installed using this method
- if not present, install it from statically linked data
- run it using haxe eval

This way:
- no neko dependency required (only for running run.n if necessary)
- haxelib can be distrib

[2019-04-11 21:02] AlexHaxe commented on #8144
latest `Resource.hx` change fixes `res` location problem

[2019-04-11 21:04] RealyUniqueName commented on #8154
There is also an actual failure:
[code]

[2019-04-11 21:05] Simn commented on #8154
That's a wait timeout, so there's a good chance this is another legit timeout.

TestThreads is a bit of a stress test which is not really suitable to be run on CI I think.

[2019-04-11 21:08] ncannasse commented on #8134
@Aurel300 we don't need this, because that would require all APIs taking/returning file paths to have two versions, which is bad design.

Instead, FileSystem.readDirectory would return (potentially escaped) String. The user that want to get the exact corresponding bytes can use  Bytes.fromFilePath(fileName) . However, he can directly read the file using sys.io.File.getContent(fileName) for example

[2019-04-11 21:10] ncannasse commented on #8112
I mean, `@:ifFeature` keeps the method if the parameter is kept. In the cases of externs we want to keep the parameter if the method is kept.

[2019-04-11 21:12] ncannasse commented on #3398
Yes, not sure how to get to the compile time error there. Most likely some late check like null for basic types

[2019-04-11 21:14] ncannasse commented on #8131
It's not random, it's better design by default. I'm not saying that we should do it now, but at some point yes.

[2019-04-11 21:15] ncannasse commented on #8153
It needs to be the default so when you use a library that has job threads that you don't "own", you have no way to tell when these are finished without relying on default behavior.

[2019-04-11 21:16] ncannasse commented on #8154
Can we have CI-compatible parameters there maybe?

On Thu, Apr 11, 2019 at 11:05 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-04-11 21:21] binki commented on #8112
@ncannasse

But it should result in correct output code and, for example, not include custom types which are fully unreferenced.

If people are writing externs and trying to play nicely with DCE, they will switch to using interfaces and base class names that declare the minimum of what they need. That’s why things like `IMap<>` exist—so you can program to interfaces and write reusable utilities wh

[2019-04-11 21:21] Simn commented on #3398
What we could do is have something like a default constraint on the type parameter, so that when you have an unconstrained `Vector<T>` it is actually `Vector<T:{}>`. I'm not sure how to handle that in syntax though, and the error message would probably be very confusing.

[2019-04-12 07:18] Simn commented on #8155
I wanted the compiler to have _less_ knowledge about haxelibs and such, not more...

[2019-04-12 11:38] back2dos commented on #8153
I can see the merits of the proposed default behavior (and FWIW both Java and C# do it the same, unless you call `thread.setDaemon(true)` or `thread.IsBackground = true` respectively).

That said, now that we have had a consistent behavior in place for years, changing it is risky (read: pure madness), because this can silently lead to programs no longer exiting. An example would be hxcpp's build t

[2019-04-12 12:16] #2861 closed

[2019-04-12 12:16] #8064 closed, assigned to Simn

[2019-04-12 12:42] Simn commented on #8149
Not sure if that's even possible...

[2019-04-12 12:43] nadako commented on #8064
This is not related to https://github.com/HaxeFoundation/haxe/issues/8050, right?

[2019-04-12 12:46] Simn commented on #8050
This now generates

[code]

We should add a test for this. I didn't realize this was a behavioral problem or I would have 4.0ed it earlier. Sorry about that.

[2019-04-12 13:04] lublak opened #8157 "[display] macro generated object is dynamic"
[code]
![grafik](https://user-images.githubusercontent.com/44057030/56039015-9b327000-5d33-11e9-9b9a-43d7202cf7d7.png)
![grafik](https://user-images.githubusercontent.com/44057030/56039027-a38aab00-5d33-11e9-8b3b-e87b840ae016.png)
![grafik](https://user-images.githubusercontent.com/44057030/56039232-1562f480-5d34-11e9-96c8-3074473bcf26.png)
![grafik](https://user-images.githubusercontent.com/44057

[2019-04-12 13:08] Gama11 commented on #8157
I think this is just compiler internals leaking through, nothing to be concerned about / which would actually have an impact on type safety.

(I'm going to interpret this as proof that random `Dynamic` hovers are harmful ;) https://github.com/HaxeFoundation/haxe/issues/8008, https://github.com/HaxeFoundation/haxe/issues/7703)

[2019-04-12 15:01] kevinresol commented on #8050
The null check is generated implicitly? Is this behaviour documented anywhere?

[2019-04-12 15:26] Gama11 opened #8159 "[macro] `.macro.hx` not working for build macros"
It seems like this should work (and might help dealing with issues such as #8066).

Instead, it fails with `Type not found`:

`Main.hx`

[code]

`Macro.macro.hx`

[code]

[2019-04-12 15:26] nadako commented on #8050
I think it was there for a while now (since 4b086437709a44b18c05e646248522e16f4ce05d?), but I'm not sure it's documented.

[2019-04-12 15:35] ncannasse commented on #8155
It's not a compiler, it's a new exe. Any other proposal for boostrapping ?
Alternative solution is to have this written in Haxe (using haxelib sources) and compiled with hxcpp as exe. But since hxcpp requires haxelib...

[2019-04-12 15:52] back2dos commented on #8155
I'm not sure what this is actually solving, but concerning concrete issues brought up:

Possible solution: Add hxcpp as git submodule to haxelib. Compile with `-D no-compilation` and call into the build tool in `Context.onAfterGenerate` (involves making sure it runs on eval, but with the new unified threading API, it might actually work quite well).

[2019-04-12 17:58] Simn opened #8160 "[java] Dynamic field generation is not always valid"
[code]

Evaluation order mandates that `d.dontRebindMe` is evaluated before `d.iRebindYou()`, but the way genjava generates this code violates that:

[code]

I think `Runtime.callField` can only be used is the arguments don't have side-effects. The alternative would be to delay the argument evaluation until the call is made, but I don't think there's a good way of achieving that in Java.

[2019-04-12 18:24] Simn commented on #3399
This is also the same as #3398.

[2019-04-12 18:24] #3399 closed

[2019-04-12 19:01] nadako commented on #8160
I'm pretty sure this is also an issue on C#

[2019-04-12 22:36] RealyUniqueName commented on #8160
Something like `Reflect.call(Reflect.field(d, "dontRebindMe"), [m.iRebindYou()]);`?

[2019-04-12 22:41] nadako commented on #8160
The whole point of `Runtime.callField` is to avoid dynamic closure creation when we just want to call a method. So it's more like: `Runtime.callField(d, "dontRebindMe", () -> [m.iRebindYou()])` but then it might be not worth it since we have to allocate another closure...

[2019-04-13 16:37] lublak commented on #8157
@Gama11 it also shows erros in the console:

but now (i don't know why.... i can't recreate this issue anymore) it works all fine.
![grafik](https://user-images.githubusercontent.com/44057030/56082604-07d46a00-5e1b-11e9-8b5a-e8da154a2d98.png)

i think it was just a cache error.

[2019-04-13 16:37] #8157 closed, assigned to nobody

[2019-04-14 13:44] mailsoza commented on #8052
It worked. Thank you!

[2019-04-14 13:44] #8052 closed, assigned to nobody

[2019-04-14 16:41] ncannasse commented on #3398
That's not very good semantic-wise either. You want T to be anything, not
any object on static platforms. And it works well with either inline or
generic.

On Thu, Apr 11, 2019 at 11:21 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-04-14 16:46] ncannasse commented on #8159
macro is not a platform. I guess it works with .eval.hx ?

[2019-04-14 16:49] Gama11 commented on #8159
No, I already tried that, and that doesn't work either.

[2019-04-14 16:49] nadako commented on #8159
We also look for `macro` postfix and this is pretty handy to avoid all the wrong typing context issues, and I think this should work too.

[2019-04-15 00:57] kevinresol commented on #8159
`Macro.hx` has to exist too. Otherwise the compiler will not search for `Macro.macro.hx`.
https://github.com/HaxeFoundation/haxe/blob/91fcc0d142d0af5301f457d82fca9353dff6a01d/src/context/common.ml#L617

[2019-04-15 09:06] markknol opened #8162 "[suggestion] `self` for abstracts"
I would love to have `self` for abstracts, I'm basically copy/pasting this quite a lot.

[code]

I need this if you have an enum abstract and want to switch on the values, or when using a abstract with custom operators. One random example is https://github.com/markknol/hx-vector2d/blob/master/src/geom/Vector2d.hx#L82-L110

This might be breaking since we need to have `self` as reserved keyword.

[2019-04-15 09:23] Simn commented on #8162
I acknowledge the issue but I don't want to randomly add a keyword like `self` to the language, so this is going to require some thought and probably a haxe-evolution.

[2019-04-15 09:33] Gama11 commented on #8162
Hm.. if abstracts were simply generated with a `self` field like in Mark's snippet, it wouldn't necessarily have to be a keyword (though likely still break existing `self` fields). Not sure if that's a sane option at all.

[2019-04-15 10:01] RealyUniqueName commented on #8162
@nadako suggested `self` to be an arbitrary identifier like this:
`abstract MyAbstract(selfIdent:MyType) {}`

[2019-04-15 10:07] Simn commented on #8162
That seems wrong, the whole idea is that you want to reference the abstract type, not the underlying one which is already referenced by `this`.

[2019-04-15 10:08] Gama11 commented on #8162
Yeah, I think nadako was saying that that _would've been_ an option if the semantics of abstract `this` were different, but that ship has sailed now.

[2019-04-15 10:24] nadako commented on #8162
Yes, I was talking _hypothetically_, like if we are to design abstracts again, it would be nice if `this` was typed as the abstract itself (so, consistent with classes), but `someIdent` (that comes from `abstract A(someIdent:T)` was typed as the underlying type.

[2019-04-15 10:58] RealyUniqueName commented on #8162
Something like `abstract MyAbstract(MyType) in selfIdent {}` or `as selfIdent`? :)

[2019-04-15 10:59] Simn commented on #8162
That (the `as` version) was also my first thought.

[2019-04-15 11:24] YellowAfterlife opened #8164 "haxe.macro.Field.doc only recognizes /** doc */, no /// doc"
As of Apr 12 build,
[code]
[code]
gets you
[code]
It'd be lovely if `///` was also allowed for docs, as it is convenient to pull out docs into a quick reference page through a macro, but not so much when you get to choose between odd-looking
[code]
and bulkier (3 lines of code for 1 line of text)
[code]

[2019-04-15 11:30] Gama11 commented on #8164
I would disagree that `/** */` in a single line is odd-looking, though the option I see more frequently is `/** **/`. Either way, I don't think Haxe needs a new "comment type".

[2019-04-15 12:04] YellowAfterlife commented on #8164
FlashDevelop/HaxeDevelop supported `///` comments as a distinct token type (`commentlinedoc`) since introduction of support for Haxe, and triple-slash comments are used either for documentation or metadata in variety of other languages/editors/tools ([TS](https://www.typescriptlang.org/docs/handbook/triple-slash-directives.html), [GML](http://docs2.yoyogames.com/source/_build/1_overview/3_addition

[2019-04-15 12:06] Gama11 commented on #8164
IMO it's not correct for FD to support that right now, since it's not really part of the language. But that's a different discussion I guess.

[2019-04-15 12:20] kLabz opened #8165 "XML literal: Unterminated markup literal"
Re-entrency doesn't work for self-closing tags.

This works:
[code]

While this fails with `Unterminated markup literal`:
[code]

[2019-04-15 14:29] markknol opened #8167 "Enum value comparison check"
When I do `if (enumValue == enumValue)` and I get `You cannot directly compare enums with arguments. Use either 'switch' or 'Type.enumEq'`

But when I do `if (obj.enumValue == obj.enumValue)` everything suddenly compiles. I would expect the same error here.

It's odd that I can hide the first error by enabling another line of code (?)

When uncommenting line 12 the difference can be seen.
[code]
h

[2019-04-15 14:32] Gama11 commented on #8167
Also, the error message should mention `.match()`.

[2019-04-15 15:23] RealyUniqueName commented on #8167
Shouldn't it be a warning? How do I compare two enum instances for physical equality?

[2019-04-15 15:26] Simn commented on #8167
There's no point because this will always be `false`.

[2019-04-15 15:59] nadako commented on #8167
No they won't. :)

[2019-04-15 16:00] nadako commented on #8167
Ah you mean, when directly invoking constructors...

[2019-04-15 16:06] Simn commented on #8167
Not an issue, see slack for details.

[2019-04-15 16:06] #8167 closed, assigned to nobody

[2019-04-15 18:35] andyli opened #8170 "js.Promise#catchError incorrect typing"
At the moment, `js.Promise#catchError` is typed as
[code]

However, in JS, the resulting promise will resolve with the previous result if the `catch` handler return nothing. Also, the promise may just resolve without error, so the catch handler is never called.

Consider the Haxe code as follows,

[code]

[2019-04-15 18:45] andyli opened #8171 "EitherType in function types"
[code]

I think the `test()` call shouldn't type-check. i.e. `Int->Void` shouldn't unifies with `haxe.extern.EitherType<Int,String>->Void`.

[2019-04-15 19:40] RealyUniqueName commented on #8154
I've played a bit with timings and still think something is wrong besides the timeouts.
Maybe it's the test is not correct, idk.
Here is one of my attempts (just increased the @:timeout):  https://ci.appveyor.com/project/RealyUniqueName/haxe/builds/23865119#L1155
As you can see there's plenty of errors.

[2019-04-15 19:44] Simn commented on #8154
Yes but look at what line 235 actually tests: `Assert.isTrue(l.wait(1.));`. The `wait` is supposed to finish normally (returning true), but it timeouts after 1 second and returns false.

You can try increasing that 1 second and see if that makes a difference. But still, if that doesn't complete within 1 second there's probably simply too much load in the thing.

You can also try running with `crea

[2019-04-15 20:00] RealyUniqueName commented on #8154
I already did: https://ci.appveyor.com/project/RealyUniqueName/haxe/builds/23795717/job/aetspwort5buugyq#L2391

[2019-04-15 20:03] RealyUniqueName commented on #8154
Besides the timeout erros there are these:
[code]

[2019-04-15 20:04] Simn commented on #8154
My assumption is that those are follow-up errors.

Can you try without creatorLoad? If that also fails then we can be fairly certain that something isn't working right.

[2019-04-15 20:21] RealyUniqueName commented on #8154
Waiting: https://ci.appveyor.com/project/RealyUniqueName/haxe/builds/23870592

[2019-04-16 05:57] back2dos commented on #8164
It's not like FD invented this comment style and it is a bit thin to argue about comments not really being part of the language, because that's the nature of comments. What's more, [none](https://github.com/HaxeFoundation/dox/wiki/Generating-documentation-XML-files-using-Haxe) [of](https://api.haxe.org/haxe/macro/Field.html#doc) [the](https://api.haxe.org/haxe/macro/ClassField.html#doc) [docs](htt

[2019-04-16 06:29] nadako commented on #8164
My problem with this is that people for sure will use this as a multi-line documentation comment, which is stupid, but hey, C# supports that. So we'll have to collect multiple tokens into one etc.

[2019-04-16 06:35] Simn commented on #8164
We should document that `/** documentation */` is the supported documentation style, but I see no reason to add another syntax for the same thing.

[2019-04-16 06:52] kLabz commented on #8171
Unless I am missing something, I think it's expected since haxe._extern_.EitherType is meant for externs likely doing their own runtime checks, so it's up to your `test()` function to call `f` appropriately.

[2019-04-16 06:55] Simn commented on #8165
I hate this stupid feature so much.

[2019-04-16 07:05] Simn commented on #8165
I was under the impression that this wasn't supposed to work because the first `/>` would be picked up as the document-closer. Did I get that wrong?

[2019-04-16 07:14] kLabz commented on #8165
Yeah I think I read a comment of yours saying this would most probably be a limitation (in the issues discussing the feature before you implemented it, iirc).

[2019-04-16 07:23] andyli commented on #8171
I don't think type soundness has anything to do with designing for extern usage or not.

It is simply unsound for `A->Void` to unify with `EitherType<A,B>->Void`. It's similar to the case as follows:
[code]

If I want something that can accept both `A->Void` and `B->Void`, I can write `EitherType<A->Void, B->Void>`.

[2019-04-16 07:29] kLabz commented on #8171
I would have said it's more similar to `var f:Int->Void = function(i:Float) {};` (or `var f:B->Void = function(a:A) {};` with B extends A), which compiles.

Either way I now see your point, but it does not seem to me to be possible to handle this specific case without breaking many things if the above examples are indeed the same thing.

[2019-04-16 07:40] andyli commented on #8171
No, they are not similar, but exactly the opposite. Function types are contravariant, which means `A->Void` can unify with `B->Void` iff `B` unifies with `A`, but not the opposite.

[code]

[2019-04-16 07:44] Simn commented on #8171
I agree that this violates variance because the `EitherType` is the more general type.

[2019-04-16 07:45] Simn commented on #8165
@back2dos confirmed that this is a limitation. I can't see a way around this unless we completely change how we handle this.

But it's a bit sad...

[2019-04-16 07:46] kLabz commented on #8171
Seems like I understood it backwards, sorry about that :confused:

[2019-04-16 07:52] Simn commented on #8171
If I apologized every time I got tripped by function argument variance you'd think I was Canadian.

[2019-04-16 07:54] kLabz commented on #8165
Yeah, doesn't surprise me much =/

I just rebased your commit, but I now have errors with every self-closing tags :confused:

[2019-04-16 07:55] Simn commented on #8165
Uhm, can you post an example?

[2019-04-16 08:00] kLabz commented on #8165
Seems like I cannot have self-closing siblings:
`var a = <div><input /><input /></div>;` fails with `Missing ;` between the inputs.

[2019-04-16 08:04] RealyUniqueName commented on #8154
Still fails.
Btw, C# target fails with the similar errors on appveyor: https://ci.appveyor.com/project/RealyUniqueName/haxe/builds/23857848/job/ou0en2e7bj9ubyjm#L2389 while on travis C# passes this test.

[2019-04-16 08:05] Simn commented on #8154
Well, shit...

That means it could be something in the test or something in the thread implementation.

[2019-04-16 09:31] kLabz commented on #8165
@Simn could you revert 67698ab before next release candidate if you haven't fixed it until then? It makes the situation worse atm (but it's no big deal between releases).

[2019-04-16 09:48] Simn commented on #8165
Yes I've reverted it. The tentative answer is that both your examples are invalid because self-closing nodes are only supported if there is no `<` and `>` between the opening tag and the `/>`.

[2019-04-16 10:44] #7800 closed, assigned to Simn

[2019-04-16 10:51] nadako commented on #8170
Is this a regression?

[2019-04-16 10:56] kLabz commented on #8170
Nope, can reproduce with both 3.4.4 and dev

[2019-04-16 10:58] #8050 closed, assigned to Simn

[2019-04-16 10:59] Simn commented on #7838
Not touching this again for 4.0. We have to rethink this later.

[2019-04-16 11:03] andyli commented on #8170
BTW, I have an idea for the fix:

[code]

But it doesn't work due to #6065.
Moreover, the use of `<VOID:Void>` and the return type of `Promise<EitherType<T, TOut>>` is a bit questionable...

JS Promise is so hard to correctly type in Haxe...

[2019-04-16 11:08] #7994 closed, assigned to nobody

[2019-04-16 11:28] RealyUniqueName commented on #8110
Can reproduce by hovering `sock_init` here:
https://github.com/HaxeFoundation/haxe/blob/97aa17087de7376ca39ebe556a9693ea4c85388d/std/hl/_std/sys/net/Socket.hx#L112-L114

[2019-04-16 14:10] RealyUniqueName commented on #8110
The server recursively runs in this call stack:
[code]
Entered for the first time from here:
` (haxe/_build/src/typing/finalization.ml:47)`

It looks like some delayed typing causes it.

[2019-04-16 16:18] Antriel commented on #8162
I might be way off, but what about `this()`? It's already a keyword, it's normally invalid usage (I think?), so it handles this case nicely. Apart from using function call syntax, which is a bit awkward.
Edit: I suppose `this` could be a function, so this is all stupid. Disregard.

[2019-04-16 19:05] #8143 closed, assigned to RealyUniqueName

[2019-04-16 20:01] #8109 closed, assigned to RealyUniqueName

[2019-04-16 21:09] Gama11 commented on #8110
Hm... it seems this is now fixed for hover requests, but I can still trigger a hang if I invoke completion within that `__init__()` function with <kbd>Ctrl</kbd>+<kbd>Space</kbd> (in other places too).

![](https://i.imgur.com/DYI8RjA.png)

Not sure if it's the same hang.

[2019-04-16 21:31] Gama11 opened #8173 "Weird modifier combinations with `final` methods"
As @Aurel300 pointed out, `final` can be combined with some modifiers that make for a questionable combination:

[code]

Perhaps both of these cases should simply be a compiler error? It makes sense that it didn't before, since metas are untyped and usually don't cause errors, but now `final` is a proper keyword / modifier.

[2019-04-16 21:59] Gama11 opened #8174 "[display] hang during readClassPaths since rc.2"
Opening an issue for this despite not having an isolated repro case despite since it seems like a rather important regression.

If you open the [vshaxe-build](https://github.com/vshaxe/vshaxe-build) workspace in VSCode, haxe.exe hangs during Haxe: Parsing Classpaths. This happens with both latest dev and rc.2, but not rc.1 (the latter may require downgrading to hxnodejs 6.9.0).

Doesn't seem like

[2019-04-17 06:41] kevinresol commented on #8170
advertisement: [wrap js promise into a tink promise](https://github.com/haxetink/tink_core/blob/650acb4d9834a66212fdd71887d627485cb9219c/src/tink/core/Promise.hx#L162-L165) and get rid of the weird typing.

[2019-04-17 07:14] ncannasse opened #8175 "haxe.Utf8"
* `encode`, `decode` and `validate` should be either deprecated or replaced with bytes
* we keep the other API, by default they should iterate on charCodeAt but in case the platform is #if tf16, they should correctly decode the surrogate pairs
* `haxe.Ucs2` should be moved to hx3compat
* Lua should not have a static char method as String.fromCharCode already does the same
* compare should be remov

[2019-04-17 07:30] Simn commented on #8175
Note that haxe.iterators.StringIteratorUnicode already has the iteration with surrogate pair handling implemented.

[2019-04-17 07:58] francescoagati opened #8176 "haxe 4 jsrequire"
Hi,
with haxe 4 i have notice that extern class with jsrequire arent removed also if i use the macro exclude for eliminate some namespaces. with haxe 3 works but with haxe4 the require is mainteined in the output js

[2019-04-17 08:12] RealyUniqueName commented on #7549
Moved to `js.lib.Date`

[2019-04-17 08:12] #7549 closed, assigned to RealyUniqueName

[2019-04-17 08:13] Simn commented on #8078
I think this happens because the wrong overload is selected due to the typer being error-tolerant in display-mode.

[2019-04-17 08:17] Simn commented on #8078
In fact, this is probably a regression from https://github.com/HaxeFoundation/haxe/commit/949d0b8e949c0efd4124e011efd8085867065723#diff-67cfd4dd32c0945ddf80065ea37ce65fR166

[2019-04-17 08:18] RealyUniqueName commented on #5946
I don't know what to document here as it's already documented:
https://github.com/HaxeFoundation/haxe/blob/88e519536951213b16b3d7cb3ff510070fb07c29/std/Std.hx#L45-L48

[2019-04-17 08:21] Simn commented on #5946
Given that it's supposed to implement downcasting, maybe we should just deprecate-rename `instance` to `downcast`? That way it pretty much documents itself.

Or does casting from a parent interface to a child interface also not work?

[2019-04-17 08:29] #8078 closed, assigned to Simn

[2019-04-17 08:31] Simn commented on #8154
I'm removing the 4.0 milestone from this because this has likely been broken for a long time already, and I don't think it's high priority.

[2019-04-17 08:40] nadako commented on #8176
interesting. might be a dce regression, because I don't think we changed anything regarding `@:jsRequire`. could you provide a reproducible example?

[2019-04-17 08:41] nadako commented on #8078
Nice, thanks!

[2019-04-17 08:42] francescoagati commented on #8176
i have a big project where i have notice this when i have tested it with haxe 4. for now i have resolve with a macro that remove jsrequire meta. i can try to provide a github repository with a micro project for test

[2019-04-17 08:48] #7674 closed, assigned to Simn

[2019-04-17 08:49] Simn commented on #7883
Not the same, this one is about getters.

[2019-04-17 08:56] francescoagati commented on #8176
here an example https://github.com/francescoagati/test-haxe-4-extern-jsrequire
see the file js generated https://github.com/francescoagati/test-haxe-4-extern-jsrequire/blob/master/main.js

i import Test.hx with inside an extern class with jsrequire
i call Test.hello inside main (is only a test) and after i do a macro exclude  of Test in build.hxml
the Test class isnt imported but the require is ma

[2019-04-17 08:56] francescoagati commented on #8176
with haxe 3 the extern class with jsrequire isnt imported

[2019-04-17 08:58] francescoagati commented on #8176
also with recusion active --macro exclude('Test',true) isnt removed the extern class

[2019-04-17 09:24] Simn commented on #7883
Decrufted to

[code]

[2019-04-17 10:40] #8110 closed, assigned to RealyUniqueName

[2019-04-17 13:17] ciscoheat commented on #7699
A gotcha I found here is that you need to include the arguments in the returned result for autocompletion to work at all. For example:

[code]

Now when using a macro

[code]

Autocompletion isn't shown for `Macros.test(state.`, `Macros.test(state.player.`, etc, but when using

[code]

...it does display. In the deepstate library I modified the arguments quite a lot, so display mode just gave up a

[2019-04-17 19:13] Gama11 opened #8177 ""Can only extend structures" typing order issue with `--macro include`"
This is what I got when isolating the weird OS-dependent `language-server-protocol-haxe` CI failure I was debugging with @nadako yesterday.

`source/A.hx`:

[code]

`source/B.hx`:

[code]

`build.hxml`

[code]

[code]

---

Some very strange effects here:

- doesn't reproduce if the `?` is removed from `typedef C` (?!)
- if `A` is renamed to `B` and `B` to `A`, it also doesn't reproduce

[2019-04-17 19:15] Gama11 commented on #8177
Note: this is probably related to, or maybe even the same issue as the display issue in https://github.com/HaxeFoundation/haxe/issues/7937.

[2019-04-17 20:23] Gama11 opened #8178 "[display] @:deprecated typedefs in completion"
It's rather annoying to have the now deprecated types (#7390) show up in completion, and _before_ the ones you're meant to use:

![](https://i.imgur.com/s4R1yjg.png)

I think there's no reason to show `@:deprecated` typedefs in completion at all? At least as long as they're just simple aliases, typedefs to anon structs should probably still be shown. I think there's already some detection for the

[2019-04-17 20:28] EricBishton commented on #8178
Filter this in vsHaxe or vsCode, not the compiler.  IDEs should be able to make their own decisions.

[2019-04-17 20:38] Gama11 commented on #8178
I guess that might be preferable. But in either case something needs to change in the compiler, because the protocol currently doesn't seem to include metadata for types (even though the data structure has a `meta` field).

It looks like metas are only sent during `resolve` right now, and they're rather heavy since they include a `pos` for some reason..

[2019-04-17 20:45] EricBishton commented on #8178
I agree the metadata should be included in the protocol response. A flag set for common metadata would be Ok, if we want something lightweight. (Still need all of the metadata to be present, though.)

[2019-04-17 20:47] Gama11 commented on #8178
The thing I'm concerned about is this `pos` stuff, which seems rather useless in this context:

![](https://i.imgur.com/C4PJGyG.png)

We probably don't even need that during resolve requests.

[2019-04-17 22:05] nadako opened #8180 "[display] providing completion via macro doesn't do what i want"
(sorry for the title)

[code]

the pattern matches, but I expect compiler to output field completions for `{x:1}` (so, just `x:Int`), instead it returns toplevel completion

[2019-04-17 22:13] nadako commented on #8180
Returning `{pos: p, expr: EDisplay({pos: p, expr: EField(macro {x:1}, "")}, DKDot)}` works BTW, thanks @Simn

[2019-04-17 23:03] EricBishton commented on #8178
We could use a file dictionary to remove the duplicate — very long — names.

[2019-04-17 23:21] Gama11 commented on #8178
I don't think we need the positions of the metadata at all. There's already a position on the type.

[2019-04-18 00:09] EricBishton commented on #8178
That may be true for this use case.  The question becomes whether the code that puts out the metadata is common and the position is required for (an)other use case(s).  For instance, Is this code part of the compiler trying to expose full fidelity parsed data?

Or, is it, perhaps, trying to give ordering of the metadata so that an IDE can re-order based upon the user's/IDE's rules?

[2019-04-18 06:54] Simn commented on #8178
Never thought I'd see the day where @gama11 wants _less_ positions in the display output...

[2019-04-18 07:15] Simn commented on #8173
I'm not sure about `final dynamic`. For methods, `final` usually means that you cannot `override` them in sub-classes, which is a different concept than `dynamic` which allows rebinding. There could be use-cases for allowing rebinding of the function without allowing override, so I'd hold back on disallowing this for now.

I agree that `final static function` makes no sense.

[2019-04-18 07:19] Simn commented on #8165
Well, looks like that's just it: We allow self-closing tags only if no `<` or `>` are in the way. So both of these cases are not valid as far as our design is concerned.

And don't complain to me about this, I didn't design it.

[2019-04-18 07:19] #8165 closed, assigned to Simn

[2019-04-18 07:19] Simn commented on #8153
Let's provide the option, but not change the default. Also, let's do that later.

[2019-04-18 07:20] kLabz commented on #8165
Yeah I've read the discussion, seems like there isn't much choice anyway.

[2019-04-18 07:21] Simn commented on #8147
Let's never warn about unused variables if the variable is named `_`.

[2019-04-18 10:28] Simn commented on #6525
Unassigned myself; issue is too hard for me.

[2019-04-18 10:32] Simn commented on #7417
Pushing this to 4.1. It's a regression but I don't have a solution. I think we have to review `-java-lib` on a larger scale.

[2019-04-18 10:34] Simn commented on #7845
I'm not sure what to do with this. Introducing these compatibility abstracts is likely going to cause a lot of friction which I don't want to deal with right now. I would prefer to not touch this for 4.0 and then look at it again later.

[2019-04-18 10:37] #8147 closed, assigned to Simn

[2019-04-18 10:52] Simn commented on #7905
@ncannasse: Is this supposed to work? If so, who is supposed to flush the `PBuildClass` pass? This used to be done in `typing_timer` on the `Context.getType` call, but now it only does that if `need_type = true`, which isn't the case for `getType`.

[2019-04-18 11:07] sonygod opened #8181 "[js] haxe generate code parms is redefined?"
[js] haxe generate code parms is redefined?

haxe version :4.0.0-rc.2+78b5593f5

![image](https://user-images.githubusercontent.com/748320/56356966-dbe72900-620c-11e9-929f-e0c6d27f3d32.png)
//-------------------------------

[code]

[2019-04-18 11:11] markknol commented on #8147
Thanks! Nice solution!

[2019-04-18 11:16] RealyUniqueName commented on #8181
Original Haxe code for the js code on the screenshot:
[code]
Since Haxe compiler does not know about `k` being declared in `__js__("for( var k in o ) {");` the compiler will complain about usages of unknown identifier `k`. So we need to explicitly declare it in Haxe code.

[2019-04-18 11:29] sonygod commented on #8181
oh,I see,I'm just test js code in TampeMonkey ,and it's tips some error like that .but can run .

[2019-04-18 11:53] nadako commented on #8181
The loop should be `for (k in o)` then, not `for (var k in o)`

[2019-04-18 11:54] Gama11 opened #8182 "Disallow usage of ignored `_` locals"
I'm proposing that the following code should throw _"ignored variables cannot be used"_ errors.

[code]

I think it's a weird situation that `_` has special semantics in pattern matching, `bind()`, and now even diagnostics mode for locals (#8147), but that _you can still use them_ as if they were regular vars. The common convention for this is already that they're "ignored", so actually using a `_

[2019-04-18 12:05] Simn commented on #8181
We shouldn't hardcode this `k` either...

[2019-04-18 12:12] ncannasse commented on #8175
@Simn is that iterator used somewhere atm ?

[2019-04-18 13:08] RealyUniqueName commented on #8181
Well, in the end, the whole loop should be transformed into something like
[code]
To get rid of those `__js__`

[2019-04-18 13:15] RealyUniqueName commented on #8175
@ncannasse

Which method are you talking about?

[2019-04-18 13:17] Aurel300 commented on #8175
[This one](https://api.haxe.org/v/development/lua/NativeStringTools.html#char) I assume?

[2019-04-18 13:21] RealyUniqueName commented on #8178
What about an opt-in argument for display requests to add meta positions. By default, metadata won't contain pos infos.

[2019-04-18 13:35] RealyUniqueName commented on #8175
Why should lua drop it if it's a native extern method?

[2019-04-18 13:59] Gama11 commented on #8178
As I said, I don't think there's any point to including these positions at all, so a flag seems like overengineering. A list of metas to include in responses might make sense though, to reduce bandwidth if we only look at e.g. `:deprecated` anyway.

[2019-04-18 14:54] Gama11 opened #8184 "[display] robustness against macro errors in workspace symbols"
It seems like we should be able to catch macro errors that happen during workspace symbols somewhere (but still print them), to make it more robust? The idea being that since workspace symbols are syntax based, a macro not completing successfully shouldn't be the end of the world - the worst that could happen is that we miss some classpaths added via the `Compiler` API?

Right now, any error will

[2019-04-18 14:57] sonygod commented on #8181
please consider improve   -dce full here .because  it's generate lot's of unused  codes here.

@RealyUniqueName

[2019-04-18 15:22] RealyUniqueName opened #8185 "[js][es6] Invalid generation of static function with name `length`"
[code]
[code]
Emits `TypeError: Main.$length is not a function`
Generated js:
[code]

[2019-04-18 15:24] nadako commented on #8185
Should use `static_field` for static method names there...

[2019-04-18 15:26] terurou commented on #8182
I hope this proposal will be approved. (related #8076)

[2019-04-18 15:39] RealyUniqueName commented on #8185
Fixed in 03b63f49ce5c687c8ce5ad6ff9411144dd24f7b0

[2019-04-18 15:39] #8185 closed, assigned to RealyUniqueName

[2019-04-18 15:53] Gama11 commented on #8182
@terurou Thanks, I had forgotten about that issue actually. So yeah, if the compiler was a bit stricter here, it could definitely help avoid some confusion.

[2019-04-18 16:45] nadako opened #8186 "should expected type be propagated through type params"
Sorry, this question was probably asked and discussed before, but I'm in the middle of work atm and can't find the issue.

So consider the following code:
[code]

this currently gives:
[code]

which is understandable, as `ofArray` call receives `[new Child()]` with an expected type of just `Array<T>`, so it binds `T` to `Child` and returns `Vector<Child>`.

My question is: is it possible (and safe

[2019-04-18 17:10] Aurel300 opened #8187 "Enum case without arguments cannot be used in inline final"
Functions can accept enums without arguments as default values, but this does not work for `inline final`s:

[code]

[2019-04-18 21:12] #8129 closed, assigned to nadako, ncannasse

[2019-04-18 21:30] nadako commented on #7987
Fixed in a254d3403ca8ca8f66cde84837b3ba98ee29f1df

[2019-04-18 21:30] #7987 closed, assigned to nadako

[2019-04-18 21:58] Gama11 opened #8188 "@:using should work for all type kinds"
Just merging these three issues that are all essentially about the same thing: `@:using` not behaving as expected and only working on some kinds of types.

- #7859
- #7930
- #8022

[2019-04-18 21:59] Gama11 commented on #7859
#8188

[2019-04-18 21:59] #7859 closed, assigned to Simn

[2019-04-18 21:59] Gama11 commented on #7930
#8188

[2019-04-18 21:59] #7930 closed, assigned to nobody

[2019-04-18 21:59] Gama11 commented on #8022
#8188

[2019-04-18 21:59] #8022 closed, assigned to nobody

[2019-04-19 09:05] Simn commented on #8071
How do I reproduce this?

[2019-04-19 09:22] back2dos commented on #8188
I think we should not support anonymous types (structures and functions), at least initially, because of their decentralized nature and the resulting potential for conflict. Scenario:

[code]

Put both in a single project and kaboom, you have a conflict. Either one gets applied or the other. Let's assume libB's global static extension wins. In that case, all code in libA that does `v1.times(v2)` w

[2019-04-19 09:26] Simn commented on #8053
That's quite the corner case...

[2019-04-19 09:28] Gama11 commented on #8188
I think it's important that _if_ not all types are supported, there's a proper compile-time error for it (rather than it just silently doing nothing). That would avoid any more of the confusion we've seen in those 3 issues.

[2019-04-19 09:44] Gama11 commented on #8188
As for the rest of the argument: I (and apparently others, according to those issues) expected `@:using` to work just like a regular module-level `using`. What you describe there doesn't seem like a new issue at all:

[code]

Edit: I realize that you're mostly making the argument that `@:using` is pretty hidden from the user compared to module-level `using`, but those can be pretty hidden too with

[2019-04-19 10:03] Aurel300 commented on #8175
@ncannasse do you want to drop the Unicode iterators from the standard library?

[2019-04-19 10:05] RealyUniqueName commented on #8188
In that example you put `@:using` on a typedef which always has a single origin. So if I access a variable typed as `libA.Vector` it should provide methods of `libA.Vector.VectorTools`.

[2019-04-19 10:24] Gama11 commented on #8188
@RealyUniqueName But if that was doable, my example should work too? The first argument of the static extension methods is properly typed as `libA.Vector` and `libB.Vector` respectively.

[2019-04-19 10:36] RealyUniqueName commented on #8188
Indeed.
Maybe I just dream about a convenient way to extend 3rd-party types in my projects )
[code]

[2019-04-19 10:43] RealyUniqueName commented on #8188
But wait. `@:using` is attached to a type, while `using` is a module-level construct. So I think it's possible after all.

[2019-04-19 11:02] Simn commented on #8175
I don't really understand why we would drop these. They are easier to use and probably generate better code as well because everything is inlined.

[2019-04-19 11:04] Simn commented on #8053
PHP dies:

[code]

[2019-04-19 11:13] RealyUniqueName commented on #8175
I'd prefer not to drop them too. Instead we should drop `Utf8.iter()` just like `Utf8.compare()`

[2019-04-19 11:19] Simn commented on #8175
Can somebody explain to me why we should keep Utf8 at all?

[2019-04-19 11:25] RealyUniqueName commented on #8175
For consistent UTF8 handling?

[2019-04-19 11:34] Simn commented on #8175
I'm not sure something like that `charCodeAt` should even exists. Code like `for (i in 0...Utf8.length(s)) Utf8.charCodeAt(s, i)` should never be written...

[2019-04-19 11:35] RealyUniqueName commented on #8175
But `decode`, `encode`, `length` and `validate` make sense.

[2019-04-19 11:40] Simn commented on #8175
Well, `encode` and `decode` are just (in)convenience methods for the Bytes API. But yes I suppose we have `length` and `validate` which can be useful.

[2019-04-19 12:07] back2dos commented on #8188
That is not how static extensions work. If you write `using libA.Vector.VectorTools;` then it is applied to *any* object matching the structure of `libA.Vector`, regardless of whether it is typed that way or not.

That is exactly the type of thing that `import.hx` is for. That way you can choose what is most convenient to you, without having to be careful about the effect bleeding into the class p

[2019-04-19 12:15] #8053 closed, assigned to Simn, RealyUniqueName

[2019-04-19 12:28] RealyUniqueName commented on #8188
Except `@:using` allows to pass extended types outside of `imports.hx` area to the users of a library, for example.

[2019-04-19 12:29] back2dos commented on #8188
It's not about being "hidden" or not, it's about boundaries, which are the fundamental basis for composability. With `using` in a top-level `import.hx`, the effect is bounded to the particular class path, with global `@:using`, it's not.

If as a user of `libA` and `libB` you decide you want to use static extensions from both on all of *your* code, then you can go ahead and make it work for yourse

[2019-04-19 12:33] back2dos commented on #8188
Yes and as a library author, you should not be doing that for anonymous types for the reasons I've explained quite abundantly. It may be convenient, but it won't work at the scale of an ecosystem.

[2019-04-19 14:56] Gama11 opened #8191 "`Invalid_argument("String.sub / Bytes.sub")` with `\x`"
[code]

This used to give:

as recently as rc.2. I'm guessing it's because of #8141.

[2019-04-19 14:59] Gama11 commented on #8191
I wonder if the errors for `"\x"` / `"\u"` should be a bit better actually, something like "argument expected" or even give an example of a working escape sequence.