[2015-01-21 20:24] ncannasse commented on #3785
null padding for optional args is only done for platforms that don't have variable args support (or for inlining) we then remove the extra nulls at the end for the code to look more native.

I don't really see the point of adding nulls for TObjectDecl, actually this will be very costly if you use it as a (big) list of options, since it will create larger objects than they need to be. Accessing the

[2015-01-21 20:24] #3785 closed

[2015-01-21 20:26] nadako commented on #3785
I live with the idea that this is unspecified.

[2015-01-21 20:39] ncannasse commented on #3785
It's not. Not for anonymous structures. Only for classes if you access an undeclared field (usually through Reflect/Dynamic).

[2015-01-21 21:40] Simn commented on #3785
The problem is that you cannot generate an efficient representation of these objects if you have to assume that they might be assigned to larger structure types. Imagine them being created as class instances in a case like this:

[code]

Here `AnonType123` was determined by sorting the fields and looking up their combined types. But then `haxe.Log.trace` itself is created with an argument type of,

[2015-01-22 09:01] ncannasse commented on #3785
I agree we could have some backend that generates an optimized version of the structures. This would make sense only for static platforms. But I don't think this requires null padding, and only constant structures can be assigned to a larger type so it's easy to check in the generator if you have such a case.

Regarding your analyser case, maybe that would require to mutate the Constant TAnon afte

[2015-01-22 09:37] Simn commented on #3785
That would be fine too (how is that different from null-padding the TObjectDecl itself?). I'll go ahead and try this on genc and get back to you after 3.2.

[2015-01-22 13:33] ncannasse opened #3787 "Code output stability and features"
I'm still getting different code output for CastleDB depending if I'm using compilation server or not.
This is related to the JS output of `$estr` (enum to string). I guess something related to "features" activation is not properly cached, which could result in runtime errors.

[2015-01-22 13:40] Simn commented on #3787
I forgot again how all this is supposed to work. Features are stored in `com.features`, but how does that work with the compilation server?

[2015-01-22 13:41] ncannasse commented on #3785
It's different from null padding because we modify the type, not the value. On non static platforms this will not create any overhead. And no we couldn't have removed null fields because there's a runtime difference between {} and {a:null} (Reflect.hasField)

[2015-01-22 13:42] ncannasse commented on #3785
...so we want to keep the object as it was declared in the first place by the user.

[2015-01-22 13:43] ncannasse commented on #3785
But yes, using this method will require to have Reflect.hasField result be unspecified if the field is optional.

[2015-01-22 13:48] ncannasse commented on #3787
They should also be stored in module.m_extra.m_features, so we can copy them, but it seems to be only done in Dce.run (so never done when -dce no ?)

[2015-01-22 13:58] Simn commented on #3787
`m_features` is something else: When we type a field which has `@:ifFeature("f")` we put that field into `m_features`. DCE then picks these fields up and puts them in a hash table in order to check them as soon as a feature is "activated".

The problem with `$estr` seems different because it's a plain `has_feature "may_print_enum"` check. That feature is set during post-processing (before the clas

[2015-01-22 15:45] nadako opened #3788 "[cs] invalid "unrelated type cast" warning"
[code]
gives `Warning : Type Main.T is being cast to the unrelated type C` despite `Main.T` being constrained to `C`.

[2015-01-22 16:05] nadako opened #3789 "type constraint fields"
The following WORKS:
[code]
However if we move `I` into separate module, it DOES NOT:

I.hx
[code]
C.hx
[code]
giving `C.hx:3: characters 8-20 : C.T has no field f`

[2015-01-22 16:14] Simn commented on #3789
Must be a missing pass flush or `c.cl_build()` somewhere.

The question is where. :)

[2015-01-22 16:23] nadako opened #3790 "[cs] generate cast + method call instead of Runtime.callField for constrained type param"
consider the following case:

[code]

currently, `C.f` is generated as:

[code]

however, I think we could generate something like:

[code]

at least for unambigous constraints (i.e. when `f` is only accessible through `I` constraint).

[2015-01-22 18:22] nadako commented on #3350
Note that with current haxe `development` version, C# can't be compiled from a compilation server twice:
[code]

[2015-01-22 20:02] ncannasse commented on #3787
We have a new common context for each compilation, but we will reuse the modules (maybe some of them, maybe all of them). That's why we need to store per-module feature activation. Maybe we should store may_print_enum on a per module basis then activate it in the common context if one of the modules have it

[2015-01-22 20:22] ncannasse commented on #3789
That's weird. If we enter the typing of C.f we should already have built the interface since it's on a previous pass

[2015-01-22 20:23] ncannasse commented on #3789
if I is a class then does it works ?

[2015-01-22 20:23] Simn commented on #3789
No

[2015-01-22 20:26] ncannasse commented on #3350
Might be related to the fact that we cache extern types now:
https://github.com/HaxeFoundation/haxe/commit/f27a3c1e12852c6909e6b68dbb20c20bc6b44c6f

[2015-01-22 20:47] waneck commented on #3350
Yeah. I've been working on a fix at a local branch. I'll fix it soon - and
also add some completion server tests.

E.g. compile the unit tests, touch a file and compile again, and compare
the outputs.

[2015-01-22 20:57] waneck commented on #3789
It's actually a known limitation only on gencommon. I've still got to dix a
couple of bugs before I get this working correctly

On Jan 22, 2015 6:23 PM, "Simon Krajewski" <notifications@github.com> wrote:

[2015-01-22 20:59] Simn commented on #3789
Wrong issue? :P

[2015-01-22 21:00] waneck commented on #3789
Oh sorry. I totally misunderstood the bug report. I thiught it was about
type parameters with constraints being typed as dynamic on cs/java

[2015-01-23 16:04] ncannasse opened #3792 "Important regression"
The following used to trace 1,2,3 (loop variable capture) and is now 3,3,3 because of the loop unroll optimization.

[code]

[2015-01-23 16:07] Simn commented on #3792
Oh dear... I guess we have to abort if we have an EFunction there.

[2015-01-23 16:08] ncannasse commented on #3792
Or could we not redeclare the var each time ?

[2015-01-23 16:09] ncannasse commented on #3792
PS: I hope there's also a TBlock that prevents the variable from escaping the TFor scope ;)

[2015-01-23 16:10] Simn commented on #3792
Then we have to map the expression and replace all references to the var. I consider this a rare case so I'm fine with canceling here.

[2015-01-23 16:10] ncannasse commented on #3792
Good for me too

[2015-01-23 16:11] ncannasse commented on #3792
BTW that means we don't have this thing well unit tested

[2015-01-23 16:12] waneck commented on #3792
Actually I think that you can only cancel if the for var has `v_capture = true`

[2015-01-23 16:12] Simn commented on #3792
Yes but we don't know that yet because the optimization runs very early.

[2015-01-23 16:16] ncannasse commented on #3792
PS : I'm thinking we might have macros calls that returns EBreak/EFunction

[2015-01-23 16:17] ncannasse commented on #3792
And I think that maybe we shouldn't manipulate the AST until it's typed (for macros reasons again)

[2015-01-23 16:19] Simn commented on #3792
I'm thinking we should comment the feature out again and spend some time thinking about it after 3.2.

[2015-01-23 17:06] ncannasse commented on #3792
Well we should disable it right now for sure since it's a regression, and add unit test to remember why we did so :)

[2015-01-23 19:15] #3357 closed

[2015-01-24 16:36] Simn opened #3794 "Check types in GenericStack"
Reminder to self: I've come across an unexpected FAnon field in haxe.GenericStack.remove which I want to check.

[2015-01-24 16:49] Justinfront opened #3795 "zip.ml fails on recent ocaml change remove line 77"
Currently running
The OCaml toplevel, version 4.03.0+dev5-2014-10-15

I get an error building the libs, specifically line 77 of zip.ml where the Error is redefined.

"Error: Multiple definition of the extension constructor name Error."

Solution is to remove the redundant definition.

I checked a mirror of the svn original and it also has this error.
https://github.com/Leonidas-from-XIV/camlzip/bl

[2015-01-24 21:56] Simn opened #3796 "Parsing oddity with OpSub"
[code]

[code]

Obviously either version is fine, but the discrepancy tripped me today.

[2015-01-24 22:51] Simn opened #3797 "Mark overridden fields"
It would be really convenient for some generators if the compiler marked overridden fields with a metadata. It looks at these fields anyway in `check_overriding`.

[2015-01-25 10:37] ncannasse commented on #3797
That might not make compiler cache happy : depending which modules you reuse the fields would or would not be overriden. Would be better to provide a is_overriden method that look at all the classes inheriting the requested one

[2015-01-25 10:39] Simn commented on #3797
Yes, but that means looking at _all_ classes because we don't know which classes override a class from that class' point of view. I've had the same problem in DCE when finding dependent fields.

[2015-01-25 10:42] ncannasse commented on #3797
Yes, but does that cause a performance problem ?

[2015-01-25 10:47] Simn commented on #3797
We look at every class for every field we keep. It's certainly not free but I don't have code bases large enough to measure performance impact. It's just so gosh darn inelegant, especially if at generator level we have to do it again to e.g. determine which method is "virtual".

[2015-01-25 12:08] ncannasse commented on #3797
I don't think that's worth the change. We spend much more time map'ing our Expr. Limiting data duplication in the compiler is more reliable, the only exception being if that actually cause an issue with performances, which is not very likely given we will reach a few thousands classes at worst.

[2015-01-25 12:08] #3797 closed

[2015-01-25 12:42] eliasku opened #3799 "[swf] Bad Array<Dynamic> behavior?"
Just try example on `swf` / `flash` target:
[code]
I sure `js` target works fine!

[2015-01-25 14:39] ncannasse opened #3800 "FPHelper and threads"
Some platforms that have multithreading are using static vars for no-allocation FPHelper implementation. They need to use TLS instead.

To fix for neko and cpp

[2015-01-26 06:28] back2dos opened #3801 "Suggestion regarding ... uhm ... nested implicit conversion?"
Recently, I've had this idea:

[code]

That actually seemed like a way to constrain what a JSON value is.

Unfortunately it doesn't quite work:
- `(5 : JsonValue)` works
- `([5] : JsonValue)` works
- `({ foo: 5 } : JsonValue)` doesn't
- `([[5]] : JsonValue)` doesn't
- `({ foo: (5 : JsonValue) } : JsonValue)` does

This is honestly the one use case I have for this, for which macros will also do the

[2015-01-26 06:58] Justinfront opened #3802 "Missing parameter error does not report missing type ( Java )."
Missing parameter error does not report missing type ( Java ).

var ge = GraphicsEnvironment.getLocalGraphicsEnvironment();// import java.awt.GraphicsEnvironment;
var gd : GraphicsDevice = ge.getDefaultScreenDevice(); // import java.awt.GraphicsDevice;
gd.isWindowTranslucencySupported();

Not enough arguments
Function 'isWindowTranslucencySupported' requires arguments : param1

Error message could

[2015-01-26 09:36] Simn commented on #3802
You picked the worst target for this feature request because there could be overloads on Java which makes it hard to give an accurate error message.

What we could do is make the compiler output the position of the field it tried to call so that you get another error line reading "File.hx:12:See definition of isWindosTranslucencySupported". That requires some internal changes though so I can't add

[2015-01-26 09:44] Simn commented on #3801
Variance is a beast and I'm very reluctant to feed it more. I would only look into this if someone wrote me the ultimate set of unit tests to make sure that there are no type holes introduced.

[2015-01-26 10:46] nadako opened #3803 "[cs] unnecessary "Runtime.genericCast" calls"
[code]

[code]

@waneck can we avoid this somehow easily? :)

[2015-01-26 11:11] nadako commented on #3558
I got another case:
[code]

[code]

[2015-01-26 12:33] nadako opened #3804 "Could not determine type for parameter T"
[code]

[code]

Huh?

[2015-01-26 12:34] Simn commented on #3804
Did that ever work?

[2015-01-26 12:36] nadako commented on #3804
http://try.haxe.org/#7eED5 it seems not :-/

[2015-01-26 13:00] Simn commented on #3804
Not exactly a bug then, but we can maybe add it later.

[2015-01-26 18:28] Simn opened #3806 "Cast parsing leads to bad code"
[code]

This leads to bad code being generated down the line because the compiler starts type inferring an open anon structure from the monomorph introduced by the cast:

[code]

Surely the `cast` should have a lower precedence here.

[2015-01-26 19:41] Justinfront commented on #3802
Simn could Haxe cope more easily with functions that aren't overloaded and leave overloaded ones till later revision, that way the feature will definitely happen, it's so much easier to have error messages that hint you on the type especially useful on Java, and I think the user would understand if the compiler indicated multiple options but did not specify.

[2015-01-26 19:51] Justinfront commented on #3802
But it's not something that needs to get into next release, just meaning to say that incremental might be better.

[2015-01-26 19:57] Justinfront commented on #3795
Campl4 git now not in Ocaml git on mac seems out of sync anyway, so this is more future note.

[2015-01-26 20:00] #3795 closed

[2015-01-26 21:55] ncannasse commented on #3801
Variance of writable object fields does not work, since they are invariant.
We could only support that with top-down type inference (with_type)

[2015-01-26 21:58] ncannasse commented on #3806
I don't think we should change the cast precedence. Cast is not an operator but a function, so it should work as a function call

[2015-01-26 22:05] Simn commented on #3806
Whaaaat? Cast is clearly an operator, it doesn't require the parentheses and doesn't parse its second argument as an expression.

[2015-01-26 22:08] ncannasse commented on #3806
uhm, right it's `cast expr`. Time for bed I guess :)

[2015-01-27 00:29] back2dos commented on #3801
That would make sense, but it is not the case. For example `{ foo : Int }` does unify with `Dynamic<Int>`, as seen here: http://try.haxe.org/#F10f1

[2015-01-27 13:05] waneck opened #3808 "Private modules access inside macros"
One of the most annoying problems I usually encounter when writing macros is something along these lines:

`Main.hx`:
[code]

`Macro.hx`:
[code]

This will fail with
[code]

This is very annoying, especially in that it's a very unexpected error - API-wise (why would `toComplexType` return a non-null type that can't be used?). And worst - there's no way to make this code work, since there is no way

[2015-01-27 13:08] Simn commented on #3808
Can you check if the non-macro version of haxe.macro.TypeTools.toComplexType works better?

[2015-01-27 13:09] waneck commented on #3808
The non-macro version fails with a different error:
[code]

[2015-01-27 13:37] andyli commented on #3808
I also need a way to access private modules when doing `getTypedExpr(typeExpr(expr))` (#3739).

[2015-01-27 13:55] nadako commented on #3808
i also often stumble upon this...

[2015-01-27 13:56] nadako commented on #3808
BTW isn't this a duplicate of #3589?

[2015-01-27 13:57] Simn commented on #3808
Yes

[2015-01-27 13:57] #3808 closed

[2015-01-27 14:00] waneck commented on #3808
Oops. Indeed it is

[2015-01-27 14:01] Simn commented on #3808
But it's very interesting how many haxe devs came across this without addressing it. :P

[2015-01-27 14:45] nadako opened #3809 "[cs] generation of haxe anon functions that are unified with delegates"
as we talked on #haxe-dev, currently for those functions we generate a `Delegate` method with function body and make `__hx_invoke*` call it which introduces a function call cost which could be pretty significant for simple functions. what we could do is implement it vice-versa - keep function body in the `__hx_invoke*` method and make `Delegate` call it.

[2015-01-27 14:46] ncannasse commented on #3808
I haven't yet :D

[2015-01-27 15:45] waneck commented on #3809
Oh wait did you mean only for the functions that are unified with
delegates? I thought you meant adding another function with the correct
types only for the sake of making it easier for C# code to interop with
haxe generated code.

Right now, for functions that are unified with delegates, Haxe already
generates that extra function. And since there's no way to transform it
back into an Haxe functio

[2015-01-27 15:49] nadako commented on #3809
delegates? I thought you meant adding another function with the correct
types only for the sake of making it easier for C# code to interop with
haxe generated code.

That as well :-)

generates that extra function.

Yeah but it places function body inside "correct-types" method (`Delegate`) and makes a call to it from `__hx_invoke` and you said that adds significant overhead for simple functions.

[2015-01-28 08:39] parkjaeman opened #3811 "How can I insert function-pointer of haxe function to argument of cpp library?"
I am binding EFL graphics library. On the work, I met a problem.
How can I insert function-pointer of hax function to argument of cpp library?

I used val_data() and val_get_handle().
In case of val_data(), null was returned.
In case of val_get_handle(), it failed in val_check_kind().
How can I solve this problem?

[2015-01-28 09:01] Simn commented on #3811
Sorry for being blunt, but github issues are not a helpdesk. Try the haxelang google group for questions. If you believe that you have something that should work but doesn't make a reproducible example and post it as an issue (probably to the hxcpp repository in this case).

[2015-01-28 09:06] #3811 closed

[2015-01-28 09:31] markknol commented on #3730
What does #line do?

[2015-01-28 09:46] #3794 closed

[2015-01-28 09:47] Simn commented on #3794
It's the old type inference problem:

[code]

The FAnon access generates some ugly code on cpp: `prev->__Field(HX_HCSTRING("next","\xf3","\x84","\x02","\x49"), hx::paccDynamic );`

I've added a check locally (thinking about making it a compiler flag) to emit warnings upon field access on TMono, and it seems this one is the only problematic one. There are some others but it's mostly in neko/macro/j

[2015-01-28 09:52] Simn commented on #3796
I guess this is actually fine, any AST consumer has to deal with both versions anyway because it has to respect `-(2.0)` as well.

[2015-01-28 09:52] #3796 closed

[2015-01-28 10:10] Simn commented on #3806
Oh man, we actually rely on this behavior here: https://github.com/HaxeFoundation/haxe/blob/development/std/js/_std/Std.hx#L40

I still really want to fix this, but now I'm a bit reluctant.

[2015-01-28 10:20] Simn commented on #3789
Doesn't this just happen because we delay type parameter constraints? If the only reference to `I` is in a constraint it is never properly seen/loaded until the constraint pass, which is after the field typing.

[2015-01-28 10:20] Simn commented on #3792
The feature has been disabled again, we still have #3784 open to keep track of it.

[2015-01-28 10:20] #3792 closed

[2015-01-28 10:40] Simn commented on #3782
Didn't mean to close yet. I've fixed your crash case in a way that hopefully doesn't cause anything to explode, now I only have to figure out how to give a proper error message on my crash case.

[2015-01-28 10:43] Simn commented on #3782
Related issue #1446

[2015-01-28 15:39] Simn opened #3812 "Break inside closure inside loop"
[code]

* flash: compiles, errors with `At least one branch target was not on a valid instruction in the method.`
* as3: mxmlc complains `Error: Target of break statement was not found.`
* neko: `Break outside a loop`
* js: `This expression cannot be compiled to Javascript`
* cpp: fails in native compiler with `error C2043: illegal break`
* python: compiles, errors with `SyntaxError: 'break' outsi

[2015-01-28 17:18] nadako commented on #3812
what about continue? :)

[2015-01-28 17:19] Simn commented on #3812
Should be the same of course.

[2015-01-28 21:27] ncannasse commented on #3812
Yes, this is not correct. entering type_function should toggle off in_loop (from memory).

But please don't remove it in interp, i'm using this behavior !

...

...

just joking.

[2015-01-29 00:10] nadako opened #3814 "document optional structure field behaviour"
this topic is bugging me often and there seems to be no conclusion on how it should work (though there are some discussion in #2928 and #3785)

case 1 - explicit structure:
[code]

case 2 - dynamic:
[code]

cc @ncannasse @Simn @waneck

[2015-01-29 08:51] ncannasse commented on #3814
Optional fields are always typed as `Null<T>` so in both cases you should get null whatever the platform. The only thing that we do no guarantee is whether Reflect.hasField returns true or false

[2015-01-29 08:53] ncannasse commented on #3814
PS : if it's not already we should add unit tests for that

[2015-01-29 08:55] Simn commented on #3814
I'm fine with that specification for case 1, but case 2 worries me. It assigns Dynamic to a structure with optional fields, but how far can I take that? What if I used some native JSON parser to do the same thing? Or if I assigned `null`, or `1` or any other incompatible type?

[2015-01-29 09:03] ncannasse commented on #3814
@Simn in that case that's unspecified

[2015-01-29 09:04] ncannasse commented on #3814
But building structures by reflection should work, whatever if they have optional fields or not

[2015-01-29 10:31] nadako commented on #3814
Yeah, about Dynamic i was only talking about structures typed as Dynamic, I'm totally fine with it being unspecified if it's not a structure.

[2015-01-29 11:07] sebpatu opened #3815 "Serialiser issue on variable with getter and setter, on flash target => "cannot serialise Function" exception"
Hi,
When i try to serialise a Signal Class from mSignal Library on flah target, i will get a "cannot serialise Function" exception when the Signal has a listener added. Its because the Slot class can't be serialised. The exception comes from the listener field.

in flash target the list of fields that needs to be serialised comes from function serializeClassFields. Or the listener field of Slot cl

[2015-01-29 11:16] ncannasse commented on #3814
There's still some not-yet-specified things regarding how class instance upcasted to a structure with optional fields works

[2015-01-29 11:25] ncannasse commented on #3815
I don't think any of the solution is right. Ignoring functions is not a good idea since it might create issues  when people don't understand that they can't be serialized and ignoring fields starting with a $ is totally arbitrary.  I think it's up to you to add and implement hxSerialize/hxUnserialize on your class.

[2015-01-29 11:25] #3815 closed

[2015-01-29 12:20] sebpatu commented on #3815
I don't understand.
it gives a non consistent behavior of the serialiser, because in flash 9 it already serialise by avoiding functions! with 		var vars = xml.factory[0].child("variable");
and if compiler don't create the underlying field becuase of getter AND setter, it will work fine also.
so its a combination of compiler + Serialiser that makes it not serialisable.
thats not consistent so error

[2015-01-29 13:52] delahee opened #3816 "invalid pattern matching"
[code]

Hi folks !

The pattern matcher is a bit tolerant sometimes. Bump should not be allowed to be repeated.
I believe this should be forbidden.

Bisous !

[2015-01-29 15:31] waneck commented on #3526
See #3817

[2015-01-29 18:15] dogles opened #3818 "[cs/java] Map implementation can cause duplicated keys"
Tested with latest C# StringMap implementation. I assume this happens with ObjectMap and IntMap as well, with similar hash collisions. I only tested C#, but it looks like the Java map implementation is identical.

[code]

It looks like the problem is that set() looks the first entry that matches the key OR is empty/deleted, but remove() simply marks the corresponding entry as deleted. That means f

[2015-01-29 18:26] waneck commented on #3818
Ouch. That's quite an overlook. I'll fix it tonight.

[2015-01-29 19:29] ncannasse commented on #3815
What's avoided are member functions (class prototypes) variable functions are not ignored.

[2015-01-29 20:18] sebpatu commented on #3815
ok, in that sense i undertand better.
Thanks

Le 29/01/2015 20:29, Nicolas Cannasse a écrit :

[2015-01-30 04:23] underscorediscovery opened #3819 "3.2 nightly, cpp gen time is crazy?"
It possibly affects other platforms as well, but I have seen this on Mac.

I saw this happen around 4 months ago, but didn't require 3.2 and figured it was general development hiccups that would pass.

Now, I need to use 3.2 daily, and it's near impossible :)

The version I am using is
`haxe_2015-01-27_development_456a1a8.tar.gz`
No matter if I use zip/installer, result is the same.

I had tried `

[2015-01-30 07:27] Simn commented on #3819
Could you try compiling with `-D no_simplify`?

[2015-01-30 08:03] underscorediscovery commented on #3819
[code]

Seems related!

[2015-01-30 08:05] Simn commented on #3819
Ouch! Thanks for checking. I knew that the SSA transformer was a bit slow, but I've never had any such issues with the simplifier. I'll see what I can find.

[2015-01-30 08:06] underscorediscovery commented on #3819
Great thanks, this in the mean time I can work at least without reverting each time.
I pinged you on the gitter, you can also find me on IRC if you need me to try stuff, set up a dev env or anything like that.

[2015-01-30 09:30] Simn commented on #3819
This was mostly addressed by https://github.com/HaxeFoundation/haxe/commit/933778e13742d6ea327e31bb6340fb712f0092ab

New stats:

[code]

I would like to keep this issue open because `gen_temp` has problems. Take a look at this:

[code]

[code]

Now we change the generated expression to a Map comprehension which internally creates a temp variable:

[code]

[code]

If I replace the internal `gen_loc

[2015-01-30 14:58] nescribal opened #3820 "Is there a way to create a process in Haxe and hide the console on windows?"
I'm trying to create a process in Haxe to run a shell based program (mplayer to be more accurate).
When I create the process, it opens the DOS console shell and runs mplayer.
I believe in c++ process creation there is a param to hide the console (shell). Is it possible in Haxe to create this process passing such params?

Thanks!

[2015-01-30 15:15] sebpatu commented on #2072
I don't think theres a way to ask the compiler to specifically give completion in macro context. It always give completion in non macro context, and theres no compiler option that asks the compiler to only handle macro context, so that we could get the associated completion infos.

thats an issue for IDE and completion in macro context.

we need:
wether, compiler gives all completion infos, macro

[2015-01-30 15:24] waneck commented on #3818
I've pushed a quick fix, but I'm going to leave this open just to make sure I didn't forget any special case

[2015-01-30 15:29] Simn commented on #3820
This is an issue tracker and not a helpdesk, try the haxelang google group.

[2015-01-30 15:29] #3820 closed

[2015-01-30 18:31] andyli opened #3821 "Clarification of the `classPaths` argument of `macro.Compiler.include`"
[The doc says](https://github.com/HaxeFoundation/haxe/blob/development/std/haxe/macro/Compiler.hx#L108-L109)
[code]

I wonder what does it actually do? It does not really add the `classPaths` like `Compiler.addClassPath`, but just triggers a `Class not found` error.

Example:
Test.hx
[code]

other/datetime/DateTime.hx
[code]

build.hxml
[code]

error:
[code]

discovered by @R32

[2015-01-30 18:57] nadako commented on #3821
Wow that doc is confusing. it's not "additional", it does replace the search path and yet it doesn't add those paths for compiler. I wonder how did it work in 3.1.3.

[2015-01-30 19:01] andyli commented on #3821
Well, 3.1.3 gives the same error as haxe git...

[2015-01-30 19:03] nadako commented on #3821
Yeah, it seems that `classPaths` is actually a filter to look only inside specified classpaths (of all available with `-cp`).

[2015-01-30 19:35] andyli commented on #3821
Found that the `classPaths` argument was added in 73687545f0ab1eb6c47abf14779aa21139dbfd39 (3 years ago!).
So, what's that `classPaths` used for, @fponticelli?

[2015-01-30 22:39] Merelleya opened #3822 "Java/C# - Quick Sort Problem"
[code]

[code]

Hi Caue,

While testing stuff through all targets, I came across a small problem with your Quick Sort Implementation. If I have a case, where I always return 1 (for no obvious reason other than that I Want to), your implementation of quick sort will increase the index (i, line 238) untill I get kicked out of the array.

Since this does not happen anywhere else (on any other target)

[2015-01-30 23:55] ncannasse commented on #2072
There shouldn't be any difference between compilation server and compiler mode. Please report a small reproducible example not involving any third party library if you find some.

@sebpatu compiler should be able to give completion in macro context too

[2015-01-31 19:13] bendmorris opened #3823 "JSON stringify inconsistency on Flash"
The native Flash haxe.Json.stringify function doesn't seem to work correctly.

Given a map:

    var myMap:Map<String, Dynamic> = ["field1" => "something", "field2" => true];

`Json.stringify(myMap)` on flash returns `{"h":"Dictionary"}`

When compiling with -D haxeJSON, it returns the correct value of `{"field1":"something","field2":true}`

Simple solution is to use -D haxeJSON, but I understand

[2015-01-31 19:27] Simn commented on #3823
If you use the native JSON operation you get a native representation. I don't understand what else you expect to get from that or what we could possibly do about it. The Haxe version only works incidentally because it uses Reflect.fields on the value, which is not guaranteed to work for classes.

[2015-01-31 19:30] ktimothy opened #3824 "@:allow does not work with @:generic classes"
[code]

The weird error message:
[code]

[2015-01-31 19:33] Simn commented on #3824
I might be confused, but how is that supposed to work? You constrain T to Constr which indeed doesn't have an allowMe field.

[2015-01-31 19:36] #3823 closed

[2015-01-31 19:36] ktimothy commented on #3824
Hm, I'm sorry, I have mistaken when making a minimal issue.

[2015-01-31 19:36] #3824 closed

[2015-01-31 19:41] ratkingsminion opened #3825 "php List pop method bug"
[code]
https://github.com/HaxeFoundation/haxe/blob/development/std/php/_std/List.hx

[2015-01-31 19:42] Simn commented on #3825
Any reproducible example? If we fix this we should add a test case for it.

[2015-01-31 19:44] bendmorris commented on #3823
Well I certainly don't expect to get `{"h":"Dictionary"}` (an exception would be better) but if you need to use -D haxeJSON to get anonymous object serialization then that's understandable.

[2015-01-31 19:52] nadako commented on #3823
`haxeJSON` enables haxe json implementation that supports **serializing** a couple of arbitrary classes, like `StringMap`, but normally JSON objects are parsed as anonymous structures in haxe and one should use structures to serialize to json objects. If you need a handy dynamic mapping based on structures, you can try using this abstract: https://github.com/HaxeFoundation/haxe/blob/development/st

[2015-01-31 19:55] bendmorris commented on #3823
@nadako that is very useful, thanks a lot. I'll give it a try.

[2015-01-31 20:01] ratkingsminion commented on #3825
guest_ provided an example here: http://try.haxe.org/#BD5Fc

[2015-01-31 20:06] Simn commented on #3825
That works just fine here in the sense that it doesn't throw, which I suspect is what the test is getting at?

[2015-01-31 20:22] Simn commented on #3825
I saw on IRC that the original reporter decided that it would be too much work for him to come up with a proper example, so...

[2015-01-31 20:22] #3825 closed

[2015-02-01 09:11] Simn opened #3826 "Null<T> vs. default values"
On my quest to write some more `Null<T>` tests to make sure nobody ever gets the idea of writing a fast static target for Haxe `</rant>` I came across this old case again:

[code]

There are two possible interpretations of what should happen here:
1. Upon assigning `n` to `a` we detect a `Null<Int>` being assigned to `Int` case, generating an unbox-or-use-default-value-if-null. Alternatively we le

[2015-02-01 09:55] ncannasse commented on #3826
My original idea is to make a difference between `foo(a=1)` and `foo(?a=1)`. In the first case, you're having an optional argument with a default value, but the argument is not nullable, which enable some additional optimizations on static targets.

So yes the actual Haxe specification is ( 1 ). I think it's a good thing to enable fast optional arguments on static targets. It also enable to expres

[2015-02-01 10:53] Simn commented on #3826
We have to be careful with null padding if you want to go for that. Extending the example:

[code]

The AST of the call on cpp is this:

[code]

Type-wise the two cases are indistinguishable: we assign `Null<Int>` to `Int`.

[2015-02-01 11:31] ncannasse commented on #3826
That should not make any difference here. trace(a) should never print null since a is not `Null<Int>` but Int

[2015-02-01 11:33] ncannasse commented on #3826
But yes I see your point : in case the argument is null, should it be cast to 0 or should we use the default value argument ?

[2015-02-01 11:33] ncannasse commented on #3826
And yes in that case you're right we should have  a=0, b = 2

[2015-02-01 11:38] ncannasse commented on #2817
Should be done with FPHelper @waneck ?

[2015-02-01 11:39] ncannasse commented on #2846
Should be fixed in GIT

[2015-02-01 11:40] Simn commented on #2846
I would like to add a test case.

[2015-02-01 11:46] ncannasse commented on #3073
I'm making progress on this, will soon make a PR.
A few notes of things to do:

 - review haxe.io.BytesBuffer (should use FPHelper for instance)
 - regarding endianness : JS typed arrays are hardware dependent, and we can't change that. Only DataView as explicit endianness access, but I expect it to be slower that using Float32Array. Also, in some cases (GL buffers), native endianness is required

[2015-02-01 11:48] Simn commented on #3826
For genc I'm addressing this by checking if we're assigning `TConst TNull` to a basic type which is not `Null<T>`. The assumption is that null padding is the only way this could occur, but it feels a bit weak.

[2015-02-01 13:52] ncannasse commented on #3826
We could add a TMeta for such cases

[2015-02-01 18:20] Simn commented on #3826
I'll have to check that, but I'm concerned that we might need something more elaborate if someone takes a closure of a function like that:

[code]

This gets really weird because we either get nullable optional arguments or non-nullable optional arguments _without default value_ because we cannot determine default values from types. I'm assuming it's the former because a) the `?` implies nullabili

[2015-02-01 19:43] Simn commented on #3816
This is similar to https://github.com/HaxeFoundation/haxe/issues/2508

The problem is that uselessness is determined per-case and not per-pattern. I still haven't found a good way to deal with this without breaking some other patterns involving or-clauses.

[2015-02-01 21:54] ncannasse commented on #3826
Maybe that closure should not unify since we have a type difference here?
That would restrict to using  Int -> Int -> Void in that case, until we find an actual representation for this.

For instance, do we allow already:

[code]

That's a similar problem.

[2015-02-01 22:13] Simn commented on #3826
Unfortunately that would likely require a larger review of `Null<T>` which is not really viable for Haxe 3. I'm all for it though because that implicit type difference is a pain to deal with.

[2015-02-02 10:22] ncannasse opened #3828 "SPOD broken"
After updating, I can no longer compile my SPOD classes (long time not touched this)

[code]

It complains about `Unexpected id type (DInt), use either SId, SUid, SBigID or SString`
I'm not sure why ? `uid` should be DInt there, SId being the primary key.

Also, we should not use `throw` here but `error()` and report the correct position the error occurs in user code.

Seems like @sebpatu  #2970 i

[2015-02-02 10:28] waneck commented on #3828
Can you show me how your User class looks like?

[2015-02-02 14:57] waneck commented on #3828
I think that should fix it. Can you check?

[2015-02-02 15:28] waneck commented on #3828
Hmmm travis is failing now. Wait a sec before you try

[2015-02-02 16:51] sebpatu commented on #3828
Does not the related field (uid from User) needs to be an ID field to
ensure the relationship to be valid?
if its only DInt, we're not sure it uniq, but its mandatory for the
relation, or i miss something?

Le 02/02/2015 11:22, Nicolas Cannasse a écrit :

[2015-02-02 16:56] waneck commented on #3828
It should be fixed now, @ncannasse

[2015-02-02 22:43] pboyer opened #3829 "C# dll compiler flags not sensibly documented"
As discussed here:  https://groups.google.com/forum/?hl=en#!topic/haxelang/ytuctcHOFqk

Using `-D dll` provides the ability to generate a dll (as opposed to an exe) when compiling for C#.  This is not documented at the command line or the docs - would be great if it was.

Thanks for this great tool!

[2015-02-02 22:46] Simn commented on #3829
The problem is that this flag is not used by the actual Haxe compiler but by the hxcs library: https://github.com/HaxeFoundation/hxcs

I don't know what to do with these target-specific flags; there are a lot of them for hxcpp as well and there might even be conflicts between different targets. It might be better to not have these on the command line but instead add them to the target details sect

[2015-02-02 23:40] Justinfront commented on #3829
I think we should require a library preface for well established libraries, so we could list them in the compiler.
--help-library-defines
but reguire they are clearly library associated
-D hxcs-dll
or maybe get haxelib to install them. If we define them when submitting a haxelib there would be no conflict but then again -D hxcs-dll is also package safe.

[2015-02-03 10:32] Simn opened #3830 "@:callable on @:coreType abstracts; also @:noFollow"
This is a small oversight: if `@:callable` is used on a `@:coreType` abstract this will introduce a `Dynamic` call because the underlying type of all `@:coreType` abstracts is `Dynamic`.

I would like to disallow this because there's nothing to be gained from it as far as I can tell. Instead I want to introduce a `@:noFollow` metadata which causes the abstract to not be followed away at generator-

[2015-02-03 11:17] Simn opened #3831 "Old client/server example does not work on Java"
http://old.haxe.org/doc/neko/client_server

Compiling that through java kills the server with `Exception in thread "main" java.lang.NullPointerException` as soon as a client connects.

[2015-02-03 11:41] nadako commented on #3831
@waneck please review the fix. the example seems to work, but I'm not really familiar with java API so i may have done something wrong.

[2015-02-03 12:04] sebpatu commented on #2072
For me its same behavior between compilation server and compiler mode.
But i was able to reproduce my issue with simpe code and it shows the
inconsistency:

If i get this code in one single source file:
class TestMacro {
     public static function test0():Void {}
     macro public static function test1():Void {}
     #if macro
         public static function test2():Void {}
     #end
}

class Tes

[2015-02-03 14:50] yannsucc opened #3832 "php Web.setReturnCode"
on this file : haxe/std/php/Web.hx

this line :
case 200: code = "200 Continue";
should be :
case 200: code = "200 OK";
according to : http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html (link on Web.hx)

there are any other reason for "200 Continue" ? I miss something ?
Its a detail. :)

[2015-02-03 18:09] Simn opened #3833 "Rename haxe.macro.Context.getConstructorArguments to getCallArguments"
We haven't released it yet so we can still rename it. I would like to go for a more general name because I'm toying with the idea of allowing `@:genericBuild` on class fields at some point, which would also use this feature.

[2015-02-03 18:31] nadako opened #3834 "[analyzer] weirdness of local dce + arrayaccess"
[code]

js (note the missing `v[i] = 5` assign)
[code]

[2015-02-03 18:44] nadako commented on #3834
This has something to do with type params. I replaced `haxe.ds.Vector` with custom abstract. In the following example it works with `Vec`, but not with `Vec2`.

[code]

[2015-02-03 18:47] nadako commented on #3834
(note that the second example breaks on JS)

[2015-02-03 19:51] yanhick opened #3835 "Member initialization on dynamic target"
Hi,
I'm working on making a large codebase compiled to cpp work for js and the lack of member initialization is causing a lot of small issues.

I understand that this choice is documented and that this is a compromise made for speed for both dynamic and static targets.

I'm wondering:
* is there a compiler option to get warning/errors for missing initialization ?
* else would this be a useful feat

[2015-02-03 19:53] Simn commented on #3835
What "member initialization" are you talking about?

[2015-02-03 19:56] yanhick commented on #3835
Sorry, I meant class member intialization.

Basically if I have the following class:

[code]

If I target cpp, foo will have the value 0. If I target js, it will be null.

[2015-02-03 19:58] fponticelli commented on #3835
It would be nice to have a switch (-D strict ?) to make dynamic generators
act like static ones ... I have faced that issue myself and it can be quite
annoying.

Il giorno Tue Feb 03 2015 at 12:56:50 PM Yannick Dominguez <
notifications@github.com> ha scritto:

[2015-02-03 21:32] nadako commented on #3835
I remember someone on the haxelang said that it's actually better on modern js runtimes to initialize all variables/fields, so we may want to review our policy regarding that. That could be really great to have consistent default values.

We should start with measuring performance on current haxe targets.

[2015-02-03 21:33] nadako commented on #3835
@yanhick as for original issue, I think one could implement an `onGenerate` macros that checks whether all fields are initialized.

[2015-02-03 22:06] ncannasse commented on #3835
I don't think we should enable it globally because some libraries (including std) might expect it to be null. I guess the best in your case is to write a macro that adds = 0 initializers for all Int and Floats in the packages related to your application.

You can do that at compiletime, or just do a check and tell the user to fix it, or make a regexp that will do it for you, etc.

[2015-02-03 22:33] yanhick commented on #3835
@nadako, @ncannasse Thanks, I will try with a macro first to see what it does to our build time.

[2015-02-03 22:33] #3835 closed

[2015-02-04 12:23] Simn opened #3836 "Metadata on type parameter declarations?"
[code]

Would it be okay to add that? Type parameters are `tclass` already anyway, so it's only a matter of allowing to parse metadata in this place.

I have a use case for this in genc, but we can also use it to make our `@:multiType(K)` restriction on `Map` less clunky. There might also be interesting options with regards to variance adjustments on abstracts.

[2015-02-04 12:31] nadako commented on #3836
One could argue that you can use some special abstract like `Specialized<T>` for that, but it's much more annoying to work with than a simple metadata. And it could indeed be useful for variance settings similar to C# `in`/`out`, so I'm all for it!

It would be also useful to add support for metadata for function arguments (e.g. `function some(@:out value:Int)`)

[2015-02-04 15:41] jpsecher commented on #3237
I have a similar problem when generating JavaScript from a very big (generated) Haxe file:

    Current OS is Windows 7
    Setting environment variable: HAXEPATH=C:/HaxeToolkit/haxe
    haxe -js C:\in\medicalmodel.js mold.Model
    Error: Buffer.add: cannot grow buffer

This Buffer limit only appears on Windows system where the haxe process seems to be 32 bit (according to Task Manager).  On OSX

[2015-02-04 17:32] ProPuke commented on #2586
I propose the addition of an `encoding` enum (`UTF8` or `BINARY`) parameter for `Http`. The default value being `HttpEncoding.UTF8`. The `onData` callback could be set to `Dynamic` and return either a `String` or `Bytes` depending on the value of this parameter.

This is backward compat, allows the addition of other future encodings, and allows differing platforms to conditionally support encoding

[2015-02-04 18:50] nadako opened #3837 "Support explicit covariance"
I think we could support explicit covariance using type parameter metadata proposed in #3836, similar to how it's done in C#, for example:

[code]

Enforcing covariance rules should be quite easy - I think it's enough to check that `@:out T` is only used as a return value or a read-only property, as for extends/implements, just check that the type param in the extending class has the same `@:out`

[2015-02-04 19:27] frabbit commented on #3684
let's summarize our options:

1)
ShUtil => Shutil
FuncTools => Functools
ByteArray => Bytearray
datetime.DateTime => datetime.Datetime
datetime.TimeDelta => datetime.Timedelta
datetime.TzInfo => datetime.Tzinfo

should we really go this way? Or should we fix the ones that don't follow this convention like:

2)
Tempfile => TempFile
Subprocess => SubProcess
etc.

actually i would rather go the secon

[2015-02-05 08:48] Simn commented on #3799
This actually looks like a core problem to me. The type of the array access is inferred as Float:

[code]

This is probably due to the binop defaulting to Float. The swf generator then probably coerces to Float which causes the observed behavior.

[2015-02-05 08:52] Simn commented on #3819
@ncannasse: Is there any reason we actually _need_ `gen_local` or could we just alloc every generated temp var as "tmp" and let `rename_local_vars` rename it? That should also give a small boost to completion performance because we don't do any string acrobatics until the post-processing stage.

[2015-02-05 09:28] ncannasse commented on #3837
Explicit variance is unsound, I don't think we should allow it

[2015-02-05 09:30] ncannasse commented on #3837
Oh, you want to enforce it ? I had this in Haxe a long time ago (in 1.x) but got rid of it because it was causing more problems that it solves

[2015-02-05 09:36] Simn commented on #3837
It wouldn't really work anyway due to the way we handle type parameter application. By the time we unify all the compiler sees are the applied types so we would have to do some stunts to relay the variance information.

[2015-02-05 10:03] nadako commented on #3837
I don't know, it works quite well for C# (invariance by default and explicit (and checked) co/contra-variance), tho they only allow it for interfaces, not sure why. It is a powerful typing tool, so I'd still like to see it in haxe. As for param application, i guess we could wrap params in special `Out<T>`,`In<T>` abstracts, as you suggested. It's not easy for sure, but I think we could at least co

[2015-02-05 10:40] #3806 closed

[2015-02-05 10:40] #3812 closed

[2015-02-05 10:40] #3832 closed

[2015-02-05 10:40] #3833 closed

[2015-02-05 11:16] Simn commented on #3812
fyi, I've allowed it again for inline closures because C# actually uses that and I think it should work just fine.

[2015-02-05 11:17] Simn commented on #3830
The combination of `@:callable` and `@:coreType` is now disallowed and the completion issue fixed. I'll deal with the `@:noFollow` once I actually need it for something.

[2015-02-05 11:17] #3830 closed

[2015-02-05 12:19] jpsecher commented on #3237
I am having endless troubles trying to compile haxe on Windows.  I have tried most combinations of the various (old) instructions out there. Can anyone point me to a setup that they know will work?

[2015-02-05 12:21] Simn commented on #3237
The MSVC setup has been working for me for years now. It limits you to OCaml 3.11 but there's not really a problem with that: http://haxe.org/documentation/introduction/building-haxe.html

[2015-02-05 12:42] jpsecher commented on #3237
Thanks, so "Install a MSVC version of OCaml" means http://caml.inria.fr/pub/distrib/ocaml-3.11/ocaml-3.11.0-win-msvc.exe, right?

With that version's bin folder in the path, I get
    C:\laerdal\haxe\libs\extlib>ocamlopt.opt -g -a -o extLib.cmxa enum.mli bitSet.mli dynArray.mli extArray.mli extHashtbl.mli extList.mli extString.mli global.mli IO.mli option.mli pMap.mli std.mli uChar.mli uTF8.mli ba

[2015-02-05 12:43] Simn commented on #3237
Did you run vcvarsall.bat?

[2015-02-05 12:53] jpsecher commented on #3237
Ahh, vcvarsall.bat needs to be run in every cmd invocation before make. Thanks.

Compilation now runs, but does not finish:

    ocamlc -I . c_objsize.c
    c_objsize.c
    ocamlopt.opt -a -o objsize.cmxa  objsize.mli objsize.ml
    make[1]: Leaving 'C:/laerdal/haxe/libs/objsize'
    make: Interrupt/Exception caught (code = 0xc00000fd, addr = 0x4227d3)

Tried both VS10 and VS11.

[2015-02-05 12:57] Simn commented on #3237
Is that really GNU make for Windows you're using? I can find this for the MinGW version: http://superuser.com/questions/375029/make-interrupt-exception-caught

[2015-02-05 13:08] singpolyma commented on #2586
It doesn't make a lot of sense for the user to specify the encoding, since HTTP has built-in ways for the server to specify that.

[2015-02-05 13:12] jpsecher commented on #3237
Thanks a bunch!  It works to insert

    SHELL=C:/Windows/System32/cmd.exe

into the Makefile.

Now I will try to substitute the standard Buffer with the [alternative Buffer implementation](https://www.lri.fr/~filliatr/ftp/ocaml/ds/rbuffer.mli.html)

[2015-02-05 14:43] ncannasse commented on #3812
@Simn I'm not sure we should allow this in that case, but it's not very important

[2015-02-05 14:51] ProPuke commented on #2586
A lot of the time when requesting content specifying a format to receive in makes a lot of sense. For example, if requesting an html or json url text content is presumed. If requesting a downloadable asset a binary encoding is presumed (you may wish to request a binary encoding even if downloading an ascii file, so that it can be saved locally in a byte-identical form). In these cases explicitly s

[2015-02-05 15:57] Simn commented on #3812
I think it's fine because the inline function cannot leave the loop. If you try to assign it to e.g. an outside variable you get "Cannot create closure on inline closure". This means that you can only call it from within the loop.

[2015-02-05 18:07] Luchanso opened #3839 "Need more bytes"
I am disappointed, why only 2 byte for size message in Socket Protocol? Why not 4 bytes?(((
Its very inconvenient.

https://github.com/HaxeFoundation/haxe/blob/development/std/haxe/remoting/SocketProtocol.hx#L139

[2015-02-06 02:49] ProG4mr commented on #3691
Hi, I've compiled using the latest haxe version from dev branch and this problem remains.

In ufront if i call:
[code]
It produces the error described at the top of this issue.
This line creates a query with ```FALSE``` witch is not supported by sqlite.
[code]

I'm using Haxe 3.2 and neko VM.

Thanks a lot if you can confirm the problem and maybe fix it or reopen this issue.

[2015-02-06 09:59] jpsecher commented on #3237
Well, I have now have the problem that my locally compiled version of haxe (with no modifications) exhibits a different behaviour than the official (binary): When building a JS file from the above mentioned huge HX file, my haxe version simply crashes almost instantly with a stack overflow, whereas the official haxe gives the above-mentioned "cannot grow buffer" after a substantial time.
The local

[2015-02-06 10:11] Simn commented on #3237
The size difference probably comes from the build servers building through MinGW.

I have no idea why yours simply crashes though. The exe is a bit smaller than mine (4.974 KB) but I don't see why you would have a release/debug difference if you just use the makefile.

[2015-02-06 10:58] jpsecher commented on #3237
I was working on tag 3.1.3 to avoid changing more than necessary wrt. the official release.  If I build on HEAD I get a size of 4976kB, so very close to what you get.

Hmm, maybe the libraries were not on tag 3.1.3?  (I am not used to git :-/)

I will try to use HEAD instead.

[2015-02-06 15:54] #3814 closed

[2015-02-06 16:24] kkirby opened #3841 "Expression style macros in Haxe?"
Hello.

I've skimmed through the documentation and I wasn't able to find what I needed. Does Haxe have support for expression macros? From what I can tell it does not, and only supports call style macros.

What I mean by expression macros would be like being able to define custom syntax or operators.

Lastly, other than a Google search, where can I find some good macro examples?

Thanks,
Kyle

[2015-02-06 16:27] Simn commented on #3841
You can work some magic with build macros, but in the end all syntax has to make it through Haxe's parser. That's a conscious limitation.

[2015-02-06 16:27] #3841 closed

[2015-02-06 17:00] nadako commented on #3841
If you need completely non-haxe syntax, you can probably hack something up like this https://github.com/andyli/CommentString, parse it and build `Expr`s yourself, but I doubt it worth it.

[2015-02-06 17:30] kkirby commented on #3841
Okay, thanks for the prompt responses!

[2015-02-07 10:23] frabbit commented on #3684
ping @simn @nadako

[2015-02-07 10:29] Simn commented on #3684
I think 1) is better because it doesn't involve any decisions about what to capitalize. That's good for both us and the users. I leave it to you guys though.

[2015-02-07 12:57] nadako commented on #3684
I agree with Simon and that is also how hxnodejs is done.

[2015-02-07 15:10] waneck opened #3842 "net-lib: Support overloaded property functions"
Issue number. The offending code is at https://msdn.microsoft.com/en-us/library/microsoft.office.tools.excel.namedrange.value.aspx - where you can either use Value as a property directly, or call set_Value with more arguments.

[2015-02-07 17:41] frabbit commented on #3684
OK thats fine, but i leave classes that are already PascalCase as they are, right?

[2015-02-07 21:10] nadako commented on #3684
You mean like `codecs.StreamWriter`? Sure. I think the rule should simply be like: `captialize class/module names that start with lowercase`, so `datetime` becomes `Datetime`, but `codecs.StreamWriter` stays as is.

[2015-02-07 21:13] #3842 closed

[2015-02-08 01:33] waneck commented on #2931
I've put some thought into this, and I guess it is better to change so all -net-lib enums are actually `@:enum abstract`, and perhaps change so haxe enums are never compiled as C# enums.
There are still some annoying problems with `@:enum abstract` - for example that it doesn't support Int64 as its underlying type. This could be solved nicely with Int64 literals.

I'm a little reluctant about this

[2015-02-08 02:17] #3474 closed

[2015-02-08 02:17] waneck commented on #3474
Thanks for the great test case!

[2015-02-08 02:22] waneck opened #3843 "-net-lib refactor"
I'm starting to tackle some issues regarding -net-lib, and while I've been trying to avoid as much as possible to hack into `typeload.ml` and add exceptions that shouldn't be checked, it seems to me that some problems can only be reasonably solved like this. Also it seems to me that checking a lot of interfaces and implementations for these externs are a waste of processing time.

I plan to add so

[2015-02-08 05:08] #3100 closed

[2015-02-08 16:07] nadako opened #3844 "unbound variable with -D analyzer"
extracted from generated nape code:
[code]

[2015-02-08 20:32] nadako opened #3845 "[js] haxe.ds.ObjectMap regression with -D analyzer"
The following code will trace `1` with `-D analyzer` and `2` without it:
[code]

The problem is that this code from the `set` method:
[code]
will be generated as:
[code]
so on second `set` call, the `id` will be `true` instead of `key.__id__`

This is weird, because I thought analyzer ignores untyped blocks.

[2015-02-08 20:34] nadako commented on #3844
Note that the message seems to come not from the analyzer but from the SWF generator as it only reproduces on `-swf` target.

[2015-02-09 15:52] clemos opened #3846 "extern + inline + @:overload: method not inlined"
Consider the following code :

[code]

On latest haxe/development, it will generate this js code:

[code]

As you can see the second call, which correspond to the overloaded signature, won't be inlined.

I use this trick a lot to workaround JS using invalid identifiers in Haxe.
It seems it used to work with previous versions (3.1.3), so it's likely a regression.

As a side note, it might be interr

[2015-02-09 16:01] clemos commented on #3846
I just tested and can confirm it works properly on `master`

[2015-02-09 19:52] Morvalyn opened #3847 "Database ADO.net Error: File "ilMetaReader.ml", line 281, characters 36-42: Assertion failed error 0x2"
<a href="http://speedy.sh/JnfwS/System.Data.dll">v4.0 System.Data.dll Reference Assemblies</a>
<a href="http://speedy.sh/2N74C/System.Data.dll">v4.5 System.Data.dll Reference Assumblies</a>

Haxe version: 2015-02-09 19:30         4044670        haxe_2015-02-09_development_a696542.tar.gz

when running haxelib build.hxml
[code]

[2015-02-09 20:10] #3847 closed

[2015-02-09 20:11] waneck commented on #3847
This should be fixed now. Note however that you will need some other -net-lib definitions to make this work - as System.Transactions.Transaction is not referenced by this same assembly

[2015-02-09 20:11] yanhick opened #3848 "null casting inconsistent behaviour"
There seems to be different semantic for casting null in haxe cpp. The following will throw an error in Js and Neko but not in Cpp
[code]
Note that if I cast primitive types (String, Int...), Js, Neko and Cpp all throw an error. I didn't try other targets. I'm using Haxe 3.1.2.

This could be fixed in 2 ways:
- Allow null casting on all types. Java does that.
- Prevent casting null to an object in

[2015-02-09 21:06] ncannasse commented on #3848
I agree that `cast(null,T)` should return null, since it's a valid value. We should indeed unit test and fix this accordingly, thanks for reporting.

[2015-02-09 21:15] bji commented on #3848
Are we also covering the runtime case here?  i.e.

var foo = someFunctionThatReturnsNull();

var myClass = cast(foo, MyClass);

Should this also silently allow the runtime value null to be cast to type MyClass?

[2015-02-09 21:31] Simn commented on #3848
I don't think I like this. What value does silently allowing null have here? Almost anything you try to do with the value after the cast succeeds is going to error anyway. In the few cases it doesn't it's probably not going to behave as intended either and might be quite difficult to track down.

[2015-02-09 21:33] bji commented on #3848
You can do "if (myClass == null)", or assign some other variable's value to myClass.  The point being that null is a valid value for an instance of a myClass, and you can do all the stuff you would normally do with such a null reference.

[2015-02-09 21:37] Simn commented on #3848
Sure but you might as well do that null check before trying the cast. At least then the special case is separated instead of being nested in a cast case. That just leads to weird code in my opinion.

You also create new problems with regards to basic types. What if I try to safe-cast null to Int on a static target?

[2015-02-09 22:02] waneck commented on #3848
Unless we detect cast `(x, Null <X>)`, I'm not sure that disallowing null
is good. Also this would need an extra check for Java/C#, which is kind of
annoying

[2015-02-09 22:27] bji commented on #3848
It's true that you might as well do the null check before the cast, but that's not a reason to disallow doing it after.  Also, waneck, are you supporting allowing casting from a null runtime value or supporting disallowing it?  Your comment isn't clear to me.  Thanks!

[2015-02-09 22:57] Simn commented on #3848
Do you also expect Std.is to return true if the first argument is null (run-time or not)?

It is currently documented to return false if v is null. We would end up with a really weird API if we keep that and go for "null is a valid value for all types" for safe-casts.

[2015-02-09 23:32] bji commented on #3848
Yes, I would expect Std.is to return true for any null value evaluated at runtime.  I would also expect a compile time test that would replace the Std.is with a constant true or false value if the Std.is can be calculated at compile time.

[2015-02-10 09:26] ncannasse commented on #3848
I don't think we should change Std.is behavior. Std.is test the "runtime" type of a value, and null has no runtime type associated. cast is another story, since it checks if the runtime value is compatible with the type, which null is. At least that's how I would like them to be specified.

[2015-02-10 09:31] ncannasse commented on #3819
We could try it, I think gen_local is quite old and was most likely introduced before rename_local_vars.

[2015-02-10 09:40] Simn commented on #3848
The distinction doesn't make any sense to me. We even implement safe-casting as `if (Std.is(v, T)) cast v else throw "Class cast error"` on several targets.

I think if we change one we should change the other, and we definitely cannot change Std.is at the moment so I'm in favor of not changing anything for the time being.

[2015-02-10 14:40] nadako opened #3850 "This expression may be invalid warning for valid code"
[code]

[2015-02-10 15:32] waneck commented on #3850
I've added a proposed fix, but it follows all non-coretype abstracts, which may lead to following abstracts that shouldn't be followed. I'll think about a better fix later

[2015-02-10 17:51] ncannasse commented on #3848
Not changing something that was reported as a platform inconsistency is just making it worse, if we consider that the amount of Haxe code written will grow over the years.

[2015-02-10 17:58] nadako commented on #3848
am i right thinking that you want to (e.g. on C#) generate `(o == null) ? null : (SomeType)o` instead of simple `(SomeType)o`? This is quite horrible for performance. Also `null` is not a valid value for basic types on static targets, tho we still allow `cast(v,Int)`, what should we do in this case? I think we should throw exception on safe-casting `null`.

[2015-02-10 18:02] bji commented on #3848
I agree with ncannasse's most recent statement.  The integrity of the language going forward is more important than backwards compatibility with incorrect prior implementations, and I think that major language versions is a good time to make such changes, so I would recommend that if this is changed, it should be done on the next haxe major version (4.0), and well documented.  I have a feeling tha

[2015-02-10 18:04] waneck commented on #3848
@bji, I prefer that we allow nulls when casting. This will play nicely with the Java/C# targets (as @nadako has mentioned), and afaik we don't allow `cast(x,Null<Something>)`, so it's not even possible to make a safe cast that would allow `Null<>`

[2015-02-10 18:07] Simn commented on #3848
I'm starting to have a hard time following who agrees with whom here. My position is that we can (and should) change it for Haxe 4, but shouldn't make a half-assed change before that. Sure it's nice to fix platform-inconsistencies early, but if that comes at the price of an API inconsistency (safe casts being different than Std.is) I really don't think it's worth it.

[2015-02-10 18:09] nadako commented on #3848
I just tested C# and I was wrong (SomeType)null works on c# as long as SomeType is reference type, so the `cast(v,Int)` question is still open.

[2015-02-10 18:12] nadako commented on #3848
If we're talking about haxe 4, can we please add proper null safety? :)

[2015-02-10 18:15] bji commented on #3848
Thanks for your clarification Simn.  Your position is actually quite different than I thought it was - I thought you were arguing against changing anything related to null casting and Std.is, even in a major release.

To clarify my position: I think we should allow casting from null, because it makes semantic sense to me (null is a valid value for any object reference type, so it should be castabl

[2015-02-10 18:16] bji commented on #3848
Also, I agree (as I stated earlier) that these changes should be done in a major release, not in a point release.

[2015-02-10 18:21] Simn commented on #3848
Related: #2976

[2015-02-10 20:14] sganapavarapu1 commented on #3848
I don't think we should change Std.is behavior.

There's code out there that's reliant on Std.is returning false when object is null.
e.g.
if (Std.is(obj, MyType))  {
  var temp : MyClass = cast(obj, MyType).getMyClass();
}
This will result in NPE when obj is null if Std.is returns true.

One may comment that, it is easy to fix above code to:
if (Std.is(o, MyType)) {
  var temp : MyClass;
  if (ob

[2015-02-10 20:21] Simn commented on #3848
We might want to review safe casts on a larger scale for Haxe 4. It often causes unexpected performance issues because people do not realize that it involves a run-time type check. Your first snippet is an example for that: depending on the target you're essentially doing a double-Std.is because the safe cast has one built-in.

[2015-02-10 20:38] ncannasse commented on #3848
I don't think too that we need to change Std.is, it's been specified and tested in a cross platform manner. We could change its specification in case we replace it by a "is" operator in Haxe 4.0, but that's another feature request.

The current report is about cross platform inconsistencies of safe-cast operator, which needs and should be addressed in Haxe 3.2.

If T is a nullable type, then cast(

[2015-02-10 20:55] Simn commented on #3848
I don't understand the rush here. It has been like this for years.

At least right now all the type-checking is consistent _within a target_. Introducing an inconsistency like this between safe-casts and Std.is is something PHP would do in an ad hoc fashion. Just imagine the conversation:

User: Hey compiler, can I cast this value to type T?
Haxe: Absolutely!
User: So it is an instance of type T?

[2015-02-10 21:34] ncannasse commented on #3848
@Simn I don't see any issue here, that seems somewhat to match the definition of null.

[2015-02-10 21:36] bji commented on #3848
Saying that it's been like this for years is, no offense, not at all relevant to the question of how it should be going forward.  Yes, this behavior, similarly for many behaviors, has been different for different targets for a while now, and I personally find this to be a shortcoming of haxe: it promises me that I can write code that will work well on lots of platforms, but there are many rough ed

[2015-02-10 21:48] Simn commented on #3848
And to me the "doesn't mean what you thought it did" is exactly the problem. It's an API which has surprises and I find that surprise-by-design is much worse than surprise-by-issue-not-being-addressed-yet.

But I give up; you guys seem to agree on something and I don't want to get in the way with my concerns which may or may not be rooted in me not understanding what `null` means.

[2015-02-10 22:58] yar3333 opened #3851 "Access to @:overload from macro"
In my situation (I want to generate extern classes by haxe source code), I need to access @:overload metas from macro.

Cauê Waneck 	wrote:
The @:overload meta gets turned into `cf_overloads` on the compiler side, which doesn't seem to be available at the Type.ClassField definition.

[2015-02-10 23:51] Blank101 commented on #3851
FYI I raised this issue a few months ago: https://github.com/HaxeFoundation/haxe/issues/3460

[2015-02-10 23:52] #3851 closed

[2015-02-11 01:32] mockey opened #3852 "Weird UInt division behaviour (Flash)"
[code]
In 47bbd1e3ee4bc94899339ca474936106c6fb98a0 quite a lot of ops have been defined, but there's only `UInt / Int` not `Int / UInt`, maybe that's why it's turned around? Don't know...

[2015-02-11 07:07] cruxblack opened #3853 "List.remove( object.method ) failed on neko target"
[code]

[2015-02-11 10:38] cruxblack opened #3854 "Inconsistent reference-to-function in neko?"
[code]

[2015-02-11 10:42] cruxblack commented on #3853
Possibly related to this issue #3854

[2015-02-11 10:45] markknol opened #3855 "[js] enum abstract as key for Map gives runtime error"
When I use an abstract enum as key for a Map, I get this runtime error:
 `Uncaught TypeError: Cannot assign to read only property '__id__' of home, http://try.haxe.org/program/848ec/run?r=0.644512897124514,line:42`

Is this a bug or am I doing something wrong?
[code]
Demo: http://try.haxe.org/#848ec

I found that if I use `new Map<String, Class<Dynamic>>();` everything works as expected.

I use Ha

[2015-02-11 11:04] Simn commented on #3855
Our generated code is fine so this must be some chrome issue.

[2015-02-11 11:07] Simn commented on #3855
Actually it might be picking the wrong map type.

[2015-02-11 11:12] Simn commented on #3855
... but that has already been fixed on latest.

[2015-02-11 11:12] #3855 closed

[2015-02-11 19:36] ncannasse commented on #3852
In all cases, abstracts should not reverse the order of parameters for division

[2015-02-11 19:38] ncannasse commented on #3854
Each access to a member function might create a closure. Use Reflect.compareFunction to compare methods in a crossplatform manner.

[2015-02-11 19:38] #3854 closed

[2015-02-11 19:38] ncannasse commented on #3853
Functions are not guaranteed to be == , see #3854

[2015-02-11 19:38] #3853 closed

[2015-02-11 20:26] bji commented on #3848
Well I don't really want you to give up, I'd rather that we could come to an agreement.  I think that having one of the primary language maintainers buying into the semantics surrounding casting is kind of important.

What do you mean when you say "not understanding what null means"?

Also, can you describe what you mean as surprise-by-design in the proposal?  Are you referring to the surprise of

[2015-02-11 20:28] waneck commented on #3848
Well, if anything I agree with Simn. The api of canCast / is difference is
weird. I don't think Std.is (null,SomeType) should ever return null. But I
agree this should be changed only in the next haxe version

[2015-02-11 20:40] ncannasse commented on #3848
@waneck you meant `cast`, right ? (Std.is will always return true/false) And by "version", please specify either minor OR major :) things gets more complicated if we are not sure who thinks what.

As for Std.is VS cast : of course it would be strange if something that "is" T cannot be cast to it, but that's not the case in what I'm proposing. So if we specify that cast is null-inclusive while Std.

[2015-02-11 20:56] bji commented on #3848
@waneck, yes please clarify this statement:

"I don't think Std.is (null,SomeType) should ever return null"

Do you mean: "I don't think cast(null, SomeType) should ever return null"

Or do you mean: "I don't think Std.is(null, SomeType) should ever return false"

The difference is pretty much the difference between the two sides of this discussion, so clarification is kind of important :)

[2015-02-11 20:58] Simn commented on #3848
@bji: "not understanding what null means" refers to https://github.com/HaxeFoundation/haxe/issues/3848#issuecomment-73788537 because I simply don't understand how this makes any kind of sense.

You're right about what I meant by surprise-by-design. I could only accept this if we label Std.is as "not working as intended" with regards to null, but that hasn't really been on the table. If you guys sa

[2015-02-11 21:10] bji commented on #3848
Who's rushing?  Nobody has proposed changing anything except on a major release boundary.  I feel like what you mean by "rushing" is actually "taking the issue seriously", and why shouldn't we do that?

Also I think my post 3848 was very clear, so I don't know what could have confused you.  If you can clarify, I can try to address the confusion.

Finally, I think intra-target inconsistency is much

[2015-02-11 21:25] Simn commented on #3848
By rushing I mean that Nicolas wants to change this for 3.2 which I kind of want to release soonish.

The confusion comment wasn't yours, I linked to Nicolas comment which says "@Simn I don't see any issue here, that seems somewhat to match the definition of null.".

Regarding intra- vs inter-target inconsistency: I can see where you're coming from here and would probably prefer the latter as well

[2015-02-11 21:43] bji commented on #3848
Simn, I'd be onboard for your last statement, which would be to fix it all in a consistent manner for Haxe 4.  Can you describe briefly what that solution is?  If it's compelling I'd happily defer this particular issue while waiting for that.

[2015-02-11 21:47] Simn commented on #3848
* deprecate Std.is
* introduce `is` operator (#2976)
* make `null is T` yield `true` for any T which is not a basic type
* make `cast(null, T)` always succeed (not sure about basic types here)

In fact I would like to go a bit further and make a clear distinction between static and dynamic casts like in C++. I've seen _a lot_ of `cast(v, T)` usage which suggests that the user thinks it's a static

[2015-02-11 21:50] bji commented on #3848
That all sounds great to me, except maybe the part about making a distinction between static and dynamic casts, which I find really painful in C++ (maybe it's just the syntax they use), but I wouldn't even argue against that if it's what you/others wanted to do.

[2015-02-11 23:09] jgranick commented on #3712
I know this was posted a while ago, but the haxelib issue with Lime tools is resolved now, will be going out in the next release

[2015-02-12 05:19] cruxblack commented on #3853
@ncannasse
I see, thanks for clarifying
Then, for the case above, in order to remove the function from the list, I would need to do something like this?

[code]

Would that result in the list being traversed twice, first inside the for-loop of removeFx(), and then again in list.remove()?

As an alternative, is it possible to extend the List class and then override its functions so that any compari

[2015-02-12 09:52] ncannasse commented on #3853
You should be able to override list.remove to implement the way you want.

[2015-02-12 14:40] waneck commented on #3848
I'm sorry. I meant that `Std.is(null,SomeTime)` should never return false. And I meant that I think this should be solved together with the `is` operator, presumably in the next major release only.

I feel it will be strange that `Std.is` and `cast` disagree about what can and cannot be cast, and in this sense I agree with Simn on this.

[2015-02-12 21:49] ousado opened #3856 "Anon typing rules"
Please see the following code, live example at: http://try.haxe.org/#30234
There seems to be a difference in the unification of anons, in some cases { x : Int, y : Int } unifies with { x : Int } and in others it doesn't. The difference in the following code seems to be the presence of _any_ explicit type annotation for the entity typed as { x : Int, y : Int };
If such an annotation exists, somethi

[2015-02-12 23:37] ousado commented on #3856
OK, relevant issues ( thanks @deltaluca )
https://github.com/HaxeFoundation/haxe/issues/3192
https://github.com/HaxeFoundation/haxe/issues/3198

The answers seem to suggest that haxe allows structural subtyping among anons, while the manual http://haxe.org/manual/type-system-structural-subtyping.html states that it's supposed to be available to classes being unified with anon types only.

[2015-02-13 05:52] jdonaldson opened #3858 "Update RecordMacros.hx to use postgres/mysql compatible limit queries"
It looks like RecordMacros.hx uses a MySql-specific form of specifying limit queries.   A change in that file will enable postgres limit queries to work equivalently to mysql queries.

More details over here: https://github.com/jdonaldson/postgrehx/issues/8

[2015-02-13 10:51] nadako opened #3859 "-cmd and output"
This bug is quite old (i think i experienced it since i started using haxe), but it's still very annoying and @Dvergar just reminded me about it, so I decided to create an issue for it.

The following code most likely will not trace full loop but will terminate at random moment:

Main.hx

[code]

build.hxml

[code]

This is not specific to neko as it can be reproduced with node or whatever.
The pr

[2015-02-13 11:24] ncannasse commented on #3859
It's due to problems with buffering on the reading side, I started backporting the nekovm process API in order to fix this in #3763

[2015-02-13 11:28] nadako commented on #3859
But isn't `run_command` using only standard ocaml unix stuff? how is it related to nekovm?

[2015-02-13 12:00] ncannasse commented on #3859
It's not related to nekovm at all : because we use ocaml unix stuff, we're not able to correctly capture the process output and print it back, so we need to have access to other C primitives which are provided by the process API

[2015-02-13 13:38] ciscoheat opened #3860 "Std.is reports Enum as System.Int32 on C#"
[code]

On all other targets, testing c for Int returns false.

[2015-02-13 13:40] nadako commented on #3860
this will be fixed when generation of native c# enums for "flat" enums is disabled.

[2015-02-13 13:40] ciscoheat commented on #3860
Good to know, thanks!

[2015-02-14 00:08] mockey commented on #3852
Apparently they do in this case somehow...

[2015-02-14 00:11] nadako opened #3861 "no "unitialized variable use" error with -D analyzer"
[code]
This gives an error `Local variable a used without being initialized` without `-D analyzer` but compiles silently with it.

[2015-02-14 00:17] nadako commented on #3852
Oh wow, someone seems to love copy-paste too much and added `@:commutative` flags to non-commutative methods.

[2015-02-14 01:12] Simn commented on #3861
I don't think that should be an error anyway. This code is perfectly fine:

[code]

There's still a problem with local DCE removing the assignment.

[2015-02-14 02:34] #3852 closed

[2015-02-14 04:54] hughsando opened #3863 "Map of generic parameter fails"
[code]
Generates an error: ```Abstract Map has no @:to function that accepts IMap<MapOf.T, Int>```

[2015-02-14 09:32] Simn commented on #3863
The error message is a bit strange, but that example should fail. The problem is that the compiler cannot figure out what Map specialization to use because `T` is an unconstrained type parameter. You can constrain it to e.g. `{}` to make it use ObjectMap.

[2015-02-14 10:36] Simn commented on #3846
@waneck: Are the overloaded fields supposed to have a `cf_expr` or not? We create them before following the original `cf_type` which means the TLazy is not called in time and the created copy ends up with `cf_expr = None`, which then cancels inlining.

[2015-02-14 10:57] Simn commented on #3846
Actually we run `init_meta_overloads` before `bind_type` so there's not even a TLazy yet.

[2015-02-14 12:08] Simn commented on #3845
The `untyped` is not communicated to the typed AST. The analyzer only cancels when it comes across unbound variables which do not exist here.

I guess we could just mark the current field when we come across an EUntyped.

[2015-02-14 12:35] Simn commented on #3845
Note: this is not a regression because there was no analyzer in the last stable release. I'm going to fix it anyway.

[2015-02-14 12:37] Simn commented on #3834
I consider this fixed even though there are too many temp vars now. We can address this in a separate issue after 3.2.

[2015-02-14 12:37] #3834 closed

[2015-02-14 12:48] Simn commented on #3819
My test was invalid (I'm guessing I had `rename_local_vars` commented out). The actual times are this:

[code]

It's still preferable to have this because at least completion can work, but `rename_local_vars` obviously has the same problems as `gen_local`.

[2015-02-14 13:05] Simn commented on #3819
Bah, there's actually code which relies on the name being unique during typing, so I don't see an easy fix for this right now.

[2015-02-14 13:06] #3844 closed

[2015-02-14 13:06] #3861 closed

[2015-02-14 15:16] #3773 closed

[2015-02-14 21:23] wighawag opened #3864 "Type inference not possible with @:genericBuild"
Using the following three files I get the following error :

[code]

this is solved by specifying explicitely the type parameter but it would be great if type inference would also work with type generated by @:genericbuild

Main.hx :

[code]

TestMacro.hx:

[code]

build.hxml

[code]

[2015-02-14 22:54] nadako commented on #3864
I would also like this to be solved "somehow", but for the variety of cases there's `Context.getCallArguments` https://github.com/HaxeFoundation/haxe/blob/development/std/haxe/macro/Context.hx#L123 which returns expressions passed to the constructor, so you can infer types yourself.

[2015-02-15 00:13] wighawag commented on #3864
Thanks nadako for your comment, unfortunately for me, in my use case (different from the example posted), the constructor do not have any parameters. I thus cannot use Context.getCallArguments

[2015-02-15 08:18] ncannasse commented on #3863
Maybe we could improve the error message in case one of the parameter is a type parameter ? (tipping about @:generic usage)

[2015-02-15 08:22] ncannasse commented on #3819
@Simn maybe we should replace this code by using var ids ? That should give up a bit of speedup as well

[2015-02-15 08:23] Simn commented on #3863
You actually need both `@:generic` and `@:remove` for this to work. We don't remove the base versions of `@:generic` classes unless it has a constructor constraint so it would still give an error.

[2015-02-15 08:25] Simn commented on #3819
I thought about that too, but then I remembered you wanting the temp vars to be nicely enumerated. Or was that just about them being enumerated consistently for the compilation server?

It's still not entirely safe because in theory there could be a user variable named `tmp1234`.

[2015-02-15 08:30] #3789 closed

[2015-02-15 09:47] ncannasse commented on #3819
I don't remember why I would care that much about local variable names, as long as the output is stable (don't vary between compilations), and if we can keep original user var naming as much as possible (for code output readability)

[2015-02-15 11:06] hughsando commented on #3863
Yes, if I constrain it ```class MapOf<T:{}>``` it works, and I can see it can't be made to work without something like the ```Array<Dynamic>``` for maps.

[2015-02-15 11:06] #3863 closed

[2015-02-15 14:29] ousado commented on #3856
Any chance to get an answer to this one? It's certainly a crucial point when writing a target.

[2015-02-15 14:33] Simn commented on #3856
I always thought Haxe didn't allow structural subtyping between structures (only class vs. structure) but it looks like that's simply wrong.

[2015-02-15 14:36] ousado commented on #3860
Why is this a bug? It feels much more like a feature.to me

[2015-02-15 15:12] Simn commented on #3860
I'm also a bit sad this is considered a bug. After all we do not define how enum values are represented at run-time.

[2015-02-15 15:13] ousado commented on #3856
Thanks, time to rethink anons for genc then, I'm afraid.

[2015-02-15 15:16] Simn commented on #3856
Yes this basically forces us into a dynamic route for the general case. We can detect cases where this is not necessary, but the default implementation is likely gonna be the same as if it was Dynamic.

[2015-02-15 15:32] ncannasse commented on #3800
This been fixed in neko, assigning to @hughsando

[2015-02-15 16:01] ncannasse commented on #3856
Another way of doing is to pass around two values:
a) the first contains the anon data, as well as its structure
b) the second is an index that maps the current type to the anon fields.

For instance if you have
runtime value = { x : 0, y : 0. };   compile time type : { x : Int, y : Float }; then you have an index [0,1]
if you have
runtime value = { x : 0, v : 1, y : 0 }, then your index wil be [0

[2015-02-15 16:03] ncannasse commented on #3856
And yes I confirm that structure subtyping works:
 * between a classe and a structure
 * between structures
So for instance any class/structure can be unified with `{}`

[2015-02-15 16:10] waneck commented on #3860
There are many annoying subjects relating to Enums being value types - specially with regards to nullability.
For genc, we could consider the '0' a special 'null', so we don't have this problem. Also `Std.is` `Int` in this case is a C# particularity; we could make it so it returns false - even though its underlying type is an Int.

[2015-02-15 16:56] ncannasse commented on #3860
The problem here is that this optimization prevent any kind of reflection such as Type.enumConstruct, Type.getEnum, etc.  Also, comparing two pointers is the same as comparing an integer so it shouldn't be much an optimization as long as you don't allocate instances

[2015-02-15 17:02] waneck commented on #3860
It is an optimization, because you normally don't compare enums with `==`; Rather you switch on it. In order to support switch, we'd need to dereference the enum to its value.

If you have control over how to box instances, `Type.enumConstruct` and `Type.getEnum` can all be supported

[2015-02-15 17:18] ncannasse commented on #3860
I understand, didn't thought about auto boxing :)

[2015-02-15 17:57] Simn commented on #3856
Keeping this open as a reminder to fix the manual.

It's quite strange because I distinctly remember committing to my memory that there's no structural subtyping between structures. I guess this must have come up in the context of constant structures and I just interpreted it wrongly.

The index idea still requires an additional indirection, but I suppose it's better than a fully dynamic lookup.

[2015-02-15 19:16] dogles commented on #3637
@waneck @nadako Can we get this in for 3.2 (if it hasn't been already fixed)? If the bug wasn't clear, this means abstracts can't be used as map keys in the C# target.

[2015-02-15 19:20] nadako commented on #3637
This still reproduces on latest commit.

[2015-02-15 19:30] waneck commented on #3637
@Simn any idea what goes on in here?

[2015-02-15 19:36] Simn commented on #3637
I'm pretty sure inlining is going on. Like the same as #3713.

[2015-02-15 19:44] YellowAfterlife opened #3866 "JS: Suggestion: Do not generate single-use variables for enum' cases"
Currently, if you have an enum/ADT with a few constructors, such as
[code]
and then you do some matching via `switch` on it,
[code]
code of the [following kind](http://try.haxe.org/#A2CA9) is generated on the JS target:
[code]
Which is, generally, OK, although not necessarily. On multiple occasions (depending on code, obviously), an enum argument may only be used once, if at all (e.g last two case

[2015-02-15 20:24] nadako commented on #3866
There's a branch with TLocal propagation that will most likely handle that, right, @Simn ?

[2015-02-15 20:36] Simn commented on #3866
Yes, I don't want to make any specific optimizations here.

[2015-02-15 20:36] #3866 closed

[2015-02-15 21:39] ncannasse commented on #3637
@dogles we'll make sure to fix this for 3.2

[2015-02-15 21:42] james4k opened #3867 "[cpp] @:headerCode metadata and abstract types"
@:headerCode and other cpp metadata do not work for abstract types. Is this by design, or just something that has not yet been addressed?

Duplicate of https://github.com/HaxeFoundation/hxcpp/issues/114 but seems more appropriate here, if I'm not mistaken.

[2015-02-15 21:46] ncannasse opened #3868 "Bytes endianness"
Makes sure we specify that endianess in Bytes is the same as CPU default.

[2015-02-15 21:47] ncannasse commented on #3868
@andyli do we have any way to unit test on a big endian CPU ? (ARM, PowerPC, SPARC etc.)

[2015-02-15 22:12] andyli commented on #3868
From a quick search, [this post](http://www.tomaz.me/2013/12/02/running-travis-ci-tests-on-arm.html) suggests that it can be done by running a emulator inside Travis... although it could be pretty slow.

[2015-02-15 22:44] nadako opened #3869 "@:commutative @:op and object inlining weirdness"
i'm not sure what's causing it, but look at this:
[code]

generates
[code]

the second one is not inlined for some reason.

[2015-02-15 23:23] james4k opened #3870 "[cpp] RawPointer does not generate a pointer type"
cpp.RawPointer does not generate a pointer type, but cpp.RawConstPointer does.

`cpp.RawPointer<cpp.UInt8> variable` generates `::cpp::UInt8 variable`, but `cpp.RawConstPointer<cpp.UInt8> variable` generates `const ::cpp::UInt8 * variable`

Problem looks to be here:
https://github.com/HaxeFoundation/haxe/blob/d25714e0be1abb3b78727b8e1c34da892c7d9df9/gencpp.ml#L535
https://github.com/HaxeFoundation

[2015-02-15 23:47] #3869 closed

[2015-02-16 01:54] nadako opened #3871 "compile-time constant string concatination optimization"
Someone on the slack chat noticed that haxe doesn't optimize constant string concatination, despite that @ncannasse talked about it at GameDuell TechTalk, hence the issue :wink:

[code]

generates

[code]

I don't see a string case here https://github.com/HaxeFoundation/haxe/blob/development/optimizer.ml#L958, so I believe it was never implemented.

[2015-02-16 01:55] nadako commented on #3871
note that this may be useful with our new const propagation

[2015-02-16 08:42] ncannasse commented on #3871
I had an issue some long time ago about this because it was creating too many unique strings when some debug information was on (maybe when emulating callstack on flash8?). We had a lot of "FileName.hx" + "lineNumber" or something of this kind, and of course this creating a lot of unique combinations. But that's quite a specific case, maybe it's no longer an issue.

[2015-02-16 08:47] Simn commented on #3871
We were discussing this before and your arguments against it (constant pool spam) made sense to me at the time. The implementation went to `make_constant_expression` with a `concat_strings` argument because I needed it for the pattern matcher.

[2015-02-16 11:53] jpsecher commented on #3237
I will try to setup an environment that matches the build serves.  Which version of MinGW do the build servers use?

[2015-02-16 11:57] nadako commented on #3845
This brings back a ton of `$this` closures on JS :-)

There are quite large functions that have harmless untyped expressions (e.g `haxe.Serializer.serialize`), and ignoring the whole function because of that expr doesn't seem to be a good option (and looks more like real regression).

As you noted, this particular `ObjectMap` issue is not really a regression, so maybe we should just manually add n

[2015-02-16 12:22] Simn commented on #3845
The problem here is the "harmless": the analyzer cannot determine what untyped is harmless and what is not, so it conservatively assumes that all untyped is harmful.

[2015-02-16 12:29] nadako commented on #3845
what stops us to only ignoring the untyped expression itself? the `__js__`/`__cs__` and friends, i guess? if we had that "just insert the target source here" call standartized somehow, we could ignore only blocks that have those.
for the time being, i'm think fixing specific cases like 8355f6fbe7f4e6cdbe660f3bfc9b5675cf866e6d and 34640bae82571bcebe79ff8a100b0c740607e628 is the way to go

[2015-02-16 12:31] Simn commented on #3845
Yes any `untyped` expression could have arbitrary side-effects which affects the otherwise sanely typed code. Something trivial like `untyped x++` could completely throw constant propagation off.

[2015-02-16 12:38] nadako commented on #3845
I think we could still apply "some" simplfiication (e.g. `propagate_complex_rhs`), but I agree that it's better to incapsulate untyped stuff in an (inline) method that is skipped by the analyzer. One thing I would like to see is some `-D` flag to make analyzer warn about methods that are ignored because of untyped and not because of `@:analyzer` settings, so one could easily fix their code.

[2015-02-16 17:30] Simn opened #3872 "TFor having no side-effects?"
I came across this when I noticed that the analyzer ate some loop I expected it to keep. The code in question is this from the unit tests:

[code]

This got me thinking about how exactly we define side-effects. From an AST point of view there is no side-effect because there is only a TLocal (`xml`) and a TConst (`null`). However, the usual run-time translation to a while loop with `hasNext()` and

[2015-02-17 10:46] jpsecher commented on #3237
It works to use a rope-based buffer instead of the standard Buffer.  But the rbuffer.ml I used is under GPL license, so I guess I will have to reimplement it with an MIT license before I can provide a patch...

[2015-02-17 12:22] frabbit opened #3873 "imports not generated with dce no on python and js"
from irc:

[13:05] <frabbit> so i guess it should be something like (Meta.has Meta.ReallyUsed c.cl_meta || "DCE is no") right?
[13:05] <ousado> yes
[13:05] <Simn> I don't get why it has to check for @:reallyUsed at all...
[13:06] <nadako> frabbit, yeah it should check for dce = no i think
[13:07] <nadako> @:reallyUsed means that the type itself is somehow accessed (e.g. TTypeExpr) and we need to g

[2015-02-17 12:32] sebpatu opened #3875 "Null<UInt> when set to null, has value 0 instead."
see: http://try.haxe.org/#20D35
if i set null as default value of a Null<UInt> variable, and i trace its value, i got 0 instead of null.

[2015-02-17 12:39] nadako commented on #3873
This is caused by the fact we (ab)using DCE to mark types as `@:reallyUsed`, so we don't get those metas when dce=no. Checking for `|| dce = no` will fix the issue, but will also generate unneeded imports (which is minor, i guess, considering that dce=no is not used often anyways). The "correct" way is to still run dce filter in `dce=no`, but only to mark types with `@:reallyUsed`, or maybe make a

[2015-02-17 12:43] Simn commented on #3873
I also think that we should always run DCE but simply not remove anything in dce=no mode.

[2015-02-17 13:07] sebpatu opened #3877 "unconsistent default value across targets in trace."
in that test : http://try.haxe.org/#8Bf77
you can see different behaviors depending on platforms, and basic type, for the default value that is traced.

good thing is that the nullability test is ok, but the traced value is not showing 'null'.
on neko i get expected result: (except for current bug for UInt): every trace shows 'null' value, and every test '== null' is true.

for js target of try ha

[2015-02-17 13:12] Simn commented on #3877
This is very confusing, can you just make an example of the stuff you consider broken?

[2015-02-17 14:10] nadako opened #3878 "anon functions, type inference/hinting"
Sorry for the wall of text, but I'm not sure what to do with this, so I'll try to explain my use case:

Consider this example:

[code]

The `id` argument of a callback is not inferred. The first question is whether it should not be.

So I tried to hint compiler using `ECheckType`:

[code]

But that results in inserting a `TCast` which prevents inlining the closure :(

So I went another way and add

[2015-02-17 14:56] nadako opened #3879 "[python] typed kwargs support for extern methods"
As we talked on #haxe-dev, it would be nice to have some kind of *typed kwargs* thing that would allow us to define this:

[code]
and then do
[code]
which would generate
[code]

This is particularily useful for extern methods which have tons of optional arguments and are meant to be used by specifying one or two of them, like for example this one from the recent Sublime Text release:
[code]

[2015-02-17 15:30] andyli commented on #3237
The license of haxe compiler is GPLv2+, so using GPL lib should be fine?

[2015-02-17 15:30] nadako opened #3880 "Recursive array get method on --display"
[code]

[code]

[code]

[2015-02-17 16:07] sebpatu commented on #3877
That was the purpose of the try haxe link. I don't think its broken, i may have been always like that, but i think its a bit inconsistent in haxe context.

But to make it short:
consider those 2 variables (no default value specify):
public var intTest:Int;
public var boolTest:Bool;

test the output of those 2 lines:
trace("Int Value= "+intTest+" Is null="+(intTest == null));
trace("Bool Value= "+b

[2015-02-17 16:21] nadako commented on #3877
that's more of a string concatentation issue. Int and Float are concatenated as is, while Bool is passed through `Std.string` which does check for null, hence the different result (see https://github.com/HaxeFoundation/haxe/blob/development/typer.ml#L2007)

[2015-02-17 16:25] frabbit commented on #3879
closed by db98dbb4f8ba1fffd3f5e526147f57ecc2804ac0

[2015-02-17 16:26] #3879 closed

[2015-02-17 16:35] nadako commented on #3875
It is actually null, but is traced as 0 because of incorrect string conversion.

[2015-02-17 17:57] frabbit opened #3881 "Inline improvement"
The following example describes a possible enhancement of inlining:

[code]

[2015-02-17 19:40] nadako opened #3883 "[js] break from switch using labeled breaks"
Currently, JS target generates a try/catch with `throw "__break__"`  to support breaking the loop from a switch case, which is quite ugly, considering that JS supports labeled breaks (see https://msdn.microsoft.com/en-us/library/ie/3fhdxafb(v=vs.94).aspx).

So instead of try/catch wrapping we could mark a loop with a label and use labeled break instead. That's exactly what @waneck is doing in Java

[2015-02-17 20:25] waneck commented on #3883
It would be nice to add support for labeled break/continue statements on the typed ast - which may only be used by the Haxe compiler internally. This would allow some great optimization opportunities - for example when dealing with tail recursion optimization or pattern matching.

Of all the targets we currently support, here's the outlook of support for this feature:
 * js, java, php : supports l

[2015-02-17 20:32] nadako commented on #3883
Why don't we go further and just support labeled break/continue in the syntax as well :-P

[2015-02-17 23:54] frabbit opened #3884 "StdTypes.Void != Void"
found the following issue:

[code]

fails to compile with: Void -> Int should be (Void) -> Int

[2015-02-18 00:07] frabbit commented on #3884
i guess StdTypes.Void is added as an argument to the TFun instead of having an empty argument list.

[2015-02-18 00:37] nadako commented on #3884
I wonder if using `StdTypes` from user code should be even allowed.

[2015-02-18 00:38] nadako commented on #3884
other checks for `Void` are also failing when accessed via `StdTypes`, e.g.:

[code]

[2015-02-18 11:10] sebpatu opened #3885 "Suggestion: compiler: output minified / obfuscated code"
Hi
it would be great feature to have minification/obfuscation handled by compiler.
I found HaxeMin as haxe lib to do the job, but doing it with the compiler would
- give the smallest code possible
- making it more easy to maintain
- Give clean compilation errors, for example when you use non static String content in Reflec, that would break the minificaiton.
- ensure that minified code is fully ru

[2015-02-18 11:12] sebpatu commented on #3877
Well done nadako,
So wouldn't it be more consistent to use Std.string for all outputs?

[2015-02-18 11:13] sebpatu commented on #3875
cool, so the trace string conversion could be fixed?

[2015-02-18 11:56] nadako commented on #3875
sure :-)

[2015-02-18 11:57] nadako commented on #3877
well that's an optimization i believe, I don't know how should it be. probably the same as with `Bool`. i'll leave this to @ncannasse

[2015-02-18 11:58] nadako commented on #3885
i think that could be done with macros.

[2015-02-18 11:59] Simn commented on #3885
Yes, otherwise this should be left to target-specific tools.

[2015-02-18 11:59] #3885 closed

[2015-02-18 12:16] sebpatu commented on #3885
Target specific Tools, will never be as efficient and error clean as compiler. and can't always fix Reflect conflicts.
theres always side effects that target Tools can't handle, but the compiler can.

target Tools would only be a second pass of optimisation, but compiler would be first pass.

could you please give more détails about how to do that in macros nadako, as it should be applied to every

[2015-02-18 12:18] nadako commented on #3885
well, for example, you can collect information required for minification from the typed ast in the `onGenerate` callback and then feed it to your smart minification tool, wouldn't that be enough?

[2015-02-18 12:42] ncannasse commented on #3877
@Simn we should do something for  Null<Abstract> (check == null before calling toString)

Regarding undefined VS null, I don't think we should do anything here

[2015-02-18 12:45] Simn commented on #3877
There's some discussion in https://github.com/HaxeFoundation/haxe/issues/3376, though that's mostly me discussing with myself.

[2015-02-18 12:55] ncannasse commented on #3877
I guess that's a bit complementary case here. We could fix the null + toString first and see what we do with eq operator at another time

[2015-02-18 13:06] sebpatu commented on #3885
can be usefull that way yes,
but not enough i think.
Because you still need a obfuscation tool for each target, instead of compiler which handles all targets at once.
We could even output haxe obfuscated / minified output, for example distributing haxe lib which would not be open sourced. A good solution for commercial distribution of haxe lib (difficiult today).

And also compiler could give clea

[2015-02-18 13:08] sebpatu commented on #3877
@ncannasse  Regarding undefined VS null why we should not do anything ?

[2015-02-18 14:37] #3200 closed

[2015-02-18 14:40] hughsando commented on #2462
String constants have hashes built-in now, and the haxe/map has been rewritten, so I'm closing this one now.

[2015-02-18 14:40] #2462 closed

[2015-02-18 14:41] hughsando commented on #2221
This should be handled by the Undefine.h code now.

[2015-02-18 14:41] #2221 closed

[2015-02-18 14:42] hughsando commented on #3800
This has been fixed by using abstracts - are we all happy with this situation?

[2015-02-18 14:43] hughsando commented on #3540
The default constructor should initialize to 0 now.

[2015-02-18 14:43] #3540 closed

[2015-02-18 15:07] ncannasse commented on #3800
I am :)

[2015-02-18 15:07] #3800 closed

[2015-02-18 16:26] #3873 closed

[2015-02-18 17:17] delahee commented on #2221
Thanks !
Le 18 févr. 2015 15:42, "Hugh Sanderson" <notifications@github.com> a écrit
:

[2015-02-18 22:53] andyli commented on #3884
A similar example:
[code]

To me it is the `Void` checking being done wrong. `Void` is now a bit exceptional that it can't be indirectly referenced, but all other top-level types like `Int`, `String` can.

[2015-02-18 23:22] roobie opened #3886 "Implement `let` value binding"
It should act like a `var` but only bindable once, and required to do so at declaration. Similarly to OCaml `let`

[2015-02-19 04:57] hughsando commented on #3215
This is now handled with the haxe.Int64 class, which provides highly efficient Int64 processing, and also plays nice with Dynamic access.

[2015-02-19 04:57] #3215 closed

[2015-02-19 08:21] ncannasse commented on #3884
Yes we are checking the "Void" type declaration, and sadly at this step I don't think we can follow the typedefs yet

[2015-02-19 08:21] ncannasse commented on #3886
You don't say why ?

[2015-02-19 08:28] delahee opened #3887 "Proposal : Vector.copy() and friends"
Hi,

Since vector is gaining traction because its the theoretical performance weapon of choice, we should stuff the vector a class a little.

I propose we add :

Vector.copy
Vector.map
Vector.iter
Vector.sort

and ensure an inline function callback get adequetely inlined other those.

Thanks !

[2015-02-19 08:33] ncannasse commented on #3887
PR please :)

[2015-02-19 08:36] ncannasse commented on #560
@elsassph I think FD would need to support it before we add it to Haxe ?

[2015-02-19 08:45] delahee commented on #3887
cool ! i'll schedule it !

[2015-02-19 09:17] delahee commented on #3887
Pr done !

[2015-02-19 12:28] #2310 closed

[2015-02-19 14:48] ashes999 commented on #3555
I'm also getting this with Haxe 3.1.3 on Linux when trying to build the Linux version of my app.

[2015-02-19 15:05] Simn commented on #3555
That's quite unlikely because the file doesn't even exist in 3.1.3.

[2015-02-19 15:35] ashes999 commented on #3555
@Simn here's what I have in `/usr/lib/haxe/std/cpp/_std/haxe/ds/WeakMap.hx`: http://paste.ubuntu.com/10309504/

I installed Haxe 3.1.3 using the haxe.org installer.

[2015-02-19 15:39] Simn commented on #3555
1. That's a cpp file, not C# as originally reported here.
2. There is no 3.1.3 linux installer an haxe.org and the linux 32/64 binaries don't have that file.

[2015-02-19 20:02] ncannasse commented on #3192
@Simn if you can get the same warnings as we currently get errors (no less, no more) then it's good for me

[2015-02-19 20:06] ncannasse commented on #3061
@Simn the generated AST is
[code]
This is not be the case since we except a return value for all the paths

[2015-02-19 20:11] ncannasse commented on #2324
I agree with @Simn, that's not worth the change.

[2015-02-19 20:11] #2324 closed

[2015-02-19 20:12] ncannasse commented on #2793
@aduros could we deprecate js.Lib.alert for 3.2 so people get warnings ? We will remove in 3.4

[2015-02-19 20:18] ncannasse commented on #2736
Seems to be a lot better now, but we still have this issue with shift behavior.
I think that we should have `UInt >> 1` use unsigned bit shift (and we need to document that since it's a change wrt 3.2).

@Simn could you fix it and write unit tests for this so we make sure we have same behavior everywhere ?

[2015-02-19 20:19] Simn commented on #3061
I know it's not correct, I just don't know what you want here. In #3054 you told me to not report `null` as an unmatched pattern for top-level matches. I also don't think it's a good idea to introduce implicit null-values here, especially in cases like this where it would be assigned to a basic type on a static target. So what should I change this to?

[2015-02-19 20:21] ncannasse commented on #1914
This thread is quite old already, and after reading again through it I'm not satisfied with any of the solutions that came up, so I prefer to keep the status quo here.

[2015-02-19 20:21] #1914 closed

[2015-02-19 21:13] ncannasse commented on #2117
I had a look at this one in depth.
The problem comes from this line in `typing_timer` (which wraps `Interp.get_module`):

[code]

Here, we will put our context in "typing" mode, which will have the effect of flushing all pending unbuilt classes (including BaseChildChild) WHILE we are still building our BaseChild.

That's quite a general problem in our pass system which for simplicity reason does n

[2015-02-19 21:33] #2117 closed

[2015-02-19 21:38] ncannasse commented on #1622
With the following example, I can't reproduce anymore
[code]

[2015-02-19 21:38] #1622 closed

[2015-02-19 21:41] ncannasse commented on #2216
@Simn if not done already, could you lift inlining restrictions in JS with -D analyzer ? That will give us better feedback when we want to check how it behave

[2015-02-19 21:41] yar3333 commented on #2117
Thank you, Nicolas, It was important for me!

[2015-02-19 21:49] ncannasse commented on #1899
@Simn could you deprecate MacroType in 3.2 ? (and document @:genericBuild in Manual)

[2015-02-19 21:53] ncannasse commented on #2230
e01fbc4ec0870e626810ea6f83d912b80e12aebc fixed this one as well \o/

[2015-02-19 21:53] #2230 closed

[2015-02-19 21:59] Simn commented on #2216
That's done already, my example optimizes to `1` with the analyzer. It even works with enum parameter values:

[code]

Generates JS with -D analyzer and -dce full:

[code]

[2015-02-19 21:59] #2216 closed

[2015-02-19 22:08] ncannasse commented on #2263
I have added module types listing in c51a36352b37192fd32ef1c3593af1ea8f8230c2. Adding statics would require to list the static fields together with the module types in main.ml (assigning to @Simn)

[2015-02-19 22:09] ncannasse commented on #2263
@Simn we also need to add an additional contextual flag in case we are completing a type ( as var x : my.path.MyModule.|) in which case we don't want to list the statics here.

[2015-02-19 22:25] Simn commented on #2263
I would kinda like to know what the second argument is before I add a third one. :P

But yes I'll look into it.

[2015-02-19 23:33] #2315 closed

[2015-02-19 23:35] ncannasse commented on #2315
That was a really hard one actually

[2015-02-19 23:41] #2535 closed

[2015-02-19 23:48] jdonaldson commented on #2315
gracias, this will enable a simple generic interface for this sort of operation.

[2015-02-20 02:45] frabbit opened #3889 "C# type parameter related compilation error"
[code]

output:

src/Test.cs(29,14): error CS0738: `SuperX<B>' does not implement interface member `IX<object>.doIt<A>(object)' and the best implementing candidate `SuperX<B>.doIt<A>(object)' return type `haxe.ds.Option' does not match interface member return type `object'
src/Test.cs(5,4): (Location of the symbol related to previous error)
src/Test.cs(95,40): (Location of the symbol related to pr

[2015-02-20 02:54] frabbit commented on #3889
@waneck i found this bug while working on the higher kinded types branch (still got errors in c#). Travis also fails with an ocaml error, which is not directly related to this issue, but if you have any idea where this error could come from (https://travis-ci.org/Simn/haxe/jobs/51456287) let me know? java works btw.

[2015-02-20 03:51] fponticelli opened #3890 "@:jsRequire does not work with `-dce no`"
as per subject `-dce no` removes `require()` from the output.

Example `build.hxml`:

[code]

Example `Main.hx`:

[code]

[2015-02-20 05:08] T1mL3arn opened #3891 "Error C2039 with Nape and latest Haxe"
I tried to compile Nape(phys engine) to windows app and got this:
[code]
```Class: ­Ґ пў«пҐвбп з«Ґ­®¬ "hx"``` can be translated to english like ```Class: is not a member of "hx"```
I use haxe-3.1.3-dev-30d319e-win.exe (haxe-3.1.3-dev-7ea3f84 same error too).

Stable Haxe version 3.1.3 is working fine.
Also, hxcpp version is 3.1.68 in both cases.

[2015-02-20 07:41] back2dos commented on #2324
I agree with the conclusion, but I question the premise. I don't really understand why [at the place where the error is produced[(https://github.com/HaxeFoundation/haxe/blob/e01fbc4ec0870e626810ea6f83d912b80e12aebc/typeload.ml#L2471), you cannot check if the two equally named types resolve to the same type.

It would also allow avoiding useless types like this: http://api.haxe.org/haxe/macro/TExpr

[2015-02-20 07:48] nadako commented on #3890
This should be fixed by https://github.com/HaxeFoundation/haxe/commit/ac002c6f7fee6be6c03e01008b13cfce22bfc14c

[2015-02-20 07:48] #3890 closed

[2015-02-20 08:28] ncannasse commented on #2263
TypePath(["a","b"],None) --> package only (list the files in package)
TypePath(["a","b"],Some ("Type",flag)) --> module completion (list the types in module)

flag = true : we coulnd't resolve the Type using the local imports, so we will put the current package in the TypePath package and allow search in upper packages (parsed "Type" could be a.b.Type, a.Type or Type)

[2015-02-20 08:33] ncannasse commented on #3891
If you use Haxe GIT you need to use Hxcpp GIT as well

[2015-02-20 08:33] #3891 closed

[2015-02-20 08:38] ncannasse commented on #2324
In order to compare if they are the same type, you need to follow it, and you're not allowed to do so while you're building the module (which we are doing in decl_type).

We could ignore the error here and add a delay that check the structure and raise an error, but that might cause confusing errors for the user in case the types are not the same actually

[2015-02-20 09:58] Simn commented on #3877
Someone please post a _concise_ example of the toString problem.

[2015-02-20 10:00] Simn commented on #3845
I'm not sure what you want me to do here so I'll close it again.

[2015-02-20 10:00] #3845 closed

[2015-02-20 10:04] Simn commented on #3886
Let bindings are questionable in an otherwise mutable world. Also it only makes sense if the code generators utilize it to generate optimized code (e.g. reuse the same allocated memory for bindings to the same name).

I think with SSA transformation we're well equipped to optimize mutable variables. From a usability point of view you might as well declare your variable once, then reassign to it. T

[2015-02-20 10:04] #3886 closed

[2015-02-20 10:09] Simn commented on #3884
Indeed there are several places where we check for "Void" on a CTPath or similar. I acknowledge the issue but I don't think it's worth spending time on right now.

[2015-02-20 10:11] Simn commented on #3877
Or is this the same as #3875 minus the undefined part?

[2015-02-20 10:13] Simn commented on #3872
I'm considering it a side-effect in the analyzer now. I don't really care about the general `has_side_effect` check because I struggle to come up with a case where it would actually matter.

[2015-02-20 10:13] #3872 closed

[2015-02-20 10:16] nadako commented on #3859
why me? i have no idea what to do with it.

[2015-02-20 10:16] Simn commented on #3836
Assigning for decision.

[2015-02-20 10:20] Simn commented on #3799
Is this broken in 3.1.3 too?

[2015-02-20 10:25] nadako commented on #3877
[code]
generates
[code]

[2015-02-20 10:35] Simn commented on #3787
So what you're saying is this: instead of adding features to the common context we add them to the module, then just before generation we "commit" all these features to the common context. Right?

In this scenario, what if a module loses a feature while the compilation server is running? Is that reset somewhere?

[2015-02-20 11:00] Simn commented on #3787
@ncannasse: please test now.

[2015-02-20 11:31] Simn opened #3892 "Issue with abstract inline toString"
[code]

[code]

I think I know why that happens.

[2015-02-20 11:57] Simn commented on #3892
As I thought this is the usual `this` problem which also causes #2236, #3637 and #3713.

Here we first type the inline function which has KString + KBool:
`"asString: " + Std.string(this)`

After inlining we replace `this` with our outside variable `z`:
`"asString: " + Std.string(z)`

But `z` is typed as `MyBool`, not `Bool`. This causes the post-process check to call `z.toString()` again, leading

[2015-02-20 12:25] frabbit commented on #2542
any news on this one?

[2015-02-20 13:08] Simn commented on #3132
Can't figure out what the problem with catching the error is, but it's not very important because the issue itself has been resolved.

[2015-02-20 19:08] ncannasse commented on #2497
The dump is actually wrong, if you look at Object1:
[code]

Here, we create a closure but we should have _g1 be optional in the function declaration. Looks related to closure creation.

[2015-02-20 19:08] ncannasse commented on #2497
@Simn nothing flash-specific here, could you look at it ?

[2015-02-20 19:21] ncannasse commented on #3839
It's meant to exchange small messages. You can subclass it to have you own protocol

[2015-02-20 19:21] #3839 closed

[2015-02-20 19:26] ncannasse commented on #3799
@Simn most likely, and we maybe don't want to change that, because we can't differenciate a TMono that comes from an untyped var (which would need to be unified as Float) from one that would come from a TDynamic being relaxed to TMono

[2015-02-20 19:30] ncannasse commented on #3877
@nadako that's the one I propose we don't fix, because that would require to check everything for null before converting to String on non static platforms

@Simn My actual problem is the following : `Std.string( (null : Null<UInt>) ) == "NaN"`. That's because we call UInt.toString whereas we should have (v == null ? "null" : UInt.toString(v)) -- we can't except each toString method to handle the "

[2015-02-20 19:31] ncannasse commented on #3877
Just to clarify : Std.string(null) should always be null, whatever the type of "null" is :)

[2015-02-20 19:32] ncannasse commented on #3787
@Simn what do you mean by "losing a feature" exactly ? :)

[2015-02-20 19:40] ncannasse commented on #3787
I confirm that the feature is no longer disabled when using compilation server, thanks !

[2015-02-20 19:40] #3787 closed

[2015-02-20 19:41] ncannasse commented on #3787
@Simn if the module is modified, then it's discarded and rebuilt. Does that answer your question about losing features ?

[2015-02-20 19:45] ncannasse commented on #3892
When we replace the variables in inline, should we not do an unsafe cast for "this" abstract to make sure it's correctly typed as the underlying type ?

[2015-02-20 19:47] ncannasse commented on #2542
Looking into it now

[2015-02-20 20:05] Simn commented on #3892
That doesn't work when the this-variable is assigned to because `(cast this) = y` doesn't make any sense.

[2015-02-20 20:35] Simn commented on #2497
I'm pretty sure we'll run into #3826 trying to fix this.

[2015-02-20 20:36] ncannasse commented on #2542
Uhm, I wanted to print the AST with:
[code]

But it complains at runtime about
[code]

Which is indeed interesting :)

[2015-02-20 20:40] Simn commented on #2542
That can happen when you cause a `Not_found` to be raised.

[2015-02-20 20:52] #2497 closed

[2015-02-20 20:53] ncannasse commented on #2542
@Simn that indeed means we have Not_found coming from somewhere else. Maybe we could toggle off this catch to see where it comes from ?

[2015-02-20 20:54] Simn commented on #2497
I'm wrong, that would only be the case if we called the closure with `null` and expected it to return `"null"` instead of a default argument.

[2015-02-20 20:56] Simn commented on #2542
Yes, just comment out the `with Not_found` in typer.ml that have "is not part of enum" in their body. There are 3 of them.

[2015-02-20 20:56] #2542 closed

[2015-02-20 20:58] #3132 closed

[2015-02-20 21:08] ncannasse commented on #2504
That's too much flash specific to be addressed atm

[2015-02-20 21:08] #2504 closed

[2015-02-20 21:09] ncannasse commented on #2538
Same as #3061

[2015-02-20 21:09] Simn commented on #3799
Yes but I don't think there should be monomorphs here in the first place. This only happens because we do not bind `Dynamic` to them. Surely an array access on `Array<Dynamic>` should always yield `Dynamic`.

[2015-02-20 21:10] ncannasse commented on #2538
Actually not (re-reading my comment).

[2015-02-20 21:13] ncannasse commented on #2538
@Simn what do you think if we forbid unification of Void with TMono in the case it's the return type of a TFun ?

[2015-02-20 21:17] #3799 closed

[2015-02-20 21:24] ncannasse commented on #3061
Let's look at it:

[code]

So I guess the problem is the optimization that comes with single case matching. Maybe in that case we should throw an error if null in order to keep the same behavior as unoptimized switch

[2015-02-20 21:28] Simn commented on #3061
I'm getting the same error if in the original issue I add another constructor + case.

[2015-02-20 21:29] ncannasse commented on #3061
Uhm, why ? you should only check for  != null if you have an else with a case null expression

[2015-02-20 21:58] Simn commented on #3061
That's actually a very good question...!

[2015-02-20 22:11] #2566 closed

[2015-02-20 22:18] #3061 closed

[2015-02-20 22:46] #2808 closed

[2015-02-20 23:23] #3376 closed

[2015-02-20 23:57] Simn commented on #3877
Let's do this after 3.2. I'm concerned about complex expressions which may require creating a block with a temp var.

[2015-02-21 00:02] Simn commented on #3875
This is the same as #3877.

[2015-02-21 00:02] #3875 closed

[2015-02-21 00:09] #3880 closed

[2015-02-21 00:09] Simn commented on #3819
Using the var ids works nicely. There are some problems with the optimization tests though which compare the output with assumptions on the temp var naming.

[2015-02-21 08:06] #3227 closed

[2015-02-21 08:29] Simn commented on #3097
Int64 is an abstract now so this is not working by (retroactive) design.

[2015-02-21 08:29] #3097 closed

[2015-02-21 08:32] Simn commented on #3653
Looks like this works now.

[2015-02-21 08:32] #3653 closed

[2015-02-21 08:33] #2665 closed

[2015-02-21 08:40] Simn opened #3894 "Nullability of haxe.Int64"
Our new Int64 is non-nullable on at least Java/C# because its underlying type there is not nullable. I think we should make it non-nullable on all targets.

Any opinions?

[2015-02-21 08:41] Simn commented on #3400
The test is no longer valid as-is because we cannot assign `null` to haxe.Int64 on Java. Do you have an example of this failing without `null`?

[2015-02-21 08:42] Simn commented on #3096
This can (and should) be addressed now.

[2015-02-21 09:39] ncannasse commented on #3894
on all -statics- targets right ? I think that's the case in C++ since it's a struct. @hughsando does the struct gets initialized to 0 by default ? We might have a problem with Flash because we need to create an instance...

[2015-02-21 09:42] Simn commented on #3894
Right, and I think Flash is the only issue.

[2015-02-21 09:42] ncannasse commented on #3096
Reflection on abstracts is problematic.

We could add a new TInt64 result, but are we sure we can correctly deduce it on all platforms ? (no false positive, and no missed value) + this will require additional things in (Un)Serializer

[2015-02-21 09:47] ncannasse commented on #3894
Different ways to fix it:

a) handle the null case in Int64 abstract API (flash only), considering it as 0
b) make sure member variables and uninitialized locals get set to Int64.zero static : could be done either in genswf9 or directly in our typer (analyser might optimize things out there)

[2015-02-21 09:49] Simn commented on #3894
Couldn't we just add `#if flash @:notNull #end` to Int64 and make sure that's respected for non-core-type abstracts too?

[2015-02-21 11:09] Simn opened #3896 "Extended test run before release"
I would like to run the unit tests with various combinations of compiler flags before we make a release. I'm thinking about:

* -dce full, -dce std, -dce no
* --no-inline
* --no-opt
* -D analyzer

This might require modifying some parts of the unit tests which currently assume the default settings. With these we have 3 * 2 * 2 * 2 = 16 permutations which should be doable.

The question is how to r

[2015-02-21 11:12] Simn commented on #3096
I think the main point here is that Int64 can't be distinguished from Int and Float on these targets.

[2015-02-21 11:18] #2236 closed

[2015-02-21 11:18] #3713 closed

[2015-02-21 11:19] #3637 closed

[2015-02-21 11:19] #3892 closed

[2015-02-21 12:28] Simn commented on #3894
By the way @hughsando is the `static` flag available now or is hxcpp still using it?

[2015-02-21 12:51] #3894 closed

[2015-02-21 13:02] mockey opened #3897 "SPOD problem"
I have a rather old web app here targetting neko using SPOD. I just saw that it doesn't compile anymore. With current Haxe dev version, I get a stack overflow in String.hx, caused by some loop in RecordMacros.hx apparently. The last time I got it compiled was in March 2014, so I simply grabbed the RecordMacros.hx from before this commit:  cbd46ec353dc5091b77562d59fdf0ecfdadd0aba. This compiles fin

[2015-02-21 13:07] Simn commented on #3033
I could reduce it to this:

[code]

Dump:

[code]

As you can see the return type of dynamicReturnType is inferred as guessReturnType.T which is not correct. The type also appears in multiple places in its expression.

@ncannasse: Any idea?

[2015-02-21 13:51] Simn commented on #2263
I have implemented it but didn't add any tests yet because that always takes me forever. Assigning to @nadako for that.

[2015-02-21 13:53] Simn opened #3898 "StringMap issues on PHP"
[code]

Both are indexOf checks on arrays so this might be something unrelated to StringMap itself. I don't think this is a regression.

[2015-02-21 14:06] mockey commented on #3897
Uhm, the problem seems to be:
`var relatedInf = getRecordInfos(makeRecord(resolveType(r.type)));`
getting called inside `getRecordInfos` here:
https://github.com/HaxeFoundation/haxe/blob/development/std/sys/db/RecordMacros.hx#L365
producing an (infinite?) loop with a resulting stack overflow. At least in my app here with 17 relations.
I'll try to investigate further...

[2015-02-21 14:22] Simn commented on #3898
Yay PHP...

[code]

The lookup for "a" works as intended but for "0" it returns -1.

[2015-02-21 14:23] nadako commented on #2263
i've added some tests, but it seems that type completion also lists statics (see `type-completion.hxml.disabled`).

[2015-02-21 14:24] Simn commented on #2263
Haha, I went through all that trouble to add a flag and then forgot to actually check it.

[2015-02-21 14:27] #2846 closed

[2015-02-21 14:31] nadako commented on #2263
how about importing a static from a module subtype? :)

[2015-02-21 14:32] nadako commented on #2263
i.e.
A.hx
[code]

Main.hx
[code]

[2015-02-21 15:25] Simn commented on #2263
Try now!

[2015-02-21 15:26] mockey commented on #3897
I don't quite understand what is done there, checking the types of the related keys it seems. As a quick fix I simply added a flag to `getRecordInfos` and check it before the relations loop and run:
`var relatedInf = getRecordInfos(makeRecord(resolveType(r.type)), false);`
inside the loop so that relation types won't check their relations and so on. This compiles for me at least. Not sure if this

[2015-02-21 15:33] Simn commented on #2736
But `>>` leads to a negative result on Flash in the original example. If we use `>>>` and stick to UInt we will not have the same behavior on other targets. So I don't quite understand what you want me to fix here.

[2015-02-21 15:57] mockey commented on #3898
It'a problem with the StringMap implementation. A key like "1" is auto-casted to 1 (int) in PHP.  Other types (float, bool) as well BTW:
http://php.net/manual/en/language.types.array.php
You need two arrays here (keys and values), like in ObjectMap.

[2015-02-21 15:58] Simn commented on #3898
You wouldn't be interested in sending a pull request by any chance? :)

[2015-02-21 16:32] #3262 closed

[2015-02-21 16:35] mockey commented on #3898
I'll try later. Have to do some shopping now.

[2015-02-21 16:53] #2793 closed

[2015-02-21 19:34] ncannasse commented on #3033
Interesting... on one hand, we want to enforce the constraint, but we don't want to leak the type parameter... Maybe after we finish typing a function, we could check that there's no "foreign" type parameter in its parameters or return type.

[2015-02-21 19:38] ncannasse commented on #3897
@mockey could you post a small reproducible sample ?
@waneck could you look at it for 3.2 ?

[2015-02-21 19:40] ncannasse commented on #2736
@Simn I was proposing to use `>>>` on all targets of course, so it's always signed.
In C there is only `>>`, the operation depends if the type is signed or not.

[2015-02-21 19:45] Herschel commented on #2736
Since Haxe has both >> and >>> operators, I think that the signedness of the shift should depend on the operator used, not on the operand type. This puts it in line with other languages with both >> and >>>.

[2015-02-21 19:51] mockey commented on #3897
A bit difficult. It needs a running database and all, doesn't it? Do you have some test setup for SPOD?

[2015-02-21 20:03] ncannasse commented on #2736
@Herschel yes I actually started thinking about it just after posting my comment. Maybe we should stick to `>>` returning an Int and `>>>` keeping the type intact. @Simn would that work for you ?

[2015-02-21 20:03] ncannasse commented on #3897
@mockey just a standalone SPOD class that reproduces the issue will be enough

[2015-02-21 20:14] waneck commented on #3897
@mockey I've just pushed a possible fix to it. Can you see if it works now?

[2015-02-21 21:01] Herschel commented on #2736
Looks like cs target is different here as well, UInt >> n results in an unsigned shift (above example returns 1250000000).

[2015-02-21 21:08] mockey commented on #3897
@waneck Yes, works fine. I thought it might have something to do with caching but didn't know where to put the set call.

[2015-02-21 22:20] nadako commented on #2263
note that original tests are broken (the main module type is not listed now)

[2015-02-21 22:22] Simn commented on #2263
I removed that on purpose because I don't see the point of completing C on pack.C.|

[2015-02-21 22:23] nadako commented on #2263
I'm not sure. What if one wants to import just that type and not the whole module.

[2015-02-21 22:24] Simn commented on #2263
Does that actually work?

[2015-02-21 22:34] nadako commented on #2263
I think so:
[code]

[2015-02-21 22:35] Simn commented on #2263
I see, I didn't know that was a thing.

[2015-02-21 22:37] nadako commented on #2263
I think everything is okay now.

[2015-02-21 22:37] #2263 closed

[2015-02-21 22:58] elsassph commented on #560
@ncannasse there are probably other editors not really expecting overloads - should it be conditioned with a define? or we could quickly push an update preventing duplicates to show up.

[2015-02-22 01:40] hughsando commented on #3894
I changed the hxcpp version to "static_link" a while ago.

On Sat, Feb 21, 2015 at 8:51 PM, Simon Krajewski <notifications@github.com>
wrote:

[2015-02-22 05:31] waneck commented on #3897
Great, then!

[2015-02-22 05:31] #3897 closed

[2015-02-22 09:04] Simn commented on #3033
And then what?

[2015-02-22 09:45] #3094 closed

[2015-02-22 09:45] #3101 closed

[2015-02-22 09:58] Simn commented on #3156
I still don't know what to do with this. What's particularly puzzling is that the duplicates appear only in `__properties__` and not actually in the class fields themselves which should be the case if `cl_ordered_fields` had duplicate entries.

Another problem is that we can't even be sure if the issue still persists on current Haxe because it originally occurred in 3.1.3. Unless someone goes ahea

[2015-02-22 10:09] ncannasse commented on #2736
@Herschel ah now that's annoying, because that means we have on some platforms a different behavior on what people are used to...

[2015-02-22 10:09] ncannasse commented on #2736
Maybe taking the C side is better then. @waneck what about Java, and what's your take on this ?

[2015-02-22 10:10] Simn commented on #2736
The question is always if that's a problem with C# or with gencs.

[2015-02-22 11:03] Simn commented on #3524
I have implemented this but I didn't think about it thoroughly enough and I also find it too newfeaturesque for 3.2. Feel free to activate it if you think it's safe, otherwise I'll get back to it after 3.2.

[2015-02-22 11:08] Simn commented on #3052
#3877

[2015-02-22 11:08] #3052 closed

[2015-02-22 11:11] Simn commented on #3030
I will probably not look into this for 3.2. unless some PHP expert wants to chime in (ping @mockey, @tml).

[2015-02-22 12:33] Simn opened #3902 "Loop variable capturing duplicates declarations"
[code]

This is the Js dump:

[code]

Note how variable `k(483)` is declared twice:

1. `[Var k(483):Array<Int>] [ArrayDecl:Array<Int>] [Const 0:Int]`
2. `[Arg:Array<Int>] [Local k(483):Array<Int>]`

Variable identity is important for the analyzer so I don't think _any_ variable should ever be declared more than once. I don't think it currently causes any real issues, but that's only because the a

[2015-02-22 13:47] Simn commented on #3499
@ncannasse: Do you have an opinion on this? The problem is that you currently cannot assign a dynamic array to `EitherType<Something, Array<Dynamic>>`. It's not clear to me if top-down inference should explore the `from` relations of the expected abstract type.

[2015-02-22 13:56] #3437 closed

[2015-02-22 13:57] Simn commented on #3437
This didn't actually reopen #2933 because unification deals with this kind of variance now.

[2015-02-22 13:58] Simn commented on #3266
This is a very specific fix and I don't have a graceful fix, so I'm pushing this to 3.3.

[2015-02-22 14:09] #3204 closed

[2015-02-22 14:44] Simn commented on #3732
We can't do that yet, there are way too many issues with it.

So I guess I'll have to bite the bullet and fix `promote_complex_rhs`.

[2015-02-22 14:45] Atry commented on #3262
This API is still unable to create two **modules**(not type) that reference each other.

[2015-02-22 14:52] #3732 closed

[2015-02-22 14:57] Atry commented on #3463
https://github.com/HaxeFoundation/haxe/issues/3884

[2015-02-22 15:02] #3782 closed

[2015-02-22 15:03] mockey commented on #3030
For a static function `somefunc` the call must be `$s::$somefunc`.
`$fn = (isset($s::$somefunc) ? $s::$somefunc: array($s, "somefunc"));`
But I don't know where this is generated and I don't know if this array-access is correct...

[2015-02-22 15:14] Simn commented on #3030
It's generated in this general area: https://github.com/HaxeFoundation/haxe/blob/development/genphp.ml#L956

[2015-02-22 15:19] mockey commented on #3030
Ah, I think I understand now. `array($s, "somefunc")` is apparently the fallback for a static function. Hm, that's pretty awful, actually.
Anyway, it seems that `_hx_qtype("_Main.Something");` is the problem then. It returns `"_Main.Something"` and it should be `"_Main_Something"`.

[2015-02-22 15:56] mockey commented on #3030
Where does that `hx_qtype` come from? Is that used somewhere else? I thought it returns a string but it's actually some kind of class construct.

[2015-02-22 15:59] Simn commented on #3030
There's a bunch of PHP defines in php/Boot.hx: https://github.com/HaxeFoundation/haxe/blob/development/std/php/Boot.hx#L540

[2015-02-22 16:06] tml commented on #3030
Actually, iiuc the flow correctly, the `_hx_qtype` call is returning the wrapped class, whose `__call` method returns a ReflectionClass insstance instead of a callable. I'm digging into Boot.hx to wrap my head around what the right thing is here.

[2015-02-22 16:10] aduros opened #3903 "Enable js-flatten by default"
Are there any remaining issues with js-flatten? Is there any reason we wouldn't want it to be on by default in 3.2?

cc @nadako @andyli

[2015-02-22 16:14] mockey commented on #3030
Yeah, this is beyond me.
`isset($s->somefunc)` is actually true for a static function (!), but that seems to be normal (I tried with `haxe.Log.trace`), then `$s->somefunc` is called and that `__call -> __dynamics -> ReflectionClass` magic goes loose (but fails).

[2015-02-22 16:29] nadako commented on #3903
I always add `js-es5` and `js-flatten` for production code (tho i'm only targeting node.js).

[2015-02-22 16:34] Simn commented on #3903
I think we should change this before someone gets the idea to `__js__` modify some package variable or something.

[2015-02-22 16:47] nadako commented on #3903
I think had enough issues regarding `@:native` and `js-flatten` fixed, so I believe they have tests that will run on saucelabs.

[2015-02-22 17:03] waneck commented on #2736
On C# there is no unsigned shift operator; rather, >>> casts the left side
to UInt to be able to make it be unsigned.
So yeah, it's how C# deals with shifts. I'm not sure if it even makes sense
to have a signed operator to work on an unsigned type. It would make sense
for me that we simply forbid >> on UInt

[2015-02-22 17:26] #3898 closed

[2015-02-22 17:41] Simn commented on #3644
done?

[2015-02-22 17:43] Simn commented on #3604
ping @frabbit

[2015-02-22 17:46] Simn commented on #3468
done?

[2015-02-22 17:47] Simn commented on #3453
Is this still (not) an issue?

[2015-02-22 17:47] Simn commented on #3445
@frabbit: We should check this one for 3.2.

[2015-02-22 17:54] Simn commented on #3296
I added a regression label because I see "anymore" in the title. Make sure to check before 3.2.

[2015-02-22 17:56] Simn commented on #3130
Is this still an issue?

[2015-02-22 18:06] Simn commented on #3601
I'll move both Rest and EitherType to an extern package. Perhaps we can even enforce that they only appear in extern classes.

[2015-02-22 18:32] aduros commented on #3644
Fixed in new externs.

[2015-02-22 18:32] #3644 closed

[2015-02-22 18:32] aduros commented on #3468
Fixed in new externs.

[2015-02-22 18:32] #3468 closed

[2015-02-22 18:33] aduros commented on #2867
Fixed in new externs.

[2015-02-22 18:33] #2867 closed

[2015-02-22 18:33] aduros commented on #2593
Fixed in new externs.

[2015-02-22 18:33] #2593 closed

[2015-02-22 18:34] aduros commented on #2516
Fixed in new externs.

[2015-02-22 18:34] #2516 closed

[2015-02-22 19:33] nadako commented on #3604
could you please look into it? i'm quite rusty with python nowadays.

[2015-02-22 19:37] mockey commented on #3030
I might have a fix for that now in php.Boot.hx. Not sure if this breaks something but unit-tests seem to run OK. PR?

[2015-02-22 19:39] Simn commented on #3030
Sure!

[2015-02-22 19:50] ncannasse commented on #2736
@waneck given how it's hard to decice on a given behavior, forbidding is maybe the best solution indeed.

[2015-02-22 19:51] tml commented on #3030
Right, that's because of [this block](https://github.com/HaxeFoundation/haxe/blob/development/std/php/Boot.hx#L805-L808) in `_hx_type`.

[2015-02-22 19:52] mockey commented on #3030
Done. BTW: This travis-condition for the SPOD tests is still there in Test.hx. I hve chnged it locally for now.

[2015-02-22 20:01] mockey commented on #3030
@tml:
Yes, I think I understand now a bit better what's going on there. Lots of magic functions. A bit difficult to understand when you read the PHP-code. Did you see my fix? `__get` returned an `array($r, $n)`, `$r` being the `ReflectionClass`, now it's `array($r->name, $n)`, class name and function name. I guess this was meant to be passed to `call_user_func`. Makes sense?

[2015-02-22 20:04] ncannasse commented on #3678
Ah, right forgot it was set in the function name. Let's do as you first suggested then

[2015-02-22 20:08] ousado commented on #2736
Following the principle of least surprise I'd (also?) vote for making >> an unsigned shift. Forbidding it would only force people to change >> into >>> in some places to make things compile, for no good reason. If there was a good use-case for >> being signed, that'd be different, but I highly doubt that anyone using UInt in the first place would want to perform signed shifts on it, and that an op

[2015-02-22 20:14] ncannasse commented on #3611
Seems like the way we implemented file_eof in Interp is different than in Neko. Looking again at the `feof` documentation, it seems that it only returns true if we tried to read past the file end, not if we *just* reached it, which makes it actually quite useless imho.

[2015-02-22 20:16] ncannasse commented on #3611
Maybe removing .eof() entirely would be better. @Simn let's deprecate it for 3.2

[2015-02-22 20:28] #3610 closed

[2015-02-22 20:49] Simn opened #3905 "Int types for 3.2 release"
There are two things that bother me and that I would like to address for 3.2.:

1. UInt is useless if it doesn't have a fixed size. We should deprecate-typedef it to UInt32 to get the intended semantics straight.
2. Having Int32 and Int64 in the haxe package but UInt at top-level is bad.

I have some plans to approach this properly for Haxe 4 but I think we can start right now because we are makin

[2015-02-22 20:51] ncannasse commented on #3566
I wanted to check for macro_depth, but I actually couldn't find a small reproducible example, could you provide one ?

[2015-02-22 20:53] ncannasse commented on #3566
Nervermind I could reproduce

[2015-02-22 21:00] Herschel commented on #3905
+1. Unsigned doesn't make sense without a size. UInt should become UInt32, implemented using Int32 on platforms that don't have unsigned types. This also encourages people to use Int unless they have a good reason otherwise.

All of the numeric types should be in the same package, but I think It's a little scary to move it for 3.2. It might be better for next release. For example, cpp already has

[2015-02-22 21:10] #3566 closed

[2015-02-22 21:10] ncannasse commented on #3566
That should have fixed it, please confirm. I also got rid of "Defined in this class" when we know which macro produces the invalid expression

[2015-02-22 21:25] ncannasse commented on #3603
@andyli could you try to make extensive unit tests for this that would cover all the platforms quirks ? I'ld be glad to fix that once and for all once we have the tests in place

[2015-02-22 21:27] ncannasse commented on #3903
Accepted :)

[2015-02-22 21:27] andyli commented on #3603
I will look into it next week.

[2015-02-22 21:27] ncannasse commented on #3903
@Simn please add -js-unflatten (or something else) to disable it explicitely

[2015-02-22 21:30] andyli commented on #3903
FYI, we have been testing `-D js-flatten` on node.js (See https://github.com/HaxeFoundation/haxe/blob/development/tests/RunCi.hx#L518-L521).

[2015-02-22 21:31] Simn commented on #3903
@aduros: Do you want to take care of it?

[2015-02-22 21:32] ncannasse commented on #2736
It was not supposed to be closed, and each new message on this thread makes me change my opinion. I'll sleep on it and look at it again this week with fresh mind

[2015-02-22 21:34] ncannasse commented on #3905
Let's move UInt to haxe.UInt32 and add a typedef UInt = haxe.UInt32 that will be deprecated in Haxe4

[2015-02-22 21:34] Simn commented on #2736
I'm leaning towards making >> "return" Int. That way it's completely user's choice.

[2015-02-22 21:34] Simn commented on #2736
... but I change my opinion about this on a regular basis as well.

[2015-02-22 21:35] ncannasse commented on #3905
We should also do something about "Single" (32 bit float) at some point, but let's leave that for 3.3+

[2015-02-22 21:36] Simn commented on #3905
That works for me.

Reminder to self: We have to check the compiler for path matches against `([],"UInt")`.

[2015-02-22 21:36] ncannasse commented on #2736
As long as we don't agree then everything is normal :-)

[2015-02-22 21:39] aduros commented on #3903
Can do.

[2015-02-22 21:40] ncannasse commented on #560
@elsassph given that overloads are mainly here in JS, I don't think we should use another conditional (we already have `display-details` for that, do you use it in FD ?)

[2015-02-22 21:45] ncannasse commented on #3897
@waneck  you might want to make sure that this does not cause issues with compilation server (with macro context cache)

@delahee CC

[2015-02-22 21:46] ncannasse commented on #3033
Then I have no idea... Do you think this apply only to function type parameters on can we create an exemple with class type parameters as well ?

[2015-02-22 21:48] ncannasse commented on #3101
Reminds me I should never have accepted quoted fields in the first place...

[2015-02-22 21:49] ncannasse commented on #3156
Yes, I fail to see how this can be reproduced, spent some time on it already last time.

[2015-02-22 21:54] Simn commented on #3101
Well they are quite useful for working with externs. Only thing is that I don't share your enthusiasm for encoding state in strings. ;)

[2015-02-22 21:57] nadako commented on #560
BTW, can we remove `display-details`? I think FD fixed the reason for its introduction long time ago, and we are yet to release new haxe.

[2015-02-22 22:02] ncannasse commented on #3524
@Simn we have that already in reduce_loop, don't we ?

[2015-02-22 22:05] ncannasse commented on #3524
I was triggered before we moved inline to local vars maybe ? Maybe we shouldn't do that for TFunction, and that would take us back to original optimized behavior

[2015-02-22 22:05] ncannasse commented on #3524
PS : I also want that we add an unit test for that, it's a huge regression speed-wise

[2015-02-22 22:07] ncannasse commented on #3902
That part of the code might be from pre-v_id era

[2015-02-22 22:08] nadako commented on #1138
Can we at least get `--macro addGlobalUsing(...)` sometime soon? I feel need for it quite often.

[2015-02-22 22:09] ncannasse commented on #3508
All is good for CDB, I didn't check again for CPP but I think we did the job.

[2015-02-22 22:09] #3508 closed

[2015-02-22 22:11] Simn commented on #3524
You keep mentioning TFunction but here we only have a TField which is not safe to inline in the general case. Though I think it can actually be inlined if it's a Method (not MethDynamic).

I didn't know that this was working at some point and that there was this code in `replace_loop`. In that case I agree we should look into it for 3.2.

[2015-02-22 22:12] ncannasse commented on #3499
@Simn the problem with such exploration is that could lead to several possible conversions with different side effects, leading to painful error message (because we don't want to choose one of them).  Well, if it's only "from" and not "@:from" methods, it's ok since there's no side effect.

[2015-02-22 22:14] Simn commented on #3499
It can still be ambiguous because there could be multiple `from Array<X>`.

[2015-02-22 22:14] elsassph commented on #560
Well having multiple entries in the completion list isn't the end of the world anyway.

[2015-02-22 22:14] ncannasse commented on #3262
@Atry you can still define one module and then another which typedef the other, that would lead to the same types being available to the end-user

[2015-02-22 22:18] ncannasse commented on #1138
@nadako no for the same reason : this would affect the scope of your libraries as well. All the global switches that changes the code behavior in uncontrolled ways should be prohibited

[2015-02-22 22:18] ncannasse commented on #1138
But let's put it on 3.3 milestone for now

[2015-02-22 22:20] ncannasse commented on #3524
Ah, right, only the first was supported before, but it seems on JS this was disabling inlining, so I had to rely on the second behavior. If possible I would like to get both to work well for 3.2

[2015-02-22 22:22] ncannasse commented on #560
@nadako don't expect everyone to have up-to-date IDE, and other IDE implementations not to have similar issues

[2015-02-22 22:24] ncannasse commented on #560
@elsassph when you have 10 of them for every method, it quickly gets hard to read ;)  (Yes JQuery, I'm looking at you)

[2015-02-22 22:27] nadako opened #3906 "Context.getTypedExpr and inlined/macro call expressions"
Consider the following example:
[code]
Because of `e` being inlined while typing, we get the `__js__` ECall with which we can't really return from a macro (because we'll be getting the unbound var error).

While the reason for this is quite clear, it really limits the use of `getTypedExpr`, especially in static extensions and abstract methods.

For `switch` expressions, we store original untyped A

[2015-02-22 22:33] nadako commented on #560
I really don't think that we should care too much about people using regex to parse xml. FD is an exception, because it's the most popular haxe IDE, but I believe there was a lot of releases since that fix and it's not worth keeping that compatibility define in the compiler code. @elsassph any opinion?

[2015-02-22 22:34] ncannasse commented on #3906
If the expression is already typed, why not put a EUntyped before returning it ? what you're proposing seems overkill

[2015-02-22 22:35] ncannasse commented on #3906
@nadako or we could find a way to return a typed expression directly, but that's another story

[2015-02-22 22:37] Simn commented on #3906
... I was about to suggest the same thing. It shouldn't be too hard to do with some registry and an identifying EMeta.

I would like to deprecate getTypedExpr at some point because it's gonna get worse and worse the better we get about AST transformations.

[2015-02-22 22:38] nadako commented on #3906
The problem with returning `untyped` is that it completely disables analyzer for the function where the macro is used which is not really on an option :(

[2015-02-22 22:39] nadako commented on #3906
(maybe we could add some meta for the analyzer to ignore the untyped flag, i don't know)

[2015-02-22 22:40] Simn commented on #3906
Regardless of what we do here we should communicate the untyped state to the typed AST. We can try for a TMeta-based approach but I'm still worried about all the patterns that might fail to match with it.

[2015-02-22 22:42] andyli commented on #3906
Related issue: #3739
I think having "a way to return a typed expression directly" as suggested by @ncannasse is the most promising solution to all these problems.

[2015-02-22 22:45] ncannasse commented on #560
@nadako let's wait two more years and it's ok

[2015-02-22 22:57] elsassph commented on #560
The problem with overloads can be solved quickly (at least to avoid duplicates).

For the XML parsing bug I don't remember when it was fixed but I guess it's ok to say Haxe 3.2 requires FD 4.something+

[2015-02-22 22:59] nadako commented on #3906
Yeah, @Simn just gave me an idea how to implement this and I'm trying it right now.

[2015-02-22 23:04] waneck commented on #3897
I'm not sure what the compilation server would have to do with this
problem. The problem was with circular dependencies on SPOD. I think that
even with the compilation server, the globals variable would get restartes
each compilation, so there would be no problem with that

[2015-02-22 23:52] zaxebo1 commented on #3445
this may be made a "unit test", so that all current and future targets do this check

[2015-02-23 02:02] nadako opened #3907 "field name completion for structures"
I just got an idea for new completion type that could be VERY useful in some cases, like when a function expects an options structure, like this:
[code]
This could complete `a` and `b`.

I believe many JS libs use options objects for function arguments (also I saw this pattern in Luxe library) so completing structure fields here would be great help.

One issue I could see right now is that curly b

[2015-02-23 02:46] back2dos opened #3908 "JS generator handles obj[""] badly"
There seems to be something in the JS generator that allows for `object["constant"]` to become `object.constant`. Unfortunately `object[""]` becomes `object.` thus causing a syntax error. Example code:

[code]

In general, adding `['' => ''].keys().next() == '';` to `Map.unit.hx` might not be a bad idea.

[2015-02-23 06:42] tml commented on #3030
Yeah, I saw your fix and it does make sense here, I'm just worried about what else it might affect. The other option I thought of was to add 'is_callable' into the conditional in genphp.ml, but that level of ML is beyond me at the moment, and I'm not entirely convinced it's provably a better solution.

[2015-02-23 08:21] ncannasse commented on #3897
@waneck I meant, that you added a cache of the schemas (in static var maybe ?) and the cache will not be reset between compilations

[2015-02-23 08:33] Simn commented on #3907
Looks doable.

[2015-02-23 08:35] Simn commented on #3908
That probably means that `valid_js_ident` returns true for empty strings.

[2015-02-23 09:16] mockey commented on #3030
@tml:
I thought maybe that returned array was meant to be like this. I can't really think of a situation where passing `array(ReflectionClass, $function_name)` makes sense. But you never know...

[2015-02-23 09:29] Simn commented on #3908
What do you know, that test actually fails on flash, java and C#.

[2015-02-23 09:32] Simn commented on #3908
@smerkyg: This could be a StringMap regression.

[2015-02-23 10:26] back2dos commented on #3908
Oh, wow. There's nothing like a useless edge case.

[2015-02-23 11:31] waneck commented on #3897
The cache was already there, and it was you who added it ;)

[2015-02-23 16:20] ProG4mr commented on #3266
Okay, thanks, by the way this issue gives me a little more trouble:

https://github.com/HaxeFoundation/haxe/issues/3691

It has been closed but i tested it with haxe 3.2 dev branch and the problem remains, maybe reopen it until someone can fix it? Thanks a lot, i can also create a small test project for it.

[2015-02-23 17:54] waneck commented on #3691
@ProG4mr I've added a test, but I can't reproduce your error. Please provide us with a sample code that fails and we'll reopen the issue.
Thanks!

[2015-02-23 19:31] Simn opened #3910 "Native XML class stuff"
Before I forget about it, Nicolas wanted to still have access to the previous native XML classes so I'll have to restore them along with their special handling in the compiler. Argh.

[2015-02-23 19:55] Simn commented on #3698
Python has this issue too. As3 prints `null` for some reason.

I'm a bit reluctant to fix this because I actually like this behavior. :(

[2015-02-23 19:57] Herschel commented on #2736
We had a discussion on IRC, here's the consensus:

The semantics of the shift operators are based on the operand type. >> maintains the sign of the value, >>> zero-shifts. Since UInt values have no sign, >> and >>> are the same for UInt, both zero-shift.

Int -> Int -> Int
UInt -> Int -> UInt

Int -> Int -> Int
UInt -> Int -> UInt

We briefly discussed disallowing >>> for UInt, but decided to have

[2015-02-23 20:05] ProG4mr commented on #3691
Hey, thanks @waneck , i was able to create a small gist for this problem, I am not sure tho if this is caused by Ufront-orm or haxe spod.

https://gist.github.com/ProG4mr/6586f47ee9e72e073b60

I should also post this also in ufront-orm repository if its caused by it.

[2015-02-23 20:09] ncannasse commented on #3698
I think it's ok to leave it like this, with no guarantee that it will work

[2015-02-23 20:18] waneck commented on #3691
Please can you provide a code that doesn't have any dependencies? This could be indeed something to do with ufront-orm. Also your example uses `testId` which isn't declared anywhere.

[2015-02-23 20:20] ncannasse commented on #2736
I seriously thought about it as well, but came to a different conclusion :)
First, regarding the types: I agree that the type should be conserved with bitshifting operations, so as you said both `>>` and `>>>` should return UInt when applied to an UInt.

But I think that we should also get the same result. For instance

`(0xFFFFFFFF >>> 1 = 0x7FFFFFFF) = 2147483647` for both Int and UInt
and
`(0xF

[2015-02-23 20:27] ncannasse commented on #3897
So I have hopefully already did some Context.onMacroContextReused setup ;)

[2015-02-23 20:36] Simn commented on #2736
We have updated our consensus in the sense that nobody cares enough to disagree with your opinion. So let's go ahead with that!

[2015-02-23 20:45] waneck commented on #2736
Nicolas, I think that this is the worst behaviour we can have. On many languages - that don't have the >>> operator -, what determines if it's a signed or unsigned shift is their type (e.g. C, C++, C#...). Porting code from these languages into Haxe would be very cumbersome if we make the behaviour you're suggesting.

My own personal view - in light of porting code and the confusion it brings - is

[2015-02-23 21:22] ProG4mr commented on #3691
Yes, i could only isolate it using ufront-orm, it has some macro construction behind it where at some point it creates queries using ```$model.manager.unsafeObjects('SELECT * FROM ' + table + ' WHERE '+$v{relationKey}+' = '+quotedID, null);``` etc..  I'm opening an issue there since i couldn't find a way to reproduce the error on std sys.db.Object/Manager.

Thanks a lot.

[2015-02-23 22:41] nadako opened #3911 "[display] weird completion behaviour"
it's quite hard to reduce because I'm getting these when using Luxe (snow/flow/luxe haxelibs from latest git), so I'll just list the weirdness I find here and update the issue if I manage to reduce anything

[2015-02-23 22:42] nadako commented on #3911
This WORKS
[code]
[code]

however if we add a closing paren, it stops working:

[code]
[code]

[2015-02-23 22:47] nadako commented on #3911
this WORKS:
[code]
[code]

but adding a closing paren gives us this beauty:
[code]
[code]

[2015-02-23 22:48] nadako commented on #3911
@Simn i think in the end you'll be one fixing these :-P

[2015-02-23 22:49] Simn commented on #3911
Sure, once you bring me something that breaks without using luxe. :)

As I said the typing order issue error should be ignored in display mode. What happens if you do that?

[2015-02-23 22:50] ousado commented on #2736
We have to be careful:
- On an unsigned integer, there simply is no sign bit we can carry.
- On an unsigned integer, to perform an arithmetic right-shift, you *do* a logical one.

- What are "signed" / arithmetic right-shifts useful for? For quickly dividing by powers of 2, for instance:

signed arithmetic right-shift:
10000000000000000000000000000000 >> 1 = 11000000000000000000000000000000
(-2147

[2015-02-23 23:01] nadako commented on #3911
i'll try, but isn't there also something wrong with parser, considering that it gives different results depending on presence of the closing paren?

[2015-02-23 23:01] waneck commented on #2736
Well, I have to say, after what @ousado said, I'm convinced.

[2015-02-23 23:03] Simn commented on #3911
I don't think so because it's a different completion kind. If you complete right after `(` you get call-argument completion.

[2015-02-23 23:03] nadako commented on #3911
but i still complete right after `(`, it's just `)` being present or not

[2015-02-23 23:05] jgranick opened #3912 "Possible issue with absolute -swf-lib value"
Hey guys,

Someone reported that switching to an absolute -swf-lib path caused problems on their system:

https://github.com/openfl/lime/issues/345

Motion-Twin reported that having multiple -swf-lib tags was causing conflicts when they used relative paths, perhaps with similar file names, I'm not sure.

I can't reproduce, but thought someone might have an idea, if they know of something in the co

[2015-02-23 23:15] Simn commented on #3911
What if you have a space after the `(`?

[2015-02-23 23:17] elsassph commented on #560
Precision: XML parsing was released in FD 4.7 so it's quite recent but that's ok to require it if you want to clean defines...

[2015-02-23 23:18] nadako commented on #3911
nothing changes

[2015-02-23 23:22] nadako commented on #3911
i've updated the first example not to use luxe.

[2015-02-23 23:33] nadako commented on #3911
should i open separate issues for every different case here?

[2015-02-23 23:34] underscorediscovery opened #3913 "3.2; js; Modern APIs potentially missing from extern generator"
As discussed with @aduros,
Only few I have run into so far  :

- PointerLock API ([CR](https://dvcs.w3.org/hg/pointerlock/raw-file/default/index.html))
- Fullscreen API ([LS](https://fullscreen.spec.whatwg.org/))
- ~~Gamepad API~~ ([WD](https://dvcs.w3.org/hg/gamepad/raw-file/default/gamepad.html))

[2015-02-23 23:37] underscorediscovery commented on #3911
What's that no-copt flag for?

[2015-02-24 01:01] nadako commented on #3911
reverting 9f74c83842346eb5f9213a259ca94f3c78808b12 fixes both problems

[2015-02-24 05:03] hughsando commented on #2482
Example seems to compile with all combinations of dce now.

[2015-02-24 05:03] #2482 closed

[2015-02-24 05:06] hughsando commented on #2002
Backslash paths seem to be quoted now.

[2015-02-24 05:06] #2002 closed

[2015-02-24 05:08] hughsando commented on #2842
cpp.Float32 should solve the problem now.

[2015-02-24 05:08] #2842 closed

[2015-02-24 05:16] #3870 closed

[2015-02-24 05:45] hughsando commented on #2662
With this code:
[code]
The first trace is "1null" as expected on the targets.
The second two return 0 on cpp, crash on neko.
Do we want to specify the behaviour here?  I can track down the places and throw errors if required.

[2015-02-24 08:52] Simn commented on #2736
Indeed, can't disagree with that.

[2015-02-24 08:57] #3911 closed

[2015-02-24 09:37] Simn commented on #3912
This might be OS-specific because file lookup depends on class paths which depending on the OS have different settings. For me (Windows) the class paths contain `""` which implicitly deals with absolute paths when they are appended to it. Thus when compiling with `-swf-lib "c:\\github\swf.swf` the compiler performs these lookups:

[code]

I'll find a Unix person to double-check this for 3.2.

[2015-02-24 11:06] Simn commented on #3912
There was indeed a problem which only surfaced when `HAXE_STD_PATH` was set (which it is by default on Linux).

[2015-02-24 11:09] Simn commented on #3912
P.S.: This might have affected other code that used `Common.find_file` as well such as Context.resolve.

[2015-02-24 11:09] #3912 closed

[2015-02-24 11:30] Simn commented on #3902
As it doesn't cause any issues right now I'll check this after 3.2.

[2015-02-24 12:24] Simn commented on #3611
I don't think we should deprecate it. It works consistently on all sys targets except our macro interpreter.

We can fix this by wrapping `in_channel`, e.g. as `AFRead of (in_channel * bool ref)`, then just set the reference to true when we get a read beyond eof from either `file_read_char` or `file_read`.

Any problems with that?

[2015-02-24 12:52] nadako commented on #3911
To be honest, I'd also like to know what exactly is completion optimization, but I don't care enough to read `Optimizer.optimize_completion_expr` function. :wink:

[2015-02-24 12:54] Simn commented on #3911
It's a feature which makes completion faster for Nicolas and more broken for everyone else. :D

[2015-02-24 14:02] anissen commented on #3913
Vibration API ([TR](http://www.w3.org/TR/vibration/))?

[2015-02-24 15:46] frabbit opened #3915 "syntax error that shouldn't compile"
[code]

[2015-02-24 16:16] aduros commented on #3913
Thanks for the feedback, I'll get those in there.

Gamepad API is already available: https://github.com/HaxeFoundation/haxe/blob/development/std/js/html/Navigator.hx#L57

So is Vibration: https://github.com/HaxeFoundation/haxe/blob/development/std/js/html/Navigator.hx#L53

[2015-02-24 17:29] ncannasse opened #3916 "DCE with static init"
[code]

It seems that `foo` is DCE, which is fine, but then the new B() is never called.

[2015-02-24 17:31] Simn commented on #3916
I don't get it, that works as intended (by me).

[2015-02-24 17:33] nadako commented on #3916
`new B()` should be called whenever `new A()` is called, which is never in this case, as `A` has no constructor, right?

[2015-02-24 17:34] jgranick commented on #3912
Great, I'll report this back and see if removing the environment variable can fix it, glad to help get this in before the next release, thanks so much! :smile:

[2015-02-24 17:49] #3906 closed

[2015-02-24 18:12] frabbit commented on #3915
thx, i get an error now ;)

[2015-02-24 19:51] ncannasse commented on #2662
@hughsando this behavior seems ok for me, it's in-line with default Float value being 0 in C++

@delahee could you send a small reproducible example not involving any third party library ?

[2015-02-24 19:57] ncannasse commented on #2736
Another day, another opinion... Ok, let's go with `UInt >>`  being unsigned shift, and burn people that complains about it afterwards :)

[2015-02-24 19:58] waneck commented on #2736
Hahahah that comment made my day. :)

[2015-02-24 20:36] ncannasse commented on #3911
I confirm it works as intended :D

[2015-02-24 20:39] ncannasse commented on #3911
More seriously. optimize_completion_expr is about trying to build an expr that will be have the same display/completion result when typing.

for instance:

[code]

optimize_completion_expr will reduce this to `["hello"].|`.

Same for `this.|`, we don't need the actual whole expression to complete this.

So it works by capturing the first assignment made to each variable, then building the resultin

[2015-02-24 20:42] ncannasse commented on #3611
@Simn ok for me

[2015-02-24 20:47] ncannasse commented on #3913
I'm glad we can announce we added Vibration to Haxe 3.2

[2015-02-24 20:47] Simn commented on #3611
@andyli: This should work now, please close this issue after confirming.

[2015-02-24 20:48] ncannasse commented on #3916
@Simn for me there should be no difference between putting the new B() in the constructor or in the member var initialization. Both are side effects that should not be DCE'ed.

[2015-02-24 20:49] ncannasse commented on #3916
@nadako of course I meant in the case A has a constructor, is compiled, etc.

[2015-02-24 20:51] Simn commented on #3916
This would mean that every field with an initialization expression is always kept (because that's what happens when you assign to it in the constructor too). I don't see what we gain from that other than a weaker DCE.

[2015-02-24 20:55] ncannasse commented on #3916
@Simn as I said, I don't care about keeping the field, but I want to keep the new B() side effect ;)

[2015-02-24 20:55] ncannasse commented on #3916
@Simn or is it already removed in case the field is DCE'd ?

[2015-02-24 20:57] Simn commented on #3916
But we don't do that for statics either...

[2015-02-24 20:59] Simn commented on #3916
I consider the fact that the initialization ends up in the constructor an implementation detail which shouldn't surface in this way.

[2015-02-24 21:02] ncannasse commented on #3915
If everybody could be as happy as you when they get a compiler error, the world would be a better place :)

[2015-02-24 21:04] Simn commented on #3915
You actually get not one but THREE `Unexpected ]` from this. I really think we should check our exception catching.

[2015-02-24 21:15] Simn opened #3917 "tvar identity"
We have to preserve it when passing it through the macro encoder because it has mutable state.

The question is how.

[2015-02-24 21:22] ncannasse commented on #3917
I guess that would mean storing a map of vars in the common context (the one used for typing, NOT the macro one !) and populate it in encode_texpr, and fetch it back from decode_texpr

[2015-02-24 21:24] ncannasse commented on #3917
another option is to have an extra field for TVar (macro side) that will keep the original tvar (ocaml one) wrapped as an abstract. That would mean making all TVar fields read-only, but would work well

[2015-02-24 21:25] ncannasse commented on #3917
I prefer the second one

[2015-02-24 21:48] frabbit commented on #3915
@ncannasse definitely better than an empty array at runtime ;)

@simn `Unexpected ]` was quite clear to me ;)

[2015-02-24 21:49] Simn commented on #3917
Like this?

[2015-02-24 22:39] Simn commented on #3915
Following parser control flow stories is a lot of fun... What I think happens is that we come across the first error as a Stream.Error because the POpen doesn't have its PClose. This is caught in `block` which recurses upon itself and then exits via Stream.Failure.

Act 2 takes us back to `parse_class_fields` which wants its beloved BrClose to find happiness in life. However, there's still the evi

[2015-02-24 22:55] ncannasse commented on #3917
that's the idea. I'm glad I've made myself understood for once ;) now let's revert v_id accesses for better speed (one less indirection).

[2015-02-25 05:52] hughsando commented on #2712
The code can't be optimised as written with the interface because if you were to use a single generic class with 2 unrelated type parameters, the single implementation code would not know where to find the interface functions within the vtable - hence the name lookup.
An actual class could work as a base though - is this what you have done in flash?
This code in hxcpp is pretty ugly, and I would p

[2015-02-25 09:19] Simn commented on #3917
@nadako: Please check your codebase.

[2015-02-25 09:19] #3917 closed

[2015-02-25 10:59] Simn commented on #3192
#3856 has made me change my perspective here. If we allow structural sub-typing between structures it's really silly to not allow this for structure declarations in the general case.

So I propose this: Let's give an error only if the expected type has optional fields. This is the only case where the typo problem can occur.

[2015-02-25 12:31] Simn commented on #3910
@ncannasse: There are some occurrences of `(["flash"],"FlashXml__")` in genswf9 which are all rewritten to `[],"Xml"`. You wouldn't remember what that's about?

[2015-02-25 12:32] nadako commented on #3917
Looks good!

[2015-02-25 12:41] Simn commented on #3739
Could you try replacing getTypedExpr with storeTypedExpr?

[2015-02-25 12:44] hughsando commented on #3533
I got confused with my testing because the CallStack and ExceptionStacks were in different orders.  This should all be consistent now.

[2015-02-25 12:44] #3533 closed

[2015-02-25 13:06] #2174 closed

[2015-02-25 13:21] hughsando commented on #2948
I this should work with hxcpp now, but I enable it globally via the ``` -D file_extension=.mm```.  If you need greater control over the individual files, you can re-open this issue.

[2015-02-25 13:21] #2948 closed

[2015-02-25 13:41] hughsando commented on #2509
Back to this example:
[code]
Without DCE - neko + cpp trace hello
With DCE, with "trace me" uncommented - both trace hello
With DCE, no "trace me"
neko - does nothing
cpp - Invalid field:autoTrace

This is as expected?

[2015-02-25 13:51] hughsando commented on #2768
This seems to work now.

[2015-02-25 13:51] #2768 closed

[2015-02-25 14:05] hughsando commented on #2076
Fixed in hxcpp.

[2015-02-25 14:05] #2076 closed

[2015-02-25 14:09] hughsando commented on #2885
I think this has been fixed by using haxelib to update the hxcpp version.

[2015-02-25 14:09] #2885 closed

[2015-02-25 14:20] #2283 closed

[2015-02-25 15:51] hughsando commented on #3041
There is an implementation there now.  I also added bytesReference, but this one is quite unsafe if you use it for setting strings.

[2015-02-25 15:51] #3041 closed

[2015-02-25 18:19] Simn commented on #3499
Let's hold back on this. A few `Array<Dynamic>` in the externs are not going to kill anyone and I would like to give this some more thought.

[2015-02-25 18:36] Simn commented on #3601
Or I don't do that because `extern` is a keyword.

[2015-02-25 18:36] nadako commented on #3601
Could it be allowed for package names similar to `macro`?

[2015-02-25 18:37] Simn commented on #3601
It could but I don't think that's worth it for a new package.

[2015-02-25 18:39] Simn commented on #3709
@ncannasse: Is this supposed to work?

[2015-02-25 18:46] Simn commented on #3749
Taking a fresh look at this I don't think this is actually a bug. It is true that DCE removes the Haxe-generated constructor on the child class, but then why wouldn't it? The constructor is not used in traceable code and thus not required as far as Haxe is concerned.

If ChildClass had an explicit constructor it would be removed too. If we fixed this issue it would mean that removing the construct

[2015-02-25 18:46] #3749 closed

[2015-02-25 19:04] #3634 closed

[2015-02-25 19:04] #3678 closed

[2015-02-25 19:31] ncannasse commented on #3709
No, we don't allow such thing on class/structure subtyping.

[2015-02-25 19:31] #3709 closed

[2015-02-25 19:35] Simn commented on #3908
On Flash this is a regression. The problem is that `next()` only returns a value if `hasNext()` has been called before. This is also why the unit tests don't catch this problem (which is unrelated to empty strings) because we only test `keys()` within a `for` loop.

We had this issue on python too in #3191. Unfortunately the regression test for that only covered IntMap and iterator and thus missed

[2015-02-25 19:54] #3910 closed

[2015-02-25 20:00] SmerkyG commented on #3908
So, the constructor for StringMapKeysIterator should probably call hasNext(), instead of setting nextIndex to zero to start.

[2015-02-25 20:00] Simn commented on #3908
That's the solution I thought of too. I'll change it accordingly.

[2015-02-25 20:03] Simn commented on #3908
What about `isReserved`? It is set to false in the constructor and true in hasNext if that condition holds. Which should it be after construction?

[2015-02-25 20:05] SmerkyG commented on #3908
Yeah that also has to be updated. It keeps track of whether you're iterating the 'normal' keys or have moved on to the 'reserved' keys. Don't forget to apply the same patch to StringMapValuesIterator btw. I have to apply this to my proposed IntMap iterator pull rq too.

[2015-02-25 20:07] SmerkyG commented on #3908
I mean that isReserved = false; should be set, and then you should call hasNext

[2015-02-25 20:07] waneck commented on #3908
I wish we had adopted .NET-like Enumerators instead of Iterators - the interface ( `{ moveNext:Void->Bool, current:T }` ) is much more clear of what does what than `hasNext()`/`next()`

[2015-02-25 20:08] SmerkyG commented on #3908
I agree, but sadly that's a relic from AS3.

[2015-02-25 20:17] Simn commented on #3908
I have fixed StringMap, but ObjectMap has the same issue. Trying to fix it the same way lead to errors all over the place.

[2015-02-25 20:18] SmerkyG commented on #3908
Yeah unfortunately ObjectMap is written poorly. It needs an overhaul to use an iterator similar to the new (fixed) version on StringMap

[2015-02-25 20:18] SmerkyG commented on #3908
Basically the problem is that it doesn't store nextIndex.

[2015-02-25 20:20] SmerkyG commented on #3908
Before we get so deep into this, are you really ALLOWED by the specification to call next() before you call hasNext()?

[2015-02-25 20:20] Simn commented on #3908
Its `hasNext` actually changes state!

[2015-02-25 20:22] Simn commented on #3908
With names like that you are clearly allowed to call `next()` before `hasNext()`.

[2015-02-25 21:15] ncannasse commented on #3192
There's another issue with it.
Let's say you design your API with
``
function foo( o : { x : Int, y : Int, z : Int } ) {
}
``

And then you change it at a later stage to:
``
function foo( o : { x : Int, y : Int } ) {
}
``

Currently, this will give you errors at all the places you pass a constant struct with a "z" value, allowing you to cleanup the code as well. It's very useful for refactoring.

[2015-02-25 21:16] Simn commented on #3192
-D disallow-const-struct-reduction-or-something?

[2015-02-25 21:20] ncannasse commented on #2509
@hughsando looks ok, people should use @:keep when doing Relfection + DCE

[2015-02-25 21:54] ncannasse commented on #3910
Might be old thing

[2015-02-25 21:58] ncannasse commented on #3908
We could only specify that the following works as intended:

while( it.hasNext() ) { var v = it.next(); }

[2015-02-25 22:00] Simn commented on #3908
I would find that really awkward, especially if Flash is the only target which has that problem.

[2015-02-25 22:00] ncannasse commented on #3192
We don't want to have this be a compiler flag, because then some libraries might either compile or don't depending if they support that flag : compilation result should not be affected by flags (unless they're #if ... user code of course)

[2015-02-25 22:04] Simn commented on #3192
Sure but if the refactoring-and-removing-a-field case is your concern (and I'm sure that happens thousands of times a day (unlike the intended const-assignment-to-smaller-structure (not like there's an issue about these every other week (or a question)))) this would be a nice temporary flag to set in order to detect these cases.

[2015-02-25 22:05] ncannasse commented on #3192
That's why a warning (with no flag) would be nice :)

[2015-02-25 22:06] Simn commented on #3192
Cool so we can make it work by default and have a flag which gives warnings in this case?

[2015-02-25 22:17] ousado commented on #2741
onTypeNotFound is clearly for people who know what they're doing. Please don't limit what it can do before the first 5000 or so great use-cases are well-documented and we can have an informed discussion about the trade-offs involved in limiting its power :)

[2015-02-25 22:21] Simn commented on #2741
Thinking about it again it should actually be fine to specify this as working as intended. The advantage of going through the macro for each check is that you can decide whether or not to handle a specific path. This might make compilation a bit slower but it also makes it more powerful.

[2015-02-25 22:21] #2741 closed

[2015-02-25 23:03] elsassph commented on #560
@ncannasse are the overloads enabled in a nightly build? I have a beginning of solution.

[2015-02-26 06:06] tkawachi opened #3919 "http://haxe.org and http://lib.haxe.org are down"
I'm not sure where to report. Please let me know if here is not a good place to report.

Currently haxe.org and lib.haxe.org are down. I have a issue to install haxelib. Please help.

[2015-02-26 06:38] jasononeil commented on #3919
Thanks for letting us know.  I restarted apache and mod_tora on the VPS and it's back up.

In terms of the best place to report: probably the mailing list is slightly better, https://groups.google.com/forum/?hl=en#!forum/haxelang

[2015-02-26 06:38] #3919 closed

[2015-02-26 06:38] tkawachi commented on #3919
Thank you!

[2015-02-26 07:18] Simn commented on #3919
Does anyone watch this or get automatic notifications about server problems? Yesterday the website was very sluggish all day.

[2015-02-26 07:47] Simn commented on #3908
I'm in a bind here. I really hate target-inconsistencies like this and would definitely like to address it, but on the other hand I can already see flash users with foam in their mouths because they might lose a precious nanosecond in their per-frame ObjectMap iteration.

We dealt with the original issue and the follow-up regression on flash's StringMap. The rest is not a regression and while I re

[2015-02-26 08:15] ncannasse commented on #560
Yes they are listed,

I remember now that what's not supported atm is that when you open a `(` we should have a way to display the list of possible functions parameters.

[2015-02-26 08:18] ncannasse commented on #3919
Would be nice to have an alert service indeed, and also be able to measure access time from various places in the world

[2015-02-26 08:35] back2dos commented on #3908
I do see your point, but I think as far as the cross platform standard
library goes, consistency trumps performance. The more so, if sacrificing a
few nanoseconds is an issue, while other obvious and significant options
are far from being exhausted.

Storing the reserved object in an instance pointer gives you a factor 2-3
speedup in lookup: http://try.haxe.org/#3aFe3

Similarly, adding an inline

[2015-02-26 10:21] elsassph commented on #560
Yes currently I plan to avoid showing the duplicated items in the list - showing the multiple signatures will require more work.

[2015-02-26 11:33] ncannasse commented on #3192
Let's go step by step here : first a warning , then if people complains with valid cases that it is annoying we can hide it unless some flag is turned on. I'm still convinced atm that the report is useful. The only issue with current error is that it might make people misunderstand that structures are not structurally subtyped when they're testing with literal values.

[2015-02-26 12:08] ousado opened #3921 "var declared in a @:mergeBlock block is not accessible inside the outer block"
The assignment to v in the outer block should work.

[code]

[2015-02-26 12:16] Simn commented on #3192
It's not entirely trivial to turn this into a warning because it can also happen while unifying, which means there is no context to warn in.

As far as "the only issue" goes: Even I was lead to believe that there is no structural subtyping between structures due to this behavior.

I can rally some people to complain about this if that's what's required here. :P

[2015-02-26 12:33] #3921 closed

[2015-02-26 14:20] nadako opened #3922 "Remove flash8 support?"
I think it's time to remove support for Flash 8. We removed it from Travis CI and I suppose it's now broken in so many ways that noone would be willing to invest their time on fixing/supporting that target.

[2015-02-26 15:15] nadako opened #3923 "toplevel completion doesn't work on unclosed braces/parens"
This gives `No completion point was found` error, however if we close the curly brace, it works.

[code]
[code]

[2015-02-26 15:30] Simn commented on #3923
Top-level completion currently requires a sane block structure which is a conscious limitation. We can look into improving this later but it's not a 3.2 priority for me.

[2015-02-26 15:32] nadako commented on #3923
I see. Well okay then.

[2015-02-26 17:10] baraujo opened #3924 "Various errors when using haxelib from 3.1.3 in Ubuntu 14.04.2"
Steps:
1. $ git clone --recursive git://github.com/HaxeFoundation/haxe.git && cd haxe
2. git checkout 3.1.3
3. $ make; sudo make install
4. $ haxelib

Output:
/usr/lib/haxe/std/neko/_std/sys/io/FileInput.hx:60: characters 26-29 : Invalid package : std should be <empty>
std/Type.hx:32: characters 1-30 : Invalid package : std should be <empty>
std/Type.hx:33: characters 1-28 : Invalid package : std

[2015-02-26 17:13] Simn commented on #3924
Using Haxe 3.1.3 with git haxelib is not a good idea.

[2015-02-26 17:17] baraujo commented on #3924
I was just trying to use HaxeFlixel, and they recommend using haxelib for installing, as stated in http://haxeflixel.com/download/; so, how should I proceed?

[2015-02-26 17:36] waneck commented on #3924
Can you try to run haxelib on a folder other than the haxe folder?
IIRC there was a problem when running haxelib that uses `--run` inside the haxe's `std` folder. It's got something to do with `std` folder paths.

[2015-02-26 17:39] baraujo commented on #3924
Ok, ran haxelib in another folder, the last error persists:

/usr/lib/haxe/extra/haxelib_src/src/tools/haxelib/Main.hx:715: characters 32-55 : Class<sys.FileSystem> has no field absolutePath

It seems haxelib was indeed using files from the haxe directory, somehow.

[2015-02-26 17:50] waneck commented on #3924
That's because the `haxelib_src` submodule isn't updated to the v.3.1.3 version. Please do a `git submodule update` where you've checked out haxe, and do a new `make install`

[2015-02-26 18:09] baraujo commented on #3924
Thanks, this solved the issue, now haxelib is working as intended. Since there is no problem with the code itself and it was all caused by running a git checkout 3.1.3 and "misaligning" the repos, I'll close this issue.

Also, thanks for the speedy responses, this further motivates me to use Haxe :-)

[2015-02-26 18:09] #3924 closed

[2015-02-26 18:47] delahee commented on #3758
We have problems with some C compiler with large files ( other 120MB ), +1 for trimming the output and maybe splitting other several cpp can be an option.

[2015-02-26 19:18] ncannasse commented on #3922
We will still keep it a bit more for backward compatibility, it's not like it takes us time to maintain.

[2015-02-26 19:22] nadako commented on #3922
the problem is that we don't even know whether it's completely broken or just a little, so what backward compatibility can we talk about?

[2015-02-26 19:26] waneck commented on #3922
Yeah, I don't even know if a `trace("Hello, World")` works there. From my previous experience, I have a feeling that it doesn't.

[2015-02-26 19:32] nadako commented on #3922
the `unit8.swf` generated from our tests doesn't even loads for me

[2015-02-26 19:40] waneck commented on #3922
Yep. `trace("Hello, World")` doesn't work anymore. It traces `undefined` on the canvas

[2015-02-26 19:45] Simn commented on #3922
+1 for removal. That target has been sitting on my shoulder like a bad conscience for a while now.

[2015-02-26 20:31] nadako opened #3925 "Support @:pythonImport on enums"
A remainder to myself. Similar to `@:jsRequire` thing done in 0e999e970bf99333125852a3045c1c98c52b3df1

[2015-02-26 20:39] Justinfront commented on #3922
would 4.0 not be a better time to remove all flash8 support.

[2015-02-26 20:40] Simn commented on #3922
For me the point is that we basically have removed it already, so it's just a matter of being honest about it.

[2015-02-26 20:42] nadako commented on #3922
I agree. For someone who is working on the compiler, flash8 related stuff is just a pile of dead code. And also we lie to users that we support flash8 when we don't.

[2015-02-26 20:43] #3925 closed

[2015-02-26 20:46] Justinfront commented on #3922
Do we know which version of Haxe worked reasonably with flash8?  I think if it's officially discontinued then some docs somewhere should have links to a version that does work.

[2015-02-26 20:54] Simn commented on #2590
This has been addressed by the new Xml implementation.

[2015-02-26 20:54] #2590 closed

[2015-02-26 20:57] Simn commented on #3030
Fixed in #3904.

[2015-02-26 20:57] #3030 closed

[2015-02-26 21:30] Simn commented on #3650
@tml @mockey: This is another one we should look into at some point.

[2015-02-26 21:38] Simn commented on #3704
Related to #3916

[2015-02-26 22:07] Simn commented on #2933
I want to check this again, there could be a regression with `@:from` casts now.

[2015-02-26 22:09] Simn commented on #2933
Never mind, the original change was made after 3.1.3 anyway.

[2015-02-26 22:09] #2933 closed

[2015-02-26 22:49] SmerkyG commented on #3908
@back2dos moving the rh to an instance variable was not what improved your performance. (I tested this when writing the new StringMap and we decided that it does not help much) TryHaxe is using a non-development branch and therefore you are comparing the 'old' StringMap to my and Nicolas's new one that will ship with 3.2. Also, adding inline to ObjectMap's iterator is not what improved your perfor

[2015-02-27 00:57] mockey commented on #3650
The problem here is that `isset` returns `false` when something is `null`, so it returns that `array` here. If this is used only for class/object fields, you could use `property_exists` instead, i.e.:
`property_exists($this, "cb")`. That would return `true` and then `null`. I guess this `array` that is returned otherwise is used for some reflection stuff again. But who knows?

[2015-02-27 04:24] waneck commented on #2817
Yep it's done

[2015-02-27 04:24] #2817 closed

[2015-02-27 04:26] waneck commented on #3096
Should we add a new TInt64 result?

[2015-02-27 07:45] Simn commented on #3033
Let's look at it again after 3.3 as it's not a regression but might very well introduce some.

[2015-02-27 08:48] delahee opened #3926 "flash.display3D.Context3DBufferUsage"
This is High priority/ Low urgency, as I can carry on without this but this :

http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/display3D/Context3DBufferUsage.html

and

public function createVertexBuffer(numVertices:int, data32PerVertex:int, bufferUsage:String = "staticDraw"):VertexBuffer3D

its pending api call should make it to the api fast please as it will allow to enh

[2015-02-27 08:56] delahee opened #3927 "Context3D.setFillMode"
High priority low urgency  for my friend Nicolas !

http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/display3D/Context3DFillMode.html

This allows us to do manual anti aliasing and get rid of bad line shaders.

[2015-02-27 10:29] Simn opened #3928 "Abstract constructor return types"
Currently the return type of abstract constructors is hardwired to be the underlying type of the abstract. I've thought about this for a while and think that this is plainly wrong. After constructing an abstract type you should get an abstract type on the outside, not the underlying type.

This is probably what causes #3370, although there he even explicitly types the constructor to return the und

[2015-02-27 12:11] Simn opened #3929 "Block type while inlining can be inferred to Dynamic due to TReturn"
[code]

[code]

Note the `[Block:Dynamic]`. This comes from a TBlock taking over the type of its last expression. This is usually not a problem because the TReturns themselves are eliminated, but this is not true for the local function case.

I don't know if this leads to any real issue, but I think it should be fixed regardless.

[2015-02-27 12:21] Simn commented on #3929
Actually this isn't about inlining at all but occurs at typing level already. In that case I'll just assume that it works as intended.

[2015-02-27 12:21] #3929 closed

[2015-02-27 12:55] Simn commented on #3928
After checking some more implications of this I concluded that this behavior was clearly faulty and fixed it in https://github.com/HaxeFoundation/haxe/commit/b2167ae7ccc4b921b2b42a8f52ee93a1db7751c8. Unlike normal constructors where we inline in a special way, abstract constructors are normal function calls and adhere to inline semantics. The return type is then relevant and having the wrong one l

[2015-02-27 12:55] #3928 closed

[2015-02-27 12:55] Simn commented on #3370
Fixed by https://github.com/HaxeFoundation/haxe/commit/b2167ae7ccc4b921b2b42a8f52ee93a1db7751c8

[2015-02-27 12:55] #3370 closed

[2015-02-27 15:39] Simn commented on #3821
I don't think we have to take any action here right now.

[2015-02-27 15:43] Simn commented on #2587
Could you try reducing the example here to something I can just paste & compile? I want to get this fixed as it looks somewhat serious.

[2015-02-27 15:44] Simn commented on #2587
Or is this the same as #2378?

[2015-02-27 16:15] Simn commented on #2378
I can no longer reproduce this and it works on travis too. I also checked without -D analyzer to make sure the problem is not sanitized away.

[2015-02-27 16:15] #2378 closed

[2015-02-27 16:18] Simn commented on #3414
I still cannot reproduce this and neither can our CI. This is the generated Main.php I have:

[code]

[2015-02-27 16:26] cbatson commented on #3370
Fantastic work, thank you Simon! And with a test, to boot. :-)

[2015-02-27 16:35] nadako commented on #3603
related #3402 #3411

[2015-02-27 17:48] #3760 closed

[2015-02-27 18:14] explorigin commented on #3903
Note that in 3.1.3 -js-flatten breaks the Std library's jquery extern.  Using ```import jq.JQuery;``` inevitably puts
[code]

in the JS target.  But with js_flatten, ```var js = {}; js.Boot = {};``` is flattened to ``` var js_Boot = {};``` thus breaking the code above because ```js``` no longer exists.

[2015-02-27 18:15] explorigin commented on #3903
It's still broken when using http://lib.haxe.org/p/jquery

[2015-02-27 18:21] nadako commented on #3903
I think that was fixed in f16cb786a52de349967e73e710240d5277cd3d48. (on a side note - js.jQuery is another one i would like to see out of std library, as it's mostly outdated and there's a better alternative: https://github.com/andyli/jQueryExternForHaxe). Could we deprecate it maybe?

[2015-02-27 18:22] Simn commented on #3903
I'm all for it.

[2015-02-27 18:26] explorigin commented on #3903
Wow, didn't know about https://github.com/andyli/jQueryExternForHaxe Thanks

I don't see a problem removing jquery from Std. I'll file a separate bug for lib.haxe.org (searching for "jquery" does not yield "jqueryextern")

[2015-02-27 20:31] ncannasse commented on #3922
What does @delahee thinks about it ? (I guess MotionTwin has the most Flash8/Haxe codebase)

[2015-02-27 20:35] ncannasse commented on #3096
@waneck I think that's a bit early for that, same for supporting Int64 in serializer. Let's way a bit more until it becomes a first class citizen.

[2015-02-27 20:37] Simn commented on #3096
The problem right now is that people who used `Std.is(v, Int64)` do not have an alternative.

[2015-02-27 20:39] ncannasse commented on #3929
It's intended, it allows to unify for instance     var x = if( flag ) 0 else return 1;  same for throw/break/continue I think.

[2015-02-27 20:40] ncannasse commented on #3928
Most likely a mistake in using the actual good type.

[2015-02-27 20:52] ncannasse commented on #3903
@nadako looks like you like deprecating :) We should upgrade it if there's a better alternative, for instance by asking @andyli to maintain the official js.JQuery

[2015-02-27 20:57] sebpatu opened #3930 "Reflect.hasField broken for setter on javascript target"
see: http://try.haxe.org/#e8AfA

testting Reflect.hasField(o, "set_fieldName") i don't get true even if the setter exists.
its because of underlying test Object.prototype.hasOwnProperty
if you test Object.prototype.hasOwnProperty(o, "set_fieldName") you get false
even if the function is in the prototype, i don't know what is the solution...

thanks

[2015-02-27 20:59] Simn commented on #3930
hasField is only guaranteed to work on structure types.

[2015-02-27 20:59] #3930 closed

[2015-02-27 21:07] Simn commented on #3903
What's the point? We would just have an outdated version in the standard library shortly after each Haxe release.

[2015-02-27 21:34] nadako commented on #3903
It's not that I like deprecating stuff, it just bothers me to have a bunch of dead code that noone knows what to do with (or wants either). And by dead code I mean something that it's less likely to be used for any real job (when there are better alternatives) and thus not tested and maintained enough.

I don't know if jQuery is used much nowadays, but if it is, we could make andy's externs "offic

[2015-02-27 22:15] mockey commented on #2587
I haven't been able to get this error in a reduced example. Very weird. The code above still fails with current Haxe version, though. The problem is in:
[code]
In the `_hx_lambda` call there is a var `&$_t2` slipped in out of nowhere with no further reference. This is then passed to `Test_2` in place of the expected `&$a2`.

BTW: Do you know why the functions are split up like this and all the loc

[2015-02-27 23:39] jdonaldson commented on #3414
Yeah, this is strange.   I'm thinking it's a 32/64 bit issue, but I'm not sure why it's only happening for me on yosemite.  I'll keep poking around on it.

[2015-02-28 00:02] Simn opened #3931 "uncaught Parser.Display"
[code]

[2015-02-28 00:10] Simn commented on #3931
Looks like this happens when parsing metadata. I just had it on some dot when typing `@:access(haxe.io.Path.escape)`.

[2015-02-28 00:50] nadako opened #3932 "redundant cast on abstract binop overload"
we should lose this cast:

https://github.com/HaxeFoundation/haxe/commit/aa2c12935ac40e43cfde1608879e74c7e96128c5#diff-eb918bc546b40568ecadf7d9546c3119R2202

it adds redundant runtime checks that involve boxing and are evil

but we can't just do that because c# compiler complains because of implicit numeric type promotion:

https://msdn.microsoft.com/en-us/library/aa691330(v=vs.71).aspx

so we hav

[2015-02-28 00:54] nadako commented on #3932
this is actually a performance regression, as e.g. this
[code]
now generates
[code]
tho it used to generate
[code]
imagine these possibly-boxing casts all over the code

[2015-02-28 01:10] mockey commented on #2587
OK, got it!
[code]
The problem is that for every enum-check `e == B` a new local var is created `$_t`, `$_t2`,... Then this `_hx_lambda` function passes all the local vars as `array(&$_t, &$_t2, &$arr)` to function `Main_0`, but `Main_0` only expects `&$_t, &$arr` and apparently doesn't know about `$_t2`. If you comment the second `if (e == B) return;` it works.

[2015-02-28 02:55] nadako opened #3933 "Compiler hangs on complex module relationship + inexistant module + overriden methods"
Originally reported by @underscorediscovery, I reduced as much as I could from the snow library code (whew!):

A.hx
[code]

B.hx
[code]

Main.hx
[code]

`haxe -main Main -js main.js -v` prints the following and hangs hardcore:
[code]

[2015-02-28 02:56] nadako commented on #3933
note that changing anything in this example seems "fixes" hangs...

[2015-02-28 03:13] underscorediscovery commented on #3933
finding obscure bugs is my specialty :game_die:

[2015-02-28 04:09] andyli commented on #3903
I have been observing around. The current status is kind of 50-50: some ppl use the bundled js.JQuery and some ppl use my jQueryExtern.

The major differences between the two that make them non-trivial to merge:
 1. jQueryExtern uses macros to build a "configurable" extern. The std lib favors to keep things simple.
 2. Different ways to workaround haxe/js differences (e.g. when same name being use

[2015-02-28 05:17] #2509 closed

[2015-02-28 06:39] #2852 closed

[2015-02-28 10:21] ncannasse commented on #3096
@Simn we could add a Int64.is for the time being

[2015-02-28 10:22] ncannasse commented on #3096
(which would be not exclusive, which means an Int could be Int64 if that's the way it's implemented on the platform)

[2015-02-28 10:23] ncannasse commented on #3930
use Type.getInstanceFields(Type.getClass(o)) instead

[2015-02-28 10:30] Simn commented on #3096
What about serialization btw?

[2015-02-28 10:35] ncannasse commented on #3414
looks like a 32/64 bit issue. Notice as haxe generates -1 instead of 0xFFFFFFFF, which means it will never mask on 64 bit system, since -1 will be 0xFFFFFFFFFFFFFFFF...

The problem is that we cannot make the difference in our compiler if the user either wrote 0xFFFFFFFF or -1, but both have different runtime values on a 64 bit Int system.

I think that only PHP is concerned ? -- ping @waneck @hug

[2015-02-28 10:42] ncannasse commented on #3414
The only "correct" fix I can see would be to use Int64 internally in Haxe so the 0xFFFFFFFF doesn't overflow, but that would cause a lot of mess everywhere.

An alternate option might be to store the Int64 repr of our Int32 in case both differs at the Lexer level, then be able to retrieve it inside the generator, the same we do for singly quoted strings.

But then that would also require us to per

[2015-02-28 10:43] ncannasse commented on #3414
...or introduce a Int64 constant kind, that would be necessary anyway if we introduce "real" Int64 literals

[2015-02-28 10:45] ncannasse commented on #3414
(but I don't think the later would fix the reported issue)

[2015-02-28 10:46] Simn commented on #3933
These bugs are awesome, they usually take someone three hours to track down and then it's a one line fix. ;)

Here's the cdebug diff:

[code]

@ncannasse: Does that tell you anything?

[2015-02-28 10:47] Simn commented on #3933
Sorry, I meant the diff between the `import Inexistant;` being there (hangs) or not (doesn't hang).

[2015-02-28 12:06] sebpatu commented on #3930
ok thanks, too bad its not a universal api whatever type of parameter is.
is it because of performances issues?

[2015-02-28 12:19] mockey commented on #2587
Possible fix would be clearing this `tmp` var somehow:
https://github.com/HaxeFoundation/haxe/blob/development/genphp.ml#L1213
or not using it at all or use a better `Enum` check...

[2015-02-28 12:41] Simn commented on #3933
Dear diary,

I have established that we are creating a type loop by linking a typedef to itself. While checking the `valid_redefinition` of AA.f we unify its argument with the argument of A.f. At this time both arguments are typed as the typedef B, but its linked type is still a monomorph. This causes a recursive link when we bind the monomorph to B with B remaining linked to that same monomorph.