[2019-06-12 11:14] #6006 closed

[2019-06-12 11:20] RealyUniqueName commented on #5843
Works with the latest dev Haxe

[2019-06-12 11:22] #5843 closed

[2019-06-12 11:27] RealyUniqueName commented on #4696
This is addressed with https://github.com/HaxeFoundation/haxe/pull/8316 which implements custom stack counter

[2019-06-12 11:27] #4696 closed

[2019-06-12 11:35] Simn commented on #4696
It should still be possible to cause a compiler hang if a genericBuild macro returns a type which (in a delayed fashion) causes the same genericBuild macro to run. I think we'll just have to accept that though.

[2019-06-12 11:43] #4272 closed

[2019-06-12 11:43] #6959 closed

[2019-06-12 11:43] #7905 closed, assigned to Simn, ncannasse

[2019-06-12 15:28] Gama11 opened #8414 "[js] type inference breaks calls due to missing $bind"
[code]

Crashes with:

[code]

With the above `foo` looks like this:

[code]

Explicitly type-hinting `main` in `foo` as `main:Main` works since a `$bind` ends up being generated:

[code]

It also works with `main:{function call():Int;}`, which is why @nadako mentioned this is related to some previous discussions about whether unification between functions and function-typed vars in structures sho

[2019-06-12 15:31] Gama11 commented on #8414
This might be the issue that @nadako meant? https://github.com/HaxeFoundation/haxe/issues/6316

[2019-06-12 15:35] Ilir-Liburn commented on #8405
Above link updated, added if(!value) column and added Boolean values tests

[2019-06-12 16:10] ncannasse opened #8415 "Fighting compilation server memory leaks"
The compilation server is still leaking, so I propose a general solution for this:
- use an ocaml parser in order to read our source code AST (I think @nadako did something of this kind when we experimented with ocaml-to-haxe)
- find all global mutable values ( ref [] , Hashtbl.create, etc. ) and error on them
- make sure we all replace these with something like   Global.register "name" (ref []) ,

[2019-06-12 16:10] ncannasse commented on #8415
Ping @Simn @nadako @RealyUniqueName

[2019-06-12 17:12] nadako commented on #8415
Can't say much about the strategy, but reading OCaml AST is no problem at all, you just use OCaml as an OCaml library: https://github.com/nadako/ml2hx/blob/552d5cdf2b6560c5223ba3e27b9043810fbca48c/src/main.ml#L508-L509

[2019-06-12 19:17] RealyUniqueName commented on #8415
Sounds ok to me.
Also, we already have some display request to report memory usage (I don't remember exact command). Did you try it?

[2019-06-12 19:46] Gama11 commented on #8415
Yeah, the cache view in vshaxe can display memory usage:

![](https://i.imgur.com/w4jYmUN.png)

[2019-06-13 09:18] ncannasse opened #8417 "Base64 urlEncode/urlDecode"
I have added haxe.crypto.Base64.urlEncode/urlDecode that follows RFC 4658 (see https://en.wikipedia.org/wiki/Base64#Variants_summary_table)

It requires to be added to PHP target as well, which is the only target that comes with its own native implementation. Maybe we should actually provide some native implementation for platforms that have one.

[2019-06-13 09:28] RealyUniqueName opened #8418 "[php] missing Base64 urlEncode/urlDecode"
see #8417

[2019-06-13 09:30] RealyUniqueName commented on #8417
Extracted missing implementation in PHP into a separate issue: #8418

[2019-06-13 10:04] vladimirvelikov commented on #6254
Could you please share the workaround?

[2019-06-13 10:06] Gama11 commented on #6254
![](https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png)

[2019-06-13 10:24] RealyUniqueName commented on #6254
I guess the workaround is to add `@:keep` meta to the generated class.

[2019-06-13 10:46] vladimirvelikov commented on #6254
I have the @:keep, I even disabled dce.

In my case if the @:native metadata is added in onAfterTyping, the class to be replaced is still referenced, albeit with dot notation (js-unflatten style) while everything else is flattened.

If the @:native metadata is added directly in the haxe file of the class to be replaced, then the newly generated replacement class is being referenced correctly and t

[2019-06-13 12:27] RealyUniqueName opened #8419 "Windows 64 builds containt 32bit haxelib"
We need to fix it.

[2019-06-13 12:58] nadako opened #8420 "Uninitialized `final` var prevents completion from working"
[code]

no worky: getting `This class has uninitialized final vars, which requires a constructor`, which I guess should be ignored for completion

[2019-06-13 13:12] nadako commented on #8420
I've added a quick fix for this for now, because I want completion to work for my tomorrows presentation :)
Someone please look into this and fix it properly, because I'm not sure why there's both `display_error` AND `error` used.

[2019-06-13 13:53] hereticByte commented on #6254
Hello Vladimir,

I am sorry, I can't reconstruct the scenario anymore. I have created this project seperate from the original project, the actual issue occured in.
... only for the purpose to be able to communicate about it.

Regrettably I do not know anymore, how I solved it in the orignal project. And I also do not know the name of the original project anymore as well. So I can't look it up.

I

[2019-06-13 14:21] nadako commented on #6254
I gotta say what you guys are doing is really nasty and there's probably a better way to deal with the original issue.

The issue here is that `Compiler.exclude()`, as stated in its documentation is actually making the type `extern` and `@:native` is handled differently for extern classes on JS target with regard to name flattening: there's no flattening of extern paths.

That means that you shoul

[2019-06-13 14:26] ncannasse commented on #8419
Is it an problem with installer build script ? or travis ?

[2019-06-13 15:20] vladimirvelikov commented on #6254
You have a point there regarding flattening of externs, but the problem is rather that even if both the replaced and replacing classes are not in a package, when addMetadata is called in onAfterTyping, in the generated code still the *replaced* class is being referenced, instead of the *replacing* class.

I already have a small repro-case that demonstrates it and will be sharing it tomorrow. Would

[2019-06-14 05:42] kLabz commented on #3829
Added support for `hxcs.definename` in hxcs [PR](https://github.com/HaxeFoundation/hxcs/pull/40)

This also includes [some kind of documentation](https://github.com/HaxeFoundation/hxcs/blob/a9ad0603efc88054bd3dd7f3a82ed7147c74fece/build-tool/src/compiler/cs/CsCustomDefine.hx) for these specific defines, but I'm not sure how to expose them..

[2019-06-14 05:57] kLabz commented on #4586
Duplicate of #4151, should be fixed by #8413 too.

[2019-06-14 06:24] #4586 closed

[2019-06-14 06:42] Simn commented on #8420
I think using `display_error` for both lines is fine in this case. We should actually avoid `error` where we can for display reasons. But that's not always so easy when we require some sort of value, and might cause some follow-up problems.

[2019-06-14 06:44] Simn commented on #8419
I'm a bit confused here, hasn't haxelib always been 32bit because it's still a neko exe?

[2019-06-14 06:53] nadako commented on #8419
The problem is that if you have 64-bit neko installed, haxelib.exe won't work, presumable due to incompatible 64-bit neko.dll.

[2019-06-14 07:08] #8420 closed, assigned to nobody

[2019-06-14 07:11] Simn commented on #7845
I'm moving this to 4.1. While I acknowledge that having inaccurate error positions in such cases isn't ideal, it's not urgent enough to warrant larger reviews of the macro API at this point. I can't see a way to address this without friction, so I'd appreciate if you could just find a workaround for this for now.

[2019-06-14 07:14] Simn commented on #8372
Mentioned here: https://github.com/HaxeFoundation/haxe/wiki/Breaking-changes-in-Haxe-4.0.0#function-expressions-as-operands

[2019-06-14 07:14] #8372 closed, assigned to Simn

[2019-06-14 07:32] #8297 closed, assigned to ncannasse

[2019-06-14 07:34] Simn commented on #8280
@Aurel300 Is this covered by your sys endeavours?

[2019-06-14 07:38] Simn commented on #8375
I've moved this to 4.1 because I honestly see nothing actionable here. We cannot introduce a random keyword like `downcast` for a fringe feature like this, and the deprecation warnings can easily be worked around.

[2019-06-14 08:23] vladimirvelikov commented on #6254
Here is a minimal repro case https://github.com/vladimirvelikov/native-in-onaftertyping

If line https://github.com/vladimirvelikov/native-in-onaftertyping/blob/76da0e7cb4e2795614e8340847344ffb60f831d2/src/ReplacedClass.hx#L4 is uncommented, things work fine.

Line https://github.com/vladimirvelikov/native-in-onaftertyping/blob/76da0e7cb4e2795614e8340847344ffb60f831d2/src/ReplaceMacro.hx#L47
doesn

[2019-06-14 09:19] nadako opened #8423 "wrong position for the abstract incompatible from/to type error"
[code]

This will fail with:
[code]

Note that the position points to the whole abstract definition. Instead it should point to the `from Float`. I guess the position is lost a that point, but maybe we could preserve it?

[2019-06-14 10:19] Simn commented on #8367
genhl just determines a common type between the operands and then casts both to that type. This is fine for most cases but breaks semantics when `Null<T>` gets involved because we don't want to unwrap.

[2019-06-14 10:20] Simn commented on #8367
Also I'm mildly shocked that our tests don't cover this.

[2019-06-14 10:42] nadako opened #8425 "abstract from Dynamic vs another abstract"
[code]

[2019-06-14 10:45] Aurel300 commented on #8280
I'm waiting for the CI in #8424, but I cannot reproduce this locally anymore.

[2019-06-14 10:47] nadako commented on #8425
This is not a regression, but still would be very nice to fix for 4.0

[2019-06-14 11:14] nadako opened #8427 "abstract @:to casts are not considered for operators"
[code]

This gives `A should be Int`, however I would expect it to call `toInt()`, especially considering that adding direct `to Int` works.

[2019-06-14 11:16] nadako commented on #8427
This is not a regression, but still would be very nice to fix for 4.0

[2019-06-14 11:18] Simn commented on #8427
This is a bit controversial because the lhs has nothing to do with the rhs in this case. I don't have a good strategy for this at the moment so it's unlikely that we'll do anything for 4.0 here.

[2019-06-14 11:21] nadako commented on #8427
I'm confused, why `to Int` works then? Or it also should not?

[2019-06-14 11:24] Simn commented on #8427
I find that weird as well, but as I said I don't have a good strategy.

The reason it works is probably due to the compiler defaulting to `unify_int` and that just trying a normal unification, which then happens to work.

[2019-06-14 11:26] nadako commented on #8427
BTW this is a reduced case of something more complicated I had in my code:
[code]

[2019-06-14 12:25] kLabz commented on #8423
The position is available and I have something to make it throw the error on the `Float` of `from Float`. Should I make a PR?

[2019-06-14 12:35] #3703 closed

[2019-06-14 12:36] kLabz commented on #5434
Seems to be fixed by #8387 (or is there something else to do here?)

[2019-06-14 12:46] kLabz commented on #5241
This seems to have been fixed in haxe 4 preview 2:

[code]

[2019-06-14 14:42] shakesoda opened #8429 "[hl/c] Resources are broken (compile fails or crashes)"
Any usage of `haxe.Resource` seems to just plain crash (msvc) or fail to compile (gcc) on rc3 (no problems on rc2). works w/jit.

repro:

`build.hxml`
[code]

`Test.hx`:
[code]

`hello.txt`:
[code]

output (linux/gcc):
[code]

msvc builds w/warnings, then subsequently crashes in a utf8<->16 conversion function.

[2019-06-14 14:57] #8429 closed, assigned to Aurel300

[2019-06-14 14:58] Aurel300 commented on #8429
Does that solve the problem?

[2019-06-14 15:12] shakesoda commented on #8429
@Aurel300 that fixes it for clang, however on gcc i still get build errors. haven't tried msvc yet.

lots of this kind of stuff when building `_std/String.c`
[code]

[2019-06-14 15:14] Aurel300 commented on #8429
Can you confirm the assembler errors only show when using resources?

I wonder if it is related to the `$` in the variable name: https://gcc.gnu.org/onlinedocs/gcc/Dollar-Signs.html#Dollar-Signs

@ncannasse Can we simply use `bytes_xxxxxx`?

[2019-06-14 15:20] shakesoda commented on #8429
@Aurel300 it seems to happen with all use of strings (...oh no!!)

`trace("test")` was enough to get the errors.

[2019-06-14 16:53] Aurel300 opened #8430 "[HL/C] Cannot compile on Linux"
(From #8429)

[code]

[code]

The compilation fails with hundreds of messages similar to the ones above. As far as I can tell, this might be due to the usage of `$` in `hl2c.ml` to mark every single variable. GCC manual suggests this is allowed but may trip up some assemblers:

According to the previous issue, this may also be a regression from rc2.

[2019-06-14 16:53] Aurel300 commented on #8429
Ok, I think this is a separate issue, and I can reproduce it locally on Ubuntu. There was indeed a problem with the resources, because the type of the `extern` was wrong (not an array of bytes). That is now fixed.

See #8430.

[2019-06-14 18:04] ncannasse commented on #8425
This should work

[2019-06-14 18:30] ncannasse commented on #8430
I had $ in identifiers since the first initial release of HL/C I think. Could you try to pinpoint what's exactly causing the issue by looking at the assembler output at the given line ? Maybe a specific word with $ is triggering the failure.

[2019-06-15 02:19] terurou opened #8431 "[cs] doesn't support thread?"
The cs target looks like no thread platform. Is it right?

https://github.com/HaxeFoundation/haxe/blob/bef1b987321a3f578d0d544d721a43d5b5ae64c7/src/context/common.ml#L352-L358

[2019-06-15 19:50] benmerckx opened #8433 "[php] null ResultSet for non select queries"
Neko returns a ResultSet for update/insert/delete queries where length can be accessed to check all affected rows. Php returns null but should probably return an empty ResultSet with length?

https://github.com/HaxeFoundation/haxe/blob/development/std/php/_std/sys/db/Mysql.hx#L67

See also old docs of mysql:
http://old.haxe.org/doc/neko/mysql

[2019-06-16 07:44] nametoolong opened #8434 "Http.PROXY broken on HTTPS URL"
Related to #6204.

Haxelib 3.4.0 doesn't work behind a plain HTTP proxy: `Http.request` **always** use a SSL socket if the URL begins with `https://`, and **always not** if the URL begins with `http://`. Thus `https://` over a proxy is misinterpreted as SSL to proxy and plain HTTP to remote server.

Haxelib has https://lib.haxe.org hard-coded and actually makes an **unencrypted** HTTP request over

[2019-06-16 07:45] ncannasse commented on #8429
Regarding `/tmp/cclozvdP.s: Assembler messages` , I would be interesting to know which exact identifier makes GCC fails like that :-/

[2019-06-16 07:49] ncannasse commented on #8430
Waiting for CI confirmation

[2019-06-16 08:31] ncannasse commented on #8430
Fix confirmed

[2019-06-16 08:31] #8430 closed, assigned to ncannasse

[2019-06-16 13:16] djaonourside opened #8435 "Function type field of dynamic object can't be called"
Example of the issue:
http://try-haxe.mrcdk.com/#fa6Ed

[code]

[2019-06-16 14:56] Gama11 opened #8436 "[display] class is incorrectly reported as already imported"
Originally reported at https://github.com/vshaxe/vshaxe/issues/355.
___

`source/test/b/ClassB.hx`:

[code]

`source/test/c/ClassC.hx`:

[code]

Requesting completion here shows `ClassB` as already imported, even though it isn't:

![](https://i.imgur.com/DlVrESb.png)

This means that no auto-import will be generated. Note: after creating `ClassB.hx`, the language server needs to be restarted to sh

[2019-06-16 14:57] Ilir-Liburn commented on #8405
Revisited for rc.3, added PHP test and -1 value test

[2019-06-16 15:38] Ilir-Liburn opened #8437 "== vs ternary and conditional if on Dynamic type"
During my test on -1 value, I found that == true and == false are returning false. Is this official Haxe strategy? If it is, please update documentation like this;

-1 == true -> -1 == 1 -> false

== converts true to a number (1), so every negative number and every positive number greater than 1 will return false.

-1 ? true : false -> true ? true : false -> true

:? converts -1 to true, so every

[2019-06-16 18:14] ncannasse commented on #8437
Dynamic types comparison, and in particular == or != between true, 1 and "true" etc, rely on native platform comparison, so they are not enforced by any specification.

[2019-06-16 18:14] #8437 closed, assigned to nobody

[2019-06-16 20:54] Ilir-Liburn commented on #8437
Ok, but behavior I described could still go to documentation, so there are no questions asked afterwards. For example

[code]

[2019-06-17 07:01] Simn commented on #8437
You've already opened #8405 for that.

[2019-06-17 10:53] Ilir-Liburn commented on #8437
@Simn, actually, I wanted that to be fixed, not documented. I fixed Dynamic type issues for myself. Feel free to use it

http://try-haxe.mrcdk.com/#8d048

[2019-06-17 10:58] Aurel300 commented on #8437
@Ilir-Liburn As explained above by Nicolas, these will not be "fixed". Doing so would technically be possible (?) but would mean sacrificing a lot of performance. `Dynamic` (and in particular various binary operations on it) should not be relied upon as something consistent across target platforms.

[2019-06-17 11:04] Ilir-Liburn commented on #8437
@Aurel300, that's why I built another type abstracting Dynamic. For myself, but I shared it here if someone want to use it.

[2019-06-17 15:16] Gama11 opened #8438 "[display] completion replaceRanges are broken since rc.3"
Invoking completion after the `char` here returns no results with rc.3:

[code]

![](https://i.imgur.com/wKlKfOq.png)

This is because the `replaceRange` reported by Haxe is too big:

[code]
___

It works fine with rc.2:

![](https://i.imgur.com/qNg4mad.png)

[code]

[2019-06-17 16:28] nadako commented on #8203
Could this be looked into sooner by any chance?

[2019-06-17 16:30] Simn commented on #8203
Eh, I think applying top-down inference when there are multiple `from` on an abstract isn't sound.

[2019-06-17 16:34] nadako commented on #8203
Related case from my latest adventures:

[code]

[2019-06-17 19:31] jdonaldson commented on #8405
my 2 cents:  the table should be a documentation feature, the variance here is not a bug.

[2019-06-17 19:33] Aurel300 commented on #8405
@jdonaldson +1; Simn told me this is why the issue remains open (with the `documentation` label).

[2019-06-17 21:45] darkuranium commented on #8417
Python has `base64.urlsafe_b64{en,de}code`, too, and I'm almost sure C# does as well (due to the sheer size of .NET).

[2019-06-17 23:52] Ilir-Liburn commented on #8405
Added JVM test

[2019-06-18 06:59] #8423 closed, assigned to nobody

[2019-06-18 06:59] #8280 closed, assigned to hughsando

[2019-06-18 07:21] #4151 closed

[2019-06-18 07:58] Simn commented on #8438
I'm awkwardly bisecting this via CLI because vshaxe-debug-tools isn't working anymore for me...

[2019-06-18 08:01] Simn commented on #8438
https://github.com/HaxeFoundation/haxe/commit/4f82f3d71b4d18c5363b3943f1bcf68efd4bc1a2

[2019-06-18 08:06] Simn commented on #8438
Fixed, don't know how to test this though.

[2019-06-18 08:30] ncannasse commented on #8405
We might want to ensure a few things, for instance at least that 0 != null and that 0 == null is false (see #8367). Otherwise I think it's actual documentation and not something to fix.

[2019-06-18 08:30] kLabz commented on #8438
I should be able to test it, I just need some time on the computer..

[2019-06-18 08:43] Gama11 commented on #8438
I think he means how to unit-test it, because #8355. :)

[2019-06-18 08:48] kLabz commented on #8438
Meh, I don't know enough about these display tests for now :(

[2019-06-18 09:47] #8418 closed, assigned to RealyUniqueName

[2019-06-18 09:53] RealyUniqueName opened #8441 "Test haxe.crypto.Base64"

[2019-06-18 14:05] #8433 closed, assigned to nobody

[2019-06-18 14:14] RealyUniqueName commented on #8434
You can workaround haxelib hardcoded url with `-R` command line argument: `$ haxelib install libName -R http://lib.haxe.org/`

[2019-06-18 14:19] #8431 closed, assigned to nobody

[2019-06-18 14:28] RealyUniqueName commented on #8401
To me it looks like an issue of the python target.

[2019-06-18 14:29] nametoolong commented on #8434
Thanks for the trick.

[2019-06-18 14:34] RealyUniqueName commented on #8356
As a workaround, you can do this:
[code]
It is represented as `ECheckType` constructor of `haxe.macro.Expr.ExprDef`

[2019-06-18 14:45] RealyUniqueName commented on #8356
I don't think we have anything to do here.
I'll go ahead and close this issue. Feel free to reopen if you think there is something to address.

[2019-06-18 14:45] #8356 closed, assigned to nobody

[2019-06-18 16:00] haxiomic opened #8442 "[nullsafety] Null safety regression with branching between RC2 and RC3"
Hey,

After upgrading to RC3 from RC2 I've starting hitting a null safety issue with branches. For example the following code will (correctly) fail to compile under RC2 but compiles on RC3

[code]

Running with `haxe --run Main`

(tested latest nightly 8494952649b3574ccc9342847beb49ef78083bd7)

[2019-06-18 16:10] haxiomic opened #8443 "[nullsafety] Null safety + inline regression between RC2 and RC3"
Might be related to #8442

In RC3 the `inline` keyword seems to affect null safety unexpectedly, the following example should compile without error, however it fails to compile with null safety errors in RC3. The code will compile if the `inline` keyword is removed from `method`.

In RC2 the code compiles with or without `inline`

[code]

Run with `haxe --run Main`

Error is `Main.hx:35: character

[2019-06-18 16:51] haxiomic commented on #7995
Related
- [Package name "macro" problem #8323](https://github.com/HaxeFoundation/haxe/issues/8323)
- [List of keywords which can be used in package names #319](https://github.com/HaxeFoundation/HaxeManual/issues/319)

[2019-06-18 17:08] #8436 closed, assigned to nobody

[2019-06-18 19:01] posxposy opened #8444 "[java] extending abstract native types which is without constructor"
Hello!
Here is a small sample:
[code]
This sample compiles ok with empty `MyHolder` constructor. But if you put any code into it then the compiler will produce an error:
`Types that derive from a native class must have its super() call as the first statement in the constructor`

But this is a valid way for Java, to not to call `super()` in that case.

Would be nice to allow code in class construct

[2019-06-18 19:12] RealyUniqueName commented on #8427
[code]
Actually, this works because `x` is casted to `A` because of `from Int` and `@:op(a+b) static function f(a:A, b:A)`.
You can add `@:op(a+=b) static function f(a:A, b:A)` and the failing line will work too.

What's our spec here, @ncannasse ? We have these options:
* `from Int` + `@:op function(a:A, b:A)` takes precedence
* `to Int` takes precedence

(`from` and `to` here also means `@:from`

[2019-06-18 19:42] #8435 closed, assigned to nobody

[2019-06-18 19:58] nadako commented on #8427
Well, it's actually because the return value of `f` is also `A` which has `@:to Int`.

That does not generally work at all, because `a` is tempvared, so the original left-hand expression is left unchanged.

[2019-06-18 20:07] RealyUniqueName commented on #8427
Actually, we have another option:
* don't allow implicit casts in operators overloading

[2019-06-18 20:09] RealyUniqueName commented on #8427
It still works without `@:to Int`

[2019-06-18 20:34] kLabz commented on #5480
Not quite ready yet; making some progress while writing a new tool to manage net-libs but haxe still cannot compile .NET core apps

[2019-06-18 21:22] nadako opened #8445 "static assign-ops overloads should be forbidden?"
Something like this does not make much sense and it doesn't work, even if `addAssign` is `inline`, because `a` will be tempvared.

[code]

I think assign-ops only make sense when `this` can be asssigned to, that is, `inline` non-`static` methods. So should we error on this kind of `@:op` definitions?

[2019-06-19 06:28] Simn commented on #8379
@Aurel300 Can you handle this or does someone else need to do something?

[2019-06-19 09:21] back2dos commented on #8427
I can absolutely see why one would want that to work, but I prefer erring on the side of caution here and follow Alex's advice to disallow implicit casts in operator overloading. It's [already pretty banged up](http://try-haxe.mrcdk.com/#Fe019):

[code]

If anything, it should work the other way around, as `to` is "stronger" than `@:to`. My preference would be to disallow it entirely until we can

[2019-06-19 09:31] Simn commented on #8392
Can you check if this is covered by #7979?

[2019-06-19 09:32] Simn commented on #8277
Am I missing something here or is this invalid code because the switch isn't exhaustive?

[2019-06-19 09:53] Simn commented on #8384
This is covered by #8405.

[2019-06-19 09:53] #8384 closed, assigned to nobody

[2019-06-19 10:06] Simn commented on #8162
As I said, this has to be haxe-evolutioned.

[2019-06-19 10:06] #8162 closed, assigned to nobody

[2019-06-19 10:14] Simn commented on #8066
Looking at this again, I don't understand how you expect this to work because `build` isn't a `macro` function. The compiler has no way of knowing that it's supposed to be in macro mode here.

[2019-06-19 10:25] Ilir-Liburn opened #8447 "scratching my head over this"
[code]

From where is this Abstract type coming? Let's look at CS code after adding cast to 0

[code]

It is a dynamic, initialized by typeof. Now we go to Java

[code]
Exception in thread "main" java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.Class

I even tried this

[code]

Is this something new to be used or upcoming in Haxe?

[2019-06-19 10:30] RealyUniqueName commented on #8447
You're actually storing a _type_ `Int` into a field `type` here: `var s1 = {value:Dynamic, type:Int};`
Is it really what you want to do?
Maybe, you want to do this isntead?
[code]

[2019-06-19 10:34] Gama11 commented on #8066
That whole situation is still quite unclear to me, I was always under the impression it's only needed for expression macros, and I often omit it from build macros. So the `macro` keyword is completely optional in build macros - except for display? Should there maybe be a compiler error or warning for omitting it?

I don't think it's just me either. If you look at https://code.haxe.org/tag/build-ma

[2019-06-19 10:35] Ilir-Liburn commented on #8447
No, that's not what I want, or to use typedef. I wanted to have anonymous structure of types initialized to default values. Anyway, what is purpose of allowing such definition besides using as constraint?

[2019-06-19 10:47] Gama11 commented on #8277
Aren't non-exhaustive switches allowed by design in some cases? For instance switches on `String`.

Looks like that may only be the case in `Void`-places though?

[code]

In which case maybe there's an oversight here where non-exhaustive switches are sometimes allowed even in value places?

[2019-06-19 10:59] Simn commented on #8277
Well that's what I'm saying. There should never be non-exhaustive switches in value-places, no matter how French your patterns are. The JVM target needs a sound control flow and so does the analyzer.

[2019-06-19 11:02] Gama11 commented on #8277
Makes sense.

[2019-06-19 11:04] RealyUniqueName commented on #8066
I also find it confusing that despite being a build _macro_ it does not require a `macro` keyword.

[2019-06-19 11:05] Simn commented on #8066
I don't think this is about display in particular. Doesn't this also fail during normal compilation if you don't fence it in `#if macro`? Because otherwise `Context` has no fields and everything should fail.

[2019-06-19 11:06] RealyUniqueName commented on #8447
You definitely not going to get a default value by using a type as a value in Haxe.
I think the only reliable way to get a default value for a type using type name is a macro.

[2019-06-19 11:06] #8447 closed, assigned to nobody

[2019-06-19 11:10] Gama11 commented on #8066
Works just fine in my experience, which is why everybody keeps doing it.

[2019-06-19 11:44] Gama11 commented on #8066
It looks like there's indeed something wrong with fencing the whole module with `#if macro`. This doesn't work:

[code]

While this does:

[code]

So it seems Haxe needs to know about the existence of the `Main` type _outside of macro context_ for things to work? This might actually be the same reason why `.macro.hx` doesn't really work for build macros.

[2019-06-19 13:34] markknol commented on #8162
Let's do this! https://github.com/HaxeFoundation/haxe-evolution/pull/62

[2019-06-19 13:44] Gama11 commented on #8066
Related: https://github.com/HaxeFoundation/haxe/issues/8159

[2019-06-19 16:23] mockey opened #8449 "Is /libs not a submodule anymore?"
I got some error when trying to merge current version.

[2019-06-19 16:24] Aurel300 commented on #8449
No, it was recently merged into the main repository (#8440). Your best bet is probably to `rm -rf libs` and pull again.

[2019-06-19 16:30] mockey commented on #8449
OK, thanks. With removing the old /libs I could merge.
I had some warnings about line-endings, thouigh:
`warning: CRLF will be replaced by LF in libs/ttflib/main.ml.`

[2019-06-19 16:32] Simn commented on #8449
Oooh so that's the problem I'm having... hang on

[2019-06-19 16:45] #6679 closed

[2019-06-19 17:08] Simn commented on #8449
Fixed by https://github.com/HaxeFoundation/haxe/commit/493446bea84e9f4d7d56d78c8221b9cbea3091fd

Thanks for pointing out the line end message, I was stuck trying to figure out what the problem was!

[2019-06-19 17:08] #8449 closed, assigned to nobody

[2019-06-19 17:23] Simn commented on #7882
\o/

[2019-06-19 17:23] #7882 closed, assigned to andyli

[2019-06-19 18:25] RealyUniqueName commented on #8380
Disabled `TestUnicode.testIPC()` for local runs until this issue is fixed.

[2019-06-19 22:51] Ilir-Liburn commented on #8392
I tried nightly build  4.0.0-rc.3+c3723469b, see no difference. Building compiler is out of my scope.

I want to point out that in last loop example (CS generated code)
[code]

correctly generated code could look like

[code]

if we don't want jumps out of the loop in case condition is false

[2019-06-20 05:06] Simn commented on #8392
I'll just assume this is covered then.

[2019-06-20 05:06] #8392 closed, assigned to nobody

[2019-06-20 09:09] nadako commented on #6330
@markknol brought up this topic again today and that made me thinking:

Bitmask is a set of flags (so, basically a collection), so it is not an `enum` type: a set of values is not limited to the flags and exhaustiveness check does not make much sense for it.

Surely, there is an _enumeration_ of possible flags which would be fine to represent as an `enum` abstract, but then we would need another t

[2019-06-20 09:20] RealyUniqueName commented on #6619
@simn, why is this moved to "Bugs" milestone? Should `@:forward` also forward the constructor?

[2019-06-20 10:26] RealyUniqueName commented on #6464
Not reproducible with the latest Haxe. I suppose this is fixed.

[2019-06-20 10:28] RealyUniqueName commented on #6464
Still reproducible with this build.hxml:
[code]

[2019-06-20 10:31] RealyUniqueName commented on #6398
All mentioned tests are currently enabled

[2019-06-20 10:31] #6398 closed

[2019-06-20 10:51] Gama11 opened #8451 "[display] dynamically update the syntax cache"
The completion server has a syntax cache for things like toplevel completion. It is initialized once on startup with `server/readClassPaths`. The problem is that after this point, it is never updated again.

Here's an example with a newly created `Test` type, which doesn't show up in completion and thus can't be auto-imported. It only shows up after restarting the language server.

![](https://i.i

[2019-06-20 11:53] Ilir-Liburn opened #8453 "Please add @:op(A = B) if there is no other way"
Suppose I have code like this

[code]

Assignment using @:from is forcing me to instantiate Wrap because there is no "this" in a static function, while using @:op(A = B) I could set fields using "lhs" reference.

Or there is other way I'm not aware of?

BTW, I used @:from prefix before the constructor by mistake, compiler was not complaining

[2019-06-20 12:08] RealyUniqueName commented on #8453
Duplicates https://github.com/HaxeFoundation/haxe/issues/5738

[2019-06-20 12:08] #8453 closed, assigned to nobody

[2019-06-20 12:09] RealyUniqueName commented on #5738
@Simn ?

[2019-06-20 12:14] Ilir-Liburn commented on #8453
Please note that in @:op(A = B) I used inner type Wrap, opposite to other @:op operators which expect abstract type, because it is covered by @:from

[2019-06-20 12:46] Ilir-Liburn commented on #8453
Actually, @:op(A = B) will not help on what I'm working. I need @:op(=B) like this
[code]

[2019-06-20 13:57] Ilir-Liburn commented on #5738
@Simn, please use @:op(=B) instead of @:op(A=B) so that overloading function is not static

[2019-06-20 14:14] nadako commented on #5738
that is not a valid expression syntax, so we can't easily do that :D

[2019-06-20 14:28] Ilir-Liburn commented on #5738
@:op(_=B)  :D

[2019-06-20 15:12] RealyUniqueName commented on #5738
Overloading function doesn't have to be static. E.g. these are equal:
[code]

[2019-06-20 15:22] Ilir-Liburn commented on #5738
Well, at least we have a workaround, it is weird

[code]
because allows me to declare overloading function without returning an iterator. Everything is inline as I wanted, so it doesn't matter if function is static or not

[2019-06-20 15:55] andyli opened #8455 "PHP TestSocket sometimes fails"
e.g. https://dev.azure.com/HaxeFoundation/GitHubPublic/_build/results?buildId=16

[code]

Not always, just sometimes...

[2019-06-20 16:50] RealyUniqueName commented on #8455
I don't see a failure on that link

[2019-06-20 16:56] andyli commented on #8455
That's because I restarted the job.... In the old UI there is a drop down menu to see the previous failed attempts, but I'm not sure how to do it in the new UI.

But there is nothing interesting except the lines I already included above.

[2019-06-20 17:07] RealyUniqueName commented on #6203
Actually it follows [RFC6265](https://www.ietf.org/rfc/rfc6265.txt):

Anyway, what if we change this line (which throws that exception)
https://github.com/HaxeFoundation/haxe/blob/d2fefc600378e841e81aa695d941815d2a376b17/std/js/Cookie.hx#L57
to
[code]
Which means instead of throwing an exception it will return a raw value in case of decoding failure.

[2019-06-20 17:27] #6201 closed

[2019-06-20 17:31] RealyUniqueName commented on #6166
This is fixed in https://github.com/HaxeFoundation/neko/commit/77ab0bda58368a029cdce68e704b7963ebd46d19

[2019-06-20 17:31] #6166 closed

[2019-06-20 17:42] jcward opened #8457 "cpp.Lib.stringReference (always?) returns 0-length string"
I was testing [`sys.ssl.Key.loadFile`](https://github.com/HaxeFoundation/haxe/blob/development/std/cpp/_std/sys/ssl/Key.hx), which uses cpp.Lib.stringReference to determine the file format, when I discovered that the string returned is always 0-length.

I made a simple test to confirmed this:

Haxe 4.0.0-rc3
hxcpp 4.0.19 (latest haxelib)
Linux 64

**Test.hx**
[code]

**output**
[code]

In another

[2019-06-20 18:11] andyli commented on #8455
Here is another example of that: https://dev.azure.com/HaxeFoundation/GitHubPublic/_build/results?buildId=20&view=results

[2019-06-20 19:04] RealyUniqueName commented on #6156
Creating macro methods in build macro is impossible.
I think, the only thing we can do is emit an error in a build macro returns a field with `AMacro` accessor.

[2019-06-20 20:22] RealyUniqueName commented on #6156
Regarding `__mk_pos__` I think `parse_macro_expr` should emit a syntax error if it's a second call to it in a current call stack. Something like `Cannot use macro reification in macro reification`.
https://github.com/HaxeFoundation/haxe/blob/51bdcb8da149aa25b7b4c632dab18a0644ac5b8d/src/syntax/grammar.mly#L1075-L1088

[2019-06-20 20:46] Gama11 opened #8459 "[display] $type signature help isn't working"
It looks like signature help for `$type()` is meant to work, since has an implementation complete with docs:

https://github.com/HaxeFoundation/haxe/blob/be4e26a243f537f5d600a6cfc2de503a9f462600/src/typing/typerDisplay.ml#L446-L451

But in practice, it just fails with this:

[code]

[2019-06-21 00:34] Ilir-Liburn commented on #5738
Now things get complicated

[code]
Here compiler assumes I want to copy a value or reference of the underlying type, but that is not what I want. I want to copy a values of member variables of the underlying type. This somehow shows how urgent we need @;op(A = B), but it also shows why Simn is against it (assuming he still is): operator A = B is not a full copy unless we make it so, meaning A = B

[2019-06-21 01:09] Ilir-Liburn commented on #5738
I suggest to make unique operator, meaning something is transferred from B to A which not makes A == B

[code]

no return value.

Such operators doesn't exist, so Simn will probably not like it. Just want to continue discussion, everyone seems to be quiet now. Suggestions please.

[2019-06-21 07:50] #8459 closed, assigned to nobody

[2019-06-21 09:13] RealyUniqueName commented on #6069
Fixed in the latest dev

![img](https://i.imgur.com/6YNs3Zh.png)

But now a breakpoint being placed at line 3 jumps to line 6 on debug :)
[code]
That `TArrayDecl` position should be `47- 145`

[2019-06-21 09:15] Simn commented on #6069
Is that with or without `-D analyzer-optimize`?

[2019-06-21 09:17] RealyUniqueName commented on #6069
Without.
Here is with analyzer:
[code]

[2019-06-21 09:19] RealyUniqueName commented on #6069
But with analyzer breakpoint on line 6 (`r + f`) also works fine

[2019-06-21 09:48] #6069 closed

[2019-06-21 10:01] nadako commented on #6069
I wonder if we could/should use these position output for tests, althought it might be annoying because any change to TAST will break them.

[2019-06-21 10:04] RealyUniqueName commented on #6069
We need to find a way to test them without hardcoding exact numbers.
Maybe read an initial position with a build or expression macro and then find a corresponding expression in typed syntax tree and compare positions.

[2019-06-21 10:06] Ilir-Liburn commented on #5738
I don't like it either, but I need it without using a1.assign(a2) or such. Code a1 = a2 will copy reference of the underlying object if a1 and a2 are of the same abstract type so that

[code]
while in case underlying type is just basic type or dynamic
[code]

If Simn ever implements @:op(A = B) it will be never called in place of variable initialization (@:from or new will be used) and never calle

[2019-06-21 10:06] nadako commented on #6069
Right, it should be somewhat similar to display tests, I guess.

[2019-06-21 10:13] RealyUniqueName commented on #6013
Fixed in #8410

[2019-06-21 10:13] #6013 closed

[2019-06-21 10:23] RealyUniqueName commented on #5935
@Aurel300 is this covered by our new unicode sys tests?

[2019-06-21 10:28] Aurel300 commented on #5935
@RealyUniqueName It is:

https://github.com/HaxeFoundation/haxe/blob/99eb84dee6fb7d25fa4f35f1943d058f0cf5665c/tests/sys/src/TestUnicode.hx#L161

But the test is disabled temporarily for C++ (#8400) and C# (#8247). The C++ issue in particular is probably a superset of this one, so perhaps close this issue?

[2019-06-21 10:30] RealyUniqueName commented on #5918
Should be fixed in 4.0.0-rc.3 because of #8284
At least I cannot reproduce it with the latest dev Haxe

[2019-06-21 10:30] #5918 closed

[2019-06-21 10:36] RealyUniqueName commented on #5935
Yeah, thanks

[2019-06-21 10:36] #5935 closed

[2019-06-21 12:37] Ilir-Liburn commented on #5738
To conclude my opinion on this, @:op(A = B) should be only

[code]
or if underlying type is dynamic

[code]

overloading default A = B compiler behavior if types are of the same abstract type so that we can make a copy (or clone) if underlying type is an object instance (without @:op(A = B) defaults to compiler coping a value or reference). Otherwise, everything is about what comes first: @:from o

[2019-06-21 14:12] mockey opened #8461 "problem with js.lib.Promise<Void>"
I get the error:
`src/Video.hx:97: lines 97-98 : Arguments of type Void are not allowed`
with current version and code like:
[code]
`js.html.VideoElement.play()` returns a `Promise<Void>`, it used to compiled like this.

When I remove the arg, like `prom.then(() -> ...`, I get:
`src/Video.hx:97: lines 97-98 : Void -> Void should be Null<js.lib.PromiseHandler<Void, Unknown<0>>>`

When I return some

[2019-06-21 14:21] nadako commented on #8461
Pretty sure this comes from 1d924317a813005afd0e0083741ff2b641223c8c.

We have to think about what to do with this in general (we need some notion of Unit type for this), but I would propose disabling that check for 4.0 not to break much code.

cc @Simn, @RealyUniqueName, @ncannasse

[2019-06-21 14:31] mockey commented on #8461
I see. I went with `untyped` for now.

[2019-06-21 14:38] mockey opened #8462 "Compiler error messages"
The character columns are only displayed sometimes in the error messages. I get messages like:
`src/Video.hx:98: characters 7-43 : Void -> Void should be Null<js.lib.PromiseHandler<Void, Unknown<0>>>`
with columns and messages like:
`src//Layer.hx:116: lines 116-118 : Void -> Void should be Null<js.lib.PromiseHandler<Unknown<0>, Unknown<1>>>`
with line numbers instead. Was it always like this or i

[2019-06-21 14:42] nadako commented on #8462
It was always only `lines` if the error position is not on single line.

Still, could you provide a reproducible example of your error so we can check if the reported position is accurate?

[2019-06-21 15:03] mockey commented on #8462
I noticed it for the first time. Maybe I didn't have much functions over multiple lines, functions in promises take some space...

The position is accurate, lines 116-118 are correct. It only would be nice to always have the start position (column).

[2019-06-21 15:24] RealyUniqueName commented on #8461
I agree, we need to disable it for 4.0

[2019-06-21 17:06] RealyUniqueName commented on #5997
Isn't it by design? Transitive cast is not allowed.

[2019-06-21 17:06] RealyUniqueName commented on #7915
Duplicates #5997

[2019-06-21 17:06] #7915 closed, assigned to nobody

[2019-06-21 17:41] RealyUniqueName commented on #5915
Not reproducible with the latest dev

[2019-06-21 17:44] #5915 closed

[2019-06-21 18:28] RealyUniqueName commented on #5913
This seems like "by design".
Function signature is unified with `Recover<Bool>` first (which makes the monomorph of return type to be bound to `Option<T>`) and then function body is typed.

If I just change the order to type the function body before trying to unify the function with `Recover<Bool>` then everything explodes (e.g. can't even compile haxelib).
If I detect function return type is mono

[2019-06-21 18:37] RealyUniqueName commented on #5897
This seems like a bad tradeoff: too small gain for such a big flaw.
I think we should change it to always generate uninitialized fields. And after implementing that proceed to #7002
@ncannasse ?

[2019-06-21 18:52] RealyUniqueName commented on #5886
I think this kind of issues is gone when macros moved to eval.
I cannot reproduce an issue using the sample from the first post of this issue.
And it used to be reported fairly often (see this issue history and #5984), but no new reports since the summer of 2017. Just when eval was introduced iirc.

I suggest to close this and #5984

[2019-06-22 09:53] clemos commented on #6203
I think it would make sense, especially since one doesn't necessarily has control over the content of a document's cookie, the cookie reading API should be more tolerant (hence "should")

[2019-06-22 14:55] RealyUniqueName commented on #5875
@ncannasse I cannot reproduce none of that with the latest Haxe.

[2019-06-22 15:05] #5859 closed

[2019-06-22 15:37] RealyUniqueName commented on #5816
Works fine with the latest Haxe.

[2019-06-22 15:37] #5816 closed

[2019-06-22 15:44] RealyUniqueName commented on #5803
This is by design. Since you're in a macro reification mode all dollar-identifiers are interpreted as references to a scope where `macro` keyword is used.
You can use `$$` instead:

[code]
This sample prints `a: hi` as expected.

[2019-06-22 15:44] #5803 closed

[2019-06-22 16:08] RealyUniqueName commented on #5707
What if we move the code of `StringMap.__init__` to the constructor?
https://github.com/HaxeFoundation/haxe/blob/ce5ce1979df53486256dc872e748c8fe4dfb697b/std/js/_std/haxe/ds/StringMap.hx#L154-L156
https://github.com/HaxeFoundation/haxe/blob/ce5ce1979df53486256dc872e748c8fe4dfb697b/std/js/_std/haxe/ds/StringMap.hx#L48-L50
change to
[code]
Doesn't look like it will impact performance.

[2019-06-22 16:44] #5525 closed

[2019-06-22 16:51] Gama11 commented on #5803
Hah, so `$$$$` is needed to get a literal `$`... :D

This is actually awkward for syntax highlighting, which assumes that one `$` = unescaped and `$$` = escaped.

[2019-06-23 02:51] hughsando commented on #8300
It is not possible to extend an external class from haxe - mainly because of GC and object ownership issues.  If haxe were to allocate the new class, then things like the constructor and destructor would not be called.  If the external system were to allocate the class, then the object would not be part of the GC system.
Possibly best to have an external object "owning" a haxe implementation and d

[2019-06-23 02:51] #8300 closed, assigned to hughsando

[2019-06-23 08:56] #5886 closed

[2019-06-23 08:57] Simn commented on #5984
See https://github.com/HaxeFoundation/haxe/issues/5886#issuecomment-504534559 (for some reason the comment didn't link back).

[2019-06-23 08:57] #5984 closed

[2019-06-23 09:01] Simn commented on #5875
Pretty sure this is fixed, and there's no reproducible example anyway.

[2019-06-23 09:01] #5875 closed

[2019-06-23 11:56] kLabz opened #8466 "Sys.programPath() crash in init macros"
Macro.hx
[code]

build.hxml
[code]

Fails with
[code]

On haxe <= `3.4.7`, output was `Macro.hx:3: null`; this was already broken on preview 1 (never worked with eval I guess?)

[2019-06-24 11:25] nadako commented on #5707
Maybe we should have some option to inject custom init js code into the beginning of the generated JS, rather than the very end....

[2019-06-24 11:53] RealyUniqueName commented on #5913
Simn confirmed my conclusion. So, this is by design.

[2019-06-24 11:53] #5913 closed

[2019-06-24 11:55] RealyUniqueName commented on #5707
That wouldn't solve the issue. It would still rely on the order of execution of such code.

[2019-06-24 12:12] RealyUniqueName commented on #8466
Works just fine with the latest dev:
[code]

[2019-06-24 12:14] RealyUniqueName commented on #8466
Oh, it doesn't work if `-main` is not specified.

[2019-06-24 12:19] #8466 closed, assigned to nobody

[2019-06-24 12:39] nadako commented on #8427
FYI Now I'm having a case in my code where I actually do _NOT_ want implicit conversions to trigger for binops, but still support it when unifying for assigns/args/return values). So uhm, yeah maybe forbidding them is a good idea, given that we can still override binops to make it work _when we want._

[2019-06-24 13:39] nadako commented on #8427
OTOH, I do want `@:to Bool` for logical operators (`&&` and `||`)... Argh I need a break from this.

[2019-06-24 13:58] back2dos commented on #8427
I think `@:to Bool` should work for `if` and `while` and for everything else, just define the `&&` and `||` and it'll work ;)

[2019-06-24 14:15] RealyUniqueName commented on #5570
Not reproducible in the latest dev:
[code]

[2019-06-24 14:15] #5570 closed

[2019-06-24 14:47] posxposy opened #8467 "[java] -java-lib should parse @Nullable for proper Null-safety work"
Hello! :)

Would be nice if `-java-lib` may parse Java's `@Nullable` annotation on function arguments.
For example, Java's method:
[code]
Is parsed as:
[code]
intesad of:
[code]

Which is not very well if you using the new null-safety feature.

Thank you!

[2019-06-24 15:29] posxposy opened #8468 "[display] Wold be nice to cache native libraries classes (java, c#)"
Hello :)
Currently, classpaths autocompletion is a bit painful thing when you work with native libraries.
For example, you are writing code like this:
[code]
And in that point, we getting an error that `CharSequence` is `Unresolved identifier`.
But when we click to autocomplete it, then it fails, because it cannot find `java.lang.CharSequence` automatically so you need to import it manually by han

[2019-06-24 15:31] Simn commented on #8468
#7417

[2019-06-24 15:31] #8468 closed, assigned to nobody

[2019-06-24 15:36] nadako commented on #8427
You're right, that works, sorry for the noise.

[2019-06-24 15:44] posxposy commented on #8468
Oh, I think it is a different issue.

This autocompletion is working for me fine:
![image](https://user-images.githubusercontent.com/4466595/60032489-5621a700-96af-11e9-99b8-0344c6c1950c.png)

This is not:
![image](https://user-images.githubusercontent.com/4466595/60032534-72254880-96af-11e9-9da6-0cbc5e9f4cc8.png)
So it is not possible to automatically fill `import java.lang.CharSequence` from nat

[2019-06-24 17:49] lublak opened #8470 "EnumValue same as class name throws an error"
If i use the same EnumValue Name as the class the i can not use the class anymore.

[code]

[2019-06-24 18:03] Simn commented on #8470
Yes but that's just how resolution works.

[2019-06-24 18:03] #8470 closed, assigned to nobody

[2019-06-24 18:11] lublak commented on #8470
@Simn "Test" as EnumValue is not a class also i never say i need the EnumValue.
I know if you use the type as argument like:

[code]
you can just write `aFunction(Test);`
but for other stuff it makes no sense. Also what is if i have two enums?
It works fine:

[code]

Is there any workaround this like a simple dot? `.Test`.

[2019-06-24 18:39] aartzrc commented on #8314
This appears to have gotten 'worse' with RC3, although it is more apparent what is happening so easier to track down.

The point that things break down appears to be when working with anonymous objects during the `__hx_cast` call. In RC3 the fields become `Array<string>` vs `Array<object>`, the test to determine if the current array field should be returned happens in `Array.Array_cast`, the call

[2019-06-24 18:49] kLabz commented on #8314
#8387 is definitely responsible for these changes.
If you can give us some code to reproduce the issue, I might be able to help.

There is also an [open?] issue regarding array references lost during cast, but I cannot find it atm.

[2019-06-24 18:53] nadako commented on #8470
A workaround for type paths is use fully-qualified paths (use `std.` prefix if your type is top-level).

Tho I'm curious why enum constructors have priority over types in identifier resolution.

[2019-06-24 19:04] lublak commented on #8470
@nadako thanks for the tip with std.
I was thinking std is only for the haxe "std" library.

[2019-06-24 19:05] nadako commented on #8470
Yeah the name is a bit misleading, but it's actually used to refer any top-level class. I wonder if it's documented anywhere :)

[2019-06-24 21:23] aartzrc commented on #8314
Thanks @kLabz, very happy to know someone is able to work on this one.

I narrowed it down to the same concept as the original issue. We are serializing/deserializing for data storage and after some tests it appears to be directly related to the serialization process. I think the issue was around in RC2 but has progressed into other parts of the C# output now.

The code below is essentially the sa

[2019-06-24 21:29] Aurel300 commented on #8470
@nadako Not yet (:

[2019-06-25 07:07] ncannasse commented on #5897
Initially the idea was to remove the explicit null initializer because in Haxe null == undefined and there was not known behavior when setting undefined instead of null would create a difference in terms of runtime.

Now with JSON it seems there is indeed a difference :-/

However I don't think we should fix our entire code generation because of this particular case. For instance we will also get

[2019-06-25 07:13] ncannasse commented on #5707
I would vote for a wontfix here for reasons explained before

[2019-06-25 08:54] lublak commented on #8368
The same problem apears if i use `Context.defineType`.
With: https://gist.github.com/nadako/2ad4246f257e627a5833
I also use "@:persistent" at this var.
But it shows not everytime. I don't know. How to reproduce it.
With defineModule the "error" shows more often.
For me i use `Context.getType(path) == null` to check if the type is defined before. (But i think it is not the best solution)

[2019-06-25 08:58] kLabz commented on #8368
Yeah in my project too it's the combo `Context.defineType` + `Context.getType` that triggers this.

[2019-06-25 09:45] lublak commented on #8470
@nadako but something else:
`std.Module.AnyClass` is impossbile. => `Class<Module> has no field AnyClass`
So also here is a problem. If you use `AnyClass` as enum name.
Is there also some trick for it? (i automatically create exprs via macro)

[2019-06-25 10:01] nadako commented on #8470
That sounds like an actual bug :)

[2019-06-25 10:10] lublak commented on #8470
@nadako hmmm you also can name a class field "AnyClass".
When do we use a field and when we use a class?
So there is the same problem for: use function name before class name?
use enum value name before class name?

[2019-06-25 10:19] Aurel300 commented on #8470
@lublak Does the diagram here answer some of your questions?

https://haxe.org/manual/type-system-resolution-order.html

[2019-06-25 10:23] lublak commented on #8470
@Aurel300 hmmm it would a better option if you can force the compiler to use a class type.

with std. you can force a top level type.
But if you have a type in a module (not the same name) it is impossible to access it. If you have a enumvalue with the same name or or field with the same name. or a static with the same name.

(Currently i dynamicly create a typedef with macros if i come to this po

[2019-06-25 11:31] lublak opened #8472 "Cannot resolve std.Module.AnyClass"
Like the titel says: It is currently impossible to resolve a sub class in a module with std.
`std.Module.AnyClass` => `Class<Module> has no field AnyClass`

I think if its not find any field it should look up the Types.
Like the documentations says: https://haxe.org/manual/type-system-resolution-order.html

https://github.com/HaxeFoundation/haxe/issues/8470

[2019-06-25 12:44] ovidiugabriel opened #8473 "`macro` keyword detected while inside a comment"
There is an issue using Haxe version: 3.4.4 (from try.haxe.org for example).

Actual: The compiler detects the word `macro`  inside a comment as being a macro related syntax.

Expected: I expected such syntax to be detected only outside comments. Please correct me if this expectation is wrong for Haxe context.

You can try it yourself: https://try.haxe.org/#a38bf

[code]

The compiler output is

[

[2019-06-25 12:45] nadako commented on #8473
This is a `try.haxe` specific issue. Haxe itself doesn't care about your comment contents :D

[2019-06-25 12:45] #8473 closed, assigned to nobody

[2019-06-25 12:48] ovidiugabriel commented on #8473
Ok, I understand. Is the source of try.haxe.org available on github?

[2019-06-25 12:49] nadako commented on #8473
Yep, see https://github.com/clemos/try-haxe/issues/55

[2019-06-25 15:06] nanjizal opened #8475 "Warnings do not take into account #if (haxe_ver <= 4.0 ), Low Priority Issue."
When I have errors irrelvant depreciated warnings clutter the output.

[code]
[code]
This is not relevant error and should not be reported ( ideally ), I know this is not high priority but raised since I am sure it could be very fustrating when debugging large codebases.

[2019-06-25 15:11] Simn commented on #8475
`<= 4.0` applies to every Haxe version currently available.

[2019-06-25 15:11] #8475 closed, assigned to nobody

[2019-06-25 15:17] nanjizal commented on #8475
Opps sorry :( my mistake.

[2019-06-25 18:57] RealyUniqueName commented on #5511
Not reproducible with the latest Haxe

[2019-06-25 18:57] #5511 closed

[2019-06-25 19:01] RealyUniqueName commented on #5486
Both samples are not reproducible with the latest Haxe

[2019-06-25 19:06] #5486 closed

[2019-06-25 19:28] #5475 closed

[2019-06-25 19:43] RealyUniqueName commented on #5336
With the lates dev Haxe that sample produces expected values:
[code]

[2019-06-25 19:43] #5336 closed

[2019-06-25 22:40] Ilir-Liburn opened #8477 "[HL] Dynamic from Float vs any other target"
[code]
HL looks better, it is strange to see value 1.5 and TInt type on other targets. Still, HL stands alone here. BTW, I tried to force TFloat using cast on the other targets, no success. Except adding some small fraction. While in case of HL, cast(value, Int) is working just fine to make type equal to other targets.

[2019-06-26 06:53] RealyUniqueName commented on #8477
It's specified like that. Because some of our targets (e.g. javascript) don't have separate types for floats and integers and the only way to detect float is by the fractional part.
And by changing `f` you don't get `test` changed because floats and integers are not passed by reference, but passed by value.

[2019-06-26 09:45] RealyUniqueName opened #8479 "`unify_min` ignores `@:to` and `@:from` fields"
Sample from https://github.com/HaxeFoundation/haxe/issues/5279#issuecomment-222106177
[code]
Lines, which make the difference depending on return type hint:
https://github.com/HaxeFoundation/haxe/blob/e24798614b516420614b92163e649643fedb642e/src/typing/typer.ml#L2213-L2221
The same happens for `try...catch` and `switch` expressions.
I tried to change `Type.unify` to take into account `@:from`/`@:t

[2019-06-26 09:51] RealyUniqueName commented on #5279
Original issue described in start post is about abstracts transitive casts. Let's track it here: #5997
For the second post I created a separate issue: #8479

[2019-06-26 09:51] #5279 closed

[2019-06-26 09:51] Ilir-Liburn commented on #8477
Yes, I made mistake in my code, this is correct one on JS

[code]

so by adding the fraction and then subtracting fraction, I can force Dynamic to be TFloat. I don't understand why is not Dynamic specified to be TFloat right away since every Int can fit into Float. And if it is specified like you say, why HL doesn't comply?

[2019-06-26 12:32] RealyUniqueName commented on #5256
@simn How about introducing `AccMono of var_access option ref ` similar to `TMono`?

[2019-06-26 12:55] filt3rek opened #8480 "haxe.Serializer and haxe.Unserializer"
Hej !

I often use haxe.Serializer and Unserializer with remoting and I sometimes get "Class not found " (without the class name) and it occurs when on server side there are mistakes but why does it send "hxrxcy0:g" please ?
Could it be some other informations or at least not the "Class not found" without any classname because it's confusing ?

[2019-06-26 13:06] Aurel300 commented on #8480
It's hard to say what's happening without a reproducible example. Based on the [serialisation format](https://haxe.org/manual/std-serialization-format.html), your string (fragment?) seems to have some exceptions in it - the `x` characters. Could it be that your serialisation code is throwing errors? As for the class not found, it really cannot tell you anything else – the `cy0:` part literally mea

[2019-06-26 13:08] RealyUniqueName commented on #5207
It's because `Context.typeExpr()` stops at `PBuildClass` build pass, but constraints checks are delayed till `PCheckConstraint`.
Idk what can be done here. @Simn ?

[2019-06-26 13:13] filt3rek commented on #8480
Thanks for your answer !
It's not a fragment it's the whole string. And yes I saw it means exception, class, "". But I get this always from server side when an error occurs (not linked at all with any class...)

[2019-06-26 13:24] filt3rek commented on #8480
Here the problem was an exception trying to get a property on null on server side...

[2019-06-26 13:46] Simn commented on #5207
I don't know if we can fix this in the general case. We could simply not delay the type parameter checks if there are no monomorphs involved, but that might lead to some weird inconsistencies in some cases.

[2019-06-26 13:49] Simn commented on #8480
This must be something wrong in your serialization code. As @Aurel300 says, there's nothing the deserializer can do with the information available to it.

I'm gonna have to close this unless you manage to provide some code which suggests this to be a Haxe problem.

[2019-06-26 13:49] #8480 closed, assigned to nobody

[2019-06-26 13:51] Simn commented on #8479
This is similar to the operand discussion. I really don't know if implicit casts should be applied in cases like this. This would probably turn out to be an ambiguous mess .

[2019-06-26 15:20] KenshiK opened #8481 "[Flash] Some functions create errors when used"
Hello everyone,
I come to you to signal that when using Haxe and translating it to a swc file, some functions return an error.
For instance when I try to use Data.now() I receive the error
`[Fault] exception, information=TypeError: Error #1006: now is not a function.`

I have the same problem with functions filter and map in arrays.

Any idea how to deal with this ?

[2019-06-26 15:31] Simn commented on #8481
Please provide some code which reproduces the problem.

[2019-06-26 15:38] nadako commented on #8481
This is probably a case of `haxe.initSwc` not being called at the very beginning, because Haxe Flash target uses some prototype patching that is done when you call that method.

Please confirm if adding `haxe.initSwc(yourMainMovieClip)` helps.

[2019-06-26 15:38] KenshiK commented on #8481
It happens every time I call the function in the final swc file wherever I put the call to the function.

`public static function main(): Void
    {
        var t = Date.now();
    }`

EDIT : I will try `haxe.initSwc(yourMainMovieClip)` but as I am working in a really complex environment I might not be able to access it

EDIT 2 : So... I do not have a main movie clip. We are using DisplayObjects a

[2019-06-26 17:35] RealyUniqueName commented on #5205
Emits "You can only declare from/to with compatible types" with the latest dev Haxe

[2019-06-26 17:41] #5205 closed

[2019-06-26 18:24] #5168 closed

[2019-06-26 19:07] RealyUniqueName commented on #5078
We can transform `s.toLowerCase` and other string methods to `function() { return s.toLowerCase(); }`. That will not help with comparing such closures, but at least it won't fail at runtime.

[2019-06-26 19:14] RealyUniqueName commented on #5008
Not reproducible with the latest dev Haxe

[2019-06-26 19:14] #5008 closed

[2019-06-26 19:16] RealyUniqueName commented on #4947
Not reproducible anymore

[2019-06-26 19:16] #4947 closed

[2019-06-26 19:24] #4934 closed

[2019-06-26 19:28] RealyUniqueName commented on #4856
Doesn't hang anymore:
[code]

[2019-06-26 19:28] #4856 closed

[2019-06-26 19:32] RealyUniqueName commented on #4790
Fixed with #8410

[2019-06-26 19:32] #4790 closed

[2019-06-26 19:32] #5241 closed

[2019-06-26 19:33] #5434 closed

[2019-06-26 22:16] RblSb opened #8483 "Cannot redefine StringTools"
[code]
`Type name StringTools is redefined from module StringTools`

[2019-06-26 22:46] Aurel300 commented on #8483
This is not a Java-specific issue.

[2019-06-26 23:56] RblSb opened #8484 "[java] indexOf not found for Dynamic"
[code]
`Exception in thread "main" Haxe Exception: No compatible method found for: indexOf`

[2019-06-27 00:22] Ilir-Liburn commented on #8484
You have to cast asset.name

[code]

because {name: ""} turns fields into Dynamic. You can fix that like this (without using cast)

[code]

[2019-06-27 00:28] Ilir-Liburn commented on #8483
StringTools is a standard type, use static extension

[code]

[2019-06-27 00:41] RblSb commented on #8484
Thanks, i know it. My issue about that current code probably should works. If this is not specified i'm fine.

[2019-06-27 00:56] Gama11 commented on #8483
What's the point of extending StringTools there? Static fields are not inherited.

[2019-06-27 00:58] Ilir-Liburn commented on #8479
It works by casting (getAbstract():Int) as it should. I don't understand why someone expects unification here, while MyAbstract can have @;to on many places returning variety of types. It should unify because getInt() returns Int? I don't think so.

[2019-06-27 00:59] Gama11 commented on #8484
Seems similar to https://github.com/HaxeFoundation/haxe/issues/3330#issuecomment-69922247.

[2019-06-27 01:04] Ilir-Liburn commented on #8483
No point. Just standard procedure if extended type have some fields ready to be accessed.

[2019-06-27 02:22] ncannasse commented on #8481
You can try using a new MC, it will only affect flash.Lib.current value in Haxe code.

[2019-06-27 02:22] #8481 closed, assigned to nobody

[2019-06-27 02:25] ncannasse commented on #5078
If we generate a single function toLowerCase(s) { return s.toLowerCase(); } and use $bind, we might get the closure comparison to work maybe ?

[2019-06-27 02:33] ncannasse commented on #8483
We should either close this or improve the error message, for instance
"Type name StringTools is already defined in standard library"

But it's tricky because we might end up defining the custom StringTools (or another custom type) before we do include it from the std lib.

[2019-06-27 05:13] Simn commented on #8483
I'm confused, why doesn't this simply shadow std/StringTools?

[2019-06-27 05:20] kLabz commented on #8314
JsonParser generates `Array<Dynamic>` for every array, and I suppose Unserializer works in a similar way. As Nicolas said, casting the array make it loose reference here..

The only thing my PR changed was that this now applies to `Array<String>` **too** (since before, `String` was used as `object` it did not have to to any cast from `Array<Dynamic>`).

Does this make this issue a "duplicate" of #

[2019-06-27 05:22] kLabz commented on #8483
Because it's not in StringTools.hx but in another top-level module?

[2019-06-27 05:26] Simn commented on #8483
Right, they are referenced differently... In that case I agree there's nothing to fix here.

[2019-06-27 05:26] #8483 closed, assigned to nobody

[2019-06-27 05:27] Simn commented on #8314
Yes it probably is, but this still means that we're dealing with an unfortunate regression now...

[2019-06-27 05:30] RblSb commented on #8483
This does not work independently of the module package. Can you explain please? Also this shadowing works for js/cpp for example.

[2019-06-27 05:53] kLabz commented on #8314
Well there's already the issue with other basic types (the above example fails too (and failed with 3.4.x, rc1 and rc2) with `Array<Int>` and probably with anything other than `Array<Dynamic>`)

[2019-06-27 05:54] nadako commented on #8314
I don't know, #2103 was there for ages and this is just an instance of that. Yes, technically it's a regression for `String` parameters, but if we use some other basic type, the problem will be there on earlier versions too.

In my previous project I worked this around by using `-D erase-generics`, although since then I realized that we're actually trying to assign `Array<Dynamic>` to `Array<Other

[2019-06-27 06:04] RblSb commented on #8483
Probably you mean how code is generated with `_Module` package on some targets.
[code]
I think this can be fixed with full paths access / renaming on compilation or blocking such behavior for all targets.

[2019-06-27 06:06] Simn commented on #8483
The problem is that your StringTools is "hidden" inside another module, so any reference to `StringTools` would not pick it up. This means that resolution from Main would reference Main.StringTools, whereas from anywhere else it would pick up std/StringTools.

[2019-06-27 06:28] RblSb commented on #8483
Sorry, don't get it... My example is in one file/module `Main`, there is no `StringTools` module, as error says. You say that `StringTools.contains` call works like `Main.StringTools.contains` inside of `Main.hx`. That's true, and it works without errors http://try-haxe.mrcdk.com/#1A4d3
Or you describe generated code behavior?

[2019-06-27 06:31] Simn commented on #8483
Imagine you're some/module/Somewhere.hx and you reference `StringTools`. What would you get? It would be the StringTools.hx in std because that's the only one you see, right?

[2019-06-27 06:40] RblSb commented on #8483
Right! Even if there is some/StringTools.hx, top-level classes is first. But how about some/Module.StringTools?

[2019-06-27 06:43] Simn commented on #8483
I don't think that's true, class paths are checked bottom-up (edit: that's confusing terminology... they are checked from the deepest path upwards).

That depends. If some/Module.hx is typed first, then the StringTools type would be known. However, if not, the type would not be seen by the resolution. The type loader doesn't check every module it comes across to see if it happens to contain the ty

[2019-06-27 06:46] kLabz commented on #8483
This should work as long as `Module` is in any package that is _not_ top level. When `Module` is top level, you are defining `Module.StringTools` but `StringTools` will have a package of `[]` and will conflict with the std one.

Your Main inside `src/some/Main.hx` with `-cp src` will compile (even to java).

[2019-06-27 06:54] RblSb commented on #8483
Oops, messed up that js.Date case, yeah, types checked from the deepest :)
I guess if i will check js/ccp without try.haxe/dependencies i will get same error then. Sorry again and thanks for explanation!

[2019-06-27 08:09] RealyUniqueName commented on #4649
Not reproducible with latest Haxe

[2019-06-27 08:10] #4649 closed

[2019-06-27 08:19] filt3rek commented on #8480
Hej Simn,

I've found the error, it comes form hx3compat, remoting, HttpConnection.hx : https://github.com/HaxeFoundation/hx3compat/issues/12

[2019-06-27 08:33] #8187 closed, assigned to nobody

[2019-06-27 08:33] RealyUniqueName commented on #8484
Yeah, let's not add more hacks to support Dynamic. Instead you are encouraged to properly type your code.

And because of the comment referenced by Gama11 I'm closing this.

[2019-06-27 08:33] #8484 closed, assigned to nobody

[2019-06-27 08:53] RealyUniqueName opened #8485 "[cpp] `this++` in inlined abstract method doesn't increment on CI"
I had to disable the test for #4649 (https://github.com/HaxeFoundation/haxe/commit/c16d2a69c3d1f79c5d98a39702413b5d05c963a6)
[code]
https://dev.azure.com/HaxeFoundation/GitHubPublic/_build/results?buildId=109&view=logs&s=f9470183-172f-5c6e-886f-44d8edfa16d2&j=10654482-0d50-5bac-d18d-e5edded7ece7
Locally generated code looks like this:
[code]
I have no idea why does it not work on CI.

[2019-06-27 09:00] RealyUniqueName commented on #5078
Yes. Then we need to add a test to check, which platforms need a similar patch.

[2019-06-27 13:35] nadako opened #8486 "Date.set* methods"
I'm wondering if there's a reason why Haxe `Date` API does not provide mutating methods like `setYear`, `setMonth`, etc. I quickly checked that JS and Flash both provide these and on other targets we provide our own implementations, so it should be possible to implement in a clean way.

If there are no objections, I could work on this.

cc @ncannasse

[2019-06-27 14:00] hughsando commented on #8379
I'm not sure there is a problem here.
For starters, the slash-r in the example is a bit confusing - is it needed to illustrate the issue?
On windows if you do: `printf("foo\n");`  you get 5 characters.  Crap as this might be, this is standard behaviour - ie text mode by default.  And if it not supposed to be text mode, why put all the slash-rs back in?  The should just be slash-n.

[2019-06-27 14:11] Simn commented on #8379
I don't find turning "\r\n" into "\r\r\n" when printing an acceptable default behavior.

[2019-06-27 14:14] Aurel300 commented on #8379
@simn I think Hugh is suggesting just going with `\n` on Windows as well.

As much as I hate it, CRLF is a convention on Windows platforms and `Sys.println` should output a CRLF-style linebreak when outputting to stdout. The problem is in situations like in the OP, where the input could come from another program (that is how I spotted it in the Unicode tests in the first place). Most importantly,

[2019-06-27 14:23] back2dos commented on #8486
Hmm. Until recently, I've considered dates immutable and kinda liked it that way. That's not to say that I'm totally against, because I can always define an immutable date type. At the same time turning a core type into something mutable is nothing to be sneezed at, because all code written against the assumption that it's consuming/returning/exposing something immutable now has this assumption br

[2019-06-27 14:25] Aurel300 commented on #8486
A mild compromise would be to have the `set*` methods return a new instance, wasteful as it is.

[2019-06-27 14:27] nadako commented on #8486
OK, let's not dive into this now. I kind of need this because of some AS3 code I'm converting to Haxe, but there are ways to work this around.

[2019-06-27 14:27] #8486 closed, assigned to nobody

[2019-06-27 14:43] nadako commented on #7816
took me an hour to find out that I wrote `if(sdk.isLoggedIn == null)` somewhere, where isLoggedIn  is Bool with getter function.. No coffee can save me today (edited)
I changed the implementation of get_isLoggedIn about ten times

clearly this is a breach in our null-safety :D

[2019-06-27 15:16] hughsando commented on #8379
Well, it is really only, and always, turning "\n" into "\r\n".  This is the whole difference between fopen(name,"r") and fopen(name,"rb") - 50 years of legacy catching up with us.  We most certainly do not want to explicitly add the "\r", because this does not allow is to ever get rid of them.  I think the solution you are after is to set  the output mode to binary (on request).

[2019-06-27 15:46] Aurel300 opened #8488 "Argument skipping hides type error"
[code]

Fails with:

[code]

The actual error is the `_ => "3"`, trying to match `Int` against `String`. That fails so it tries to unify the function with the second argument, which is where the errors come from, I believe.

If I make the first argument mandatory, the (correct) error is:

[code]

[2019-06-27 16:14] fullofcaffeine commented on #8486
@nadako Would you mind elaborating here on what the workarounds are? For future reference.

[2019-06-27 16:24] nadako commented on #8486
It's of course hacky, but I'm thinking about having a static extension that provides missing methods like this:

[code]

[2019-06-27 16:38] RobDangerous commented on #8220
Want to point out the utter viciousness of this issue, it semi-randomly injects hard to find bugs into the code.

[2019-06-27 16:48] nadako opened #8489 "`Recursive inline is not supported` is too restrictive"
The following gives `Recursive inline is not supported`, but I don't understand why. We're not calling it immediately, so it's not a case of recursive inlining, and the function is not `extern inline`, so it can be generated, so we can have a reference to it. Am I missing something?

[code]

[2019-06-27 17:04] nadako commented on #8220
Ouch, this is bad, would be nice to fix for 4.0. Probably some missing case in some gencommon filter :)

The AST is interesting too: the `-height` unop is `Float`, but `height` itself is `Int`.
[code]
althought if we change it to `1 / height`, then we get this (and it also works correctly):
[code]

[2019-06-27 17:49] #6226 closed

[2019-06-27 17:52] aartzrc commented on #8314
After reading through previous issues related to this it looks like covering all scenarios on static targets is very difficult. The balance between maintaining runtime efficiency (cast to a specific type) and code flexibility+reference integrity (never cast and keep all arrays dynamic) is tricky.

Internally we use `typedef`s for everything and only use reflection to handle data migration from a p

[2019-06-27 17:58] #6340 closed

[2019-06-27 18:08] RealyUniqueName commented on #8488
This is also related to #8476 because `Unknow identifier : _` error is issued during testing the arrow function against the second argument and since it fails all errors emitted by that test should be discarded.

[2019-06-27 18:34] #8488 closed, assigned to nobody

[2019-06-27 19:11] nadako commented on #8314
Yeah, that's exactly what I'm talking about - you either have a type-aware parser (like `tink_json`) that knows what type to create, or you post-process the dynamic data. Your quick solution is good enough for your case I guess and you can macro-generate the code that does this reassigning, that's a nice macro exercise :)

Another idea for experimenting is hack into `haxe.format.JsonParser` and ma

[2019-06-27 19:45] RealyUniqueName commented on #4639
This also applies to other types. E.g. classes:
[code]
[code]
Such fields should be renamed upon generation. But that will make dynamic access a runtime exception for such fields.

[2019-06-27 22:58] kigero opened #8490 "InflateImpl Slow on Python"
I've noticed that the haxe.zip.InflateImpl class seems extremely slow when compiled for the Python target compared against the same code compiled for say Java or C++.  I've written a [small test class](https://github.com/HaxeFoundation/haxe/files/3336904/ZipTest.txt) which can unzip a file to a directory - here are the times that I'm getting against a few targets for the [Haxe 4.0.0-rc2 windows](h

[2019-06-27 23:05] Ilir-Liburn commented on #8489
[code]

[2019-06-27 23:16] nadako commented on #8489
@Ilir-Liburn what's your point? of course there are ways to go untyped, but I think my example should work.

[2019-06-27 23:20] Ilir-Liburn commented on #8489
At first sight, it is visible you are creating recursion there. What do you think what should happen there?

[2019-06-27 23:25] nadako commented on #8490
Well one thing I can see by the generated code is that there's no efficient `BytesBuffer` implementation on the Python target, so it uses `Array<Int>` (aka Python `list`) under the hood, which is horrible and could be a big part of the problem.

[2019-06-27 23:28] nadako commented on #8489
I think it should compile, because `call` could as well be some delayed call mechanism (e.g. event listener registration or something).

[2019-06-27 23:32] nadako commented on #8490
Besides fixing `BytesBuffer` we should add extern definitions for the [zipfile](https://docs.python.org/3.5/library/zipfile.html) module and look into re-using this for `haxe.zip`.

[2019-06-27 23:48] Ilir-Liburn commented on #8489
And what is a purpose of fun function? It looks like a caller to listener with callback.

[2019-06-28 08:09] #4639 closed

[2019-06-28 09:24] nadako opened #8491 "[jvm] VerifyError in a specific pattern matching"
on Java with `-D jvm` and `-D analyzer-optimize`, the following code

[code]

gives a run-time error

[code]

the AST looks like this:

[code]

this suggests that it tried to use the `indent` constant to match against, instead of a capture var, which is I guess is fair enough, but then the match is not exhaustive, so it should fail at Haxe compilation, right?

[2019-06-28 09:28] nadako commented on #8491
Probably a duplicate of #8277?

[2019-06-28 09:44] SlavaRa opened #8492 "[Haxe4-rc.3] Trojan:Win32/Fuery.C!cl"
Windows defender message:
Trojan:Win32/Fuery.C!cl
Alert level: Severe
Status: Removed
Date: 6/28/2019 12:41 PM
Category: Trojan
Details: This program is dangerous and executes commands from an attacker.
Affected items: file: C:\Users\User\Downloads\haxe-4.0.0-rc.3-win64.exe

[2019-06-28 13:09] ncannasse commented on #8492
This is most likely a false positive.

[2019-06-28 15:41] nadako opened #8493 "[flash] need a way to create Class values of specific flash.Vector types"
Subj. Just need an issue number for tests :)

[2019-06-28 15:50] #8493 closed, assigned to nadako

[2019-06-28 17:06] hoseyjoe commented on #8314
Isn't this an issue for all static targets including Hxcpp and Hashlink (It is not labeled for those)?  Maybe those 2 have a workaround already? It would be better to have fix in the core vs each static target having its own fix.

[2019-06-28 17:57] kLabz commented on #8314
HL should have been fixed last month, I don't know about cpp. The general issue is tracked in #4872

[2019-06-28 18:36] #4623 closed

[2019-06-28 18:54] posxposy commented on #7199
I know you guys very busy, so I'm ready to donate $50 to get `@:nativeGen` fix (for interfaces, as you said) :)
By PayPal if possible. Or by any crypto coin.
And would be nice to disable it on classes (to avoid compilation errors if you also targeting Java or C#).

I hope someone will join for these donations too.

[2019-06-28 20:42] #4598 closed

[2019-06-28 20:45] nadako commented on #5080
It's quite insane, here's what we generate for `BytesInput.readByte`

[code]

source:
[code]

no wonder anything that works with bytes like #8490 is super-slow

[2019-06-28 21:02] RobDangerous opened #8494 "@:native things break when using HXCPP_GC_GENERATIONAL"
Here's a piece of code that breaks:
[code]
Tested with Haxe4rc3. Compiles fine normally but when using HXCPP_GC_GENERATIONAL it creates a _hx_set_something method which can not compile because it tries to access an mPtr member of the native thing (in this case an int). The assign in test() creates a call to that function.  Interestingly it does not create calls in the __Field/__SetField methods.

[2019-06-28 22:41] Ilir-Liburn opened #8496 "Destructuring"
[code]

Is there a possibility to keep destructuring after reassignment? Above code will turn everything into dynamic object although m1 is not referenced.

[2019-06-29 05:19] ghost commented on #8064
sa

[2019-06-29 06:40] RblSb commented on #8040
1,5x slower is still better that 10x. I think the only way to archive same array access performance is changing api to `Vector.new(length:Int, ?defautValue:T)` and do `this = [for(_ in 0...length) defautValue];` in constructor. That slowdown because of array nullability.

[2019-06-29 06:49] RealyUniqueName commented on #8496
I don't understand your question.
Everything is typed as expected: http://try-haxe.mrcdk.com/#42e78 (see "Compiler output" tab)

[2019-06-29 06:51] Simn commented on #8496
It's about inlining both structure declarations. I'm not sure how artificial this is but I also don't immediately see why this wouldn't work.

@basro Do you think that would be possible?

[2019-06-29 06:57] Simn commented on #8491
It is indeed.

[2019-06-29 06:57] #8491 closed, assigned to nobody

[2019-06-29 07:00] Simn commented on #8492
Will be handled as part of #7720.

[2019-06-29 07:00] #8492 closed, assigned to nobody

[2019-06-29 07:02] Simn commented on #8485
Setting this to 4.0 as it seems bad.

[2019-06-29 07:08] Simn commented on #8451
This requires some design. Mostly because it's not even clear if a deleted/added file is even relevant with regards to class path resolution.

Actually, I don't think we'd need moduleDeleted because that should be the same as invalidate, right?

[2019-06-29 07:14] RealyUniqueName commented on #8040
I like the idea. And I think we can do it for 4.0

[2019-06-29 07:17] Simn commented on #8489
Yeah there's something wrong in the compiler. `acc_get` changes behavior based on the expression of the function in its `AKInline` case, but I don't think it should. The two significant cases here should be between the class field being a `Method` or a `Var`, because in the former case we don't have to care about the expression at all (we can just `TField` it because what else would we do).

[2019-06-29 07:25] Simn commented on #8040
That's crazy talk... and let's keep this at 4.1.

[2019-06-29 07:32] Simn commented on #8425
To the compiler, this is basically a transitive cast because we go B to Dynamic to A. But I agree this looks stupid in context of what works.

I'll fix it, but we'll have to see if this creates a type-hole somehow. Then again, Dynamic is pretty much a designed type-hole, so I guess it's fine...

[2019-06-29 07:38] #8425 closed, assigned to Simn

[2019-06-29 08:26] Gama11 commented on #8451
Hm, right, I guess the compiler would notice that the file doesn't exist anymore when invalidating a deleted file...

[2019-06-29 08:32] Simn commented on #8451
I think the most straightforward way to implement moduleAdded is to invalidate all types (not just modules) that live in a module with the same name. It's a bit brute-force but I struggle to see how we would handle type resolution in the general case otherwise.

[2019-06-29 09:46] RealyUniqueName commented on #4481
I've fixed for Java, but had to disable the test for JVM for now. It has the same issue.

[2019-06-29 09:48] Simn commented on #4481
I still don't really understand why we're suddenly specifying this... But I also don't want to be the only target where this fails, so whatever.

[2019-06-29 10:10] nadako commented on #8040
That doesn't look like a huge change that would break a lot tho.

[2019-06-29 10:13] nadako commented on #8490
I did some changes that should help with byte reading/writing, so it's faster now, but it's still super-slow.

[2019-06-29 11:31] kevinresol commented on #4481
This still fails on python

[code]

[2019-06-29 11:40] Simn commented on #4481
On Java it also still fails with `case "":`. The reason is that it has a hashCode of 0, so the case actually matches but then fails on the subsequent `equals` check.

[2019-06-29 12:58] RealyUniqueName commented on #4479
Overload check in `can_access` is just a hack to always allow access on overloaded fields despite their access modifiers (`in_overload` is always `false`):
https://github.com/HaxeFoundation/haxe/blob/19167a20e9daa6060e5c5b7e7852b482fb1a5c43/src/context/typecore.ml#L328-L330
That hack should be removed.
Instead we should pick correct overload and pass it to `check_constructor_access` here:
https://

[2019-06-29 13:03] RealyUniqueName commented on #4481
I took this implementation as a reference: https://docs.oracle.com/javase/7/docs/api/java/util/Objects.html#hashCode%28java.lang.Object%29
But apperantly that's not enough for strings.
We need to generate a jump to default case (if it exists) in case of `null`

[2019-06-30 06:31] RealyUniqueName commented on #4479
[code]
@Simn probably a 4.0 priority?

[2019-06-30 06:41] Simn commented on #4479
It's a bit dumb but doesn't strike me as mega-urgent. But if you want to look into it, sure.

We should rewrite `can_access` to something sensible for 4.1 or so.

[2019-06-30 13:41] nadako opened #8497 "[cs] issues with Dynamic type parameters on interfaces"
[code]

---

`C` gives this native compilation error:
[code]
because it generates
[code]
while `I<object>.f` is required to return `I<object>`, not `I`

---

and `C2` gives this:

[code]

which is a similar error (using `I` instead of `I<object>`), just the `f` is not using explicit interface implementation, so the error message is different.

---

What I don't quite understand yet is why generate

[2019-06-30 13:44] nadako commented on #8497
(this is NOT a regression - same result on 3.4.7)

[2019-07-01 00:05] Ilir-Liburn commented on #8496
Here is a workaround which copies one structure to another (unnecessary slowing down)

[code]

[2019-07-01 05:17] Simn commented on #8496
Dude pls, my eyes...

[2019-07-01 05:21] #8489 closed, assigned to Simn

[2019-07-01 06:31] #8277 closed, assigned to Simn

[2019-07-01 07:25] kLabz commented on #8497
Note: works fine if `I` is `@:nativeGen`

[2019-07-01 07:36] Ilir-Liburn commented on #8496
Yeah, that is how eyes of the newcomer to Haxe might look a like after looking at the generated code. Which is only showing there is a potential for optimization, Even copy would be sufficient if there is no direct assignment. Furthermore, there is a hint to compiler in a structure to directly use toString() for the trace, yet even trace will force dynamic structuring.

[2019-07-01 07:36] #8496 closed, assigned to nobody

[2019-07-01 08:45] Simn commented on #7032
Note that this currently doesn't deal with the `p = 10` case, only `?p = 10`. This is a bit of a mess on static targets so I would like to think about it some more.

[2019-07-01 09:56] Simn commented on #8342
Right, that's a bit of a poor implementation...

[2019-07-01 10:17] #8396 closed, assigned to Simn

[2019-07-01 10:17] Simn commented on #8396
Note that it's hiding the enum abstract field instead of the class field because that's how resolution prioritizes.

[2019-07-01 10:35] Simn commented on #8381
Fixed, don't know how to add a test for it...

[2019-07-01 10:40] Simn commented on #8380
I have no idea what we can do here... I've noticed before that spamming sys.io.Process is a bad idea.

[2019-07-01 10:49] Simn commented on #8369
This is a variant of #3663.

[2019-07-01 11:08] Simn commented on #8171
The underlying problem here is that EitherType has `to T1 to T2` which makes it unify in this direction. I'm not sure if we could just change that...

[2019-07-01 11:23] Simn commented on #8485
@Aurel300 noticed that this is actually cppia failing, not cpp.

[2019-07-01 11:58] Simn commented on #8367
This is pretty much superseded by #8426, but I just 4.1ed that due to gencommon cancer. Feel free to 4.1 or close this one as well if you don't want to look into it for HL at the moment.

[2019-07-01 13:03] Aurel300 commented on #8379
Ok, after some discussion with @hughsando:

## Current system

Currently, stdout and stderr are open in text mode on Windows. This makes `Sys.println("a\nb");` work "as expected", i.e. `a<CR><LF>b` is output. However, `Sys.println("a\r\nb");` outputs `a<CR><CR><LF>b`, which is problematic when the string comes from a subprocess.

## PR HaxeFoundation/hxcpp#820

In the PR I switched stdout and stde

[2019-07-01 15:16] Simn commented on #8148
Any reason your fix never made it to development?

[2019-07-01 15:19] Simn commented on #8100
@andyli Is there anything from the azure pipelines config that we could expose here?

[2019-07-01 15:34] nadako commented on #8148
I think it was about the old display protocol that would potentially break if we just change the printing.

[2019-07-01 15:35] Simn commented on #8148
So this is a wontfix or what?

[2019-07-01 15:41] nadako commented on #8148
As said in #8161, we either break it (maybe it won't break if non-vscode IDEs don't depend on that) or have two different variants for printing: one for display API and one for everything else.

[2019-07-01 15:56] #7404 closed, assigned to Aurel300

[2019-07-01 17:30] RealyUniqueName commented on #8171
Shouldn't we check that the argument of the closure is compatible with every `to` of the abstract?

[2019-07-01 17:32] RealyUniqueName commented on #8485
Maybe merge this PR and create an issue for cppia?

[2019-07-01 17:40] Simn commented on #8171
Is that even possible? If that was the case then we wouldn't need the abstract in the first place...

[2019-07-01 17:44] RealyUniqueName commented on #8379
I'd say it doesn't break `Sys.println("a\nb");` but fixes it. E.g. I always explicitly type `\r\n` when I want windows-style line endings.

[2019-07-01 17:46] #7922 closed, assigned to Simn

[2019-07-01 18:08] RealyUniqueName commented on #8171
Probably possible in some rare situations with similar abstract. E.g. `Either3<T1,T2,T3>`

[2019-07-01 22:09] RealyUniqueName opened #8501 "[php] `fn` is a php keyword since 7.4"
Need to add it to the list of keywords for genphp7

[2019-07-02 01:38] waneck opened #8502 "[cppia] Classes that use Float32 cannot be overridden correctly"
The following gist https://gist.github.com/waneck/4dbe2e8a59128a5228c26f0f17106894

produces the following result:
[code]

While the following would be expected:
[code]

This seems to happen because in the scriptable object definition, the following is set:
[code]
While I believe it should have been ctx->pushFloat instead

[2019-07-02 01:47] waneck commented on #8502
Also very weirdly - running this code without the `-debug` flag in the cppia compilation makes the runtime fail with
```Error : Error reading file Bad class type, line 26, char 9```

[2019-07-02 07:09] Simn commented on #4481
Indeed. I should actually be able to do that on JVM, but it's still quite annoying to fix. We also have to consider that there might not be a `default` case for block-level switches, in which case we have to jump to the end of the switch...

[2019-07-02 08:03] Simn commented on #4481
Fixed JVM.

[2019-07-02 09:57] #4481 closed

[2019-07-02 11:41] #7650 closed, assigned to nobody

[2019-07-02 11:51] basro commented on #8496
@Simn I think it conflicts with supporting multiple aliasing variables for the same inlined object.
[code]

@Ilir-Liburn why not use a new variable instead of the untyped magic?

[code]

[2019-07-02 12:55] #7327 closed

[2019-07-02 13:18] #7326 closed

[2019-07-02 13:34] #7328 closed

[2019-07-02 13:35] Simn commented on #7328
Last time I looked at this issue, I thought it was the most complicated problem mankind ever had to solve. Now I accidentally fixed it with the previous commit...

[2019-07-02 15:04] Simn commented on #7053
Wow this issue is a mess... any idea what was left to do here?

[2019-07-02 15:26] #7223 closed

[2019-07-02 15:28] Simn commented on #7137
I'm not sure if this can be fixed given that large parts of toplevel completion are syntax-based and this kind of filter would require unification...

[2019-07-02 15:29] Simn commented on #7245
wtf did I say here...

[2019-07-02 15:32] Simn commented on #7245
Ooh it's supposed to be **leave**...

[2019-07-02 15:40] Simn commented on #7279
I guess we track this in #8368 now.

[2019-07-02 15:40] #7279 closed

[2019-07-02 15:51] Simn commented on #7282
This is easy to fix but requires syncing with vshaxe which I currently cannot compile.

[2019-07-02 15:59] #8501 closed, assigned to RealyUniqueName

[2019-07-02 17:08] Simn commented on #4066
I think we can close this.

[2019-07-02 17:08] #4066 closed

[2019-07-02 17:18] Simn commented on #4435
@haxiomic Can we close this?

[2019-07-02 17:19] Simn commented on #4492
This has been addressed in the unicode wars.

[2019-07-02 17:19] #4492 closed

[2019-07-02 17:26] Simn commented on #4513
This doesn't reproduce anymore.

[2019-07-02 17:26] #4513 closed

[2019-07-02 17:33] Simn commented on #4774
@Aurel300 Could you check the status here?

[2019-07-02 17:34] Simn commented on #4773
Addressed by #8135.

[2019-07-02 17:34] #4773 closed

[2019-07-02 17:38] Simn commented on #4914
This doesn't reproduce anymore. I don't know why, but let's quickly close it before it comes back.

[2019-07-02 17:38] #4914 closed

[2019-07-02 17:52] Simn commented on #6736
Does this still reproduce?

[2019-07-02 18:16] Simn commented on #5506
This works now.

[2019-07-02 18:16] #5506 closed

[2019-07-02 18:23] nadako commented on #5506
OMG there already was an issue about this from 2016, by me, haha

[2019-07-02 18:27] Simn commented on #5761
@haxiomic I'm co-assigning you here because you know something about JavaScript!

[2019-07-02 18:36] Simn commented on #5974
Both the original example and nadako's reduction don't reproduce the hang anymore.

[2019-07-02 18:36] #5974 closed

[2019-07-02 18:36] nadako commented on #5761
It was removed in cdb468bd090d52df9057741163b69ee563dbe296

[2019-07-02 18:36] #5761 closed

[2019-07-02 18:38] Simn commented on #6091
This works fine on development.

[2019-07-02 18:38] #6091 closed

[2019-07-02 18:45] Simn commented on #6124
Per #6972, there is nothing to fix here.

[2019-07-02 18:45] #6124 closed

[2019-07-02 18:50] Aurel300 commented on #4774
The Unicode tests make heavy use of `sys.io.Process`, but all the uses are rather similar. It might be best to have a separate test suite for all process-related things.

[2019-07-02 18:52] Simn commented on #6153
This now generates `var MyGenericClass_$_$34_$Hello_$32_$World_$34_$`.

[2019-07-02 18:52] #6153 closed

[2019-07-02 18:58] Simn commented on #4774
I'm mostly interested in the documentation being somewhat accurate.

[2019-07-02 19:04] Simn commented on #6461
#8135

[2019-07-02 19:04] #6461 closed

[2019-07-02 19:06] Simn commented on #6566
By now this is covered by various other tests.

[2019-07-02 19:06] #6566 closed

[2019-07-02 19:07] Simn commented on #6564
Let's consider it reviewed.

[2019-07-02 19:07] #6564 closed

[2019-07-02 19:08] Simn commented on #6489
@Aurel300 Could you check that?

[2019-07-02 19:12] Simn commented on #6420
The question here is if we only want to avoid that `return` in the `return void` case or if we always want to remove redundant returns, even if written by users.

[2019-07-02 19:16] Simn commented on #6567
Does anyone know what the status is here? We fixed some related things.

[2019-07-02 19:18] Aurel300 commented on #6489
Can confirm this still fails on neko, cpp, HL.

[2019-07-02 19:25] Simn commented on #6626
The original PR unfortunately has conflicts, so I cannot check if it works.

[2019-07-02 19:26] Simn commented on #6630
I confirm this is still an issue on hxcpp.

[2019-07-02 19:28] Simn commented on #6636
This would have to go through an haxe-evolution, but I don't think we have any plans to add more magic methods like that.

[2019-07-02 19:28] #6636 closed

[2019-07-02 19:31] Simn commented on #6647
@RealyUniqueName Does this still error for you? It doesn't for me, but the generated line is the same so it might be a Windows thing.

[2019-07-02 19:32] nadako commented on #6420
fwiw we remove some of them already due to CFG building and unreachable blocks

[2019-07-02 19:34] Simn commented on #6420
That's not specific to `return` though, it just prunes dead code (which is actually necessary for some targets).

[2019-07-02 19:35] RealyUniqueName commented on #6647
Still error:
[code]

[2019-07-02 19:37] Simn commented on #6867
#7720

[2019-07-02 19:37] #6867 closed

[2019-07-02 19:52] Simn commented on #6931
I'll admit that the examples look quite clean... but there's still the `|` problem and nothing we can do about it.

[2019-07-02 19:55] Simn commented on #6918
I'm making an executive decision to not support IE8. \o/

[2019-07-02 20:16] #4945 closed

[2019-07-02 20:16] #7108 closed

[2019-07-02 20:18] Simn commented on #7011
I think we can close this.

[2019-07-02 20:18] #7011 closed

[2019-07-02 21:05] haxiomic commented on #4435
I think @aduros's idea is a good approach – let's add a new field to `js.Browser` to represent the global scope in a worker context

Created PR #8505

[2019-07-02 21:31] Ilir-Liburn commented on #8496
@basro, at first, I'm trying to look at things from a view of the Haxe newbie, For example, your example m2 = m1, will create only m2 inline (m1 will not be generated), but right after you reassign m1, everything turns into dynamic . While it is clear that m2 should be inline m1, and m1 should be inline reassignment in this case. It is confusing even for more experienced users.

Why not a new vari

[2019-07-02 21:46] Ilir-Liburn commented on #8496
From my perspective, structure should be dynamic only if it is referenced (sent to another scope or stored in some array, etc.). And even then, inline structure could turn into dynamic only in place of reference (call to other function, trace, or push to array, etc.)

[2019-07-03 00:37] Ilir-Liburn commented on #8496
So, in a nutshell, confusion comes from this

[code]
which generates (Java)

[code]

m1 is not generated, and m2 contains copy of m1. In other words, newbie might think, inline structure operate as copy-by-value.

But as soon code is changed via reassignment of m1

[code]

we get

[code]

reference to m1. The only way I know to reassign structure (copy-by-value) in previous Abstract example would

[2019-07-03 05:20] back2dos commented on #6567
Hmm, dunno. The status is that the commit I linked introduced a regression. I suppose there are good reasons, but it's not exactly transparent why this restriction got added or even really *what the restriction is*. I've found ways not to run into this, but it feels like flying blind. So yeah, if this works as intended, some sort of explanation would be great. Thanks ;)

[2019-07-03 05:23] back2dos commented on #6918
FFR, there's a [polyfill for IE8](https://gist.github.com/afuggini/85b02644491f130879a8e789a5b1cea8) (and other browsers).

[2019-07-03 06:04] Simn commented on #8058
Turns out I opened this issue already: #7599

[2019-07-03 06:04] #8058 closed, assigned to nobody

[2019-07-03 06:07] #8101 closed, assigned to nobody

[2019-07-03 06:08] Simn commented on #7186
#8101

[2019-07-03 06:08] #7186 closed

[2019-07-03 06:17] Simn commented on #7376
We shouldn't treat `Void` as a wider type by default. This would lead to really confusing errors down the line where you stare at "Cannot use Void as value" errors and can't tell where it comes from.

This can only be solved via top-down inference: if the expected type is `Void` (which should really only happen for function returns), we can avoid the unification of all "branches" and type the if/s

[2019-07-03 06:22] Simn commented on #7376
Actually, the problem here seems to be that top-down inference isn't even applied. The expected type is unknown...

[2019-07-03 06:32] Simn commented on #7376
Right, we still want this to fail:

[code]

That's why we don't use `Void` as the expected type for local function return values.

[2019-07-03 06:35] Simn commented on #8294
The iterator problem is tracked in #7379.

[2019-07-03 06:35] #8294 closed, assigned to nobody

[2019-07-03 06:57] Simn commented on #7215
Let's see:

cpp, hl: random values
neko, js, python, php, eval: null
flash, java, cs: 0
jvm: first case

This tells me that we should just fix it in our generators.

[2019-07-03 07:03] RealyUniqueName commented on #6567
This is still reproducible

[2019-07-03 07:25] Simn commented on #7157
#5596

[2019-07-03 07:25] #7157 closed

[2019-07-03 07:26] RealyUniqueName commented on #6567
The problem is that the compiler tries to flush all the types, while it should only flush types pulled by `Context.getType("VDom")`:
https://github.com/HaxeFoundation/haxe/blob/c4d523088e1767c608132ba5a2590c7a663e5328/src/typing/typeloadModule.ml#L975-L977

[2019-07-03 07:38] back2dos commented on #7376
Given the expected type `A->B->...->N->Ret` the arrow function `(a, b, ..., n) -> body` should be processed as:

- `function (a, b, ..., n) body` if `Ret` is `Void`
- `function (a, b, ..., n) return body` otherwise

AFAIK the problem is that we have no way of telling apart "normal" and arrow function. As suggested before, [adding a flag to `Function` would be the least intrusive solution](https://

[2019-07-03 07:44] Simn commented on #7376
Adding that to `Function` is weird though. You could get combinations like named local arrow functions which makes no sense. I prefer [nadako's suggestion](https://github.com/HaxeFoundation/haxe/issues/8128#issuecomment-495339124) but it's a breaking change...

[2019-07-03 07:57] RealyUniqueName commented on #7376
Can we do it on ml side only and keep macro API intact for now?

[2019-07-03 09:18] nadako opened #8506 "Unbound variable for empty switch on a field"
[code]
this gives a position-less warning:
[code]

further behaviour depends on the generator, e.g. Flash complains about ``Unbound variable ` `` (now with position), JS generates some invalid code: ``switch(`) {}``

[2019-07-03 09:21] Aurel300 commented on #8506
`switch` without any cases should probably fail to compile?

[2019-07-03 09:25] nadako commented on #8506
Maybe. I found this bug only because I commented out the whole switch body :D

[2019-07-03 09:35] nadako commented on #8506
Hmm, this is actually a regression, Haxe 3 (on try.haxe) gives `Test.hx:4: characters 2-13 : Unmatched patterns: _`.

[2019-07-03 09:45] Simn commented on #8506
That's... odd.

[2019-07-03 10:04] #8506 closed, assigned to Simn

[2019-07-03 10:51] Aurel300 commented on #5369
@mepsoid 's original issue is primarily caused by integer overflow (`1455555555 * 1000`). The multiplication of two `Int`s must result in an `Int`. Can be alleviated with `1455555555 * 1000.` (so the latter operand is a `Float`). The issue still reproduces then if you are not in a UTC timezone, but that is already tracked in #6353.

@thomasjwebb I think you mentioned the same issue in #7303, probl

[2019-07-03 10:51] #5369 closed

[2019-07-03 13:50] RealyUniqueName commented on #4147
This is fixed with #4623.
Now adding `@:nativeGen` to a class makes the compiler generate overloads for optional arguments.
The sample in start would work like this:
[code]
[code]

[2019-07-03 13:50] #4147 closed

[2019-07-03 14:43] #8502 closed, assigned to hughsando

[2019-07-03 14:55] ze0nni commented on #7738
For now I am avoid this using abstract for callback-function

[code]

[2019-07-03 15:27] RealyUniqueName commented on #4073
Type is replaced here in `type_map`:
https://github.com/HaxeFoundation/haxe/blob/ff4b8d48563fd9fa8216f061b41610ccd054da20/src/generators/gencs.ml#L2846

[2019-07-03 17:53] Aurel300 commented on #4584
This seems to be fixed.

[2019-07-03 17:53] #4584 closed

[2019-07-03 19:07] nadako opened #8509 "[js] static `call` method breaks `super()`"
The following will currently fail on JS target in ES5 mode:

[code]

This is because of how we generate `super()` calls:
[code]

There are at least two ways to fix this:
 - Generate `Function.prototype.call.call(A, this)` instead of `A.call(this)`, so the correct `call` function is used (we can store `Function.prototype.call` in a var like `$call` to shorten the output). My concerns here are: perf

[2019-07-03 19:13] nadako commented on #8509
More details on the Google Closure issue:

In this JS code:
[code]
Both `call` methods will be (wrongly) eliminated by the Closure compiler:
[code]
This is (presumably) because it thinks that we do a `call` on the `C`/`C2` constructor function, not the actual `call` method. And since constructors here have no side-effects it eliminates the calls. And then eliminates the `call` method as unused.

T

[2019-07-03 20:37] WolfieWerewolf opened #8510 "js.lib.Thenable<js.Thenable.T> vs js.lib.Promise.Thenable<Dynamic>"
Hi Guys... I'm loving Haxe4 RC3.  I've just noticed that the deprecation warning for:

[code]
States
[code]
But really you need to use
[code]

I don't know if I'm right or not so I don't want to try to submit a PR until someone confirms this please.

Thanks

[2019-07-03 20:44] nadako commented on #8510
I think this is something we can improve for the default `@:deprecated` messages:
 - include module in the dot path for non-primary module types (this might be helpful in other error messages too)
 - omit type parameters, or at least only print their short names (`T` in this case)

[2019-07-04 08:18] nadako commented on #8509
I don't care much about reflection, but I think we should somehow teach structure unfication about these fields, so `(SomeClass : {final length:Int;}`) fails at compile-time instead of run-time.

[2019-07-04 08:52] nadako commented on #8509
I made this performance benchmark: https://jsperf.com/haxe-super-calls/1

On Chrome, the results are very similar, the `$call` version was actually slightly faster than others.
On Firefox, anything else than direct `A.call` is MUCH MUCH slower, so I guess they don't optimize that yet.
On Edge, `A.call` was the fastest too, but all three are slower than Firefox `$call` version. :)

Based on this, I

[2019-07-04 11:02] #8383 closed, assigned to nobody

[2019-07-04 13:24] nadako opened #8513 "string concatenation with 1 transformed to ++"
[code]

generates (js):

[code]

[2019-07-04 13:26] nadako commented on #8513
This is most probably not target specific, but on JS this converts `s` to a number at run-time, so this program will output `2` instead of `11`

[2019-07-04 14:51] #8513 closed, assigned to nobody

[2019-07-04 15:17] #3697 closed

[2019-07-04 18:05] #8444 closed, assigned to nobody

[2019-07-04 19:19] #8455 closed, assigned to RealyUniqueName

[2019-07-04 20:23] #8220 closed, assigned to nobody

[2019-07-05 05:12] Glidias opened #8514 "Supply constant parameter as "null" doesn't get conditionally block optimized"
The expression in Haxe:
[code]

The abstract class constructor method
[code]
By supplying an absolute Null expression to the parameter of the function, shouldn't the conditional block that fails to meet the constant null equality check be elimintaed out ? BUt the below output results though.. (JS):.

[code]

 THe conditional expression is still exported out instead of eliminated. (It works if i us

[2019-07-05 05:57] RealyUniqueName commented on #8514
Here is a reduced sample:
[code]
generated js:
[code]
http://try-haxe.mrcdk.com/#d2e1c
As you can see string and `null` are properly propagated removing `if` expressions.
I think `{hello:1}` is not considered a constant expression and ignored by that optimization.

[2019-07-05 06:41] RealyUniqueName commented on #8393
Reduced sample:
[code]
Renaming typedef fixes the issue.
`Generic<Int>` generates a type named `Generic_Int`, which clashes with the name of the typedef.
Compiler hangs here:
https://github.com/HaxeFoundation/haxe/blob/a2f8c73bbed3152ea05982910e2adbcc77fdb1ce/src/typing/typeloadModule.ml#L705-L719
This is not a regression. Reproduces on 3.4.7

[2019-07-05 07:01] RealyUniqueName commented on #8393
Related discussion: https://github.com/HaxeFoundation/haxe/pull/6969#issuecomment-384170877

[2019-07-05 07:50] back2dos opened #8515 "Keep meta on function arguments in typed AST."
Currently, `Type.TFun` doesn't contain metadata, but it would be useful to have in various scenarios.

[2019-07-05 08:02] RealyUniqueName commented on #8393
Made `@:generic` to emit an error if it generates a name, which is already used.

Leaving  this issue open because I beleave we need to find a way to not generate conflicts with user-written code.

[2019-07-05 08:05] RealyUniqueName commented on #8515
Since function arguments are represented as `TVar` we can store such meta into [TVar.meta](https://api.haxe.org/haxe/macro/TVar.html#meta)

[2019-07-05 08:28] #7914 closed, assigned to nobody

[2019-07-05 08:33] nadako commented on #8393
we have a soft-reserved `_hx_` prefix for that, so maybe we should just use that

[2019-07-05 08:38] RealyUniqueName commented on #6978
Closing this to track `@:generic` name generation issue in a single place: #8393

[2019-07-05 08:38] #6978 closed

[2019-07-05 08:38] RealyUniqueName commented on #8393
Also this:

https://github.com/HaxeFoundation/haxe/issues/6978

[2019-07-05 08:40] RealyUniqueName commented on #8393
And this:

https://github.com/HaxeFoundation/haxe/pull/6969#issuecomment-384342152

[2019-07-05 08:54] RealyUniqueName commented on #8393
`java.Lib.array()` relies on the ability to shadow `@:generic` function for certain types:
https://github.com/HaxeFoundation/haxe/blob/8f0596c47604d966d7b1a6fb67d435334db81592/std/java/Lib.hx#L101-L103
https://github.com/HaxeFoundation/haxe/blob/8f0596c47604d966d7b1a6fb67d435334db81592/std/java/Lib.hx#L113-L119
That means we need to decide on something "human-deducable" based on type params.

[2019-07-05 09:34] back2dos commented on #8515
This is only so for typed function expressions, but not for function types, which are represented as [`{name:String, opt:Bool, t:Type}`](https://github.com/HaxeFoundation/haxe/blob/f1f8805a48e138dd1a3dcde286e32028d383dfb3/std/haxe/macro/Type.hx#L78). Personally I wouldn't mind aligning the two, but that'd be a relatively intrusive change.

[2019-07-05 09:44] kLabz commented on #8515
If such change is done, could we add a `doc` field too?

[2019-07-05 12:41] Aurel300 opened #8517 "Int can be re-assigned when returned from extern inline function"
[code]

This should fail to compile with `Test.hx:7: characters 3-15 : Invalid assign`, but it does not. This could cause a runtime exception instead, e.g. on Python:

[code]

(Throws `AttributeError: attribute 'year' of 'datetime.date' objects is not writable`.)

[2019-07-05 12:50] nadako commented on #8517
Ouch. That's actually pretty bad, because my converter can currently generate code like `a.getFullYear() = 3` in some cases, and my plan is/was to catch these cases by looking at Haxe compile errors :)

[2019-07-05 15:54] binki commented on #5897
This would still be acceptable as long as Haxe guaranteed that it was impossible to observe the difference. For example, if it preprocessed all calls to external functions to ensure that `undefined` is converted to `null` first. However, it’s probably way more efficient to just initialize things to `null` instead of walking object graphs passed to `JSON.stringify()`.

In this case, it is known tha

[2019-07-05 16:04] Aurel300 commented on #5897
This particular instance seems like a one-line fix that shouldn't cause any other issues. Yes, there are other ways to get `undefined` instead of `null`, but we can treat those separately.

[2019-07-06 06:08] AlexHaxe opened #8519 "[cs] broken exception handling when using callback"
During benchmark testing with formatter I found out that C# has an issue with catching exceptions thrown by a callback. I reduced my code down to a basic example:
[code]
expected output: "my exception caught"
C# output: "unhandled exception" + stacktrace

broken for both Haxe 3 and 4

[2019-07-06 07:24] nadako commented on #8519
Not a generator issue for once, but something in the `Runtime.callMethod` implementation.

[2019-07-06 07:35] nadako commented on #8519
So, `MethodBase.Invoke` wraps thrown exception in a `TargetInvokationException`, so we should do `try method.Invoke(...) catch (e:TargetInvokationException) throw e.InnerException`.

The problem is how to preserve stack trace without horrible hacks. With .NET 4.5 we can do `ExceptionDispatchInfo.Capture(ex.InnerException).Throw()`, but before that....

[2019-07-06 07:36] nadako commented on #8519
In general we should rework how method closures are created in C#, these should not go through reflection. I had a branch with the rework a couple years ago but never got it to work 100% due to some problems with access control.

[2019-07-06 07:37] nadako commented on #8519
I think that was it https://github.com/nadako/haxe/tree/gencommon_faster_method_closures

[2019-07-06 11:59] RealyUniqueName commented on #7733
Unification stack looks like this:
[code]

[2019-07-06 17:13] ncannasse commented on #6918
I think a simple fix would be to test whereas Object.defineProperty is defined before calling. Doesn't hurt much and prevents breaking backward compatibility.

[2019-07-06 17:16] ncannasse commented on #7215
I'm fine with whatever fix.

[2019-07-06 17:17] ncannasse commented on #6567
We can't do partial flushes atm :-/

On Wed, Jul 3, 2019 at 9:26 AM Aleksandr Kuzmenko <notifications@github.com>
wrote:

[2019-07-06 17:41] ncannasse commented on #5897
Haxe does it's best to hide the platform specific peculiarities, but not at the cost of performances impact.

The fact that JS chooses to return undefined instead of null for out of bounds Array and the fact that JSON does not print undefined fields (because assigning undefined to a field will "remove" it) are both JS specific things that cannot be avoided without adding extra checks for all Array

[2019-07-06 17:41] #5897 closed

[2019-07-06 23:28] cancerberoSgx opened #8520 "haxe.io API docs"
haxe.io types API docs is poor or non existing. And is critical that users understand exactly what these types represent, in terms of POSIX / C  since there are names not familiar in that language (which is the common language to document IO types in most platforms). For example Bytes, which doesn't have any description and is very important is a name unfamiliar in POSIX/C and have considerable im

[2019-07-07 05:39] R32 commented on #6918
I feel that it is not simple, becourse the IE8 has `Object.defineProperty` but when uses on non-dom object you will get an error and then exit

In my `IWebBrowser2` project, I actually found that `js.Boot` can be overwritten from outside, So I could copy `std.js.Boot.hx` to the outside and do some hacks:

[code]
example:

[code]
Compile it with `-D js-es=3`:

[code]

[2019-07-07 05:47] #8494 closed, assigned to hughsando

[2019-07-07 08:43] ncannasse commented on #8477
I have fixed for HL in f582e373567ceb9c3ec030e26b26f791d782bd6c, I think it would be better to ensure cross platform behavior for this.

[2019-07-07 08:50] RealyUniqueName commented on #8520
Hi. Thanks for such a detailed message.
Yes, contributors worry about poor API documentation. But until recently we didn't have enough manpower to continue improving the compiler AND write docs. Language design, compiler and bugfixes for existing users were more important (that's my personal opinion).
And now the top priority is Haxe 4 final release. Hopefully after that we will be able to dedicat

[2019-07-07 09:19] #8070 closed, assigned to ncannasse

[2019-07-07 09:20] ncannasse commented on #8082
Related to hlopt cache #8070

[2019-07-07 10:54] cancerberoSgx commented on #8520
I understand, it was a Heads up from a newcomer. I saw that several haxe.io classes are also in lib.js and several of those are documented and match JS DOM not only names but I think semantics mostly match too.

Another feedback  are tests, when no documentation and complex sources the other source of documentation often are tests, but I find out that most of then are as hard to understand that th

[2019-07-07 20:15] andyli commented on #8100
I've just set up Azure Pipelines for hxcpp. It uses the haxe nightly builds instead of building haxe from scratch, so I think I can close this.

[2019-07-07 20:15] #8100 closed, assigned to andyli

[2019-07-08 09:12] sonygod opened #8521 "[java] can not cast haxe.lang.Dynamic Object to StringMap?"
var map:Map<String,Dynamic> = [];

     map["key"] = 1234;

     map["b"] = "hello world";

j

[2019-07-08 09:37] sonygod commented on #8521
var map:Map<String,Dynamic> = [];

		map["b"] = "hello world";

		map["a"] = 1;

		var result :Map<String,Dynamic>= Json.parse(Json.stringify(map));

java target throw error!

[2019-07-08 09:40] Aurel300 commented on #8521
If you want an "object" in JSON, you should use an anonymous structure.

[code]

If you need a map-like interface (e.g. to set keys based on other variables), use `haxe.DynamicAccess`:

[code]

[2019-07-08 09:45] nadako commented on #8521
Or you can use one of the more "featureful" JSON libraries like json2object or tink_json that support Map, because `haxe.Json` doesn't.

[2019-07-08 09:45] #8521 closed, assigned to nobody

[2019-07-08 15:31] RealyUniqueName opened #8522 "Tests in `tests/unit/compiler_loops` are never executed on CI"
@andyli  Is it possible to run them, but interrupt the process if it hangs for some time?

[2019-07-08 15:35] andyli commented on #8522
I guess so. Just set use `sys.io.Process` and then a `Timer` in `RunCi`.

BTW, there is an existing issue for this #6200.

[2019-07-08 16:01] RealyUniqueName commented on #8522
Thanks

[2019-07-08 16:01] #8522 closed, assigned to nobody

[2019-07-08 18:48] RealyUniqueName opened #8524 "[eval] Process.stdout.readByte() never throws haxe.io.Error.Blocked"
Despite the code of `readByte` it never throws `Error.Blocked`:
https://github.com/HaxeFoundation/haxe/blob/a7ae1c6a57d320d5a6eeffab7dec266af0f29f53/std/eval/_std/sys/io/Process.hx#L79-L83
[code]
[code]

[2019-07-08 18:54] RealyUniqueName opened #8525 "[eval] If one thread is blocked other treads stop too"
[code]
[code]

[2019-07-08 18:56] RealyUniqueName commented on #6200
I've tried to implement this, but it doesn't seem possible until either #8524 or #8525 is resolved.

[2019-07-08 21:12] RealyUniqueName commented on #6200
Temporary implemented using linux command `timeout`.

[2019-07-09 06:34] RealyUniqueName commented on #8515
Adding a doc would be a breaking change.

[2019-07-09 06:35] Simn commented on #8525
I don't think there's anything I can do here while Haxe is written in OCaml.

[2019-07-09 06:39] Simn commented on #8524
Like #8525, I don't think this can be fixed.

[2019-07-09 07:20] prnxdev opened #8526 "camelCase getters and setters"
I would like to see that getters and setters are in camelCase or allow to change it in some config file. Snake case kinda grinds my gears :D

[2019-07-09 07:22] Simn commented on #8526
I'm afraid you'll have to live with that as we don't have plans to change this.

[2019-07-09 07:22] #8526 closed, assigned to nobody

[2019-07-09 09:09] Simn commented on #8520
While I appreciate the content, this isn't really an actionable issue. Please refer to [the forums](https://community.haxe.org/) for something like this.

[2019-07-09 09:09] #8520 closed, assigned to nobody

[2019-07-09 13:57] RealyUniqueName commented on #7642
reduced
[code]

[2019-07-09 15:12] #7642 closed, assigned to nobody

[2019-07-10 07:17] Glidias commented on #8514
oh yes, constant expr required and object doesn't count, even though it might be easy to derive that a direct object value expression cannot be an Int/Boolean null, etc. (intuitively for a human), that requires far more advanced thinking no doubt for a compiler. To begin with, it could consider a direct curly brace {}  Expr(object) (not a variable expr) as a constant expression? But yea, that isn'

[2019-07-10 07:17] #8514 closed, assigned to nobody

[2019-07-10 08:17] ncannasse commented on #8525
That's strange, because performing I/O should release the global interpreter lock, allowing the other thread to execute.

[2019-07-10 12:16] ncannasse opened #8527 "Invalid position"
The following code fails to parse with a weird error message:

[code]

`Main.hx:12: characters 2-4611686018427387643 : Expected }`

[2019-07-10 12:17] saharan opened #8528 "jvm: implementing interface method by covariant return type causes AbstractMethodError"
The following code causes `java.lang.AbstractMethodError` when compiling for Java target with `-D jvm` option:
[code]

[code]

Note that this code has no problem without `-D jvm` option, or when using other targets (tried C++, Python, C#, JavaScript) as far as I know.

[2019-07-10 12:18] ncannasse opened #8529 "Regression in switch unification"
This is a regression in switch unification:

[code]

This should type buffer as `js.html.ArrayBufferView` (no need to type `buffer` explicitely)

[2019-07-10 12:20] nadako commented on #8529
Not sure about that, see https://github.com/HaxeFoundation/haxe/pull/8422#issue-288185969

[2019-07-10 12:21] ncannasse opened #8530 "Regression in compilation"
[code]

This now fails with:

![image](https://user-images.githubusercontent.com/1022912/60968641-e43b9580-a31d-11e9-94de-2e7770966e5c.png)

Maybe allow `this = this` ?

[2019-07-10 12:24] RealyUniqueName commented on #8527
Missing a closing `}` for the function :)

[2019-07-10 12:24] nadako commented on #8527
Well the issue is a bout crazy position

[2019-07-10 12:25] RealyUniqueName commented on #8527
Oh, weirdness is in error position

[2019-07-10 12:27] Gama11 commented on #8530
Also, `_new` should be printed as `new` in the error message.

[2019-07-10 12:42] RealyUniqueName commented on #8530
#8454 may be involved

[2019-07-10 12:45] RealyUniqueName commented on #8530
Yeah, it's #8454. It needs a special case for abstract constructors.

[2019-07-10 14:12] RealyUniqueName commented on #8527
reduced
[code]

[2019-07-10 14:18] nadako opened #8531 "auto-generated ctors vs Rest args"
[code]

will generate (JS, but also other targets, actually discovered on Flash):

[code]

[2019-07-10 14:27] #8527 closed, assigned to nobody

[2019-07-10 14:29] RealyUniqueName commented on #8531
This probably should be handled in generators.

[2019-07-10 14:31] nadako commented on #8531
so we're (partially) implementing non-extern rest args?:)

[2019-07-10 14:34] RealyUniqueName commented on #8531
Do we have any option currently to override extern methods with rest args?

[2019-07-10 14:35] nadako commented on #8531
Nope, also can't implement interfaces that require rest args.

[2019-07-10 14:37] nadako commented on #8531
I think I'll add support for `Rest<T>` in the Flash generator for now, because I need these subclasses to work correctly.

[2019-07-10 14:56] RealyUniqueName commented on #8414
That happens becaus `main` is inferred as `{ call : Void -> Int }`. Compiler doesn't know if that's a "var" field or a method.
I don't think we can do something here unless we start inferring methods types based on their usages, which doesn't seem feasible currently.

[2019-07-10 14:57] nadako commented on #8531
OTOH this is annoying because we have to detect the cases where we have to generate `super.call(rest)` on Flash...

[2019-07-10 14:58] nadako commented on #8414
I think the question is whether class methods should unify with `{ var methodName(default,never):T->T; }` at all.

[2019-07-10 14:59] RealyUniqueName commented on #8414
Changing that would "fix" this particular case, but not something like this:
[code]

[2019-07-10 15:00] nadako commented on #8414
wouldn't that already bind `main.call` tho?

[2019-07-10 15:00] RealyUniqueName commented on #8414
Nope, because `main` is `{call : Unknown<0> }`

[2019-07-10 15:00] nadako commented on #8414
but it will, because you won't be able to pass a class instance as `main` there

[2019-07-10 15:02] RealyUniqueName commented on #8414
Ah, now I get it, thanks.

[2019-07-10 15:05] RealyUniqueName commented on #8531
Personally I think we should support rest args in Haxe syntax. All (afaik) our targets support rest arguments. And if some of them don't then it's ok to implement it as
[code]

[2019-07-10 15:30] YellowAfterlife opened #8532 "Adding @:keep to abstract fields causes a second pass of some sort?"
Test.hx:
[code]
Macro.hx:
[code]
Output:
[code]
Adding a `trace` call is no help - it doesn't trace going over the fields the second time around.

Happens both on RC2 and 6d7aa4a52

[2019-07-10 16:06] Aurel300 commented on #8532
Just to be clear – the problem is that `bigrid.get` and `bigrid.set` have two comments in the body where you expected only one?

[2019-07-10 16:39] #7303 closed

[2019-07-10 16:39] #4834 closed

[2019-07-10 16:39] #6353 closed

[2019-07-10 16:42] YellowAfterlife commented on #8532
Indeed - the output is as if the macro gets invoked a second time even though it doesn't seem to be (as far as logging is concerned).

[2019-07-10 16:45] Aurel300 commented on #5294
Assuming the system timezone is specified correctly, this should not be an issue anymore (#8508). Feel free to reopen if there is still something wrong with neko specifically.

[2019-07-10 16:45] #5294 closed

[2019-07-10 16:58] R32 opened #8533 "Inconsistent position of haxe.macro.PositionTools.make"
In the GIF, the `hi.txt` is a copy of `src/Main.hx`, but the resulting position is different:

`[7-15]` in `src/Main.hx`
`[7- 1]` in `hi.txt`
![issue_pos_gif](https://user-images.githubusercontent.com/6825113/60988689-b0408e80-a376-11e9-8ab9-5c454fc139a3.gif)

[reproduce.zip](https://github.com/HaxeFoundation/haxe/files/3378589/inconsis_make_pos.zip)

[2019-07-10 17:05] Aurel300 commented on #8533
Is the encoding of the two files the same?

[2019-07-10 17:38] R32 commented on #8533
Both are UTF8

[2019-07-10 18:54] nadako commented on #8532
this is just inlined `width`/`height` getter:

[code]

[2019-07-10 19:02] YellowAfterlife commented on #8532
Ah damn, sorry about this. I didn't even realize that it moved the block out of the expression and upwards.

[2019-07-10 19:02] #8532 closed, assigned to nobody

[2019-07-10 20:32] #8359 closed, assigned to nobody

[2019-07-11 06:03] Gama11 opened #8534 "Ranges of "has no field" errors are too big"
[code]

[code]

The entire expression up until `joint` is highlighted here. It would be nicer if only the offending identifer was highlighted.

![](https://i.imgur.com/u7CKFYq.png)

[2019-07-11 09:24] ncannasse commented on #8529
Oh, I see, the bug is related to ArrayBufferView being an abstract.
I fail to see the actual benefit of the patch, and since it causes regression I'm in favor of reverting it.

[2019-07-11 09:30] RealyUniqueName commented on #8177
Cannot reproduce with the latest dev Haxe

[2019-07-11 09:38] RealyUniqueName commented on #7937
I hovered every symbol in [this file](https://github.com/vshaxe/language-server-protocol-haxe/blob/master/src/languageServerProtocol/protocol/FoldingRange.hx) and couldn't reproduce this issue with the latest dev.
I suppose it's fixed.

[2019-07-11 09:40] Gama11 commented on #8177
Still reproduces for me. As mentioned, this seems to be OS-dependent or something.

[2019-07-11 09:46] Gama11 commented on #7937
Still reproduces for me (on Windows).

[2019-07-11 09:46] RealyUniqueName commented on #8177
Maybe you want to reopen https://github.com/HaxeFoundation/haxe/issues/7937 too

[2019-07-11 09:47] Gama11 commented on #8177
Way ahead of you. :D

[2019-07-11 11:27] #8203 closed, assigned to nobody

[2019-07-11 18:02] nadako opened #8536 "[flash] Dynamic method closures on standard types is not working"
[code]

this is due to dynamic access property opcodes are only specifying public/package namespaces to search, but these methods should actually be queried via `http://adobe.com/AS3/2006/builtin` namespace (like it's done in proper access), so I assume it ends up getting an unbound function from the prototype instead.

i checked what the Adobe's AS3 compiler does on dynamic access and that one ge

[2019-07-11 19:55] nadako commented on #8536
This turns out to be tricky due to our prototype patching on Flash. If I add the as3 namespace to the dynamic getprop, it will find the `map`/`filter` from class traits and not the prototype, but they are not compatible... Argh.

[2019-07-12 07:28] saharan opened #8537 "jvm: compiler assertion fails when trying to extract a function from structures"
The following code causes an assertion failure when compiling for Java target with `-D jvm` option:

[code]

[code]

There were no problems on Java (not JVM), JavaScript, C#, Python targets.

[2019-07-12 07:56] saharan opened #8538 "jvm: comparing Null<Float> to Int causes ClassCastException"
The following code causes `ClassCastException` in Java target with `-D jvm` option:
[code]

[code]

It works fine for Java (not JVM), C#, Python, and JavaScript targets.

[2019-07-12 09:07] RealyUniqueName commented on #8538
I'm moving this to 4.0 as it seems pretty bad.

[2019-07-12 10:28] #8533 closed, assigned to nobody

[2019-07-12 11:22] nadako commented on #8531
I'm not a fan of rest args and the implicit allocations they usually bring. Also I don't think C/C++ support rest arguments like this. Newer C++ has the `...args` syntax, but it's just a sugar for some templating magic for recursive functions, not something you can just turn into Array.

That said, maybe we should still have it for the sake of interop, just not in a nicely sugared syntax.

[2019-07-12 19:23] RealyUniqueName commented on #8128
This is going to be fixed by #8539.
But the generated code will look like this:
[code]
That redundant `return` is a subject for another issue: #6420

[2019-07-13 01:24] cancerberoSgx commented on #7445
This issue happens for me in 3.4.7 - Just want to know if it was injected again or it will be only fixed in haxe 4 ? Thanks

[2019-07-13 07:43] Gama11 commented on #7445
The fix happened after the release of 3.4.7, and I don't think any more 3.4 patch releases are planned.

[2019-07-13 08:19] cancerberoSgx opened #8540 "haxe.zip.Compress not implemented on all platforms"
According to the [docs](https://api.haxe.org/haxe/zip/Compress.html) it should be available on all platforms, but it it doesn't support js.

It seems it was never implemented (?) https://github.com/HaxeFoundation/haxe/blob/3.4.7/std/haxe/zip/Compress.hx

BTW: is there any way of using zip package to compress Bytes in js ?

[2019-07-13 08:24] Gama11 commented on #8540
There's some support in hxnodejs: https://github.com/HaxeFoundation/hxnodejs/blob/master/src/haxe/zip/Compress.hx

[2019-07-13 08:36] cancerberoSgx commented on #8540
The point is that the api docs should not say it's supported on all platforms. I can't find where this information is declared. If you point me where I can create a PR. or maybe is responsibility of docx package and I should report an issue there ?

I'm targeting all platforms including the browser in which case I don't think it will work. There are plenty implementations that works both in node a

[2019-07-13 10:00] cancerberoSgx commented on #8540
For people on similar situation this is a workaround to support haxe.zip.Compress so format.png writer works in node.js and browsers.

Make sure the following function get's called before format.png.writer :

https://github.com/cancerberoSgx/bitmap/blob/master/src/bitmap/ZipSupport.hx

And then prepend pako.js file to the js output:

[code]

[2019-07-13 10:15] RealyUniqueName commented on #8540
We have nice pako externs, btw: https://lib.haxe.org/p/pako/
And you can prepend external js files in a cross-platform way with `--macro includeFile('path/to/pako.js`)` compiler argument

[2019-07-13 16:02] cancerberoSgx opened #8541 "t.anOptionalBool==true is false in cpp"
This happens only on cpp target, haxe version: 4.0.0-rc.3+68333d85d

[code]

[2019-07-13 19:45] cancerberoSgx opened #8542 "python: "not defined" errors if a declaration is not before a reference"
haxe version: 4.0.0-rc.3+68333d85d

I don't know if this happens with other kinds besides enum or if it's a particular problem with parameter initialization. I do know that also happens when in separate files, perhaps importing with wildcard:

[code]

[2019-07-13 21:05] cancerberoSgx commented on #8540
@RealyUniqueName The problem I'm having now is that I would like to automatically embed pako.min.js on my user's build. I want the library to be easy to use and without  and if users have to manually  load/include the file on their own projects basically it break its main porpuse (to be easy to use).

The only way right now this could work would be **embedding the library as a string in a variable

[2019-07-13 21:17] cancerberoSgx commented on #8540
BTW, eval worked fine. For embedding the library as a string, right now I just read the file and JSON.stringify() it to escape quotes:

[code]

[2019-07-13 21:20] Gama11 commented on #8540
That `--macro includeFile` can be added to a lib's `extraParams.hxml` file so it gets included automatically on `-lib`.

[2019-07-13 21:45] cancerberoSgx commented on #8540
I know but I need to know the pako.min.js path. The only possibility here is to include it on my library and read it from user's haxelib libraries path (where my library is installed) by I couldn't find a way of getting such path.  Since the path is variable, extraParams.hxml is useless. But by just knowing the user' haxelib libraries path I could implement it programatically.

I also though about

[2019-07-13 22:26] RealyUniqueName commented on #8540
You can get current hx file location like this:
[code]
And since you know the path to `pako.min.js` relative to current hx file in your library, you can use it to `haxe.macro.Compiler.includeFile(pathToPakoJs)` in an [init macro](https://haxe.org/manual/macro-initialization.html).
Then just add that init macro to `extraParams.hxml` of your library

[2019-07-13 23:26] posxposy opened #8543 "[cpp] project compilation fails if path contains "hx" name in sub-packages"
Hello!
Got an interesting behavior.
This sample:
[code]
Gives a lot of errors, like this:
[code]
Looks like it is problem with a package naming. Somehow `hx` in the package name is failing compilation.
Also, it is important to make `hx` as a subpackage of another package to reproduce this error.

Haxe 4, rc 3
hxcpp 4.0.19

[2019-07-14 00:37] cancerberoSgx commented on #8540
aja! Thanks @RealyUniqueName will definitely try that. I owe you guys a beer for today's. I'm keeping this issue open since it's about documentation - hope this comments help others. Will try to write an example about this for the cookbook too. Thanks!

[2019-07-14 07:42] ghost opened #8544 "[jvm]: haxe classes conflict with java classes."
Before compiling with `-D jvm` I could have `haxe.root.Array` class in my code but now using Array which is in root directory of compiled jvm code It can not be accessed anymore.

[2019-07-14 09:34] Klug76 opened #8545 "Haxe4 generates a js file that cannot be minified with google closure compiler"
The compiler generates a js file that is valid for browsers but cannot be minified with google closure compiler.
Haxe ver: 4rc2,rc3.
Main.hx:
[code]
build.hxml:
[code]
Build log:
[code]

[2019-07-14 18:20] gordonshamway23 opened #8546 "Conditional compilation for library version checks not correctly working"
I tried to compile with haxe 4.0.0 rc3 with directx library hldx and the game engine heaps.io added, but it failed, due to the fact that at some point in the heaps library
a version check gives wrong result. My version of hldx is 1.10.0,
but the check "#if (hldx < "1.7.0") ..." evaluates to true, which is obviously wrong.

These are the compilatione errors:
D:\Devel\haxe\HaxeToolkit\haxe\lib\heaps

[2019-07-14 18:26] Gama11 commented on #8546
That's just a limitation of string comparisons. There was actually a new syntax added in rc3 for version comparison to deal with these sorts of problems (`#if (hlsdl < version("1.7.0"))`), but it's not backwards-compatible to older Haxe versions.

[2019-07-14 18:38] gordonshamway23 commented on #8546
Thanks for your quick reply. Tested it real quick. Its working this way.

[2019-07-14 23:37] nanjizal commented on #8545
The generated output of Klug76 code
http://try-haxe.mrcdk.com/#1dC26
[code]
verses older code.
[code]

[2019-07-15 08:00] andyli opened #8547 "migrate off camlp4"
camlp4 is no longer well maintained and it's not compatible with OCaml 4.08 right now.

## Why it's important

Our Haxe packages will be removed from every repositories that update to OCaml 4.08. Debian has OCaml 4.08 in the NEW queue to experimental, and I suppose the transition to 4.08 will begin soon. Ubuntu, which is based on Debian, will have its LTS release in April 2020.

## Possible soluti

[2019-07-15 08:15] Aurel300 commented on #8547
(Some of what we discussed in Slack:)

[PPX](http://ocamllabs.io/doc/ppx.html):

However, it seems that since we use [stream expressions](https://ocaml.org/learn/tutorials/stream_expressions.html) in [`grammar.mly`](https://github.com/HaxeFoundation/haxe/blob/development/src/syntax/grammar.mly#L25), we cannot switch _directly_ to PPX:

(If we moved away from stream expressions, we could probably u

[2019-07-15 08:39] nadako commented on #8547
For the short term I would look for some alternative for port our RD-parser without changing everything.

[2019-07-15 09:24] Aurel300 commented on #8541
Reduced a bit:

[code]

If the `check(s)` line is commented out, prints `true` as expected. With the line present, prints `false`. The function call forces `s` not to be destructured. With `check(s)`:

[code]

Without `check(s)`:

[code]

For some reason `hx::IsEq( s->__Field(HX_("b",62,00,00,00),hx::paccDynamic),true )` fails.

[2019-07-15 09:38] nadako opened #8549 "[flash] need a way to represent `Vector.<*>` in Haxe code"
(really just need an issue number for the test)

[2019-07-15 09:44] Aurel300 commented on #8485
Fixed in https://github.com/HaxeFoundation/hxcpp/commit/577d88f5bf8ce8872359a584de3f4293ef491503 by Hugh.

[2019-07-15 09:44] #8485 closed, assigned to hughsando

[2019-07-15 09:46] #8549 closed, assigned to nadako

[2019-07-15 09:47] #6489 closed

[2019-07-15 10:32] nadako opened #8550 "Missing `Cannot use abstract as value` error"
The following used to give `Cannot use abstract as value` error:
[code]

Nowadays it silently generates: `var v = _$Main_A_$Impl_$` which is totally useless and can lead to bugs at run-time.

I _think_ it is a regression from https://github.com/HaxeFoundation/haxe/commit/055801388839d1935b96f94fa0e3e1566130b272#diff-3091fe4ecc872eb4e904d407f3586247R163, but simply uncommenting that check leads to

[2019-07-15 12:31] Ilir-Liburn opened #8551 "macro new on abstract type"
While trying this on abstract type

[code]

I realized macro is never called. Why is then not disabled like for the rest of the operators (except @:from)?

Then I tried to call new directly

[code]

giving me error correctly, but message is wrong, it should never lead to target implementation.
However, this is allowed (but it shouldn't)

[code]

What I'm really interested to know is why is macro n

[2019-07-15 19:36] nadako commented on #8547
Looks like [camlp5](https://github.com/camlp5/camlp5) might be an option. It's maintained, supports 4.08.1 and have similar [stream parsers](https://camlp5.github.io/doc/html/parsers.html) feature.

[2019-07-15 20:02] nadako commented on #8547
Uhm, looks like just replacing camlp4 with camlp5 already works? O_o I'll prepare a PR to check if I'm not crazy.

[2019-07-15 23:09] Ilir-Liburn opened #8554 "abstract new vs from"
[code]

After I change fromInt(v:Int) to fromInt(?v:Int), above example compiles, but CS is producing code which I don't see on other static platforms

[code]
vs Java
[code]
vs CPP
[code]

If I comment fromInt, all platforms produce same result. Question remains: how is and why fromInt related (but never called) to a new in this case?

[2019-07-15 23:51] Ilir-Liburn opened #8555 "[cs] error by constructible"
[code]

Works fine on CPP and Java.

[2019-07-15 23:54] andyli opened #8556 "Class<haxe.macro.Compiler> has no field setCustomJSGenerator"
Somehow the #5172 test started failing in CI.

[Build log](https://dev.azure.com/HaxeFoundation/GitHubPublic/_build/results?buildId=326&view=logs&j=d81420a3-bf30-5d37-575b-fa6a2af01070&t=cc110ab7-c476-5aac-3bed-0ec1854cadd7&l=53):
[code]

[2019-07-15 23:55] Ilir-Liburn opened #8557 "[java] deprecated warning"
On latest dev build (camlp5)

[code]

[2019-07-16 03:09] Geokureli opened #8558 "[display] completion shows private function of abstract when it overrides a public function"
I'm not super familiar with display issues, so let me know if the title needs changing
[code]
calling `bar.die()` results in a compile error, which is correct and expected. but in both try.haxe and vscode `die` appears in completion for bar. It should not
<img width="173" alt="Screen Shot 2019-07-15 at 9 48 58 PM" src="https://user-images.githubusercontent.com/2609513/61262982-ea31dc00-a74c-11e9-9

[2019-07-16 07:04] RealyUniqueName commented on #8554
That happens because `v` in the constructor has a [monomorph](https://haxe.org/manual/types-monomorph.html) type. Which means it is "morphed" into the first type it is unified to. And when you add your `fromInt` that type happens to be either `Int` or `Null<Int>` (depending on an absence or presence of `?`).
Change your constructor to `new(v:Dynamic)` and the generated code will always be the same

[2019-07-16 07:04] #8554 closed, assigned to nobody

[2019-07-16 07:52] Ilir-Liburn commented on #8554
But isn't that just wrong? Underlying type is Dynamic, so this = v in constructor should mean this = (v:Dynamic)?

From documentation
[code]

@Simn?

[2019-07-16 08:23] nadako commented on #8547
So we use camlp5 now :)

[2019-07-16 08:23] #8547 closed, assigned to nobody

[2019-07-16 08:26] andyli commented on #8547
That took much shorter time to resolve than I thought. Thanks :D

[2019-07-16 08:28] Ilir-Liburn commented on #8554
I changed constructor into

[code]

and it compiles just fine while fromInt is declared. @Simn?

[2019-07-16 09:37] RealyUniqueName commented on #8554
Unless the type is `Dynamic`. It's not applied to limit `Dynamic` propagation: https://haxe.org/manual/types-dynamic.html

[2019-07-16 11:32] #8545 closed, assigned to nobody

[2019-07-16 12:11] #8542 closed, assigned to nobody

[2019-07-16 12:50] Aurel300 commented on #8557
What Java version are you running?

[2019-07-16 13:49] Ilir-Liburn commented on #8554
So, only Dynamic won't unify to monomorph, while any other type will:

[code]

Basically, what I was getting can be reduced to
[code]

[2019-07-16 14:02] Ilir-Liburn commented on #8557
1.8.0_144

I got this warning by mistake, typing something what caused VS Code to import some module which I removed afterwards, I don't remember which module that was.

[2019-07-16 14:04] Gama11 commented on #8557
I doubt the Java version is relevant? Perhaps the hxjava version, since that's where the .jar for the Java std lib lives.

[2019-07-16 14:08] Ilir-Liburn commented on #8557
hxjava is 3.2.0

[2019-07-17 09:13] guangjingxu opened #8559 "[hxcpp] haxe 4.0.0 rc3 doesn't support Chinese animal biscuits"
Compiling c++ When running Chinese, running on xcode

![image](https://user-images.githubusercontent.com/51730635/61363062-ea012000-a8b5-11e9-81b2-42a330c017aa.png)

[2019-07-17 12:25] RealyUniqueName commented on #8559
Please, provide a reproducible sample.

[2019-07-17 13:02] filt3rek opened #8560 "haxe.Template conditions"
Hej all ,

I use haxe.Template for years now, and never really knew how to write conditions because sometimes It complains that it miss parenthisis, sometimes not, sometimes it complains for a space between a test, sometimes no...
You can see it here [https://try.haxe.org/#011d7](https://try.haxe.org/#011d7) :
[code]

Thanks for reading,
Regards,
Michal

[2019-07-17 19:22] #8560 closed, assigned to nobody

[2019-07-17 19:24] RealyUniqueName commented on #8560
Spaces are fixed now.
But "complex" expressions like `len > 4` should always be enclosed in parentheses.

[2019-07-17 19:26] RealyUniqueName opened #8562 "Deprecate or remove `haxe.Template`"
I think `haxe.Template` should be deprecated or moved to `hx3compat`.
It's the same story as `haxe.unit` and `haxe.remoting`.
@ncannasse ?

[2019-07-17 19:31] RealyUniqueName commented on #8556
Looks like a random fail. At least it doesn't fail since then.
Let's wait for a while and close the issue if it won't happen again.

[2019-07-17 19:58] filt3rek commented on #8560
Ths Aleksandr,
Since when "spaces" are fixed please ? 3.4.4 is not

[2019-07-17 20:15] RealyUniqueName commented on #8560
Since one hour ago :)
I doubt there will be any patch releases for Haxe 3.4.* branch.
But you can just copy the fixed version of `haxe.Template` to your project: https://github.com/HaxeFoundation/haxe/blob/dbc9e9432736747293d0c6648bdb7759e9d0453c/std/haxe/Template.hx
It should be compatible with Haxe 3.4

[2019-07-18 09:46] #8558 closed, assigned to nobody

[2019-07-18 10:23] RealyUniqueName commented on #8555
Since C# doesn't support parametrized constructors what can we do here?
Maybe the way to go is to replace type parameter occurances in syntax tree with `Dynamic` right before the start of `.cs` code generation.

[2019-07-18 10:30] nadako commented on #8555
Yeah, I guess we have to erase the types here even without `-D erase-generics`.

[2019-07-18 10:45] #8551 closed, assigned to nobody

[2019-07-18 11:07] #8517 closed, assigned to nobody

[2019-07-18 11:08] #4073 closed

[2019-07-18 13:21] ncannasse opened #8564 "Broken HL/JIT"
The commit c53201dc3fdbe1ab8a58391174f6e9d3ba8ca887  broke HL/JIT code generation, not sure how but I just spent some long time to bisect it.

This requires a very particular setup, I could not reproduce it in isolation
- install heaps branch "evomerge"
- run the following
[code]

It seems for some reason, all "String.substr" calls are badly broken when compiling with this patch applied, whereas i

[2019-07-18 14:00] kLabz opened #8565 "If block without else followed by inline markup"
This breaks with `Invalid character 0x20` (long before getting to `Markup literals must be processed by a macro`):

[code]
(http://try-haxe.mrcdk.com/#0B3Fd)

I know inline markup is being reworked but this will probably still apply.

[2019-07-18 14:09] Aurel300 commented on #8565
Slightly more minimal:

[code]

[2019-07-18 15:10] RealyUniqueName commented on #8564
I've made to haxe binaries: one - current dev, second - dev with https://github.com/HaxeFoundation/haxe/commit/c53201dc3fdbe1ab8a58391174f6e9d3ba8ca887 reverted.
Then I've used both to generate ast dumps with `-D dump=ast`. They both produce identical AST for all generated `.dump` files (except some metadata content in shaders, which should not affect string operations).
However `hlcode.txt` has d

[2019-07-18 15:12] Simn commented on #8564
Try using `s_type_kind` instead of `s_type` when printing the AST. I suspect that there's a TLazy or a TMono somewhere and genhl is missing a `follow`.

[2019-07-18 15:27] ncannasse commented on #8562
I don't think it's a big problem keeping it there. I don't see much want we gain at moving it elsewhere except annoying users.

[2019-07-18 15:38] ncannasse commented on #8564
The bug is  `shl 11,11,11` since it's supposed to do `r5 << 1` , it should be `shl 11, 5, 11`
Do you have the corresponding sections in hlopt.txt ?
I still fail to understand why a change in some unrelated place would trigger such a bug :-/

[2019-07-18 15:42] ncannasse commented on #8564
This is the correct hlopt.txt String.substr section:
[code]

[2019-07-18 15:56] RealyUniqueName commented on #8564
@Simn `s_type_kind` didn't reveal any differences in ast of `String.substring` generated by broken and fixed haxe builds.

@ncannasse
Here are the diffs for `hlopt.txt`:
[code]
[code]
and
[code]
[code]

[2019-07-18 16:00] #8562 closed, assigned to nobody

[2019-07-18 16:09] ibilon commented on #8562
What's different between `haxe.Template` and `haxe.unit` or `haxe.remoting` though?
If there are reasons to keep it then the same apply to the others.

[2019-07-18 17:18] RealyUniqueName commented on #8509
Shouldn't that test compare performance of `A.call()` vs `A.$call()` for the generated static method `call`?

[2019-07-18 17:19] nadako commented on #8509
Why? It's just a name change...

[2019-07-18 17:20] haxiomic commented on #8529
@ncannasse I agree, I can't see an advantage of switching to abstract here

The PR #8422 included some other changes like adding BufferSource which it would be nice to keep so I've made a new PR to revert just the ArrayBufferView change

#8566

[2019-07-18 17:33] ncannasse commented on #8562
@ibilon other classes were more like "framework" oriented. Template is just a small helper class.

[2019-07-18 18:01] RealyUniqueName commented on #8509
Sorry, too much brain usage today :)

[2019-07-18 21:50] RealyUniqueName opened #8567 "`File not found` if requested path contains a class path"
[code]
emits `(unknown) : Uncaught exception File not found 'converter/compat/types.patch'` if `converter/compat` is a class path (specified with `-cp` compiler argument)

[2019-07-18 21:53] #8567 closed, assigned to RealyUniqueName

[2019-07-19 08:45] cancerberoSgx commented on #2586
What's the status of this issue ? is any way of requesting binary content (for example images) ? The following works on neko but breaks in cpp and java:

[code]

Any workaround to request binary content is most appreciated. Thanks!

[2019-07-19 08:52] Aurel300 commented on #2586
A small update to some of the old messages in this thread: `String` in Haxe is now only for textual, UTF-8 data, so it is not safe to use it to store binary data (which would be invalid UTF-8 in general). The only exception is `neko`, which is not Unicode-safe.

There has not been a binary-safe refactor for `Http` as of yet.

[2019-07-19 12:16] sonygod commented on #7695
I don't think it's good idea to @:keep every thing when add @:expose

I use same code write server/client  code ,what I want to expose only client side .

but now..everything was expose. I have to write a extra class to do the same thing keep the expose

as short as possible.

@elsassph

[2019-07-19 12:44] #8529 closed, assigned to nobody

[2019-07-19 13:57] Gama11 commented on #7695
You could just have some `-D client` define, and then do `#if client @:expose #end`.

[2019-07-19 14:10] elsassph commented on #7695
Maybe a compiler bug is that `:expose` shouldn't include "unrelated" code like server code if you're doing a client build without referencing the exposed classes?

[2019-07-19 14:45] terurou opened #8568 "[js] `Std.is(x, ArrayBufferView)` should become the compilation error (or should work fine)."
Related #8422, #8529 and #8566

`Std.is(x, BufferArrayView)` can be compiled, but it occurs the runtime error.

[2019-07-19 15:01] cancerberoSgx commented on #2586
This is how I accomplished to get binary content on sys targets. Unfortunately customRequest method, although it won't give compilation errors, it's not documented. (So a cheap solution could be just exposing that method or an alias and document it). Hope it help others:

[code]

This is a fetch() function that will work on all targets, including node.js and the browser:

[code]

I would be glad t

[2019-07-19 15:06] Gama11 commented on #7695
I don't think it does, he must be importing them somewhere.

[2019-07-19 15:09] cancerberoSgx commented on #2586
Also a small feedback, you want to expose a signature based on `haxe.io.Input` and `haxe.io.Output` rather than in `haxe.io.Bytes` since they support more use cases like streams.

[2019-07-19 15:12] Aurel300 commented on #2586
4.1 (hopefully) will bring streams and a more Node.JS-like API for HTTP, see https://github.com/HaxeFoundation/haxe-evolution/pull/59

[2019-07-19 15:22] nadako commented on #8568
This is tricky, because for the compiler `Std.is` is just a simple function. It would much easier if we had a proper `is`/`instanceof` expression, because then we could teach it to reject types marked with some `@:notRuntime` metadata. Technically we still can process `Std.is` in the compiler and do the checks for known `TTypeExpr`s, but it's not nice...

[2019-07-19 15:28] nadako commented on #8568
(note that this is a general, not js-specific issue)

[2019-07-19 15:57] Ilir-Liburn opened #8569 "Code generator ignores @:to"
[code]

Above example will not generate variable d although @:to is called.

[2019-07-19 16:03] Ilir-Liburn commented on #8569
It will if referenced by trace, etc. Closing...

[2019-07-19 16:03] #8569 closed, assigned to nobody

[2019-07-21 00:14] Ilir-Liburn opened #8572 "Something is wrong with @:op(A.B)"
[code]
Unlike any other operator, @:op(A.B) is forcing to declare additional parameter for setter or getter if function is declared as static. This parameter (self) is abstract itself and if used like above, it is causing recursion without warning:

[code]

Or it's a bug, or it needs more work to use it safely. BTW, @:op(A.B) can also be declared as macro (doing nothing), so it should be fixed lik

[2019-07-21 08:40] RealyUniqueName commented on #7871
Being able to type arbitrary things at init macro is nice if one wants to configure something based on the code in project.
Maybe the problem is that macro context of init macros is reused for other kinds of macros. E.g. `ctx.g.modules` is shared among different kinds of macros, but compilation config changes during init macros. That makes types to be loaded again with a different cache signature.

[2019-07-21 08:43] Simn commented on #7871
Note that the problem isn't the macro context, it's the compilation context.

[2019-07-21 08:53] RealyUniqueName commented on #7871
We have so many contexts in the code, I just mix them together :)
What I meant is typer context, common context and other contexts should be separated for init macros and other kinds of macros.

[2019-07-21 09:15] RealyUniqueName commented on #7871
And yes, methods changing compilation configuration should only be available in init macros.

[2019-07-21 09:56] Ilir-Liburn commented on #8572
It can get even worse

[code]

Idea to make individual private getters and setters over underlying type  and call them in @:op(A.B) failed because @:op(A.B) doesn't have precedence over them.  ~~BTW, making them public inline turns underlying type into dynamic object. Inline getters and setters should keep underlying type inline, hoping @:op(A.B) could do the same~~

[2019-07-21 10:35] RealyUniqueName commented on #8565
We need to decide on the final design for markup literals first.

[2019-07-21 11:28] RealyUniqueName commented on #8419
Can we pack both 32bit and 64bit haxelib executables into installers and install required version based on a system neko arch?

[2019-07-21 12:22] RealyUniqueName commented on #8368
#8571 fixes samples provided in this issue.
But a more generic fix could only be done after #7871
I suggest to close this issue regardless the destiny of #8571 and focus on #7871

[2019-07-22 07:41] ncannasse commented on #8419
I think we could drop Windows 32 bit installer support.

[2019-07-22 10:35] ncannasse commented on #8564
I'll look into it

[2019-07-22 13:41] RealyUniqueName commented on #6503
This issue also affects non-anon functions:
[code]
Emits a c++ compilation error:
[code]

[2019-07-22 14:11] Ilir-Liburn opened #8573 "[cs, java] @:generic @:from failure"
[code]

Other targets working fine (including JVM)

[2019-07-22 14:21] RealyUniqueName commented on #6503
We have multiple options to deal with this:

*1.  Allow binding monomorph to Dynamic for function return type*
(Branch with implementation: https://github.com/RealyUniqueName/haxe/tree/bugfix/6503-void-return-dynamic)
* Allows to use arrow functions returning Dynamic and omit return type hints for normal functions when returning a dynamic value;
* But violates our "never bind monomorph to Dynamic"

[2019-07-22 14:57] Ilir-Liburn commented on #8573
Huh, by removing inline, @:from function is not generated (all targets), build fails.

[2019-07-22 17:39] RealyUniqueName commented on #8541
I cannot reproduce this on Linux neither with hxcpp 4.0.19 nor with the latest development hxcpp.
The generated cpp code looks exectly like the first cpp snippet posted by @Aurel300
Could it be windows-only bug?

[2019-07-22 17:46] Aurel300 commented on #8541
Actually this was fixed in https://github.com/HaxeFoundation/hxcpp/commit/8f4396940a8d580b35bc10a9557c0c35581a2900, my bad.

[2019-07-22 17:46] #8541 closed, assigned to hughsando

[2019-07-22 17:59] Ilir-Liburn commented on #8573
OK, I got first issue fixed by changing abstract into

[code]

Obviously, CS and Java are expecting T declared on abstract. Second issue can't be solved because compiler always inserts a call to from function, never to from_anon_value_Int_type_ValueType function or such. Thus, @:generic should be forbidden in pair with @:from, I think.

[2019-07-23 01:41] Ilir-Liburn commented on #8572
Inline is actually not working for @:op(A.B) in this case

[code]

[2019-07-23 02:26] hughsando commented on #6503
IMO, the function should not be Void if you are actually returning something.  So either not Void, or don't return something.  Option 3 is going to solve the problem in the most efficient and expected way - and would be what I would effectively do from hxcpp gen if I really really had to.  Option 2 would be odd if you did something like 'trace(parse...)' and then converted it to 'parse...' and sud

[2019-07-23 02:30] Ilir-Liburn commented on #8572
But it's working for both new and @:from in this case

[code]

Cool. It would be even better if inline could work without T and untyped

[2019-07-23 06:41] RealyUniqueName commented on #8572
I'm not sure if `@:op(A.B)` is supposed to work as a `static` method.
@ncannasse ?

[2019-07-23 06:46] RealyUniqueName commented on #8572
Oh, actually in your original sample you get a recursion because your abstract doesn't have `type` and `value` fields, so they go to `@:op(A.B)` too. That seems to be working as designed. Not sure what to fix here.

[2019-07-23 10:42] Ilir-Liburn commented on #8572
Are you sure? I had to do this to get everything working

[code]

Note need to cast self to underlying type

[2019-07-23 11:26] #6503 closed

[2019-07-23 15:47] Aurel300 opened #8574 "Prevent modifying key-value loop variables"
This causes a compilation error ("Loop variable cannot be modified"):

[code]

But this does not:

[code]

The loop still works (at least in eval), but I don't think it should compile at all.

[2019-07-23 17:04] RealyUniqueName commented on #8574
That error is triggered only for int iterators.
Looks like it was introduced to prevent infinite loops on int iterators.
It makes no sense to prevent modification of loop variables for other kinds of iterators.

[2019-07-23 17:08] RealyUniqueName commented on #8574
Maybe we need a better error message to make it clear

[2019-07-24 16:58] RealyUniqueName opened #8575 "Proper syntax tree representation of arrow functions"
See https://github.com/HaxeFoundation/haxe/issues/8128#issuecomment-495339124

[2019-07-24 16:59] #7376 closed, assigned to Simn

[2019-07-24 16:59] #7890 closed, assigned to Simn

[2019-07-24 16:59] #8128 closed, assigned to nobody

[2019-07-24 22:02] #8550 closed, assigned to Simn, ncannasse

[2019-07-25 06:27] RealyUniqueName commented on #8572
Yes, I am sure. Your `self` is typed as `Under`, which doesn't have `value` and `type` fields. That's why compiler generates `write` calls for `self.value =` and `self.type =`.

[2019-07-25 08:10] djaonourside opened #8576 "[java] Native int is absent"
haxe type &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; java type
java.StdTypes.Int8   -->  byte
java.StdTypes.Int16 -->  short
java.StdTypes.Int64 -->  long
               ?               -->  int
Where can I find native java primitive int type?

[2019-07-25 08:49] Aurel300 commented on #8576
I would think it's just the basic `Int` type you get in Haxe?

[2019-07-25 08:52] RealyUniqueName commented on #8367
I'm closing this because it's a part of #8426 indeed.

[2019-07-25 08:52] #8367 closed, assigned to ncannasse

[2019-07-25 09:32] djaonourside commented on #8576
yep, thanks)

[2019-07-25 09:32] #8576 closed, assigned to nobody

[2019-07-25 13:39] RealyUniqueName commented on #8544
Can you provide a sample?
I didn't spot any issues with custom `Array` class.

[2019-07-25 13:56] Ilir-Liburn commented on #8572
OK, fine with me. Except self is useless if setter of value/type is defined. Because @:op(A.B) doesn't have priority over individual setter. It only works for reflection, or manual call

[code]

Even if setter is defined as private, @:op(A.B) will not take priority. Put that into documentation, and case is closed.

[2019-07-25 14:05] RealyUniqueName commented on #8572
Sorry, I don't understand you :)
`@:op(A.B)` doesn't need a priority. It's used if specified field is not available.

[2019-07-25 14:09] Ilir-Liburn commented on #8572
And what if setter is private? Should compiler delegate to @:op(A.B)? If not, just mention that @:op(A.B) is always about resolve of unexisting fields into documentation.

[2019-07-25 14:42] RealyUniqueName commented on #8419
Currently 64bit windows installer installs 32bit neko, so haxelib works. Which means this issue should affect only a few people who do compiler development or installed 64bit neko manually.

[2019-07-25 15:03] ibilon commented on #8419
What's the reason to have 32 bit neko installed by the 64 bit haxe installer, shouldn't it install 64 bit neko and keep the haxelib executable 64 bits?

[2019-07-25 15:13] #8538 closed, assigned to Simn

[2019-07-25 15:40] mockey opened #8578 "Date.toJSON"
The common format for a Date in JSON seems to be an ISO 8601 string in UTC wiith milliseconds, i.e.: `2019-07-25T15:36:34.959Z`.
At least that's what you get when you `JSON.stringify` a `Date` in JS or use `Date.toJSON`. Wouldn't a `Date.toJson` method be useful that does the same on other platforms?

[2019-07-25 15:45] nadako opened #8579 "pattern matching allows values of abstract underlying types"
This compiles even though `A` has not `from`/`to` `Int`:

[code]

[2019-07-25 15:46] nadako commented on #8579
[Not a regression](http://try-haxe.mrcdk.com/#D52b7)

[2019-07-25 15:54] nadako opened #8580 "static @:to for non-multiType abstracts"
This compiles, while it probably should not:

[code]

Looks like there are some missing checks for `@:impl` and friends (or they are done at the wrong time).

Maybe static `@:to` methods shouldn't be allowed at all for non-`@:multiType` abstracts?

[2019-07-25 15:55] nadako commented on #8580
[Not a regression](http://try-haxe.mrcdk.com/#2627A)

[2019-07-25 16:03] Aurel300 commented on #8578
The problem with that is that even though it is nice from a "user looking at the JSON output" perspective, it is a lossy conversion – there is no proper way to express dates in JSON, and if you receive a ISO 8601 string from JSON parsing, you still need to manually change it into a `Date`. So I don't think a `toJSON` method would provide much value compared to manually converting a `Date` to that

[2019-07-25 16:18] RealyUniqueName commented on #8419
I think it just happens. Probably no one ever bothered to make sure 64bit windows installer installs 64bit neko too.

[2019-07-25 16:27] back2dos commented on #8574
I'm confused. Can we not support modifying the variable for int iterators? Removing the special treatment and relying on inlining would do just that. In fact if you move the int iterator out of the loop, then it already works: http://try-haxe.mrcdk.com/#2F2c1

[2019-07-25 16:29] mockey commented on #8578
I know this is not ideal. But it's about having some standard JSON output for Date cross-platform. Right now I get the said ISO string from JS while I get an object `{__t: $timestamp}` from PHP e.g.

[2019-07-25 17:50] RealyUniqueName commented on #8580
It's explicitly implemented here:
https://github.com/HaxeFoundation/haxe/blob/bdddb588cbb99e2bb0428a79e6a6aef614715225/src/typing/matcher.ml#L244-L248
I didn't find any clue to why it is done. Disabling it doesn't break any tests.
@Simn ?

[2019-07-25 18:22] nadako commented on #8580
are you sure it's about this issue and not #8579? :)

[2019-07-25 19:19] RealyUniqueName commented on #8580
Oh, right :)

[2019-07-25 19:19] RealyUniqueName commented on #8579
It's explicitly implemented here:
https://github.com/HaxeFoundation/haxe/blob/bdddb588cbb99e2bb0428a79e6a6aef614715225/src/typing/matcher.ml#L244-L248
I didn't find any clue to why it is done. Disabling it doesn't break any tests.
@Simn ?

[2019-07-25 19:34] Aurel300 commented on #8578
Well, `Date.toString` is consistent, but there is nothing specifying that the JSON module should stringify `Date` using its `toString` method. Ideally you should pre-process the input to `Json.stringify` to only contain JSON primitives, i.e. anonymous objects, arrays, integers, floats, booleans, strings, nulls.

[2019-07-26 04:55] Simn commented on #8579
IIRC it was some OpenFL problem. But we can try breaking it.

[2019-07-26 06:03] Simn commented on #8544
It might be a good idea to follow genjava here and put everything in a haxe.root package.

Unfortunately, that's a somewhat finicky change and I'm not sure how many places it affects.

[2019-07-26 07:30] back2dos commented on #8580
There's been some kind of "selective methods" or whatever they're termed. IIRC it was even in the manual at some point in time, but I can't find it anymore.

For `@:to` casts, it allows you to specialize on type parameter: http://try-haxe.mrcdk.com/#c0c9D

I guess it would look less weird if the argument were the abstract instead of the underlying type.

[2019-07-26 12:41] mockey commented on #8578
`Date.toString` might be consistent but gives you local time without any timezone info.

[2019-07-26 12:51] Aurel300 commented on #8578
That is true. For the time being I would suggest something like `using DateJsonTools;`, then define `DateJsonTools.toJSON` to use the `Date.getUTC*` methods and/or `Date.getTimezoneOffset`.

[2019-07-26 14:35] RealyUniqueName commented on #8579
Removing that hack breaks this: https://github.com/openfl/openfl/blob/develop/src/openfl/display/ShaderParameterType.hx#L208-L234
But IMO that should be fixed on the OpenFL site

[2019-07-26 14:41] nadako commented on #8579
yes, it breaks a lot of these enum abstracts in OpenFL, but arguably that code is incorrect and should be fixed

[2019-07-26 14:58] #8579 closed, assigned to nobody

[2019-07-26 14:59] RealyUniqueName commented on #8579
@jgranick ^

[2019-07-26 17:46] #5785 closed

[2019-07-26 17:46] #7733 closed, assigned to Simn

[2019-07-26 20:18] mockey commented on #8578
I have something like that, no worries. I just thought it might make sense in Haxe DateTools,

[2019-07-27 06:19] ghost commented on #8544
We used `import haxe.root.Array` to access haxe Array in java now because Array does not have namespace it can't be used to access haxe generated code in java.

Haxe Code:
[code]

Java Code:
[code]

If we build it without -jvm flag there is no problem but with -jvm flag Java compiler complains about `haxe.root.Array` not found.

[2019-07-27 10:39] Gama11 opened #8583 "Null access in haxe.crypto.Base64 static field init"
Since https://github.com/HaxeFoundation/haxe/pull/8571, the following happens when trying to compile [Flixel's unit tests](https://github.com/HaxeFlixel/flixel/tree/dev/tests/unit) through the compilation server:

![](https://i.imgur.com/lWBKsSs.png)

[2019-07-27 15:57] Ilir-Liburn opened #8584 "[display] shows first, compiles second function from static extension"
[code]

[2019-07-27 16:12] Ilir-Liburn commented on #8584
Another issue is that o.test() will not compile. If I swap test functions, it will. Meaning, only last extension will compile, but display will show only first.

Adding missing Overload class, although I think it's clear how it looks like

[code]

[2019-07-27 16:34] Ilir-Liburn commented on #8584
BTW, if using static extension in this way can compile only last extension, how do I compile them both? If I try 'using OverloadHelper.*", compiler complains that I have to specific

[code]

while 'import OverloadHelper.*" allows wildcard. And even I'm specific like above, display shows only first extension, but compiles second. Obviously, second is shadowing first.

[2019-07-27 16:45] Gama11 commented on #8584
I don't think that's possible, overloads are only supported for externs after all.

[2019-07-28 06:17] Simn commented on #8584
This is not how static extensions work. The display is correct.

[2019-07-28 08:49] Ilir-Liburn commented on #8584
If display is correct, then compiler is wrong. Display will show test() function, while compiler will throw error (compiles only second test(i:Int) function)

[2019-07-28 08:55] Ilir-Liburn opened #8585 "Latest dev build, haxelib doesn't work on Windows x64"
Won't start, something about not valid executable. Latest I found working is

haxe_2019-07-26_development_c65439d.zip

[2019-07-28 09:09] Simn commented on #8584
Oh that's what you're reporting. Your comments confused me.

[2019-07-28 09:09] Ilir-Liburn commented on #8584
Same happens with auto-using, e.g. @:using(Overload.Overload1, Overload.Overload2)

[2019-07-28 09:13] Aurel300 commented on #8585
https://github.com/HaxeFoundation/haxe/commit/f3a86e39b263a0ec67e8ac20a286b79aa0bbaa4f probably wouldn't cause this.  https://github.com/HaxeFoundation/haxe/commit/12870fe4a7ca87bb2e24e3671e7cd314728f1214 might have. @RealyUniqueName

[2019-07-28 09:20] RealyUniqueName commented on #8585
Yeah, see the comment on 12870fe4a7ca87bb2e24e3671e7cd314728f1214

[2019-07-28 19:55] djaonourside commented on #8451
Guys, what's the issue status? I'm asking because suppose it's rather critical and basic aspect of editor language support.

[2019-07-28 20:13] nadako commented on #8451
Would be nice to have for 4.0 indeed, as it's pretty annoying when working in VS Code.

[2019-07-28 21:21] JustinRyanH commented on #8583
I've come across this while trying to run heaps with 4.0.0-rc3 on Ubuntu.

[2019-07-28 21:24] Gama11 commented on #8583
Are you sure you're using rc.3 and not a more recent nightly build? The change that caused this is not in rc.3.

[2019-07-29 05:53] Simn commented on #8583
The problem is that in evalJit.ml we capture the prototype and it is then not initialized properly. This is not compatible with the lazy approach taken in #8571.

Conceptually, we want to make sure things are initialized when we first execute something. I think this would come down to dealing with it at the places we have `EKEntrypoint`.

[2019-07-29 10:40] malony0 opened #8586 "[java] text corruption in Shift-JIS environment"
[code]
[code]
in ver 4.0.0-rc3, this outputs the following in Shift-JIS environment.
(tested on Windows command prompt, code page:932)
[code]
Expected output is:
[code]
compiled and tested with the same setting, but in ver 3.4.7.
​
I also tested with c# and python, but they worked fine.

[2019-07-29 11:11] terurou commented on #8586
This code works fine in Haxe 4.0.0-rc.2.

[2019-07-29 11:22] Aurel300 commented on #8586
I am pretty sure this comes from setting stdout and stderr to UTF-8:

https://github.com/HaxeFoundation/haxe/blob/f244bb85b6fc71353634e3ff8fbb80d24478c4e2/std/java/Init.hx#L27-L28

This makes it more likely Unicode output will work (even when the Windows console or pipe is not in the correct codepage). Unfortunately it also ignores the codepage if it was actually set correctly to something incompa

[2019-07-29 12:12] terurou commented on #8586
This issue is VERY BAD in Windows/Japanese environment.
Please make encoding setting opt-out. (eg. `-D java_encoding_auto` )

[2019-07-29 12:55] #8585 closed, assigned to RealyUniqueName

[2019-07-29 14:26] Ilir-Liburn opened #8588 "Compiler hanging on invalid `@:from`"
[code]

Casting return of @:from function or using new-@:to combination works without hanging

[2019-07-30 07:22] #8584 closed, assigned to Simn

[2019-07-30 07:29] Simn commented on #8586
This seems a bit tricky because either way we end up with something that doesn't work by default. I'm not sure if the setting to utf-8 should be opt-out or opt-in. Technically, you can already opt-out anyway by manually resetting the encoding at the start of the program, as @Aurel300 mentions.

[2019-07-30 07:38] Simn commented on #8588
This isn't about multitype abstracts at all and the example can be simplified:

[code]

The code is clearly invalid and errors without the assignment in `main`, but something hangs before we get to that error. The type parameter on `Under` is required to reproduce this.

[2019-07-30 07:45] Simn commented on #8565
I don't think this is related to the concrete syntax. Something goes wrong here due to the semicolon-else lookup, which is going to be an issue no matter which syntax we pick.

[2019-07-30 07:50] Simn commented on #8565
Right, due to the lookahead we lex both the `<` and the `someMarkup`. They are not removed from the stream, but are also no longer visible to the lexer. When the parser then comes across the `<` and wants to start lexing not-xml, the lexer no longer sees the `someMarkup` but the space after it and chokes.

I think we can soft-fix this by not using `npeek 2` directly, but checking for the `;` first

[2019-07-30 07:58] #8565 closed, assigned to nobody

[2019-07-30 08:01] Simn commented on #8575
Note that the right fix here is to modify `EFunction` like @nadako suggests. The information is specific to local functions, which is what `EFunction` represents.

And yes this is a breaking change for macros...

[2019-07-30 08:05] Simn commented on #8572
I'm not sure anymore if introducing all these pseudo-`@:op` functions was a good idea, mainly because it's difficult to search for it. The documentation for `@:resolve` actually mentions this already:

I suppose we need a proper section in the manual about `@:op` now.

[2019-07-30 08:20] Simn commented on #8573
Huh, I didn't realize `@:generic inline` was even allowed. That seems a bit incompatible.

As for `@:generic @:from`, I don't see why that shouldn't work, so that's something we can probably fix.

[2019-07-30 08:27] Simn commented on #8557
It complains about `new java.net.Socket()`, but I don't understand what's deprecated there. [The API](https://docs.oracle.com/javase/8/docs/api/java/net/Socket.html#Socket--) doesn't mention any deprecation for the empty constructor...

[2019-07-30 08:44] Aurel300 commented on #8572
@Simn What's missing in https://haxe.org/manual/types-abstract-operator-overloading.html ? Could you open a HaxeManual issue with some bullet points that you can think of?

[2019-07-30 09:26] #8583 closed, assigned to nobody

[2019-07-30 09:33] kLabz opened #8589 "[cs] List_1.ConvertAll gives false positive (warning)"
The following code results in a `This expression may be invalid` warning on the second line:
[code]

When printing the unification error in `CastDetect.infer_params` we get:
[code]

To reproduce:
[code]

[code]

[2019-07-30 09:47] RealyUniqueName commented on #8557
Maybe meta from different overloaded fields is mixed somehow?

[2019-07-30 10:33] Simn commented on #8557
Ah good point, that must be it.

[2019-07-30 10:47] Simn commented on #8572
https://github.com/HaxeFoundation/HaxeManual/issues/421

[2019-07-30 10:47] #8572 closed, assigned to nobody

[2019-07-30 10:58] Simn commented on #8557
I can't find the issue, but the problem is simply that we don't represent constructor overloads in our AST. The compiler simply takes the first overload it finds and if that happens to have a deprecation attribute, we get a warning.

I'll probably gracefully fix this by not warning about deprecated constructors if they have overloads.

[2019-07-30 11:08] #8557 closed, assigned to nobody

[2019-07-30 11:29] back2dos opened #8591 "Opt in for more TS/JS-friendly enum representation."
It would be nice if there were a way to make the compiler emit code that puts the constructor name into the object (under e.g. a `$type` property), because that way we could use enums in APIs we expose to other frontend teams (which use JS/TS). Maybe via a compiler flag, that would also control the property name.

[2019-07-30 11:33] nadako commented on #8591
Somewhat related to #7165 (still has to rename _hx_index to `$index` etc). We actually have a define for using name instead of index, but IIRC that's mostly a debugging feature.

[2019-07-30 11:59] #8544 closed, assigned to Simn

[2019-07-30 12:16] Simn commented on #6582
Some thoughts:

* We want to allow partial configuration, which makes some sort of inheritance mechanism a requirement.
* A straightforward approach is to allow `--target some/config.json`. This requires some additional work on the side of haxelib if it is to be used from extraParams.hxml because we want to be able to resolve to a config within the library.
* The actual config should consist of th

[2019-07-30 12:30] Simn commented on #8580
Checklist for any change regarding `@:multiType`:

1. Does it break `Map`?
2. If not, change it.
3. Make a mental note that one day we'll implement `Map` differently.

[2019-07-30 12:45] Simn commented on #8525
The only thing we could do here is place some strategic `Thread.yield()` calls. In this particular case, the problem is that we're still using your Thread implementation from 1789, so OCaml has no idea what exactly we're doing.

My concern is that this would require yielding in a lot of places. I'm inclined to not touch this at all until we have a proper sys API in 4.1.

[2019-07-30 12:53] Simn commented on #8525
Actually, yielding isn't going to help here either because the `Sys.sleep` also yields, so depending on who yields first we just end up with the same situation.

[2019-07-30 13:02] Simn commented on #8556
I have no idea how something like that happens... but I agree that there's not much value in keeping the issue open as it didn't happen again.

[2019-07-30 13:09] Simn commented on #8528
`javac` generates a helper function for this on A.class:

[code]

We'll have to comply with that.

[2019-07-30 14:37] RealyUniqueName commented on #8588
Infinite loop happens because `fast_eq` does not hold here:
https://github.com/HaxeFoundation/haxe/blob/004b3b48fcc458651550a020936933530a9464d7/src/typing/typer.ml#L1613
It compares `Under<{}>` and `Under<{}>`, but since `TAnon`s have different origin they are not physically equal and `fast_eq` does not compare `TAnon`s structurally.

Edit: anons are not equal because they are duplicated here:
ht

[2019-07-30 16:57] fullofcaffeine commented on #8591
Yes, please. I just stumbled upon this limitation when using `hxtsdgen` to directly expose a `coconut.data` model to TS (it failed when trying to generate `tink.core.Noise`). See: https://github.com/nadako/hxtsdgen/issues/28.

[2019-07-30 16:57] Ilir-Liburn commented on #8573
Isn't inline always about inlining code instead of calling a function? In this case, inlining a code of function which takes dynamic parameters like there is no generic meta?

What I can't foresee is what happens if @:generic @:from is declared first, and then other from(s) are declared

[code]

[2019-07-31 08:56] botsman opened #8593 "haxe.Json.stringify always produces {} on Python for nested objects"
When I try to make haxe.Json.stringify on some object with nested values (see example below), on Python I always get string containing empty object: `"{}"`

This bug is related to a Haxe 4.
[code]

Haxe code:
[code]

[2019-07-31 13:58] #8593 closed, assigned to nobody

[2019-07-31 15:17] #8578 closed, assigned to nobody

[2019-07-31 19:58] vypxl opened #8594 "[suggestion] oneliner function syntax"
I know there is the shiny new arrow function syntax which I do like, but it can't really be used for class member functions.

Currently, to create a short, one-line function returning something, you end up like this:
[code]

In my opinion that `function bar() : Type return ..;` looks weird.
So I propose a little syntactic sugar to enhance this:
[code]

Took that from Scala btw

[2019-07-31 20:01] Simn commented on #8594
Thank you for the suggestion, but we have no plans to add more syntax for functions at the moment.

[2019-07-31 20:01] #8594 closed, assigned to nobody

[2019-07-31 20:07] Aurel300 commented on #8594
[code]

The first one is shorter also :)

[2019-07-31 20:22] kLabz commented on #8594
Don't you need `final foo` though?

[2019-07-31 21:57] fullofcaffeine opened #8595 "Move haxe-js-kit under the Haxe Foundation umbrella"
Sorry if this is not the right place to discuss this, but I think this is a relevant topic and directly related to Haxe.

The `haxe-js-kit` (https://github.com/clemos/haxe-js-kit) suite of externs is slowly falling apart, and started failing with Haxe 4. It's a pity because it's got a LOT of useful externs for popular js libraries and frameworks. I'd compare it to TypeScript's https://github.com/D

[2019-08-01 00:10] vypxl commented on #8243
I just wanted to note that I also get this error, but a different stacktrace:
[code]

[2019-08-01 06:41] back2dos commented on #8595
I don't think that's realistic to expect, as js-kit is barely used by anyone on the team, if at all.

I also believe that the time and energy required for this would better be spent on a proper dts2hx solution, as that means we can effectively outsource the tedious task of creating and maintaining externs.

[2019-08-01 08:45] ncannasse commented on #8595
Haxe Foundation could host an official repository for community-contributed JS externs, so that there is a single point where various efforts are gathered instead of being split among each contributor own's repository.

But we would need a maintainer for this, that takes care of:
- managing the PR and other contributions
- inviting current scattered externs authors to contribute their work there
-

[2019-08-01 08:46] nadako commented on #8595
BTW there's https://github.com/HaxeFoundation/hxnodelibs basically maintained by two guys, but I think it's only for node.js modules.

[2019-08-01 08:52] ncannasse commented on #8595
Yes, that would be in the same spirit we did
https://github.com/HaxeFoundation/hxnodejs as well.

 On Thu, Aug 1, 2019 at 10:46 AM Dan Korostelev <notifications@github.com>
wrote:

[2019-08-01 08:52] nadako opened #8596 "[display] read-only display requests invalidate module"
(even though it's a big topic code-wise, i'm just creating the issue so we don't forget about it as it's quite important for any large code-base)

If I understand correctly, all the display requests, including the pure "read-only" ones like hover, position, type position, etc currently invalidate the module and all its dependencies.

This is very unfortunate, because mere code navigation on a larg

[2019-08-01 08:54] nadako commented on #8595
I agree with that. Converting d.ts is possible to some extent, but some TS type system concepts are just not compatible with Haxe (e.g. mapped types, type queries, non-trivial unions/intersections).

[2019-08-01 08:58] Simn commented on #8596
I agree that we need this, but it's tricky to implement. We want to force typing of modules without removing them from the cache.

The simplest approach might be to remove them from the cache, trigger the typing and then add them back in the end. This should be safe because we don't update the cache on display requests anyway.

[2019-08-01 10:19] RealyUniqueName commented on #8243
@vypxl could you provide a sample? That looks like a different issue.

[2019-08-01 10:47] nadako commented on #8596
"The simplest approach" doesn't sound that tricky :)

[2019-08-01 10:53] RealyUniqueName commented on #8243
@ncannasse The problem is recursive abstract. The most simplified sample of original issue:
[code]
genhl infinitely goes through `resolve_class ctx Array [Rec] statics` into `to_type ctx Rec`:
https://github.com/HaxeFoundation/haxe/blob/10f00acbbe6edc1a8317f2531d99ccf30288e2ed/src/generators/genhl.ml#L464-L465
then through `to_type ctx Rec` goes into `to_type ?tref ctx Array<Rec>`:
https://github.

[2019-08-01 10:55] Simn commented on #8596
Well I came up with that while writing the first sentence. :P

It might be straightforward, or it might be a huge mess due to something we're not considering.

[2019-08-01 11:11] RealyUniqueName commented on #8243
gencpp, gencs, genjava also hit stack overflow.

[2019-08-01 11:41] vypxl commented on #8243
My error happens with a really simple example of using @kevinresol 's exp-ecs (git);

[code]
[I do not know why I have to specify a type parameter to the Bar system but it complains when I don't]

Compile with `haxe -hl out/app.hl -lib exp-ecs -p src -main Main` generates my stacktrace:

Im using haxe git version [via Arch AUR `haxe-git`].

[2019-08-01 12:40] nadako opened #8597 "[js] add Clipboard API to the HTML externs"
I'd like to try out the new [Clipboard API](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API) and maybe use it where it's available, but it seems that we don't have externs for that at the moment. Probably just a matter of enabling the flag in the extern generator?

IIUC it's just two additions the `Clipboard` class and `Navigator.clipboard` field.

[2019-08-01 15:39] Ilir-Liburn commented on #8588
I stay on multitype abstract here because of another issue

[code]

 Return by ```(v:Under<T>)``` hangs compiler, while regular abstract throws: Recursive implicit cast

EDIT: after adding missing v:T, return (v:Under<T>) compiles just fine. So, I removed T at v:T for regular abstract, and it is hanging too.  So both are hanging actually if v:T is not declared

[2019-08-01 16:25] haxiomic commented on #8597
Flags are `dom.events.asyncClipboard` and `dom.events.asyncClipboard.dataTransfer`

There's a number of updates required to the generator to account types that have moved to `js.lib` but for now I can generate the new files and merge them in manually

[2019-08-01 18:04] haxiomic commented on #8568
I think the canonical solution is to use [`ArrayBuffer.isView(...)`](https://www.ecma-international.org/ecma-262/6.0/#sec-arraybuffer.isview)

It would be nice if `Std.is(x, ArrayBufferView)` produced a compiler error and nadako's `@:notRuntime` check sounds like a good way to do it

On why is shouldn't work: the TypedArrays don't inherit from ArrayBufferView in the strict sense; an ABV type isn't

[2019-08-01 18:48] melMass commented on #8457
Is there a reason why your `.toString()` trick is not merged in master

[2019-08-01 19:34] #8597 closed, assigned to haxiomic

[2019-08-01 21:08] fullofcaffeine commented on #8595
Oh nice, I did not know hxnodejs included externs for Express among other frameworks. I'll look into it.

[2019-08-02 01:54] terurou commented on #8568
That's right.

I agree `@:notRuntime` check.

[2019-08-02 07:27] andyli commented on #8419
I will work on it today.

[2019-08-02 07:44] #8528 closed, assigned to nobody

[2019-08-02 07:47] Simn commented on #8528
We now generate bridge methods whenever we implement an interface method with a different, variant-unifying type. There might still be cases where this breaks apart in the context of overloads, but I struggle to come up with such a case.

[2019-08-02 08:00] #8537 closed, assigned to Simn

[2019-08-02 08:01] Simn commented on #8388
This particular problem should no longer occur. I probably won't put too much effort into supporting 32bit though...

[2019-08-02 08:01] #8388 closed, assigned to nobody

[2019-08-02 08:32] RealyUniqueName commented on #8588
Fixed that in #8592 too

[2019-08-02 09:50] djaonourside commented on #6843
What's the current strategy of the haxe in haxe implementation?

[2019-08-02 10:00] andyli commented on #7958
Can we prioritize this one? Again it's because the Linux distros are upgrading their sedlex packages, which will break the Haxe packages.

[2019-08-02 10:10] Gama11 opened #8599 "[eval] debug hover doesn't work on (get, set) properties"
Originally reported in https://github.com/vshaxe/vshaxe/issues/365.

---

![](https://i.imgur.com/fzZ6ODv.png)

[code]

[code]

[2019-08-02 10:16] RealyUniqueName commented on #8419
Done. See #8587 and 5607da98f07129b596b1b9d689c2f1a58fd3252d

[2019-08-02 10:16] #8419 closed, assigned to andyli

[2019-08-02 10:56] andyli opened #8600 "macro Date unit test failed in win32 build"
[code]

[2019-08-02 10:59] andyli opened #8601 "another jvm win32 error"
https://dev.azure.com/onthewings/GitHub%20public%20projects/_build/results?buildId=373&view=logs&j=9c9628c6-68fe-5e31-371f-9ffc8baf6818&t=e1121792-537a-5b48-b0de-22555fdac58f&l=174
[code]

[2019-08-02 11:02] Simn commented on #8601
Right, my fix didn't make much sense...

[2019-08-02 11:06] Aurel300 commented on #8600
Yeah, this will fail on 32-bit systems…

https://github.com/HaxeFoundation/haxe/blob/53f529697135e81f9fe39d36198e74beb311fd8d/tests/unit/src/unitstd/Date.unit.hx#L79

It should be guarded in a block checking the system is 64-bit. Same for:

https://github.com/HaxeFoundation/haxe/blob/53f529697135e81f9fe39d36198e74beb311fd8d/tests/unit/src/unitstd/Date.unit.hx#L92

[2019-08-02 11:09] Simn commented on #8601
Do we have something in our Makefile that allows building 32bit Haxe on 64bit systems?

[2019-08-02 11:10] Simn commented on #8600
Agreed, there's nothing I can do about this given the current implementation.

[2019-08-02 11:31] andyli commented on #8601
For Windows, it needs a different OCaml compiler for different arch, so maybe just add another opam switch will do.

[2019-08-02 11:46] Simn commented on #8601
As usual, that doesn't quite work with my setup. I'll try to blind-fix this...

[2019-08-02 11:48] Gama11 opened #8602 "[display] Toplevel completion sometimes misreported as TypeHint"
Invoking completion after `haxe.ds.` reports completion mode 4 (`TypeHint`). Unless I'm missing something, this should be `Toplevel`.

![](https://i.imgur.com/FYv8sei.png)

[code]

[2019-08-02 13:33] mockey opened #8603 "How can I upgrade the opam haxe pin?"
So I followed BUILDING.md to configure my build environment with the pinned haxe package. Installing works fine. But how can I upgrade this pinned package?
`opam upgrade haxe --deps-only` doesn't work
`opam upgrade haxe` tries to upgrade the whole package (not just the deps)
`opam upgrade` upgrades everything to the newest version (incl. an incompatible `sedlex`)
Right now I do `opam upgrade` foll

[2019-08-02 14:58] andyli commented on #8603
I think a `opam update` (not to be mistaken with `upgrade`) will sync the pin as well as prompt you to upgrade/rebuild the deps.

[2019-08-02 15:42] uvtc commented on #8030
Seeing this inconsistency surprised me. I think it gives prospective new users the impression, "if low-hanging fruit like this hasn't been fixed yet, what bigger bugs will I stumble over down the road?".

[2019-08-02 16:25] mockey commented on #8603
`opam update`syncs the pin, but does not upgrade anything. It says: `Now run opam upgrade to apply any package updates`...
It seems that there is no `--deps-only` option for `opam upgrade`.
With `opam upgrade haxe` I get: `haxe is not installed. Install it?`. I guess the install entry from the opam file would be run then (`make install`).

[2019-08-02 16:49] andyli commented on #8603
Ah, now I understand the problem. I guess what we're doing here is not a major use case in opam.
People usually actually install the pinned package instead of just `--deps-only`. So maybe if you're not hacking around the haxe source code, it may make more sense to `opam install haxe`, which will add haxe to PATH when `eval $(opam env)`, which can be added to your .bashrc if you want. In that case,

[2019-08-02 16:58] #8243 closed, assigned to nobody

[2019-08-02 16:59] RealyUniqueName commented on #3024
Reopening this because the test is just disabled for hl:
https://github.com/HaxeFoundation/haxe/blob/c6ede59cada98cf75510db0917ab1bf9d0086309/tests/unit/src/unit/issues/Issue3024.hx#L3-L9

[2019-08-02 19:37] mockey commented on #8603
So `opam upgrade` would build haxe then in the `~/.opam` directory?
I don't know, I think I'd prefer to have haxe in my own PATH separate from opam, maybe I'll try `opam install haxe --fake`...

[2019-08-02 22:22] JoeCreates opened #8605 "Functions in macro parameters are not correctly processed"
haxe 4rc3, target HTML5

Example (using dev flixel):
[code]

Produces this error:
[code]

It works fine on flash, windows, neko. If I move the function into the body of the `buildFileReferences` function then it is also fine.

[2019-08-02 22:31] fullofcaffeine commented on #8595
Apologies, I misunderstood. `hxnodejs` has externs only for the nodejs std lib. The externs for `expressjs` that `js-kit` provides still works with Haxe 4 (albeit with warnings), though. It'd really nice to have readily available externs for popular js libs like Express / Koa, Mongoose, etc.

[2019-08-02 22:32] fullofcaffeine commented on #8595
Woopsie, I meant https://github.com/HaxeFoundation/hxnodelibs not `hxnodejs`. I had no idea `hxnodelibs` existed. Could we list them somewhere in the manual?

[2019-08-03 01:57] fullofcaffeine commented on #8595
However, the express externs from `js-kit` are actually much more elegantly typed (in terms of typing completeness) than the ones in `hxnodelibs` (which seems to rely on `Dynamic` too much at the moment, just compare the express' `Middleware.use` func from both to have an idea of what I'm talking about). I'll keep using the ones from `js-kit` for now.

[2019-08-03 06:54] Simn commented on #8030
I agree that this should be fixed, but invoking the confused new users trope just makes me less likely to look into something.

[2019-08-03 08:17] kLabz commented on #8595
That's the kind of impression I have (or had, at least) for many externs in js-kit. If it's not a false impression then I don't think I'd want those externs to be "officially promoted" or something.

[2019-08-03 16:02] fullofcaffeine commented on #8595
@kLabz I haven't used any other externs from `js-kit` apart from the ones for `expressjs` and in this case, the externs in js-kit *are* more complete type-wise than the ones in `hxnodelibs`.

[2019-08-03 17:26] uvtc commented on #8030
Cool. Though, I didn't say that it confused new users.

[2019-08-03 19:00] kLabz commented on #8595
Yeah if my impression was (and still is maybe) justified it certainly didn't/doesn't apply to every externs in js-kit. I'm sure there are some (many?) high quality ones in there.

[2019-08-03 19:06] JoeCreates opened #8606 "Relaxed read/write access requirement in interface"
Consider the following example ([http://try-haxe.mrcdk.com/#a8Aba](http://try-haxe.mrcdk.com/#a8Aba)):

[code]

We have an interface which only cares that an implementing class provide read access to a `description` field. Unfortunately it seems that haxe presently requires that the interface define whether it is expecting a var or a property, even though this would have no practical implication.

[2019-08-04 01:31] Ilir-Liburn commented on #8588
Probably is the same issue, but just in case...

[code]

From abstract type hangs compiler (second from is irrelevant). Same goes for multitype abstract

[2019-08-04 09:54] Joncom commented on #7974
Agreed. I thought `[]` was just syntax sugar for the `set` and `get` functions. Any good reason that shouldn't be the case?

In Discord, @Gama11 agrees too:

Here's another example where `[]` does not behave like `set`, and it's annoying:

[code]

Produces the error: `Test.hx:11: characters 8-39 : No @:arrayAccess function accepts arguments of String and Array<SubClass1>`

However, compiles just f

[2019-08-04 10:05] Simn commented on #7974
My comment explains just that.

[2019-08-04 10:11] nadako commented on #7974
I think this is a duplicate of #6743

[2019-08-04 10:13] Simn commented on #7974
It is indeed.

[2019-08-04 10:13] #7974 closed, assigned to nobody

[2019-08-04 11:05] #8599 closed, assigned to Simn

[2019-08-04 11:20] Aurel300 commented on #8600
Disabled the tests for now. We will need a `Sys.getWordSize()` (returning `32` or `64`) method to check at runtime if dates can store those ranges.

[2019-08-04 11:32] Simn commented on #8601
Please see if that did anything.

[2019-08-04 12:53] Simn commented on #8596
See if that does anything for you. I tested it for 30 seconds and it didn't immediately break displaying in my Hello World program.

[2019-08-04 13:28] andyli commented on #8601
https://dev.azure.com/onthewings/GitHub%20public%20projects/_build/results?buildId=382&view=logs&j=9c9628c6-68fe-5e31-371f-9ffc8baf6818&t=e1121792-537a-5b48-b0de-22555fdac58f&l=174

[code]

[2019-08-04 16:28] nadako commented on #8596
it doesn't break stuff for me and i _think_ it's better, but i still see some module skipping after jumping between some modules. can't yet easily reproduce though :(

[2019-08-04 16:52] nadako commented on #8596
ok it does, I'm getting some new "module is redefined" errors. still not quite sure where it comes from

[2019-08-04 17:04] nadako commented on #8596
This happens with two inter-dependent modules that are both included in the compilation, e.g:

[code]

[code]

(just add both `A` and `B` in the hxml)

Hovering either A or B will result in `Type name A is redefined from module A` (or `B`).

[2019-08-04 17:56] fullofcaffeine commented on #8595
@ciscoheat used to be an active contributor to `js-kit` and his Haxe code is top-notch from my experience, so I'm sure there are other good gems there.

**We're getting off track here though**. From what I see, there's no chance of `js-kit` being ever moved / maintained by the HF officially. **I think this issue could still be useful as a trigger [of further discussion] to either of the following

[2019-08-05 06:51] RealyUniqueName commented on #8606
This is not possible. Haxe compiler needs to know what to generate - a call `obj.get_description()` or a field access `obj.description`.
[code]