[2019-04-20 06:35] nadako commented on #8181
I made some changes to get rid of the original issue and improve the `Browser.alert` situation a bit. Will keep this issue open as a reminder that we should clean up the mess in `js.Boot.__string_rec`.

[2019-04-20 07:02] nadako commented on #8176
Hm, so `exclude` basically means that the class is marked as `extern`. For DCE that means that this class is "always kept", but since the class methods has expressions, it recurses into them and finds the reference to `JsRequire` and marks it as directly used, thus `require` is generated.

I'm not sure why exactly this was different in Haxe 3, maybe we fixed some bugs with marking "directly used"

[2019-04-20 08:04] Simn commented on #8176
Not processing extern expression seems sensible. Does that fix the issue?

[2019-04-20 08:38] nadako commented on #8176
I assume so :) Will try when I have some time

[2019-04-20 09:09] nadako commented on #6065
Likewise,
[code]
won't accept `String` arguments, because constraint checks ignore overloads.

[2019-04-20 09:25] nadako commented on #8170
Yeah, it's far more straightforward in TS with type unions. But hey, maybe there's a macro for that \o/

[2019-04-20 15:33] kevinresol commented on #6289
I can confirm this is fixed in genjvm (as at https://github.com/Simn/genjvm/commit/ed41e7e56df53c719a3d03e3a7e66bf51738f46f)

[2019-04-20 18:49] francescoagati commented on #8176
for now i have resolved remove @jsrequire meta with another macro. i use this for generate a particular file without node require

[2019-04-21 15:25] mundusnine opened #8193 "Sys.command / sys.io.Process don't seem to use same env as cmd"
Env:
- Haxe version: 4.0.0-rc.2
- Hashlink 1.9(only used for debugging because the library uses macro target)

In cmd:
![image](https://user-images.githubusercontent.com/29337013/56471961-b03f8b00-6426-11e9-957f-3fa486b1a7ee.png)

In Sys.command/ sys.io.Process:
![image](https://user-images.githubusercontent.com/29337013/56472002-3fe53980-6427-11e9-81fb-a77bb74ddb76.png)

For context:
I am trying

[2019-04-21 17:28] Gama11 commented on #8193
Fyi, the macro target has debugging support too. :) https://github.com/vshaxe/vshaxe/wiki/Debugging

[2019-04-21 19:00] Gama11 opened #8194 "[display] nonsense field completion subject in nested switch"
[code]

When typing the `:` after the `"p"` here, Haxe returns field completion (?) with 0 items and this range as the subject:

[code]

This then leads to some rather strange postfix completion:

![](https://i.imgur.com/jbx5I8B.gif)

When the inner switch is commented out, Haxe doesn't give a completion response at all (as expected, since completion was auto-triggered with `:` after a `case`).

D

[2019-04-22 07:44] #8191 closed, assigned to RealyUniqueName

[2019-04-22 10:16] RealyUniqueName commented on #6316
On the latest dev I get these results:
[code]
The only failing case left is `trace(o.func == main)`

[2019-04-22 10:26] RealyUniqueName commented on #6316
However, changing it like this:
[code]
Emits the following result:
[code]

[2019-04-22 10:46] RealyUniqueName commented on #6316
That behavior is explicitly designed here:
https://github.com/HaxeFoundation/haxe/blob/032d95957458827ea70502b8aaab660b27251036/src/typing/fields.ml#L168-L183

Now the question is: Does it really make sense to unify methods with `var` fields?
[code]

[2019-04-22 13:22] back2dos commented on #6316
FWIW I found a workaround (although arguably it's a type hole): http://try-haxe.mrcdk.com/#64f07

[2019-04-22 15:59] mundusnine commented on #8193
Upon further testing; When I set `Sys.command("haxelib setup path/to/my/libs")` it fixed the issue. But I think the issue should not be present from the get go; Because logically, if cmd.exe is using a haxelib with the right config why does the Sys.command/haxe.io.Process use a haxelib with a different config ?

This could be an issue with haxelib but Sys.command/haxe.io.Process does not function

[2019-04-22 16:42] RealyUniqueName commented on #8193
That may be caused by the settings of your OS.
What happens if you run your program in the same terminal, where you run `haxelib config`?

[2019-04-22 17:53] Aurel300 opened #8197 "Output.writeString issue with Unicode strings on Python"
[code]

Expected output is `čýžé` (U+010D U+00FD U+017E U+00E9 = UTF-8 C4 8D C3 BD C5 BE C3 A9), actual output is (garbage):

[code]

Which as it turns out decodes to U+00C4 U+008D U+00C3 U+00BD U+00C5 U+00BE U+00C3 U+00A9, so each of the UTF-8 bytes is encoded again into a Unicode codepoint. Examining the Python output it seems the issue is `haxe_io_Output.writeBytes`, which does:

[code]

And th

[2019-04-22 20:23] jgranick opened #8198 "haxe.io.Bytes does not support UTF-16 surrogate pairs"
Using `Bytes.ofString` or `Bytes.toString` incorrectly handles UTF-16 surrogate pairs

(This article might be helpful https://thekevinscott.com/emojis-in-javascript/)

[code]

[code]

[2019-04-22 20:31] Aurel300 commented on #8198
Which target? What is the actual output? AFAIK 4.0 is aiming for UCS-2 compatibility, not the full Unicode, i.e. there may be some issues with non-BMP characters (ones which need to be represented with surrogate pairs in UTF-16). This is because some of Haxe targets internally represents strings with UTF-16 and some don't.

[2019-04-22 20:37] jgranick commented on #8198
Here are some tests:

 1. HTML5 reports byte length of 0 (broken)
 2. Neko appears to work!
 3. HashLink breaks on the "I feel \uD83D\uDE09" string literal and on byte length 0
 4. C++ also appears to work :smile:
 5. Flash appears to _sort of_ work -- the bytes are converted but the values are incorrect

[2019-04-22 20:50] Aurel300 opened #8199 "Input.readString should be in characters"
`(some:haxe.io.Input).readString(x, UTF8)`

I think it would make more sense for this to read `x` characters rather than bytes. I don't really see a reason to read an exact number of bytes as a string (if need be this can be done with a simple `read(x)` and then `getString`), with Unicode strings this is just making it more likely to decode badly.

[2019-04-22 21:48] RealyUniqueName commented on #8199
That depends on a protocol used to encode Bytes. If your protocol tells you that a string is encoded in the next N bytes, then it's more convenient to `readString` using the number of bytes.

[2019-04-22 21:55] Aurel300 commented on #8199
Again, if that's the case, you can do:

[code]

My concern is mostly that there currently no method to read N _characters_ apart from reading bytes until you get a valid Unicode string that is of the correct length.

[2019-04-23 03:03] kevinresol opened #8200 "[regression] .bind() on forwarded abstract function doesn't survive dce"
[code]

Output with DCE:

[code]

It crashes at runtime because the `foo` field is not generated.

This was working in 3.4.7 but failing since 4p1

[2019-04-23 07:31] RealyUniqueName commented on #8200
What's your `hxml` setup?
I'm getting this with `-dce full`, the latest Haxe dev and your sample:
[code]

[2019-04-23 09:00] kevinresol commented on #8200
I just realized `-D analyzer-optimize` is the cause.

[2019-04-23 09:04] RealyUniqueName commented on #8200
For me, it works even with `-D analyzer-optiize`

[2019-04-23 09:04] kevinresol commented on #8200
I can reproduce it with haxe4p1 up to 032d959

[2019-04-23 09:05] kevinresol commented on #8200
Let me try to put up a complete setup

[2019-04-23 09:08] kevinresol commented on #8200
Here you are: https://github.com/kevinresol/haxe_issues/tree/issue_8200

[2019-04-23 09:17] RealyUniqueName commented on #8200
Reproduced.
My "analyzer" was "optimYze" 🤦

[2019-04-23 10:19] ncannasse commented on #8198
Bytes.ofString expect UTF8 content, and surrogate pairs are UTF-16, so doing Bytes.ofString on such bytes will not work.

Where does these bytes come from in the first place ?
The correct UTF-8 bytes for "I feel 😉" are 0x49206665656c20f09f9889

[2019-04-23 10:20] ncannasse commented on #8198
PS: this has been elevated by Flowplay

[2019-04-23 10:29] #8200 closed, assigned to RealyUniqueName

[2019-04-23 10:39] Aurel300 commented on #8198
The "correct bytes" in the OP appear to be what you would get if you encoded UTF-16 surrogates into UTF-8, without correctly interpreting the pair as a single codepoint. See e.g. https://stackoverflow.com/questions/51001150/what-are-surrogate-characters-in-utf-8

[2019-04-23 10:44] RealyUniqueName commented on #8198
`Bytes.ofString(s)` and `bytes.toString()` encodes/decodes to/from Utf8 on utf16 platforms, thus inconsistencies on malformed UTF8 bytes sequences because each platform deals with that in their own way.
Try `Bytes.ofString(s, RawNative)` and `bytes.getString(0, bytes.length, RawNative)` instead.

However, I think we should try and make `ofString(s, UTF8)/toString()` as consistent across targets as

[2019-04-23 14:25] RealyUniqueName opened #8201 "[unicode] zero byte and strings"
`haxe.io.Bytes.getString()` handles zero byte as a string terminator on some targets:
https://github.com/HaxeFoundation/haxe/blob/4ce4f917671c11041a728c6be073ef02a4b778df/std/js/_std/haxe/io/Bytes.hx#L143-L145
I think this is wrong because zero byte is a valid UTF8 char code.

[2019-04-23 20:02] ncannasse commented on #8199
We can't read N characters, that would be quite inefficient as we would have to read byte by byte.
Also, in binary protocols the string length is usually in bytes not in characters. Finally, that would be a very huge problem wrt backward compatibility.

Please update the unit tests accordingly and close this issue.

[2019-04-23 20:04] ncannasse commented on #8197
@frabbit can you fix this ?

[2019-04-23 20:14] ncannasse commented on #8139
@Aurel300 can you submit a PR for Neko?

[2019-04-23 20:16] #8139 closed, assigned to nobody

[2019-04-23 20:18] ncannasse commented on #8139
Nevermind I fixed it directly online.

[2019-04-23 21:24] jgranick commented on #8198
The bytes I shared above come from this string in Java:

“I feel \uD83D\uDE09”

I am also told that this is the proper way for Java to handle it

[2019-04-24 05:10] Simn commented on #8198
The bytes in the OP are prefixed with the string length and encoding that to bytes makes no sense, no matter the encoding. The example should be changed to lose the 0x00 + 0x0D values because that only confuses the issue here.

[2019-04-24 05:18] Simn commented on #6316
This seems to be working as designed. I'm not sure if the design is ideal, but I also don't think we could change this.

[2019-04-24 08:29] nadako opened #8203 "abstract from Dynamic vs arrays of mixed types"
[code]

this will give `Arrays of mixed types are only allowed if the type is forced to Array<Dynamic>`, unless you comment out one of the `from Dynamic`s.

And of course I didn't have two `from Dynamic` originally, the second one was a typedef to `Dynamic`.

[2019-04-24 08:29] nadako commented on #8203
Not a regression.

[2019-04-24 08:37] ncannasse commented on #8198
[code]

Here's the output in JS:

[code]

So I'm still not sure how you're getting these Bytes, and you should never use directly UTF-16 surrogate pairs as \u as the Haxe compiler will instead insert two unicode chars.

[2019-04-24 08:51] ncannasse commented on #8198
Oh, I understand now that the 0x000D prefix is actually the string length.
So, the problem here is that you have the bytes 49206665656C20 - which is correct for `"I fell "` but then you have `EDA0BDEDB889` which are not correct utf8 bytes for representing `😉` (it should be F09F9889 as my previous JS example shows).

So my question is: where do these bytes comes from ?

[2019-04-24 09:07] ncannasse opened #8204 "Unicode out of bmp char"
"😉" gives "Invalid unicode char" in HL.
We need to test it gets correctly encoded + give the good bytes on all platforms.

[2019-04-24 09:09] ncannasse commented on #8198
Uhm, it seems indeed that both "I feel \uD83D\uDE09" and "I feel 😉" are generated the same in Java output, as `java.lang.String str = "I feel \ud83d\ude09";`

I've opened an issue related to that here:
https://github.com/HaxeFoundation/haxe/issues/8204

[2019-04-24 09:15] ncannasse opened #8205 "UTF16 surrogate pairs in constant strings"
Given than \u takes 2 bytes hex charcode point, atm the only way to insert out of bmp char escape sequence is to use UTF-16 encoding, for instance "\ud83d\ude09" == "😉"

This might be misleading as the runtime string does not always uses UTF-16 encoding.
We need to decide whereas we forbid or not these character ranges in Haxe compilation.
- if we forbid, we need another "long" 8 bytes escape sequ

[2019-04-24 09:25] Aurel300 commented on #8205
We also allow `\u{...}` syntax, e.g. `\u{1F404}`.

[2019-04-24 10:07] jspashett opened #8206 "Difficult to get going with visual studio 2015 [docs]"
I wanted to build for a Visual studio 2015, I couldn't find any examples to select a specific version of visual studio, so the build failed with:
Warning: Could not find Visual Studio 2017 VsDevCmd
Missing HXCPP_VARS
Error: Could not automatically setup MSVC
Error: Build failed

I found a solution, but I had to look though the haxlib source to find an answer:
-D HXCPP_MSVC_VER=140

It would be hel

[2019-04-24 10:32] back2dos commented on #6316
Well, that's kind of the point though. Alex's question strikes at the heart of the matter:

It does add many weird edge cases.

----

For future reference, a hint for those who want to pass around a number of functions without the extra speed and memory cost and equality issues of these closures: the simplest thing is to use a `@:structInit` class instead of an anonymous object ;)

[2019-04-24 10:35] Simn commented on #6316
We can try disallowing this on a branch and see how much code it breaks.

[2019-04-24 11:34] ncannasse commented on #7905
Before we return from the generic build call we need to flush our context based on the current pass. Here we're in a PExpr pass so all the PBuildClass should have been done already before returning from `Hue` resolution.

[2019-04-24 11:36] ncannasse commented on #8178
I agree @:deprecated should imply @:noCompletion, on both types and fields. No flag required.

[2019-04-24 11:42] ncannasse commented on #8186
The problem is more the following:

in case there's an actual mismatch between the expected type and the one we pass into the Array, what would the error look like in that case ? I think that would be a bit too hard to understand for the user which would get "Child should be Base" on the "new Child" expression.

So I would prefer that we don't consider this

[2019-04-24 11:46] ncannasse commented on #8175
That was showing in haxe api documentation but was outdated, forget about it.

[2019-04-24 11:50] ncannasse commented on #8175
We need something that hides the differences between #if utf16 or not (surrogate pairs handling).
So:

[code]

[2019-04-24 11:51] ncannasse commented on #8175
But maybe there are two separate problems, and these 3 (length/iter/sub) should be in some `Unicode` class since they don't have much to do with Utf8 encoding at all.

[2019-04-24 11:51] ncannasse commented on #8175
Another option:

[code]

[2019-04-24 11:57] ncannasse commented on #8193
I'm not sure I understand the first screenshot. on windows the syntax to display an env var is `echo %HAXE_LIBRARY_PATH%`,  $ is Linux syntax

[2019-04-24 12:07] ncannasse commented on #8201
I propose we push this 0 byte handling to 4.1 as I think this might require some extra work on some targets.

[2019-04-24 12:08] ncannasse commented on #8201
PS: it's not only about unicode, it's about 0 byte being a valid character in Strings, working with split and all APIs tested etc.

[2019-04-24 12:14] ncannasse commented on #8205
Right, so I think we should forbid surrogate pairs range in \u
@Aurel300 can you submit a PR for this?

[2019-04-24 13:01] RealyUniqueName commented on #8178
That means the decision about hiding it from completion would be made by the compiler. While the original issue (and I agree with it) suggested to let IDE decide whether a type should be listed in completion.

[2019-04-24 13:26] Gama11 commented on #8178
Well, originally I suggested hiding it compiler-side, but then @EricBishton complained. :) It would be pretty consistent with what's done with `@:noCompletion` already though (the compiler makes the decision there, as it should so that lib authors can rely on it / some editor doesn't decide to show it anyway).

[2019-04-24 13:39] RealyUniqueName commented on #8178
I have no strong opinion on that. It just feels right to make this decision on IDE side.
`@:noCompletion` is a different story - it denotes a user explicitly wants to hide something from completion, while `@:deprecated` is not about completion at all. If that was a case one could manually add `@:noCompletion`.

[2019-04-24 14:03] RealyUniqueName opened #8209 "Skipping generation step of compilation if the code was changed"
Following  the discussion in f0be760d8673a3bbb621bf6da956c0950c0a7b9a

I think it's not a compiler's responsibility to skip something when you actually want to avoid the whole compilation.
It looks like a compiler is solving a 3rd-party project workflow issue.

[2019-04-24 15:35] #8199 closed, assigned to nobody

[2019-04-24 16:01] Aurel300 opened #8210 "[eval] Better error message for process spawning error"
[code]

The above results in:

[code]

Adding `proc.close()` fixes this of course, but the error message is not really helpful. Could `eval` detect it cannot spawn another process and throw a "resource exhaustion" (or similar) exception?

[2019-04-24 16:50] kevinresol commented on #8201
This is a silent breaking change. I think I do have code that relies on this zero-terminating behaviour.

I am not against breaking it. But better done at 4.0 not 4.1.

[2019-04-24 16:53] #8205 closed, assigned to nobody

[2019-04-24 16:55] ncannasse commented on #8204
@Aurel300 you might want to look into this one too, I thought it was already covered by our unit tests but it seems not.

[2019-04-24 16:59] ncannasse commented on #8209
For me the argument does not stand, that's already what C++ compiler does when they skip linking when no object file has been modified.

[2019-04-24 17:00] ncannasse commented on #8209
But I agree we should:
- add a print when running the server in verbose mode
- allow to disable the behavior with a define (just in case)
but IMHO it should still be the default.

[2019-04-24 17:02] ncannasse commented on #8201
@kevinresol I think targets already don't agree on this, so it will not be much a breaking change, more of an actual clarification of the behavior. How do you rely on it atm exactly?

[2019-04-24 17:13] Aurel300 opened #8211 "[php] StringTools.endsWith fails with Unicode"
[code]

Expected output: `true, true, true` (e.g. with `--interp`). Actual output: `true, false, false`.

[2019-04-24 17:29] kevinresol commented on #8201
I am on js and use `bytes.getString` to extract a string from a fixed-length byte data which is zero-padded on the right end. I am aware of it and it is a simple fix. I only worked on js and I thought it is an expected behaviour of `getString`. I am afraid that some people may be relying on it without knowing so.

[2019-04-24 17:48] Aurel300 opened #8212 "[php] haxe.io.Bytes.getString issues"
[code]

[code]

This also works with shorter strings; it's not that a particular codepoint causes it to stop parsing. I think the problem is that the string length is incorrect if there are any non-BMP sequences.

[2019-04-24 18:59] RealyUniqueName commented on #8212
Which PHP version do you use?

[2019-04-24 19:07] #8211 closed, assigned to RealyUniqueName

[2019-04-24 19:13] RealyUniqueName commented on #8175
What's that `Encoding`? Is it `haxe.io.Encoding`? If so, then what's the difference validating `UTF8` and `RawNative`?

[2019-04-24 19:32] ncannasse commented on #8175
Yes, it's haxe.io.Encoding. I think we should throw "Not supported" on
validating RawNative, but this opens up the possibility to add additional
encodings support such as UTF16 or UTF32

On Wed, Apr 24, 2019 at 9:13 PM Alexander Kuzmenko <notifications@github.com>
wrote:

[2019-04-24 19:40] RealyUniqueName commented on #8175
That sounds like we actually want `haxe.Utf8`, `haxe.Utf16` and `haxe.Utf32` with the corresponding `length()`, `iter()` and `sub()` api based on Bytes :)

[2019-04-24 20:02] Aurel300 commented on #8175
`haxe.io.EncodingTools` ?

[2019-04-24 20:24] ncannasse commented on #8175
We don't need these to operate on bytes, only validate() is bytes then you
can work on Unicode String that gives you operations on String directly.
Actually this is only required because of UCS2 API (JS, HL, etc.) that does
not take care of out of BMP chars (surrogate pairs instead).

On Wed, Apr 24, 2019 at 10:02 PM Aurel <notifications@github.com> wrote:

[2019-04-24 20:33] frabbit commented on #8197
i will give it a try, maybe on friday or next week

[2019-04-24 20:34] nadako opened #8213 "`case null` enables unexpected exhaustiveness-checking"
[code]

this will give `src/Main.hx:4: characters 10-11 : Unmatched patterns: _`, however if we comment `case null` out, it will comple fine.

[2019-04-24 20:34] nadako commented on #8213
this seems to be a regression

[2019-04-24 21:26] Gama11 commented on #8209
`onAfterGenerate` (which came in the other discussion) is probably not an issue here - it's already being called even when no generation is done with `--no-output`, so the same should simply be done here too (probably already is the case).

https://github.com/HaxeFoundation/haxe/blob/93b7c76f079526ab85e1d35e77652f5913c3404d/std/haxe/macro/Context.hx#L335

[2019-04-24 21:41] Aurel300 commented on #8212
I think your commit broke the CI. https://travis-ci.org/HaxeFoundation/haxe/jobs/524202748

[2019-04-24 21:45] #8212 closed, assigned to RealyUniqueName

[2019-04-25 07:43] RealyUniqueName commented on #7652
I cannot reproduce this with Haxe 4.0.0-rc.2 or latest development.

[2019-04-25 08:11] nadako commented on #8186
Yeah, that's a concern, but if we somehow could add the "expected type propagated through type parameters" or something to the error message, I think that would be sufficient.

[2019-04-25 08:16] nadako commented on #8209
In theory I agree that it's not technically a compiler concern, but I think it's simply pragmatic and useful in real world. Also, the cache server knows about all the modules and their invalidations and it would be annoying to re-implement the behaviour in a third-party tool. One option would be to provide a compiler API to get the info about cache, but at the moment it feels like over-engineering

[2019-04-25 09:27] kLabz opened #8214 ""Type is not ready to be accessed" was better reported in 3.4"
I was messing around doing ugly things to try to isolate #6993 and ended up with a pretty messed up error output in haxe 4:

[code]

While in 3.4.7 we at least had some indication about the cause of the error
[code]

`Type is not ready to be accessed, separate your type declarations in several files`

While this code ([here](https://github.com/kLabz/haxe-issue/tree/4b057725948cf9ce7ef6a7e6a1beb744

[2019-04-25 09:43] jeremyfa commented on #7652
That's sounds like good news, I guess? Did this get fixed somehow?

[2019-04-25 12:00] Aurel300 opened #8215 "[cs,lua] FileSystem.fullPath does not resolve symlinks"
[code]

[code]

(Expected output would be `/some/place/example-dir`)

Once fixed:

 - [ ] re-enable the tests marked with this issue number in `tests/sys/src/TestUnicode.hx`

[2019-04-25 13:12] Aurel300 opened #8216 "[lua] Sys.environment segfault"
[code]

[code]

It seems the segfault only happens due to the `environment` call.

Once fixed:

 - [ ] re-enable the tests marked with this issue number in `tests/sys/src/TestUnicode.hx`

[2019-04-25 13:40] jeremyfa commented on #7652
I just tried to reproduce the issue again on Haxe 4.0.0-rc.2, and indeed I don't have the error anymore.

It doesn't seem to happen on rc.1 as well. It seems something has changed since when I posted this issue.

[2019-04-25 16:35] ncannasse commented on #8198
@jgranick were you able to solve the issue ? there are two problems on your side
- you need to skip the first two bytes which contains the string length
- the remaining bytes are not UTF8 compatible, you need to fix the sender into sending correct UTF8 data

[2019-04-25 17:23] jgranick commented on #8198
I'll take a look -- I did just discover this issue which sounds like this encoding difference:

https://stackoverflow.com/questions/8843742/is-ed-a0-80-ed-b0-80-a-valid-utf-8-byte-sequence

[2019-04-25 19:36] ncannasse commented on #8204
PS : "Invalid unicode char"  is at compilation time

[2019-04-25 20:27] ncannasse commented on #8198
There's some writing about Java uses of "not really utf8" here:
https://en.m.wikipedia.org/wiki/UTF-8#CESU-8
Tell is if you find a reproducible Haxe/Java sample that does not output
valid utf8

On Thu, Apr 25, 2019 at 7:23 PM Joshua Granick <notifications@github.com>
wrote:

[2019-04-26 09:46] ncannasse opened #8217 "[display] Completion within a structure"
[code]

This fails with `No completion point was found`

[2019-04-26 09:58] Gama11 commented on #8217
Hm...

![](https://i.imgur.com/hAf1zIu.png)

(at 032d95957)

[2019-04-26 10:04] ncannasse commented on #8217
Ah, this might be more context sensitive because I could reproduce with this `var o` in my class

[2019-04-26 10:09] ncannasse commented on #8217
I have updated my sample, it should reproduce now

[2019-04-26 10:24] ncannasse commented on #8204
Can't reproduce, I might have had some encoding issue in my source file. I guess we're good then, given that unit tests should already check for out of BMP bytes.

[2019-04-26 10:24] #8204 closed, assigned to Aurel300

[2019-04-26 11:55] nadako opened #8218 "[flash] protected field access is not generated correctly"
consider the following as3 code used to compile an swc for use from Haxe:
[code]

then if we do this in Haxe:

[code]

it will trace `null`, while it should trace `3`. I think that happens because the field access is generated without protected namespace specifier.

[2019-04-26 13:38] filt3rek opened #8219 "[php7] lowercase and uppercase same variable declaration"
Hej,

Haxe lets me declare 2 functions with the same name (one lowercase and second uppercase) but on runtime PHP complains.

[2019-04-26 14:00] RealyUniqueName commented on #8219
I think Haxe should not allow that. @ncannasse ?

[2019-04-26 14:10] nadako commented on #8219
IMO, we could rename the locals, but for fields yeah, considering reflection and stuff it might be a reasonable target-specific limitation.

[2019-04-26 14:29] RblSb opened #8220 "Wrong number type on Java/C# with inline"
[code]
haxe git/rc1, hxjava from haxelib

[2019-04-26 14:48] Aurel300 commented on #8175
On a `utf16` target:

[code]

It would be a lot nicer if these (target-inconsistent) problems were hidden away and dealt with properly in the `String` API, rather than a separate Unicode class.

[2019-04-26 14:58] RealyUniqueName commented on #8219
Why target specific? I think any sane code should not contain such field pairs.

[2019-04-26 15:07] nadako opened #8221 "[abstract] `iterator()` method is ignored when there's a resolve overload"
[code]

generates

[code]

[2019-04-26 15:09] nadako commented on #8221
This is a regression from at least 4.0.0.preview.1 (i bet it has stuff to do with the iterable reworks)

[2019-04-26 15:34] nadako commented on #8221
Also if the abstract has `@:to function toDynamic():Dynamic` it will be used instead of the `iterator` field. Marking the `iterator` method with `@:to` helps tho :)

[2019-04-26 15:39] Gama11 commented on #8219
I'm not sure about that. I could see that happening especially with C# externs and native properties (convention is to capitalize the name) and regular fields.

[2019-04-26 15:41] #7726 closed, assigned to nobody

[2019-04-26 16:05] nadako opened #8222 "[flash] wrong access modifiers for inherited properties"
Got this error today:

`
DConsole-2.3.swc@com.furusystems.dconsole2.core.gui.layout.ILayoutContainer:1: character 1 : Field rect has different property access than in com.furusystems.dconsole2.core.gui.layout.IContainable ((never,default) should be (default,never))
`

without looking into the details, it looks like swf loader doesn't care if the getter/setter was already defined in the parent inte

[2019-04-26 16:15] nadako commented on #8222
Hmm, I tried to reduce this to

[code]

but that doesn't seem to compile even by the AS3 compiler O_o now i'm curious where does that swc come from :)

[2019-04-26 16:36] RealyUniqueName commented on #8219
But there is no such convention in Haxe. It could be allowed for externs only.

[2019-04-26 17:02] jcward opened #8223 "Type definitions of Window.setTimeout and setInterval allow insidious errors [js]"
I'm referring to the extern definitions of js.html.Window.setTimeout and setInterval, found here:

https://github.com/HaxeFoundation/haxe/blob/development/std/js/html/Window.hx#L572-L576

These type definitions are technically correct, but allow for an insidious, silent bug to creep in. If you (accidentally) pass a `Float` as the timeout, Haxe will generate a call to `setTimeout(func, null, my_flo

[2019-04-26 20:26] elsassph commented on #8223
Woah this is bad indeed... I agree with you fix suggestion (both seem ok but I prefer the non-optional argument) but ideally the compiler shouldn't fall into this case anyway.

[2019-04-26 20:28] nadako commented on #8223
@haxiomic could you look into this, please?

[2019-04-26 20:55] haxiomic commented on #8223
Should be good to go in PR #8224 👍

[2019-04-26 22:43] nadako commented on #8218
I hope it's fixed now. Would be nice if someone could review this (see linked commits), maybe @ncannasse? :)

[2019-04-26 22:44] #8218 closed, assigned to nobody

[2019-04-26 23:05] #8223 closed, assigned to haxiomic

[2019-04-26 23:31] #8198 closed, assigned to nobody

[2019-04-27 05:44] fnaith commented on #3147
Just asking, will Haxe 4 contains new Iterable/Iterator implements?
It seems can solve many issues at once.

[2019-04-27 07:22] ncannasse commented on #8175
If I am not mistaken that's the JS behavior and we don't want to change it.
So yes on utf16 targets there is still some issues with out of bmp chars.
That is why I was proposing an Unicode API to deal with it.

Actually it could be an abstract UnicodeString that would provide a 1:1
mapping of String API. But would be a lot slower for several operations.

Le ven. 26 avr. 2019 16:48, Aurel <notifica

[2019-04-27 07:26] ncannasse commented on #8219
Haxe is case sensitive and we should not annoy all developers on other
targets because of one target specific limitation, so I am fine doing a
target specific check.
I think we had it already actually.

Le ven. 26 avr. 2019 18:36, Alexander Kuzmenko <notifications@github.com> a
écrit :

[2019-04-27 08:14] RealyUniqueName commented on #8219
Ok. I'll check if I can support such fields on the generator side before disallowing it completely.

[2019-04-27 09:20] RealyUniqueName commented on #8219
I think I can support it in all cases except dynamic access, in which case it's most likely the first field in declaration order will be accessed.

[2019-04-27 17:49] #8219 closed, assigned to RealyUniqueName

[2019-04-27 17:51] RealyUniqueName commented on #8219
After some trials I've decided to prohibit such fields pairs for PHP target. It turns out to be a lot of trouble for little gain.
This issue only affects methods. Variables and "var" class fields are case-sesnsitive in PHP runtime.

[2019-04-27 19:24] francescoagati opened #8225 "ocaml error with coconut data"
hi,
with this example that i have created https://github.com/francescoagati/coconut-data-error with haxe 4 rc2 i get this error ocaml

Typing tink.core.SignalTrigger.new
Typing tink.core.SignalTrigger.asSignal
Typing tink.core._Signal.Signal_Impl_.trigger
Typing Store.update
Calling macro tink.macro.Types.resolveDirectType (C:\HaxeToolkit\haxe\lib\tink_macro/git/src/tink/macro/Types.hx:233)
Exitin

[2019-04-27 19:25] francescoagati commented on #8225
with coconut.ui all go good. but after have added the redux example make it with coconut.data finded in gitter chat of coconut i have get this error

[2019-04-27 21:14] nadako commented on #8225
Pretty sure that's #8039

[2019-04-27 22:31] francescoagati commented on #8225
i try to compile with last dev build

[2019-04-28 09:19] nadako commented on #8221
I've made a quick fix for it in 05420d3f153ed96db47f70df73ec3886cdfd1398 by doing the "iterator" field lookup again but this looks very dirty... Reopening for @Simn to review/change.

And regarding the `@:to Dynamic` I guess that's expected, because we first check whether it unifies with `Iterator` and only then `Iterable`? I'm not sure if it's documented though, but it should be!

[2019-04-29 07:28] back2dos opened #8226 "Mark native properties (typed as plain fields) as having side-effectful reads."
On platforms that support native properties, getters may cause side effects, but because we type it as `default` access, the compiler may choose to eliminate them.

The most prominent case I can think of is the DOM API, where it's [common practice to query layout properties to cause a DOM reflow](https://gist.github.com/paulirish/5d52fb081b3570c81e3a). I would suggested `@:pure(false)` to be in li

[2019-04-29 07:40] Simn commented on #8221
That fix doesn't look right because it changes priorities: We usually check `next`/`hasNext` before we check `iterator`.

I think the clean fix here is to change the `resume` on `type_field` into some sort of configuration structure, which then has an `allow_resolve` entry.

[2019-04-29 08:10] nadako commented on #8221
I guess you're right. But also why do we check for `get_length` before both Iterator and Iterable protocols then?

[2019-04-29 08:13] Simn commented on #8221
We're kind of doing both:

[code]

Which doesn't seem to make much sense in that order...

[2019-04-29 13:59] nadako opened #8227 "[flash] access to namespaced fields is not generated correctly"
similar to #8218, the issue is both in loading from swfs (attaching `@:ns`) and generating the proper access.

[2019-04-29 14:09] RealyUniqueName commented on #7376
Can we change the typing of `switch`, `if`, `try` expressions from the type of the first branch to the most "wide" type of all branches? That will eliminate these confusing errors.
[code]

[2019-04-29 14:38] jcward commented on #8223
Thank you!

[2019-04-29 15:13] ncannasse opened #8228 "haxe.Json and unicode"
Found that the following does not work in HL, and maybe other targets:

haxe.Json.stringify("👽")

[2019-04-29 15:33] nadako commented on #7376
But `Void` is not a wider type :)

[2019-04-29 16:10] nadako commented on #8225
any news?:)

[2019-04-29 17:32] SmerkyG opened #8229 "short lambda unification problem w/ Void return types"
The following does not compile in haxe 4 (it expects a Dynamic return type)

[code]

[2019-04-29 17:51] back2dos commented on #8229
Related to #7376, although in this case top-down inference isn't possible.

[2019-04-29 19:16] fullofcaffeine opened #8230 "Conditional breakpoints not working with eval-debugger"
_Originally reported here: https://github.com/vshaxe/vshaxe/issues/342, but I'm cross-posting here because @Simn thinks it might be a Haxe issue. Feel free to close this or the one reported @ the vshaxe repo depending on where the problem is (I honestly don't have a clue at the moment)._

### Steps to reproduce:

1) Correctly configure your [launch.json](https://github.com/fullofcaffeine/pwa-ts-ha

[2019-04-29 19:34] ncannasse commented on #8228
I made a fix for hl, @Aurel300 could you add unit tests and see if the fix needs to be applied for other platforms as well ? (most likely, platforms returning split surrogate pairs in String.fastCodeAt, but not allowing such char in StringBuf).

[2019-04-29 20:15] fullofcaffeine opened #8231 "JsGenApi bug or missing functionality when dealing with js reserved keywords as identifiers"
Originally reported on the Haxe Gitter channel. See full transcript [here](https://www.pastiebin.com/5cc75a665d701).

I had an issue with a third-party lib ([tink_core](https://github.com/haxetink/tink_core)) that uses `finally` as a variable name in its Haxe code when using [hxgenjs](https://github.com/kevinresol/hxgenjs) to compile the project. `finally` is a [reserved JS keyword](https://develo

[2019-04-29 20:27] Gama11 commented on #8230
Hm, I wonder if this is a regression.. I feel like I must've tested this before.

[2019-04-29 20:38] RealyUniqueName commented on #8231
Perhapse theese functions should be exposed to JsGenApi:
https://github.com/HaxeFoundation/haxe/blob/a659d1c5e0a18101667fa235a76b699aa34c6fed/src/generators/genjs.ml#L132-L133
https://github.com/HaxeFoundation/haxe/blob/a659d1c5e0a18101667fa235a76b699aa34c6fed/src/generators/genjs.ml#L120-L130

[2019-04-29 23:00] francescoagati commented on #8225
not yet. i try tomorrow

[2019-04-30 02:39] kevinresol commented on #8231
I think they should be incorporated into the generateStatement method

[2019-04-30 09:48] ncannasse opened #8232 "[Eval] readDirectory of invalid directory on Windows"
On Windows, doing the following trace [] instead of throwing an exception:

[code]

[2019-04-30 10:48] Antriel opened #8233 "invalid assignment through `untyped` causes assertion fail"
[code]
Results in assertion fail at https://github.com/HaxeFoundation/haxe/blob/f2f4dc15144c8c76597c1ec9dac66a0b23b5dcc7/src/typing/typer.ml#L514-L515
Without untyped it properly gives error message. Should this assertion be changed into error or should it be handled sooner?

[2019-04-30 10:48] Gama11 commented on #8209
Something I didn't expect at all, but makes a lot of sense: vshaxe compilation actually seems to benefit **immensely** from this change.

My usual workflow is to simply press F5 to build everything through the server, and that triggers builds for multiple sub-projects:

- the vshaxe VSCode extension itself
-  haxe-language-server
- eval-debugger

With this change, compilation has turned from "wait

[2019-04-30 10:52] back2dos commented on #8233
Silly question: why should it even fail at compile time? I think it should try to perform the assignment at runtime and thus behavior according to whatever the runtime semantics are.

[2019-04-30 10:53] nadako commented on #8233
What will happen if you do `(cast foo).bar = function ...`?

[2019-04-30 10:58] Antriel commented on #8233
@back2dos because it's inlined, but I guess that doesn't meant it shouldn't be able to do that. But it would be even more obscure, as it would compile, but not work. Hmm.
@nadako it compiles, but since it's inlined, it still traces out 'foo'.

[2019-04-30 11:06] Simn commented on #8233
IMO this is wontfix. There are probably many ways to cause assertion failures through untyped.

[2019-04-30 11:18] nadako commented on #8233
FWIW it would be nice to attach some sensible messages to our assertion failures :D

[2019-04-30 11:58] RealyUniqueName opened #8234 "Add a warning for conditions in `#if` containing dots, but not enclosed in parens"
I find myself to tend to forget that `#if target.flag` requires parens, because it's so natural to treat `target.flag` as a single entity.
I guess, once namespaced conditionals go into a wild, it will cause a lot of confusion among haxe users.

[code]
That branch will never get into compilation without any sign of possible mistake at compile time.
And looking at that code is not immediately obviou

[2019-04-30 12:31] Gama11 commented on #8234
I think the actual plan there is to make it work: https://github.com/HaxeFoundation/haxe/issues/8032 (though that's not on the 4.0 milestone)

[2019-04-30 12:35] RealyUniqueName commented on #8234
Yes, #8032 looks like not so simple to implement, but we need something to prevent Haxe users shooting their legs.

[2019-04-30 13:55] Aurel300 commented on #8228
What do we actually want the output to be? There are differences in behaviour between JavaScript and Python, for example:

JavaScript:

[code]

Python3:

[code]

`parse` and `json.loads` seem to be ok with both surrogates and full characters. `stringify` in JS outputs the character "directly" (although the string is still UTF-16...), `json.dumps` splits it into `\u` surrogates. (Related: https://s

[2019-04-30 17:18] lublak opened #8235 "[Eval] Uncaught exception Null Acces Process"
This code example

[code]

run with:

[code]

throws an error:

[code]

the current ugly workaround copy the array:

[code]

[2019-04-30 17:41] lublak commented on #8071
@Simn ähhm sorry but it is a long time ago. I don't know anymore how i produce this error.
The code that generates the error does not exists anymore (i reworked it)
If i run to this issue again i reopen it

[2019-04-30 17:41] #8071 closed, assigned to nobody

[2019-04-30 19:26] ncannasse commented on #8209
Yes that's the whole point of the feature ;)

On Tue, Apr 30, 2019 at 12:48 PM Jens Fischer <notifications@github.com>
wrote:

[2019-04-30 19:28] Gama11 commented on #8209
I guess, but I don't think the multi-project-compilation use case was mentioned before? :)

[2019-04-30 19:30] ncannasse commented on #8228
Since is seems to be the JSON spec, I think we can allow both "\ud83d\udc7d" and "👽" as they are the same string. But that means we must check for \u support in all our Json.parser as well.

[2019-05-01 08:54] #8230 closed, assigned to nobody

[2019-05-01 09:58] #8235 closed, assigned to Simn

[2019-05-01 17:23] cambiata commented on #7426
Using Haxe Compiler 4.0.0-rc.2+77068e10c, this does't seem to work for` haxe.ds.StringMap`, `haxe.ds.IntMap` etc. Is this expected behaviour?

[2019-05-01 17:33] Gama11 commented on #7426
You're meant to use the `Map` abstract, not the implementation classes.

[2019-05-01 19:44] Aurel300 opened #8240 "Issues with inlining iterators"
[code]

This breaks during compile-time on Java and eval. Note:

 - removing the `new Suite()` line prevents the error
 - removing the `inline` also prevents the error

On Java, I get a couple of errors like:

[code]

On eval I get:

[code]

On Python there is a duplicate `nonlocal`, but this is probably fine.

---

On a similar note, but only causing a warning:

[code]

With the `new Suite()` lin

[2019-05-02 02:27] fullofcaffeine commented on #8231
And or `generateValue()`, right?

Although I'm not sure what's the diff. between then and when to use one or another.

[2019-05-02 05:20] fullofcaffeine commented on #8231
@RealyUniqueName We discussed this problem a bit more today on the Haxe Gitter. The general consensus was that the solution should be encapsulated in the `JSGenAPI.generate*` functions, in the compiler.

Here's the transcript: https://www.pastiebin.com/5cca7dd8d4bbf.

[2019-05-02 10:38] Aurel300 opened #8242 "[cs] fast_cast issue with Null<Int>"
[code]

This fails during compile time if `fast_cast` is set:

[code]

The C# source:

[code]

Note it can be made to compile if I change the `uc` type hint to `Int`.

[2019-05-02 11:02] kevinresol opened #8243 "[hl][cpp][cs][java] Stack overflow on recursive abstract"
Originally reported here: https://github.com/kevinresol/ecs/issues/3

Only happens on hl.

[2019-05-02 11:26] Aurel300 commented on #8243
I can reproduce this but it's a bit difficult to find a root cause. I notice I can delete most everything in `ecs.System` (in terms of actual code) and still get the stack overflow though. Could you try to produce a more minimal example?

[2019-05-02 11:42] kevinresol commented on #8243
Here you are:

[code]

`haxe -cp src -main Main -hl index.hl`

[2019-05-02 11:44] kevinresol commented on #8243
This variation produces `Out of memory`

[code]

[2019-05-02 11:46] Aurel300 commented on #8243
I still get `Stack overflow` with just:

[code]

This should be caught by the compiler: `Item<T> → Selector<T> → Null<Item<T>->Bool> → Null<Selector<T>->Bool> → …`

Maybe I'm missing something but this shouldn't compile on any target, no? Since `Item` is an alias to a more complex type containing itself.

[2019-05-02 11:54] kevinresol commented on #8243
@Aurel300 your example shouldn't compile, but mine should. Because it just contains a reference to (augmented) self.

[2019-05-02 12:11] Aurel300 commented on #8243
Yes, mine should not compile. I'm wondering why it does on other platforms.

But your example still seems like it shouldn't work (with `X = @:optional var before(default, null)`):

`Item<T> → {X:Selector<T>} → {X:Null<Item<T>->Bool>} → {X:Null<{X:Selector<T>}->Bool} → …`

[2019-05-02 12:15] kevinresol commented on #8243
@Aurel300 I am not sure but I think it is just the same as `typedef Self = {x:Self}` which works.

cc @back2dos as this is from tink_priority.

[2019-05-02 12:19] Aurel300 commented on #8243
My bad, it really is just a linked list! But:

[code]

This fails with `Out of memory` on HL.

[2019-05-02 16:29] Aurel300 opened #8245 "[hl] Unicode char swallows next character"
[code]

Expected output:

[code]

On HL:

[code]

One character (byte?) is always missed after `U+10000`. It leads to more problems with subsequent multi-byte codepoints, but I'm sure the first one is the actual cause. Does not happen with `U+FFFF` or `U+10001`. Seems like an off-by-one error, since `U+10000` is the first 4-byte codepoint in UTF-8.

Just `trace` on the string seems to produce the

[2019-05-02 17:28] Aurel300 commented on #8245
(Closed in 09a0d1efcde807ecc16d4e388da4f3ba03302e85)

[2019-05-02 17:28] #8245 closed, assigned to Aurel300

[2019-05-02 20:21] nadako opened #8246 "[flash] Stack Error when using `super.field = value` as a value"
[code]

[code]

[2019-05-02 20:40] #8246 closed, assigned to nobody

[2019-05-03 04:23] kevinresol commented on #2976
When `is` becomes an operator does that mean it can be customized in abstracts?

e.g.
[code]

[2019-05-03 07:30] #8221 closed, assigned to Simn

[2019-05-03 09:20] #7725 closed, assigned to RealyUniqueName

[2019-05-03 09:28] RealyUniqueName commented on #8144
Given that it's unlikely there will be next patch release of 3.4 and the issue is fixed in 4.0, I'm closing it.

[2019-05-03 09:28] #8144 closed, assigned to RealyUniqueName

[2019-05-03 12:19] Aurel300 opened #8247 "[cs] readDirectory bad encoding"
Put files whose names contain `U+1FFFF`, `U+FFFFF`, or `U+10FFFF` into a directory:

[code]

Read the directory with Haxe / C#:

[code]

[code]

Expected output:

[code]

Tested on HFS+.

Once fixed:

 - [ ] re-enable tests marked with this issue number in `tests/sys/src/TestUnicode.hx`

[2019-05-03 14:59] nadako opened #8248 "[flash] Illegal override when overriding protected method defined in a grandparent"
[code]

This will compile but fail at run-time with `VerifyError: Error #1053: Illegal override of f in Main.`

I'm not sure what exactly is wrong here...

*UPD: this doesn't even require as3 extern swc and works with haxe-generated `@:protected` method*

[2019-05-03 15:04] nadako commented on #8248
@ncannasse any idea? this is probably the last `VerifyError` we're still getting with our code base at @innogames

[2019-05-03 15:46] #8227 closed, assigned to nadako

[2019-05-03 18:09] nadako commented on #8248
Turns out this is not specific to SWC, I updated the example to be pure Haxe.

[2019-05-03 18:47] nadako commented on #8248
One possible reason for this might be invalid class initialization procedure. Looks like `mxmlc` puts all the inheritance chain on the stack before doing `newclass`, while Haxe only puts the immediate parent on scope...

[2019-05-03 20:15] ciscoheat opened #8249 "Cannot implement interface with final on PHP"
Testing on PHP, 4.0.0-rc.2:

[code]

Gives:

[code]

Tested also on interp, neko and js, works there.

[2019-05-03 22:51] nadako commented on #8248
Looks like it's not the case, I made Haxe output the same init script, but it still reproduces... Searching further.

[2019-05-04 01:08] kevinresol opened #8250 "Constructing multitype inside generic constructor"
[code]

Given Foo is `@:generic` I think it should compile?

Perhaps relevant: #1578

[2019-05-04 02:20] kevinresol commented on #8225
I'm pretty sure this is fixed

[2019-05-04 07:07] #8249 closed, assigned to RealyUniqueName

[2019-05-04 13:48] terurou opened #8252 "[eval] Reflect.setField() doesn't work."
This code doesn't work in Eval. I think that it should print "point".

Input:

[code]

[code]

Result:

[code]

Environment:

* Haxe

* Haxe 4.0.0-rc.2+032d95957
* Windows 10

[2019-05-04 13:57] Gama11 commented on #8252
https://api.haxe.org/Reflect.html?#setField

[2019-05-04 14:05] terurou commented on #8252
Oh, Thanks.
I misunderstood it because it works in JavaScript and Neko.

[2019-05-04 14:05] #8252 closed, assigned to nobody

[2019-05-04 14:06] Gama11 commented on #8252
Yeah, there's quite a few targets where this would fail (probably any statically typed target).

[2019-05-04 18:19] nadako commented on #8248
I managed to build AVM and debugged this a bit, it fails [here](https://github.com/adobe-flash/avmplus/blob/65a05927767f3735db37823eebf7d743531f5d37/core/Traits.cpp#L2173). I think because `baseBinding` is not found [here](https://github.com/adobe-flash/avmplus/blob/65a05927767f3735db37823eebf7d743531f5d37/core/Traits.cpp#L2119), because we don't set a `protectedNamespace` for `Main`'s base class

[2019-05-05 18:48] #8228 closed, assigned to Aurel300

[2019-05-05 18:56] ncannasse commented on #8248
I think the best here is to check what flash AS3 compiler outputs and try
to get the same. We had problems with flash protected and good reasons for
make everything public at runtime so I didn't dealt with all the namespace
stuff much.

On Sat, May 4, 2019 at 8:19 PM Dan Korostelev <notifications@github.com>
wrote:

[2019-05-05 20:30] Gama11 opened #8253 "[display] struct completion outside of structs"
[code]

Invoking completion just before or just after the struct (`|{}` or `{}|`) shows completion for the fields _inside_ the struct. It should show regular toplevel completion there.

![](https://i.imgur.com/XemqWe6.png)

[2019-05-05 20:45] back2dos opened #8254 "Recursive dependency detection killed the global build macro star."
Minimal example:

[code]

[code]

With latest nightly (19c2778), compiling a 2nd time with no changes yields:

[2019-05-05 20:46] Gama11 commented on #8254
Potentially fixed by #8196?

[2019-05-05 21:50] endel opened #8255 "Generics: cannot strictly specify a type from a Generic"
I cannot really describe this problem, but the example I've made looks quite simple to understand. (https://try.haxe.org/#1C0f3)

Basically, I'd like to have:

[code]

It throws these errors:

[code]

Using latest haxe version: 4.0.0-rc.2+77068e1

Is there any workaround to allow this? Thanks!

[2019-05-05 22:51] endel commented on #8255
Removing the `@:generic` from this block seems to fix it:

[code]

[2019-05-05 22:51] #8255 closed, assigned to nobody

[2019-05-06 08:25] RealyUniqueName commented on #8254
No, this is a different case.

[2019-05-06 08:55] nadako commented on #8248
Well I don't care if everything is public at run-time, but the problem here is that Haxe-generated SWF cannot verify because of a valid method override.

[2019-05-06 09:51] Simn commented on #8254
Let's add a test for this to tests/server.

[2019-05-06 10:30] #8254 closed, assigned to RealyUniqueName

[2019-05-06 12:23] nadako commented on #8248
I `As3parse.dump`'d the SWF compiled with mxmlc and it looks like the AS3 compiler indeed always adds protected namespace to the classes that extend (directly or not) anything with protected fields.

[2019-05-06 18:43] Gama11 commented on #8173
Looks like `final` is also silently ignored on `new`:

[code]

Not sure if this should be respected (is this even really an "override" technically?) or error with something like "final not allowed on new".

[2019-05-06 19:13] fullofcaffeine commented on #8231
@RealyUniqueName Could you let us know if any decision has been made regarding this issue? I think this is a somewhat big issue for the JSGenAPI. The workaround I have now is kind of hacky and ugly, since I'm searching and replacing the code generated.

As a related question - in order to avoid the search and replace in the code generated by the `generate*` funcs, is there a way to get the expr in

[2019-05-07 03:11] kevinresol commented on #6810
I still don't see why `Void` can be a valid type parameter at all. Code written against a type parameter should _work for any concrete type applied_. On the other hand, one just can't write code to work on both value-type and non-value-type (Void).

[code]

I still prefer simply forbidding `Void` as type parameter

[2019-05-07 06:43] Antriel commented on #8043
I have this issue again. It's a bit odd one too. Different project, also using coconut.ui. Everything was fine until I added my macro based serialization. Updating all coconut/tink dependencies didn't help.

Weird part is that the project builds (with either haxe build) using `haxe build.hxml`. Using haxe build https://github.com/HaxeFoundation/haxe/commit/19c2778eaf8e108aa047dc45228ae52acdf2e5c1

[2019-05-07 07:34] back2dos commented on #8043
I *think* I now "understand" the original issue and what "fixed" it. There's a `tink.domspec.Macro.tags` property, that holds information about the DOM. Populating it causes typing (among other things of the element classes from `js.html`) and [this was done eagerly way back when](https://github.com/haxetink/tink_domspec/blob/7f569d6c59ddc68868dda3988ae7080939d753e2/src/tink/domspec/Macro.hx#L22)

[2019-05-07 14:27] nadako opened #8257 "try-catch vs @:to"
[code]

will fail with `Main.hx:8: characters 8-13 : Dyn should be String`

[2019-05-07 14:28] nadako commented on #8257
This is specific to `try/catch` because `(if (Math.random() < 0.5) value else null : String)` compiles!

[2019-05-07 14:29] Aurel300 opened #8258 "Duplicate field on abstract shows implementation class name in error"
[code]

Compiling this results in:

[code]

I don't think the error should need to mention the implementation class. Consistently with classes:

[code]

It should output:

[code]

[2019-05-07 14:31] Aurel300 commented on #8257
Interestingly enough the above code compiles in 3.4.4.

[2019-05-07 14:37] nadako commented on #8257
try-haxe says it also compiles in 4.0.0-preview.1, so this is a 4.0 regression

[2019-05-07 15:04] #8257 closed, assigned to nobody

[2019-05-07 15:08] nadako commented on #8257
Thanks a lot, that was quick!

[2019-05-07 15:17] #7875 closed, assigned to nobody

[2019-05-08 06:46] lublak commented on #7772
I think it is a good idea to have it also in the target specific prefix.
Just like `js.expose` / `lua.expose`.
If you work in an IDE it can be help for selfdocumented autocomplete.
Just type `js.` and you see expose in the autocomplete list.

[2019-05-08 15:20] #8222 closed, assigned to nobody

[2019-05-08 17:00] ncannasse opened #8260 "Switch position for debugging"
I'm trying to fix the fact that stepping in `switch` when using either JS or HL produces some cursor jumps unrelated to the actual code.

The following Haxe code:

[code]

Produces the following DUMP:

[code]

Which compiles to the following HL bytecode:

[code]

It seems the `if( EnumIndex(x) == 0 )` check is generated with position on line 12 (which is the `case` position, but it should maybe be

[2019-05-08 17:49] ncannasse commented on #8260
`-D dump=position` gives some better overview

[code]

[2019-05-08 20:30] RealyUniqueName commented on #8231
Sorry, no decision yet. I'll try to figure out what to do, when I'm back from the Haxe Summit.

[2019-05-08 23:24] andyli opened #8261 "Context.toComplexType() returns extra pos, which cannot be converted by macro reification"
[code]

[2019-05-09 08:12] lublak opened #8262 "genericBuild add support for universal expr with @:expr?"
Currently we only have const for generic classes.
But it could be helpful also support expression for @:genericBuild (macro level)
We have the `KExpr` so it could be possible?

Currently:
[code]

[code]

It could be usefull to have something like this only for @:genericBuild:

[code]

[2019-05-09 08:26] nadako commented on #8262
If i remember correctly `@:cost` already supports expressions, but due to syntax ambiguities (with the actual type syntax) you have to wrap more complex expression in array brackets, like `[<expr>]`.

[2019-05-09 12:14] #5039 closed

[2019-05-09 13:09] lublak commented on #8262
@nadako yes you are right it works with sourrounding `[]`.
Should i keep the issue open for the syntax problem?

[2019-05-09 16:04] nadako commented on #8262
I don't think this problem is solveable, because type syntax is conflicting with expression syntax. We're able to make exceptions for literals and array brackets here, but trying to figure out other ones is too much pain to be worth it (and probably not possible anyway).

[2019-05-09 16:04] #8262 closed, assigned to nobody

[2019-05-09 21:26] ckentgeorge opened #8263 "final incompatible with haxe.Unserializer"
There's a frustrating intersection between `final` variables only being settable at declaration or in the constructor, and `haxe.Unserializer` creating empty instances, requiring initialization outside of the class constructor. This essentially precludes the use of `final` on any class that we wish to use serialization with.

Maybe we could add some kind of metadata to indicate that initialization

[2019-05-09 21:40] lublak opened #8264 "[display] property to an generic builded abstract cause "Cannot modify the abstract value, store it into a local first""
If you write to `this` directly (`this = some_value`)
and you wan't access throug a property (for shortcut reasons)
it throws `Cannot modify the abstract value, store it into a local first`.
But it builds fine.
(Testet with the latest build)

update: i break down the example.

[code]

[2019-05-09 22:00] lublak commented on #8263
Unserializer use the reflection api.
On which target did you test it?

(Your direct access can not work.
You should test it with Reflect.setField like the Unserializer)

[2019-05-09 22:05] ckentgeorge commented on #8263
I think you're right, but it uses `Reflect.createEmptyInstance()` which skips the constructor and member initialization.
`Reflect.setField()` seems a bit hacky for something implied by the Haxe library itself. I also have performance concerns about it, but yes, I suppose it would work.
I'm targeting C++, Java, and Javascript

[2019-05-09 22:09] RealyUniqueName commented on #8263
I guess It's not about `haxe.Unserializer`, but about some custom serialization process.
Maybe we could add something like `@:hack` to ignore `final` semantics in certain situations.
@Simn ?

[2019-05-09 22:33] EmptySetRBLX opened #8265 "Lua compiler assumes that standard libraries are in the global table"
Core functionality such as math, table, and require are all index as:

[code]

In a lot of embedded Lua apps, these are treated as keywords instead of global table entries.

While you can work around it by inserting these libraries into the global table/setting the global tables __index metamethod to search for the index in the global fenv() with some Lua attached to the top of each file at compil

[2019-05-09 22:36] ckentgeorge commented on #8263
@RealyUniqueName, I think you're right. The need for some kind of exception to the rule is more directly implied by the existence of `Reflect.createEmptyInstance()`, since using it would preclude the use of `final` without using reflection.

[2019-05-09 23:37] back2dos commented on #8263
Hmm, somehow the desired behavior seems wrong to me. There's a field that's declared final, but a public method that can cause it's modification.

The cleanest solution we be to make `hxUnserialize` static (so you can construct an instance from there or even using pooling and what not), which makes a whole lot more sense in general, but is a breaking change.

[2019-05-10 00:48] ckentgeorge commented on #8263
@back2dos, I surmise the reason for going the empty instance route, was to avoid the inefficiency of double-initialization. While your approach would fix my problem, it wouldn't fix the general case -- unserialization needing it's own initialization path separate from the constructor. `@:initializer`?

[2019-05-10 05:14] nadako commented on #8265
Note: when/if we do that, don't forget about escaping haxe identifiers where needed.

[2019-05-10 06:50] nadako opened #8266 "cache server connection error message could be friendlier"
[code]

I think we should catch this error and print something like `Could not connect to the Haxe compilation server at 127.0.0.1:100. Please start the server with haxe --wait 100` (where `haxe` and `100` is actually `args[0]` and the port number supplied to `--connect`)

[2019-05-10 07:30] lublak commented on #8263
@ckentgeorge i think it could be usefull. But i think its very complex to create it.
As I heard, final should also be used native.
This means we can not have a method to inialize a object.
The only solution I would just know would be an extra static initializer.
Or multiple constructors

[code]

For information:
java/c#/c++:
an extra construtor for any @:init function or multiple haxe constructors

[2019-05-10 08:50] lublak commented on #8264
I think it could be workaround with https://github.com/HaxeFoundation/haxe/issues/7950
But i think it's not the right solution to create a temp variable
I'm unsure. Because inline should inlined. So `bClass.gen` is the same as `bClass.aclass.gen`
Another workaround would be: https://github.com/HaxeFoundation/haxe/issues/8267

[2019-05-10 09:33] lublak opened #8267 "[feature request] Macro methods property accessor"
Currently it is impossible to have a property with a macro method.
But for some reason it would be better to have a variable that calls a macro instance of a function.

[code]

[2019-05-10 12:27] BigPhilCombo opened #8268 "httpjs class returns 200 status on non 200 responses when responseText is not null"
https://github.com/HaxeFoundation/haxe/blob/0f9bb3edd351db290c2ba0460b191b43a1d38e6a/std/haxe/http/HttpJs.hx#L55-L63

It's particularly line 61. Why is it assumed that just because there is responseText that the status is OK?

[2019-05-10 12:56] nadako commented on #8248
Something's still not right here. It works in the test case, but fails on my work project. Maybe that's because I'm relying on the `com.types` to be in the correct order.

[2019-05-10 14:34] RuiCuco opened #8270 "'haxe' command not recognized in command prompt"
I installed the latest feature update to Windows 10, and then ran the Haxe installer (Windows 64-bit). Everything worked fine. After a reboot, whenever I type 'haxe' in the command prompt, I get the following error:

'haxe' is not recognized as an internal or external command, operable program or batch file.

Things worked fine before the Windows 10 feature update.

[2019-05-10 14:39] Simn commented on #8270
This is not a Haxe issue. Make sure haxe.exe is in a directory that is part of your PATH environment variable.

[2019-05-10 14:39] #8270 closed, assigned to nobody

[2019-05-10 15:18] Gama11 commented on #8209
Hm, it seems there's project setups that are broken by this behavior change because they rely on a `-cmd` being called. For instance https://github.com/Gama11/HaxeRepro uses `-cmd` to run the program after compilation, and that should work even if no source files changed.

Something like adding a `-D dump-dependencies` flag also no longer works without touching some source files.

[2019-05-10 17:45] thomasjwebb opened #8271 "Python target overly mangles class names, removes modules"
I understand the historical and practical reasons for the design of the python target. The code runs perfectly fine if my aim is to make a python file to feed into the interpreter. However, as all code is placed in the same file, namespaces and classes are all concatenated together. If there was an option to output multiple files in appropriate directories, like `--py-separate-files`, then the cla

[2019-05-10 18:05] kevinresol commented on #8271
If anyone is going to implement this, please keep in mind that this is also applicable to js and lua.

[2019-05-10 18:19] fullofcaffeine commented on #8271
With JS, this can be solved currently by using a custom JS generator. Not the most optimal solution in terms of performance, but it works quite well (see: https://github.com/kevinresol/hxgenjs). Would it be possible to expose a similar API for Python?

[2019-05-10 18:30] thomasjwebb commented on #8271
It would be great if the js target had an option to behave like hxgenjs because I think it's a common enough use case but it's great that the js target at least has a hook for making custom generators. And as @kevinresol mentioned to me earlier, I could still use the js target to generate python in that way but I'd at least need to also add `--macro include('python')` to make that work right. So i

[2019-05-10 18:30] nadako commented on #8271
While I agree that it would be nice to have some flexibility by default, one possible solution available right now would be to have an [`onGenerate`](https://api.haxe.org/haxe/macro/Context.html#onGenerate) macro that iterates over the types you want to expose and just generates some `.py` files that import the main file and re-export specific parts of it.

[2019-05-10 18:32] Aurel300 commented on #8271
Given that this is already done for C++, C#, Java, PHP, it seems like it *could* be a common infrastructure?

[2019-05-10 18:37] nadako commented on #8271
Generating multiple files is not rocket science, the issue is that the way targets process modules might differ a lot (esp. with regard to circular dependencies).

[2019-05-10 20:38] fullofcaffeine commented on #8271
Interesting idea 👍🏻

[2019-05-10 20:56] Gama11 commented on #8209
This even seems to break any project that uses vshaxe's completion cache, because `--no-output` compilations seem to count. So you can't even build a newly loaded project without changing something in the sources.

Given how many edge cases / issues there seem to be, I have reverted the change for now.

[2019-05-10 21:03] Gama11 opened #8272 "[jvm] haxe.extern.Rest doesn't seem to work"
[code]

Works with the Java target, but not JVM, where this happens:

[code]

[2019-05-10 21:07] nadako commented on #8272
I actually wonder why `Rest<T>` is an abstract over `Array<T>` instead of some `@:coreType` abstract?

[2019-05-10 21:35] thomasjwebb commented on #8271
I'd like this to be streamlined by default. I know I can solve the problem once for myself but that's not really my point. I think haxe is close to being a good tool for making frameworks, not just applications, for multiple targets.

[2019-05-10 21:45] fullofcaffeine commented on #8271
Agreed.

This has been discussed multiple times in the past. In fact, there's an
open issue that discusses this but in the context of the js target:
https://github.com/HaxeFoundation/haxe/issues/5831. Perhaps we should
continue discussing there but expand it to include all targets?

On Fri, May 10, 2019 at 4:35 PM Thomas J. Webb <notifications@github.com>
wrote:

[2019-05-10 22:38] Gama11 opened #8273 "[jvm] method comparison fails"
[code]

[code]

[2019-05-10 22:46] jgranick opened #8274 "[cppia] Support a default CPPIA script file name"
This is a (minor) feature request for CPPIA

Perhaps `cpp.cppia.Host` should support a default script name so that the CPPIA host can be run without arguments, and without building a custom host?

This is minor but may be nice for using the official binaries bundled with HXCPP 👍

Thank you

[2019-05-10 23:21] back2dos opened #8275 "Binary format for eval?"
I wonder if it might be possible to serialize typed AST (and reload it via some API)? I'm mostly looking to avoid parsing/typing macros.

[2019-05-11 07:02] #8273 closed, assigned to Simn

[2019-05-11 08:13] Simn commented on #8272
We have to check what real Java generates here. I don't really understand how many stack elements are consumed as arguments.

[2019-05-11 08:15] Simn commented on #8272
Oh I guess it just creates an implicit array...

[2019-05-11 08:20] #8272 closed, assigned to Simn

[2019-05-11 09:52] Gama11 opened #8277 "Non-exhaustive switches in value places are sometimes allowed with analyzer-optimize"
This only fails to verify with `-D analyzer-optimize`. Looking at `dump=pretty`, the only difference seems to be the lack of an `@:exhaustive` in the switch.

[code]

[code]

[2019-05-11 09:56] Simn commented on #8277
wtf is that code...

[2019-05-11 10:01] Gama11 commented on #8277
What do you mean?  Isn't it perfectly valid to switch on read-only vars? There's that "Only inline or read-only (default, never) fields can be used as a pattern" error after all. Maybe that should mention `final` nowadays..

[2019-05-11 10:22] ncannasse opened #8278 "&& false and || true not being optimized"
The following code:

[code]

Outputs the following JS:

[code]

[2019-05-11 12:13] ncannasse commented on #8263
Maybe we could use the new @:byPassAccessor to allow access to final vars (ping @nadako)

[2019-05-11 12:15] ncannasse commented on #8275
typed AST is full of objects references to other types within the compilation context, so as it it's very much monolitic and it's very hard to serialize a part of it (like a single class) and reload it later by making it point to correct current context types which might not even be loaded at this point.

I would qualify the request as very hard to achieve for a quite limited gain, and propose it

[2019-05-11 12:34] Gama11 commented on #8263
That was already discussed briefly: https://github.com/HaxeFoundation/haxe/pull/8259#issuecomment-490416057

[2019-05-11 12:38] lublak commented on #8263
I think alternative we can have a :bypassFinal to force a normal variable?

[2019-05-11 12:44] nadako commented on #8275
@Simn was experimenting with this though, I'm curious about the conclusions were made

[2019-05-11 12:47] nadako commented on #8263
Yeah this is a valid use-case. I wonder if generating target-native `final` makes any real difference besides being more nice...

[2019-05-11 13:11] Gama11 opened #8279 "target.static doesn't parse"
`target.static` is one of the new namespaced defines, but it looks like you can't actually use it - probably it conflicts with keyword parsing:

[code]

[code]

[2019-05-11 13:40] ncannasse commented on #8267
I'm not sure this would work, as here dateString is not a "real" variable.

[2019-05-11 13:48] ncannasse commented on #8209
I'm listing the fixes require:
- add a flag to disable the behavior
- add a print in verbose mode to tell it's not skipped
- always dump even if there's no change
- always run cmd even if no change : this one is questionable, as some cmd might actually move the output file elsewhere, I would instead not call commands and if you want to keep current behavior you would use the flag
- compare the con

[2019-05-11 13:51] ncannasse commented on #8263
I don't think we should generate target native final as our final rules might not match target one anyway.

[2019-05-11 14:17] lublak commented on #8267
@ncannasse i know. It calls automatically get_ evertime you access it.
With the macro property it also call every time the macro.

The same for set_ with a expression argument:
[code]

[2019-05-11 14:29] Gama11 commented on #8209
In theory, it could probably be detected whether a dump needs to happen. Not sure that's worth the complexity given that it's mainly a debugging feature though.

Yeah, it's not clear what the behavior here should be, both use cases exist and are valid. :/

That seems like a strange approach, and likely doesn't work for targets that don't output a single file? I think gencpp specifically avoids cha

[2019-05-11 14:32] ncannasse commented on #8209
Right, we will find another way to make sure that we mark the context has already generated

[2019-05-11 15:47] back2dos commented on #8275
Couldn't that be solved via TLazy though?

[2019-05-11 17:30] back2dos commented on #8263
You can (and I'd say you should) factor the code paths properly. This is (if I get your point) roughly the problem you describe:

[code]

Might as well be this:

[code]

That said, there's an important case for `Type.createEmptyInstance()` approach that I've overlooked: It allows the unserializer to put the instance into cache before unserialization proceeds, thereby allowing for circular referenc

[2019-05-11 21:40] Gama11 opened #8280 "[cpp] sys tests crash in _hx_std_sys_read_dir() on Windows"
AppVeyor currently fails when running the sys tests' `Main-debug.exe`:

https://ci.appveyor.com/project/HaxeFoundation/haxe/builds/24469620/job/lb5bk2s5uvegu65s?fullLog=true#L2797

This also reproduces locally, the debugger stops here:

![](https://i.imgur.com/4K6m65F.png)

[2019-05-12 02:38] impaler commented on #8033
One advantage to the javascript target having support for es6 modules is the "tree-shaking" feature most popular js blunders are now providing. So they can include only the modules that are being used, it doesn't seem possible for these blunders to optimize a Haxe compiled js project without it.
- https://webpack.js.org/guides/tree-shaking
- https://rollupjs.org/guide/en#tree-shaking

[2019-05-12 04:00] ckentgeorge commented on #8263
I think I like that deserialization has its own initialization path so it's not necessary to use serializable classes that run into the final issue differently, i.e. `create()` instead of directly using the constructor.

I'm actually super curious if there is another reason, beyond serialization, why the `Reflect.createEmptyInstance()` function exits. Is it used for anything else? So far, serializ

[2019-05-12 12:19] nadako commented on #8248
It just came to my mind that it has nothing to do with the type order. I rely on `:has_protected` being added to parent classes, but it's not the case with extern classes, because we don't generate them, so they are not processed and the `:has_protected` is not added. That's why it reproduces with our codebase (the parent class in in an SWC). I'll fix it later today or tomorrow.

[2019-05-12 19:13] twilson90 opened #8281 "Compiler conditional blocks completely ignored sometimes when targeting hl"
This code will produce different results when compiled for hl:

[code]

It's literally like rolling a dice. I compiled my app for hl 15 times in a row with no alterations to the source files, this was the result I got (0 = conditional blocks ignored, 1 = conditional blocks ran):

001001001110011

Whether or not the conditional blocks were considered by the compiler appears to be random. Really biz

[2019-05-12 19:23] Gama11 commented on #8281
I can't reproduce this, neither with the .zipped project, nor with an empty pure Haxe or OpenFL project.

[2019-05-12 19:26] #8281 closed, assigned to nobody

[2019-05-12 19:52] nanjizal commented on #8281
Sometimes different targets behave differently are you on a mac or linux? I don't understand why you would do this, it seems a bit strange surely true is reserved so behaviour is not defined?
I think it's right to close as I see no reason this is important, but useful to specify your platform when submitting a bug.

[2019-05-12 19:59] Gama11 commented on #8281
This is defined, `true` is always true / 1.

[2019-05-12 21:43] nanjizal commented on #8281
so it selects always so I see no point.

[2019-05-13 09:39] twilson90 commented on #8281
Except it doesn't for me!
I used #if true to prove a point that it wasn't due to any defines that were changing.
#if true is always true, and yet the code inside the conditional block doesn't run more than half the time I try to compile.
I don't get this for any other targets, just hl. And it happens for all projects.

Edit: Apologies, just realised this is an issue regarding OpenFl and text not r

[2019-05-13 12:25] nadako opened #8282 "[js] js.html externs refer deprecated js.Promise type"
Try compiling for JS with `--macro include("js.html")` and you see some deprecation warnings due to externs using unqualified `Promise` access which resolves to `js.Promise`, which is now deprecated. The externs should import `js.lib.Promise` or specify the full path.

[2019-05-13 12:32] #8231 closed, assigned to nobody

[2019-05-13 13:37] RealyUniqueName commented on #8043
@Antriel
Can you try with Haxe from commit ff1e2215e25bec2cf7b2562c58eaab1e22c1281d or later?
And if it still happens, could you please provide a sample?

[2019-05-13 13:48] Antriel commented on #8043
@RealyUniqueName
See my previous comment. After that change server gets stuck parsing. Before it, it complains about infinite loop.
Now that we mostly know what causes it, I can try making a sample. It seems to come down to two macro modules initializing the same classes.

[2019-05-13 14:40] RealyUniqueName commented on #8043
So that commit doesn't help, I see.
I tried to follow instructions in your previous comment and issue doesn't happen for me. So I need a complete sample.

[2019-05-13 15:34] Antriel commented on #8043
Using Haxe build https://github.com/HaxeFoundation/haxe/commit/98d86711ba7e5e2579511db1baa4344547660679, latest tink/coconut (at least I hope I updated everything), I can reproduce the issue with following hxml:
[code]
and following Main.hx:
[code]
Maybe @back2dos could further simplify the coconut/tink side of things? Probably also comes down to just initializing something somewhere.

To reiterat

[2019-05-13 16:03] RealyUniqueName commented on #8043
Thanks, I've managed to reproduce it. Now to the exciting stuff: debugging...

[2019-05-13 17:07] kevinresol opened #8283 "Stack overflow"
Haxe version: 19c2778
tink_core: https://github.com/haxetink/tink_core/commit/fa752b88f6757c18da92998aeab5523fe4f28853

[code]

`haxe -cp src -main Main -lib tink_core -js bin/node/index.js`

This results in Stack Overflow upon compilation. Sorry I can't reduce it to not depend on `tink_core`. I tried to copy the content of `Future.hx` from tink_core but then it worked 🤷‍♂

[2019-05-13 17:31] RealyUniqueName commented on #8043
Reduced a bit more:
[code]
[code]

[2019-05-13 21:23] nanjizal commented on #8281
Depending on your needs/targets OpenFL packages can be remapped to NME, Hugh made a feature of stability, reducing targets, but I have no knowledge of current relative stability but certainly you should experiment with both, NME is setup to provide Cppia ( alternative to HL ) see Hugh talk this year.
Obviously if you can pull fixes to OpenFL even better.

[2019-05-13 22:22] #8043 closed, assigned to RealyUniqueName

[2019-05-14 02:57] kevinresol opened #8285 "Class.__name__ is also array on lua"
See https://github.com/HaxeFoundation/haxe/issues/7141

Example trace:

[code]

[2019-05-14 03:03] kevinresol opened #8286 "[jvm] Type.getClass on anon obj is not null"
Haxe version: 92c7833

[code]

This is supposed to be `null`, but got `class haxe.generated.Anon0` with jvm

[2019-05-14 05:47] Simn commented on #8278
This is already optimized with `-D analyzer-optimize`. Isn't that good enough?

[2019-05-14 10:40] #8178 closed, assigned to RealyUniqueName

[2019-05-14 13:26] nadako opened #8287 "Dynamic is not bound for for loop variables"
It seems that it's not a regression and it _might_ be intended, but it looks strange that the `Dynamic` type parameter of `Iterator` is not bound to the loop variable type when used in a `for` loop.

[code]

[2019-05-14 13:40] #8213 closed, assigned to Simn

[2019-05-14 13:42] nadako commented on #8213
Thank you!

[2019-05-14 14:10] Gama11 opened #8288 "[display] unicode characters in file paths of responses"
It looks like Haxe's display protocol (or maybe Haxe in general?) is unable to deal with unicode characters in file paths. Prior to vshaxe 2.10.0, no display modes were working at all in projects that had unicode characters somewhere in their path. Now, vshaxe uses relative file paths, which works around the issue.

However, this doesn't help for display modes that also _return_ paths as part of t

[2019-05-14 14:17] nadako commented on #8288
Does the compilation in that folder work? (at least without macros, as I assume there can be eval/macro issues wrt that too, if a macro does some FS operations).

[2019-05-14 14:22] Gama11 commented on #8288
Hm, I'm actually not quite sure what's going on with compilation. It seems to work when invoking Haxe manually on the command line, but not when building through VSCode tasks. Seems to be connected to compilation through the server, it's fine with `"haxe.enableCompilationServer": false` for some reason...

[2019-05-14 16:04] RealyUniqueName commented on #5946
It doesn't work on _some_ targets.

Let's rename it to `downcast`, deprecate `instance` and close this issue. It's already documented to not support interfaces.

[2019-05-14 16:23] RealyUniqueName commented on #5946
Actually, let's just deprecate it as a candidate for removal?
Every time somebody tries to use it for the first time, it causes confusion. Current signature and implementation just make it too specific. It works in a narrow set of cases, while silently fails in other cases. And it's inconsistent across targets in those failures. It's just a bad code for std.
Either it should be replaced with the s

[2019-05-14 16:25] RealyUniqueName commented on #8174
This should be fixed with #8284.
@Gama11  could you check it please?

[2019-05-14 16:27] Gama11 commented on #8174
I thought #8196 was the fix for this one? Or is that fix now obsolete?

[2019-05-14 16:30] RealyUniqueName commented on #8175
@ncannasse So, what's the decision here?

[code]
or
[code]
or

mapping of String API. But would be a lot slower for several operations.

[2019-05-14 16:33] RealyUniqueName commented on #8174
If #8284 fixes this issue (which it should), then #8196 is obsolete.
With #8284 compiler simply should not recurse into the modules, which are already on "stack of dependency checking".

[2019-05-14 16:42] RealyUniqueName commented on #8283
<details><summary>Kevin's Callstack</summary>
<p>

[code]

</p>
</details>

On linux compiler just hangs for a while and then segfaults. And this is the stack on Ctrl^C:
[code]

[2019-05-14 16:45] Gama11 commented on #8174
Ah, I was a bit confused about which issue you're even talking about, since there were two:

1. hang in vshaxe-build during "parsing classpaths"
2. infinite loop detection false positive in vshaxe (caused by the workaround for the first issue)

The second issue can't be reproduced even before #8284 because of the reversal of the check in 63f63ec.

I can reproduce the first issue before #8284, and

[2019-05-14 16:45] #8174 closed, assigned to RealyUniqueName

[2019-05-14 19:32] RealyUniqueName commented on #8283
Leaving this open till I manage to reduce the sample and create a test.

[2019-05-14 19:55] #8248 closed, assigned to nadako

[2019-05-14 19:56] nadako commented on #8248
I was right, fixed now. There's another issue with overriding protected fields, will report shortly.

[2019-05-14 20:01] nadako opened #8289 "[flash] calling overriden protected method will fail at run-time"
Another corner-case with protecteds in the SWF generator:

[code]

This will fail at run-time with `TypeError: Error #1006: f is not a function.`, because the `f` access in `B.new` has invalid namespace specifier. It should be the protected namespace, but is public instead. This is because the overriden `f` doesn't have `@:protected` meta itself and genswf9 doesn't check whether it overrides a pro

[2019-05-14 20:56] ncannasse commented on #8193
Closing due to lack of feedback.

[2019-05-14 20:56] #8193 closed, assigned to nobody

[2019-05-14 21:09] ncannasse commented on #8278
I reported because this gives warnings with goggle closure. I also expect Haxe to optimize these with having to add extra compilation flags that might eventually trigger some other errors or change the code in more extensive manner (although I might be wrong here as I haven't played much with analyzer-optimize)

[2019-05-14 21:14] ncannasse commented on #5946
I don't agree with the conclusion.

Downcast is the most common and somewhat legitimate use of cast in the OO world. Restricting its typing the way Std.instance does is the best for the developer, and it requires a std function so on statically typed platforms there's not some typecheck done twice - one for Std.is and one for cast.

So it should be :
- properly specified, especially wrt interfaces

[2019-05-14 21:16] ncannasse commented on #8175
An abstract UnicodeString that would provide a 1:1 mapping of String API
which also has a `static function validate` that takes an encoding as parameter

[2019-05-15 10:23] RealyUniqueName commented on #8283
Minimal sample:
[code]
[code]

[2019-05-15 10:25] #8283 closed, assigned to RealyUniqueName

[2019-05-15 11:23] RealyUniqueName opened #8291 "[nullsafety] `?pos:PosInfos` argument"
The last optional argument `?pos:PosInfos` should not be treated as nullable, because compiler always generates a value for it.
However, user can manually pass `null` there. Maybe safety checker should complain in this case.

[2019-05-15 11:28] Gama11 commented on #8291
How could that work? `?` implies nullability.

Are you suggesting to create an exception / special case so that `?` does _not_ imply nullability for this one very specific case only?

[2019-05-15 11:34] Simn commented on #8291
Not sure what's best here. Technically, it's no different from any other optional argument.

[2019-05-15 11:34] RealyUniqueName commented on #8291
Yes, special case for an identifier, which is the last optional argument in current function and the type is `Null<PosInfos>`.

[2019-05-15 11:35] RealyUniqueName commented on #8291
Technically, yes. But at run time it's never `null`.

[2019-05-15 11:36] Simn commented on #8291
You don't know that. I have some code which manually forwards pos infos, and I could mess it up and accidentally use a null value. Not an explicit `null` value, but something that just happens to be `null` at run-time.

[2019-05-15 11:40] RealyUniqueName commented on #8291
Hm... You're right. It's easier to do something like this manually in the beginning of a function, which handles positions:
[code]

[2019-05-15 11:40] #8291 closed, assigned to RealyUniqueName

[2019-05-15 14:40] filt3rek opened #8292 "[php7] extern and include path"
Hej,

I see that when Haxe generates php 7 extern, it put it in a folder _MyExternClass.
But in this class, in the `__init__` function  I do an include but the path doesn't match because it misses the generated folder level.

I don't know if it's clear enough or maybe I'm doing it in wrong way ?

[2019-05-15 15:13] RealyUniqueName commented on #8292
Could you provide a sample, please?

[2019-05-15 15:39] filt3rek commented on #8292
Hmmm Sorry, I probably confused with `__init__`, `include` and `@:native`
So I can't see how to do that, let's say this is my directory tree :

* src
  * common
    * Test.hx
  * Main.hx
* www
  * lib
    * (...)
  * ext
    * Test.class.php

common.Test is the haxe extern class
ext/Test.class.php is my real php class
All the haxe files are generated in __lib__ dir.

What is the correct way to lin

[2019-05-15 15:40] filt3rek commented on #8292
Using `@:native`meta, I can't target __ext__ because it's outside of __lib__ dir

[2019-05-15 16:18] jdonaldson commented on #8265
I think the best approach here would be to assign these standard library module instances back to the global table.  Otherwise, the wrong variable assignment could clobber the whole (e.g. `table`) module.
 This should be done as part of an initialization step, probably the very first one.

I'm thinking maybe some sort of `-D` directive? e.g.:

[code]
I'd like to alias them all at once, but my gues

[2019-05-15 17:06] RealyUniqueName commented on #8292
Here is an example of `Main.hx`, which will do the job:
[code]
and then in `common/Test.hx`:
[code]
This setup works for me.
Note: I've added extern for `spl_autoload_register` function in recent commit b6221e4e782f6e10e7e8552a6caf6374ef91d7d2, but if you don't want to update Haxe, you can use `spl_autoload_register` with `untyped __php__(...)` or `php.Syntax.code(...)`

[2019-05-15 17:23] RealyUniqueName commented on #7925
Now I remember, why it works like this.
It's because of null padding on some targets. Which means `new Main()` become `new Main(null)` during the compilation, and null checker cannot distinguish "manual" null and null padding performed by the compiler.

[2019-05-15 18:11] filt3rek commented on #8292
Thx Aleksandr !
Maybe it could be good to have an option/directive in haxe/php in order to include other paths ? As it's done in generated index.php ?

[2019-05-15 19:00] RealyUniqueName commented on #7925
I can allow explicit `null` value and emit an error on any other nullable value:
[code]
But I'm not sure if it's the way to go.

[2019-05-15 19:13] Gama11 commented on #7925
Explicit `null` shouldn't be allowed either though...

[2019-05-15 19:21] RealyUniqueName commented on #7925
Yes, but it is inserted automatically by the compiler on targets like js.
Those probably could be annotated with some special meta.

[2019-05-15 19:23] Aurel300 commented on #7925
I think it would be extremely confusing if the user could write an explicit `null` and get no error. I don't think it's such a rare occurrence that this would be acceptable.

[2019-05-15 19:24] Gama11 commented on #7925
Maybe the already existing `@:compilerGenerated` could be used for that?

[2019-05-15 19:27] RealyUniqueName commented on #8292
I'll get back to this question when I'll be working on tighter integration of PHP ecosystem into Haxe/PHP development process.

[2019-05-15 21:52] Gama11 commented on #8225
Closing since there hasn't been any followup.

[2019-05-15 21:52] #8225 closed, assigned to nobody

[2019-05-15 22:23] RedHairHead opened #8293 "@:using constants"
It would be nice to be able to refer to external constants as if they were declared at the place of use. Sorry, my english is bad, here is a small practical example:

[code]

I have an event model based on bit masks and to create a listener, I have to write

`var listener = new Listener<SomeEvent>(SomeEvent.FLAG_1 | SomeEvent.FLAG_3, handler);`

Too much SomeEvent and the readability of the code w

[2019-05-15 22:27] nadako commented on #8293
This is already possible with `import SomeEvent.*` (or specific static field name).

[2019-05-15 22:30] nadako commented on #7925
How about just pushing null-padding filter below null-safety checker? :) And if it's not a filter, then maybe it should be? (although there are some performance implications wrt that).

[2019-05-15 22:34] RedHairHead commented on #8293
Cool. Haxe is great! Sorry for my stupid question, I just started to learn this wonderful language.

[2019-05-15 22:51] #8293 closed, assigned to nobody

[2019-05-16 01:42] kevinresol commented on #8289
https://github.com/HaxeFoundation/haxe/issues/2599

[2019-05-16 05:07] andyli commented on #8261
9e365cedc6896eb0bd9083b701f8a54e22e7f1d0 is the first bad commit according to `git bisect`.

[2019-05-16 06:40] Simn commented on #8261
This is a bit of an issue. `TypePath` doesn't have a `pos` field so we cannot just add this when reifying. But we also cannot add it to `TypePath` without breaking lots of code.

I think this secretive position handling was a mistake. We should just have broken this properly once instead of trying to patch it behind the scenes. Not sure what to do about this now other than ignoring these position

[2019-05-16 08:26] RedHairHead opened #8294 "ListIterator Inline"
If we make a `List` wrapper, we will lose the inline iteration. This is easy to fix if the `ListIterator` class is made public.

[code]

Is there a way to get the same result without editing the STD library?

[2019-05-16 08:31] filt3rek commented on #8292
Aleksandr,

I'm back to my initial question, I think I understand better now but there is still a strange thing.
Let's say I don't use `spl_autoload_register`, I want to use `__init__` function in an extern class like that :
common/Test.hx :
[code]
Main.hx :
[code]
As you can see, when there is an `__init__` function in an extern class, Haxe generates a folder `_Test`with the extern class `_extern

[2019-05-16 08:33] nadako commented on #8294
I think if you remove the `:Iterator<T>` type hint and leave it to type inference, it will be inferred to `ListIterator<T>` and thus will be inlined. But your use-case shows that maybe we indeed should make the iterators public...

[2019-05-16 08:47] RedHairHead commented on #8294
Thanks, it really works. Haxe is a simple language in a good way, but this method does not seem intuitive.

[2019-05-16 11:17] #8261 closed, assigned to Simn

[2019-05-16 13:34] Simn commented on #8280
@hughsando: Could you look into this some time soon?

[2019-05-16 13:36] Simn commented on #8234
If I could detect this I could parse it, so this is covered by #8032.

[2019-05-16 13:36] #8234 closed, assigned to nobody

[2019-05-16 13:45] #8232 closed, assigned to nobody

[2019-05-16 13:45] Simn commented on #8232
Note that I didn't add a test because the sys tests terrify me.

[2019-05-16 13:49] Simn commented on #8201
#7904 is related.

[2019-05-16 16:01] markknol commented on #8278
Wouldn't it be nice to just make `-D analyzer-optimize` default? I use it in all of my projects and never had issues with it.

[2019-05-16 19:18] #8292 closed, assigned to nobody

[2019-05-16 23:03] nadako opened #8295 "[discussion] remove AS3 target"
I think we should remove the AS3 target:
- i would be surprised if it's used by anybody at all
- it confuses newcomers that think that as3 output behaves exactly the same as swf output (while in reality it's a different target with its own quirks)
- SWF target fully covers AVM/Flash platform and has more freedom for generating efficient code (e.g. native iterators), not to say bytecode compilation

[2019-05-16 23:43] Gama11 commented on #8288
I had to revert the usage of relative paths since that caused some other issues. So paths will have to be fixed for both input and output (though it might end up being the same issue), and we're back to nothing working in projects in Unicode paths for now.

[2019-05-17 06:26] Simn commented on #8278
Yeah I'm also not a fan of adding the same optimization in multiple places. This isn't even one that we could do completely locally because you have to consider the side-effectness of the other operand(s) and possibly convert the expression into an unconditional block.

[2019-05-17 06:34] Simn commented on #8275
Designing the loader for something like this requires some thought because ultimately we have to replicate the typing passes here, at least to some extent.

[2019-05-17 06:42] Simn commented on #8268
This was changed in https://github.com/HaxeFoundation/haxe/pull/3353 and discussed further in https://github.com/HaxeFoundation/haxe/pull/3993. The reasoning makes sense to me, so I'm not sure why we should change something here.

[2019-05-17 06:47] Simn commented on #8267
I don't really like the idea of "hidden" macro calls and prefer them to be explicit. It would be quite irritating if every `field.access` could potentially execute some macro.

[2019-05-17 06:47] #8267 closed, assigned to nobody

[2019-05-17 06:50] Simn commented on #8266
Meh, I don't think many people manually start compilation servers these days. If this fails in the IDE for some reason the new error message would only confuse users more because it tells them to manually start some server, while it should be the IDE doing that. So I prefer to leave this as-is.

[2019-05-17 06:50] #8266 closed, assigned to nobody

[2019-05-17 06:56] Simn commented on #8263
I agree with @back2dos that `hxUnserialize` should be allowed to be static. It's a clean solution and doesn't require messing with `final` at all. I'm against adding a bypass for this because then we cannot reason about `final` at all and it becomes useless as far as optimization is concerned.

[2019-05-17 07:03] Simn commented on #8260
I'm having trouble understanding what you think is wrong with the positions. The `TIf` spans the entirety of the `switch` expression, which is correct.

[2019-05-17 07:39] Simn commented on #8253
This is difficult to fix for various reasons. Pushing to 4.1.

[2019-05-17 07:43] Simn commented on #8250
We don't remove generic base classes by default. You can force that by adding `@:remove` to the class.

[2019-05-17 07:43] #8250 closed, assigned to nobody

[2019-05-17 07:45] Simn commented on #8229
This compiles for me.

[2019-05-17 07:45] #8229 closed, assigned to nobody

[2019-05-17 07:58] kevinresol opened #8296 "Variable _ must appear exactly once in each sub-pattern"
92c7833

[code]

[2019-05-17 08:05] Simn commented on #8240
Something is really fucked up here. Let's at least lose the macro:

[code]

This is what arrives at `inline_constructors`:

[code]

And it is transformed to this:

[code]

For some reason, the `new Suite()` ends up being inlined to the constructor of `StringIterator`...

This is probably my fault for misunderstanding some logic in `inline_constructors`, but I would appreciate some advice from @bas

[2019-05-17 08:10] Simn commented on #8240
This can be further reduced:

[code]

Before `inline_constructors`:

[code]

After:

[code]

[2019-05-17 08:26] Simn commented on #8226
Is this a matter of adding `@:pure(false)` to externs or do we have to support something in the compiler first?

Either way, we should address this for 4.0 because it has the potential to cause regressions.

[2019-05-17 08:27] Simn commented on #8217
This comes out of the parser as an empty block for some reason. Must be some resuming going wrong.

[2019-05-17 08:31] Simn commented on #8210
Changing it like this would make an assumption. I think it could fail for different reasons than that, but dealing with this properly would require messing with the C FFI code. To be frank, I can't be arsed to do that.

[2019-05-17 08:32] Simn commented on #8206
I don't really know what to document here, but I also never had any issues with it.

[2019-05-17 08:46] #8296 closed, assigned to nobody

[2019-05-17 08:51] kevinresol commented on #8278
In fact I think it is expected for Haxe 4, as it is mentioned in [the blog](https://haxe.org/blog/haxe-3.4-release/)

[2019-05-17 10:35] RealyUniqueName commented on #8295
It's probably too late to remove it in 4.0. Let's deprecate it and remove in 4.1

[2019-05-17 10:38] Gama11 commented on #8295
You could also make the opposite arguments that it's exactly the right time though, because it's a major version that can have breaking changes like this. :)

[2019-05-17 10:49] RealyUniqueName commented on #8295
It's already two RCs deep into 4.0 :)

[2019-05-17 10:51] Simn commented on #8295
But nobody uses it.

[2019-05-17 11:02] RealyUniqueName commented on #8295
I'm fine with removing it.
Just saying that it could be a more graceful process. I bet somebody out there actually uses it :)

[2019-05-17 12:13] Gama11 opened #8297 "Open questions regarding the `>= version()` syntax"
This behavior is rather confusing:

[code]

`haxe_ver` is a float, so a version like `4.1.2` is actually represented as `haxe_ver = 4.102` under the hood (two digits for the patch). I'm not quite sure what implications this has for `>= version()` checks.

[2019-05-17 12:17] Gama11 commented on #8297
Hm, this suggests that the patch version is somehow ignored entirely?

[code]

[2019-05-17 12:40] Gama11 commented on #8297
I think there's an open question here of what exactly this is meant to be / meant to be used for.

I would argue that instead of simply splitting a string by dots, `version()` should respect SemVer semantics, since most of the time you're probably going to comparing versions that come from Haxelib defines (and those use SemVer). This includes properly comparing versions with pre-releases such as `

[2019-05-17 12:47] Gama11 commented on #8297
It's also worth thinking about whether it would be better to use `semver()` instead of `version()` in that case.

[2019-05-17 13:15] back2dos commented on #8226
Well, it seems like the compiler is very unimpressed with [`@:pure(false)` on fields](http://try-haxe.mrcdk.com/#3FBa1). FWIW though, [it's not a regression](https://try.haxe.org/#cb347).

[2019-05-17 15:30] RealyUniqueName commented on #8226
Is it only applicable to extern classes? Is possible to somehow define such properties in non-extern classes?

[2019-05-17 16:12] Gama11 opened #8299 "[hl] subtraction of type-parametrized Int parameters"
This is obviously questionable code, but it doesn't seem like it should result in a runtime crash? It works fine on all other targets I've tested.

Tested with HL 1.9.0.

[code]

[code]

Note: with `@:generic`, it works even on HL.

[2019-05-17 16:44] Simn commented on #8002
Closing because I don't know what else to do with this.

[2019-05-17 16:44] #8002 closed, assigned to nobody

[2019-05-17 16:45] Simn commented on #7970
I'll just assume that it did something.

[2019-05-17 16:45] #7970 closed, assigned to nobody

[2019-05-17 16:47] Simn commented on #7929
I don't remember why exactly but this doesn't happen anymore.

[2019-05-17 16:47] #7929 closed, assigned to nobody

[2019-05-17 16:51] Gama11 commented on #7929
I think you fixed that in 25cae7b?

[2019-05-17 18:37] akbcode opened #8300 "[cpp] Not possible to extend an extern class?"
Is it not possible to extend a native C++ class from Haxe? I tried it but in the generated code _obj is suffixed to the actual name of the extern class. It doesn't compile.

Would be nice if we could extend an extern class but at least cpp generator should show an error if not possible.

[2019-05-17 19:21] #8299 closed, assigned to nobody

[2019-05-17 19:49] #7375 closed, assigned to ncannasse

[2019-05-17 19:49] ncannasse commented on #7375
The CI will no longer fail, but result is still false because of the wrapper creation. I have taken care of dynamic wrappers, not static ones (the one we generate at compile time).

[2019-05-17 20:04] ncannasse commented on #7340
I'm not sure what's the good solution here, but it still is an issue (gives an hl-check error) and it's not hl runtime related, so I've removed platform-hl

[2019-05-17 20:14] #7560 closed, assigned to ncannasse

[2019-05-17 20:36] nadako commented on #8226
I mean you can of course hack in some craziness, but in general Haxe fields are just fields :)

[2019-05-17 21:12] ncannasse commented on #8243
I fixed the Out of memory, but haxe gets stuck and crash instead of printing a stack overflow on the original sample. If someone could print a stack overflow result (with OCAMLRUNPARAM=b) and add it there (using latest haxe) that would help thanks :)

[2019-05-17 21:14] ncannasse commented on #7665
Sorry for the late reply, but we are not supporting older version of haxe outside of Haxe Foundation professional support plans.

[2019-05-17 21:14] #7665 closed, assigned to nobody

[2019-05-17 21:14] #7668 closed, assigned to nobody

[2019-05-17 21:17] ncannasse commented on #7685
I don't understand well what's going on and it seems quite an implementation detail, so hard to document.

[2019-05-17 21:17] #7685 closed, assigned to nobody

[2019-05-17 22:15] ncannasse opened #8302 "haxe_ver format"
Starting from haxe4 , we should use `haxe_ver=4.x.y` now that we have `#if version()`
I don't think this will cause problem when using old 3.x compiler, but it's late so I'm not 100% sure

[2019-05-17 22:24] ncannasse commented on #8260
If you look at HL bytecode it makes more sense:

[code]

When stepping, you will then step on the "case" for the comparison, even if the result is false. I would like these two opcodes to be both on line .11 (so same position as the switch). The problem is not the TIf but the TParenthesis and everything inside it (and the TConst 0)

[2019-05-17 22:27] ncannasse commented on #8206
@hughsando is not the VSStudio detection supposed to be automatic ?

[2019-05-17 22:30] ncannasse commented on #8295
Let's add a warning for possible deprecation and reference this issue in the text, We will see if we get some feedback after RC3. Will still be time for removal for 4.0 final or postpone for later.

[2019-05-17 22:31] ncannasse commented on #8297
We still don't handle the -alpha etc.

[2019-05-17 22:51] fullofcaffeine opened #8303 "Stackoverflow when using the eval target"
[Stumbled upon](https://github.com/nadako/hxtsdgen/issues/5) this issue while using [hxtsdgen](https://github.com/nadako/hxtsdgen) with Haxe `4.0.0-rc.2+92c7833`.

Here's the stacktrace:

[code]

Two ways to reproduce that I know of:

1) Clone [hxtsdgen](https://github.com/nadako/hxtsdgen), install the `hxnodejs` haxelib and then run `make`. You'll see it will fail at the `function.text` test case

[2019-05-17 23:11] Gama11 commented on #8302
I guess it should also include pre-release suffixes like `-rc.2` if that is supported in comparisons?

[2019-05-17 23:18] m0rkeulv commented on #8295
If you are removing targets, please try to make it more convenient to switch between Haxe versions so that developers that use the deprecated target can easily switch back and forth between Haxe 3 and 4.

 I also think it is a bit late to do this change as Haxe 4 previews has been available since late 2017, and could have been adopted by developers who need the AS3 output.

As a side note, I have

[2019-05-17 23:23] Gama11 commented on #8295
@m0rkeulv Do you have a use case for the AS3 target that's not covered by the Flash target?

[2019-05-17 23:27] kevinresol commented on #8302
This version thingy should really be fully semver compliance.

Dislike half-baked, non-standard solutions.

[2019-05-17 23:35] Gama11 commented on #8302
One thing that's a bit unfortunate is that `#if version()` won't be useful for a while, because it can't be used to guard against Haxe versions that didn't support it yet (would fail with `Invalid conditional expression`).

[2019-05-17 23:36] Gama11 commented on #8297
It's actually probably not correct to support `version("4")` and `version("4.0")` if this is intended as SemVer, since minor and patch versions are not optional (so `hl_ver` doesn't follow SemVer either).

[2019-05-18 00:36] m0rkeulv commented on #8295
Not that I can’t use SWC/SWF files for myself,  but it would be convenient for generating sources for cross-platform API so that  anyone who uses the generated API/AS3 source files can fix bugs and/or troubleshoot themselves.

As far as I know Smartfox2X (smartfoxserver.com) uses Haxe to generate their SWC file for Flash/Air target (it contains the Std,Lib and Boot classes) and its annoying not to

[2019-05-18 08:58] back2dos commented on #8226
Well, I do actually have a use case for non-extern classes, but today I don't feel like reopening the old debates on what you should and shouldn't do with properties ;)

My primary concern is that idiomatic code for DOM APIs has its behavior broken through optimization. People can of course just learn that, but *if* removing this hurdle is easy enough, I would much prefer to just do it.

[2019-05-18 09:00] back2dos commented on #7668
Addendum: you may use `@:noUsing` on methods that you don't actually wish to be applied as static extensions.

[2019-05-18 09:32] ncannasse commented on #7665
Sorry, I was just informed that you're working at one of our partners. I think you did manage to upgrade to 3.4, if not please reply here so the issue can be reopened and prioritized.

[2019-05-18 09:32] nadako commented on #8226
Yeah I agree about DOM stuff and I can imagine some interesting use-cases with actual Haxe properties, but I was talking about plain Haxe non-extern fields.

[2019-05-18 09:43] ncannasse commented on #8302
Yes we should support full semver, that's why I reopened
And yes I'm aware of the backward compatibility issue, but there's not much
we can do expect release an updated 3.4.x with the feature added.

On Sat, May 18, 2019 at 1:35 AM Jens Fischer <notifications@github.com>
wrote:

[2019-05-18 09:44] ncannasse commented on #8297
We should support full semver comparison, but I think we should allow
"short semver" creation.

On Sat, May 18, 2019 at 1:36 AM Jens Fischer <notifications@github.com>
wrote:

[2019-05-18 09:45] ncannasse commented on #8297
One reason for that is that it should actually even be forbidden to use
version("4.1.5") because you're not supposed to check against a minor
revision (according to semver it should not affect the runtime)

On Sat, May 18, 2019 at 11:43 AM Nicolas Cannasse <ncannasse@gmail.com>
wrote:

[2019-05-18 09:46] ncannasse commented on #8295
There are existing SWC/SWF decompilers for that job.

On Sat, May 18, 2019 at 2:36 AM m0rkeulv <notifications@github.com> wrote:

[2019-05-18 09:58] andyli commented on #8240
Reopen since the cpp target failed at the test.

[2019-05-18 10:05] R32 commented on #8302
I found that `(haxe_ver >= "4.0.0")` is already available.  and the `(my_haxelib >= "0.1.0")` is the same

[2019-05-18 10:19] Gama11 commented on #8302
@R32 Yes, but that's a string comparison, meaning that checks like `(my_haxelib >= "0.10.0")` will fail in unexpected ways. And it doesn't account for the aforementioned suffixes.

[2019-05-18 10:35] Gama11 commented on #8297
The problem is that since the SemVer spec doesn't allow "short versions", any version that doesn't have three components also doesn't _look_ like a semantic version, which can lead to confusion. For instance, to this day I'm not really sure if HL follows SemVer or not, as the release page only has major and minor (e.g. 1.9), but on the command line, it outputs 1.9.0.

The way I see it, this is mos

[2019-05-18 10:42] Gama11 commented on #8297
I guess the actual / most reasonable definition of backwards-compatibility in SemVer is "don't break _expected_ behavior": https://github.com/semver/semver/issues/256#issuecomment-348799884

[2019-05-18 11:21] m0rkeulv commented on #8295
The only Decompiler that i know of that is still in development is JPEXS Free Flash deompiler and it does not handle Haxes way of doing loops (`§§hasnext` and `§§nextname`) and pushing and popping from the stack (§§push,  §§pop()) very well.  Depending on how things are exported you may end up with a file where all local variables are `_locXX`, while you can modify the SWC directly it’s just incon

[2019-05-18 11:45] Gama11 commented on #8302
It looks like version checks like this will continue to work fine if `haxe_ver` is a SemVer:

[code]

But checks like this will start failing:

[code]

Both of these are being used, so I'm not sure what to do about that. Would it be acceptable to break the latter and tell people to switch to the former syntax (or `#if haxe4`)?

[2019-05-18 12:00] Gama11 commented on #6758
I guess this is solved with https://github.com/HaxeFoundation/haxe/pull/8005 and https://github.com/HaxeFoundation/haxe/issues/8032?

[2019-05-18 12:07] Gama11 commented on #8302
Alternatively, perhaps breaking changes could be avoided by making `haxe_ver` / `Float` comparisons a special case in the compiler?

[2019-05-18 14:22] RealyUniqueName commented on #8302
Maybe compiler should provide new version value in just "haxe" like it's done for libraries?
[code]
Also, I think, we can emit a deprecation warning for string version comparisons, but keep them working too.
[code]

[2019-05-18 14:29] RealyUniqueName commented on #6758
Indeed

[2019-05-18 14:29] #6758 closed

[2019-05-18 14:35] Gama11 commented on #8302
I agree that `haxe` would sound more natural than `haxe_ver`, and it would also nicely side-step the compatibility issues (and the `haxe` define should probably be reserved anyway). `haxe_ver` could still be kept around for a while for backwards compatibility.

A deprecation warning would be rather annoying for library authors though, at least for the moment, because most libraries want to stay ba

[2019-05-18 14:38] RealyUniqueName commented on #8297
This is not pragmatic. It's quite often to have a workaround for bugs in libraries.
E.g.
[code]

[2019-05-18 18:57] RealyUniqueName commented on #8303
Setup to reproduce (in case of changes in those repos):
[code]

[2019-05-18 19:07] RealyUniqueName commented on #8287
@Simn @ncannasse  is it intended?

[2019-05-18 19:09] RealyUniqueName commented on #8300
@hughsando Do extern classes expected to be extendable by Haxe classes?

[2019-05-18 19:18] RealyUniqueName commented on #8268
I agree, no change is required here.
And in my experience current approach is the correct way to deal with local requests.

[2019-05-18 19:30] BigPhilCombo commented on #8268
So this is actually a situation when using the http class inside of Electron. We are making a remote request but it's running in a local environment, so isLocal is actually incorrect.

[2019-05-18 19:31] RealyUniqueName commented on #8233
I agree, assertions which rich end user should be fixed or replaced with proper error messages.

[2019-05-18 23:02] RealyUniqueName commented on #8268
Can you give an example URL and request+response headers?

[2019-05-19 08:02] RealyUniqueName commented on #8295
Added a deprecation warning

[2019-05-19 17:00] axelhuizinga opened #8307 "File "_build/src/typing/typeload.ml", line 760, characters 2-8: Assertion failed"
my php project compiles fine on windows with 4.0.0-rc.2+77068e10c but on
debian with 4.0.0-rc.2+77068e1 I get only
File "_build/src/typing/typeload.ml", line 760, characters 2-8: Assertion failed

[2019-05-19 17:16] RealyUniqueName commented on #8307
Can you provide a sample?

[2019-05-19 18:17] RealyUniqueName opened #8308 "[php] Fail to load a class (ci only)"
We have this failure in php test suite on both travis and windows:
[code]
However, I cannot reproduce it locally neither on Linux nor on Windows

[2019-05-19 18:54] #8260 closed, assigned to RealyUniqueName

[2019-05-19 19:19] #8308 closed, assigned to RealyUniqueName

[2019-05-19 20:08] ncannasse commented on #8287
I wouldn't say intended, but I understand why it's this way. I think the more correct fix would be to change the Array behavior to match the Vector one as Dynamic is not supposed to propagate unless explicit.

[2019-05-19 22:56] ckentgeorge commented on #8263
Can we kill the whole notion of `createEmptyInstance()` while we're at it?

[2019-05-19 23:02] back2dos commented on #8263
Nope, that's still required if you wish to unserialize cyclic object graphs ;)

[2019-05-19 23:08] ckentgeorge commented on #8263
Then this totally fails with my use-case. Either it's one or the other; both don't make sense. This solution would mean I can't use a cyclic object graph + final. This seems arbitrary and may lead developers down the path of unpleasant surprises.

[2019-05-19 23:36] Gama11 commented on #8263
Well, `createEmptyInstance()` is reflection... You could also modify `final` fields with reflection.

[2019-05-19 23:39] ckentgeorge commented on #8263
Right, but part of the argument for not making exceptions, is wanting to propagate `final` all the way down to the target language. Will reflection still work in this case?

[2019-05-20 00:24] Gama11 commented on #8263
That would depend on each specific target's runtime I imagine, I doubt Haxe could / should _guarantee_ that it works.

[2019-05-20 01:45] ckentgeorge commented on #8263
That is my suspicion as well. If this is true, then the final behavior becomes platform specific. This seems to be contrary to the goals of Haxe.

[2019-05-20 05:57] Simn commented on #8263
Reflection has always been target-specific to an extent.

Let's focus on the final deserialization issue please.

[2019-05-20 06:12] #8240 closed, assigned to Simn

[2019-05-20 07:03] Simn commented on #8303
I'm not getting a stack overflow, it seems to just fail:

[code]

Which makes this tricky to investigate. Somebody likely has to reduce this...

[2019-05-20 07:06] Simn commented on #8303
The error line from your stack overflow suggests to me that there's a function which references itself. This should not happen because Haxe's typer usually translates this properly.

[2019-05-20 07:08] back2dos commented on #8263
That's pretty much a given anyway. With anonymous objects, you can't have a cyclic immutable graph. The one way to get this done with classes is this:

[code]

This is quite the edge case (and it probably shouldn't even compile, because the reference to `this` in `A.new` escapes before the object is fully initialized). In general, you need mutability to make object graphs cyclic.

The goal of `fin

[2019-05-20 07:14] fullofcaffeine commented on #8303
@Simn

My output does show a `Stack overflow` output before the `Haxe compilation failed!` appears in the following line:

[code]

Using Haxe `4.0.0-rc.2+77068e1` on Linux Mint.

To see the OCaml stacktrace, export the `OCAMLRUNPARAM=b` env var.

Here's the full output with the OCaml stracktrace: https://www.pastiebin.com/5ce2547458631.

[2019-05-20 07:19] fullofcaffeine commented on #8303
Also, I can confirm that if you run the same tests with Haxe `3.4.7`, these errors __do not__ happen:

[code]
[code]

[2019-05-20 07:46] RealyUniqueName commented on #8188
`@:using` also doesn't work for descendant classes if declared on a parent class.

[2019-05-20 08:30] RealyUniqueName commented on #8303
I'm getting stack overflow on each run.

So, it's a regression

[2019-05-20 08:33] Simn commented on #8303
If it's indeed a self-recursive function there's not much I can do on the eval side of things. Something must be wrong in the typer or perhaps the analyzer.

Maybe the dump reveals something.

[2019-05-20 08:36] lublak commented on #8263
I think final can not be native. So reflection should always work.
Why final is impossible:

[code]

I think haxe support "@:hack Allows extending classes marked as @:final".
Can also be used for hacking a field.

[2019-05-20 10:00] ncannasse commented on #8263
Let's get back to pragmatic mode:
- we should not generate target native final as our final rules will most likely not match target one
- Reflection would then work without any problem, as it actually should (which is another reason for no native final)
- so users can call Reflect.setField on final fields, but that's very unsafe way to do
- so let's allow them to do @:byPassAccessor on final field

[2019-05-20 10:11] Simn commented on #8263
I don't really understand why you consider `@:byPassAccessor` to be any safer than `Reflect.setField` here. What exactly is the difference?

[2019-05-20 10:14] RealyUniqueName commented on #8263
It's not safier in terms of "finaliness", but safier in terms of types and better performance at runtime.

[2019-05-20 10:14] Gama11 commented on #8263
Well, the former is still type-safe (apart from the `final`). `Reflect.setField` is completely `Dynamic` / stringly typed with its arguments.

[2019-05-20 10:24] Simn commented on #8263
I don't really see the point in introducing type-safe concepts with a "use at your own risk" warning label. That's a weird middleground that adds complexity for no benefit, because you cannot rely on it anyway...

[2019-05-20 10:26] RealyUniqueName commented on #8263
We already have `@:privateAccess`...

[2019-05-20 10:26] Gama11 commented on #8263
Yeah, it's a bit strange.. At the very least it should maybe not be mixed with `@:bypassAccessor`, which is actually safe in its current form.

`@:privateAccess` is also safe to use, isn't it?

[2019-05-20 10:33] Aurel300 commented on #8243
@ncannasse Does this help?

[code]

(that's using [this](https://github.com/HaxeFoundation/haxe/issues/8243#issuecomment-488642255) code sample)

[2019-05-20 12:16] #7671 closed, assigned to RealyUniqueName

[2019-05-20 12:40] kLabz commented on #3526
Added support for `class`, `struct`, `new()` and `unmanaged` constraints in #8311

[2019-05-20 13:02] lublak opened #8312 "[feature request] Unique name generation for macro"
Somtimes you need temp variables in macros.
But its difficult to declare it.

For example:
http://try-haxe.mrcdk.com/#1cA5a

(Yes, you can rename the variable in the macro, but if you work for a library, you can not know what name the developer is using.)

Currently i loop through the expression. Store all names in a array.
Create a name and count up a counter if this name exists in this array.

[2019-05-20 14:30] RealyUniqueName commented on #8303
This is indeed self-recursive function.
This line: https://github.com/nadako/hxtsdgen/blob/8244c17/src/hxtsdgen/TypeRenderer.hx#L51
It recurses infinitely on `Null<Int>`.
In Haxe 3.4 `Null` was a typedef and avoided that branch of `renderType` function. Now `Null` is an abstract and goes to that branch.

[2019-05-20 14:37] Simn commented on #8303
I see, I misunderstood the issue and thought it had a self-recursive AST node, which would make it stack overflow during eval-jit time as opposed to the run-time.

[2019-05-20 14:42] RealyUniqueName commented on #8312
That's quite easy to solve with something like this:
[code]

No need to add anything to the compiler or std.

[2019-05-20 14:43] Simn commented on #8312
I agree, this should be easy with a custom prefix.

[2019-05-20 14:43] #8312 closed, assigned to nobody

[2019-05-20 14:46] axelhuizinga commented on #8307
looks like the import php.Web is the culprit
[code]

[2019-05-20 15:00] lublak commented on #8312
@RealyUniqueName
But if you use this method you always comes to the point that other developers use the variable __tmp0__. (If he also needs a temp variable).

http://try-haxe.mrcdk.com/#B9A40

[2019-05-20 15:09] RealyUniqueName commented on #8312
You can use whatever name teplate you want. E.g. I doubt you will face any collisions using `__lublakTmp__` instead of `__tmp__`  :)

[2019-05-20 15:12] RealyUniqueName commented on #8307
I cannot reproduce it with that sample.
Have you tried with the latest dev haxe (77068e1 is two months old)?
What's your hxml settings?

[2019-05-20 15:14] RealyUniqueName commented on #8307
Also, did you make any changes to std on your linux machine? It looks like something is wrong with core classes.
Try reinstalling Haxe.

[2019-05-20 15:18] lublak commented on #8312
@RealyUniqueName and if the developer use this variable? :P
okay okay xD it's was just an idea.
I think it is very unlikely.

[2019-05-20 16:35] back2dos commented on #8263
So, which part of just allowing static hxUnserialize is not pragmatic @ncannasse ?

[2019-05-20 16:46] jdonaldson commented on #7772
It's probably a good idea to give every platform their own namespaced metadata variant (e.g. @:lua.expose).  Otherwise the compiler seems to guarantee that the metadata behavior for the targets will always be the same (I don't believe this is a guarantee we want to make).

It would also be nice to easily combine the namespaced metadata variants back into a single ad-hoc metadata if necessary, at l

[2019-05-20 16:48] #8285 closed, assigned to RealyUniqueName

[2019-05-20 16:55] jdonaldson commented on #8068
Just wanted to add that it's difficult to catch the "strings as dynamic/structure types" when strings are passed as function arguments.

[2019-05-20 17:35] jdonaldson commented on #8265
I actually think there's a good pattern that exists for this already, use Compiler.includeFile : https://api.haxe.org/haxe/macro/Compiler.html#includeFile

you can generate a simple patch script like so :

[code]

You can include this script via hxml:

[code]
or via ``__init__``:
[code]

This should insert the script near the top of the generated output, before the global namespace table is refere

[2019-05-20 17:43] jdonaldson commented on #7772
Also wanted to reference methods like Compiler.includeFile : https://api.haxe.org/haxe/macro/Compiler.html#includeFile

It's another shared name/behavior between lua and js.

[2019-05-20 18:07] ncannasse commented on #8243
Uhm that's weird because we don't get the full stack overflow... only the very top level part

[2019-05-20 19:20] ncannasse commented on #8263
It's the design and spirit of Haxe of not trying to "protect developers against themselves", at least when they are explicit about what they want to do. So yes we need a way to set final fields.

We could allow static hxUnserialize _as well_ but that would only solve the very particular case of haxe.Serializer.

[2019-05-20 19:24] ncannasse commented on #8303
Forget what I said in #8313 about keeping the commit : we cannot safely rely on Stack_overflow being throw so we should instead implement our own stack counting and stack overflow exception throwing in eval target instead.

[2019-05-20 19:44] Simn commented on #8303
Are you talking about TCE or what?

I'd not touch this again unless somebody shows me some code which actually causes problems. I don't want to make a change like stack depth tracking at the off-chance that something might cause a problem.

[2019-05-20 21:53] aartzrc opened #8314 "haxe.Serializer and arrays"
I ran into an issue with arrays that appears to be C# only. When using `haxe.Unserializer` the array appears to become read only. Here's an example:

[code]

In interp, js, etc I get what is expected:
[code]
In C# I get the following - notice it doesn't update the value until I have made a copy of the array and re-assigned it:
[code]
No run-time errors, it just ignores the assignment. Haxe RC2, Ne

[2019-05-21 04:26] back2dos commented on #8263
I guess you mean haxe.Unserializer? I have shown above how it would solve the use case in question. OP has agreed that the solution works for him.  You're looking to solve a non-issue via more escape hatches in the type system. Can we please actually be pragmatic and defer such measures until there's at least one person in need for it?

[2019-05-21 07:00] axelhuizinga commented on #8307
yes - deleting the /usr/share/haxe/std before reinstalling solved the issue

[2019-05-21 07:26] #8307 closed, assigned to nobody

[2019-05-21 08:10] #8217 closed, assigned to Simn

[2019-05-21 08:15] Simn commented on #8217
Note that this is a bit weird to parse because of the missing `,` after the `str` field. I opted to not auto-fill this one because I'm worried that could lead to wrong parsing in other cases. As a consequence, the subsequent `z` field is _not_ part of the parsed structure:

[code]

What happens is that after detecting the completion position, the object declaration parsing figures that we're done

[2019-05-21 08:34] RealyUniqueName commented on #8216
Which lua version?
Here is what I get with 5.3 (still should not happen):
[code]

[2019-05-21 08:40] Simn commented on #8194
Has nothing to do with nesting, the problem is this code in matcher.ml:

https://github.com/HaxeFoundation/haxe/blob/1ce52fa9e1218f4de2f0e2da572369c9843906b4/src/typing/matcher.ml#L574-L578

This came from fixing #5656. I cannot reproduce that anymore after removing these lines though, so I guess I'll just optimistically do that.

[2019-05-21 08:40] RealyUniqueName commented on #8314
I think, this is an issue of hxcs, but an issue of C# generator in the compiler. Please, move it to the [Haxe repo](https://github.com/HaxeFoundation/haxe/issues)

[2019-05-21 08:45] Gama11 commented on #8194
Btw, I think we can test this by checking that completion after `:` doesn't return [type hint completion](https://i.imgur.com/YhXOiz2.png), since we cannot test ranges yet. Or maybe that's a separate issue?

[2019-05-21 08:46] Gama11 commented on #8314
@RealyUniqueName GitHub has a new feature to move issues across repos via this button on the right: ![](https://i.imgur.com/CrQKxBC.png)

[2019-05-21 08:46] Simn commented on #8194
Not sure how to test this because it depends on `wasAutoTriggered: true`.

[2019-05-21 08:48] Simn commented on #8194
Simplest test case is this:

[code]

This gave string completion from the `"foo"` before my fix.

[2019-05-21 08:48] RealyUniqueName commented on #8314
Nice. Thanks!

[2019-05-21 08:58] ncannasse commented on #8263
I don't think that fixing issues by changing a language library is the way to do.
If you really insist I can also open a similar issue about hxbit serialization to prove my point.

[2019-05-21 09:00] #8180 closed, assigned to nobody

[2019-05-21 09:07] Simn commented on #8066
The initial example works for me.

The `#if macro` version however does not.

[2019-05-21 09:12] Gama11 commented on #8066
Hm.. did you happen to have "interp" selected? It only seems to work on eval and neko for me... :/

[2019-05-21 09:29] Simn commented on #8061
Fixed, not sure how to test this though.

[2019-05-21 09:33] Simn commented on #8045
This is an instance of #3974.

[2019-05-21 09:33] #8045 closed, assigned to nobody

[2019-05-21 09:36] Gama11 commented on #8045
Oh, really. I thought there should be an assertion failure then.

[2019-05-21 09:38] Simn commented on #8045
#3974 doesn't assertion fail anymore, so the issue title should be updated.

[2019-05-21 09:42] Simn commented on #8038
This is not actually an issue specific to completion. We don't apply top-down inference in these cases because the order is inverse: We type the operands of the array access, then find the appropriate field on the abstract.

We _could_ type the index expression and then filter those array-access-write functions which accept its type as the first argument. This would make something like this work t

[2019-05-21 09:46] RealyUniqueName commented on #8303
I guess Nicolas it talking about OCaml behavior related to Stack_overflow on different OS.
E.g. I get `Stack_overflow` on Linux, but you didn't get it on Windows (as you mentioned in https://github.com/HaxeFoundation/haxe/issues/8303#issuecomment-493862846)
I'll try to implement stack counter for eval.

[2019-05-21 09:46] Simn commented on #8037
This isn't specific to hover.

[2019-05-21 09:48] gene-pavlovsky commented on #7720
By the way it seems to be possible to use EV code signing certificates with CI/CD pipelines with some amount of setup involved: https://stackoverflow.com/questions/17927895/automate-extended-validation-ev-code-signing/47894907#47894907
Many of the answers offered in there sound incredibly insecure, it seems that for the sake of automation people are introducing huge security holes which could lead

[2019-05-21 09:51] Simn commented on #8303
Please benchmark this. We can avoid the write barrier if it's just an integer, but this still means additional bookkeeping and branching on every single call.

[2019-05-21 09:59] lublak opened #8315 "[bug] inline constructor does not work with "no assignment" if a argumend (function) called"
Inline constructors are not inlined if the function only have one expression and if it not assign to any variable and if it calls a function.

[code]

generates:

[code]

very strange:

[code]

generates:

[code]

[2019-05-21 10:01] Simn commented on #8037
This is a larger problem because we lose the `MSet` mode while handling the display. This requires piping the mode through the display functions which means some rework. Pushing to 4.1.

[2019-05-21 10:04] Aurel300 commented on #8216
This was on 5.3.5 for me.

[2019-05-21 12:38] RedHairHead opened #8317 "[bug] Inline with type parameter"
The compiler reports an error when inlining method from a superclass using a type parameter.

Haxe 4.0.0-rc.2

[code]

[2019-05-21 12:44] RealyUniqueName commented on #8317
If `dispatchObject` is declared `inline`, then `dispatchObject(new SomeEvent());` still works.
I guess it's a bug in the new feature of call-site inlining.

[2019-05-21 13:13] RedHairHead commented on #8317
But in this case inline has no effect. At least for js target

[2019-05-21 13:39] RedHairHead commented on #8317
I apologize, my previous message is incorrect (I forgot to delete --no-inline flag). But then it seems strange to me that despite this flag the  call-site inlining is still working.

[2019-05-21 14:03] ckentgeorge commented on #8263
Just to clarify, I am using a cyclic object graph, and I would be greatly benefited by the use of final. If I can use reflection to set final properties reliably cross-target-language, then fine; I don't love it, but it works. If I had a vote, I'd vote in favor of not changing the reflection libraries, as I think that creating empty instances brings value in certain situations, and I think creatin

[2019-05-21 14:23] back2dos commented on #8263
Weren't you proposing to axe `Type.createEmptyInstance()` just a while ago? Can you please show the immutable cyclic object graph though (because that has me quite intrigued)?

What puzzles me about this issue is the insistence on using `final` when at the same time not wanting its semantics, but since Nicolas seems to have his mind made up already, I withdraw. You kids have fun.

[2019-05-21 14:41] ckentgeorge commented on #8263
Hmm. I can see why you thought I was proposing the removal of `Type.createEmptyInstance()`, but that's not quite what I meant. I was trying to point out that if final doesn't work with the deserialization use-case of creating empty instances, then maybe creating empty instances shouldn't exist at all. It's one or the other, but both don't make sense, if we don't support initializing final members

[2019-05-21 15:24] RealyUniqueName commented on #6932
It's not `null_pos` anymore (with latest dev haxe):
[code]
So, I assume this is fixed.

[2019-05-21 15:24] #6932 closed

[2019-05-21 15:41] RealyUniqueName commented on #6942
It's not js-specific issue. Happens for any target.

[2019-05-21 17:58] jdonaldson commented on #8265
I think this is the best way forward for now.  I'll close this out, but feel free to reopen if there's another detail to address.

[2019-05-21 17:58] #8265 closed, assigned to jdonaldson

[2019-05-21 18:34] RealyUniqueName commented on #6918
@ncannasse Do we support IE8? It's not tested in our CI.

[2019-05-21 18:53] #6903 closed

[2019-05-21 20:01] ncannasse commented on #8314
The problem must be that everytime the Array is read as an Array<Int> it's casted from Array<Dynamic> to Array<Int> and this creates a new Array whereas this should only be done once and then should "fix" the Array type.

This should be reproducible by creating a new Array<Dynamic> and put it in a Dynamic variable then assign it to an Array<Int>. I think we need more unit tests to take into accoun

[2019-05-21 20:13] ncannasse commented on #6942
I think we had an optimizer to take care of this. I guess this has been
moved to analyzer, hence the regression.
Anyway, this should maybe be done at sanitize_expr time

On Tue, May 21, 2019 at 5:41 PM Aleksandr Kuzmenko <notifications@github.com>
wrote:

[2019-05-21 20:25] Simn commented on #6942
We cannot rely on the optimizer as long as `--no-opt` exists. So I agree this should be fixed in `sanitize_expr` by changing it to `-(-1)`.

I don't want to make any other change here for the time being.

[2019-05-22 02:57] andyli opened #8319 "Dynamic-typed expression got typed..."
Here is a bug that occurs in Travis CI Xenial environment, but not Trusty/Mac, nor my local Ubuntu Xenial Docker container on Mac. Haxe version is `4.0.0-rc.2+30f0228`. Somehow it didn't occur with Haxe 3.4.7, but I doubt it is a regression.

The [build log](https://travis-ci.org/HaxeFoundation/format/jobs/535588574):
[code]

The [relevant lines of code](https://github.com/HaxeFoundation/format/bl

[2019-05-22 07:22] lublak opened #8320 "[bug] Context.defineType compiler cache: Type is redefined (genericBuild)"
The compiler reset the static variable of my macro. That is fine. But somtimes (not everytime) the Type is cached.

[code]

Sometimes in display somtimes also in the build and somtimes it works.

[2019-05-22 07:23] ncannasse commented on #8243
I have reverted my fix for the Out of memory, because it was causing some issue with C generation : several virtuals with same signature but different id were generated, leading to duplicate declarations.

[2019-05-22 07:30] Simn commented on #8320
Sorry, what?

[2019-05-22 07:40] #8319 closed, assigned to nobody

[2019-05-22 07:42] ncannasse commented on #8320
You need to use `@:persistent static var ...` to have your statics not reset by macro context.

[2019-05-22 07:42] #8320 closed, assigned to nobody

[2019-05-22 07:43] andyli commented on #8319
I know one can workaround it, but I guess the error isn't expected behaviour. Should we reopen?

[2019-05-22 07:45] Simn commented on #8319
We don't propagate `Dynamic` in our type system, so if I understand correctly this behavior is expected.

[2019-05-22 07:52] andyli commented on #8319
But then why the build failure only occurs in Travis's Xenial env but not any other?

[2019-05-22 08:19] lublak commented on #8320
@ncannasse sorry for my issue and thank you :).

[2019-05-22 08:36] RealyUniqueName opened #8321 "Negative enum abstract (Float) values are rejected in `-Value`"
[code]

[2019-05-22 09:05] RealyUniqueName opened #8322 "[java] Null pointer error in `CallStack.exceptionStack()`"
[code]
[code]
Causes OSX CI failures: https://travis-ci.org/HaxeFoundation/haxe/jobs/535178636

[2019-05-22 09:08] #8322 closed, assigned to RealyUniqueName

[2019-05-22 10:33] ncannasse commented on #8319
Might be a question of haxe compiler version. Did we changed the behavior somehow?

[2019-05-22 11:03] lublak commented on #4151
I run also in this issue:

[code]

used the dll: https://github.com/lordmulder/DynamicAudioNormalizer

[2019-05-22 11:09] Simn commented on #8008
I'm closing this because I consider it working as intended. I don't want to hide details here.

[2019-05-22 11:09] #8008 closed, assigned to nobody

[2019-05-22 11:16] Simn commented on #7770
Can we close this?

[2019-05-22 11:25] Simn commented on #8206
I'm closing this because I don't see anything actionable here.

[2019-05-22 11:25] #8206 closed, assigned to nobody

[2019-05-22 11:34] Simn commented on #8128
This is difficult to fix because the `return` is inserted as syntax-level.

[2019-05-22 11:37] Simn commented on #8116
Is there anything left to do here?

[2019-05-22 11:41] Simn commented on #8069
I think there's nothing to actually fix here.

[2019-05-22 11:41] #8069 closed, assigned to nobody

[2019-05-22 11:43] Gama11 commented on #7770
I left it open for the second part:

[2019-05-22 11:44] Gama11 commented on #8116
Yes, making invalid `@:nullSafety` arguments error.

[2019-05-22 11:55] Simn commented on #8021
I didn't really know `--no-traces` was a thing, but reading the documentation this seems to be working as intended.

[2019-05-22 11:55] #8021 closed, assigned to nobody

[2019-05-22 11:57] Simn commented on #8018
This isn't safe to do because of sub-typing.

[2019-05-22 11:57] #8018 closed, assigned to nobody

[2019-05-22 12:01] Simn commented on #7990
There's nothing to fix here for the reasons I already stated.

[2019-05-22 12:01] #7990 closed, assigned to nobody

[2019-05-22 12:09] Simn commented on #7903
Would be good to fix this for 4.0.

[2019-05-22 12:14] Simn commented on #7843
What's the status here?

[2019-05-22 12:22] Simn commented on #7721
I'll close this because it's a flash issue and I'd only care about it if @nadako happens to come across it.

[2019-05-22 12:22] #7721 closed, assigned to nobody

[2019-05-22 12:24] Simn commented on #7710
I don't really know what to do with this because I don't know how to reproduce this.

[2019-05-22 13:04] RealyUniqueName commented on #6908
Fixed with #7425

[2019-05-22 13:04] #6908 closed

[2019-05-22 13:20] #8303 closed, assigned to RealyUniqueName

[2019-05-22 13:22] RealyUniqueName commented on #4151
@lublak please, provide a direct link to dll, so that when we get to solving this issue, we know exact commit in that repo. Otherwise dll might change in future and we won't be able to reproduce.

[2019-05-22 13:27] RealyUniqueName commented on #7903
This is adressed by https://github.com/HaxeFoundation/haxe/pull/8113 and https://github.com/HaxeFoundation/haxe/pull/8316

[2019-05-22 13:38] RedHairHead opened #8323 "Package name "macro" problem"
If one module contains something like this

[code]

compiler will report an` Unexpected .` and it will always indicate the second appearance of the `macro` word in the code

[2019-05-22 13:41] RealyUniqueName commented on #8323
Probably related to #7210

[2019-05-22 13:52] haxiomic opened #8325 "`_obj` appended to extern enums"
For example, I have a native C++ enum

[code]

To access this in haxe I try to use an `extern enum abstract`
[code]

Which very nearly works, but the generated code looks like `rs2_stream_obj::RS2_STREAM_DEPTH`. So `_obj` is being appended preventing the code from compiling. I know this was mentioned a little in https://github.com/HaxeFoundation/hxcpp/issues/769 but I don't fully understand the re

[2019-05-22 14:02] ncannasse commented on #7710
Don't remember how to reproduce either so will close for now.

[2019-05-22 14:02] #7710 closed, assigned to Simn

[2019-05-22 14:03] Gama11 commented on #8325
If this is about code generation, shouldn't this be on the Haxe repo?

(GitHub has that new "move issue" feature, but I don't have permissions for that here)

[2019-05-22 14:49] RealyUniqueName commented on #8325
It's because `@:native` meta is on an abstract and not on an implementation class, which is generated at compile time.
I guess we can copy `@:native` meta to impl class.
Could it opentially break something if auto-generated class name will be changed?
OTOH if someone is using `@:native` on an abstract he probably should not be surprised if implementation class gets renamed.

[2019-05-22 14:52] RealyUniqueName commented on #8325
We have a code, which rely on auto-generated names in compiler.
E.g.:
https://github.com/HaxeFoundation/haxe/blob/8f2538b0a77c1f71c33b205d40aafdac9adc6b75/src/optimization/dce.ml#L459-L468
OTOH if someone is using `@:native` on an abstract he probably should not be surprised if implementation class gets renamed.

[2019-05-22 15:17] haxiomic commented on #8325
That makes sense @RealyUniqueName – I can see why it could cause issues to copy the `@:native` to the implementation class. It seems like adding `@:native` to all fields seems to works so I'll close this in favour of doing that :)
[code]

[2019-05-22 15:17] #8325 closed, assigned to nobody

[2019-05-22 15:29] RealyUniqueName commented on #8243
[code]

[2019-05-22 15:43] RealyUniqueName commented on #8188
The only thing left to decide and implement is `@:using` on typedef.

[2019-05-22 17:03] lublak commented on #4151
@RealyUniqueName okay here We Go: https://github.com/lordmulder/DynamicAudioNormalizer/releases/download/2.10/DynamicAudioNormalizer.2017-04-14.Windows-DLL.zip
I did not think about it. Sry.

[2019-05-22 20:25] back2dos commented on #8188
In any case `@:using` on typedef should either work or produce a warning/error. I would propose doing the latter for 4.0, which still allows supporting this later, if we really think it's worth the trouble.

[2019-05-22 21:44] jdonaldson commented on #8051
hey @nadako can you check out this branch and see if it works for you ? https://github.com/HaxeFoundation/haxe/tree/unhardcode_lua_init

[2019-05-22 22:10] jdonaldson commented on #7589
json should support vanilla now in the development branch.

[2019-05-22 22:10] #7589 closed, assigned to jdonaldson

[2019-05-22 22:12] Gama11 commented on #7589
I thought nadako kept this open to remember adding a test?

[2019-05-22 22:38] jdonaldson commented on #7903
I looked at it and came up with the same fix as @RealyUniqueName.  Any reason not to push that one Alex?

[2019-05-22 22:46] RealyUniqueName commented on #7903
It's already in #8113. Just waiting other targets to be fixed.

[2019-05-22 23:15] jdonaldson commented on #7903
Great, I'll close this one then.

[2019-05-22 23:15] #7903 closed, assigned to jdonaldson

[2019-05-22 23:46] fullofcaffeine opened #8326 "Strange Haxe type inference completion behavior"
From what I've researched so far, this seems to be a Haxe/completion server issue. Please correct me if I'm wrong.

It all started when I converted an Express app from TS to Haxe. I noticed that for the I was not getting the proper type info when I hovered or called `$type()` for the middleware `use` function callbacks params.

I then started a somewhat long discussion that was summarized [here](h

[2019-05-22 23:53] jdonaldson commented on #7589
Oh, didn't realize that.  @nadako feel free to reopen this if it's helpful.

[2019-05-23 06:34] Simn commented on #7903
Oh sorry, #8113 didn't mention lua.

[2019-05-23 06:42] Simn commented on #8326
This is probably a fanfiction-variant of #7753.

[2019-05-23 07:29] #8317 closed, assigned to RealyUniqueName

[2019-05-23 07:45] RedHairHead opened #8327 "ClassType.constructor.expr() breaks completion"
For a long time I could not understand why my macro breaks the completion of code in the class. There were no errors and messages from the compiler. As a result, I learned that everything happens because of a single line. Here is a minimal example:

[code]

[code]

[code]

Haxe 4.0.0-rc.2+77068e10c
VS Code 1.34.0
vshaxe 2.11.0

[2019-05-23 07:47] Simn commented on #7905
That's not really how this works though because we set `ctx.pass` and define a new type. I wonder if we should do something here:

[code]

Specifially, how about after setting `ctx.pass <- oldp` we flush whatever pass `oldp - 1` represents? In fact, shouldn't we always do that when setting `ctx.pass`?

[2019-05-23 07:50] Simn commented on #7905
Never mind, that doesn't actually fix the issue...

[2019-05-23 08:18] ncannasse commented on #7905
I think new types have their separate ctx anyway

[2019-05-23 08:25] Simn commented on #7905
My original analysis was correct: While it's true that we trigger all this in `PTypeField` (on the `Huh.new`), we're entering `PBuildModule`/`PBuildClass` via `load_instance` and then nobody ends up flushing this. So ultimately it's the same old problem we've always had where we don't flush `PBuildClass` before accessing the type's structure.

And I'm still not quite sure how to address this prope

[2019-05-23 08:26] ncannasse commented on #7905
That's why I'm saying : when we call defineType, before we return, let's just flush according to our current context pass.

[2019-05-23 08:30] Simn commented on #7905
Yes but our current context pass is `PBuildClass` because that's where we entered the macro. We can of course always flush that, but I'm not sure if that's correct.

[2019-05-23 08:40] Ilir-Liburn commented on #7990
That's bad. Fortunately, there is a workaround for this as I stated, but I would prefer to see such things fixed

[2019-05-23 12:03] #8035 closed, assigned to Aurel300

[2019-05-23 14:16] remiX- opened #8328 "Using static functions on strings points to Iterable version resulting in Compiler failing"
Hey guys, seems like String being an iterable now is causing compiler to look at class for extending a class with a generic for iterable usage... ?

Have no idea how to explain this but is this issue known? Seems to be occurring on latest dev build. Example is buddy @ https://github.com/ciscoheat/buddy/blob/master/src/buddy/Should.hx#L310 ... doing "my string".should.contain(x); breaks compiler sa

[2019-05-23 14:54] RealyUniqueName commented on #8328
Minimal sample:
[code]
There is nothing wrong here, because in Haxe 4 `String` is actually `Iterable<Int>` - an iterable over char codes.
To workaround your issue, you can move `StringBanana` declaration below `IterableBanana` to make It picked first on resolving `"".banana()` field access.

[2019-05-23 14:54] #8328 closed, assigned to nobody

[2019-05-23 17:17] kevinresol commented on #8128
Perhaps `EFunction( name : Null<String>, f : Function, arrow : Bool )`?
A breaking change for macros but better break at 4.0

[2019-05-23 18:47] nadako commented on #8128
_If_ we are to break this, we should do it properly, like:

[code]

[2019-05-24 06:12] back2dos commented on #8128
I don't see that we have to break anything. Just add an optional `arrow` flag to `Function`, no?

[2019-05-24 09:25] #8007 closed, assigned to Simn

[2019-05-24 09:45] back2dos opened #8329 "Make String non-Iterable again!"
From slack:

Alex likes it:

And Simn didn't hesitate to express his unrestrained love for this proposal:

So, how about it?

[2019-05-24 09:49] RealyUniqueName commented on #8329
Thought, it's probably a too big change for 4.0 at this point.

[2019-05-24 09:51] Simn commented on #8329
If we change it we have to change it now.

[2019-05-24 09:54] Gama11 commented on #8329
@RealyUniqueName might mean the "String should be abstract" change? It seems only the "make string not iterable" part should / could happen now.

[2019-05-24 09:59] Gama11 commented on #8007
Feels much nicer now. :)

![](https://i.imgur.com/PuW9ago.gif)

[2019-05-24 10:00] back2dos commented on #8329
Yeah, I'm not proposing to make `String` an abstract now. Simn said the timing is bad for that, so I guess that's what it is. I would however prefer to keep the barrier for such a change low.

[2019-05-24 10:02] RealyUniqueName commented on #8329
Oh, right. Then it should be ok for now.

[2019-05-24 10:40] longde123 opened #8330 "ES6 class generation any planned key get set generation?"
no

[code]

like

[code]

get_prop() {
return 'getter';
}
set_prop(value) {
console.log('setter: ' + value);
}

to generation:

[code]

[2019-05-24 10:52] longde123 commented on #8330
get_prop() {
return 'getter';
}
set_prop(value) {
console.log('setter: ' + value);
}

to generation
get_prop() {
return 'getter';
}
set_prop(value) {
console.log('setter: ' + value);
}
get prop() {
return get_prop() ;
}
set prop(value) {
    return set_prop(value)
}

[2019-05-24 10:54] Aurel300 commented on #8330
Please make sure to describe problems properly, use formatting, etc …

In short, you are suggesting that property getters and setters are generated into ES6 code as actual getters rather than (or in addition to?) regular functions with `get_` and `set_` prefixes.

Also, please don't open other issues – what you are asking for is completely unrelated to nadako's coroutines repository.

[2019-05-24 10:57] Gama11 commented on #8330
Duplicate of https://github.com/HaxeFoundation/haxe/issues/5104?

[2019-05-24 11:06] RealyUniqueName commented on #8330
I'm not sure what exactly is proposed, so let it be a duplicate of #5104
Feel free to reopen after clarification.

[2019-05-24 11:06] #8330 closed, assigned to nobody

[2019-05-24 17:05] #8302 closed, assigned to RealyUniqueName

[2019-05-24 18:02] RealyUniqueName opened #8332 "Test string comparison"
Following bugs discovered in #8298
We had issues with strings comparison if strings contain multibyte characters:
https://github.com/HaxeFoundation/hashlink/issues/250
https://github.com/HaxeFoundation/hxcpp/issues/797

Also: https://github.com/HaxeFoundation/hashlink/issues/250#issuecomment-493743604

We need to test string comparison to be sure all of our targets do it correctly.

[2019-05-24 18:55] fullofcaffeine commented on #8329
So, if I understood it right, to make `String` iterable on `nightly`, I need to do add a `using StringTools.StringIteration` at source file or `import.hx` level?

[2019-05-24 19:04] Aurel300 commented on #8329
@fullofcaffeine No, with #8331 `@:using` is added onto `String`, so all `StringTools` methods are available on `String` by default. `StringTools` will also have `iterator`, making `String` iterable.

[2019-05-24 19:05] fullofcaffeine commented on #8329
@Aurel300 Got it, thanks 👍

[2019-05-24 19:19] Aurel300 commented on #8323
https://github.com/HaxeFoundation/HaxeManual/issues/319

Is the goal to eventually make all of these package names work?

[2019-05-24 19:59] Gama11 commented on #8297
I think there's still an open question here that there wasn't a final answer for:

 ### Should we really support "short semvers" (which violate the spec)?

Versions such as `version("4")`, `version("4.0")` or `version("4-rc.2")` are not valid according to SemVer, but currently are valid on the dev branch.

#

So far, it seems that both @ncannasse and @RealyUniqueName are in favor of this. However,

[2019-05-24 20:43] RealyUniqueName commented on #8297
I don't have strong opinion on that. Count me as abstained from voting.

[2019-05-24 20:53] RealyUniqueName commented on #8297
OTOH specs are invented for a reason :)
I vote against short versions, after all.

[2019-05-24 23:51] fullofcaffeine opened #8333 "Completion issue with tink_web's Remote"
I'm not getting any completion for the `tink_web` `Remote` proxy object:

[code]

Full sample project here: https://github.com/fullofcaffeine/tink-web-proxy-sample/tree/completion-issue. Just open it in vshaxe and try getting intellisense completion for the `remote` instance here: https://github.com/fullofcaffeine/tink-web-proxy-sample/blob/completion-issue/Client.hx#L26. Also, type inference/comp

[2019-05-25 07:42] ncannasse commented on #7905
I meant, when we call the genericBuild macro, we are in PTypeField, so we should flush the previous pass (in order of priority) which I think is PBuildClass after returning from the macro and before getting back at typing.

[2019-05-25 08:00] ncannasse commented on #8329
I've commented on #8331. For a similar reason, I'm not in favor of String being an abstract. Yes I understand it requires some extra platform support but that's as much the haxe developer doesn't have to deal with on a daily basis.

[2019-05-25 08:06] ncannasse commented on #8297
We should support full semver syntax and comparison, which includes the -alpha etc.

But I think we should allow as well "short ver" where 4 stands for "4.0.0" and 4.1 stands for "4.1.0". Only these two cases, and nothing more. That does not break anything, and allows to actually use  version(4.1) without the quotes which I find more neat than version("4.1.0"). We could restrict that to Int/Float

[2019-05-25 08:32] Simn commented on #7905
I know what you mean, what I don't know is where to actually do this. The typing order isn't clear to me because the typedef delays evaluation of its rhs because of the `@:eager` change. However, the `GenericBuild<Int>` is still executed before we type the expression. It's just that after defining a new type we never flush the structure building pass.

[2019-05-25 09:07] Simn commented on #7905
I have a question about the compiler pass design: If we're currently running task F1 of pass P1 and we call `delay` for task F2 of pass P0 (higher priority), should we really finish F1 first or should we execute F2 immediately?

[2019-05-25 09:21] Gama11 commented on #8297
There could also be SemVer literals in `#if` if this is only about saving characters / avoiding quotes. Then you technically wouldn't even need `version()`, though that would feel a lot less explicit.

Allowing floats in `version()` sounds messy to me...

[2019-05-25 09:26] Simn commented on #8297
Let's please go for clarity over saved keystrokes here. This isn't even something that is frequently used, so sticking to the established standard without trying to have clever exceptions is better.

[2019-05-26 11:02] #8041 closed, assigned to RealyUniqueName

[2019-05-26 11:21] RealyUniqueName commented on #8040
Current implementation of `haxe.ds.Vector` on js is not efficient for `Int` items, because it creates native array like this: `new Array(length)` and JS VM doesn't know items type and creates unoptimized array.
Here is a simple test to illustrate:
[code]
With array created via `new Vector(length)`:
[code]
With array explicitly populated with integers:
[code]
10x speedup on array access for identic

[2019-05-26 11:35] RealyUniqueName commented on #8040
Changing vector constructor to `this = [for(_ in 0...length) null]` improves it, but still ~1,5 times slower, than with integers:
[code]

[2019-05-26 13:35] #7883 closed, assigned to RealyUniqueName

[2019-05-26 16:10] #7761 closed, assigned to RealyUniqueName

[2019-05-26 16:34] #7920 closed, assigned to Simn

[2019-05-26 17:41] Aurel300 commented on #7920
Shouldn't this only error if the function is declared with `final`? ^^

[2019-05-26 17:55] Gama11 commented on #7920
Why? It's not like you can do that at field level.

If anything, it should only not error if declared as `dynamic`. ;)

[2019-05-26 18:55] ncannasse opened #8336 "[eval] Macro connect raise native error"
[code]

This raises an Unix_error

[2019-05-26 19:26] RedHairHead commented on #8327
I played a little with this bug and found some strange behavior.
Firstly, if you create a project with an example that I cited above, then the bug may not appear immediately. If you have a `BuildMe.hx` tab open and you exec `'Run Buld Task'`, then the completion of the code will work after that. But it is worth going to the `Foo.hx` tab and the completion will break again, until you exec `'Run Bul

[2019-05-26 19:29] RealyUniqueName commented on #7920
If you want to alter local function declare it like `var local = function() ...`

[2019-05-26 20:08] #8336 closed, assigned to RealyUniqueName

[2019-05-26 20:22] Aurel300 commented on #7920
I suppose I was thinking of a local `function` declaration as being equivalent to `var (name) = function ...`, then `final` would make it a `final (name) = function ...`. But I can see how it's maybe more useful to think of it similarly to field-level functions.

[2019-05-27 05:55] #8173 closed, assigned to RealyUniqueName

[2019-05-27 06:52] #8279 closed, assigned to Simn

[2019-05-27 07:24] Gama11 opened #8337 "Nullable abstract properties are no longer nullable on static targets"
The following no longer compiles on static targets. Presumably caused by the fix for #7883.

[code]

[code]

Found via Flixel's CI since this breaks OpenFL.

[2019-05-27 07:56] #7751 closed, assigned to Simn

[2019-05-27 08:17] #8337 closed, assigned to RealyUniqueName

[2019-05-27 12:10] #8226 closed, assigned to RealyUniqueName

[2019-05-27 15:17] RealyUniqueName commented on #8295
Since a warning has been added maybe move this issue to 4.1 milestone?

[2019-05-27 15:45] Aurel300 commented on #8282
This was fixed with c694332

[2019-05-27 15:47] Gama11 commented on #8282
I don't think so, I think that was a direct modification of the generated externs as a temporary workaround? The extern generator would still need to be updated.

[2019-05-27 17:35] Aurel300 commented on #8090
I can't reproduce this anymore. I think the failures in the issue were due to missing UTF-16 -> UTF-8 conversion as well as some faulty Unicode conversions (the off-by-one errors).

[2019-05-27 18:12] RealyUniqueName commented on #8282
Yes. I fixed directly to get rid of warnings and left this issue open because of extern generator is not updated.

[2019-05-27 18:39] RealyUniqueName commented on #8090
Me too.

[2019-05-27 18:39] #8090 closed, assigned to hughsando

[2019-05-27 20:20] RealyUniqueName commented on #7740
Fixed in 45d296a30744a99d7d12f1d5254af001f824d876

[2019-05-27 20:20] #7740 closed, assigned to RealyUniqueName

[2019-05-28 06:01] Simn commented on #8040
Moved this to 4.1 as it doesn't seem urgent.

[2019-05-28 06:25] Simn commented on #8032
Related problem:

[code]

Haxe implements the optional `;` after `}` by checking the last token. If we merged the streams, the last parsed token here would be the `true` from the conditional, not the `}`. This would mean that we need a different approach to the `last_token` implementation.

[2019-05-28 08:18] Simn commented on #8032
I managed to merge the streams, but the `Stream.peek` side-effect issue remains. The general problem here is that our stream is implemented using `Lexer.token code`, which means that any peeking may advance the lexer position. This is fine as long as only the `Stream` API is used because it handles everything internally, but any manual usage of `Lexer.token` breaks in the process.

[2019-05-28 09:45] RealyUniqueName opened #8341 "Property is checked for being writable without checking available `+=` overloads."
[code]

[2019-05-28 12:04] RedHairHead opened #8342 "MacroStringTools.toComplex confuse"
How about changing the implementation of the `haxe.macro.MacroStringTools.toComplex` method? It cannot return the correct path for subclasses in modules, but this does not seem to be normal behavior. In addition, the method has no documentation, so you must read its code to understand that it will never return the correct path for the subclass. And, perhaps, it would be worth changing the method n

[2019-05-28 12:15] RealyUniqueName opened #8343 "Unable to implement iterator via `using` for types with array access"
There is an issue with C# target: `class String implements ArrayAccess<cs.Char16> {` so the compiler picks length + ArrayAccess first, which makes `iterator` via using impossible for `String`.

_Originally posted by @RealyUniqueName in https://github.com/HaxeFoundation/haxe/pull/8331#issuecomment-496244211_ (also see replies)

[2019-05-28 12:40] MatthijsKamstra commented on #7543
and perhaps change the error message into something like "https is not implemented for this target"

https://github.com/HaxeFoundation/haxe/blob/945461390b774b761f57777365b1e0cbb3ac26be/std/sys/Http.hx#L98

[code]

[2019-05-28 14:16] #8197 closed, assigned to Aurel300

[2019-05-28 14:19] Simn commented on #7864
Moved to 4.1 because it's not a regression and a bit messy to figure out.

[2019-05-28 19:01] fullofcaffeine commented on #8333
Ping... does anyone know if this is a Haxe issue or if I should close this and create an issue @ the tink_web repo instead? Thanks!

[2019-05-28 19:02] RealyUniqueName commented on #8333
Sorry, I tried to assemble your sample, but failed. Then got distracted and forgot about it. I'll try again tomorrow.

[2019-05-28 19:10] fullofcaffeine commented on #8333
@RealyUniqueName Oh, no worries, thanks for looking into it! What issues did you have while trying to set it up? If you need help setting the sample up, let me know. Thanks!

[2019-05-28 19:18] RealyUniqueName commented on #8333
I had some troubles with lix and my custom Haxe setup

[2019-05-28 19:33] fullofcaffeine commented on #8333
@RealyUniqueName Created a branch that uses local haxelibs here: https://github.com/fullofcaffeine/tink-web-proxy-sample/tree/without-lix.

As a side note, compiling this project takes almost 3 seconds. For such a small sample project, this is way too much time, no?

[code]

Should I create an issue for that as well?

[2019-05-28 19:35] RealyUniqueName commented on #8333
Yes, please

[2019-05-29 00:00] RedHairHead opened #8345 "Code completion for extended interfaces does not work"
Starting from version 4.0.0-preview.4, code completion for extended interfaces does not work. It shows only those fields that were declared in the interface itself, but not those that were extended.

[2019-05-29 01:00] fullofcaffeine opened #8346 "Simple sample project using tink_web takes almost 3s to compile with Haxe 4RC2"
This sample project: https://github.com/fullofcaffeine/tink-web-proxy-sample/tree/without-lix takes almost 3 seconds. For such a small sample project, this is way too much time, no?

[code]

I'm not sure if that's a Haxe or tink_web issue, though. I'll gladly close this issue and re-report @ the tink_web repo if it's not related to Haxe 4, just let me know.

### Env
* OS: Linux Mint
* Haxe `4.0.0-

[2019-05-29 01:05] jdonaldson commented on #8051
I checked in the relevant change here : https://github.com/HaxeFoundation/haxe/commit/561e73ed9bdfcd80c55e119058874717a848ff1d

The lua helper scripts are more stable now, and I don't need to tweak them along with the generator any more.  It makes sense to factor them out.  I believe this solves the issue here as well, so I'll close this.  Feel free to re-open if there's another detail to address.

[2019-05-29 01:05] #8051 closed, assigned to jdonaldson

[2019-05-29 04:55] back2dos commented on #8346
It's best to compile with `--times -D macro-times` than just to report the total time ;)

[2019-05-29 05:53] fullofcaffeine commented on #8346
@back2dos Oh right, I totally forgot about those compiler flags. Here you go:

[code]

[2019-05-29 08:13] lublak opened #8347 "[cs] assembly strict/meta support"
Haxe supports: `@:strict` and `@:meta`

Is there any support for `@:assemblyStrict` and `@:assemblyMeta`?

"assembly annotations" needs to be over the namespace.

[code]

`...` = the same content as @:strict and @:meta

[2019-05-29 09:16] RealyUniqueName opened #8348 "The type of inline getter is inferred by the usage place instead of a property type"
[code]
[code]
It's a (kind of) regression after 2005e6fc7eeed6c618723d1cf1c9c3255da51b9b
Prior to that commit getter usage was typed as monomorph, so the getter itself was infered as monomorph too. And that worked because monomorph unifies with `ByteAccess.T`.
After that commit getter usage is typed as `ArrayBytes.T`, which somehow leads the getter to be typed as `ArrayBytes.T` too. Hence the erro

[2019-05-29 09:27] Gama11 commented on #8345
Sample code:

[code]

[2019-05-29 09:48] back2dos commented on #8346
So, well, looks like the bulk of it all is parsing and macros. Something is definitely off with the parsing, but I have no idea how to even investigate that. But the time you're getting is just not normal.

As for macros, their actual execution is 27msecs, which is not ideal, but at least in a reasonable proportion with the project size. The rest is simply the time needed to init all that stuff. W

[2019-05-29 11:41] RealyUniqueName commented on #8348
Simn:

[2019-05-29 11:44] #8348 closed, assigned to RealyUniqueName

[2019-05-29 11:48] #7661 closed, assigned to ncannasse

[2019-05-29 11:48] #8343 closed, assigned to RealyUniqueName

[2019-05-29 11:48] #8072 closed, assigned to nobody

[2019-05-29 11:54] #5946 closed

[2019-05-29 12:05] #6942 closed

[2019-05-29 12:44] RealyUniqueName commented on #8333
Here is the response from completion server:
[code]

[2019-05-29 12:57] RealyUniqueName commented on #8347
Doesn't `@:meta("assembly: ...")` already work?

[2019-05-29 13:05] lublak commented on #8347
@RealyUniqueName no because @:meta build it into the namespace:
Also strict is impossible

[code]

"assembly annotations" needs to be over the namespace.

[code]

a hacky solution

create a file without package and add keep (it's create a extra c# class, so its very ugly)

[code]

[2019-05-29 13:14] RealyUniqueName commented on #8347
Lookuing at C# generator I cannot find anything related. Most likely it's a new feature to implment.

[2019-05-29 15:50] RealyUniqueName commented on #8333
The second error comes from `tink_json`: https://github.com/fullofcaffeine/tink-web-proxy-sample/blob/a872f3b/.haxelib/tink_json/0,9,0/src/tink/json/macros/Macro.hx#L142

[2019-05-29 16:39] #8333 closed, assigned to RealyUniqueName

[2019-05-30 00:20] Jarrio commented on #7279
I'm not sure if this helps or not but it seems like reverting to P5 seems to fix this issue. I haven't spent a long time testing P5 with this particular error as it's quite sporadic but switching between P5 and *anything* after RC1-RC2 latest shows this error message.

![gif](https://user-images.githubusercontent.com/748557/58599571-c4be4100-8278-11e9-9331-2972bcb92071.gif)
The code in the project

[2019-05-30 10:26] romamik opened #8354 "type parameters not checked in abstract `to` declaration"
Compiler allows declaring `to` with wrong type parameter.
[code]

[2019-05-30 12:22] #8032 closed, assigned to Simn

[2019-05-30 12:50] RealyUniqueName opened #8355 "Test suite for new display protocol"

[2019-05-30 12:54] #8345 closed, assigned to RealyUniqueName

[2019-05-30 12:57] #8175 closed, assigned to RealyUniqueName

[2019-05-30 12:58] #8332 closed, assigned to Aurel300

[2019-05-30 13:53] RealyUniqueName commented on #8088
Does it even make sense to have a constraint like that? The only type you will be able to pass there is `String`.

[2019-05-30 14:31] #8341 closed, assigned to RealyUniqueName

[2019-05-30 15:01] kevinresol commented on #8201
So, assume this is fixed, then what is the correct way to extract a null-terminated string from a `Bytes` object?

[2019-05-30 16:36] Aurel300 commented on #8201
@kevinresol `(new haxe.io.BytesInput(bytes, position)).readUntil(0)`

[2019-05-30 21:32] RedHairHead opened #8356 "[Macro] Get Type from the string like 'haxe.ds.StringMap<Int>'"
The parser is able to process a string of the form `'haxe.ds.StringMap<Int>'` and get a path with type parameters, but the user does not have this option.
Tools such as `Context.getType()`, `Context.parse()`, `MacroStringTools.toComplex()` do not work.
But you can use a simple trick:

[code]

Why not get the existing functionality and not give it to the programmer? This would be very useful, espec

[2019-05-30 21:36] nadako commented on #8356
Why are you trying to go the long/heavy way of string parsing here, instead of just constructing the `ComplexType` yourself, by either using one of its [constructors](https://api.haxe.org/haxe/macro/ComplexType.html) or by [reification](https://haxe.org/manual/macro-reification-type.html)

[2019-05-30 21:53] RedHairHead commented on #8356
In my situation, I need to pass the full type for the macro through the metadata, but I can't just specify it, because `<>` characters are defined as operators.

I considered different options, but passing a string value was the easiest solution. Then I saw that the parser was able to process this value and decided that it would be useful to publish this function, since it is already ready.

[2019-05-31 08:19] #7688 closed, assigned to Simn

[2019-05-31 12:38] mockey commented on #8088
Yes, that doesn't make sense. I was only playing around with that constraint, because `<T>` didn't compile when `T` was a `String`. It seems that the compiler only allows `Int` or `Float` to be compared with `<`/ `>`. `Reflect.compare` seems to bypass that somehow, though, it compiles with `<T>`.

The original idea was to have a function that can sort arrays of `String` or `Int` (because for other

[2019-05-31 13:03] back2dos commented on #8088
Hmm, the easiest way is to use static extensions:

[code]

And then `using ArrayTools;` you can just do `someArray.sorted()` if it's `Int`/`Float`/`String`.

Alternatively, [there's a way to abuse the type system](http://try-haxe.mrcdk.com/#cfa1B) so that it accepts this:

[code]

As a side note: the code doesn't compile without explicitly typing the arguments as `Sortable`. Perhaps it should?

[2019-05-31 18:24] RedHairHead commented on #8356
If you need a more specific example, then I can describe it, but sorry for my english.

I use an event model and the events in the classes are set as follows:
[code]
The macro creates the `dispatchValue` method, which has the same signature as that of the event constructor and generates the dispatching process itself, based on the specific `EventDispatcherImpl` class.

Next, I want to send a desce

[2019-05-31 18:51] Gama11 commented on #8356
Possibly related to https://github.com/HaxeFoundation/haxe-evolution/pull/44 and https://github.com/HaxeFoundation/haxe/issues/7763?

[2019-06-01 02:37] singpolyma commented on #4864
Most HaXe targets seem to generate the native `ToString` or `__toString` or whichever to call `toString` but the Python target does not generate `__str__` in this manner, which may be causing this behaviour.

[2019-06-01 10:33] kLabz commented on #8347
Working on this! (still need to find more information about `@:strict` and `@:assemblyStrict`)

[2019-06-01 11:04] Gama11 opened #8359 "[display] "code has no effect" false positive for named local function"
Original issue reported at https://github.com/vshaxe/vshaxe/issues/331 by @Ghouly-The-Ghost:
____

My (tested) working code is being grayed out and labeled as "code has no effect.

**Preview:**
![image](https://user-images.githubusercontent.com/29788070/54745262-537e5580-4b86-11e9-9415-e76a9825661d.png)

**Snippet**:
[code]

*Note*: This snippet is very dirty and is a result of quickly prototyping

[2019-06-01 15:39] kLabz commented on #8354
It's even worse than that: type parameters aren't checked at all (you can use `to Iterable<Bool>` or even `to Iterable<haxe.ds.GenericStack<Bool>>` or some other nonsense and it will do the same.

[2019-06-02 10:39] lublak commented on #8347
@kLabz nice 👍 what information do you need about @:strict?
In https://github.com/HaxeFoundation/haxe/pull/3954 it was added to haxe.

[2019-06-02 20:35] sebthom opened #8361 "[cs] Native compilation failed - 'ClassC<T>' does not implement interface member"
The following code does not compile with Haxe 4rc2 on C#, but works fine for all other platforms:

[code]

The result is:
[code]

I reported a similar error before https://github.com/HaxeFoundation/haxe/issues/6533

[2019-06-03 02:37] sgalland opened #8362 "error: ‘class String’ has no member named ‘utf8_str’; did you mean ‘c_str’?"
Hello,

I am getting this error when compiling C++ targets on Linux and I am not sure what projects purview this problem falls under(whether its Haxe, HXCPP or even OpenFL's) but I am thinking its a transpiler issue.

My build environment:
OpenFL: 8.9.1
HXCPP: 4.0.8
Haxe: 4.0.0-rc.2

Actual error message:
[code]

Replication steps:
run "openfl create project <name of project>"
run "cd <name of pro

[2019-06-03 11:46] RealyUniqueName commented on #8362
I can reproduce with hxcpp 4.0.8, but it's not reproducible with the latest git hxcpp.
Seems fixed.

[2019-06-03 11:46] #8362 closed, assigned to nobody

[2019-06-03 12:20] back2dos opened #8363 "Allow else-less if in array literals."
Say we have this code:

[code]

I would much prefer to write this:

[code]

It's not a biggie, but the second version does have a lot less noise, and this would be kinda aligned with how if statements without else work in array comprehensions.

[2019-06-03 12:46] markknol commented on #7404
Side note: I think haxe sources should use an empty hxformat.json, because that should be the "standard".

[2019-06-03 13:15] Gama11 opened #8364 "Uppercased namespaced conditionals don't work"
[code]

With this in the hxml, both traces should print "yes", but only the second one does.

[code]

[2019-06-03 14:08] RealyUniqueName opened #8365 "Test `String.indexOf(s, startIndex)` for negative `startIndex`"
Currently we don't have tests for negative `startIndex` of `String.indexOf` and `String.lastIndexOf()`.

[2019-06-03 14:22] Simn commented on #8365
I think we do, but I forget where. Maybe some issue test.

[2019-06-03 14:32] #8364 closed, assigned to Gama11

[2019-06-03 17:58] Klug76 opened #8366 "[C#] cs.Lib.unsafe & cs.Lib.fixed are broken"
When compiling an example
[code]
got an error:
[code]
[code]
(tested on haxe 3.4.7 & 4 rc2)

[2019-06-04 09:17] RealyUniqueName opened #8367 "[hl] Comparing `null` to `0`"
[code]

[2019-06-04 09:19] Antriel opened #8368 "[server] Type name X redefined from module X"
There's been a lot of talk about this type of error. I'm not sure if it's one issue or multiple, but I managed to make a minimal example for my current one. Interestingly it's very similar to https://github.com/HaxeFoundation/haxe/issues/8043#issuecomment-491915152 from my previous issue.
hxml
[code]
Main.hx
[code]
MyMacro.hx
[code]
Compiling this normally works. First compile via `haxe --connect

[2019-06-04 09:33] kLabz commented on #8368
You can replace it with `--macro define('nodejs')`

[2019-06-04 09:35] Antriel commented on #8368
Indeed that works (i.e. causes the issue) too.

[2019-06-04 09:55] ncannasse commented on #8367
Uhm. Seems like there is a  null-to-int cast being done here.

[2019-06-04 10:00] kLabz commented on #8368
A variant of the exact same issue:

build.hxml
[code]

Main.hx
[code]

MyMacro.hx
[code]

Type1.hx
[code]

Type2.hx
[code]

[2019-06-04 10:05] Ilir-Liburn opened #8369 "Generic and call-site inlining"
[code]
.Generic.hx:12: characters 47-58 : Generic.T has no field something

Haxe expects a type parameter constraint:

[code]

however, this causes t.something(v) to not be inline (cpp code)

[code]

versus explicit cast

[code]
[code]

Why Generic.T doesn't resolve to Some type when it's clear that it is of a Some type in Generic_Some.cpp? Because Generic.T is a TLazy?

[2019-06-04 10:52] RealyUniqueName commented on #8365
Negative `startIndex` is not even mentioned in the doc of `String.lastIndexOf()`

[2019-06-04 10:56] kLabz commented on #8368
I have a fix.. now to see if it doesn't break everything else :D

[2019-06-04 15:53] RealyUniqueName opened #8372 "Failing to parse `function () {} >> 1`"
[code]
http://try-haxe.mrcdk.com/#b391c
With 4.0-preview.1:
[code]
With the latest dev:
[code]
This breaks macros.
E.g. ufront (used in haxelib server): https://travis-ci.org/HaxeFoundation/haxelib/jobs/541299298#L661

[2019-06-04 15:55] Simn commented on #8372
IIRC that was a parser bugfix and this isn't supposed to parse.

[2019-06-04 15:58] RealyUniqueName commented on #8372
Both left and right expressions of a binop are valid. Why isn't it supposed to parse?

[2019-06-04 16:01] Simn commented on #8372
I think the problem was that this would be parsed as a call otherwise:

[code]

[2019-06-04 16:09] Simn commented on #8372
Hang on, I'm going off my memory here so we should at least verify and document it. Preferably here: https://github.com/HaxeFoundation/haxe/wiki/Breaking-changes-in-Haxe-4.0.0

[2019-06-04 16:14] nadako commented on #8372
The ufront usage looks kinda legit though:

https://github.com/ufront/ufront-mvc/blob/65c61d79cebe72ce38f5d60b956980c96aded806/src/ufront/app/HttpApplication.hx#L470-L478

[2019-06-04 16:17] Simn commented on #8372
Uh, isn't most of that parsed as `function() (expr >> function() { })`?

[2019-06-04 16:17] RealyUniqueName commented on #8372
That's a completely different case.
Now it's not possible to even overload operators on abstracts. And something like this is not possible anymore:
[code]
http://try-haxe.mrcdk.com/#Afe4e

[2019-06-04 16:21] Simn commented on #8372
To the parser it's the exact same case.

I don't understand the problem here, just add `( )` around your `function` and you're good. This addresses the inherent syntactic ambiguity of this as well.

[2019-06-04 16:37] nadako commented on #8372
Doesn't look so :)

[2019-06-04 17:51] Aurel300 opened #8373 "[python] Sys.stdin().readLine() fails on Unicode input"
[code]

[code]

[2019-06-04 18:04] Aurel300 commented on #8373
https://github.com/HaxeFoundation/haxe/blob/e99098cdc07d29b7945949bcf759e7d60480ab06/std/python/io/NativeTextInput.hx#L44-L48

[2019-06-04 21:38] nadako commented on #6040
Alright, the discussion diverged here, so I'm going to close this:
 * ES6 class output is now implemented
 * Modular JS output is discussed #5831
 * I started the [d.ts](https://github.com/nadako/hxtsdgen) generator and I think it should stay in a library. I don't have resources to work on this at the moment, but it looks like @elsassph is interested in developing it further \o/

[2019-06-04 21:38] #6040 closed

[2019-06-05 01:51] ncannasse opened #8375 "[RFC] cast/downcast"
In Haxe 4.0 we have deprecated Std.instance and renamed it to Std.downcast. A few comments on this:

**Deprecation Warnings**

First, I think we need some kind of special treatment wrt deprecation for this particular function. The reason is that unlike other renames (like haxe.xml.Access instead of Fast) it can apply to many different files of the code, making it hard to transition.

For instance

[2019-06-05 02:28] ncannasse commented on #7905
@Simn this should not really happen.

The fact that we delay a task of pass P0 means that we are actually already in "P0 mode", so our current context should have been cloned and set to P0.

Here's what should happen:

running F1 (context A in P1) --> loading type --> create context B in P0 --> load other types --> delay P0 tasks --> done all P0 delays --> return to loading type --> flush all P0 t

[2019-06-05 06:32] Antriel commented on #8368
https://github.com/HaxeFoundation/haxe/pull/8371 seems to have fixed this issue in my project.

[2019-06-05 06:58] #8373 closed, assigned to Aurel300

[2019-06-05 07:06] RealyUniqueName commented on #8375
I think it's fine to have it as a method of `Std`. It's not so frequently used as `cast`. E.g. it's just about 500 usages in the code hosted on Github: https://github.com/search?l=&p=1&q=%22Std.instance%22+language%3AHaxe&type=Code
No need to introduce another keyword. And it's always possible to add `import Std.downcast` to `import.hx`

[2019-06-05 07:36] kevinresol opened #8376 "Closure in closure breaks abstract method"
Tested Haxe Versions: 81c9d2b, 3.4.7

[code]

Looks like the compiler fails to apply the underlying `this` argument automatically.

[2019-06-05 09:05] Gama11 commented on #8375
I think you're _greatly_ overestimating how popular this function is. Personally, I wouldn't have noticed if it was removed entirely, as I don't think I've ever used it myself. It might be common in Heaps, but there's **not a single usage of it** across all of Flixel, OpenFL, Lime, Kha, vshaxe... Deprecation-wise, the `js.lib` or `haxe.Utf8` changes were far more problematic.

In fact, I once inst

[2019-06-05 10:55] ncannasse commented on #8375
Well, deprecation is one thing, and it it's only Heaps I can surely make the effort to deal with it.

However, the keyword thing is quite important, because this way it will come with proper manual documentation in cast section, and thus allow people to learn/use it correctly instead of using other forms of cast.

[2019-06-05 11:13] Gama11 commented on #8375
I guess I don't quite understand why you would use `Std.downcast()` over `Std.is()` + `cast` in the first place. Is the implementation more efficient somehow..?

Looking through the usages in Heaps, most of them seem to be immediately followed by a `null` check, such as:

[code]

Is that really better than the following?

[code]

#

There's also usages without null checks:

[code]

But again, you

[2019-06-05 11:14] Aurel300 commented on #8375
I don't think this is much of an argument – It can be documented next to `cast` even if it is not a keyword.

[2019-06-05 12:59] lublak opened #8378 "[feature request] Readable/Writable field Constraints"
Currently i use a genericBuild for it (which has limitation).
Just an idea.

[code]

[2019-06-05 13:00] Simn commented on #8378
This would have to go through haxe-evolution.

[2019-06-05 13:00] #8378 closed, assigned to nobody

[2019-06-05 13:04] Aurel300 opened #8379 "Sys.print duplicates CR on Windows"
[code]

On OS X:

[code]

On Windows:

[code]

Note the duplicate `0d` byte.

 - [x] eval (fixed in #8135)
 - [ ] cpp (HaxeFoundation/hxcpp#820)
 - [ ] hl (HaxeFoundation/hashlink#264)
 - [ ] (once fixed) disable workaround marked with this issue number in `tests/sys/src/TestUnicode.hx`

[2019-06-05 13:11] Simn commented on #8379
I think it must actually be `Sys.print` causing that.

[2019-06-05 13:15] Aurel300 commented on #8379
Whoops, you're right.

[2019-06-05 15:48] #8376 closed, assigned to RealyUniqueName

[2019-06-05 16:21] #8329 closed, assigned to RealyUniqueName

[2019-06-05 18:25] ncannasse commented on #8375
@Gama11 : Std.is + cast performs two casts on several static targets. Also, it requires storing the expression into a local variable if you don't want double evaluation. And for the the second case, you want to trigger a null access in case the type does not match, but that would work with `cast(ambientShader,h3d.shader.AmbientLight)` as well.

@Aurel300 my suggestion was that because it's not doc

[2019-06-05 18:43] Gama11 commented on #8375
The safe cast syntax doing something that's actually useful would indeed be nice. Safe casts as they're specified today are almost always misused (doing a `Std.is()` check and then a safe cast / never checking any exceptions / `cast(float, Int)` instead of `Std.int()` / etc)...

[2019-06-05 18:48] RealyUniqueName commented on #8359
Here is what comes to diagnostics:
[code]

[2019-06-05 19:01] #8286 closed, assigned to nobody

[2019-06-05 19:08] ncannasse commented on #8375
At least we could error when cast(e, T) and it's not possible in the type
system for e to be of type T in any way.

On Wed, Jun 5, 2019 at 8:43 PM Jens Fischer <notifications@github.com>
wrote:

[2019-06-06 17:56] Aurel300 opened #8380 "[eval] Unicode sys tests are slow"
The Unicode sys tests (currently in #8135) take ~4 minutes on AppVeyor and my local machine. Other targets finish in a couple of seconds. The tests make heavy use of sub-processes, which might be the problem.

[2019-06-06 18:22] Gama11 opened #8381 "[display] hover on function in structure reports Expression instead of ClassField"
[code]

Hovering over the `foo()` call here doesn't show the docs, only the type:

![](https://i.imgur.com/by6XAnq.png)

This is because Haxe returns an expression instead of a class field. Interestingly, it works in completion or for variables, so something about functions in structures seems to be special.

[2019-06-06 18:34] Aurel300 opened #8382 "Sys.lineSeparator"
`Sys` should have a `static final lineSeparator:String;`, set to `"\r\n"` on Windows, `"\n"` everywhere else.

[2019-06-06 18:45] nadako opened #8383 "[display] write-only properties are not liked by IDE services"
[code]

no hover over `v`, no goto-definition, display requests are failing with `Message: Field v cannot be accessed for reading`

the behaviour is the same for `(never,set)`

[2019-06-06 18:48] RealyUniqueName commented on #8368
Some logs from my investigation (based on [this sample](https://github.com/HaxeFoundation/haxe/issues/8368#issuecomment-498606497)):

Issue is reproducible if `ComplexTypeTools.toType(macro:Type1)` is used as an init expr for a static var (1).
If that expr is invoked in a body of a macro function, then everything works fine (2).

In (1)  the module "Type1" is loaded with `macro` and `eval` defined

[2019-06-06 18:54] Gama11 commented on #8382
I'm not sure it belongs there, then it's only available on sys targets. Maybe `haxe.SysTools`.

[2019-06-06 18:55] Aurel300 commented on #8382
Why would you need CRLF separators on non-sys targets though?

[2019-06-06 18:59] Gama11 commented on #8382
Hm, you're right. I was thinking something like processing an embedded asset / text file would be a valid use case, but that should probably work with either line ending anyway. And `lineSeparator` itself has a sys dependency if it has to check for Windows...

[2019-06-06 22:40] Ilir-Liburn opened #8384 "[cpp, HL] dynamic vs zero"
[code]
[code]

Java and C#, true and true

[2019-06-07 09:54] RealyUniqueName commented on #8359
I wonder if named local function declaration should be prohibited to be used as a value. @Simn?

[2019-06-07 09:55] Simn commented on #8359
I thought they were...

[2019-06-07 09:57] Gama11 commented on #8359
Why? That can be pretty convenient.

[2019-06-07 10:11] RealyUniqueName commented on #8288
I cannot reproduce it with the latest dev Haxe:
[code]

[2019-06-07 10:29] Gama11 commented on #8288
I can...

[code]

Maybe it's a Windows-specific issue / works fine on Linux?

[2019-06-07 10:29] Aurel300 commented on #8288
@Gama11's original issue seems to be on Windows. Windows unfortunately does not do UTF-8 (or binary) encoding by default on stdout, in command-line arguments, etc. See if this helps:

https://github.com/HaxeFoundation/haxe/blob/c7fb324fecc83f4a215b25d666a6a78c4a69f86f/src/compiler/main.ml#L470-L471

(Although I've seen something similar in `server.ml` already…)

[2019-06-07 11:15] Gama11 commented on #8288
@Aurel300 Doesn't seem to make any difference.

[2019-06-07 11:19] Simn commented on #8359
Right, this keeps coming up and you always throw some obscure event listener example at me...

[2019-06-07 11:23] Aurel300 commented on #8359
@simn It might even be used in the stdlib eventually :D

https://github.com/Aurel300/haxe-sys/blob/60aa913ff4971cf1fa11913b2ec48e65555845d0/haxe/async/Event.hx#L11-L14

[2019-06-07 14:16] kLabz commented on #8361
Some typings are lost during the generation here (it's extending `BalancedTree<object, V>` which has `compare:K->K->Int` and this gets compiled as `object->object->int`). Trying to find a fix.

In the meantime, a workaround:
[code]

[2019-06-07 15:01] kevinresol commented on #8359
Yes I always do what @Aurel300 posted. It is convenient to declare a named function right in place, for type inference for example.

[2019-06-07 15:18] andyli opened #8388 "jvm has problem with 32-bit int"
Compiling our unit test using a 32-bit Haxe compiler will result in error:
[code]

[2019-06-07 15:50] #7546 closed, assigned to frabbit

[2019-06-07 16:33] Ilir-Liburn opened #8389 "abstract @:to order issue"
[code]
Main.hx
[code]

After reversing order of toInt and to toFloat implicit casts:

[code]

Is there any documentation about priority of implicit casts? I found for array access on abstracts to be top to bottom, while for implicit casts seems to be reversed.

[2019-06-07 17:13] Ilir-Liburn commented on #8389
This seems to be not about order, more about "While every Int can be used where a Float is expected (that is, Int is assignable to or unifies with Float), the reverse is not true: Assigning a Float to an Int might lose precision and is not allowed implicitly".

And now comes the problem

[code]

we lost precision because of "every Int can be used where a Float is expected". Reversing the order of

[2019-06-07 18:58] #7638 closed, assigned to nobody

[2019-06-07 19:08] RealyUniqueName commented on #7604
That does not happend with the latest Haxe. Instead compiler emits an error: `Test.hx:20: characters 27-36 : BaseClass has no field ext`, which I think is expected.

[2019-06-07 19:08] #7604 closed, assigned to nobody

[2019-06-07 19:35] RealyUniqueName commented on #7517
Nope. Doesn't work.

Let's close this again. Because #8295

[2019-06-07 19:35] #7517 closed, assigned to nobody

[2019-06-08 09:32] kLabz commented on #5480
I have been using .NET core with haxe for a year now (started with 2.1.0, now using 2.1.7). It's actually supported, but you have to define it yourself in a hacky way (some randomly picked version > 35 for `-net-ver` and a custom `--net-std`).

I'll try to make it into something like this for .NET core 2.1.11 (current LTS):
[code]

[2019-06-08 12:34] kLabz commented on #5838
I get this with current dev (`35ce1e7`), which seems fine:

[code]

With https://github.com/kLabz/haxe/tree/testissue/5838/tests/misc/projects/Issue5838/

[2019-06-08 13:29] kLabz commented on #7200
The C# code works fine without the parens around
[code]
for some reason...

I could reduce it to this being invalid:
[code]

While this is valid:
[code]

Note that casts with `as` are fine too, even with the parens:
[code]

[2019-06-08 18:11] Ilir-Liburn opened #8392 "loop optimization"
While trying to make a function to get accurate fraction of decimal number without using strings or such (which I failed)

[code]

I noticed how cpp is optimizing do-while loop

[code]

and C# version (Java do the same)

[code]

which is using break on loop. Nice, except it is wrong. In both cases, there will be one jump out of while(true) loop and no jumps for regular do-while loop if condition i

[2019-06-08 19:23] Ilir-Liburn commented on #8392
OK, I found example from Simn why is do-while using while(true) loop

https://github.com/HaxeFoundation/haxe/issues/5896

[code]

But this can be converted to

[code]

which could then generate (JS)

[code]

[2019-06-08 23:46] Ilir-Liburn opened #8393 "Names generated by @:generic conflict with manually declared names"
Using previous sample

https://github.com/HaxeFoundation/haxe/issues/8369

and adding
[code]
makes compiler hanging if that module is imported to main module. Same for using.

[2019-06-09 09:58] #7363 closed, assigned to Simn

[2019-06-09 11:13] #4705 closed

[2019-06-09 11:32] RealyUniqueName commented on #7347
Also doesn't work on eval, php, python, lua.
Works on cs, java.
hl throws an ocaml exception:
[code]

[2019-06-09 11:58] #7099 closed

[2019-06-09 12:31] #8361 closed, assigned to nobody

[2019-06-09 12:32] #8366 closed, assigned to nobody

[2019-06-09 12:33] #8354 closed, assigned to nobody

[2019-06-09 12:49] kLabz opened #8395 "[cs] fully qualified @:strict without importing the type"
The following code:
[code]

fails with:
[code]

It works fine if `cs.system.reflection.AssemblyDelaySignAttribute` is imported or even used somewhere else with a fully qualified identifier, but `@:strict` doesn't seem to work with types not previously included in compilation.

Note:
Things have moved since then, but for reference `@:strict` has been implemented in #3954

[2019-06-09 13:30] elnabo commented on #5243
We have this problem when we run the tests of [json2object ](https://github.com/elnabo/json2object) on lua with the latests Haxe.

`lua: testout/test.lua:329: too many local variables (limit is 200) in main function near '='`

At first we just removed some tests case but with every new features this problem regulary shows up.

[2019-06-09 13:43] Ilir-Liburn commented on #8384
Adding HL to test

[code]

[code]

[2019-06-09 18:34] Gama11 opened #8396 "[display] duplicated enum abstract values in completion"
When requesting completion within an enum abstract, the values are duplicated and appear once as inline class fields, and once as enum values:

[code]

![](https://i.imgur.com/oamErOZ.png)

From outside, the values only appear once as expected:

![](https://i.imgur.com/gnqwWl2.png)

[2019-06-10 10:46] Aurel300 opened #8400 "[cpp] Sys.setCwd, .deleteFile, .deleteDirectory, FileSystem.exists, .rename fail on Unicode path"
This is not Windows specific!

[code]

[code]

(`xxd` confirms it is the same path.)

`Sys.deleteFile` and `Sys.deleteDirectory`, `FileSystem.rename`, `FileSystem.exists` seem similarly affected.

Once fixed:

 - [ ] re-enable test marked with this issue number in `tests/sys/src/TestUnicode.hx`

[2019-06-10 10:56] supergeoff opened #8401 "Check_hostname error, for Http.requestUrl()"
Http.requestUrl() result in error:
`ValueError: check_hostname requires server_hostname`
If targeting **Python** with **python_version>=3.4** flag.
**Ssl.context** created in **python.net.SslSocket** uses SERVER_AUTH by default, it sets
context.verify_mode to CERT_REQUIRED and context.check_hostname to True.

Several infos i found in **python.net.SslSocket**
[code]

I'm guessing it has to do with

[2019-06-10 16:48] #6845 closed

[2019-06-10 20:02] #6846 closed

[2019-06-10 23:53] Ilir-Liburn opened #8405 "Table of Dynamic type issues all in one place"
Can't find a way to style table here, so coloured version is here
http://guideto.rf.gd/dynamic.html

<body>
<table cellspacing="0" border="0">
	<colgroup span="8" width="85"></colgroup>
	<tr>
		<td height="17" align="center"><u>   TARGET    </u></td>
		<td align="center"><u>    VALUE      </u></td>
		<td align="center"><u>  == TRUE    </u></td>
		<td align="center"><u>  == FALSE   </u></td>
		<td

[2019-06-11 06:19] kLabz commented on #5953
Problem here is that `ret` is inferred as `Array<Int>` and then used as `Array<Null<Int>>` without it being a problem to haxe. However, when targeting C# this becomes a problem since `Array<Null<Int>>` is generated as `Array<object>` and C# cannot convert type `Array<int>' to `Array<object>'.

For java, `ret` is typed as `haxe.root.Array<java.lang.Object>` since the beginning, avoiding errors. I'l

[2019-06-11 08:01] kevinresol commented on #5953
This should be addressed in https://github.com/HaxeFoundation/haxe/issues/4872

[2019-06-11 08:06] Simn commented on #5953
Indeed!

[2019-06-11 08:06] #5953 closed

[2019-06-11 08:57] RedHairHead commented on #8405
Are these exceptions thrown at compile time or run time?

[2019-06-11 10:13] Ilir-Liburn commented on #8405
Runtime of course. For example (HL); Uncaught exception: Can't cast #Some to f64

Notice how Flash is only target which is passing test. Haxe orginated  from Flash. I can do workarounds here, but I'm afraid Neko and HL are out of my range (I think).

Haxe is cross-platform, so it should handle dynamic type correctly across the targets. And that could bring one more cool thing; notice how value ==

[2019-06-11 10:48] Aurel300 commented on #8405
Thank you for the clear table.

I think there are some issues, however. You base the "correct" result on what Flash behaviour is like. Please keep in mind that Flash/AS3.0 is a dynamically-typed language and so will not complain too much about type problems.

For example, I would argue that `if (value)` should always throw an exception if `value` is not a `Bool`, i.e. the way Java does it. Similar

[2019-06-11 10:49] Simn commented on #8405
Most of this has to remain undefined behavior for performance reasons. We have to rely on the native behavior of the target here.

[2019-06-11 11:17] Ilir-Liburn commented on #8405
Flash is a mixture of static and dynamic. Note how dynamic targets (like Node/JS, Python) behave natively correct (two more passing test) except LUA and Neko (HL). C# is failing only on if() and cast (Java on ==true in addition), which can be easily fixed.

@Aurel300 , if (value) is standard test if value holds instance (not null), if number is not zero or bool is a true

[2019-06-11 11:20] Aurel300 commented on #8405
@Ilir-Liburn `if (value)` is a standard test for that on different platforms, for different reasons (in C/C++ because pointers happen to be numbers, in dynamic languages because why not). It is not a standard test in Haxe, unless using `Dynamic`.

[2019-06-11 11:22] Ilir-Liburn commented on #8405
@Aurel300, exactly. This is a Dynamic test

[2019-06-11 11:26] #6782 closed

[2019-06-11 11:51] #6780 closed

[2019-06-11 13:45] RealyUniqueName commented on #6741
Not reproducible with the latest Haxe anymore.
I suppose it was fixed by some pos-related commit.

[2019-06-11 13:45] #6741 closed

[2019-06-11 14:51] nadako commented on #6741
Hmm, I probably found some other issue while fixing this one, so I didn't close the ticket, however I didn't report it here and I don't remember it anymore, so yeah, this should be closed :)

[2019-06-11 15:54] #8094 closed, assigned to Aurel300

[2019-06-11 16:41] RealyUniqueName commented on #6355
I don't think we need to stick to HHVM. Since PHP7 (and planned PHP8) improvements it's becoming less and less important in php world.

[2019-06-11 16:41] #6355 closed

[2019-06-11 16:56] jdonaldson commented on #8215
I have a fix checked in for this, but having some difficulty running sys tests right now.

[2019-06-11 22:17] nadako commented on #8263
So I'm working on the "shared game logic" thingy once again and I think I agree with @ncannasse's thoughts regarding `final` fields.

In my case I want deserialization to be completely hidden from the programmer and thus having to structure classes in a specific way like @back2dos suggests is undesirable. Of course, building these static constructors with a macro is an option, but I would like to

[2019-06-12 07:34] kLabz commented on #3829
@Simn should these defines be prefixed with `hxcpp`, `hxcs` etc.? There are already `hxcpp-api-level` and `hxcpp-smart-strings` in current `--help-defines` output.

I could make a PR to hxcs to support both prefixed and not prefixed versions + a PR here to add the prefixed ones in define.json.

[2019-06-12 08:42] Gama11 commented on #3829
If anything, should probably make use of the new "define namespaces"? `hxcpp.api-level`, `hxcpp.smart-strings`...

[2019-06-12 09:34] kLabz commented on #3889
Original issue seems resolved (I have tests than I can push)

As for @azrafe7 it can be reduced to just

[code]

With the same build parameters.
Seems like another issue, maybe an existing one about analyzer?

[2019-06-12 11:14] RealyUniqueName commented on #6006
This is not reproducible with the latest dev Haxe.
I assume it's fixed.