[2019-08-05 06:51] #8606 closed, assigned to nobody

[2019-08-05 06:55] RealyUniqueName commented on #8588
It's the same issue

[2019-08-05 07:56] Gama11 commented on #8606
I guess techincally it could be possible by generating a `Reflect.getProperty()` call? Hidden reflection like that seems like a bad idea though.

[2019-08-05 20:00] RealyUniqueName commented on #7614
Why would that be too early?

[2019-08-05 20:09] RealyUniqueName commented on #7614
Though, that check doesn't hold for a recursive chain of abstracts anyway:
[code]

[2019-08-05 20:36] RealyUniqueName opened #8607 "Classpath order and init macro execution order for haxelib dependencies"
I have two libs: libA and libB.
libA depends on libB. Both have init macros. I'd expect init macros of libB to be executed first, however:
[code]
I think this should be changed to always execute init macros of dependencies before init macros of dependants.

[2019-08-05 20:39] RealyUniqueName commented on #8607
Also, modules in classpath of a dependant are shadowed by modules in classpaths of dependencies. And that is just wrong.

[2019-08-06 06:30] back2dos commented on #8607
This is a haxelib issue. A solution would be to move [this line](https://github.com/HaxeFoundation/haxelib/blob/6b9c8851036fb012c0e188bc27da07999b663b4f/src/haxelib/client/Main.hx#L1420) below the conditional recursion.

[2019-08-06 07:40] RealyUniqueName commented on #8607
I think we need to specify the order of dependencies and `-lib` and `-cp` flags somewhere in docs.

[2019-08-06 09:16] Simn commented on #8596
Please try again now. I've added your mutually dependent module situation as a test so we can make sure that it doesn't regress again.

I'm still not 100% comfortable with this approach but it's quite hard to judge due to the complexity of the compilation server.

[2019-08-06 09:21] nadako commented on #8596
Thanks! It's amazing that we have tests for this stuff nowadays!

Will do some testing on our codebase soon

[2019-08-06 10:24] nadako commented on #8596
Everything seems to be fine so far! Don't see any tainted modules in the `-v` output while navigating \o/

[2019-08-06 12:03] Simn commented on #8472
What exactly is being reported here? `var x:std.Type.ValueType;` works as expected.

[2019-08-06 12:05] Simn commented on #8462
Changing this would probably break every IDE out there.

[2019-08-06 12:11] Simn commented on #8451
I'm willing to work on this, but I can't do much on the vshaxe side because it only compiles for @Gama11 these days.

I'll try to construct a failing test case for this

[2019-08-06 16:12] Simn commented on #8451
I have added `server/moduleCreated` and the test passes now. There's no additional invalidation going on yet, I'll have to check if that's the right thing to do. Now vshaxe needs an update.

[2019-08-06 19:44] nadako commented on #8596
Found one issue with diagnostics, with interdependent modules again:

[code]

[code]

for the `new Main()` diagnostics report: `Main should be Main`. Compilation and everything else seem to work fine still.

[2019-08-06 20:14] nadako opened #8611 "cache server + inline +multiType"
This one is "interesting" (extracted from OpenFL):

Vector.hx
[code]

Main.hx
[code]

First build will produce:
[code]

(which is kind of what we'd expect, but is actually debatable, because `ofArray.T` is not generally known to be an `Int`, but due to inlining this just happens)

However if we touch `Main.hx` and build again we will get:
[code]

[2019-08-06 20:31] nadako commented on #8611
Good news is that adding `@:generic` to the `ofArray` function fixes the issue and gives the desired behaviour  (`toIntVector`). \o/

[2019-08-06 20:32] nadako commented on #8611
@jgranick you might be interested in this ^

[2019-08-06 23:47] danielbenmergui opened #8612 "Flash: removing an item from an Array fails"
class Test
{
	public function new(){}
}
var test = new Test();
var array = new Array<Test>();
array.push(test);
array.remove(test); <-----

This code fails at runtime with
"TypeError: Error #1006: removeAt is not a function."

This is the problematic code at Boot.hx:
		aproto.remove = function(obj) {
			var idx = __this__.indexOf(obj);
			if( idx == -1 ) return false;
			#if flash19
			__this__.re

[2019-08-07 08:55] sonygod opened #8613 "Error: Could not process argument client.hxml (file not found)"
https://community.haxe.org/t/build-haxe-recipe-for-target-as3-cmi-failed/1953

after compile haxe source ,it's throw this error.

[2019-08-07 08:55] sonygod commented on #8613
![image](https://user-images.githubusercontent.com/748320/62609333-26172600-b934-11e9-9106-ec99b0f17f83.png)

[2019-08-07 09:02] nadako commented on #8612
Not sure why this wouldn't happen in RC2 as this optimization was added years ago: https://github.com/HaxeFoundation/haxe/commit/0b8b09147562033fa7a06f90fe123fe6cef926a7

Anyway the problem is that you're compiling with swf-version 32, but seems to be using an older run-time version which doesn't have `Array.removeAt` (should be there since Flash/AIR 19)

[2019-08-07 09:03] Simn commented on #8613
`git submodule init && git submodule update`.

[2019-08-07 09:03] #8613 closed, assigned to nobody

[2019-08-07 09:07] Simn commented on #8611
First compilation:

[code]

Second:

[code]

So there's a second `find_multitype_specialization` here. Though that doesn't answer why we end up with a different result because both of these type parameters looks quite `Int`ish.

[2019-08-07 09:22] RealyUniqueName commented on #8612
Indeed.
It did work in RC2 because flags for flash versions above 17.0 were not defined in the compiler and `#if flash19` branch was never compiled unless `-D flash19` flag was explicitly used.
In RC3 that was fixed.
You have to either update your runtime or use `-swf-version 18.0` or use `Array.splice()` instead of `Array.remove()`

[2019-08-07 09:30] Simn commented on #8611
I think there's a secondary problem here because your `@:to` functions don't have a return type. This probably doesn't matter in practice, but we should make sure that they unify with `Vector<Something>` at least. Otherwise we risk leaking their return type monomorphs and that could lead to very weird inference down the line.

That actually reminds me of something @RealyUniqueName has been working

[2019-08-07 09:33] Simn commented on #8611
Something else to note: If we change `Vector.hx` we go back to `toIntVector` being generated. The issue here is likely related to `cf_expr_unoptimized` being used for inlining, but it's not yet clear to me what exactly the problem is.

[2019-08-07 09:53] nadako commented on #8611
I'm also not sure if having `toIntVector` there is correct, because it depends on whether the `ofArray` method is inlined or not, which shouldn't be the case...

[2019-08-07 10:18] DanMan opened #8614 "More RESTful HTTP handling"
Looking at the docs for `haxe.Http` (which is really HttpRequest) and `php.Web` right now, I think there's a bias towards GET and POST requests. Probably because REST wasn't a well known concept when those were created. Some examples:

* You can _send_ a `Http.customRequest` but I don't see how you would handle _receiving_ a new [PUT via PHP](https://www.php.net/manual/en/features.file-upload.put-

[2019-08-07 10:24] Aurel300 commented on #8614
New system APIs, including HTTP functionality, are planned for 4.1. These will be based on Node.js APIs, which are more featureful in terms of methods, data encoding, etc.

[2019-08-07 10:32] lublak commented on #8472
@Simn
here is an example:
[code]

[2019-08-07 10:52] RealyUniqueName commented on #8614
`php.Web` was introduced to be easily swapped with `neko.Web` back in the days when neko was the only server-side target of Haxe.
Nowadays you better use php-specific functions to handle incoming HTTP requests (until new sys APIs are relased as @Aurel300 said).
E.g. here is [Example #1 from the linked page of php manual](https://www.php.net/manual/en/features.file-upload.put-method.php) translated

[2019-08-07 11:01] RealyUniqueName commented on #8611
Yeah, that's what happened to `hl.ByteAccess` in https://github.com/HaxeFoundation/haxe/issues/8348

[2019-08-07 11:02] XVilka opened #8615 "Switch to another parser instead of Camlp5"
See these discussions:
- https://discuss.ocaml.org/t/camlp5-and-ocaml-4-08/3985
- https://discuss.ocaml.org/t/the-end-of-camlp4/4216/2

For example Menhir, Sedlex, Angstrom, or others.

[2019-08-07 11:05] nadako commented on #8611
FWIW, In OpenFL the return type for `@:to` is specified, though not as `Vector<Something>` but as the underlying type. Which is also what we do for `haxe.ds.Map`.

[2019-08-07 11:11] Simn commented on #8611
That's similar to some cases we have with native Vector/Array types which cannot be generalized unless a function is made `inline` or `@:generic`. I don't think this is a problem.

[2019-08-07 11:23] Simn commented on #8615
We have no plans to move the parser to another implementation during Haxe's OCaml lifetime. I don't think there's even a need to discuss this at the moment. There was a previous attempt to move to a menhir implementation, but that turned out to be infeasible for various reasons.

_If_ someone actually wants to work on an alternative implementation, I'd be happy to help. However, in my experience n

[2019-08-07 11:23] #8615 closed, assigned to nobody

[2019-08-07 11:27] Simn commented on #8595
If somebody wants to contribute, I'll be happy to give the required access to repositories. Until then, there's nothing actionable here, so I'll go ahead and close this.

[2019-08-07 11:27] #8595 closed, assigned to nobody

[2019-08-07 11:35] Simn commented on #8355
The `haxe.display` package should now have all the types we need for this. Adding these tests should for the most part be a matter of creating a version of https://github.com/HaxeFoundation/haxe/blob/development/tests/display/src/DisplayTestContext.hx which utilizes the new protocol. This is likely going to require further abstractions though because several tests check for the concrete data at th

[2019-08-07 12:14] DanMan commented on #8614
Interesting, thanks for the hint. `php.Global` is a Haxe 4 thing it seems. In any case, this naturally reduces code re-use, which is one of Haxe's big features. I'd at least expect the basic HTTP stuff to work across both the JS and PHP target. Otherwise I see limited use for Haxe in a webdev context. Those two probably make up 97% of the web after all. Or maybe I haven't written enough Haxe yet t

[2019-08-07 12:25] #7997 closed, assigned to nobody

[2019-08-07 12:45] RealyUniqueName commented on #8614
No, it is also available in Haxe 3.4.7 with `-D php7` flag. But in Haxe 4 it contains more externs for global functions of php. You can use those functions without `php.Global` like this: `var fp = untyped __php__("fopen({0}, {1})", "myputfile.ext", "w");`

[2019-08-07 13:04] #8611 closed, assigned to nobody

[2019-08-07 13:06] Simn commented on #8611
The issue was actually pretty wide: Any AST change that happened during post-processing before `cf_expr_unoptimized` was saved would influence the next compilation. I think this might have been a big source of compilation server instability. We now save the unoptimized expression very early, which means that any inlining operation should give the same result.

The test for this is really retarded

[2019-08-07 14:50] #7614 closed, assigned to nobody

[2019-08-07 19:56] nadako opened #8616 "temp var counter instability with cache server"
as discussed on Slack, I reduced this:

`A.hx`:
[code]

`Main.hx`
[code]

First compilation gives:
[code]

however if we touch `Main.hx`, the output will be:
[code]

[2019-08-07 20:00] nadako commented on #8616
further compilations will keep `this11` no matter if we change `Main.hx` or not, however touching `A.hx` will bring back `this2`.

[2019-08-07 22:01] danielbenmergui commented on #8612
Are you positive it's a problem on my side? because when it fails:

- my flash runtime is 32.0.0.116 (I printed it out at the start of my app)
- haxe command line has -swf-version 32.0
- generated swf is version 43 (=32.0 AIR), checked with swfdump
- application.xml has <application xmlns="http://ns.adobe.com/air/application/32.0">

The program fails when I run "adl.exe application.xml" (adl repor

[2019-08-07 22:04] nadako commented on #8612
Could you please test if `Array.removeAt` is there for you if you access it from AS3 code? It might be a bytecode generation issue...

[2019-08-07 22:19] nadako commented on #8612
Ok, I can reproduce this, sorry for dismissing the issue too hastly

[2019-08-07 22:21] nadako commented on #8612
I also found an issue with cache server: when compiling through it, `flash19` is not there :-/

[2019-08-07 22:21] danielbenmergui commented on #8612
I tried this on an AIR AS3 project with the same environment and it worked fine:

On a minimal Haxe project with the same environment this fails at runtime:

[2019-08-07 22:29] nadako commented on #8612
Yes, I think I know the reason. I'm now curious if it ever worked even if you do `-D flash19` manually...

[2019-08-07 22:43] nadako commented on #8612
The issue has the same roots as #8536. I'm going to quickfix it and maybe look into a properly typed solution later.

[2019-08-07 22:47] nadako commented on #8612
Should work now! I'll leave the issue open because we want to set up CI testing for `flash19`.

[2019-08-07 22:48] nadako commented on #8612
Thanks for the report BTW, this is quite important!

[2019-08-08 06:44] Simn commented on #8596
Right, shit, I think this means that the entire approach isn't sound. The `Other` module has a reference to the original `Main` in its AST, and by re-typing `Main` during the diagnostics run we end up with two different `Main` modules.

This probably only shows up in diagnostics because that's the only mode where we actually care about the unification failing. The problem itself would still be pre

[2019-08-08 06:46] sonygod opened #8617 "[java]compile error?"
only java target error.

https://github.com/ianharrigan/hxWebSockets/tree/6f3300dcfe275336340deded7f3298416e65f498

[code]

[2019-08-08 07:33] RealyUniqueName opened #8618 "Methods of `platform.Syntax` modules should not be allowed for `FClosure` access"
E.g. this should not compile:
[code]

[2019-08-08 08:07] nadako commented on #8596
If it cannot mess up the cache I would vote for not reverting it even if it's not easy to fix or not the right approach in general, because well diagnostics can be disabled, but working completion and navigation is very important. Maybe we could hide it with a define or cache server configuration flag...

[2019-08-08 08:26] Simn commented on #8618
We can have a metadata for that like `@:noClosure`. There might be other use-cases for that.

[2019-08-08 08:36] Simn commented on #8617
Please provide a small, reproducible example.

[2019-08-08 08:51] Simn commented on #8451
@Gama11's observation is correct: If the module is created in an empty state and only "filled out" later, the type is not picked up. The following test sequence doesn't pass:

[code]

Note that this problem is not specific to the new moduleCreated feature. I think we have mark files upon invalidation and then re-parse them on the next request that utilizes the syntax cache (unless they were alread

[2019-08-08 09:23] #8612 closed, assigned to nadako

[2019-08-08 09:30] Aurel300 commented on #8618
`Std.is` ?

[2019-08-08 09:32] Aurel300 commented on #8617
Isn't backtick the character the compiler puts in some "internal" variables it generates?

[2019-08-08 10:42] Simn commented on #8451
I have committed this approach. There's still an open debate I'm having with myself about whether or not the `server/invalidate` request is necessary for this to work. The issue is that without it, the compiler looks at the file again because it is never actually compiled.

The only way to handle that would be to check the modification time of _all_ files in the syntax cache, which would likely be

[2019-08-08 11:07] Simn commented on #8472
Ah, so it's about expression-level. And that means we're talking about _that_ code, so I recommend that you work around this.

[2019-08-08 11:49] sonygod commented on #8617
@Simn
try to build java target

https://github.com/ianharrigan/hxWebSockets/tree/6f3300dcfe275336340deded7f3298416e65f498/Examples/sys-server

[2019-08-08 11:50] sonygod commented on #8617
haxe git version

linux and windows both error?

[2019-08-08 12:04] RealyUniqueName opened #8620 "Review `fast_eq` usages"
`fast_eq_anon` from #8592 when it's merged.

[2019-08-08 14:53] haxiomic commented on #8282
I've removed this from 4.0 because the only issue now is in the generator and it shouldn't block 4.0

[2019-08-08 14:56] RealyUniqueName commented on #6216
Fixed by #8592

[2019-08-08 14:56] #6216 closed

[2019-08-08 16:00] nadako opened #8621 "abstract Map key types prevent inlining"
[code]

[code]

[2019-08-08 16:07] RealyUniqueName commented on #8621
Adding `to Int` makes it inline again.

[2019-08-08 17:09] zhaoterryy commented on #8268
I've created a simple example [here](https://github.com/zhaoterryy/haxe-issue-8268-example)

Unless I'm misunderstanding something, this shouldn't be the correct behavior.

[2019-08-09 06:17] #8061 closed, assigned to nobody

[2019-08-09 06:17] #8194 closed, assigned to nobody

[2019-08-09 06:17] #8381 closed, assigned to nobody

[2019-08-09 06:17] #8438 closed, assigned to nobody

[2019-08-09 06:17] #8602 closed, assigned to nobody

[2019-08-09 06:32] Simn commented on #8451
I think we're done here.

[2019-08-09 06:32] #8451 closed, assigned to Simn

[2019-08-09 06:35] Simn commented on #8288
@Aurel300 I'm assining this to you for further investigation. Mostly because I have no idea what to do with this...

[2019-08-09 06:37] Simn commented on #8047
What exactly is this about? The import status is correct in cases like this:

![Code_2019-08-09_08-37-11](https://user-images.githubusercontent.com/634365/62759188-e3af2f80-ba80-11e9-86ae-4622a7b7c39f.png)

[2019-08-09 06:42] kevinresol commented on #8047
For "exact" imports the compiler is able to tell if that import is used or not (and the IDE can highlight unused ones)

For wildcard imports, I hope the compiler is able to tell what types are actually being used from such import.

e.g. hovering `import js.html.*;` would popup something like:
"Used types from this wildcard import: DivElement"

Also, a step further the compiler may be able to provi

[2019-08-09 06:46] Simn commented on #7802
To clarify my stance on this: If you had something like `var a:Float = 123` and hovered over the `123`, you'd obviously expect `Int` for both hover and type definition even though the expected type is `Float`.

Technically, anonymous structures are no different: You hover over an instance of the anonymous structure type and even though that might be _assignable_ to some named type, it's incorrect

[2019-08-09 06:57] Simn commented on #8047
Ah, interesting idea. From the compiler's point of view, these two steps should be the same: Report the list of modules being loaded through that wildcard import. The IDE can then utilize this information to display the information and provide a code action for transformation.

[2019-08-09 07:07] Simn commented on #7472
I don't see how we could fix this for module completion because it's entirely file-based. You even get completion for modules that are empty.

[2019-08-09 07:28] #7114 closed

[2019-08-09 07:28] #7317 closed

[2019-08-09 07:37] RealyUniqueName commented on #8556
This started to happen pretty often recently
https://dev.azure.com/HaxeFoundation/GitHubPublic/_build/results?buildId=497&view=logs&jobId=d81420a3-bf30-5d37-575b-fa6a2af01070

[2019-08-09 07:47] Simn commented on #8556
I noticed that too... It almost looks like the `jvm` package is not excluded somewhere, but I have no idea why this isn't deterministic.

[2019-08-09 08:31] #7305 closed

[2019-08-09 08:33] Simn commented on #7305
I struggle to consistently reproduce this and so does my test before my fix. I think that depending on what else is going on, the class may or may not be built and the constructor lookup may or may not work. With the additional `cl_build()` call this should now be consistent.

[2019-08-09 08:44] lublak commented on #8472
@Simn i now fix it with an typedef.

You think that it is impossible to fix. Or?
Because it would be too complicated?

What about the idea of a "class" construtor?
"new Class<std.Type.ValueType>()"

this would a better workaround and i think it is simpler to implate this.

[2019-08-09 10:52] Aurel300 commented on #8288
OS X:

![Screen Shot 2019-08-09 at 11 43 25](https://user-images.githubusercontent.com/1102162/62773764-ef0f5480-ba9a-11e9-9c24-033645826f67.png)

Windows:

![Screen Shot 2019-08-09 at 11 43 11](https://user-images.githubusercontent.com/1102162/62773765-ef0f5480-ba9a-11e9-85df-28410909e709.png)

This error is emitted from:

https://github.com/HaxeFoundation/haxe/blob/c6c4316c63b5252e474f752f2432bb

[2019-08-09 11:02] #8268 closed, assigned to nobody

[2019-08-09 11:57] benmerckx opened #8625 "Expose source mapping through JSGenApi"
Would love to get access to source mapping data for generated code by JSGenApi (generateValue & generateStatement).

[2019-08-09 12:01] Aurel300 commented on #8625
Both `generateValue` and `generateStatement` take a `TypedExpr`, which has a `pos` field, expressing where in the source code this expression comes from. Is this not what you want?

[2019-08-09 12:06] benmerckx commented on #8625
Yes, but I'm looking to get that information for every sub expression as well. I thought of going through the expressions but it essentially means reimplementing gen_exp and gen_value of genjs.

[2019-08-09 12:07] Aurel300 commented on #8625
[`TypedExprTools`](https://api.haxe.org/v/development/haxe/macro/TypedExprTools.html) has `iter` (and `map`), which lets you provide a function that is called on every sub-expression of a given `TypedExpr`.

[2019-08-09 12:08] RogerPaladin opened #8626 "[flash] debug hover doesn't work on (get, set) properties"
Same as [HaxeFoundation/haxe#8599](https://github.com/HaxeFoundation/haxe/issues/8599) but with target flash.
testClass.x could not be  evaluated

![263c8559](https://user-images.githubusercontent.com/847782/62777790-2d1a7180-bab7-11e9-9df3-6ae2d8043f64.jpg)

[code]
[code]

[2019-08-09 12:19] benmerckx commented on #8625
That would help iterating and finding source positions. But it doesn't help that much finding generated code positions (unless I'm not thinking this through). In the scenario where I'd use JSGenApi to generate expressions I can get the code, then iterate through sub expressions. But to have an idea of position in the generated code (which was already generated for it's parent expr) I'd have to gen

[2019-08-09 12:25] Aurel300 commented on #8625
Oh right, now I understand. I'm not sure this can be made easily accessible. The actual positions in the generated code can only be determined once the code is generated, since a change in any expression results in everything after it in the file changing positions as well …

Perhaps you could insert `/*POS:...*/` markers in the generated code, then post-process that? I'm not sure what your intend

[2019-08-09 13:36] benmerckx commented on #8625
I was looking into generating split js files(#5831). [Hxgenjs](https://github.com/kevinresol/hxgenjs) does just that using a custom generator but provides no sourcemap support. I realize adding it involves tracking all generated code positions. Couldn't see where to get at that data for `generateValue` though. Inserting the position data into the code would work but I fear that would slow the whol

[2019-08-09 14:49] #8618 closed, assigned to RealyUniqueName

[2019-08-09 19:20] RealyUniqueName commented on #8626
I beleive it's an issue for https://github.com/vshaxe/flash-debugger

[2019-08-10 06:21] Simn commented on #8626
It is indeed.

[2019-08-10 06:21] #8626 closed, assigned to nobody

[2019-08-10 06:56] Simn commented on #7450
I think we have to do something here for 4.0. I'm not just talking about `--native-lib` as a unified flag, but also about the native library vs. compilation server situation.

Related issues: #7417 and #7651

Our native library handling was never updated to support the compilation server properly. On every request, which includes display requests, the functionality kicks in and does something.

Th

[2019-08-10 06:56] Simn commented on #7651
Consolidating this in #7450.

[2019-08-10 06:56] #7651 closed, assigned to nobody

[2019-08-10 06:56] Simn commented on #7417
Consolidating this in #7450.

[2019-08-10 06:56] #7417 closed, assigned to Simn

[2019-08-10 09:02] Aurel300 commented on #7450
What if the eager loading finds some types in a library that cause an error? With lazy loading you can simply avoid importing/using these types.

[2019-08-10 09:59] Simn commented on #7450
Technically, that shouldn't happen in the first place. But putting a catch-all around this might be a good idea regardless.

[2019-08-10 10:35] Ilir-Liburn commented on #8588
Compiler still hanging on

[code]

[2019-08-10 10:40] Simn commented on #8588
@RealyUniqueName Can you try adding `ignore(follow t)` here: https://github.com/HaxeFoundation/haxe/blob/development/src/typing/typerBase.ml#L202 I think that should detect this case.

[2019-08-10 10:42] Ilir-Liburn commented on #8588
You can reproduce it by

[code]

[2019-08-10 22:29] andyli opened #8627 "abstract and String concat"
[code]

Tested with 4.0.0-rc.3+348192fff.
With Haxe 3.4, both traces are `str: 123.4`.

From the output of Haxe 4, I can see that it's trying to convert `"str: "` to `Decimal` and do a `+` operation with `d`:
[code]

[2019-08-11 11:08] haxiomic commented on #8605
@JoeCreates could you create and attach a minimal example project to reproduce the issue?

[2019-08-12 08:01] CarlOlson commented on #8121
@AdrianV I'm having trouble reproducing incorrect behavior. On HEAD and 4.0.0-rc.3 I get the following error:

[code]

This makes sense to me. With null safety you cannot cast a `Null<Int>` to an `Int`. If you remove the explicit return type you get the following error:

[code]

So it looks like since you wrote the code behavior has changed?

[2019-08-12 08:07] CarlOlson commented on #7973
I can't reproduce this behavior on RC3.

[2019-08-12 08:21] #2586 closed

[2019-08-12 08:21] #7782 closed, assigned to haxiomic

[2019-08-12 09:39] RealyUniqueName commented on #8588
@Simn It happens because monomorphs from `get_abstract_froms` are not bound to `Dynamic`.  But returning `true` from `fast_eq_anon` for `TMono None, TMono None` is not correct. Idk what would be a correct solution here. The whole approach of `get_abstract_froms` seems invalid now.

[2019-08-12 09:59] RealyUniqueName commented on #8627
Idk if we should change the behavior here.
While you expect `toString` to be applied instead of `add`, somebody else might expect current behavior.
Ideally compiler would emit a warning about ambiguous operation.

[2019-08-12 11:17] Ilir-Liburn commented on #8627
Very good example. I think problem comes from the compiler, not design. Compiler is converting "str:" to Decimal. Why? It is clearly stated that @:op(A+B) is taking Decimal parameter, e.g. d + d should trigger @:op(A+B) for example, not "str:" + d. Correct me if I'm wrong.

[2019-08-12 11:20] Aurel300 commented on #8627
@Ilir-Liburn The compiler is converting `"str:"` to decimal because there is a `@:from` function which converts `String` to `Decimal`. `("str:" : Decimal) + d` then naturally uses the `add` operator.

[2019-08-12 11:20] Ilir-Liburn commented on #8627
("str:":Decimal) + d should trigger @:op(A+B) then?

[2019-08-12 11:27] Aurel300 commented on #8627
Yes, the `+` at that point is just the addition of two `Decimal` values.

[2019-08-12 11:35] Ilir-Liburn commented on #8627
Yes, but compiler is assuming here that user want to use @:op(A+B), because of the implicit cast. I think in such case, compiler should throw an error forcing user to be explicit. Or warn, but I would prefer error here.

[2019-08-12 11:37] Aurel300 commented on #8627
But that's the point of the implicit cast…

[2019-08-12 11:43] Ilir-Liburn commented on #8627
But again, it happens because @:op(A+B) is @:commutative. I will say this only once, to not repeat myself from time to time. Worst thing for me is when compiler assumes something for me. If there are two possible outcomes, compiler should at least worn about that.

[2019-08-12 11:49] Aurel300 commented on #8627
We can simplify the example to not use `@:commutative`:

[code]

[2019-08-12 12:40] Ilir-Liburn commented on #8627
With @:commutative we can do only this

[code]
But how will newcomer to Haxe know what is going on under the hood? Should newcomer know about underlying type of some core abstracts for example? Etc, etc.

[2019-08-12 14:02] Simn commented on #7450
My approach doesn't work because the parser-cache is file-based. This would require a separate caching mechanism, which makes matters much more complicated.

[2019-08-12 15:52] #7949 closed, assigned to RealyUniqueName

[2019-08-12 18:03] andyli commented on #8627
I understand how the expression can be ambiguous in semantic and agree with what you discussed. I want to point out 2 things:

1. The behavior of the posted example changed between Haxe 3 and 4. If we decide the newer behavior is better, we need to justify it with good reasons since it's breaking.

2. The actual code in which I discovered the issue was using string interpolation instead of mere co

[2019-08-12 18:08] AdrianV commented on #8121
It looks like the issue is fixed. I will close the issue

[2019-08-12 18:08] #8121 closed, assigned to RealyUniqueName

[2019-08-12 19:07] RealyUniqueName commented on #8627
I agree this may be considered a regression. @Simn ?

[2019-08-12 22:52] JoeCreates commented on #8605
@haxiomic http://try-haxe.mrcdk.com/#84Cd2

**Test.hx**
[code]

**Macro.hx**
[code]

Apparently it builds if you don't actually try to use the EReg. I had to add the `.replace(...)` for it to break.

[2019-08-13 09:11] haxiomic commented on #8605
Perfect, thanks @JoeCreates !

[2019-08-13 09:22] haxiomic commented on #8605
Hmm seems like there's a bigger issue than just EReg, using trace doesn't work either
[code]
```Test.hx:8: characters 3-8 : Unknown identifier: `trace```
For JS and `EvalContext.RunTimeException(_, 0, _)` on Neko

Compiles in haxe 3 but not haxe 4

[2019-08-13 11:36] Gama11 opened #8631 "[display] safe navigation operator breaks diagnostics"
@RealyUniqueName's safety lib implements a [`!.` operator](https://github.com/RealyUniqueName/Safety#safe-navigation-operator) via macros. In 4.0.0-rc.3 this worked fine with diagnostics, but with latest Haxe dev there are errors that sound like the macro is not being executed:

![](https://i.imgur.com/KekntuH.png)

[code]

[code]

[2019-08-13 11:37] haxiomic commented on #8605
From @Aurel300 on slack

e.g. on JS that backtick-trace should turn into console.log

I've renamed this issue to indicate the root cause

Also occurs in regular macros
`Macro.test(() -> trace('test'));`

http://try-haxe.mrcdk.com/#96bB7

[2019-08-13 12:07] Gama11 commented on #8631
I've bisected it to 3a2371a.

[2019-08-14 08:34] ncannasse commented on #7450
We don't really need eager evaluation, just keeping the modules in memory
and linking them to the native library as a dependency should make sure
they are kept in cache and only discarded if native library changes. This
would still reparse the library in case a _new_ module gets loaded from it,
but we can also have a cache for the step 1

On Mon, Aug 12, 2019 at 4:02 PM Simon Krajewski <notificati

[2019-08-14 10:33] Simn commented on #7450
I'm not quite sure what you're saying we should cache. There are 4 stages when it comes to processing a native library:

1. Read the data from the filesystem
2. Convert it to the native representation
3. Convert that to Haxe AST
4. Type the Haxe AST

I'm proposing to cache 3. because that's what the display handling needs and I doubt there's much of a size difference between 2. and 3.

[2019-08-14 11:11] romamik opened #8634 "add compiler error for ternary operator with null condition"
I can't imagine following code being written intentionally:
[code]
I propose add compiler error, when ternary operator condition is `null` identifier to help users avoid such typos.

[2019-08-14 11:13] nadako commented on #8634
wtf, this should give `String should be Bool` error...

[2019-08-14 11:13] Simn opened #8635 "[flash] HMMultiName insanity"
During my native-lib rework I've noticed something odd about `HMMultiName` in swfLoader.ml. It starts with this code:

[code]

Notice the call to `is_valid_path`, which is this:

[code]

This checks the presence of the type by invoking `load_extern_type`. This is registered earlier like so:

[code]

Unless I'm misreading this completely, we end up calling `build` and thus `build_class` multiple ti

[2019-08-14 11:15] Simn commented on #8634
It's stupid but consistent because this is handled as `b = (null ? "null" : "not null")` and `null` is typed as a monomorph which unifies with `Bool`.

[2019-08-14 11:17] nadako commented on #8634
Right, not even stupid if you think about it :) I guess that errors with the null-safety checks?

*UPD: yes, it does: `Null safety: Cannot use nullable value as condition in "if".`*

[2019-08-14 11:36] back2dos commented on #8634
The error seems easy enough to:

- make on the writer's part (as a typo of `expr == null`)
- spot on the compiler's part (check against `TConst TNull`)

Therefore I would argue to guard against it directly, instead of deferring it to null-safety (which is disabled by default).

[2019-08-14 11:38] RblSb commented on #8634
If that error can be added, why not make it in such cases too:
[code]
Basically just prohibit assignments in conditions. I guess this is problematic because `if` is expression?

[2019-08-14 12:10] Aurel300 commented on #8634
`if (x == false)` seems like bad style anyway. `if (foo = null)` can only compile if `foo` is `Null<Bool>` (or `Bool` on dynamic targets) I guess?

[2019-08-14 12:19] kLabz commented on #8634
Not for `Null<Bool>` values when absence of value is treated like `true`.

[2019-08-14 12:20] Pyrodash opened #8636 "[feature request] Connecting to a unix/ipc socket"
Doesn't appear to be be possible currently. You can only connect to an IP address.

[2019-08-14 12:40] #8635 closed, assigned to Simn

[2019-08-14 12:51] Ilir-Liburn opened #8637 "[cs, java] abstract over abstract error"
[code]

Underlying abstract here gets T parameter at @:from although it is not declared, causing

[code]

Removing T at new for Over abstract, removes T at @:from for Below abstract

[2019-08-14 13:15] Aurel300 commented on #8636
Yup, this is already almost implemented in the new APIs :)

[2019-08-14 13:21] back2dos commented on #8634
Not sure how this debate around `if` is related, because for `if (x = null)` there's no ambiguity, while `x = null ? a : b` is not what one might think at first sight. When it's a typo for `x == null ? a : b` it will still compile, because it parses as something completely different from what was intended.

[2019-08-14 13:25] Aurel300 commented on #8634
@back2dos

[code]

[2019-08-14 13:47] back2dos commented on #8634
Is `lhs = true` as a typo for `lhs == true` really something to worry about? There's a better syntax for that (i.e. `lhs`), while for `lhs == null` there isn't. It's true that in your example one might accidentally write `if (a.x = null)` but that only compiles for `Bool`, not for **every type** as it does in the original issue. That said, I don't mind guarding against any of these typos. It's jus

[2019-08-14 13:49] Simn opened #8639 "[display] too much stuff"
Toplevel completion currently sends insane amounts of data if there are some native libraries involved. While the compiler can handle that fine, consumers of the output may struggle quite a bit.

We have to look into filtering the results if the amount of display items exceeds X (configurable). The IDE can then re-request upon input change, and the compiler just has to re-filter.

The filtering it

[2019-08-14 14:06] RblSb commented on #8634
Agree that `if (foo = false)` mostly useless, but `if/while` for `(foo = bar)` bool comparison is fine case?

[2019-08-14 15:18] RealyUniqueName commented on #8631
Reduced:
[code]
[code]
[code]
[code]
So unless `SafeAst` is referenced directly in `--macro` its static values are not reset.
I didn't find a way to fix this. Probably we have to revert https://github.com/HaxeFoundation/haxe/commit/3a2371a8f2ede1447f40dc2dd28986965e5f2128

[2019-08-14 16:13] EricBishton commented on #8639
I'm going to throw a straw-man idea out here...

What if the filtering were user-defined?  Meaning, of course, tool-defined?  The filter could be passed in as Haxe code that can be eval-ed during display requests.

Advantages:
 - Always what the tool requires - no need to guess at the filtering strategy.
 - Reduce bandwidth (which we get with any reduction strategy).
 - Filters can be arbitrarily

[2019-08-14 16:22] Gama11 commented on #8639
That sounds incredibly over-engineered...

[2019-08-14 16:22] EricBishton commented on #8634
This is why old-time programmers learned to invert their tests (e.g. `if (false = foo)` obviously fails compilation).

IMO, this is a tool issue (e.g. `lint`), not a compiler issue.  The reason being that it is valid syntax, and by adding such a warning, you will be adding [potentially, a ton of] warnings that then will require a mechanism to suppress.  While it's nice for the compiler to find a b

[2019-08-14 16:37] EricBishton commented on #8639
Well, it's the (or one) natural evolution of the thought: this could be solved with a callback, but how do we get one into the compiler?

Like I said, I'm just trying to help think of solutions.  Be they bad, too complex, or whatever.  They should be rejected if better (or simpler) solutions present themselves.

[2019-08-14 17:57] CarlOlson commented on #7957
I cannot reproduce on tag `4.0.0-rc.3` or branch `development`. Although somewhat surprising, this does produce the null safety error:

[code]

[2019-08-14 18:24] #8159 closed, assigned to nobody

[2019-08-14 18:26] RealyUniqueName commented on #8159
Fixed by #8202

[2019-08-14 18:57] RealyUniqueName commented on #8580
Static `@:to` is actually intended to work with non-multitype abstracts to allow specialization of `@:to` methods based on type parameters: #1419
https://github.com/HaxeFoundation/haxe/blob/c60166a8272726b42fdc9f7858b3337ed8151f6e/tests/unit/src/unit/MyAbstract.hx#L107-L115

[2019-08-14 18:57] #8580 closed, assigned to nobody

[2019-08-14 19:26] #8588 closed, assigned to nobody

[2019-08-14 22:11] #5949 closed

[2019-08-15 06:24] peppydip opened #8641 "Listing files with FileSystem.readDirectory on Windows 10 and cpp:"
I wrote a short program:

import sys.FileSystem;

[code]
Compiling like this:

`haxe -main Main -cpp .`

I got:

Main.hx:5: Hello World
Main.hx:6: [,,,,,,,,,,]
Main.hx:7: [,,,,,,,,,,,,,,,,,]
Main.hx:8: [,,,,,,,,,,,,,,,,,,,,]

The amount of items in the array matches the amount of files in each directory.
What happened to the names?

[2019-08-15 06:28] RealyUniqueName commented on #8641
What are your Haxe and hxcpp versions?

[2019-08-15 07:17] back2dos commented on #7957
Well, for that one you'd have to perform escape analysis: If `foo` makes it out of the scope, then `s` may well become `null` again during its lifetime.

[2019-08-15 08:26] peppydip commented on #8641
haxe -version
3.4.4

haxelib version hxcpp
3.3.0

Is that the problem?

Hi RealyUniqueName :)
I like your name, it's very meta.
I'm returning to Haxe after a while.

[2019-08-15 08:29] peppydip commented on #8641
I am confused?

C:\my_storage\work>haxelib install hxcpp 4.0.19
You already have hxcpp version 4.0.19 installed

C:\my_storage\work>haxelib version hxcpp
3.3.0

C:\my_storage\work>haxelib update hxcpp
hxcpp is up to date

[2019-08-15 08:31] peppydip commented on #8641
Also, if there is a workaround or a solution please let me know. This is not critical to my project but it can make my code much more flexible.

[2019-08-15 08:43] RealyUniqueName commented on #8641
This is very strange.
Try `haxelib remove hxcpp` and `haxelib install hxcpp`

[2019-08-15 08:45] RealyUniqueName commented on #8641
Oh, wait. `haxelib version` just gives a version of haxelib itself. There is an issue: https://github.com/HaxeFoundation/haxelib/issues/451
To get a version of `hxcpp` you need to `haxelib list hxcpp`

[2019-08-15 08:50] peppydip commented on #8641
C:\my_storage\work>haxelib list hxcpp
hxcpp: [4.0.19]

Thanks! I haven't used Haxe in a while. I love it though. Especially appreciate, respect and full of gratitude for OpenFL.

[2019-08-15 09:41] RealyUniqueName commented on #8013
Related to #8479 because this issue needs `unify_min` to be able to modify expressions too (to change the type of an expression from `Array<Sub>` to `Array<Base>`).

[2019-08-15 09:42] RealyUniqueName commented on #8641
Try `haxelib install hxcpp 3.4.188`.
4.0.19 is probably for Haxe 4 only.

[2019-08-15 09:46] RealyUniqueName commented on #7837
Wha't the reason to not inherit constructors on extern classes?

[2019-08-15 09:54] peppydip commented on #8641
Thank you so much! That was the reason.

Oh, oops. That is what I got ([4.0.19]) with the default Haxe install.
It seemed to work okay. :)

[2019-08-15 09:55] #8641 closed, assigned to nobody

[2019-08-15 10:24] #7981 closed, assigned to nobody

[2019-08-15 10:31] RealyUniqueName commented on #8106
The same situation as with `undefined` on js target. Tracked in #3877

[2019-08-15 10:31] #8106 closed, assigned to nobody

[2019-08-15 13:11] #8088 closed, assigned to nobody

[2019-08-15 13:11] Gama11 opened #8643 "[display] too much stuff (2)"
Toplevel completion includes .hx files that are not part of the classpath, such as these unit test classes in a Flixel project (where flixel is installed from GitHub to actually include these files):

![](https://i.imgur.com/UW7c4vw.png)

This didn't happen with rc.3. Probably this means that `readClassPaths` now explores things it shouldn't / didn't used to?

[2019-08-15 13:14] Gama11 opened #8644 "[display] too much stuff (3)"
Toplevel completion includes the `jvm` package, even when on a completely unrelated target such as Neko:

![](https://i.imgur.com/9kJQAa3.png)

[2019-08-15 14:52] #8639 closed, assigned to Simn

[2019-08-15 14:55] Simn commented on #8643
Partially fixed by https://github.com/HaxeFoundation/haxe/commit/54a0466f598b4215ce742cec47816a7f8ecd21eb. Have to check the moduleCreated case still.

[2019-08-15 15:10] Gama11 commented on #8643
I don't think that fix was related to this issue? And there's no moduleCreated here.

[2019-08-16 10:19] Simn commented on #3397
I think we need a per-library flag for this. In the general case, we shouldn't default to `Dynamic` or anything else because an unbound type might be a legit error due to a missing library.

[2019-08-16 10:24] Simn commented on #7450
Regarding the actual new CLI argument, there's the need to configure some things per-library (e.g. a flag to ignore unknown types in #3397, or whether to include a native library in the output).

How about we allow JSON input for this new flag? It would be `--native-lib '{ "file": "lib/whatever.jar", "ignoreUnknownTypes": true, "includeInOutput": false }'`. We can still accept `--native-lib lib/wh

[2019-08-16 11:28] Simn commented on #4234
Coming back to this, I realize that using `ComplexType` doesn't make sense here. `Context.onTypeNotFound` is about types, not type _instances_ which is what `ComplexType` represents. Even `TypePath` isn't correct because it includes type parameters, which is again about type instances.

I think what we want here is a simple dot path, aka a String.

[2019-08-16 12:10] #3469 closed

[2019-08-16 12:10] #8080 closed, assigned to nobody

[2019-08-16 15:39] RealyUniqueName commented on #7450
Having to type json in CLI args makes me sad.
Can't we have `--native-lib-file`, `--native-lib-ignore-unknown-type` etc? Or `-D` flags?

[2019-08-16 17:11] RealyUniqueName commented on #8321
An error is emitted here because of `unify_int`:
https://github.com/HaxeFoundation/haxe/blob/5cb43a38ed4a6735395a0928b93e036ea9fbbfc4/src/typing/typer.ml#L1055
That `unify_int` attempts to unify `FloatTest` with `Int`, fails, adds an error to context, but still returns `true`
https://github.com/HaxeFoundation/haxe/blob/5cb43a38ed4a6735395a0928b93e036ea9fbbfc4/src/typing/typer.ml#L480-L481

[2019-08-17 05:57] #7801 closed, assigned to frabbit

[2019-08-17 06:41] Simn commented on #7450
How would that work in practice given that the setting is per-library?

[2019-08-17 07:25] #8644 closed, assigned to nobody

[2019-08-17 07:41] Simn commented on #8643
What exactly is the setup to reproduce this? I'm trying HaxeRepro with a `-lib flixel` in build.hxml and these files don't show up.

[2019-08-17 08:00] Simn commented on #8627
I find it very hard to reason about the combination of implicit casts and a type-based selection algorithm like operator overloads. So I'd default to not changing the behavior for now, unless somebody has a clear vision for how this should behave.

In either case, I think we should align operator overloads (including `@:arrayAccess`) with static extension resolution, which is another type-based se

[2019-08-17 08:20] #8534 closed, assigned to kLabz

[2019-08-17 08:41] ncannasse commented on #8209
Given this significantly improves user experience, I would like to push that for 4.0

[2019-08-17 09:07] back2dos commented on #7450
What's the relationship between the compiler arg and [`Compiler.addNativeLib`](https://api.haxe.org/haxe/macro/Compiler.html#addNativeLib)? Could we rely on adding optional args to the latter to handle the more complex use cases?

If that's not an option, I would suggest that the `--native-lib` may in fact be a JSON file, that contains the config (including relative path to the actual .jar/.dll (s

[2019-08-17 09:09] ncannasse commented on #8530
I'm on development, freshly recompiled but I'm still getting the error with the initial example.

[2019-08-17 09:15] Simn commented on #7450
I like the idea to allow `--native-lib lib/whatever.json`. That keeps the CLI clean and still allows to convey all the required information.

[2019-08-17 09:18] Simn commented on #8530
Works for me with this:

[code]

[2019-08-17 09:23] ncannasse commented on #8530
Forget about it, my "fetch and rebase" was ignored by tortoisegit, so while the changes were pull my branch was not up to date.

[2019-08-17 09:23] #8530 closed, assigned to RealyUniqueName

[2019-08-17 09:35] Gama11 commented on #8643
Not sure if `-lib flixel` is enough or if you need a proper Flixel project built with Lime. Did you install Flixel from GitHub so it actually has the test classes?

[2019-08-17 09:36] Simn commented on #8643
[code]

[2019-08-17 09:43] Gama11 commented on #8643
Hm.. well, actually I can reproduce it with a simple `-lib flixel` in HaxeRepro. The selected target doesn't really seem to matter.

[2019-08-17 10:24] #8564 closed, assigned to ncannasse

[2019-08-17 10:26] ncannasse commented on #8564
This was actually quite tricky : some leftover code from early HL dev days were looking up some map using register id ket, while the map index was v_id . It triggered the bug because substr had very low v_id that conflicted with registers :-/ at least, the code is faster now !

[2019-08-17 10:45] Simn commented on #8209
I'm not opposed to this in principle but worry about how exactly to implement it. Note that `--no-output` currently implies not running `--interp`, which is consistent but gets in the way here.

Your approach to only generate something if we parsed a file is too brittle either way. Consider something like this:

[code]

Dumb example of course, but it shows that output can change even if we never p

[2019-08-17 10:47] ncannasse opened #8649 "HL Version specification"
When compiling unit tests with `-D hl-ver=1.11`, I get the following:

[code]

I works correctly with `-D hl-ver=1.11.0` but I think it should work with both.

[2019-08-17 10:50] ncannasse commented on #8209
@Simn we're in the compiler cache context. In this case if Main is not changed the timestamp will stay the same. I'm not much talking about code compilation here, it's mostly about skipping code generation when no change has been made in compilation since last (already done) generation.

[2019-08-17 11:06] Gama11 opened #8650 "version() comparison with non-semver defines"
`#if (haxe >= version("foo"))` fails with `Invalid version string. Should follow SemVer` as expected. However, there's no such check for the LHS of the comparison.

Let's say somebody confuses the `haxe_ver` define with `haxe` (something which is probably going to happen a lot), all `version()` checks just seem to fail silently:

[code]

So there should be an error for when the define used in the

[2019-08-17 11:07] Simn commented on #8649
We discussed this before in #8297 and agreed to stick to the semver specification for this.

[2019-08-17 11:21] Gama11 commented on #8650
I wonder if there should be a special case for the `haxe_ver` / `haxe` case so something like "use the `haxe` define instead" can be added to a more general error message.

[2019-08-17 11:43] Simn commented on #8650
There's some wonky code in parserEntry.ml `eval`:

[code]

That inner `try` swallows the error which is raised by `cmp`. I tried fixing that but then I get a bad position for the error message.

[2019-08-17 11:46] Ilir-Liburn commented on #8627
This is how I see it: compiler doesn't respect (builtin) operator for String, e.g. lhs ("str:") should have priority here, not rhs (d). Anyway, it is strange to see extern class String mentioning concatenation using the '+' operator, yet there is no one defined for the String class. Maybe it's a time to make a String abstract type? (was afraid to speak this out loud)

[2019-08-17 12:02] Ilir-Liburn commented on #8427
[code]
should give an error. I don't understand why (10 : A) is supposed to call toInt() here, while it should call fromInt() actually, thus giving an error (A should be Int) because there is no fromInt().

You probably think (10 : A) should convert into Int because lhs is Int here, but then why converting 10 to A in the first place?

Edit: you convert (10 : A) in preparation for @:op(A+B) @:commu

[2019-08-17 12:28] Gama11 opened #8651 "[display] completion filtering doesn't work at the start of a function"
As expected, Haxe returns only 33 items in the `display/completion` request when invoking completion after `buffer` here (JS target):

[code]

However, at the start of a function, filtering doesn't seem to work at all, and it returns 1000 items.

[code]

This is possibly related to the `replaceRange` missing from the response in this case. @Simn had to work around something related to this earlier

[2019-08-17 12:35] ncannasse commented on #8649
I'm not talking about `#if version()` here. hl_ver is meant to select the API level, it should not include minor versions since minor versions does not modify the API.

[2019-08-17 12:35] ncannasse commented on #8649
Also, in all cases we should validate the input value.

[2019-08-17 12:35] nadako commented on #8649
(I think it's called "patch versions")

[2019-08-17 12:38] Gama11 commented on #8649
@ncannasse Well, it might be related if you want to be able to use `hl_ver` in `version()` checks. Or do you mean that `-D hl_ver=1.11` on the command line should just be turned into `1.11.0` behind the scenes?

[2019-08-17 12:42] ncannasse commented on #8649
I keep thinking that for both version() and other checks, 1.11 should be a synonym of 1.11.0, because it actually is, although semver fundamentalists doesn't seem to agree ;-)

[2019-08-17 12:43] ncannasse commented on #8649
Related discussion in #8650

[2019-08-17 13:43] #8650 closed, assigned to RealyUniqueName

[2019-08-17 14:03] RealyUniqueName commented on #8649
If that is allowed then
[code]
suddenly stops working after "1.11.1" release, which is confusing.

[2019-08-17 18:37] #8118 closed, assigned to nobody

[2019-08-17 19:22] RealyUniqueName commented on #7395
String is implemented in https://github.com/HaxeFoundation/haxe/pull/8331

[2019-08-17 19:24] RealyUniqueName commented on #5981
Fixed by #8344

[2019-08-17 19:24] #5981 closed

[2019-08-17 20:12] back2dos commented on #8321
Side note: the sign doesn't seem to matter here.

[2019-08-18 07:03] Simn commented on #8209
Right, the point I wanted to make (but didn't make with that example) is that we're equating "the compiler parsed something" with "the output changed". At the very least we should check that we actually typed something, i.e. the `type_module_hook` function in server.ml returned `None`.

[2019-08-18 09:29] ianharrigan commented on #8617
This seems to be a pretty minimal example (i just basically stripped out most of the stuff from hxWebSockets):

[code]

result:
[code]

[2019-08-18 09:50] Aurel300 commented on #8617
The error seems very similar to #8605, but there are no macros here?

[2019-08-18 10:06] Gama11 opened #8652 "[display] null items in CompletionResponse.items"
Requesting completion outside of a class results in a response with `null` items:

[code]

@Simn Was this perhaps intentional to preserve the index for `resolve` requests? If so, we never properly typed it as `Null<DisplayItem>` in `CompletionResponse`:

https://github.com/HaxeFoundation/haxe/blob/72ef1d389e1f1ae3fdbf8a9f6bf76d39774db23b/std/haxe/display/Display.hx#L434

However, rather than just

[2019-08-18 10:20] RealyUniqueName commented on #6150
`@:pure` meta is discarded here:
https://github.com/HaxeFoundation/haxe/blob/72ef1d389e1f1ae3fdbf8a9f6bf76d39774db23b/src/optimization/analyzerTexprTransformer.ml#L610-L611

[2019-08-18 19:27] RealyUniqueName opened #8654 "Type parameter + closure + inlines = invalid syntax tree"
Discovered while I was working on #5749
[code]
`$ haxe -main Main`
Here is a syntax tree for `f(get(i))` from the line with the comment above:
[code]
Changing `new Arr().set(f(get(0)))` to `f(get(0))` produces correct syntax tree.

[2019-08-18 19:54] RealyUniqueName commented on #8654
Syntax tree for `map` function:
[code]

[2019-08-18 21:38] RealyUniqueName commented on #8654
Reduced a bit more:
[code]
AST for `map`:
[code]
"-" lines - what it should be
"+" lines - what it actually is

[2019-08-19 00:57] rainyt commented on #8559
Is there any progress in this? Xcode cannot compile Chinese.

[2019-08-19 07:07] Simn commented on #6251
I think we should do something here for 4.0. I tried adding some more timers to the compilation cache handling and noticed a difference in overall processing time. I understand that timers can't be 100% free, but what we have at the moment is too expensive.

[2019-08-19 08:07] RealyUniqueName commented on #8559
We need a sample to reproduce. Screenshot cannot be fixed :)

[2019-08-19 08:28] RealyUniqueName commented on #6251
Why do we even run timers when `--times` flag is not provided?

[2019-08-19 08:32] RealyUniqueName commented on #6251
We can delay all calculations to the `report_times` and on new_timer/close just store start/stop times

[2019-08-19 08:46] ncannasse opened #8655 "Top down type inference with Map array access"
Top down type inference does not seem to work well with Map array access, see the following sample:

[code]

[2019-08-19 08:48] nadako commented on #8655
same as #6743 and #8038?

[2019-08-19 08:56] Simn commented on #6251
We could optimize the case where we don't care about timers at all, but I'm not sure if it's worth it. Timers should have minimum influence either way because otherwise they skew the results.

[2019-08-19 10:31] Simn commented on #8652
This isn't intentional. Those are supposed to be `class interface enum abstract typedef`.

[2019-08-19 10:40] Simn commented on #8652
@RealyUniqueName Could I hire your debug services for this one? The compiler is supposed to emit [this list](https://github.com/HaxeFoundation/haxe/blob/development/src/compiler/displayOutput.ml#L755) of keywords. They are [converted to `CompletionItem.t`](https://github.com/HaxeFoundation/haxe/blob/development/src/compiler/displayOutput.ml#L775) and then (via `fields_to_json`) [printed to JSON](h

[2019-08-19 10:42] Simn commented on #8651
The problem is that compiler understands this as a structure declaration:

[code]

[2019-08-19 10:44] Gama11 commented on #8652
Hmmm... I just remembered the language server internally replaces some display items with `null` to provide snippets for those keywords instead. So this might simply be a bug in the methods view (showing the data _after modification_ rather than what we actually got from Haxe).

[2019-08-19 10:46] Simn commented on #8652
Ah I see. I thought they were legit missing from completion, but there are indeed snippets for `class` etc.  showing up. I simply ignored those because that's what I usually do with snippets. In that case there's no Haxe problem here.

[2019-08-19 10:46] #8652 closed, assigned to Simn

[2019-08-19 10:46] Gama11 commented on #8652
Yeah, in the output channel the response looks good, sorry for the false alarm.

[2019-08-19 11:02] Aurel300 opened #8656 "Multiple interface extension with conflicting methods"
[code]

In the above, `FoobarImpl` causes an error: `Field boo has different type than in Bar`. Likewise, with `boo(a:String)`, the error is `Field boo has different type than in Foo`. There is no way to fulfill the requirements of both interfaces (maybe in `extern`s with overloads?) – perhaps the error should be reported at the location of `interface Foobar`?

[2019-08-19 11:10] RealyUniqueName commented on #8656
Maybe we should also consider `class FoobarImpl implements Foo implements Bar` while we're at it.

[2019-08-19 11:10] Simn commented on #8651
Fixed, needs a test still. It's a bit messy to test because it requires checking if filtering occurred.

[2019-08-19 11:13] Gama11 commented on #8651
Couldn't you just set a limit and check if the max number of items has been hit?

[2019-08-19 11:23] Simn commented on #8651
Yes that should work. Though we'll have to make sure that we use a filter name which is specific enough.

[2019-08-19 11:38] Gama11 opened #8657 "[display] not enough stuff"
With completion filtering, the following doesn't include `Stream`-related types (Java target):

![](https://i.imgur.com/Th6ay3p.png)

Somehow it works fine with `Stream` capitalized though, even though filtering should be case-insensitive:

![](https://i.imgur.com/Irt2A6Z.png)

Most likely it doesn't work here at all (similar to #8651).

[2019-08-19 11:46] Simn commented on #8657
This is a general problem with the parser not accepting lower-case identifiers as type-hints.

[2019-08-19 12:03] Gama11 opened #8659 "[display] filtering doesn't work after extends / implements"
No matter how specific the filter gets after `extends` / `implements`, Haxe always returns the same 1000 results:

![](https://i.imgur.com/p5Xix3G.png)

[code]

The response should only contain a single item when invoking completion after `StreamTokenizer`. Similar to #8657 and #8651.

[2019-08-19 14:13] Gama11 opened #8660 "[display] inconsistent go to definition behavior with `import as`"
[code]

When invoking go to definition on the type hint, it takes you to the `import` statement. However, when invoking it on the expression in the line below, it takes you to `Json.hx`.

I think the behavior should be consistent here (preferably taking you to the import in both cases).

[2019-08-19 14:42] #8575 closed, assigned to RealyUniqueName

[2019-08-19 19:58] #8654 closed, assigned to nobody

[2019-08-19 20:00] Simn opened #8661 "File paths in the compiler"
There's currently a bit of a mess with file paths. We use a plain `string` for them, which means we do not distinguish unique paths (used for lookups) from plain paths (from input).

Right now I'm looking at a problem where `"source/Main.hx"` arrives at `parse_file`, which ultimately makes it to `Lexer.init` where it is used in a `Hashtbl`. However, that makes any lookup using a normalized path (w

[2019-08-19 20:01] RealyUniqueName opened #8662 "Refactor inlining of function calls"
https://github.com/HaxeFoundation/haxe/blob/84f74018ca4b61f0aa0be4085ad64369d02ca474/src/optimization/inline.ml#L553-L563

https://github.com/HaxeFoundation/haxe/pull/8658#issuecomment-522609446

[2019-08-19 20:29] RblSb opened #8663 "[hl] hl.Bytes to String"
I think there is no simple way to do it on Haxe side, so hashlink bindings use `@:privateAccess String.fromUTF8(bytes)` (_std/String method).
https://github.com/HaxeFoundation/hashlink/search?q=fromUTF8
Want to request `Bytes.toString`/`Bytes.getString`/`Bytes.getUTF8` or something like that if there is no such method, thanks.

[2019-08-19 20:33] Aurel300 commented on #8663
`hl.Bytes` is a target-specific class, so it is "internal" and does not necessarily need to have a nice API. Perhaps it would make more sense for the string-outputting method to be on `hl.Bytes` rather than `String` though.

[2019-08-19 21:23] RealyUniqueName opened #8664 "[cs] Generated casts are not consistent sometimes"
[code]
[code]
Generated code for `main` function:
[code]
Both emphasized lines have the same types in AST. But generated types in cs are different.

[2019-08-19 21:32] RealyUniqueName commented on #8655
Yes.

[2019-08-19 21:32] #8655 closed, assigned to nobody

[2019-08-19 21:33] RealyUniqueName commented on #8603
Doesn't look like we need to do something here. Feel free to reopen if I'm wrong.

[2019-08-19 21:33] #8603 closed, assigned to nobody

[2019-08-20 00:27] rainyt commented on #8559
[Demo-haxe4.0.zip](https://github.com/HaxeFoundation/haxe/files/3518146/Demo-haxe4.0.zip)
Hi, I am willing to provide this sample. This is a sample of OpenFL. After running the command "lime build ios", you can see the error in XCode. @RealyUniqueName

Thank you.

[2019-08-20 00:42] rainyt commented on #8559
The compiled library version is:
openfl:8.9.1
lime:7.5.0
hxcpp:4.0.19

[2019-08-20 05:48] #8651 closed, assigned to Simn

[2019-08-20 05:48] #8659 closed, assigned to nobody

[2019-08-20 06:16] #8657 closed, assigned to nobody

[2019-08-20 06:16] back2dos opened #8665 "Discern string quote status in the AST."
IIRC the current way we represent the difference is quite messy. Since we've just landed a breaking change in `Expr`, it would seem to be a good opportunity to switch to explicitly marking single quoted string constants in the AST?

[2019-08-20 06:19] Simn commented on #8665
I agree. We have to break it in a way that it's still easy to have the "don't care" case. That should come down to having an additional optional argument on `CString`.

[2019-08-20 06:55] Simn opened #8666 "[server] Initialization status"
The compilation server currently has a single `initialized` flag which governs the class path exploration. This works fine for single contexts, but misses information if there are multiple contexts involved.

As an example, starting the server with a Hello World program and then adding `-lib flixel` to the build will cause completion requests to miss the flixel packages and types.

We should inste

[2019-08-20 07:10] Simn opened #8667 "[server] Lookup keys"
The server currently has multiple hash tables which are indexed by using the context signature:

[code]

I wonder if this is ideal for various reasons:

* Tuple keys use more memory
* Performing lookups requires allocation to create the tuple key ~They are stack-allocated, so there's no true allocation happening.~
* Obtaining all information of a specific signature requires iterating the entire co

[2019-08-20 07:26] RealyUniqueName commented on #8667
Sounds good. I have nothing to add. Except maybe common context is not the right place for it semantically since common context is not aware of compilation server.

[2019-08-20 08:51] #8666 closed, assigned to Simn

[2019-08-20 09:04] Simn commented on #8661
Meh, I can't really see a solution for this. Any attempt at pairing paths with their resolved full path (e.g. `(string * string Lazy.t)`) is pointless because we definitely don't want to change `pfile`. The only alternative would be to cache this in a hash table, and at that point it's doubtful that the memory overhead would be worth it.

[2019-08-20 10:55] #8664 closed, assigned to RealyUniqueName

[2019-08-20 11:19] RealyUniqueName commented on #8664
Was blocking #5749

[2019-08-20 12:30] RealyUniqueName commented on #3949
Blocks #5749
[code]
[code]
Generated cs for the failing line:
[code]
We need to generate `(int)(a.arr[0])` Instead of casting a native array itself.

[2019-08-20 12:37] Gama11 opened #8669 "[display] incorrect replaceRange when keywords are involved"
When the language server trusts the `replaceRange` from Haxe in `import` / `using` completion, this happens:

![](https://i.imgur.com/Gcn0a2F.gif)

The `replaceRange` includes the keyword.

[2019-08-20 12:41] Simn commented on #8669
Nice, I even put a `(* TODO: p is wrong *)` comment there and then forgot about it...

[2019-08-20 12:42] Gama11 commented on #8669
This seems to be a much more general issue:

- after modifiers like `private ` / `extern` on type level
- after `extends` / `implements`
- probably more

[2019-08-20 15:07] Gama11 opened #8670 "[display] unreachable code diagnostics"
Warnings for unreachable code were previously tried and deemed too annoying (https://github.com/HaxeFoundation/haxe/issues/4782, https://github.com/HaxeFoundation/haxe/issues/4744). However, I don't think there's any harm in reporting them in diagnostics so they can be grayed out by the IDE (a new `DiagnostisKind.DKUnreachableCode` and `DiagnosticsSeverity.Hint`).

[2019-08-20 19:40] Simn commented on #8669
I've dealt with the cases you've reported. There's still a problem with the filter string being missing on import/using, but the ranges should be correct.

Now we have to deal with the "probably more" part.

[2019-08-20 19:50] Gama11 commented on #8669
Completion for the `import` / `extends` keywords themselves doesn't work because the replace ranges are too big:

![](https://i.imgur.com/EDYxNdQ.png)

[2019-08-20 19:50] Gama11 commented on #8669
After abstract `to` / `from`, the end of the range is _before_ the start?!

![](https://i.imgur.com/3G8v2y7.png)

[2019-08-20 19:50] Gama11 commented on #8669
Sometimes the `replaceRange` is just `null`:

![](https://i.imgur.com/toKMhIc.png)

![](https://i.imgur.com/G2Q2oCQ.png)

[2019-08-20 19:55] Gama11 commented on #8669
`override` completion has the usual issue of including the keyword in the range:

![](https://i.imgur.com/ilWAfd5.png)

Also, filterString ` - display - `. :D

[2019-08-20 20:00] Gama11 commented on #8669
I guess field completion is broken too..

![](https://i.imgur.com/vqbgWzS.png)

[2019-08-21 03:06] Joncom commented on #6743
I probably don't understand the problem fully, and am oversimplifying things here, but...

Why not just make `[]` access on `Map`s literally just be syntax sugar that translates into a `Map` `.set` or `.get` call, and let those functions (which don't suffer from this problem) handle everything?

[2019-08-21 07:14] Simn commented on #8669
Fixed these cases too.

If you find more you can just post them as test code snippets like these:

[code]

[2019-08-21 08:48] Gama11 commented on #8669
Hmm.. completion for the `implements` / `extends` keywords doesn't seem to work anymore if there's already a trailing block:

[code]

![](https://i.imgur.com/SBUaEoT.png)

[2019-08-21 08:59] Gama11 opened #8671 "[display] display/package no longer works"
When creating a new file, the language server calls `display/package` to auto-insert the package statement, but the requset now fails with the following:

[2019-08-21 09:05] Gama11 commented on #8669
Seems like you forgot about the `override` completion case?

[code]

[2019-08-21 09:10] Gama11 commented on #8669
Type path completion doesn't work properly in some places because of a missing `filterString`:

[code]

[code]

[2019-08-21 09:12] Gama11 commented on #8669
The replace range for typedef assignments is off, but only if there's a trailing newline?!

[code]

[2019-08-21 09:38] Gama11 commented on #8669
Completion in type params also has an incorrect replace range.

[code]

[2019-08-21 09:39] Gama11 commented on #8669
Completion in type hints has no replace range at all:

[code]

[2019-08-21 10:32] RealyUniqueName commented on #3949
I kind of "fixed" this for `NativeArray` specifically. But fixing it in general seems impossible.

[2019-08-21 11:24] Simn commented on #8669
Fixed all cases except the type path handling. That one could be a bit trickier because the completion handling is "special".

[2019-08-21 12:15] Gama11 opened #8672 "[display] extends / implements / new filtering still applies in type params"
I found this while verifying fixes for #8669, but it's unrelated to the recent changes and has probably been an issue from the start.

Requesting completion for type parameters after `implements` still filters the result to only contain interfaces, which is incorrect:

![](https://i.imgur.com/hWYp9o9.png)

[code]

Same issue with `extends` and `new`.

[2019-08-21 12:15] RealyUniqueName opened #8673 "UnicodeString.fromCharCode()"
Should handle codes even outisde of BMP.
But first check if `String.fromCharCode()` already does that.

[2019-08-21 12:40] rainyt commented on #8559
I wander if my demo can help you? @RealyUniqueName

[2019-08-21 12:51] Gama11 opened #8674 "[display] hover reports type parameters as classes"
This type parameter is printed as a `class` because Haxe reports `item.args.kind` as `DisplayModuleTypeKind.Class`.

![](https://i.imgur.com/mBOchkB.png)

[code]

It would be more fitting `DisplayItemKind.TypeParameter` instead of `Type`, which would solve this. Hover probably doesn't use that because it was added relatively late.

[2019-08-21 13:17] Gama11 opened #8675 "[nullsafety] indirect null checks"
It seems like the following should compile:

[code]

[code]

[2019-08-21 13:22] nadako commented on #8675
Does that compile with the optimizations turned on? :)

[2019-08-21 13:26] Gama11 commented on #8675
Nope.

[2019-08-21 13:29] Gama11 commented on #8066
So #8159 works now, which is nice, but completion still doesn't work in `macro.hx` files:

![](https://i.imgur.com/ypEJB09.png)

[2019-08-21 14:06] RealyUniqueName commented on #8559
Thanks for the demo. I didn't have a chance to check it yet.
Also, I don't have a mac atm. Maybe @Aurel300 could check this issue before I setup a mac box.

[2019-08-21 14:17] Simn commented on #8674
I'm not sure what the scope of this is and it seems very low priority, so I'd prefer to not change this for the time being.

[2019-08-21 15:45] RealyUniqueName commented on #8673
It's even tested
https://github.com/HaxeFoundation/haxe/blob/40f43c957480753001e69802d08b0f0dcf95d491/tests/unit/src/unitstd/Unicode.unit.hx#L4-L12

[2019-08-21 15:45] #8673 closed, assigned to nobody

[2019-08-21 15:48] Gama11 commented on #8673
Hm... does that mean that some `String` methods have full unicode support, while others don't? If so, that should probably at least be mentioned in the `fromCharCode()` docs.

[2019-08-21 15:51] RealyUniqueName commented on #8673
That depends on a target. E.g. for php all String methods have full unicode support.

Maybe `UnicodeString.fromCharCode()` still should exist as an alias for `String.fromCharCode()`

[2019-08-21 15:52] Gama11 commented on #8673
So there's no `fromCharCode()` with full unicode support on PHP?

[2019-08-21 16:50] RealyUniqueName commented on #8673
`String.fromCharCode()` has full unicode support on all targets

[2019-08-21 18:47] #8665 closed, assigned to Simn

[2019-08-21 20:32] Simn opened #8677 "[parser] float_of_string exception in weird conditionals"
[code]

Fails with `Error: float_of_string`.

[2019-08-22 02:31] RblSb commented on #7866
Found that in Strict/Loose mode:
[code]
Is this a bug?
Also, maybe this case should works fine with Loose?
[code]
http://try-haxe.mrcdk.com/#0E661

[2019-08-22 07:04] RealyUniqueName commented on #7866
Yes

Yeah, since field access works in Loose mode I don't see a reason for array access to not work in the same situation.

[2019-08-22 09:31] Aurel300 opened #8678 "Array.each"
Now that `map` cannot be used with a `Void`-returning function, let's have a `each` (or `forEach`).

[code]

[2019-08-22 09:42] #2689 closed

[2019-08-22 11:52] Aurel300 commented on #8263
I also think supporting `static` unserialisation functions is the way to go. If you happen to be unserialising anything with a parent class, there is no way to call its constructor. E.g.:

[code]

So any initialisation that is done in the super-constructor either needs to be replicated, or moved around such that it is in a separate function, callable from the unserialisation function, which introd

[2019-08-22 16:18] Aurel300 commented on #8559
Stripping away the lime stuff, i.e.:

[code]

This compiles fine for me on OS X. The C++ output includes:

[code]

Which is what seems to be causing the error in the original post. The error itself complains about an invalid token: `u"\x5742"`. Unicode string literals were added in C++11. I wonder if your Xcode is set up correctly? See [this answer](https://stackoverflow.com/a/7791906).

[2019-08-22 16:23] Gama11 commented on #8678
Considering we've been waiting on `Array.contains()` since at least 2014 (https://github.com/HaxeFoundation/haxe/issues/3323) because of reflection / `Dynamic`, this doesn't seem like something that can be added as an inline method just like that.

Also, some would say this encourages bad style, a famous blog post on the topic:
https://blogs.msdn.microsoft.com/ericlippert/2009/05/18/foreach-vs-for

[2019-08-22 16:40] Aurel300 commented on #2550
Could we re-open this? There is `array.resize(0)` on arrays. Additionally `map.clear()` is a lot more useful for `final` map instances.

[2019-08-22 16:44] nadako commented on #2550
pls deliver:)

[2019-08-23 06:07] Simn opened #8682 "Diagnostics vs. macros"
[code]

The `import haxe.macro.Expr` is currently marked as unused by diagnostics. The reason for that is that the module is never typed in macro context, so the typer never marks the `e:Expr` usage of the import. Commenting in the `test(null)` fixes this.

In the general case, we cannot type the display module in macro-mode because there's a high chance that it would error (any `import js.Whateve

[2019-08-23 06:21] Simn commented on #8682
Actually, diagnostics is already supposed to force macro typing anyway, so there must be something going wrong there.

[2019-08-23 06:32] sonygod opened #8683 "Map:Uncaught exception: assert"
Does it seem Map does not support multiple threads? or can break loop check?

Haxe 4.0 rc3  target:Hashlink

[code]

Uncaught exception: assert

[code]

[code]

[2019-08-23 06:34] Simn commented on #8682
Example for the second problem:

[code]

It's important that this module has no `macro` functions because then it would be typed in macro context anyway (after my fix).

[2019-08-23 06:35] #8682 closed, assigned to Simn

[2019-08-23 09:19] #7958 closed, assigned to nobody

[2019-08-23 09:39] Gama11 opened #8684 "[display] include additional DisplayItemKind.Define fields"
We added `DisplayItemKind.Define`, but it's not reporting this additional info yet:

https://github.com/HaxeFoundation/haxe/blob/06d39d623f3c83b7f3d1b0e6b18520b7da6634c6/std/haxe/display/Display.hx#L298-L301

That has to be merged in from the info in `define.json` for defines that are included there.

[2019-08-23 09:43] Gama11 opened #8685 "[display] null hover result for #if / #else ..."
Hovering over `#if` etc currently returns hover ranges for the entire block:

![](https://i.imgur.com/GwOE0OF.png)

Instead, this should return a `null` / `None` result so no hover is shown.

[2019-08-23 09:48] Simn commented on #8684
We should design this in a way that supports future custom additions, e.g. if a framework wants to register its defines. This should be a matter of keeping a hashtable with the necessary information around.

[2019-08-23 09:51] Gama11 commented on #8684
It would also be nice to show some hover message for library defines, but I guess Haxe doesn't really know that library defines _are_ library defines / some tools pre-process `-lib`...

[2019-08-23 09:53] Gama11 opened #8686 "[display] #if / #else etc completion"
We should include `#if` etc in completion as `DisplayItemKind.Keyword`. `#` should work nicely as a trigger character on the language server side.

[2019-08-23 09:55] Gama11 opened #8687 "[display] parserEntry errors are missing from diagnostics"
I noticed that there's various errors in `parserEntry` that diagnostics don't show, such as:

[code]

So full diagnostics coverage requires more than just https://github.com/HaxeFoundation/haxe/issues/7931 after all.

[2019-08-23 10:04] Gama11 opened #8688 "Stream.Failure with unclosed ~ in conditional"
Found this while trying to force some errors for #8687:

[code]

[2019-08-23 10:08] Gama11 opened #8689 "[macro] apply reserved_flags / reserved_flag_namespaces checks to Compiler.define()"
Currently you can define flags that are reserved on the command line via `haxe.macro.Compiler.define()`, which seems like an oversight.

[2019-08-23 10:15] Gama11 commented on #8066
Actually, it looks like some of @Simn's recent changes must have fixed this case too. \o/

![](https://i.imgur.com/eWYSyCb.png)

It even works with no conditionals at all. So I guess all that's left to do is adding some tests.

[2019-08-23 10:24] RealyUniqueName commented on #8689
Also `$ haxe build.hxml -D js=wat` does not emit an error

[2019-08-23 15:04] Gama11 opened #8691 "genswf9 warnings with ocaml 4.08"
This might point to some bug.

[code]

[2019-08-23 21:46] mockey opened #8692 "Is ocaml 4.02 still supported?"
Trying to compile current version I get the error:
`Uninterpreted extension 'sedlex.regexp'`
which seems to come from sedlex < 1.99.4, but sedlex 1.99.4 needs ocaml >= 4.03.

[2019-08-23 22:24] mockey commented on #8692
Ah, my old opam version was the problem.
With opam 2.0.4 I can install sedlex 2.1 with ocaml 4.02.3. Compiles now.

[2019-08-23 22:24] #8692 closed, assigned to nobody

[2019-08-24 00:11] Gama11 commented on #8685
Actually, hover over #if should probably show whether the condition after it evaluates to true or false.

[2019-08-24 06:25] sonygod opened #8693 "performance is very slowly when use Regular Expressions ?"
when I run this code to js target, it uses less than 210MS, but hl target is freezing.

[code]

[2019-08-24 07:54] Simn opened #8694 "Missing cache dependency on swf-lib"
[code]

With:

[code]

I'm now seeing this:

![Code_2019-08-24_09-51-44](https://user-images.githubusercontent.com/634365/63634304-d08d8980-c654-11e9-86ca-5b38e9a58ecf.png)

This means that `IContext` has no dependency on `IModuleContext` as far as Haxe is concerned. I'm not sure how much of a problem this is in practice, but it's certainly not good.

@nadako Can you check the new leaks informatio

[2019-08-25 08:08] Joncom opened #8695 "Feature Request: Function Signature Overloading"
Would be nice to be able to write Haxe like:

[code]

And to have compile-time type safety that ensures only valid arguments (either a `String` or an `Image`) get passed to `setImage`.

Probably this would compile to two separate `setImage` functions, and the compiler would decide (at compile time) which function gets called based on the signature, so there shouldn't be any runtime performance pen

[2019-08-25 08:14] Simn commented on #8695
This would have to go through https://github.com/HaxeFoundation/haxe-evolution. Note that we are unlikely to add overload support in general as it comes with a huge complexity. What could be considered is inline-only overloads.

[2019-08-25 08:14] #8695 closed, assigned to nobody

[2019-08-25 08:18] Gama11 commented on #8695
Note that there already was a proposal for this: https://github.com/HaxeFoundation/haxe-evolution/pull/14

[2019-08-25 09:07] Gama11 opened #8696 "[display] progess notifications for readClassPaths"
Now that the initialized flag is cleared when classpaths change, `readClassPaths` can end up being executed at the start of a completion request. Since the client didn't explicitly invoke `readClassPaths`, it can't display a progress indicator as it usually does and the user might be wondering why completion takes much longer than usual.

We could have some generic `progress/start` + `progress/don

[2019-08-25 09:20] Gama11 commented on #8696
Hm.. we could also have a notification sent from the client to Haxe when arguments change, which would allow running `readClassPaths` sooner (etiher Haxe doing it immediately in response to that or the client invoking it).

[2019-08-25 11:07] Simn commented on #8694
This was a false positive from `cl_descendants` which we reset for a module's dependencies, but not the module itself. Fixed by https://github.com/HaxeFoundation/haxe/commit/62885cde82c1d73cba1acda7ddf88cc9871d7f2f

[2019-08-25 11:07] #8694 closed, assigned to Simn

[2019-08-25 11:18] Gama11 opened #8697 "Range of "can only extend structures" errors"
[code]

gives (as expected):

However, the range is a bit excessive, ideally only `String` would be underlined:

![](https://i.imgur.com/MM9BO8f.png)

[2019-08-25 11:21] Simn commented on #8275
I've been dealing with memory-related problems the last couple days and have come to the conclusion that our typed AST is quite heavy memory-wise. It should be worthwhile to investigate a binary format which we could store instead.

For context (64-bit system):

There should be ways to serialize this very efficiently. The expression kind can be encoded as a single byte, and we can keep track of po

[2019-08-25 12:28] Simn commented on #8696
Please check if this sends you what you want it to send you.

[2019-08-26 10:46] eminfedar opened #8698 "Clipboard support"
For example in C#, you can copy the text of a textbox to the Clipboard by this command:
[code]

I couldn't find a thing about it in haxe.

How to copy a text or something in haxe to OS's Clipboard?
Or is there anything for it?

[2019-08-26 10:50] Aurel300 commented on #8698
I guess this is technically a sys API, but I don't know that many of our sys targets support it without additional libraries. Python has OS-specific solutions or e.g. TkInter. Java has awt. C++ would need OS-specific implementations. I don't think PHP has anything … etc.

So this is not easily supportable.

[2019-08-26 10:56] Simn commented on #8698
This is out-of-scope for the Haxe standard library.

[2019-08-26 10:56] #8698 closed, assigned to nobody

[2019-08-26 11:15] Gama11 commented on #8275
This sounds like something that could potentially be used for more or less instant language server startup in the future too, if the cache is dumped to and loaded from disk. :)

[2019-08-26 13:31] sonygod opened #8699 "Hl performance issues"
just compare this code run in Neko and HashLink

Neko target only cost <1% CPU

![image](https://user-images.githubusercontent.com/748320/63694342-ccc25880-c848-11e9-9d1b-57e0961f0a35.png)

but HashLink cost more than 99% cpu.

![image](https://user-images.githubusercontent.com/748320/63694264-9dabe700-c848-11e9-9edc-1cc481243c1b.png)

       package;
	import haxe.MainLoop;

	using Lambda;

	class

[2019-08-26 13:32] sonygod commented on #8699
Linux Ubuntu  18.04

![image](https://user-images.githubusercontent.com/748320/63694408-fa0f0680-c848-11e9-8f94-8c4f3bb3434c.png)

[2019-08-26 13:33] Aurel300 commented on #8699
It looks like HL is busy-waiting there. Will be fixed with new threads in 4.1.

[2019-08-26 13:35] sonygod commented on #8699
@Aurel300  will you fix as soon as possible? because current our game server uses hl as the Main target.

[2019-08-26 14:23] Simn opened #8700 "enum abstract type parameters are not applied correctly"
[code]

Dump:

[code]

Note the `[Cast:JsonTypeKind<JsonTypeKind.T>]`.

The type parameter is supposed to be monorphed on-access like we do for real enum fields. The issue is that we basically have a type parameter on a static variable, which is something the compiler doesn't know how to deal with.

[2019-08-26 14:58] #8677 closed, assigned to nobody

[2019-08-26 16:15] Aurel300 commented on #8699
I can't see what the bug really is. The `sys_sleep` implementation in HashLink seems fine, not busy-waiting. Could be related to `MainLoop` @ncannasse

[2019-08-26 17:38] jonasmalacofilho commented on #8699
The issue seems to be on the main thread.

No idea what goes on there, but taking a quick look I see that `MainLoop` (or more specifically `EntryPoint`) calls `Lock.wait` and busy waits there.

[code]
—[`/std/hl/_std/sys/thread/Lock.hx#L33`](https://github.com/HaxeFoundation/haxe/blob/2398ac5c57194ab9477ca0109cb85a7c39a485f0/std/hl/_std/sys/thread/Lock.hx#L33)

Another thing I noticed is that `Mai

[2019-08-26 17:40] benmerckx commented on #8591
How about a reference to the constructor/self? Would allow js side to do:
[code]
Edit: just realized this wouldn't fly in Typescript because it needs a constant type to switch over

[2019-08-26 19:41] Geokureli opened #8702 "Optional params on inline constructor gives odd error on classes with Type Parameters"
The following works in 3.4.7 but fails in 4rc3 and the latest nightly build.
[code]
Getting the error:
```Test.hx:6: characters 17-34 : (?someBool : Bool) -> Void should be Void -> Void```

[2019-08-26 19:43] Aurel300 commented on #8702
I think it should be:

[code]

For that call to work. (Note the question mark.)

[2019-08-26 19:47] Geokureli commented on #8702
@Aurel300 That works in the latest nightly build here: http://try-haxe.mrcdk.com/#58fE7
it does not work on rc3, and this still seems like a bug. why is the `?` needed when the constructor is inlined?

[2019-08-26 19:51] Geokureli commented on #8702
Wait, my last statement was wrong, it fails with the `?` on the latest nightly as well

[2019-08-26 19:52] Gama11 commented on #8702
@Aurel300 Optional arguments and arguments with default values are not the same thing.

[2019-08-26 20:02] ncannasse commented on #8649
@RealyUniqueName true, but I don't see how using 1.11.0 will fix something.

OTOH, we could argue that `version("1.11")` means actually `1.11.*` so both `1.11.0` and `11.11.1` are `<=` to `version("1.11")`

[2019-08-26 20:09] RealyUniqueName commented on #8649
It's explicit, thus less confusing.

that was discussed in #8297

[2019-08-26 20:14] ncannasse commented on #8667
While we're at it we could maybe have a int type for the signature index (into all signatures found so far) so the lookup by signature is even faster. That should not leak much.

[2019-08-26 20:15] ncannasse commented on #8667
or another way is to store the "latest" found cache (with current signature) and only fetch it if the signature has changed

[2019-08-26 20:27] ncannasse commented on #8683
No data structures are thread safe in Haxe, you must protect their access with proper locks.

[2019-08-26 20:27] #8683 closed, assigned to ncannasse

[2019-08-26 20:41] ncannasse commented on #8699
Yes I confirm the issue comes from invalid sys.thread.Lock implementation in HL.
Fixing it would requiring porting the lock_* primitives from neko here (https://github.com/HaxeFoundation/neko/blob/master/libs/std/thread.c#L336) to HL sources here (https://github.com/HaxeFoundation/hashlink/blob/master/src/std/thread.c)

[2019-08-26 20:46] ncannasse commented on #8649
I keep thinking that the outcome of #8297 was not a good idea.
Most of the version checks are wrt major or minor, it is very rare to have to version against patch versions. Yet we made patch version mandatory, although 0 about 99% of the time, with issues such as the one I'm writing here (invalid user input)

[2019-08-26 21:26] #8146 closed, assigned to nobody

[2019-08-26 21:42] #7672 closed, assigned to Simn

[2019-08-26 21:42] #5952 closed

[2019-08-26 21:42] #8700 closed, assigned to Simn

[2019-08-27 01:19] sonygod opened #8703 "Neko trace not support utf-8?"
Neko trace not support utf-8?

![image](https://user-images.githubusercontent.com/748320/63733652-bef1ef00-c8ab-11e9-8366-ce401739bd24.png)

this character  is wrong.

[2019-08-27 01:24] sonygod commented on #8703
maybe this priority is low.

[2019-08-27 01:37] sonygod commented on #8699
@ConstNW  will you have a look this issue?

[2019-08-27 07:41] #5646 closed

[2019-08-27 07:41] #6198 closed

[2019-08-27 07:49] Simn commented on #6769
[code]

The decision tree output tells us what is going on here:

[code]

The two `Success` cases are folded into one and thus considered "unguarded". The `<fail>` then occurs inside the guard expression, and we generally ignore these failures.

[2019-08-27 08:04] Simn commented on #6769
In contrast, this is a case that shouldn't fail:

[code]

[code]

We again have a guard which has `<fail>` in its else-case. The only real difference is that this happens inside a case which belongs to an infinite toplevel switch set.

This suggests that instead of keeping track of whether or not we're "toplevel", we should track if we "expect exhaustiveness" and only error if we do.

[2019-08-27 08:53] Aurel300 commented on #8703
We can't tell which characters are wrong there, and it would be better if you had a simpler example with a code sample. Is it simply a `trace` with a constant Unicode string argument? Does the string come from the database?

Neko is officially not meant to be Unicode compliant. However, it's strings are binary, which means if you get a valid Unicode string and print it, it should probably work. Yo

[2019-08-27 09:48] Ilir-Liburn opened #8704 "Compiler hanging on invalid @:from (2) and a feature proposal"
[code]

Related to #8588. Opening new issue because of the proposal. Notice use of inference to resolve a type by calling @:from function directly. Would be possible to have this for implicit cast?

[code]

So that type could be resolved without using a type parameter. That could "justify" why Dynamic can be used without type parameter and possible have other uses in a future.

[2019-08-27 09:52] Simn commented on #3054
I want to break this, anyone disagree?

[2019-08-27 10:35] Simn commented on #3054
Never mind, this is too much of a mess.

[2019-08-27 10:35] #3054 closed

[2019-08-27 11:04] Simn commented on #8691
Note that this isn't a bug: The partial function is applied, but the function it returns is never called which leads to this error. I've found that `ignore()` doesn't shut this up, so I don't know what to do with this at the moment. Might have to ask in the OCaml community how to handle this specific case.

[2019-08-27 12:14] Aurel300 commented on #8704
Why not

[code]

?

[2019-08-27 12:41] Ilir-Liburn commented on #8704
You mean
[code]
?

[2019-08-27 12:46] Aurel300 commented on #8704
Oh right, I thought you were suggesting `{value: ..., type: ...}` as a special syntax. `Under.from(...)` doesn't seem to me to be too much to write, might not be enough of a reason to introduce a new feature for this.

[2019-08-27 14:21] RealyUniqueName commented on #8589
I debugged this for a bit.
It indeed looks like at some point after `gencommon` transformations unrelated types get unified.
The error in that sample comes from
https://github.com/HaxeFoundation/haxe/blob/6138b295a2deedf50a1b953b8a05e5fa87e8fff0/src/codegen/gencommon/castDetect.ml#L703-L715
It didn't happen in Haxe 3.4, but is already reproducible with 4.0-rc.3.
Didn't check versions inbetween. So

[2019-08-27 14:26] kLabz commented on #8589
First rough "bisect": it happened between preview 4 and preview 5 (yeah that's only 490 commits o/)

Current range: https://github.com/HaxeFoundation/haxe/compare/1e3e5e0...45d662c

[2019-08-27 14:31] Gama11 commented on #8697
I have some local changes that pretty much fix this:

![](https://i.imgur.com/1HRDgMJ.png)

There's one case that might be slightly questionable - if neither LHS nor RHS are structure types, it might be more fitting to underline both as previously? Not sure if that's worth worrying about?

![](https://i.imgur.com/zv9m4Dh.png)

[2019-08-27 14:49] kLabz commented on #8589
@RealyUniqueName the warning goes away when reverting 0c8ce47bb0ffff82af3151a969315df1cff4f9cf. Not sure how to fix #6635

[2019-08-27 15:22] Gama11 commented on #5709
This doesn't seem to reproduce anymore.

[2019-08-27 15:34] #8697 closed, assigned to nobody

[2019-08-27 15:37] #8704 closed, assigned to nobody

[2019-08-27 15:38] RealyUniqueName commented on #8704
I agree with @Aurel300 it doesn't worth introducing a new feature.

[2019-08-27 16:00] RealyUniqueName commented on #8589
Thanks! I'll continue from there

[2019-08-27 16:26] RealyUniqueName commented on #8368
I'm reverting the fix, because it makes us to add more and more hacks. We will look for a better solution.

[2019-08-27 16:28] #8631 closed, assigned to nobody

[2019-08-27 17:19] Ilir-Liburn commented on #8704
Just crossed my mind while thinking about multitype abstract

[code]

Made me wondering why is @:multiType used to mark abstract as multitype, while it's enough to use new() without a body to do so. Then I was wondering why is @:to used to return multitypes,  why not @:from (cast will work). And finally, why is @:from always just casting a value of the argument, even if null is returned like in ab

[2019-08-27 17:49] Gama11 commented on #5002
Does it make sense to do this check during decoding in `macroApi`?

[2019-08-27 17:53] Simn commented on #8368
Here's my preliminary conclusion on what goes wrong in general:

## Compilation 1

### signature A
* An init macro causes a type to be loaded in typing context, let's call that type `Ref[A]`.
* An init macro calls `Compiler.define`, which causes a signature change (hxnodejs does this).

### signature B
* Typing continues, a type `Type[B]` is loaded and references `Ref[A]`, which causes `Ref[A]` to

[2019-08-27 17:58] Simn commented on #5002
I'm still not convinced this should be checked at all, but if anything this should be handled during typing. Maybe all the places where we check for that leading `$`.

[2019-08-27 18:06] Gama11 commented on #5002
Well.. to me it seems like a pretty big hole in the type safety of the macro API. In a way it's almost as if identifiers are dynamically typed. Effectively this makes macro-generated code less type safe than regular Haxe code, which is a strange disparity.

Edit: maybe "type" safe is the wrong term here.. anyway you get the point. :)

[2019-08-27 18:08] hoseyjoe commented on #8314
There hasn't been any motion on #4872.  Simon said, in Dec 2018, that it was moved to 4.1 release. So I am assuming it might get looked at after 4 is official?  So best case 6 months to a year?  I am just trying to evaluate how much patching I have to do in the short run and I appreciate everyone's work/information

[2019-08-28 01:18] sonygod opened #8709 "MainLoop Uncaught exception"
Uncaught exception: Null access
    Called from @0x40622200
    Called from haxe.$MainLoop.sortEvents(C:\HaxeToolkit\haxe\std/haxe/MainLoop.hx:136)
    Called from haxe.$MainLoop.tick(C:\HaxeToolkit\haxe\std/haxe/MainLoop.hx:165)
    Called from haxe.$EntryPoint.processEvents(C:\HaxeToolkit\haxe\std/haxe/EntryPoint.hx:99)
    Called from haxe.$EntryPoint.run(C:\HaxeToolkit\haxe\std/haxe/EntryPoint

[2019-08-28 05:56] sonygod commented on #8709
Unable to reproduce，so close.

[2019-08-28 05:56] #8709 closed, assigned to nobody

[2019-08-28 06:49] kevinresol opened #8710 "[js] Unable to @:expose static var"
rc3

[code]

[code]

`method` is exported but `field` is not

[2019-08-28 09:34] Simn opened #8711 "Restore memory insepection"
So I don't forget: Both `--display memory` and `"server/memory"` are currently not working. I have to adapt the implementation to the new cache structure.

Which makes me wonder if we should look into a more lazy approach for the `"server/memory"` inspection. At the moment it does a lot of work, which can take a long time in large codebases. I'm not sure how to do that without breaking vshaxe comp

[2019-08-28 09:39] Simn commented on #8667
We now reference the cache in the `common` context. This goes through a lookup while we're setting up (reading CLI args and executing init macros), and is then locked in place once we're sure that the signature doesn't change anymore.

[2019-08-28 09:39] #8667 closed, assigned to Simn, ncannasse, RealyUniqueName

[2019-08-28 10:51] #8710 closed, assigned to nobody

[2019-08-28 11:20] Gama11 opened #8712 "[typer] VUser arguments and variables named `this`"
During #8708 I found that there's `VUser` locals from abstracts named `this` (both in `type_vars` and `type_function`), which required an exception to be made in the local variable name checks.

These should use `VGenerated` or some other new kind.

[2019-08-28 12:14] #5002 closed

[2019-08-28 13:55] markknol opened #8713 "[js] Trace on Haxe 4"
Would it be possible (or preferable make this default again) to not put position information in the first argument of `console.log` when using `trace`?

When doing: `trace("Haxe is great!")`  :
* Haxe 4 does `console.log("root/program/Test.hx:3:","Haxe is great!");`
* Haxe 3 did `console.log("Haxe is great!");`,

Haxe 4 traces can become unnecessary long if you have deep packages.
I consider the c

[2019-08-28 13:57] kLabz commented on #8713
I disagree with this, I prefer current default over haxe < 4 behavior.

[2019-08-28 14:07] markknol commented on #8713
I disagree because you now see the same information double, at least in my browser. This is exactly where sourcemappings are for.

![image](https://user-images.githubusercontent.com/576184/63863105-f648c480-c9ad-11e9-96ae-c8bc856c80f8.png)

[2019-08-28 14:10] kLabz commented on #8713
Not everyone use sourcemaps, and what about nodejs? Other browsers?

[2019-08-28 14:12] dpomier commented on #8713
Maybe we could have something like the following in `hxml`?
[code]

[2019-08-28 14:18] markknol commented on #8713
Firefox devtools supports it too
![image](https://user-images.githubusercontent.com/576184/63863551-b46c4e00-c9ae-11e9-9e21-0b44371bc1c6.png)

For nodejs, in chrome you can use `chrome://inspect` (or Edge uses `edge://inspect`) and run node with `--inspect`, I thought that also just uses sourcemapping.

[2019-08-28 14:21] nadako commented on #8713
I really like the current behaviour when writing for node.js because I can click on the trace and have my editor go to its call point :)

[2019-08-28 14:23] markknol commented on #8713
I wouldn't mind if this was a flag, so that extraparams.hxml of nodejs have `-D trace_positions` or something.

[2019-08-28 14:27] kLabz commented on #8713
It's the default behavior for all targets so I would expect a flag to _disable_ positions, not to enable them. As for extraparams of hxnodejs, again, not everyone use sourcemaps.

[2019-08-28 18:42] Simn opened #8714 "`m_type_hints` is bad"
We currently persist `m_type_hints : (pos * t) list` in modules, which has some downsides. I don't think it leaks types because anything in there should also be set as a dependency. However, it causes problems with my serialization attempts because that `t` could reference type parameters, which cannot be resolved without context.

It also causes confusion with memory diagnostics because there's a

[2019-08-28 19:13] #8714 closed, assigned to Simn

[2019-08-28 22:11] Gama11 opened #8715 "Excessive casts with abstracts over Int"
AST dumps of classes using abstracts over Int show a lot of redundant casts, here an example from Lime's `ImageDataUtil`. It's enough that it might even have a noticable impact on cache size:

![](https://i.imgur.com/g66GhNu.png)

And a screenshot of a non-pretty dump from @nadako:

![](https://i.imgur.com/SyvncWc.png)

@Simn said there should be a filter to clean these up.

[2019-08-29 02:26] sonygod opened #8716 "[Neko] UInt error"
[code]

[2019-08-29 02:30] sonygod commented on #8716
because Hl has a performance issue, so I want to change to Neko target and found this bug.

[2019-08-29 02:56] sonygod commented on #8703
[code]

![image](https://user-images.githubusercontent.com/748320/63906756-a4567c00-ca4b-11e9-97b9-6dc4776c825b.png)

[2019-08-29 03:09] sonygod commented on #8716
hxcpp will return default 0 instead of Null

[2019-08-29 06:49] malony0 opened #8717 "[jvm] Type.createInstance causes WrongMethodTypeException"
In 4.0.0-rc3, `Type.createInstance(Foo)` causes `java.lang.invoke.WrongMethodTypeException` when compiled for Java target with `-D jvm` option, **if the class Foo:**
- is extending class
- calls non-static method as an argument of super()

For instance, the following code causes the exception:

[code]

---

Also, such class seems to affect subsequently declared classes, even if the class itself is

[2019-08-29 07:10] RealyUniqueName commented on #8703
Afaik, cmd.exe is not unicode-aware by default.
Try executing `chcp 65001` in the same terminal window before running your haxe-compiled programm.

[2019-08-29 07:14] sonygod commented on #8703
![image](https://user-images.githubusercontent.com/748320/63918652-ab8f8100-ca6f-11e9-9845-d467cb0cf861.png)

[2019-08-29 07:21] #8716 closed, assigned to nobody

[2019-08-29 09:11] sonygod commented on #8699
@Aurel300 @ncannasse  why put this issue to 4.1?  why not be fixed as soon as possible?

[2019-08-29 09:16] ncannasse commented on #8713
I don't think we want to change that. You can always have your own haxe.Log.trace binding that does exactly what you want.

[2019-08-29 09:29] Gama11 opened #8718 "Duplicate class field in abstract exposes _Impl_ in error message"
[code]

[code]

[2019-08-29 09:33] #8703 closed, assigned to nobody

[2019-08-29 09:59] markknol commented on #8713
That doesn't work, because it, breaks the sourcemapping paths, every trace points to that custom trace function. That's why I propose to do it the other way around.
I mean, the current Haxe 4 logging is a custom trace to me.

[2019-08-29 10:04] Aurel300 commented on #8718
Duplicate of https://github.com/HaxeFoundation/haxe/issues/8258

[2019-08-29 10:04] #8718 closed, assigned to nobody

[2019-08-29 10:07] kLabz commented on #8713
Could we make `haxe.Log.formatOutput` dynamic too so that it could be easily overridden for this kind of use? (or any other trace format modification)

[2019-08-29 10:13] nadako commented on #8713
BTW we randomly discussed several times the alternative way to override `trace` behaviour by overshadowing some `Trace.hx` module and providing a custom implementation for the `public static function trace`. I have a branch with a prototype of this idea and it could help with your source mapping issue: https://github.com/nadako/haxe/commit/963285f7d6012d9e56ec3c47eb1d5ee98042d719

[2019-08-29 10:16] Gama11 commented on #8718
I guess that makes this a duplicate error report of a duplicate error report. :)

[2019-08-29 10:49] #8258 closed, assigned to nobody

[2019-08-29 11:50] ncannasse opened #8719 "FunctionKind.FNamed optional"
Following the recent change in macro Expr :

I would like to have FNamed(name:String,?inlined:Bool) , so we can more easily use FNamed(name) instead of having to add the FNamed(name,false).

[2019-08-29 15:55] Gama11 commented on #8019
`name: 'test'` no longer works due to #8708.

It looks like the `pack: ['Test']` example in particular isn't actually a bug, that gets interpreted as a module name:

https://github.com/HaxeFoundation/haxe/blob/329d29f4f97d1eaf8562680300847cacefcb4ed4/src/macro/macroApi.ml#L1478-L1482

But of course, there's still plenty of other ways to produce invalid packages:

[code]

I think the compiler shoul

[2019-08-29 16:07] ncannasse opened #8720 "[display] Fallback to all fields completion"
When a variable does not exists and does not represent a package, the completion displayed is very weird :

![image](https://user-images.githubusercontent.com/1022912/63956910-accca800-ca87-11e9-84ec-60c7a8763ed0.png)

We should instead list all fields used in this file, in order to have a Sublime-like completion.

[2019-08-29 16:11] Simn commented on #8720
How would that help? If the identifier cannot be resolved then suggesting random fields to use on it doesn't improve anything.

[2019-08-29 16:13] Gama11 commented on #8720
That should probably just give no completion results at all.

[2019-08-29 16:21] Gama11 commented on #8720
"Does not represent a package" isn't really possible to determine with fuzzy matching.

[2019-08-29 17:03] Simn commented on #8415
I've spent some time on investigating the memory situation and while I fixed various small problems, there still seems to be some sort of leaking going on. A more scientific approach like suggested here might be required.

I'm comparing the size of the cache with the memory reported used by the GC, and there's an interesting correlation. These values are from our unit tests:

target | total cache

[2019-08-29 19:03] Simn commented on #8719
Agreed

[2019-08-29 19:04] Simn commented on #8715
Do you have some code to reproduce this?

[2019-08-29 19:06] Simn commented on #8711
Closed by https://github.com/HaxeFoundation/haxe/commit/b7036b09b7d3b1b2856d3d396fe0134d3d07bd48

[2019-08-29 19:06] #8711 closed, assigned to Simn

[2019-08-29 19:06] Simn commented on #8696
I'll need a briefing on what this is supposed to send, and how.

[2019-08-29 19:56] Gama11 commented on #8715
Does this count?

[code]

[code]

[2019-08-30 08:03] #8719 closed, assigned to nobody

[2019-08-30 08:07] ncannasse commented on #8720
That's the difference between no completion and Sublime or other similar editors like completion. A lot of people are using this (especially when having untyped languages) and it's proven useful. Note that it's not "random fields" but fields that are already been used in previous part of the code so they are more like "candidate fields".

It's definitely much more helpful than the current completi

[2019-08-30 08:09] ncannasse commented on #8720
What's fuzzy matching ? If it similar to HaxeDevelop "smart completion", we don't have it for fields completion right ? Why having it for top level identifiers ?

[2019-08-30 08:22] ncannasse commented on #8415
Just checking : did the calculus from objsize library matches
`Obj.reachable_worlds v * (Sys.word_size / 8)` ?

On Thu, Aug 29, 2019 at 7:03 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-08-30 08:27] Simn commented on #8415
Yes, I tried `let mem_size v = Obj.reachable_words (Obj.repr v) * (Sys.word_size / 8)` and got the same results.

[2019-08-30 08:43] ncannasse commented on #8415
Another guess : GC.compact requires double size, because it needs to copy from A to B, and maybe the pages used during compaction are not immediately released at the end of it. This is something that can be easily reproduced with a standalone ocaml sample.

[2019-08-30 08:47] Simn commented on #8415
That would be so dumb I almost want it to be true... but unfortunately, doing a `Gc.full_major()` after the `compact` changes nothing.

[2019-08-30 09:06] Gama11 commented on #8720
We can't _not_ have fuzzy matching for field completion, it's a VSCode feature:

![](https://i.imgur.com/tx3S29C.png)

I guess you could describe fuzzy matching as all the things it does to score filter strings that are not exact matches (partial matches, camelCase-matching like in the screenshot above, some tolerance for typos / swapped characters...).

And with toplevel completion, it matches ag

[2019-08-30 09:19] Simn commented on #8717
Looks like I don't understand the Java reflection API:

![cmd_2019-08-30_11-16-39](https://user-images.githubusercontent.com/634365/64009351-0086d200-cb18-11e9-9076-e9300c839124.png)

Any pointers?

[2019-08-30 10:11] Simn commented on #8671
I have no idea why this regressed. Must be some timer change I suppose.

[2019-08-30 10:17] Gama11 commented on #8671
Oh, that's very interesting - that probably means it was only broken for us with `"haxe.enableServerView": true` because that implies `--times`.

[2019-08-30 10:43] ncannasse commented on #8720
Yes I understand regarding fuzzy matching, but I think we should, when writing `name.|` - if it's not a known identifier:
- if `name` is a toplevel package : only list its types and subpackages (not recursively)
- if not : list all fields from the current module (using only untyped AST ?) à la Subversion
- in all cases, we should not list all types available from all packages, especially when auto

[2019-08-30 10:49] Simn commented on #8720
Your approach (which is how it used to work) is impractical because we end up with two different output styles. E.g. while typing out `haxe` you'd be in toplevel completion, and then after the dot we would end up in package completion. This doesn't work well for IDEs because they'd be forced to re-request completion after the dot. This doesn't work with the way vscode filters completion results, a

[2019-08-30 11:01] Simn commented on #8671
Ah, the section is guarded with `node == root || node.time > 0.0009`, so it admits the `root` node with a time of 0. I suppose we either never noticed this problem or everything got so fast that we now have 0 times due to rounding.

[2019-08-30 11:03] Simn commented on #8678
We are unlikely to extend the Array API anytime soon for various reasons. If you prefer this style, you can always use it via a static extension.

[2019-08-30 11:03] #8678 closed, assigned to nobody

[2019-08-30 11:12] RealyUniqueName commented on #8715
That example doesn't reproduce the issue because there are no sequential casts to the same type in the ast:
[code]

[2019-08-30 11:14] Simn commented on #8715
`[Cast:UInt] [Local this(44):UInt:Abstract]` and `[Cast:Int] [Const:Int] 2` are redundant though.

[2019-08-30 11:17] RealyUniqueName commented on #8715
I have a branch, which eliminates those. Preparing a PR.

[2019-08-30 11:18] Simn commented on #8715
Nice nadako :D

[2019-08-30 12:05] #8019 closed, assigned to nobody

[2019-08-30 12:22] #2550 closed

[2019-08-30 12:33] Simn commented on #8672
We have to compare positions here and only apply the filtering if the range we get from the `DisplayException` matches the range of the outer type. Or more precisely, the `pmin` should be equal.

Also we should check this for other cases where we apply this kind of filtering. From a quick look I found the following cases:

* Filter for structure types when extending a structure (both old and new s

[2019-08-30 13:03] ncannasse commented on #8720
I beg to differ about the "ultimately better".

I really don't want to get the completion in above example, just because I mistype a variable I get all classes in all dependencies that accidentally contain this letter or word.

Re-requesting completion is exactly what's being done when doing fields completion, I don't see why this would be a problem for package level completion. Actually it's supp

[2019-08-30 13:08] Simn commented on #8720
I can try adding a `-D shitty-completion` flag but I will _not_ change the default behavior here.

[2019-08-30 13:11] Gama11 commented on #8720
Yeah, I don't think we can change the default behavior, what Nicolas describes sounds completely incompatible with auto-imports.

[2019-08-30 13:17] Gama11 commented on #8720
Btw, it seems a bit random you bring this up now @ncannasse, this isn't a recent change. The behavior has been like this since roughly preview 4 over a year ago, so apparently it didn't bother you too much until now?

[2019-08-30 13:56] ncannasse commented on #8720
@Gama11 that's also why we have auto-imports disabled. Maybe one should imply the other?

I have been battling with completion issues for a long time but it took me quite some time to understand what's going wrong. Being very busy doesn't help, so I didn't took the time to reproduce/report, my bad.

We also have new team members at Shiro that ask questions such as "is this a bug?" - this helps get

[2019-08-30 14:09] Gama11 commented on #8720
Every single dev at Shiro chooses to disable auto-imports? That seems highly unusual, considering how popular the feature is...

For what it's worth, it's not unusual to show all types available in all classpaths in completion at all. It's kind of necessary for auto-imports to be useful in the first place. Here's IntelliJ for Java for instance:

![](https://i.imgur.com/DbiZ82v.png)

[2019-08-30 14:32] ncannasse commented on #8720
Yes, we do all disable auto imports, because we deal with several different frameworks and we prefer to be explicit about type imports. This is part of our coding guidelines and people like it this way.

I understand that for people working with auto imports such toplevel completion might be useful, but when you don't want them it's otoh problematic.

[2019-08-30 14:38] nadako commented on #8720
Uhm, I tend not to use auto-imports but I still want fuzzy search for available types that generates full paths in place.

[2019-08-30 15:32] Simn commented on #8720
I genuinely struggle. A purely text-based completion list is not something I expect to find in a compiler for a typed language. So I really do consider this "random field names", but I doubt you want `suggestRandomFields` as a setting.

I suppose it would be `suggestTextBasedFields` or something. But It only applies to unknown identifiers, right? So if I create a new class and typo `hax.`, I get n

[2019-08-30 15:39] Gama11 commented on #8720
Actually, you would get some completion results, because VSCode itself falls back to "word based suggestions" (`"editor.wordBasedSuggestions"` setting, which defaults to true) if there's no results from language extensions, like in strings:

![](https://i.imgur.com/OqbH0El.png)

The text based fields thing does seem separate from whether or not completion results all include types from all classpa

[2019-08-30 15:47] ncannasse commented on #8720
In the same way that we don't want our toplevel types to be polluted with auto imports, we don't want our completion results be polluted with our entire codebase which consists in thousands of classes over tens of packages.

What seems idiotic to me is listening to someone that seems to know better than us what is good for me and my team.

[2019-08-30 16:27] kLabz commented on #8720
I think what Nicolas needs is a way to have no completion result for those cases and let the editor populate the list as a fallback (like in gama's screenshot), which will depend on the editor and possibly on its configuration (my completion extension for vim let me decide a lot of things related to that, for example).

[2019-08-30 17:10] Simn commented on #8720
I work for the Haxe Foundation, not Shiro Games. If you request such a feature as a Haxe Foundation partner, we can discuss the parameters of that request like we would with other partners. I've already agreed to add this option for you, so I don't understand why you're trying to antagonize me now. Let's focus on the matter and leave the ad hominems for less public communication channels.

[2019-08-30 22:40] Simn commented on #8415
I found the problem. Turns out that `Gc.compact()` isn't the diligent GC cleanup operation that we thought it was. While it does reorganize the heap, it does not necessarily shrink it. The shrinking is governed by the `space_overhead` setting, which by default sits at 80% of the live data.

In the commit I set it to a hard 0, but only for the server/memory inspection for now. This allows us to tes

[2019-08-30 23:18] nadako commented on #8415
After 456434674efae188514903163f703d1de33145c2, expanding memory view makes process memory usage go down from 1544mb to 880mb. Memory view data is:

![](https://i.imgur.com/ngEvO2w.png)

[2019-08-31 03:33] sonygod opened #8726 "neko UInt cast error"
it's seem all cast between ( Int,Uint) and Bool all wrong .

     package;

    import neko.Lib;

    /**
    * ...
    * @author sonygod
    */
    class Main
    {

        static function main()
        {

            var b = false;

            var c:UInt = cast(b, UInt);//neko target still error
            var d:Int = cast(b, Int);//neko target still error
            trace(c);
        }

[2019-08-31 03:34] sonygod commented on #8726
related https://github.com/HaxeFoundation/haxe/issues/8716
@RealyUniqueName

[2019-08-31 07:08] RealyUniqueName commented on #8726
It's the designed behavior of safe cast. Trying to cast to an unrelated type (`Bool` to `UInt` or `Int` in your sample) should throw an error: https://haxe.org/manual/expression-cast-safe.html

[2019-08-31 07:08] #8726 closed, assigned to nobody

[2019-08-31 08:46] sonygod commented on #8726
why close? @RealyUniqueName

but Hashlink can safe cast from bool to int

[2019-08-31 08:53] sonygod commented on #8726
![image](https://user-images.githubusercontent.com/748320/64061616-dfa1a800-cc0f-11e9-87fc-dd5df73380b5.png)

[2019-08-31 12:13] Aurel300 commented on #8726
That last picture looks more like the error to me @sonygod. `Bool` and `(U)Int` are not compatible, you should need something like `someBool ? 1 : 0` in general.

[2019-08-31 12:44] RealyUniqueName commented on #8726
Yeah, that's a bug in Hashlink.

[2019-08-31 16:25] nc-x opened #8728 "Sqlite bug in neko and hashlink"
(Latest haxe development version.)

Neko
====
Build project with `haxe build.hxml`.
Run multiple times with `neko main.n`
The table contains 230 rows, but the output shows incorrect number of rows. Sometimes, it works fine.

[code]

HashLink
======
Modify `build.hxml` to build with `hl`.
Build and Run.
Garbage Output.

[code]

Other Platforms
==========
Untested. Bug may or may not be present ther

[2019-08-31 18:22] RealyUniqueName commented on #8728
Using slightly modified sample:
[code]
Prints
[code]
but if uncomment the second request:
[code]
I was unable to run on Hashlink because of my local issues.

[2019-09-01 07:48] Simn commented on #8720
@Gama11 What should Haxe emit in these cases? I tried sending `null` but that doesn't show anything on the IDE side. I suppose we need to signify that it probably makes sense to show a completion list somehow?

[2019-09-01 08:53] Gama11 commented on #8720
No, `null` should be fine...

[2019-09-01 10:52] Simn opened #8732 "[display] Last completion position reset"
[code]

1. Request completion at `{-2-}`: This sets `last_completion_pos` because there's too many results with the `i` filter.
2. Request completion at `{-3-}`: Shows string field completion
3. Request completion at `{-1-}`: This now also shows string field completion because the minimum position is equal to the first request, and we never reset it during the second request.

[2019-09-01 11:01] #8732 closed, assigned to Simn

[2019-09-01 13:21] #6251 closed

[2019-09-01 14:26] #8702 closed, assigned to nobody

[2019-09-01 15:50] Simn opened #8734 "Server maintenance"
Once we've merged https://github.com/HaxeFoundation/haxe/pull/8730 we'll be able to poll the connected socket to see if there's a pending request. This should allow us to implement a pattern like so:

[code]

This assumes that the socket read function returns `Some data` if there's data, and `None` otherwise.

It is important to keep maintenance tasks small so an incoming request isn't delayed too

[2019-09-01 16:11] Simn opened #8735 "Reduce memory consumption of local variables"
We currently have this structure for local variables:

[code]

There are two obvious points of attack to reduce memory consumption a bit:

1. Merge `v_capture` and `v_final` into ` v_flags : int` like we did with class fields. This saves 1 word per variable and is easily extensible if we want to add more per-variable flags at some point.
2. Fold `v_meta` into `v_extra`, which is already an `option

[2019-09-01 16:12] #8715 closed, assigned to nobody

[2019-09-01 19:26] RealyUniqueName commented on #8735
I wonder if we could change `pos.pfile` to `int` and store a table of files somewhere.

[2019-09-01 20:42] #5880 closed

[2019-09-01 21:12] #8442 closed, assigned to RealyUniqueName

[2019-09-01 21:13] Simn commented on #8734
Something else we can do during this downtime: Run `cl_restore` on our cached classes.

[2019-09-01 22:24] Simn opened #8736 "Typed AST state"
While looking into #8734, I realized that we spend quite a bit of memory on keeping various states of the typed AST. At the end of a compilation, we can identify 3 different versions of the typed AST per class field:

1. The initial AST before optimization is stored in `cf_expr_unoptimized`. We need this version to ensure inlining works in subsequent compilations.
2. An intermediate state just bef

[2019-09-02 07:09] Simn commented on #8734
Another thing: Register a task for each directory when exploring class paths. This would improve startup time at the risk of missing out on some types when requesting a really quick toplevel completion.

[2019-09-02 07:51] sonygod commented on #8699
current I return to use Nekovm as my game server instead of HashLink. it's low performance and hight

cpu cost !

[2019-09-02 08:01] ncannasse commented on #8736
I think that's a very specific trade-off that is not very user-friendly, in the sense that it's very hard even for compiler devs such as myself to know exactly which impact this change will have on day-to-day usage.

Maybe a different approach would be to have some kind of "smart expr map", that would only create new AST nodes iff one the sub expressions has been changed, since I think most of the

[2019-09-02 08:18] nadako commented on #8736
Funny, I've done exactly this for my AS3->Haxe converter at work: ![](https://i.imgur.com/3ZVRfrq.png)

This helped a lot on at least node.js, but I was thinking that OCaml is smart enough to optimize this itself?

[2019-09-02 08:22] Simn commented on #8736
The problem here isn't that the values are redundant. The AST is probably quite different in a lot of cases (otherwise our optimization stage would be pointless). The problem is that we need to keep both the early and semi-optimized versions around due to our design.

And yes I also cannot tell what impact this would have, which is why I suggested it as an option.

[2019-09-02 08:44] #8122 closed, assigned to RealyUniqueName

[2019-09-02 09:03] RealyUniqueName commented on #8443
This was caused by propagation of `null` constant on inlining.
The compiled code looked like this:
[code]
I disabled `null` propagation in 977ac29bca91805918bdc9eb6babd53d929b051a

[2019-09-02 09:04] #8443 closed, assigned to RealyUniqueName

[2019-09-02 09:49] #7900 closed, assigned to RealyUniqueName

[2019-09-02 11:39] Simn commented on #7296
We can finish this in #8669.

[2019-09-02 11:39] #7296 closed

[2019-09-02 12:10] Simn opened #8737 "Assertion failure when hovering macro function"
[code]

Hovering the `test()` causes `File "_build/src/typing/calls.ml", line 554, characters 2-8: Assertion failed`.

This almost looks too simple to not be a regression...

[2019-09-02 12:20] Simn commented on #8737
Fixed, but I have no idea why this used to work before.

[2019-09-02 12:22] Simn commented on #8111
I think https://github.com/vshaxe/vshaxe/issues/349 is not an issue anymore, but let's wait for confirmation I guess.

[2019-09-02 13:40] ncannasse opened #8738 "Compilation server cache (leak?)"
Today I got a new error when dealing with compilation server cache:

I had a remove() method, then I changed some base class to use `h2d.Object` which has an inline remove. Later I removed the remove method (I'm not sure I compiled in between).

But when I was compiling I kept having this error message at a specific .remove() call:
`Cannot force inline-call to remove because it is overridden`

The

[2019-09-02 13:42] Ilir-Liburn opened #8739 "Multitype abstract from calling to"
[code]

Shouldn't (v:Above\<Int\>) at fromInt call toInt in above example? Instead, a1 = 1 makes a1 an object, casting 1 to object, being not inlined like a2

[2019-09-02 13:43] Simn commented on #8738
Hmm yes, we never clear that `CfOverridden` flag after it has been set once. Have to find a good place to check if that needs an update. That might require checking all parent classes whenever a child class changes...

[2019-09-02 13:47] Simn commented on #8738
[code]

[code]

Compile, delete `Child` class, compile again, error.

[2019-09-02 14:17] kLabz opened #8740 "[cs] Weird Null<int> vs int regression"
Getting
[code]
on almost-latest dev (d15bbe0), with this code:

[code]

[code]

[2019-09-02 14:18] kLabz commented on #8740
Wait a minute, wrong example..

[2019-09-02 14:28] kLabz commented on #8740
Fixed by 2143e66

[2019-09-02 14:34] RealyUniqueName commented on #8740
Leaving open for a test

[2019-09-02 14:36] kLabz commented on #8740
Should I create a separate issue for this one? (not fixed in latest development, but already broken in 3.4.0)

[code]

[2019-09-02 14:37] RealyUniqueName commented on #8740
They probabbly differ by a few casts. But yeah, open another one pls.

[2019-09-02 14:40] kLabz opened #8741 "[cs] Null<int> vs int"
Like #8740, this fails with
[code]

[code]

[code]

Note that this already failed in 3.4.0 (but not in 3.2.x).

[2019-09-02 14:50] kLabz commented on #8741
Duplicate of #8242

[2019-09-02 14:50] #8741 closed, assigned to nobody

[2019-09-02 16:04] back2dos opened #8742 "Macro generated class names are now forced to be valid."
This is a bit of a space bar heating restoration request, but I'll try my luck anyway ;)

Previously, I was using something like this for generic build:

[code]

I realize this stretches things a bit, but it was nice in that the type name shown to the user when e.g. accessing invalid fields would map very closely to what they had written, instead of some generated thing. Is there any chance we cou

[2019-09-02 16:39] #8740 closed, assigned to nobody

[2019-09-02 17:27] Ilir-Liburn opened #8743 "Multitype abstract redesign proposal"
Somewhere I read @Simn wants to redesign multitype abstract, but he is not sure how. Here is my proposal

[code]

Idea is to introduce non-static @:from function and parameter constraint to select implementation where 'this' is used like in a new().If constructor defines arguments, each non-static @:from have to match.

[2019-09-02 17:31] Ilir-Liburn commented on #8743
Here is a simulation to demonstrate possibilities

[code]

[2019-09-02 17:36] Simn commented on #8743
This has the exact same problems the current implementation has: The abstract still has to know all of its specializations, and inline functions cause the abstract type to disappear.

We need a completely different approach here. I have a vague idea, but will have to see if I can turn that into a POC.

[2019-09-02 17:36] #8743 closed, assigned to nobody

[2019-09-02 17:39] Ilir-Liburn commented on #8743
@Simn, could you please elaborate? What do you mean by: has to know all of its specializations. Isn't that a purpose of multitype? And how inline functions cause abstract to disappear?

[2019-09-02 17:54] Ilir-Liburn commented on #8743
@Simn, you probably want multitype to be able to recognize each class implementing interface without specifying each specialization? That would be really advanced. For my second question, I have to think about what it could mean.

[2019-09-02 19:06] #8242 closed, assigned to nobody

[2019-09-02 20:47] filt3rek opened #8745 "[macro] haxe.macro.Context.getExpectedType()"
Hej,
I'm sorry I don't know if it's a bug, I've made many tests to understand how does it work macro with type inference and I can't understand if it's a normal behaviour or a bug. And I would ask if it would be possible to get the real expected type on the left side.

[code]

[code]
We can test it here : http://try-haxe.mrcdk.com/#aD52d

[2019-09-02 21:01] Simn commented on #8745
This is working as intended. For instance, the expected type of `5.get().foo()` as a whole is `Int`, but there is no expected type for the sub-expression `5.get()`, which is the macro call. Expected types are not promoted to sub-expressions in most cases because they don't apply to them. We don't expect the `5.get()` to be an `Int`.

[2019-09-02 21:01] #8745 closed, assigned to nobody

[2019-09-02 21:04] filt3rek commented on #8745
Thx @Simn for your answer.
There isn't any way to get what I want please ?

[2019-09-02 22:02] Gama11 commented on #8742
I don't know, this seems really hacky.. Basically you're abusing `@:native` meta to prevent this from failing at runtime / during native compilation? Why does the class name need to contain the whole package / dot-path?

[2019-09-03 04:56] Simn commented on #8742
This really does look like spacebar heating, but maybe it stands to reason that we shouldn't check type/field names if there is a `@:native` metadata...

[2019-09-03 05:58] back2dos commented on #8742
The problem is not the dot-path, as I could (and probably should) actually move that out of the name into the package. It's rather the type parameters, e.g. if there's `Fancy<{ foo: String, bar:(x:Float, y:Float)->Array<Int>; }>` then any valid name one could derive from that would have to be rather far away from the original.

[2019-09-03 06:05] nadako commented on #8742
last time I had similar issue I wanted to have some notion of "display name" for types

[2019-09-03 06:10] sonygod commented on #8728
![image](https://user-images.githubusercontent.com/748320/64147496-069bec00-ce53-11e9-8510-3339671ca10e.png)

![image](https://user-images.githubusercontent.com/748320/64147534-2e8b4f80-ce53-11e9-9a0a-68e69472acd1.png)

it's work fine for me both Neko and Hashlink  ,Haxe version :4.0 rc3

[2019-09-03 06:36] RealyUniqueName commented on #8742
I like the idea of "display name". And it already can be implemented via `@:completionName("My cool class")` without any additional changes in the compiler. Just need to support it on the IDE side :)

[2019-09-03 06:38] RealyUniqueName commented on #8728
Could it be OS dependent? I'm using Linux.

[2019-09-03 07:12] Simn opened #8746 "Constrained monomorphs"
This idea has been floating around for a while, so I would like to finally conceptualize it. Currently, our monomorphs are represented like so:

[code]
This is equivalent to:

[code]

I would like to propose adding an additional `constraints` option so that it becomes:

[code]

The idea is to distinguish the structure of unknown types from their identity. We define the following operations:

* `ad

[2019-09-03 07:12] back2dos commented on #8742
Yeah, I guess what I'm actually after is a display name.

I'm mostly concerned with the type name in error messages, so I don't think the IDE is the best place to deal with that (especially since it then wouldn't work during CI).

[2019-09-03 07:14] Simn commented on #8742
Let's two-step this:

1. Don't check for validity of names that have a `@:native` meta. We do this right now to avoid "regressions".
2. Think about a way to have nice display names in error messages.

[2019-09-03 07:33] RealyUniqueName commented on #8746
Would it be possible to make a recursive constraints chain? Or should that throw an error on `add_constraint`?

[2019-09-03 08:32] RealyUniqueName commented on #5362
Reduced
[code]

[2019-09-03 08:56] #5362 closed

[2019-09-03 09:14] ncannasse opened #8748 "[display] partial check for modified files"
We have disabled checks for files modifications in display mode, which is good for hx files since they are sent by VSHaxe. However this cause some problems for registerModuleDependency, when the target file is processed by some macro which build a model.

Exemples : CastleDB, Heaps resources, Heaps Texts Builder, etc.

In that case, when making for instance structural changes to CDB, the changes w

[2019-09-03 09:17] ncannasse commented on #8736
I'm curious whereas this is actually true. For most code I write I think there's very little optimization actually necessary or possible. Not saying that I write highly optimized code, but just standard OO code is just plain function calls and if tests, with not much maths etc involved.

[2019-09-03 09:32] AdrianV opened #8749 "HttpJs and http request with r.status == 0"
when I do a http request and the server is not reachable then `r.status == 0`  and `r.response == null` in `onreadystatechange` (at least on Chrome in my tests). This case is not covered and the code takes the `default` route:
[code]
but since `r.response == null` `Bytes.ofData(r.response)` throws an exception.

I think this case should be covered in the check for `s == null` :

[code]

[2019-09-03 09:42] Simn commented on #8742
I have added a ~hack~ fix to not error if `@:native` is present.

[2019-09-03 09:43] Gama11 commented on #8748
We could also consider sending file change events for everything on the IDE side, not just `.hx` files, if Haxe can do something with that.

[2019-09-03 09:51] Simn commented on #8748
Not sure what's best here. I think only considering .hx files is a quick solution. However, there could be an external dependency to a .hx file as well which would then still have this problem. A better solution would be special treatment for the registerModuleDependency modules, but that requires some internal cleanup because we're currently using `MFake` for other things (at least import.hx file

[2019-09-03 09:57] RealyUniqueName commented on #7107
Shouldn't it keep `Date` class but not its fields?

[2019-09-03 09:59] RealyUniqueName commented on #7107
Especially taking into account `fromString` is an inline field of an extern calss.

[2019-09-03 10:00] Simn commented on #7107
I think we keep all fields of `extern` classes. Maybe we should only keep those that don't have expressions, i.e. are truly extern.

[2019-09-03 10:08] RealyUniqueName commented on #7107
I cannot reproduce this with the latest development:
[code]
[code]
[code]

[2019-09-03 10:09] Simn commented on #7107
Could you also check https://github.com/damoebius/HaxeBench?

[2019-09-03 10:21] ConstNW commented on #8728
neko on Windows got 230, on linux 46

[2019-09-03 10:22] RealyUniqueName commented on #7107
Also doesn't contain `strDate`.
Problem solved!

[2019-09-03 10:22] #7107 closed

[2019-09-03 10:28] ncannasse opened #8750 "Context.defineType broken"
Due to recent changes, `Context.defineType({ pack : ["hxd","_res"], name : "_Ui_skills" ... })` does not work anymore. Seems like we check the module path on `hxd._res` only instead of `hxd._res._Ui_skills`

[2019-09-03 10:31] RealyUniqueName commented on #8739
Why would it call `toInt()`?
Instead it should throw an error, because `(intValue:Above<Int>)` inside of `fromInt()` means a recursive cast. @Simn ?

[2019-09-03 10:32] Simn commented on #8739
Looks like it yeah... the more errors these multitype abstracts throw the better.

[2019-09-03 10:46] nc-x commented on #8728
@sonygod That is not the expected output on hashlink. All the values inside the table are `abxs`.  And on neko, the output is sometimes correct, sometimes wrong. So maybe you were lucky there.

@RealyUniqueName
On HL, the bug goes away after removing `rs.length` from the code. If you look at the value of cache around this line using either the hashlink debugger or print debugging, you will see tha

[2019-09-03 11:09] ncannasse opened #8751 "[display] Unknown identifier stops completion"
[code]

In this case, we get an `Unknown identifier : arr`, while we should in display mode allow completion for Array even if arr is not declared. I did wrote support for something like this in the early days of completion.

[2019-09-03 11:44] Ilir-Liburn commented on #8739
@RealyUniqueName, yes in the case of regular abstract, but multitype abstract is constructed from @:to, not @:from, right? That is why I proposed to unify them

[code]
where

1. non-static @:from is used for multitype abstract
2. type parameter constraint is used at @:from for multitype abstract
3. constructor without body is used to mark abstract as multitype

but @Simn have something other on hi

[2019-09-03 11:49] sonygod commented on #8728
@nc-x ,yes you're right .it's got wrong result return, Mayb be @ConstNW  can fix this bug.

[2019-09-03 11:49] RealyUniqueName opened #8752 "Empty identifier casues toplevel completion"
[code]
[code]

[code]

[2019-09-03 11:51] Gama11 commented on #8752
Maybe related to https://github.com/HaxeFoundation/haxe/issues/7962.

[2019-09-03 12:28] RealyUniqueName commented on #7962
While the symptom is the same as #8752 this is a different issue.
But now we know that it happens because of an unhandled exception somewhere.

[2019-09-03 12:35] kLabz commented on #7395
Note that one needs `using StringTools` to be able to use it though

[2019-09-03 12:59] #8752 closed, assigned to nobody

[2019-09-03 13:40] haxiomic commented on #8749
@AdrianV Thanks for reporting

I think `s == 0` for failed-to-resolve is fine

I think assuming [`r.response` is non-null in the default error case](https://github.com/HaxeFoundation/haxe/blob/bd87d4447d85094fdcfc60a3876c7dc548fed200/std/haxe/http/HttpJs.hx#L90) is problematic too. Maybe we should just guard with a null check here

Would you be up for making a PR?

[2019-09-03 15:16] RealyUniqueName commented on #8739
I still think that it shouldn't call `toInt()`. E.g. std `Map` doesn't invoke additional implicit casting inside of `@:from` functions.

[2019-09-03 15:26] ConstNW commented on #8728
neko result depends on build flag ```-D analyzer-optimize```

[2019-09-03 15:41] Ilir-Liburn commented on #8739
Whatever you decide, it's fine with me. My goal is discussion of different aspects for abstract types because I think that's the most important and most powerful part of the Haxe for the end user like me. Until abstract type reaches its final design.

[2019-09-03 15:50] RealyUniqueName commented on #5124
This yields `1` as expected on both cs and java targets with the latest development Haxe. I suppose it was accidently fixed with the latest changes to casting behavior.

[2019-09-03 16:07] RealyUniqueName commented on #5124
[code]
This works without analyzer. Analyzer removes a cast to int.
Without analyzer:
[code]
With analyzer
[code]

[2019-09-03 16:17] sonygod commented on #8699
thank you so much, it's fixed . and I need more tests and confirm to close.
![image](https://user-images.githubusercontent.com/748320/64190544-370e7500-cea9-11e9-8b72-a8fdb1f63c45.png)

[2019-09-03 16:27] RealyUniqueName commented on #8739
Since @Simn already rejected that idea in #8743 let's focus on recursive implicit cast here.
We need to change it to emit an error just like in normal abstracts.

[2019-09-03 17:07] sbijoshj commented on #2550
🎉 Thank you!

[2019-09-03 19:00] ncannasse commented on #8750
Putting back my comment from merged PR:

Please note that the error message is unhelpful : we often need the full module path to actually understand what's going wrong in macros.

[2019-09-03 19:27] RealyUniqueName commented on #8750
But it points to the position of module declaration.

[2019-09-03 20:09] ncannasse commented on #8750
Which was the build macro call for me... Not very helpful when your macro process thousands of files and one of it is actually triggering an invalid module name.

[2019-09-03 20:32] Simn commented on #8750
It's fine to include the full path in the message, but it also sounds like you could use a better position for that definition. Might help in other situations too.

[2019-09-03 23:56] mockey opened #8755 "sys.Http doesn't work anymore with SSL in PHP"
After #8646 `sys.net.Socket` is used for http, but `php.net.SslSocket` (which extends `php.net.Socket`) is still used for https. The `setTimeout` functions are not compatible, one uses a socket resource, the other one a stream resource. Also extending `sys.net.Socket` for ssl does not work. No idea, how to get a ssl connection with `create_socket` in PHP...
What does seem to work is putting the `s

[2019-09-04 00:20] mockey opened #8756 "Strange vars in PHP output"
In the current PHP output appear some redundant vars set to `null`, e.g.:
`$encoding = null;` or `$t = null;`
that are not in the source and are not used anywhere.

[2019-09-04 02:19] sonygod commented on #8699
@ConstNW it seems only improve  on  Linux  performance, but Windows still cost lot's CPU

and *.hl build from Windows then run in Linux still cost CPU like before?

[2019-09-04 04:59] Simn commented on #8755
@Aurel300 Could you check this with priority?

[2019-09-04 05:00] Simn commented on #8756
This comes from the changes to how default values are handled while inlining. Do these variables go away with `-D analyzer-optimize`?

[2019-09-04 05:05] Simn commented on #8748
That should work in principle, but I'm worried about getting spammed with `server/invalidate` requests, e.g. when .dump files are created or with the C++ target.

[2019-09-04 05:28] Simn commented on #8738
Actually this requires an extra first step to remove the `inline base.test()` call. We need to compile without error in order to cache anything at all.

[2019-09-04 05:44] Simn commented on #8738
Unless I'm missing something obvious, this is pretty hard to fix. It requires checking for each removed `override` field if any of the ancestors now have fields which are no longer overridden. This means going up the inheritance chain to find overridden fields, then back down again to check if they are still overridden.

This would be manageable if we still had `cl_descendants` to work with, but t

[2019-09-04 06:10] #8751 closed, assigned to nobody

[2019-09-04 07:58] ConstNW commented on #8699
@sonygod, no. on windows problem also fixed. try to compile with flag `-D hl-ver=1.11`

[2019-09-04 07:59] AdrianV commented on #8749
yes no problem. I will prepare a PR

[2019-09-04 08:03] sonygod commented on #8699
but current Hashlink version is 1.10  only.
C:\HaxeToolkit\haxe\std/hl/_std/String.hx:211: characters 8-14 : Invalid version string "1.11". Should follow SemVer.

[2019-09-04 08:04] Simn commented on #8738
I had to disable the test because there are issues with the test implementation of `touchFile`. The underlying issue is fixed but we have to look into getting this test working properly.

[2019-09-04 08:22] #8755 closed, assigned to Aurel300

[2019-09-04 08:59] RealyUniqueName commented on #8748
Test disabled because of Win32 failure: https://dev.azure.com/HaxeFoundation/GitHubPublic/_build/results?buildId=950&view=logs&j=e61806a3-e319-5a7c-85d5-a2d0ec789e63&t=962e5de9-78fb-5a57-b35d-753d148002b2&l=446

[2019-09-04 09:01] Simn commented on #8748
Like #8738, it's a test-specific problem.

[2019-09-04 09:29] Simn commented on #8209
Given that this isn't a bugfix I'm moving it to 4.1.

[2019-09-04 09:30] Simn commented on #8742
Moving to 4.1 for the display name part.

[2019-09-04 09:32] Simn commented on #8669
Keeping this as 4.0 because the ranges reported for type paths are clearly a bug.

[2019-09-04 09:34] Simn commented on #8649
I'm closing this again. Please just add this `.0` to the version where necessary. It's not worth deviating from an established standard just so that can be omitted.

[2019-09-04 09:53] mockey commented on #8756
Yep, that makes them go away.

[2019-09-04 10:10] Simn commented on #3350
I think we can close this.

[2019-09-04 10:10] #3350 closed

[2019-09-04 10:12] Simn commented on #3758
Let's move onto the 64bit era and forget about this.

[2019-09-04 10:12] #3758 closed

[2019-09-04 10:19] Aurel300 commented on #8699
I think you might have to specify `-D hl-ver=1.11.0` ?

[2019-09-04 10:26] Simn commented on #4091
I think this has become a documentation issue.

[2019-09-04 10:40] Simn commented on #4031
Interestingly, this still reproduces. The class path order is correct: `Classpath: src/;C:\Users\simn\Desktop\Issue4031\test\;;C:\GitHub\haxe\extraLibs/;C:\GitHub\haxe\std/eval/_std/;C:\GitHub\haxe\std/`.

[2019-09-04 10:47] Simn commented on #4031
Oh you know what, this actually isn't a valid issue. You're looking up `src/Test.hx`, which is not part of the `src` class path as it would be `src/src/Test.hx`. That's why it is picked up when attempting the `test/src/Test.hx` lookup. If you change the lookup to `Test.hx` (and move `test/src/Test.hx` to `test/Test.hx`) it picks up `src/Test.hx` as expected.

Sorry it took me 4 years to realize th

[2019-09-04 10:47] #4031 closed

[2019-09-04 10:53] Simn commented on #4552
I think we can close this.

[2019-09-04 10:53] #4552 closed

[2019-09-04 11:31] Simn commented on #4871
Since there was no reproducible example here, I can only assume that this has been fixed at some point. Should that not be the case we can reopen the issue.

[2019-09-04 11:31] #4871 closed

[2019-09-04 11:49] Simn commented on #5433
This would have to go through haxe-evolution.

[2019-09-04 11:49] #5433 closed

[2019-09-04 12:40] markknol opened #8760 "Static extensions with generic type parameters"
Kinda hard to describe but here we go
- If there is a module with one class with a parameterized function designed for static extension then everything is fine
- If there is a module with two different classes with both a parameterized function designed for static extension there is a this kind of parameter type `<T:Float>`  it works
- Problem: If there is a module with two different classes with

[2019-09-04 13:16] Simn commented on #5603
I think we should just lose this restriction entirely. I don't remember why we designed it like that in the first place.

[2019-09-04 13:20] RealyUniqueName commented on #8728
Not analyzer's fault.
This also yields incorrect result without analyzer
[code]
As you can see - the only difference is connection object used directly instead of storing it into a var.
Even worse - depending on the code around `rs.lengh` the result could be different.
E.g.
[code]
[code]
[code]
Currently I think it's a crazy neko runtime bug.

Didn't check hashlink yet.

[2019-09-04 13:32] ConstNW commented on #8728
i got that results:
[code]

[2019-09-04 14:00] Simn commented on #8728
Can you compare the output with `-D dump=pretty` (dump subdirectory).

[2019-09-04 14:19] ConstNW commented on #8728
[8728.dump-pretty.zip](https://github.com/HaxeFoundation/haxe/files/3574914/8728.dump-pretty.zip)

looks like 'analyzer-optimize' remove local variable of sqlite connection and GC delete it as unused.

[2019-09-04 14:35] Simn commented on #8728
That looks like some neko bug to me. The variable should not be necessary, and the broken code can be written by hand anyway.

[2019-09-04 14:37] ConstNW commented on #8728
make `var con` as `static var` then error disappear.

[2019-09-04 14:40] Simn commented on #8728
We will probably not fix the neko-specific bug. I recommend not using the analyzer on neko in this case.

We should figure out what's going on with HL though.

[2019-09-04 17:27] Simn opened #8761 "Need a better touch"
The current implementation of [Vfs.touchFile](https://github.com/HaxeFoundation/haxe/blob/development/tests/server/src/Vfs.hx#L18) sucks and is causing a lot of CI instability:

[code]

I'm pretty sure I originally copied that from somewhere, but maybe I made some modifications that made it worse or something.

The issue is that the resolution (at least on Windows) of the file time modification is

[2019-09-04 17:49] #8749 closed, assigned to nobody

[2019-09-04 17:50] RealyUniqueName commented on #8756
Doesn't look like we need to act here. Feel free to reopen if you have something to add.

[2019-09-04 17:50] #8756 closed, assigned to nobody

[2019-09-04 18:02] RealyUniqueName commented on #8761
Why not using native system `touch` command? It exists in Mac & Linux. According to google Windows analogue is `type nul >> your_file.txt`

[2019-09-04 18:42] ibilon commented on #8761
How many tests like these are there? If it's small a sleep of like 0.5s might be enough for the difference to matter, and it's simple to add.

[2019-09-04 18:52] Aurel300 commented on #8761
After some cursory debugging with Simon, I don't it is a problem with touch. `fstat` (and `stat`) confirm that the file indeed changes its mtime. `delta(2000)` adds two seconds, but it still fails on my system consistently, even though I'm pretty sure HFS+ has (sub-?) second precision in file timestamps.

A server invalidate request does fix the problem, so it is still *somehow* related to checkin

[2019-09-04 19:00] ncannasse commented on #8649
In that case d41949288 needs to be merged into 4.0 branch

[2019-09-04 19:06] RealyUniqueName commented on #8649
Merged

[2019-09-04 19:06] #8649 closed, assigned to nobody

[2019-09-04 20:05] Simn commented on #8761
I've changed it to explicit server/invalidate requests for now because this is hurting my head, and the CI failures are hurting everyone else's heads.

[2019-09-04 20:33] Simn commented on #8761
Well, the tests still fail. Time to panic.

[2019-09-04 21:26] Simn commented on #8738
Test is back up, will deal with the bad touch in #8761.

[2019-09-04 21:26] #8738 closed, assigned to Simn

[2019-09-04 21:26] Simn commented on #8748
Test is back up, will deal with the bad touch in #8761.

[2019-09-04 21:28] Simn commented on #8761
Note to self: Writing file contents does not necessarily update the modification time.

[2019-09-05 01:30] sonygod commented on #8699
@Aurel300 yes, it's ok

[2019-09-05 01:44] #8699 closed, assigned to nobody

[2019-09-05 01:45] sonygod commented on #8693
@ConstNW , will you look at this issue?

[2019-09-05 05:59] akitsu-sanae opened #8763 "`StringIteratorUnicode` on neko target seems buggy"
This code produces different output on JS and Neko target.
[code]
as follows:
[code]
On JS target, this iterate over unicode code points. On the other hand, on neko target, it looks iteraring over utf-8 code units.

haxe version: 4.0.0-rc.3
node version: 8.9.1
neko vm version: 2.2.0

[2019-09-05 07:29] RealyUniqueName commented on #8728
After https://github.com/HaxeFoundation/neko/pull/200 is merged this issue will need a test.

[2019-09-05 07:29] ncannasse commented on #8761
Yes, this depends on filesystem configuration

On Wed, Sep 4, 2019 at 11:29 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-09-05 07:30] ncannasse commented on #8763
Given than StringIteratorUnicode is a replacement for previous haxe.Utf8, we should support Neko even if the platform has only partial unicode support.

[2019-09-05 07:38] RealyUniqueName commented on #8693
FYI this sample is trying to perform `EReg.replace()` on a 2MB string.
Until hashlink performance is improved you can use `str = StringTools.replace(str, '"', '');` instead of a regular expressions as a workaround.

[2019-09-05 08:13] ncannasse opened #8764 "Eliminated cast regression"
The following should trace 0 on static platforms, but the manual cast to Float has been optimized out:

[code]

[2019-09-05 08:41] Simn opened #8765 "Assertion regression from TCast removal"
[code]

This now asserts because the `TCast` is removed and enum-abstract fields are assumed to always have that cast.

[2019-09-05 08:46] RealyUniqueName commented on #8693
Reduced sample:
[code]
I've added a test to Haxe benchmarks: https://github.com/HaxeFoundation/haxe/blob/2067554/tests/benchs/src/cases/Regexp.hx#L6
Here are the results for our targets:

| Target     | Ops per 0.5s |
|------------|--------------|
| Hashlink   |            7 |
| Cpp        |           10 |
| Eval       |           10 |
| Python     |           83 |
| Neko       |          122 |
|

[2019-09-05 08:50] ncannasse commented on #8693
Is it my eyes or PHP gets the fastest benchmark result ?

[2019-09-05 08:50] RealyUniqueName opened #8766 "[lua] malformed lua code in benchmarks"
[code]

[2019-09-05 08:51] Simn commented on #8764
This fails on the JVM target even with the cast.

[2019-09-05 08:58] Simn commented on #8693
I didn't want to believe it, but I'm getting similar results running this locally...

[2019-09-05 09:04] RealyUniqueName commented on #8763
`StringIteratorUnicde` and such were not supposed to work with neko as neko strings don't support unicode.
We still have `haxe.Utf8`.

[2019-09-05 09:08] sonygod commented on #8693
why my code for js target so fastest?
@RealyUniqueName , you test is difference result from my code.

[2019-09-05 09:10] Simn commented on #8693
Probably because you're benchmarking a whole lot of other stuff.

[2019-09-05 09:13] RealyUniqueName commented on #8693
PHP is fast here because regexps are just bindings to C implementation there.

[2019-09-05 09:14] RealyUniqueName commented on #8693
Myabe I don't understand how to use our benchmark suite. I think I only test `ereg.replace()`:
https://github.com/HaxeFoundation/haxe/blob/20675543720a3abe862bb6237f6f32e5d698ad1b/tests/benchs/src/cases/Regexp.hx#L10-L12
With this command:
[code]

[2019-09-05 09:16] Simn commented on #8693
I wasn't talking to you. :P

[2019-09-05 10:14] RealyUniqueName commented on #8765
Waiting for CI before merging to 4.0_bugfix

[2019-09-05 11:13] back2dos commented on #8761
Perhaps that can be quite interesting in that one could tie in a watcher and the server could thus forego all file system checks upon recompilation.

[2019-09-05 11:19] Gama11 commented on #8761
We already do that for display requests in the language server (that's why `server/invalidate` exists in the first place).

[2019-09-05 11:36] RealyUniqueName opened #8767 "[cpp] gencpp generates malformed C++ code for benchmarks"
Trying to build our benchmarks:
[code]

[2019-09-05 11:46] RealyUniqueName opened #8768 "[jvm] Exception on casting Float to Signle"
[code]
[code]

[2019-09-05 11:51] Simn commented on #8768
I noted that in #8764 already, but sure I'll take this issue instead.

[2019-09-05 11:54] #8765 closed, assigned to RealyUniqueName

[2019-09-05 12:21] Ilir-Liburn commented on #8739
Please note that fixing (v:Above\<Int\>) will change nothing. I can do following

[code]

and result is

[code]

Multitype abstract is always casting argument, no matter what is returned.

[2019-09-05 12:33] ncannasse commented on #8763
I understand but since StringIteratorUnicode is the new standard replacing haxe.Utf8 (if I understood correctly), maybe it should work with Neko as well ?

[2019-09-05 13:48] hughsando commented on #8767
This looks like a bug upstream from the cpp output:
[code]
The map value is constructed from a block that has an (unused!) variable in it.  cpp relies on the compiler to remove these - maybe too many compiler passes have been disabled?

[2019-09-05 13:50] Simn commented on #8767
Right, we should never use `@:analyzer(ignore)` in any code that makes it to targets because it skips the entire cleanup step, which some targets rely on at this point.

[2019-09-05 13:56] Simn commented on #8768
Wait, why is `Float` assignable to `Single`? That's a narrowing conversion which shouldn't be allowed implicitly...

[2019-09-05 14:03] kLabz commented on #8768
Because `abstract Single to Float from Float`? Or do you mean this abstract shouldn't have `from Float`? =/

[2019-09-05 14:04] Simn commented on #8768
We can `to Float` but we can't `from Float`. I'll have to support this regardless because someone could just `cast` it, but this shouldn't be allowed by the compiler implicitly.

[2019-09-05 14:29] ncannasse opened #8770 "[js] var t = null"
Looking at JS output changes, I noticed the following:

Several `var t = null;` are now inserted into various code parts - `t` being unused in the whole function - it comes from new Map() in member variables with auto generated constructors I think.

[code]

In JS output:

[code]

[2019-09-05 14:30] ncannasse commented on #8770
Actually it's maybe all new Map, everywhere

[2019-09-05 15:09] Ilir-Liburn commented on #8770
Yes, I noticed that too making my own multitype abstract. However, analyzer-optimize removes t.

[2019-09-05 15:13] ncannasse commented on #8768
We should discuss these at some point, I would like to have UI8 and UI16 as
well, and the rules for automatic conversion are yet to be defined.
For another example we allow Int -> Single while there might be some less
of precision

On Thu, Sep 5, 2019 at 4:04 PM Simon Krajewski <notifications@github.com>
wrote:

[2019-09-05 15:14] ncannasse commented on #8768
There's also the question of intermediate overflows, such as  (132:UI8) *
(5:UI8)

On Thu, Sep 5, 2019 at 5:13 PM Nicolas Cannasse <ncannasse@gmail.com> wrote:

[2019-09-05 15:16] RealyUniqueName commented on #8764
Merged into 4.0_bugfix

[2019-09-05 15:16] #8764 closed, assigned to Simn, RealyUniqueName

[2019-09-05 15:40] Simn commented on #8768
With known sizes, the implicit conversion chain is quite obvious:

[code]

The only real issue is `Int` because we don't define its size. We could just assume Int64 and disallow the assignment to Single. Nobody uses that anyway, and if they do they can just `cast` it.

Overflow behavior depends on how the binops are typed. If Int8 * Int8 is Int8 then it has a defined overflow behavior.

[2019-09-05 15:46] Aurel300 commented on #8768
I agree with the int conversions, but I don't think the int to float conversions make much sense. Why not allow `Int64` to `Single`? Sure there are fewer bits but they are not directly comparable. The user might care about the numeric range more.

[2019-09-05 15:52] Simn commented on #8768
Hmm, I thought there was no opcode for this in the JVM, but l2f is indeed a thing. In that case I agree we can just allow it.

[2019-09-05 15:52] RealyUniqueName commented on #8763
Neko got `neko.Utf8` instead.

[2019-09-05 17:53] Simn commented on #8693
Eval went from a score of 10 to ~460 with this change. Might want to use this for hxcpp as well.

[2019-09-05 18:20] akitsu-sanae commented on #8763
So should `StringIteratorUnicode` on neko be implemented with `neko.Utf8` to behave same as on other targets?

[2019-09-05 18:42] Simn commented on #8693
We updated HL and hxcpp as well, they are at 170 and 270 now respectively (probably a bit more on @RealyUniqueName's computer). This should also have a positive effect on other regex operations. Global replace was most affected because it is implemented as a loop which would then perform the UTF8 check on every iteration.

That should conclude this issue.

[2019-09-05 18:42] #8693 closed, assigned to nobody

[2019-09-05 18:46] RealyUniqueName commented on #8693
Yeah, on my laptop eval scores 663 now.

[2019-09-05 18:53] Simn commented on #8768
By the way, what I'm more interested in than implicit conversions is to what extent we have to allow conversions in general, e.g. if `cast`:

* How should  a target behave if someone assigns a `Float` to an `Int8`?
* Even worse, what about `Null<Float>` to `Null<Int8>`?
* Even worse, what about `Null<Float>` hidden behind `Dynamic` to `Null<Int8>`?
* Even worse, what about `Null<Float>` hidden beh

[2019-09-05 18:58] Simn commented on #8693
That feeling when your targets get beaten by PHP and your computer gets beaten by a laptop...

[2019-09-05 19:10] botsman opened #8772 "Python error when setting stdout – UnsupportedOperation('fileno')"
[code]

I am not even sure if this should be fixed on the Haxe side. So feel free to close this issue if you think that it is on the VSCode side.

This error is mostly related to my setup/VS Code.
I use pytest in my project.

First, I compile my project to Python.
Then I run test discovery in VSCode, and I get such error:
[code]

I checked test discovery in vscode, and it has the following code:
[

[2019-09-05 19:19] RealyUniqueName commented on #8693
13'' laptop btw...

[2019-09-06 01:44] sonygod commented on #8693
why close?

https://gist.github.com/sonygod/f92881c07d3cd2312c4c8959b019d15f

I retest this case and found Hashlink still slowy than Neko or other target.

![image](https://user-images.githubusercontent.com/748320/64394834-8d86d980-d08a-11e9-9418-e115647f8d48.png)

![image](https://user-images.githubusercontent.com/748320/64394860-a5f6f400-d08a-11e9-8db2-24480e1425ff.png)

![image](https://user-im

[2019-09-06 05:20] axelhuizinga opened #8773 "array.map Cannot use Void as value"
With rc4 I have to rewrite
classes.map(function(cN:String) el.classList.remove('is-tooltip-$cN'));
to
classes.map(function(cN:String) {el.classList.remove('is-tooltip-$cN');return null;});
in order to compile

is this intended?

[2019-09-06 05:38] kLabz commented on #8773
Yes, although you should replace it with `for in` loops or with Simn's solution.

[2019-09-06 05:39] Simn commented on #8693
This issue was about regular expression performance which has been addressed for HL. Your benchmark tests array creation and manipulation more than it tests regular expressions, and I don't want to muddle this issue with different performance problems.

If you can isolate another problem, feel free to open a new issue.

[2019-09-06 05:42] Simn commented on #8773
Or you can just add `using Lambda` and use `classes.iter(function(cN:String) ... )`.

[2019-09-06 05:42] #8773 closed, assigned to nobody

[2019-09-06 06:09] peteshand opened #8774 "File "_build/src/typing/typeloadFields.ml", line 802, characters 15-21: Assertion failed"
Hey there

After upgrading to 4.0.0-rc.4 I'm getting the following error when compiling a large project:
File "_build/src/typing/typeloadFields.ml", line 802, characters 15-21: Assertion failed

Unfortunately it doesn't give any detail on which class it's failing on.. Any suggestions on troubleshooting this?

typeloadFields.ml
[code]

[2019-09-06 06:12] Simn commented on #8774
Thank you for the report. This has already been addressed by https://github.com/HaxeFoundation/haxe/commit/58f54b372df85f42ee856212158c7799a2303439. Please try with the latest nightly from https://build.haxe.org/builds/haxe/ to confirm.

We'll announce our plan regarding this soon as it is a quite critical bug. Unfortunately, I still don't know which code causes it, so it's difficult to recommend

[2019-09-06 06:34] sonygod opened #8775 "Json.stringify is very very slowly ...."
Json.stringify is very very slowly ....

it seems all of haxe target is slowly, only the total length of array is 1000.

hl :9000ms

neko :14000ms

js:326ms

hxcpp:861ms

php: broken,JsonTest.hx:26: finish array 2
PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 266240 bytes) in /root/test/jsonphp/lib/haxe/Json.php on line 36

Fatal error: Allowed memory size o

[2019-09-06 07:13] RealyUniqueName commented on #8693
@sonygod what was the error for php?

[2019-09-06 07:22] ncannasse commented on #8775
This concern haxe implementation of JSON class, and since several targets are concerned, please post on haxe issues, not hashlink.

[2019-09-06 07:37] RealyUniqueName commented on #8775
That PHP error indicates that you hit a memory limit set in `php.ini` file (128Mb by default) change `memory_limit` setting in php.init to `512M` or `1024M`.

[2019-09-06 08:37] ncannasse commented on #8768
It's not that obvious : you are losing some bits when doing Int32 > Single or Int64 > Double for instance.

So either we go with "strict" behavior, where any loss of data requires a manual cast, or we go with a "loose" one where every conversion is automatic.

And there is two kind of casts :
- "automatic" casts, with Dynamic-to-X conversion, or unsafe `cast`
- "manual" `cast(e,T)`

I tend to thin

[2019-09-06 08:51] RealyUniqueName commented on #8772
Doesn't look like we have something to fix here.
Does that happen with a simple "hello world" project compiled to python?

[2019-09-06 08:51] Simn commented on #8768
I still maintain that this violates variance and should not be allowed. It's fine to have this for reference types which can be assumed to have compatible representations between compatible types, but it's not fine for basic types which may even have different sizes. I'm aware that you have funky adapter functions to handle this in HL, but supporting this should not be a requirement in my opinion.

[2019-09-06 08:58] RealyUniqueName commented on #8768
Yeah, I'd like compiler to not automatically loose anything for me when I use types with strictly defined behavior.

[2019-09-06 09:15] #8763 closed, assigned to nobody

[2019-09-06 09:34] botsman commented on #8772
Yes, that also happens with simple "Hello, world!" project.

The problem is that `sys.stdout` is redefined by `StringIO` before tests discovery starts.
Then during tests discovery this is executed from compiled python code:
[code]
Which produces the error.

I thought maybe you would see some good solutions to this problem.
I guess you can close this issue as not related to Haxe.

[2019-09-06 10:00] sonygod commented on #8775
also test this  cpu cost

neko :120%

hl:100%

node:<3%

hxcpp :<8%

php :~99%

	package;
	import haxe.Timer;
	/**
	 * ...
	 * @author sonygod
	 */
	class TimerTest
	{

		static function main()

		{

				 var t = new Timer(1000);

				 t.run = function(){

					 var a = 0;
					 for (j in 0...10000000){
						 a+=j;
					 }
				 }

		}

	}

[2019-09-06 10:17] lublak commented on #8596
I have a big project and have hundreds of these messages.
Troubleshooting has become uglier.
And I think it should not be the thought of having such error messages.

[2019-09-06 11:47] back2dos commented on #8775
I guess that means neko can squeeze an extra 20% out of your CPU? :D

[2019-09-06 11:50] Gama11 commented on #8775
Neko probably has some secret overclocking code...

[2019-09-06 12:54] haxiomic commented on #5129
Another examples where the implicit nulls from `inline` causes problems:
https://github.com/HaxeFoundation/haxe/pull/8731#issuecomment-527509885

In JS the `.toLocaleString(?locales, ?options)` throws up if null is passed for optional parameters. E.g. `(4).toLocaleString(null)`.

I like @Simn's though on an internal `no-value` flag

[2019-09-06 13:05] #8770 closed, assigned to nobody

[2019-09-06 13:58] Simn commented on #8661
Closing due to lack of ideas of what we could actually do here.

[2019-09-06 13:58] #8661 closed, assigned to nobody

[2019-09-06 14:04] Simn commented on #8616
I cannot seem to reproduce this anymore. Possibly fixed by the recent inline changes.

[2019-09-06 14:22] Simn commented on #8616
Never mind, the server tests still reproduce this:

[code]

[2019-09-06 15:20] Simn opened #8778 "[eval] Instance prototype not found: haxe.macro.Position"
[code]

[code]

[2019-09-06 15:22] Simn commented on #8768
JVM issue fixed by #8776. I'll close here, we can argue about casts when we argue about numeric types.

[2019-09-06 15:22] #8768 closed, assigned to Simn

[2019-09-06 15:41] Aurel300 commented on #8778
Maybe import it in `Std`?

https://github.com/Aurel300/haxe/blob/feature/eval-libuv/std/eval/_std/Std.hx#L23

[2019-09-06 15:48] Simn commented on #8778
The problem is that we're leaking internals here:

[code]

There's no real class for `Position`, so anything that treats it like one has issues.

[2019-09-06 15:56] kevinresol opened #8779 "macro @:from broken in rc4"
This used to work in rc3:

[code]

error: `BasicSuite should be Suite`

ref: https://github.com/haxetink/tink_unittest/issues/20

[2019-09-06 16:03] Simn commented on #8779
That's odd, it's not supposed to look at the `@:from` function here because the assignment should be allowed via the `SuiteObject` interface.

[2019-09-06 16:06] #8778 closed, assigned to Simn

[2019-09-06 16:24] Simn commented on #8779
Did this call the `ofAny` in rc.3?

[2019-09-06 16:45] #8779 closed, assigned to nobody

[2019-09-06 16:50] Simn commented on #8779
By the way, that `ofAny` is still going to fail with types that are legit incompatible. This is a deliberate breaking change because macro `@:from` used to be a type-hole which didn't check how the returned expression was typed at all. You'll probably have to make it `return macro cast $expr` now.

[2019-09-07 01:08] sonygod commented on #8775
![image](https://user-images.githubusercontent.com/748320/64467799-064f6980-d14f-11e9-8511-696d13bbe16b.png)

@back2dos  4 cores

[2019-09-07 02:32] sonygod commented on #8775
maybe first fixed string performance.

[2019-09-07 02:32] #8775 closed, assigned to nobody

[2019-09-07 02:41] sonygod opened #8780 "String performance is low and crash"
hashlink :crash
 neko :crash
 node:17ms
hxcpp:crash
php:crash

    package;

	/**
	 * ...
	 * @author sonygod
	 */
	class StringTest
	{

		static function main()
		{

			var s = "1234567890abcdefghijklmnopqrstuvwxyz";
			var t = Date.now().getTime();
			var str = '';

			for (i in 0...100000){
				str += s;
			}

			trace(Date.now().getTime()-t);

		}
	}

[2019-09-07 02:43] sonygod commented on #8775
https://github.com/HaxeFoundation/haxe/issues/8780

[2019-09-07 03:25] sonygod commented on #8780
![image](https://user-images.githubusercontent.com/748320/64469301-1f154a80-d162-11e9-862f-4bf0ac46636c.png)

[2019-09-07 07:05] Simn commented on #8780
String concatenation is quite bad for our targets. You get much better results by using `StringBuf`. The question is if the compiler could detect patterns like this and rewrite them to `StringBuf` automatically.

By the way, HL and hxcpp don't crash for me, they just take a really long time. I'm not seeing much of a memory increase in the process, so I don't know why you would experience crashes.

[2019-09-07 07:18] sonygod commented on #8780
they just take a really long time.yes ,very long time =crash.

![image](https://user-images.githubusercontent.com/748320/64471378-ae7f2580-d183-11e9-8bb8-f267a3bb0d01.png)

I've waited for long time to see the last result, but unfortunately, it's cost lots of CPU.

[2019-09-07 07:39] sonygod commented on #8780
after use StringBuf, wow, it's only used 0ms.

       package;
	import StringBuf;
	import sys.io.File;
	/**
	 * ...
	 * @author sonygod
	 */
	class StringBufTest
	{

		 static function main()
		{
			var s = "1234567890abcdefghijklmnopqrstuvwxyz";
			var t = Date.now().getTime();
			var str = new StringBuf();

			for (i in 0...100000){
				str.add(s);
			}

			trace(Date.now().getTime() - t);
			tr

[2019-09-07 07:46] sonygod commented on #8780
package;
	import StringBuf;

	/**
	 * ...
	 * @author sonygod
	 */
	class StringBufTest
	{

		 static function main()
		{
			var s = "1234567890abcdefghijklmnopqrstuvwxyz";
			var t = Date.now().getTime();
			var str = new StringBuf();

			for (i in 0...100000){
				var x=s.split('').join(',');//after add this ,it's slow down again.
				str.add(x);
			}

			trace(Date.now().getTime() - t);
			trac

[2019-09-07 09:36] Simn commented on #8780
@hughsando Could you check the most recent example with `-D HXCPP_GC_GENERATIONAL`? It hangs on a clean compilation, and segfaults after compiling without the flag once.

[2019-09-07 20:12] m0rkeulv opened #8781 "switch(this) stops working when default: is added"
In previous  RC versions of Haxe 4 (RC3 and below)  it was possible  to do a switch case without a default statement. i have some code that performs a switch using a class `this` value, and up untill now it has been working fine.

After a bugfix in RC4 that forces `default:` my switch case logic no longer works and it looks like adding `default:` to previous RC versions also breaks the code.

[cod

[2019-09-07 20:52] Simn commented on #8781
That's funny, the entire switch gets taken out by optimization in `reduce_control_flow`:

[code]

Unfortunately, `this` is typed as `TConst TThis` so this branch is entered.

@RealyUniqueName Any idea what we changed here that could be related? I wonder why this didn't fail in rc.3 and before. The switch subject must have been temp-varred I suppose, but I don't remember changing anything in that r

[2019-09-07 20:56] Gama11 commented on #8781
It did fail before as well, just not when there was no `default` case. And the `default` case is now required.

[2019-09-07 20:59] Simn commented on #8781
Thanks for clarifying, I misread that a bit. It's good that the `default` is required now, but that optimization is obviously nonsense.

[2019-09-07 22:08] jdonaldson commented on #8766
This is no longer reproducible on lua 5.3 or luajit 2.0

[2019-09-08 21:27] Ilir-Liburn opened #8782 "Compiler hanging on toString"
[code]

[cs, java, flash, lua] hanging, [cpp] runtime error, [hl, neko] stack overflow

BTW, I added type parameter to above class to ask why is CS tracing "Hanging\`1[System.Object]", from where is " \`1 " coming?

[2019-09-09 02:34] sonygod opened #8783 "Abstract haxe.ds.Map has no @:to function that accepts haxe.IMap<Void -> Void, Int>"
var map:Map<Void->Void,Int> = [];

it seems can not do this ?

[2019-09-09 02:55] sonygod commented on #8783
use Std.string(fun) instead of  Void->Void as key.

[2019-09-09 02:55] #8783 closed, assigned to nobody

[2019-09-09 03:05] sonygod commented on #8782
@ConstNW , will you look at this error?

[2019-09-09 05:32] Simn commented on #8782
Are we talking compile-time hang or run-time hang? Because the latter is pretty much expected here if you `toString()` within your `toString`.

[2019-09-09 06:19] #8781 closed, assigned to Simn

[2019-09-09 06:31] Simn commented on #8782
I just tested this and the compiler doesn't hang on any of the targets you list. There's a run-time stack-overflow, which is the expected behavior in this case.

[2019-09-09 06:31] #8782 closed, assigned to nobody

[2019-09-09 06:42] Simn commented on #5096
haxe.Utf8 has been deprecated, so this issue is obsolete.

[2019-09-09 06:42] #5096 closed

[2019-09-09 06:44] Simn commented on #8586
I forgot about this one. I think we have to do something for 4.0 here or at the very least document a workaround.

[2019-09-09 06:59] Simn commented on #5202
Two things to do here:

1. Check if `enumEq` is missing the `:EnumValue` constraints on some targets. Also check why `@:coreApi` doesn't check that.
2. Document that "is a class instance" on `Type.getClass` refers to the run-time type. For instance, calling it with a primitive value like `1` will wrap it into a `java.lang.Integer` on the Java target, which is a fixed necessity. It's impossible for

[2019-09-09 07:13] Simn commented on #7530
We aren't going to make additions like this to the current sys API and instead focus on a new sys API.

[2019-09-09 07:13] #7530 closed, assigned to nobody

[2019-09-09 07:51] Simn commented on #8346
Could you checked if this improved in recent Haxe versions?

[2019-09-09 08:46] Simn commented on #8736
I realized that we can just unset `cf_expr` after compilation as it will be restored by `cl_restore` anyway. We don't have to keep the optimized state around in memory at all. This reduces persistent memory by about 5% on our unit tests.

Note that we're only doing this kind of maintenance if we have a non-blocking socket connection, so I'll likely be the only one benefiting from this until IDEs u

[2019-09-09 08:46] #8736 closed, assigned to Simn

[2019-09-09 09:27] Simn commented on #8746
That should probably be allowed, but unification on `bind` might fail like it already does if you have a self-referencing `TMono`.

[2019-09-09 09:29] Aurel300 commented on #7530
It's a part of the new sys APIs already.

[2019-09-09 10:11] Simn commented on #8746
I'll make a change to `development` in preparation for this (see linked commit). Even if we decide to not go through with this, changing the architecture a bit is better for debugging:

[code]

This is exactly the same we have right now.

[code]

Transition:

* `ref None` become `Monomorph.create()`
* `!r` becomes `r.tm_type`
* `r := Some a` becomes `Monomorph.bind r a`
* `r := None` becomes `Mono

[2019-09-09 10:17] Aurel300 opened #8784 "Make -debug more useful"
(Just a reminder following the Slack discussion.)

It would be nice if `-debug` was more useful. It changes behaviour for some targets (hxcpp in particular), but has next to no uses in the stdlib. Perhaps whenever the docs say `the behavior when X is unspecified` we should have a snippet like:

[code]

At the beginning of the function. Maybe it would also be useful to introduce `haxe.DebugExceptio

[2019-09-09 11:38] Ilir-Liburn commented on #8782
That's strange. It is hanging on my side, VSCode - Compilation server. I tried without compilation server, same thing. I was hoping "  `1 " on CS target indicates that installation is somehow messed up on my side, but I don't have answer from you. Well, I will wait for next RC release to see if something is going to change.

BTW, Std.string could have a thread-safe counter to detect if it's called

[2019-09-09 11:39] kLabz commented on #8782
It means this type has one type parameter.

[2019-09-09 11:40] Ilir-Liburn commented on #8782
Thanks @kLabz

[2019-09-09 11:56] ncannasse commented on #8784
That would require some additional changes, for instance I think you only get source maps output in JS when compiling with `-debug`

[2019-09-09 11:58] Aurel300 commented on #8784
We could have separate defines for specific "debug-like" features to allow more customisation. Still, I think `-debug` should by default turn on all these features – JS source maps, hxcpp `-g -Og` optimisation level during compilation, additional errors, etc. `-debug` is opt-in anyway.

[2019-09-09 12:01] Gama11 commented on #8784
There's already `-D source-map`, though `--help-defines` says "php only".

[2019-09-09 12:08] RealyUniqueName commented on #8766
Do you mean we don't support 5.2 and lower?

[2019-09-09 12:42] RealyUniqueName commented on #7200
Works fine with mono

[2019-09-09 12:55] Ilir-Liburn commented on #8782
Now I understand, I used -v to see where it is hanging, but it doesn't. It is actually running executable, but there is no stack overflow error reported, not even increasing memory consumption exists. Case closed.

[2019-09-09 13:12] RealyUniqueName commented on #8586
I'm not very familiar with java, but do we really need to explicitly set utf8? Afaik we don't do it for other targets. It's up to user to setup an environment where a program runs or up to a developer of each specific app to detect an environment.

[2019-09-09 13:17] Aurel300 commented on #8586
@RealyUniqueName I made changes to other targets that are similar, i.e. setting the output stream mode to UTF-8. Maybe it's not the prettiest, but Windows environments seem to be years behind in terms of proper Unicode support, so just telling users to "setup an environment" is not good imho.

I agree we can have a `-D disable-auto-utf8-stream` (suggestions for a better name welcome) and simply wr

[2019-09-09 13:19] Simn commented on #8586
I'm a bit worried that having such a setting by default is really bad practice. Maybe we should ask some real Java devs what they think about this.

[2019-09-09 13:24] RealyUniqueName commented on #8746
Maybe move `tmono` into `Monomorph.t` and hide `tm_type` behind the `Monomorph` interface. That would be cleaner and easier to maintain imo.

Edit: I should have read your message before looking into the commit :)

[2019-09-09 13:31] Simn commented on #8746
We can't move `tmono` because it's recursive to `t` and you can't have mutually recursive types and modules in OCaml.

[2019-09-09 13:32] RealyUniqueName commented on #8784
But it's also supported  by js:
https://github.com/HaxeFoundation/haxe/blob/202ef67a510e73021c0525e9f2661a4c0f33bf3e/src/generators/genjs.ml#L1511
`-D js-source-map` should be deprecated in favor of unified `-D source-map` as I'd like to bring source mapping to other targets someday.

[2019-09-09 13:45] Ilir-Liburn opened #8785 "Abstract ignores @:from when initialized from null"
[code]

and here is why

[code]

Compiler assigns null to underlying type implicitly even abstract type doesn't say so. This is making a problem to use abstract type without a constructor, like basic types do.

[2019-09-09 13:53] RealyUniqueName commented on #8785
`null` ignores `@:from` because it has no own type. So, when assigned to `Abstract` it's assumed to be of that type instead of `Dynamic`. I don't think we will ever change that.
You can "workaround" it like this: `var n:Abstract = (null:Dynamic)`

[2019-09-09 13:53] #8785 closed, assigned to nobody

[2019-09-09 13:58] Ilir-Liburn commented on #8785
And what in this case?

[code]

Isn't logical to accept null implicitly where Null\<T\> is expected?

[2019-09-09 14:03] Ilir-Liburn commented on #8785
This works

[code]

[2019-09-09 14:04] RealyUniqueName commented on #8785
No it's not. It's not correct to assume that `null` is of an underlying type or of a `@:from` type, because abstract itself is also nullable.

[2019-09-09 14:07] RealyUniqueName commented on #8586
Forced encoding also causes https://github.com/HaxeFoundation/haxe/issues/8772

[2019-09-09 14:13] Ilir-Liburn commented on #8785
I agree to disagree
[code]

Anyway, if constructor taking dynamic value accepts null, why not @:from?

[2019-09-09 14:22] RealyUniqueName opened #8786 "Update "Breaking changes in Haxe 4" and "Haxe 4 migration" pages"
https://github.com/HaxeFoundation/haxe/wiki/Breaking-changes-in-Haxe-4.0.0

[2019-09-09 14:28] RealyUniqueName commented on #8785
When you have `var v:Abstract = null` that `null` is typed as `Abstract`. When you have `var v:Null<Float> = null` that `null` is typed as `Null<Float>`. That's all. You can manually call your `from` function or explicitly type `(null:Dynamic)`.

[2019-09-09 14:39] Ilir-Liburn commented on #8785
I rest my case. For me, @:from is about converting of other types to underlying type of abstract type. Even null is other type (Unknown at beginning) which can be converted to underlying type of abstract type or Null type like I demonstrated.

Anyway, I can use Null\<Float\> as underlying type to solve this problem, but that is having a performance issues which I'm trying to avoid.

[2019-09-09 15:22] RealyUniqueName commented on #8772
Try the latest change. Binary builds can be found here: https://build.haxe.org/builds/haxe/

[2019-09-09 15:52] jdonaldson commented on #8766
No, I just ran your example on those two runtimes.  It was broken before, but after a recent pull I can’t reproduce.

[2019-09-09 15:55] RealyUniqueName commented on #8766
But nothing has been changed in genlua. That means the bug is still there. It's just the Haxe code changed and it doesn't hit "bad" branch in genlua.

[2019-09-09 15:56] RealyUniqueName commented on #8766
And I still can reproduce it on the latest development.

[2019-09-09 16:14] Simn opened #8787 "Enum constraints are not always checked"
[code]

Probably not a regression, although I seem to remember coming across this before...

[2019-09-09 16:58] Simn commented on #8787
Similar case:

[code]

[2019-09-09 16:59] jdonaldson commented on #8766
Ah I see.  I’ll take another look.

[2019-09-09 17:02] Simn commented on #8787
Our type parameter instantiation is a bit of a mess. We have to review all usages of `monomorphs`, which includes `field_type`.

[2019-09-09 17:28] botsman commented on #8772
Now it works. Thanks!

[2019-09-09 18:37] #8772 closed, assigned to RealyUniqueName

[2019-09-09 19:15] Simn commented on #8746
Some more thoughts on how to handle this:

### Overall approach

* We collect all constrained monomorphs of a function inside the typing context, like we currently do for `ctx.opened`.
* When we're done typing the function, iterate all monomorphs and check:
  * If the monomorph is already bound, we generally don't have to do anything. We can look into checking something for #3033 though.
  * If th

[2019-09-09 19:24] RealyUniqueName commented on #8746
Could it be useful for inliner? E.g. #7379?
I mean if something is typed as an anonymous structure it actually becomes a monomorph with a cosntraint to that structure. And then actual type is applied on inlining. It could make `Iterator<T>` return type and `Lambda` methods great at last.

[2019-09-09 20:16] #8116 closed, assigned to RealyUniqueName

[2019-09-09 20:21] Ilir-Liburn opened #8788 "Conversion between basic types - static platforms issues"
If this is not going to be fixed, at least use it for documentation

[code]

[cpp] all ok
[cs] failing on b = cast d
[java] all casts failing
[flash] all ok
[hl] all ok

and here are native solutions if anyone cares

[code]

[2019-09-09 20:31] Simn commented on #8788
This is already [documented](https://haxe.org/manual/expression-cast-unsafe.html) to be undefined behavior:

[2019-09-09 20:31] #8788 closed, assigned to nobody

[2019-09-09 20:33] RealyUniqueName commented on #8788
I don't think we have something to do here.
If you're using untyped cast or pass a value through `Dynamic` you're disabling Haxe's type system. In this case you're on your own with target runtime behavior.

[2019-09-09 20:51] Ilir-Liburn commented on #8788
Sometimes I feel like I'm in a parallel universe. For example (CS)

[code]

Obviously CS is not generating runtime behavior which is not defined, yet it is failing at toBool(). And then I give a solution for the generator, but it is my fault because I used untyped keyword demonstrating what should be generated, or at least used in toBool().

I could argue then that compiler should not implicitly a

[2019-09-09 21:17] Simn commented on #8746
The approach in my previous comment isn't going to quite work. The problem is that we don't want to deal with these monomorphs when we're done typing a function, we actually want to deal with them earlier. In case of the type parameter merge, we want to "close" the monomorphs after the call has been processed.

This is gonna be messy in our architecture because there are various paths into `unify_

[2019-09-09 21:40] RealyUniqueName opened #8789 "[dsplay] Private abstract cosntructor is not provided in completion inside that abstract"
![img](https://i.imgur.com/C1m81Jw.png)
[code]

[2019-09-09 21:53] RealyUniqueName commented on #8789
Looks like any private method is not provided for completion inside the same abstract.

[2019-09-09 22:34] RealyUniqueName opened #8790 "Operator overloading regression"
[code]
This should not compile because `Int + Int8` is not defined in any `@:op`.
But Haxe 4.0 picks `addition` and compiles without errors:
[code]
Output with Haxe 3.4:
[code]

[2019-09-09 22:52] Ilir-Liburn commented on #8790
I'm getting: haxe.lang.HaxeException: oops (CS target)

One thing I don't understand: you say Int8 + Int is not defined in any @:op, but you have intAddition(a:Int8, b:Int). And it is not commutative in your example, so how to expect Int + Int8 to work through abstract?

[2019-09-09 23:09] Ilir-Liburn commented on #8790
This is working

[code]

EDIT: however, I don't understand why is addition() called if it is placed before intAddition(). Shouldn't addition() be called for Int8 + Int8, not for Int + Int8?

[2019-09-10 05:17] kLabz commented on #8788
You don't need `untyped` there, this works fine:
[code]

[2019-09-10 06:44] RealyUniqueName commented on #8790
Yeah, my bad. I meant `Int + Int8` is not defined.

[2019-09-10 07:05] Simn commented on #8746
## New idea: Binding callbacks

### Type parameter merging

Let's look at #5225:

[code]

The call to `merge` spawns monomorphs:

* `A` becomes a mono and is constrained to `{}`
* `B` likewise
* `C` becomes a mono and is constrained to both `A` and `B`

What we ultimately want here is to "close" `C` once both `A` and `B` are bound. The call unification would then proceed like so:

* `{foo: Int}` i

[2019-09-10 07:19] RealyUniqueName commented on #8790
Reverting f1e00acb633835538bd3c89da299684ee81b9734 fixes the regression.

[2019-09-10 07:30] RealyUniqueName commented on #8790
Leaving open until merged into 4.0_bugfix

[2019-09-10 10:46] Simn commented on #8746
I'll keep using this issue as my public diary because this is at such a large scale.

## Type specialization

When I'm mentioning `Map`, I'm actually talking about a more general problem of type specialization. For `Map`, the specializations are defined inside the abstract, which is bad. It would be much better to have 3 distinct parts:

1. The abstract definition which gives the structure (basica

[2019-09-10 10:59] Aurel300 commented on #8746
How will you make sure the the `using ...` part is loaded? Which module does it belong to?

Types that are just loaded, not instantiated? I imagine it might be useful to use the abstract type as an "interface", even though it will never be used due to e.g. conditional compilation.

[2019-09-10 11:05] Simn commented on #8746
It should use existing mechanisms, which is why I mentioned import.hx and `@:using`.

Not sure what you mean, this is by definition about type instances. We can't have leftover abstract definitions in the output. We already error when this happens: `Type parameters of multi type abstracts must be known (for haxe.IMap<Unknown<0>, Unknown<1>>)`.

[2019-09-10 11:12] Aurel300 commented on #8746
Right, but if I do:

[code]

Without any additional imports, how will the compiler find the mapping which is in a separate module? Requiring a `using` clause (per-file or in `import.hx`) for basic `StringMap`s is a breaking change and seems generally annoying.

Right, my bad.

Also, how is the order resolved? How do you select which of these comes first:

 - `MyMap<Dynamic, V>` specialisation
 - `

[2019-09-10 11:17] Simn commented on #8746
... which is why I keep mentioning `@:using`. Mappings would follow a similar handling.

First match wins, following normal import order (latest first).

[2019-09-10 11:48] AlexHaxe opened #8791 "[js] Unbound variable"
After fixing some EFunction changes in checkstyle, running `haxe buildJS.hxml` with Haxe4 rc4 (and latest git) in checkstyle project shows these two messages:
[code]

[2019-09-10 11:50] AlexHaxe opened #8792 "[java] code too large"
when running `haxe testJava.hxml` with Haxe 4rc4 (and latest git) for latest checkstyle, I get a Java compilation error:
[code]

[2019-09-10 11:51] Simn commented on #8792
Could you check this with a nightly build from https://build.haxe.org/builds/haxe/?

[2019-09-10 11:53] AlexHaxe opened #8793 "[jvm] Fatal error: exception IO.Overflow("write_ui16")"
when running `haxe testJava.hxml` with `-D jvm` on Haxe 4 rc4 (and latest git) I'm presented with a fatal error:
[code]

[2019-09-10 11:55] AlexHaxe commented on #8792
I've tried latest git locally and TravisCI used 4.0.0-rc.4+8663dea0e (see
 https://travis-ci.org/HaxeCheckstyle/haxe-checkstyle/jobs/583124248)

[2019-09-10 11:59] Simn commented on #8793
This is probably the same as #8792. The stack map has more than 2^16 entries, which is insane. We'll have to check the `-D dump=pretty` output to see what Haxe is doing there. My first guess is that there are thousands of @RealyUniqueName's inline default value branches being inserted.

[2019-09-10 12:13] Simn commented on #8746
In my prototype I just managed to get the mapping to affect itself, so the `using MyIntMap<T> as MyMap<Int, T>;` became `using MyIntMap<T> as MyIntMap<T>;`, which causes everything else to not find the mapping.

That... is a really stupid problem to have.

[2019-09-10 12:26] Simn commented on #8791
This is embarrassingly easy to reproduce:

[code]

[2019-09-10 12:51] Simn commented on #8793
He's innocent, it's some pattern matching code explosion. We should probably fix this in hxparse/haxeparser for now.

[2019-09-10 13:03] RealyUniqueName commented on #8793
This could happen even with "correct" code due to (ab)usage of inlining or just because of bad code (I've seen methods taking over 4k lines). There probably should be an inlining limit to workaround the former when targeting genjava.

[2019-09-10 13:06] Simn commented on #8793
It's not inlining, it's some combination of awful macros and pattern matching.

@AlexHaxe: I've updated haxeparser to remove these guards. This is technically not correct because the grammar now accepts too much, but I doubt that matters in practice. Please check if it works now.

I'm not sure if we have to take any action on the Haxe-side here. I don't think we can cause this kind of code explosi

[2019-09-10 13:08] Simn commented on #8793
On the other hand, I'm not sure what changed here, so there may be some lingering problem in the pattern matcher code still.

[2019-09-10 13:09] Simn commented on #8792
This is the same as #8793.

[2019-09-10 13:09] #8792 closed, assigned to nobody

[2019-09-10 13:16] AlexHaxe commented on #8793
TravisCI seems happy https://travis-ci.org/HaxeCheckstyle/haxe-checkstyle/jobs/583124248, local test run works too, thanks!

[2019-09-10 14:51] remiX- opened #8794 "ClassType.fields.get() returning missing function fields for properties with getters"
Hey guys... So I'm going to try explain this as best as possible...

There seems to be an issue that occurred somewhere between 19th and 26th August. A build I am sure of on 19th works fine and then another build around 26th is where this issue started happening but left it until new RC came out.

Testing RC4 now and trying to debug it, I have isolated it to `ClassType.fields.get()` returning miss

[2019-09-10 17:10] haxiomic opened #8795 "[display] Code generation is executed on autocomplete if hxml contains --next"
- I have some .hxml files that use hxpp and contain multiple targets separated with `--next`
- When I try to use autocomplete hxcpp starts compiling and generating output and autocomplete fails
- Autocomplete works when I remove the `--each` and `--next` flags

Maybe the solution is only pick the first batch for display and ignore the rest

Tested with latest git build https://github.com/HaxeFound

[2019-09-10 19:11] ncannasse commented on #7619
Could we have a more meaningful error message in the meanwhile?

[2019-09-10 21:50] Geokureli opened #8796 "[Suggestion] Structures for enum types with parameters"
My first language feature suggestion. Meant to reduce the need for switches to access enum parameters. I know nothing of what it takes to implement this, but I just thought I would throw it on the issues page.

Suggested syntax:
[code]

The main idea is that `Tree<Int>.Leaf` can be considered a structure, allowing leafs parameters to be accessed without using a switch. EnumType.SubType could behav

[2019-09-10 22:20] Gama11 commented on #8796
You can already do `case Node(left = Leaf(_), _)`, see https://haxe.org/manual/lf-pattern-matching-variable-capture.html.

[2019-09-10 22:26] Geokureli commented on #8796
@Gama11, Thanks, updated the example.

[2019-09-11 05:40] Simn commented on #8796
This is mostly #5167. The rest would have to go through https://github.com/HaxeFoundation/haxe-evolution, though I don't think we'll add any features just so that you can use `if` instead of `switch` to achieve the same thing.

Also note that you cannot cast to `Leaf` because that isn't a type.

[2019-09-11 05:40] #8796 closed, assigned to nobody

[2019-09-11 06:31] RealyUniqueName commented on #8794
I doubt `Context.getType()` is supposed to work outside of a macro. @simn?

[2019-09-11 06:33] RealyUniqueName commented on #8795
@Simn does this qualify for regression? Both behaviors (rc2 and rc4) seems wrong.

[2019-09-11 06:48] Simn commented on #8795
I think the problem here is that the `--no-output` which vshaxe sends alongside the cache build doesn't apply to the next `--next`.

... which would actually make this a vshaxe issue after all. I think it could just send `--no-output --each`.

But we can probably revert https://github.com/HaxeFoundation/haxe/commit/82bd2c8afce872db026d5bb6fc19b1449ec24296 anyway. I added it because our unit test `

[2019-09-11 06:59] RealyUniqueName commented on #8791
Open until merged into 4.0_bugfix

[2019-09-11 07:04] remiX- commented on #8794
Ah interesting...

So this was found mainly from [mockatoo using it](https://github.com/misprintt/mockatoo/blob/master/src/mockatoo/macro/MockMaker.hx#L71) but that seems to be in macro context with the `#if macro`.

But seemed to have narrowed it down to `Context.getType()` but like I said maybe I am misunderstanding something.

So I tried nightly `525b38c` which I know it worked previously for a

[2019-09-11 07:59] #8791 closed, assigned to RealyUniqueName

[2019-09-11 07:59] #8790 closed, assigned to nobody

[2019-09-11 08:02] RealyUniqueName commented on #8774
Given that we've reverted cast reduction in 4.0_bugfix branch I think this can be closed.
Feel free to reopen if you can still reproduce it with development version of Haxe.

[2019-09-11 08:02] #8774 closed, assigned to nobody

[2019-09-11 08:36] RealyUniqueName commented on #1798
Since macro-in-macro is banned now do we really want to keep hope for `@:build` in macros? Let's just close this.

[2019-09-11 09:50] Gama11 commented on #8796
I think part of the suggestion was to _make_ `Leaf` a type.

[2019-09-11 09:52] Gama11 commented on #8795
Oh, can you have multiple `--each`?

[2019-09-11 12:16] Ilir-Liburn commented on #8788
@kLabz, I used untyped as demonstration what could be generated, not what user should write because it doesn't make sense to generate code which fails at runtime. However, I understand Haxe policy to rely on native behavior, although Haxe is a cross-platform tool.

BTW, there is no Double.isFinite in Haxe API,  so I was forced to use untyped anyway

[2019-09-11 12:21] Simn commented on #8788
Haxe being cross-platform doesn't imply that you can cast arbitrary types to each other and expect a consistent result.

I'm thinking that Haxe might not be the right tool for you altogether and that you should maybe look into some cross-platform VM which entirely abstracts the native behavior away. Alternatively, a more dynamic language might be better suited for your efforts.

[2019-09-11 13:09] qwertykg commented on #8794
Hi @Simn just to add a little context, @remiX- is on the same team as me and working on trying to get the latest haxe version working with our codebase so our team can all update to the latest changes :)

[2019-09-11 13:17] Ilir-Liburn commented on #8788
Thanks @Simn, but I won't give up from Haxe just because I have different opinion. It's like with a human relationships: we have to learn to compromise.

[2019-09-11 13:32] haxiomic commented on #8795
@Gama11, multiple `--each` doesn't seem to work – haxe seems to ignore previous `--each` and its flags

I tried manually prepending `--no-output -D display-details` and it works but only _before_ https://github.com/HaxeFoundation/haxe/commit/82bd2c8afce872db026d5bb6fc19b1449ec24296 so I'd be in favor of reverting that one

Maybe the solution is:
- Revert https://github.com/HaxeFoundation/haxe/comm

[2019-09-11 13:34] Simn commented on #8795
I agree, let's revert that. Assigning to our branch manager.

[2019-09-11 13:39] Simn commented on #8794
Thanks for the context!

I'm a bit confused that this apparently used to work because as @RealyUniqueName says, the `haxe.macro.Context` API should not be used outside macros. Does the field in question maybe just get dead-code-eliminated now?

[2019-09-11 13:48] cmandlbaur commented on #8794
This is within the macro context. As @remiX- mentioned we are encountering the issue using mockatoo which is using macros to generate mock objects to testing.

[2019-09-11 13:52] sonygod opened #8797 "[dce][js] dce=full is not perfect for js target"
[code]

//and genjs

[code]

//actually,there are no need

[code]

[2019-09-11 14:09] haxiomic commented on #8795
Thanks @RealyUniqueName :)

[2019-09-11 14:10] kLabz commented on #8797
Can be reduced to:

[code]

[2019-09-11 14:14] Simn commented on #8794
Alright, now I see what you mean.

Haxe indeed auto-generates these accessor methods on interfaces, but the exact timing of that is not defined. In previous Haxe versions, this would happen quite early, which lead to various other issues. We delayed the generation of this, which now causes the observed behavior.

So in my opinion you're relying on undefined behavior here and I don't think we could