[2020-03-08 15:32] ncannasse commented on #9174
Interesting...
It comes from the optimizer which does not seem to deal correctly with catch clauses. In that precise case it doesn't "guess" that we can jump from catch1 to catch2, and thus "value" register is opt out.

[2020-03-08 15:45] ncannasse commented on #9197
The workaround is  `std.Bar.someVar = "test"`
This std "root package" prefix is not very well documented and maybe misleading, I wonder what else could be used instead.

[2020-03-08 17:02] Simn commented on #3846
Surely this can just be rewritten to a different expression in the generator...

[2020-03-08 17:10] Simn commented on #3846
See linked commit. Note that I didn't change `etype` because `real_type` already investigates the exact nature of `TField` expressions anyway.

[2020-03-08 17:21] Simn opened #9217 "[jvm] Deal with "The Problem""
There's a specific problem with genjvm that nobody noticed yet but which I'll have to fix before we can declare this target non-experimental.

[2020-03-08 17:29] kevinresol commented on #9135
- The compiler should be self-sufficient. i.e. Remove haxelib dependency (hence neko)
- Lock down library versions per project

[2020-03-08 18:42] Simn opened #9218 "[jvm] Missing cast with increment on Null<Int>"
[code]

Fails:

[code]

It's probably just missing a cast.

[2020-03-08 22:31] Simn opened #9219 "[jvm] Bridge methods vs. singly-constrained type-parameters"
[code]

Fails:

[code]

I think this is due to an optimization with singly-constrained type parameters. The compiler generates the `remove` method with a `remove(Lhaxe/root/Hashable;)Z` signature and doesn't provide a bridge method that takes `Object` as an argument.

I'm not sure why reproducing this requires interface inheritance though, so maybe something else is wrong, too.

[2020-03-08 23:17] Simn opened #9220 "[jvm] Overloads vs. haxe.extern.Rest"
[code]

Fails:

[code]

[2020-03-08 23:25] #9218 closed, assigned to Simn

[2020-03-08 23:25] #9219 closed, assigned to Simn

[2020-03-08 23:25] #9220 closed, assigned to Simn

[2020-03-09 08:01] back2dos commented on #9135
**Fully reproducible builds**. That is the main problem. The rest is icing on the cake.

[2020-03-09 13:12] RealyUniqueName commented on #9215
I don't see an issue here.
Looking at your first sample I can see, why that could be confusing, but `T` and `VectorType<T>` in `adder` function are not the same or compatible types.
If you change `function add(b:T):T` to `function add(b:VectorType<T>):VectorType<T>` the error would disappear.

It's probably better to try and find a simpler solution to your problem instead of type parameters juggli

[2020-03-09 13:26] ncannasse commented on #9135
For fully reproducible builds we need to be able to :
- P1 select compiler version
- P2 pin the haxelib libraries

P1 can be handled with haxelib : if the haxe compiler is a library, then we can resolve its path, install and publish versions, etc.  It then only requires a parameter for the "shim" to select the compiler.

P2 can already be acheived by explicitely setting the version in hxml : `-lib

[2020-03-09 13:34] RealyUniqueName commented on #9184
Reverted in fb6da3a5ea0c6d4143662b613245cbe4ba14d494

[2020-03-09 13:34] #9184 closed, assigned to nobody

[2020-03-09 15:02] RealyUniqueName commented on #9211
Could you provide a sample to reproduce the issue?

[2020-03-09 15:10] Simonrazer commented on #9211
The only example I can provide is the project I uploaded. Try building it with Armory for Windows C and you'll get the error. I'm sorry that I can't give a smaller example because I have no idea what actually causes this.

[2020-03-09 15:38] RealyUniqueName commented on #7002
For now I don't think automatic generation of default values is a good approach because we can't make it consistent:
[code]

And if we implement warnings/errors by package or module (like it's implemented for null safety) it's still not clear what to do with type parameters. The only default value, which makes sense in this case is `null`, but only until `@:generic` is involved.

[2020-03-09 15:59] Gama11 commented on #7002
I'm not sure it's a big issue if type parameters are an exception. I would consider those "advanced usage" anyway, where users should know what they're doing. The other 99% with regular old int / float / bool fields that are actually the source of most problems and confusion for newcomers would still be covered.

[2020-03-09 16:04] Gama11 commented on #7002
And actually, doesn't your code illustrate that this _would_ make the behavior consistent across targets? That currently already seems to trace `null` on all targets, including static targets like JVM and C++. So type parameters are already an exception?

[2020-03-09 16:08] Simn commented on #7002
C# can/should trace this as `0`.

[2020-03-09 16:14] SmerkyG commented on #7002
If it can cover normal usage cases that would go a long way towards
fulfilling the promise of haxe as a way to write code that can used (and
therefore never rewritten) across platforms and languages! Currently,
taking haxe code that works in c# target, for example, and trying to run it
on say js requires a ton of fixing of default value related bugs you can't
even know existed in your code.

On Mo

[2020-03-09 16:17] Gama11 commented on #7002
Hm, ok... Well, anyway, it seems like type parameters are already quite inconsistent in this regard then and probably won't ever be fully consistent across targets. So that shouldn't be an argument against this.

[2020-03-09 16:32] nadako commented on #7002
I can confirm that was probably the main pain point for me on my haxe->c#+js projects.

[2020-03-09 17:25] RealyUniqueName commented on #7183
Providing a default value already makes the field optional.
[code]

[2020-03-09 17:48] RealyUniqueName commented on #7447
So, what's the decision?
How about just emitting a warning in such cases?

[2020-03-09 18:17] nanjizal commented on #9215
It was for abstracts, I wanted to create
**VectorX** ( Matrix1x2, Matrix1x3, Matrix1x4 )
and
**MatrixX** ( Matrix2x2, Matrix3x3, Matrix4x3 ... )
https://nanjizal.github.io/geom/pages/geom/matrix/index.html
Theoretically it seemed like it should be possible for MatrixX and VectorX to provide operators, I still have not created full method coverage of **VectorType** and **MatrixType** but quite clos

[2020-03-09 18:43] #9217 closed, assigned to Simn

[2020-03-09 19:45] Ilir-Liburn commented on #9215
Well, since you are making 2D/3D transformations library, you should be careful while using abstracts. For example, decision to use VectorType typedef as underlying type seems to be a bad choice, because  access over typedef usually means: dynamic access. Here is an example how usage of your abstract looks in C#

[code]

First what you see is that arguments to add function are objects (Dynamic typ

[2020-03-09 21:14] ncannasse commented on #7002
The idea of reopening the issue was to add a way for warnings to be inserted, see here https://github.com/HaxeFoundation/haxe/issues/7002#issuecomment-418723657. Maybe a new issue should be opened instead.

[2020-03-09 21:16] ncannasse commented on #7447
I'm fine with proposed warning as transition, which should become an error in another haxe version.

[2020-03-09 22:16] Simn opened #9221 "[jvm] nadako-interfaces vs. reflection"
This took me forever to figure out. If we disable the excessive field closure generation for `_hx_getField` like I did on [this branch](https://github.com/HaxeFoundation/haxe/tree/jvm_less_functions), the following code stops giving the expected result:

[code]

The generated code has two `func` methods:

[code]

... and then `Reflect.field` just iterates the methods and picks up the first with a

[2020-03-09 22:29] Simn commented on #9221
The linked commit avoids the issue, but I think we should have that in place anyway because there could be legit synthetic methods getting in the way of reflection.

[2020-03-10 12:17] RealyUniqueName commented on #7609
Added fixes for initial unit tests for an empty search string.

Except lua:
https://github.com/HaxeFoundation/haxe/blob/ed2bc3d339bcefed3f2f95dfbe69aab535e678f9/std/lua/_std/String.hx#L70-L73
@jdonaldson  could you take a look at that please?

[2020-03-10 13:31] Gama11 opened #9222 "[display] workspace symbols doesn't find `ClassType.superClass`"
HaxeRepro, JS target, but doesn't seem to matter much.

Searching for `superClass` in workspace symbols fails to find `ClassType.superClass`. Interestingly it finds other fields of that struct such as `isFinal` just fine.

[2020-03-10 14:38] fal-works opened #9223 "[std] haxe.macro.Context.getModule() throws exception instead of returning null"
Everyone else might know, but still.

### Ver

Haxe 4.0.5

### Current description

### Repro

[code]

[code]

### Should

Either
- Return null as stated, or
- Fix the doc (and maybe the exception should say "Module not found"??)

[2020-03-10 14:50] Simn commented on #9223
The documentation should be fixed here because `getModule` should behave like `getType`, which is documented to throw an exception.

[2020-03-10 14:53] jdonaldson commented on #7609
Sure thing

[2020-03-10 14:53] Simn commented on #9212
#8263 makes me think that we shouldn't do this.

[2020-03-10 16:02] RealyUniqueName commented on #9215
Closing because there is no issue in the initial sample.
As I said earlier:

That's why compiler emits the error.

[2020-03-10 16:02] #9215 closed, assigned to nobody

[2020-03-10 16:07] RealyUniqueName commented on #9222
Could you please add a link to the sample? Can't find it.

[2020-03-10 16:26] RealyUniqueName commented on #9212
Genphp already does that. Unless the field being `@:hack`ed.

[2020-03-10 16:34] Gama11 commented on #9222
What sample? HaxeRepro? You've contributed to that. :smile:

It probably reduces in any project, I was just saying that I used that to test it.

[2020-03-10 18:12] RealyUniqueName commented on #9222
I don't see any `superClass` in HaxeRepro.

[2020-03-10 18:20] Simn commented on #9222
He's talking about `haxe.macro.Type.ClassType` but yes this issue report is very confusing without context. :P

No idea what's going on with that specific field... must be something about its type.

[2020-03-10 18:25] Simn commented on #9222
Maybe the printer or some other part can't deal with recursive types properly.

[2020-03-10 18:29] Gama11 commented on #9222
Sorry, I thought people are familiar with `ClassType`.. 😄

[2020-03-10 22:23] jdonaldson commented on #7609
I put in another edge case check to make the lua platform consistent with the rest.  The relevant test has been re-enabled as well.

[2020-03-10 22:25] jdonaldson commented on #7609
Also, I went ahead and checked off lua from the checklist above, just since it's so satisfying.  😁

[2020-03-11 03:51] kevinresol opened #9224 "Uncatchable haxe.macro.Context.typeof() when dealing with TExtend"
4.0.5

[code]

Compiler halts with `Cannot redefine field foo with different type` and the error is uncatchable

[2020-03-11 08:31] #7609 closed, assigned to jdonaldson

[2020-03-11 08:46] kevinresol opened #9225 "[jvm] crash but exit code is zero"
[code]

It has to be in a Timer callback, I suspect it is about threads.

[2020-03-11 08:50] Simn commented on #9225
That's normal without any synchronization. See #8153.

[2020-03-11 08:50] kevinresol commented on #9225
actually this issue contains 2 problems:

1. code compiled without checking the existence of the class
2. thread crash leads to incorrect exit code

[2020-03-11 08:51] Simn commented on #9225
I mean, it is an `extern`, so that's normal too.

[2020-03-11 08:52] kevinresol commented on #9225
alright

[2020-03-11 09:02] RealyUniqueName commented on #9224
It's because the error is converted to fatal error here:
https://github.com/HaxeFoundation/haxe/blob/5833503c28a7f34753f82aea111b5388d5c70ece/src/context/typecore.ml#L335-L347
@Simn do you know why do all errors get converted to fatal errors upon resolving `TLazy`?

[2020-03-11 09:07] Simn commented on #9224
No :(

[2020-03-11 09:47] Simn commented on #9225
We should make `haxe.Timer.delay` consistent across targets, so if it waits on non-threaded ones it should wait on threaded ones as well. This requires addressing #8153 first and then making sure all targets use non-daemon threads for this.

[2020-03-11 09:50] nadako commented on #9044
I'm confused, "find references" on the `Child.func` override definition is supposed to find usage in `Main.main`, but currently it doesn't. Was this broken at some point?

[code]

[2020-03-11 10:15] #7447 closed, assigned to RealyUniqueName

[2020-03-11 10:16] RealyUniqueName commented on #9224
@ncannasse can you say something about that code after 8 years since it was written? )

[2020-03-11 12:19] #7754 closed, assigned to Simn, RealyUniqueName

[2020-03-11 12:25] nadako opened #9226 "[display] wrong unification error position for constructor closure arguments"
[code]
this will error with:
[code]
the error position here points to the `Main.new.bind` expression, while it should point to the `"not an int"` expression

[2020-03-11 12:34] #9226 closed, assigned to nobody

[2020-03-11 13:16] nadako opened #9227 "immediately-bound constructor closures create redundant functions"
We can do better when handling `.new.bind`, since that will currently create two closures (one for `.new` and one for `.bind`):

[code]

current output:
[code]

could be:
[code]

Probably this could be solved with some more general local function folding optimization, but since `.new.bind` is relatively common case (e.g. we at innogames are embracing it for type-safe factories), it would be nice t

[2020-03-11 13:21] nadako opened #9228 "[analyzer] immediately-invoked-by-analyzer anonymous functions are not optimized away"
[code]

[code]

This is because IIFE optimization is done before the analyzer optimization, but maybe it should be done both before and after it.

[2020-03-11 13:24] Simn commented on #9228
This is difficult because inlining can put bad things in value places. I doubt the current analyzer architecture could support this.

[2020-03-11 13:27] nadako commented on #9228
Not sure what you mean by bad things here :)

[2020-03-11 13:28] Simn commented on #9228
All of the stuff that used to cause `$this` on JS and at this point probably causes crashes and fireworks on various other targets.

[2020-03-11 13:34] nadako commented on #9228
I guess I need an example. I quickly tried adding `Optimizer.reduce_expression tctx` call after the analyzer run and it seems to fix the code in the original post, but I guess you're talking about something more complicated?

[2020-03-11 13:41] Simn commented on #9228
Check the JS unit test output and look for `$this`.

[2020-03-11 13:53] nadako commented on #9228
Oh, I see, it indeed added a couple of them (while optimizing a lot of other stuff though).

[2020-03-11 18:05] wavemode opened #9229 "[python] RuntimeError when returning result of assignment to super.method()"
[code]

Every target (besides python) produces the correct output (this is --interp):

[code]

Compiling to python and running in python 3.8.2 produces this error:

[code]

Note that this only seems to result from expressions of the form `return x = super.set_x(n) + 999;`

If the body of `MySubType.set_x` is changed to:

[code]

Then it compiles and runs without error in python.

[2020-03-11 18:17] wavemode commented on #9229
Here is the generated python code that produces the error:
[code]
And this the the python code generated from the fixed version at the bottom of the issue, which runs without error:
[code]

[2020-03-11 20:09] RealyUniqueName commented on #9229
That's because python can't handle assignment as a value.
Genpy generates a local function to workaround that, but `super()` should be generated as `super(MySubType,self)` in a local function.
I think it would be better, if the compiler would tempvar the value of an assignment to avoid excessive local functions generation for python.

[2020-03-11 21:50] Gama11 commented on #9213
`_hx_getKnownFields` in `DynamicObject` subclasses would be a candidate for this too.

[2020-03-11 22:57] #9213 closed, assigned to nobody

[2020-03-11 22:58] Simn commented on #9213
Done, feel free to add it to more fields that you come across.

[2020-03-12 09:24] Simn opened #9231 "Potential bug in type_eq"
We have

[code]

But there's this check in the `TAnon,TAnon` case:

[code]

This means that with `EqDoNotFollowNull` we allow field kind variance, which we probably shouldn't.

I would like to find a reproducible case instead of just blind-fixing this. There's on place in the inliner which uses `EqDoNotFollowNull`:

[code]

This is to check if a `TCast` has to be inserted for the return value, so

[2020-03-12 12:13] nadako opened #9232 "[cs] native compilation error: Cannot implicitly convert type 'double' to 'int'"
[code]

[code]

[code]

[code]

[2020-03-12 14:56] RealyUniqueName commented on #7002
@ncannasse What about enabling default values generation per package/module?

[2020-03-12 15:09] RealyUniqueName commented on #9232
Broken somewhere between 4.0.0-rc.3 and rc.4

[2020-03-12 15:11] Simn commented on #9232
There's a good chance we can blame @kLabz.

[2020-03-12 15:18] RealyUniqueName commented on #9232
Nope, it's me: a2f8c73bbed3152ea05982910e2adbcc77fdb1ce

[2020-03-12 18:15] #9232 closed, assigned to nobody

[2020-03-12 18:25] RealyUniqueName commented on #8188
Since `@:using` already emits an error on `typedef` let's keep it like that.

[2020-03-12 18:25] #8188 closed, assigned to RealyUniqueName

[2020-03-12 21:38] Gama11 opened #9234 "[display] think about how to handle _std in workspace symbols"
I recently improved workspace symbols to include the package path for types (previously VSCode would fall back to using the file path since we provided no container name).

This has the downside that it leads to identical results in some cases with target specific implementations in e.g. `std/js/_std`:

![](https://i.imgur.com/ZHhL9ws.png)

Not sure how the two `ValueType` entries should best be d

[2020-03-13 11:42] RealyUniqueName commented on #8365
Now I'm confused.
Why is `String.indexOf` documented to work with negative `startIndex`? Even flash and js don't support that.
@ncannasse should we change the doc or implementations?

[2020-03-13 11:46] RealyUniqueName commented on #8365
I'd like to align all targets with JS here, but that would definitely break some projects.

[2020-03-13 12:31] #8950 closed, assigned to RealyUniqueName

[2020-03-13 20:51] #8952 closed, assigned to RealyUniqueName

[2020-03-14 02:52] kevinresol commented on #9108
Can it distinguish Null in `@:from` `@:to` as well? (https://github.com/haxetink/tink_stringly/issues/6)

[2020-03-14 08:57] Simn opened #9237 "[java?] Int vs. Null<Int> overloads"
This:

[code]

currently fails with

[code]

I'm not sure but I think this might be a regression from when we changed `Null<T>` to be an abstract. There's some code in `overloads.ml` which tries to dance around this situation and still checks for `TType`. The assumption was probably that the only `TType` that would still be there after a `follow_skip_null` would be the old Null-typedef.

@waneck C

[2020-03-14 09:47] Simn commented on #9237
It's a bit confusing because `rm_duplicates` is using `type_iseq` which I think has always followed away `Null<T>`. So it looks like the resolution was considering these overloads equal at some level and not equal at another.

[2020-03-14 12:24] Gama11 opened #9238 "[server] compilation server false positive with @:pure"
Sorry that this is not isolated at all, but this seems like an important issue.

To reproduce:

- clone https://github.com/vshaxe/haxe-TmLanguage
- `npm install`
- if you like, change the Haxe version in `.haxerc` to a Haxe dev path, but it's already at a recent nightly
- start a compilation server with `npx haxe --wait 7000`
- run `npx lix run vshaxe-build -t tm-language-tests --connect 7000 -v`

[2020-03-14 13:30] nadako opened #9239 "ugly double negation is introduced and not optimized away in some cases"
This started happening since not long ago (the expression wasn't changed at all before) and it doesn't matter if we have `-D analyzer-optimize` or not.

The rewrite is not bad because it saves a redundant assignment on targets that can't optimize it themselves, the problem is this double-negation that looks quite silly.

[code]

[code]

[2020-03-14 13:53] nadako commented on #6150
Because of 2e0f646e0ffc222e2c758847199765470c0a8d31 and this issue, haxe no longer considers `js.Browser.window` to be pure which prevents optimizations. (it was optimizing with `untyped __js__` before because of an explicit [hack](https://github.com/HaxeFoundation/haxe/blob/b72bc9e273cec849b3c153bab400d7a059a87d74/src/optimization/analyzerTexpr.ml#L149))

[2020-03-15 14:08] #9014 closed, assigned to RealyUniqueName

[2020-03-15 14:56] RealyUniqueName commented on #9108
Probably, yes. But since we ignore `Null` in so many places I expect it to have quite a bunch of related bugs at the beginning.

[2020-03-15 15:23] #9239 closed, assigned to nobody

[2020-03-15 16:05] Gama11 opened #9243 "Improve error message when trying to access a private type"
[code]

[code]

I feel like the error here is slightly confusing / misleading: the module _does_ define the type, it's just not accessible. `Cannot access private type Main` would be nicer, just like the `Cannot access private field <name>` error we already have for fields.

[2020-03-15 16:13] nadako commented on #9243
Hmm, this probably does not error in my module-statics branch...

[2020-03-15 16:56] #9243 closed, assigned to nobody

[2020-03-15 17:10] Gama11 commented on #9049
How does that work again? Does that need some corresponding `__define_feature__`?

[2020-03-15 18:21] RealyUniqueName commented on #9058
Still can't assemble an isolated sample. Moving to backlog to pretend this will ever be accomplished.

[2020-03-15 18:42] RealyUniqueName commented on #9146
Idk what null safety checker could do here.
That switch is generated like this:
[code]
From the null safety checker point of view it's definitely not safe because nullable `_g` is being assigned to non-nullable `_hx_tmp` before `_g` is checked for `null`.
@Simn why does pattern matcher not put that `var _hx_tmp` declaration into the `else` branch?

[2020-03-15 19:30] smorimoto commented on #6579
Since the current version didn't seem to work, so we worked around this problem by providing our own solution with the haxe and neko plugins of asdf version manager.
https://github.com/asdf-community/asdf-haxe#troubleshooting

[2020-03-15 19:31] smorimoto commented on #6579
Also, if you're looking for a version manager for Haxe, this might be a good option.

[2020-03-15 20:18] ncannasse commented on #8365
Yes I understand the need for alignment.

[2020-03-15 20:19] Gama11 opened #9245 "Missing "can't iterate on Dynamic" error for key-value-iteration on Json.parse() result"
[code]

Interestingly, key-value iteration errors as expected with an explicit `var foo:Dynamic` as well.

[2020-03-15 21:33] Gama11 commented on #6383
I just checked what the situation is like when removing the hardcoded `true ||` from `parser.ml`. It looks like auto-trigger with `(` is fixed with that, but still happens with `,`:

![](https://i.imgur.com/hgZUMoW.gif)

Also, I think there's some off-by-one error when moving the cursor outside of the signature. Rather than closing, the signature help stays open and highlights the first parameter

[2020-03-16 08:03] RblSb commented on #3727
I wanted to check this but got `Sys_error("lib/test/JTest.jar: No such file or directory")` on `java` (works fine on `jvm`). Probably `hxjava` bug?
[project.zip](https://github.com/HaxeFoundation/haxe/files/4336902/project.zip)

[2020-03-16 16:20] vladimirvelikov commented on #8966
Hi all,
Using 4.0.5, I just stumbled upon a similar issue (or is it the same?), where an expression created using SingleQuotes, appears with double quotes.
There's no manipulation through iter, whatsoever - just an attempt to manually create the following:

`function test(anInt:Int) trace('$anInt');`

using `EConst(CString("$anInt", SingleQuotes)) `

results in an expression with double quotes:

`

[2020-03-16 16:32] RealyUniqueName commented on #9153
Deprecated.
Next step: move to hx4compat

[2020-03-16 16:45] romamik commented on #8966
You should use `MacroStringTools.formatString` for this. `isFormatExpr` is also of your interest.

[2020-03-16 16:49] #6966 closed

[2020-03-16 17:58] nadako opened #9246 "double-negation optimization vs inlining vs local var names"
fcce3faed36ed2ccec172c6fb6b72260fbf418d3 seems to have messed up local var naming for !! that come from an inlined call. Maybe it just surfaced the issue, rather than causing it, but still it would be good to fix it in pursue of #9035.

[code]

BEFORE
[code]

AFTER (WITH `-D analyzer-optimize`)
[code]

AFTER (WITHOUT `-D analyzer-optimize`, better)
[code]

[2020-03-16 18:33] RealyUniqueName opened #9247 "Document new exceptions."
I need to write a documentation for the new exception handling #9124

[2020-03-16 18:44] #9245 closed, assigned to nobody

[2020-03-16 19:31] #9181 closed, assigned to RealyUniqueName

[2020-03-16 19:32] nadako commented on #9246
Okay this doesn't reproduce anymore after 79f7b7117ab31bdb0cc50ae3cb73a0a882ddc023. Not sure if it was specific to this double elimination or it's possible to construct another such case.

[2020-03-16 19:32] #9246 closed, assigned to nobody

[2020-03-16 19:45] #6420 closed

[2020-03-16 20:26] nadako commented on #6966
Note that #9124 alone doesn't fix the issue because using `CallStack.exceptionStack()` will still store the stack in a static var. However if the code is changed to use `haxe.Exception` (and its `stack` property) instead - the problem will be avoided.

[2020-03-16 20:59] nadako opened #9248 "[js] IE is not a fan of exception rework"
See https://dev.azure.com/HaxeFoundation/GitHubPublic/_build/results?buildId=3517&view=logs&j=1072e60c-b3b1-5b2f-d892-0453d8c74245&t=8183675b-e756-5250-33ff-789c2277bfc9&l=494

[code]

[2020-03-16 21:10] nadako opened #9249 "boolean binop reconstruction vs `return`"
This was reduced from a more complex binop chain, but even this simple one is not packed back into a binop. Would be nice if it would ^^

[code]

[code]

This looks similar to #6302

---

In the "real world" code this might get quite ugly:

[code]
out of this source:
[code]

[2020-03-17 09:38] nadako opened #9250 "clarify EReg.matched spec regarding capture groups"
So currently the doc for `EReg.matched` says this:

of `this` EReg. If no such sub-group exists, the result is unspecified.

But it's not immediately clear what "no such sub-group exists" means exactly. I assume it means that the group was not defined in the regex. But it's a bit confusing in case the group _was_ defined but was not matched.

I.e. is it safe to rely on the following to consistentl

[2020-03-17 09:45] nadako commented on #9250
Looks like it isn't because at least on JS that returns `undefined`. Maybe `null` could be a spec then? :)

[2020-03-17 09:51] nadako commented on #9250
And looks like we indeed test it for `null`: https://github.com/HaxeFoundation/haxe/blob/3352cab1d38992ef317d110151783c50fd138b41/tests/unit/src/unit/TestEReg.hx#L23

That makes it a documentation and type-hinting (`Null<String>` instead of `String`) issue.

[2020-03-17 15:52] decahedron1 opened #9251 "Fatal error: mbedtls/debug.h: No such file or directory"
Hi there, I'm trying to build Haxe with OCaml 4.02.3 and dune 1.11.4. When I try running make however, I get this error:

[code]

[2020-03-17 19:36] #9159 closed, assigned to RealyUniqueName

[2020-03-17 19:38] RealyUniqueName commented on #9251
If you're building on Windows, then you need this: https://github.com/Simn/mingw64-mbedtls

[2020-03-17 19:43] RealyUniqueName commented on #9249
Reproducible with 4.0.5 and 3.4.7, so it's not a regression.

[2020-03-17 19:47] RealyUniqueName commented on #9227
I'll try to check it for 4.1.

[2020-03-17 19:50] Simn commented on #9225
This has already been addressed for the jvm target and I don't think it affects any other (important) targets.

[2020-03-17 19:50] #9225 closed, assigned to Simn

[2020-03-17 20:12] decahedron1 commented on #9251
I'm building on Ubuntu 18.04 LTS.

[2020-03-17 21:34] benmerckx opened #9252 "Custom js generator, dce and typedefs"
When enabling DCE, a custom js generator receives only those concrete types that need to be generated. However it also receives every typedef included in the class path (even in unused modules). I'm generating Typescript definitions - and some of these typedefs reference concrete types that are not part of the generation (making Typescript upset). So I'm looking to either have unused typedefs not

[2020-03-17 21:42] benmerckx opened #9253 "Custom js generator outputs empty entry file"
When defining a custom js generator haxe compiler will clear the output file. It appears to also clear the whole file in the completion server. This is quite inconvenient as the custom generated js is cleared whenever accessing a .hx file again.

[code]
[code]

[2020-03-18 09:29] RealyUniqueName commented on #9251
Huh, I'm building on Ubuntu 18.04 LTS too and I didn't have any issues. Do you have libmbedtls-dev installed? If you don't, try `$ sudo apt install libmbedtls-dev`

[2020-03-18 09:38] RealyUniqueName commented on #9252
I guess the issue is that `onGenerate` macros get executed _before_ DCE (check the line numbers):
https://github.com/HaxeFoundation/haxe/blob/87ceafc689e36cec327923f24a709adbfd85c6cf/src/filters/filters.ml#L881
https://github.com/HaxeFoundation/haxe/blob/87ceafc689e36cec327923f24a709adbfd85c6cf/src/filters/filters.ml#L911

[2020-03-18 09:44] RealyUniqueName commented on #9252
@Simn Do you know why do we have it before dce?

[2020-03-18 09:57] #9253 closed, assigned to nobody

[2020-03-18 10:37] Ilir-Liburn opened #9254 "[JVM] java.lang.reflect.Method has no field getParameterCount"
java.lang.reflect.Method has no field getParameterCount (Suggestion: getParameterTypes)

[code]

[2020-03-18 10:45] RealyUniqueName commented on #9254
According to java docs `getParameterCount` was added in Java 1.8: https://docs.oracle.com/javase/8/docs/api/java/lang/reflect/Method.html#getParameterCount--

I have the same error and here is my `java -version`:
[code]

[2020-03-18 11:41] Simn commented on #9252
I know absolutely nothing about custom JS generators.

[2020-03-18 11:46] Simn commented on #9254
Can you confirm that it works if you replace it with `getParameterTypes().length` (in jvm/Jvm.hx)?

Also I think this means that @Ilir-Liburn's hxjava is outdated.

[2020-03-18 13:00] markknol commented on #7395
### Proposal
Can we have this in the std?

[code]
### Usage

Add to imports / [import.hx](https://haxe.org/manual/type-system-import-defaults.html)

[code]

Then we can to do just this:

[code]

I have this in almost all of my projects, but I feel like its so simple that it should be part of the std.

[2020-03-18 13:16] Gama11 commented on #7395
@markknol You won't need any `using` at all once https://github.com/HaxeFoundation/haxe/pull/7422 is done.

[2020-03-18 15:05] #9248 closed, assigned to RealyUniqueName

[2020-03-18 15:14] RealyUniqueName commented on #9254
Yes, it works.

[2020-03-18 15:35] #9254 closed, assigned to Simn

[2020-03-18 18:01] Simn commented on #9177
I'm seeing this on the CI:

[code]

[2020-03-18 18:06] benmerckx commented on #9252
The js generation is actually called at a later stage than onGenerate:

[code]

[code]

With dce the unused class `UnusedConcrete` is not passed to the generate call, but the typedef referencing it is:
[code]

[2020-03-18 21:17] RealyUniqueName commented on #9177
Fixed in 393732bc50f3111eb017eab9b868b0e61cdeab54

[2020-03-18 21:17] #9177 closed, assigned to RealyUniqueName

[2020-03-19 16:34] #9227 closed, assigned to RealyUniqueName

[2020-03-19 17:50] fal-works opened #9255 "[display] Build macro cannot find namespaced metadata (v4.0.5)"
Sorry if it's already known or I'm doing something wrong.

The example below actually works fine in all cases, but gives strange results only if
- completion mode (`--display`), and
- using namespaced metadata (`@a.b`, `@:a.b`).

It can't find the metadata (case 5-6) or isn't run at all (case 4).

## Repro

### Code

#### Main.hx

[code]

#### Macro.hx

[code]

### Output

#### Interp

`haxe -main

[2020-03-19 17:56] RealyUniqueName commented on #9255
This is only reproducible with 4.0.5.
The latest development emits this:
[code]

[2020-03-19 18:00] RealyUniqueName commented on #4663
Looked into this while I was working on #9227.
I think we don't need array-wrapping if the variable is not written inside of a closure (outer closure is still required).
But the implementation is not very simple, so I don't want to touch it for 4.1.

[2020-03-19 18:14] fal-works commented on #9255
I see, thanks!
Indeed I used v4.0.5.

[2020-03-19 18:14] #9255 closed, assigned to nobody

[2020-03-19 18:16] wavemode opened #9256 "[python] Compile error on python.Syntax.importModule, importAs, and importFromAs"
In Haxe 4.0.5, the following simple line of code:

[code]

Produces this compile error:
[code]

And this line:

[code]

Produces this error:

[code]

Finally, this line:

[code]

Produces this error:

[code]

Thus I have to use `python.Syntax.code` instead.

[2020-03-19 19:01] #9147 closed, assigned to RealyUniqueName

[2020-03-19 19:02] nadako opened #9257 "[analyzer] local propagation vs closures"
I wonder if we could apply local fusion and const propagation and optimize `a` and `b` away in this case:

[code]

Currently this generates:
[code]

However it should be safe to optimize it to:
[code]

Because `a` and `b` are never modified... I remember our capture var handling filter deals with modification, so maybe we could use that info for optimization, but I might be wrong.

[2020-03-19 19:06] nadako commented on #9257
FYI I've noticed this when diffing the generated code after 42cacaeb249eeb30756106634381892966eaa3b7, as it now generates some redundant local vars instead of redundant closures :)

[2020-03-19 19:11] nadako commented on #9257
Actually no, the amount of created local vars is the same, but still I've noticed this thanks to this change ^^

[2020-03-19 19:19] nadako commented on #9227
Thanks, this is so much better now!

[2020-03-19 19:44] nadako opened #9258 "@:structInit default argument regression"
[code]

will generate

[code]

As said on Slack, I'm not sure why don't we generate `null` at the call sites, since I think optional arguments must always be "nullable" from the outside, so there might be something else wrong there as well.

[2020-03-19 19:47] Simn commented on #9258
Wasn't there some special situation regarding nullability and optional arguments on the Flash target?

[2020-03-19 20:59] nadako commented on #9258
Yes that's what @RealyUniqueName mentioned as well, but without knowing the details this looks like an target inconsistency to me. On the other hand it should be safe to use call-site defaults for constructors anyway...

[2020-03-20 09:16] #9258 closed, assigned to RealyUniqueName

[2020-03-20 14:24] nadako commented on #9256
wow this is pretty serious

[2020-03-20 15:56] #9256 closed, assigned to RealyUniqueName

[2020-03-20 16:42] RealyUniqueName commented on #8112
Documenting `@:ifFeature`: https://github.com/HaxeFoundation/HaxeManual/pull/454

And I agree with @ncannasse we need something like `@:dependsOn("IMap.exists", "IMap.get", "ISomething.*")` for cases like this.

[2020-03-20 17:02] Simn commented on #8112
I think we need something more than that so the types are actually loaded. I have a [hack](https://github.com/HaxeFoundation/haxe/blob/development/std/eval/_std/Sys.hx#L91) in the eval standard library to deal with that for a specific case. Would be nice to do this differently.

[2020-03-20 17:34] RealyUniqueName commented on #8365
I suggest to change the doc in 4.1 from
[code]
to
[code]
and specifically mention it in 4.1 release note.

And then in 4.2 (or even in 5.0) change the doc and targets behaviors to be the same as JS.
Which is like this:
[code]

[2020-03-20 17:39] RealyUniqueName commented on #8368
I still don't know how to fix this properly.
I don't think we can do anything here. Instead we should focus on https://github.com/HaxeFoundation/haxe/issues/7871 and then this issue will become irrelevant.

[2020-03-20 17:58] RealyUniqueName commented on #9029
I can reproduce it with 4.0.5
But with the latest development I get a compilation error:
[code]
Which the same as #9238

[2020-03-20 17:59] RealyUniqueName commented on #9238
Duplicates #9029

[2020-03-20 17:59] #9238 closed, assigned to nobody

[2020-03-20 18:00] RealyUniqueName commented on #9029
`inline` functions should not be allowed to override in the first place.
But the second version of `Screen.hx` makes me think that analyzer does not check if `onStart` is overridded.

[2020-03-20 18:01] Simn commented on #9029
Huh, I thought this was disallowed already...

[2020-03-20 18:19] RealyUniqueName commented on #9029
I checked and it is. Idk how did @RblSb managed to compile that.

[2020-03-20 18:20] RealyUniqueName commented on #9029
False alarm. I got confused by `_onStart` and `onStart`.
Back to the purity investigation.

[2020-03-20 20:47] RealyUniqueName commented on #9029
Reopening because of this: https://github.com/HaxeFoundation/haxe/commit/752edad5ab9d60997513d5b4033ad40df5a1be63#r37949526

[2020-03-21 12:58] #9029 closed, assigned to RealyUniqueName

[2020-03-22 12:03] RealyUniqueName opened #9261 "[cppia] segfault on null pointer"
Since e15c0211300d81894308c1c7bed53d58991ca2bd cppia unit tests are segfaulting.
That change made analyzer to keep some code, which were previously removed.
I looked into diffs of `-D dump=pretty` before and after that change.

These lines are no longer eliminated by analyzer (assignments are compiled as property setters):
https://github.com/HaxeFoundation/haxe/blob/fbeac98f865bab5a21158117e1aad3b

[2020-03-22 12:10] RealyUniqueName commented on #9261
Commenting out this line fixes segfault:
https://github.com/HaxeFoundation/haxe/blob/fbeac98f865bab5a21158117e1aad3b0bba77570/tests/unit/src/unit/issues/Issue4986.hx#L7

[2020-03-22 12:21] RealyUniqueName commented on #9261
Actually, just removing `foo` call fixes it. Committed a workaround for now.

[2020-03-22 13:38] Ilir-Liburn commented on #9254
I have latest Haxe build on Windows and Linux, plus Java (openjdk 11 on Linux) and hxJava as well. Error I'm getting now is:

[code]

previously reported here https://github.com/HaxeFoundation/hashlink/issues/302 (I skipped JVM issue report due to early development stage)

[2020-03-22 13:53] Gama11 commented on #9254
You might want to open a separate issue for that one.

[2020-03-22 14:22] Ilir-Liburn commented on #9254
Let's wait for @Simn and @RealyUniqueName before doing that

[2020-03-22 14:27] hughsando commented on #9261
What is v[0] supposed to be - a null Array<Float> ?

[2020-03-22 16:43] RealyUniqueName commented on #9261
Yes, I think it should return `null`.

[2020-03-22 16:46] RealyUniqueName commented on #9261
So, it's a null pointer exception. Isn't debug build supposed to print a meaningful error message in such case?

[2020-03-22 16:46] Simn commented on #9261
See #8452

[2020-03-23 09:16] Ilir-Liburn opened #9264 "[JVM] Operand stack underflow"
I have latest Haxe build on Windows and Linux, plus Java (openjdk 11 on Linux) and hxJava as well.
Following code

[code]

produces

[code]

[2020-03-23 09:17] Simn commented on #9264
What's the `-D dump` of `Main` here?

[2020-03-23 09:23] Ilir-Liburn commented on #9264
[code]

[2020-03-23 09:39] Simn commented on #9264
I guess the compiler follows the underlying type of the abstract and concludes that it's `Float` via that `@:to` function. And then we end up assigning a `null` value to a basic type and everything explodes. This code probably isn't quite sound.

On the other hand, I'm not sure why this manifests as a stack underflow. At the very least this should fail differently.

[2020-03-23 09:45] Ilir-Liburn commented on #9264
As I remember, @:multiType abstract resolves Null\<T\> as T assigning 0.0 value in normal case. It seems null is used here causing this to "explode". Here is normal Java output

[code]

[2020-03-23 09:49] Simn commented on #9264
I think that only happens to work because genjava uses `null` as "default value" in cases like this.

By the way, does it work if you change the return type of that `@:to` function to `Null<Float>`?

[2020-03-23 09:51] Ilir-Liburn commented on #9264
No, same happens

[2020-03-23 10:02] Simn commented on #9264
Ah, the reason this comes out as a stack underflow is because double values on the JVM take up two stack slots instead of one. With only `aconst_null` on the stack it can't pop two stack elements and thus underflows. So there's no mystery in that part.

Anyway, this code should not make it out of the typer like that. It either has to error or inject the `@:to` call.

[2020-03-23 10:14] RealyUniqueName commented on #9261
That means ` -D HXCPP_CHECK_POINTER` and `-debug` has no effect on cppia behavior related to null pointers.

[2020-03-23 10:20] Simn commented on #9264
I think using `Float` there should be a compiler error. The underlying type promises that it's `Null<T>` and thus nullable, but the concrete type is `Float` and not nullable.

However, I think it should work with the return type being `Null<Float>`. There's probably a different problem here with the `Null` being followed away by someone.

[2020-03-23 10:28] Ilir-Liburn commented on #9264
BTW, is it possible for @:to and @:from on @:multiType abstract to return specific value, instead of automatically assign 0 for @:to and return argument value at @:from? I checked how Map is coded, there shouldn't be problem because each return value is as it should be.

I guess not, because if @:multiType abstract is used as a member variable inside the class for example, default value (0 or null

[2020-03-23 11:48] #9199 closed, assigned to Aurel300

[2020-03-23 16:17] RealyUniqueName commented on #8365
Unspecified.

[2020-03-23 16:22] RealyUniqueName commented on #9223
Changed the doc.

Internal exception raised is `Module_not_found`, but it's specifically set to be described as "Type not found":
https://github.com/HaxeFoundation/haxe/blob/fe5c3d17968f0428d5461194acc985aa8284bb8f/src/core/error.ml#L266
@Simn do we want to change that?

[2020-03-23 16:49] Simn commented on #9223
Probably not, but @nadako is the expert for this.

[2020-03-23 17:33] nadako commented on #9223
Well... I can only assume this is because originally this error was only(?) raised from _type_ loading procedures, and "we" wanted simplier error messages, so we get a simple "Type not found" message when trying to resolve "pack.InexistantType" instead of talking about modules (also because "normally" you have modules with main types). On the other hand, _inside_ the compiler we want an exception

[2020-03-24 08:45] RealyUniqueName commented on #6649
Not related to asys API anymore.

Changing `Any` to behave like a wildcard type parameter (as `Dynamic`) alone won't solve the issue.
In case of `Dynamic` it is not propagated, while `Any` is propagated.  And `Std.downcast` infers the type of the first argument.
And instead of changing the behavior of Haxe type system std (or any other lib) could have a method for such cases:
[code]

[2020-03-24 16:10] Gama11 opened #9266 "[display] inline methods reported as MethNormal"
Requesting completion after `override` here, or simply hovering over `foo` reports `JsonMethodKind.MethNormal` rather than `MethInline`:

[code]

![](https://i.imgur.com/LDKX1Ac.png)

This means inline methods incorrectly show up in vshaxe's override completion, leading to invalid code being generated when you select one of those methods.

[2020-03-24 17:40] #9149 closed, assigned to RealyUniqueName

[2020-03-24 19:30] Gama11 commented on #7306
@jdonaldson Maybe it's time to merge that branch since it seems nobody found a better solution in the meantime? :) Or apply that approach so some new type in the `lua` package instead of `haxe.extern.Rest`.

[2020-03-24 19:44] prnxdev opened #9267 "[Lua] Add support for varargs "...""
Hi,

I don't see a way to support for ... in final lua code but I see that there is lua.Lua.args which is using this behavior so I think it could be supported.

[2020-03-24 20:12] prnxdev commented on #7306
lua.VarArgs would be nice since there is cpp.VarArg, python.VargArgs etc.

[2020-03-25 09:30] #7559 closed, assigned to nobody

[2020-03-25 09:32] RealyUniqueName commented on #9145
Fixed by #9263

[2020-03-25 09:32] #9145 closed, assigned to nobody

[2020-03-25 15:19] nadako opened #9268 "bound method "propagation""
Suppose we have this code:
[code]

this will currently generate:

[code]

which is technically correct, however it's not the best performane-wise, because we don't really need the `$bind` here. Ideally, we would tempvar the object and "propagate" method call, i.e.:

[code]
(not tempvaring `future` here as it's already a local)

[2020-03-25 17:18] jdonaldson commented on #7306
It looks like the hack for `haxe.extern.Rest` doesn't work... the compiler won't let us use an extern type for haxe-generated code any longer.... most likely for good reasons.

I'll bring this up with the rest of the team, but it touches on a number of existing requested features.  I don't want to do something half-baked for Lua if we can find another more general solution for other targets.

[2020-03-25 17:18] Gama11 opened #9270 "[display] support @:noCompletion added via Compiler.addGlobalMetadata()"
Right now, this isn't respected as discovered by @markknol. According to @Simn, this should work if `displayToplevel.process_decls` uses `TypeloadCheck.check_global_metadata`.

[2020-03-25 17:20] Gama11 commented on #9234
I run into this a lot. Would be good to solve it for 4.1, since it's sort of a "regression" (before you could tell them apart because we reported no container name at all VSCode fell back to showing the file names).

[2020-03-25 17:23] jdonaldson commented on #9267
Duplicate of : https://github.com/HaxeFoundation/haxe/issues/7306

[2020-03-25 17:23] #9267 closed, assigned to nobody

[2020-03-26 03:10] kevinresol opened #9271 "genericBuild broken when built with function in sub-type"
[code]

Expected to trace `build main` and `build sub`,
But traced `build sub` twice since 36fd5a811d52ad8cc073c7a690f8d95eab018c73

[2020-03-26 03:10] nadako opened #9272 "Macro loading regression?"
Apparently, 36fd5a811d52ad8cc073c7a690f8d95eab018c73 broke something in https://github.com/kevinresol/turnwing/tree/v2.

[2020-03-26 03:11] nadako commented on #9272
Oh, I was too fast, closing in favor of #9271

[2020-03-26 03:11] #9272 closed, assigned to nadako

[2020-03-26 03:25] nadako commented on #9271
Should be fixed now, leaving the issue open because:
 - need to add test for it and
 - i don't understand yet how 36fd5a8 could break it. the issue seems to have always been there, and yet it all worked _somehow_ ^^

[2020-03-26 03:27] nadako commented on #9271
Oh and by the way, thanks for the perfect bug report \o/

[2020-03-26 13:14] nadako opened #9273 "[flash] constructor default values are lost when inheriting native classes from SWC"
`Parent.as`:
[code]
compile to an SWC with:
[code]

`Main.hx`:
[code]

compile to an SWF with:
[code]

output:
[code]

while it should be `hello` in both cases.

This probably has to do with how we implicitly create constructors and I guess some extra stuff should be done for Flash here.

[2020-03-27 09:55] TheDudeFromCI opened #9275 "Haxe failing to fully install on Fedora 31"
I'm trying to install Haxe on my Fedora 31 via `sudo dnf install haxe`. The installation appears to run correctly. The `haxelib` command works with no issues at all, but the `haxe` command throws an error with nearly all input arguments and options. I cannot compile any sources or run any options other than `haxe -version`. Even `haxe --help` fails to run, saying `Fatal error: unknown option --hel

[2020-03-27 10:14] RealyUniqueName commented on #9275
What commands are you running to compile `build.hxml`?
What's the content of `build.hxml`?

[2020-03-27 10:19] TheDudeFromCI commented on #9275
Command:
[code]

And the contents are:

[code]

And the contents of src/Main.hx:
[code]

That's the entire directory.

[2020-03-27 11:02] RealyUniqueName commented on #9275
Try changing `-main src.Main` to `-main Main`.
And `-java bin/Main` to `-java bin`

[2020-03-27 17:44] TheDudeFromCI commented on #9275
No change. As I said above, not even `haxe --help` is working.

---
Edited to include terminal output, just in case:
[code]

[2020-03-27 20:29] Gama11 opened #9276 "-xml contains no indication whether a class is final"
The relevant section of the generated XML for this:

[code]

...looks like this:

[code]

As you can see, nothing here to indicate that it's a `final` class - I was expecting `@:final` meta, or `final="1"` (like with `interface="1"`). Context: wanted to render this info in dox.

[2020-03-27 20:38] Gama11 opened #9277 "`Classdef` only supports one `superClass`"
With interfaces there can be multiple. Original issue: https://github.com/HaxeFoundation/dox/issues/260

[code]

The XML is correct, but I think the RTTI parser throws away the additional `extends`:

[code]

[2020-03-27 20:42] Gama11 commented on #9277
A way to fix this without breaking changes could be to add an optional `superInterfaces` fields that it is only set when `isInterface` is `true`.

[2020-03-27 20:43] Gama11 commented on #9276
I think a `Classdef.isFinal` is needed.

[2020-03-28 07:56] TheDudeFromCI commented on #9275
Looking more into why the version is saying "OCaml runtime" which is unusual, I tested it a bit and it appears that the `haxe` command has installed as OCaml instead of Haxe, somehow? Like, I can run OCaml files through it.

[code]

This is extremely unusual. I have uninstalled both of them and reinstalled, but with no changes. II believe the installation is somehow getting corrupted when attempti

[2020-03-28 08:28] RealyUniqueName commented on #9275
But do you have `mbedtls-dev`?

[2020-03-28 08:31] RealyUniqueName commented on #9275
That's... I can't even imagine how that could happen with automatic installation.
Do you maybe have some script named `haxe` in `$PATH` or other software with `haxe` binary?

[2020-03-28 09:20] TheDudeFromCI commented on #9275
I assume it's not. Forgot to check, sorry. I tried installing `mbedtls-dev` with dnf and it couldn't find the package, so I'm not sure what the package I should be installing is. It's probably under a different name.

No, I don't. Just checked my path. If it makes any difference, I did install OCaml after installing Haxe. So it's possible when installing Haxe, it tried to also install the OCaml ru

[2020-03-28 09:28] Gama11 commented on #9275
Could it have tried to install OCaml to build Haxe from source?

[2020-03-28 09:29] RealyUniqueName commented on #9275
Try `mbedtls-devel`

[2020-03-28 13:35] #9271 closed, assigned to nadako

[2020-03-28 13:36] nadako commented on #9271
I still don't understand this, but the weather is too good to spend time on this, so I just added a test \o/

[2020-03-28 18:13] TheDudeFromCI commented on #9275
@Gama11 I believe that failed while doing that process, yeah.

@RealyUniqueName I installed that and tried to continue building from source. I guess it's failing to find the etxlib now, despite it already being installed.
Terminal output:
[code]

[2020-03-30 10:14] RealyUniqueName commented on #9275
Maybe @andyli could give a hint.

[2020-03-30 11:48] #9273 closed, assigned to nobody

[2020-03-30 12:09] #9204 closed, assigned to nobody

[2020-03-30 12:17] RealyUniqueName commented on #9044
It doesn't work with 4.0.5 either.
Was it ever working like that?
I think the compiler should only search for "direct" references where `func` is called on `Child` instances.
But an IDE should ask user if he wants to search for `Child.func` references or for base class `func` references. And in case of the latter make a request to find references on `Base.func` instead of `Child.func` (I suppose I

[2020-03-30 12:21] Gama11 commented on #9044
haxe-language-server doesn't at least. This could just be a parameter for the request though.

[2020-03-30 16:10] RealyUniqueName commented on #7002
@Simn @ncannasse so, what do you think about that idea (implemented in #9265)?

[2020-03-30 16:11] Simn commented on #7002
I'm in favor of it, but it's totally pointless if it isn't made the default.

[2020-03-30 16:45] SmerkyG commented on #7002
I think you'd want control over what the starting value is for floats and
ints. If your code was developed for a platform where floats start as NaN,
and move to one where they start as zero, that's very different than if you
moved in the opposite direction. I think the two common situations that
cause nearly all of the problems when changing destination platforms are
'check for NaN sentinel' and '

[2020-03-30 16:48] RealyUniqueName commented on #7002
Won't making it the default be a breaking change?

As for `NaN` I think it's a very rare case when you would want initial value of floats to be `NaN`.

[2020-03-30 17:34] RealyUniqueName commented on #9247
Done in https://github.com/HaxeFoundation/HaxeManual/pull/455

[2020-03-30 17:34] #9247 closed, assigned to RealyUniqueName

[2020-03-30 17:39] Gama11 commented on #7002
Sure, but I doubt a lot of code relies relies on values _not_ being initialized. It would probably silently _fix_ more code than it breaks. :D

[2020-03-30 18:26] RblSb commented on #7002
@Gama11 it is really easy to write variable like `Int` without `Null<>` and null check it for initialization after when null safety is disabled and you only use target like js.

I think it is fine to be default behavior (or behind flag for some time), but there is should be null-check [compile-time errors for basic types](https://haxe.org/manual/types-nullability.html#define-default-values) on all

[2020-03-30 21:01] nadako commented on #7237
I'll raise the priority here a bit because it would make our life at @innogames a bit easier :) And it seems that #9045 will fix this anyway \o/

[2020-03-30 22:28] Gama11 opened #9279 "[display] missing @:forwardStatics completion if underlying type is abstract"
The following compiles, but `Value` does not appear in completion:

[code]

![](https://i.imgur.com/h32aP0r.png)

Hover and such seems fine:

![](https://i.imgur.com/SKUEnKm.png)

I'm guessing https://github.com/HaxeFoundation/haxe/commit/7353ce621f1957611160b685e55bce822470262f fixed this only in case the underlying type is a class?

[2020-03-31 06:08] andyli commented on #9275
I've just checked. Turn out the fedora packages were mistakenly built to OCaml bytecode and since the packaging process strips exes but OCaml bytecode exes can't survive that.

I've submitted an update, you can test/track the progress at https://bodhi.fedoraproject.org/updates/FEDORA-2020-8d3cc48f95

[2020-03-31 07:34] ncannasse commented on #9035
@RealyUniqueName I think we need first to only do the renaming that are strictly necessary, so one looking at JS output can "read it" the way it was written - sometimes you have to debug JS source code without source maps. And then once this is done, it's still possible to add source maps for the other renames (and hopefully it allows filtering of temp vars, which is another big issue).

[2020-03-31 09:29] nadako commented on #7237
The issue is fixed by #9045, but we probably want to add a test for this so it doesn't regress.

[2020-03-31 13:30] ncannasse commented on #8868
It's still an issue, and a very annoying one because it also affects the Problems window (and terminal), leading to having two opened files which are the same with different casing, and that leads to numerous issues with changes propagation.

And debugging experience too because of the way breakpoints are handled in HL or JS, you cannot set breakpoints because they will be set on an unrecognized f

[2020-03-31 18:26] RealyUniqueName commented on #8868
Can't we just say "Haxe compiler is case sensitive" and remove lowercasing from `unique_full_path`?
So it's up to users to keep hx files properly named.

[2020-03-31 20:02] nadako opened #9281 "[js] local var renaming regression"
(found in SauceLabs.hx)

[code]

I assume that because JS has this hoisting rules, `var a = a` is basically the same as `var a; a = a;`, so the `a` from outer scope is lost. We have to detect that and add a number in these cases.

[2020-03-31 20:05] nadako commented on #9281
Also, ES6 `let` has similar issue:
[code]
will fail with `ReferenceError: Cannot access 'a' before initialization`

[2020-03-31 20:10] RealyUniqueName commented on #9281
Note: ES6 also fails here:
[code]

[2020-04-01 06:59] sonygod opened #9282 "[hl][cpp] mysql-sqlite: try..catch can't catch any error request"
[code]

target:hashlink ,hxcpp

[2020-04-01 14:47] RealyUniqueName commented on #9282
I think it's an issue for hxcpp and hashlink repositories.

[2020-04-01 14:55] #9281 closed, assigned to nobody

[2020-04-02 11:41] ncannasse commented on #7002
Ok I'm closing this discussion because we already stated that we don't want to change the current default behavior.

The one solution I can see is a compiler flag to give warnings, so one can enable it and look at the code for which places needs to be handled with either = 0 or Null<T>. But that's only necessary when you are cross compiling for several platforms with at least one Static and one Dy

[2020-04-02 11:41] #7002 closed

[2020-04-02 14:07] nadako opened #9284 "Can't cast to a @:generic type parameter"
This looks like it should work, since `C` is known at compile-time:

[code]

Currently, it fails with `Can't cast to a type parameter`, just like without `@:generic`.

[2020-04-03 10:56] YellowAfterlife opened #9285 "[cs] Dynamic + Dynamic compiles into int+int"
[code]
[code]
Output:
[code]
C#:
[code]

[2020-04-03 11:02] Gama11 commented on #9285
What's happening here is that you're assigning an `Int->Int->Int` function to a `Dynamic->Dynamic->Dynamic` variable:

[code]

[code]

You're relying on type inference for the types of the arrow function, and IIRC the `+` operator causes its operands to be inferred as `Int` by default.

[2020-04-03 11:27] nadako commented on #9285
I'm not sure that's correct, because we do use expected type to infer argument types, it might have to do with no-Dynamic-inference thing, which might or might not be wrong here.

[2020-04-04 14:19] nadako commented on #7864
This seems to not work consistenly for the first definition as well. I.e. you don't get completion for just `@` and for `@` before `class`, but you get completion for `@` before `class Name`

[2020-04-04 19:27] Aurel300 opened #9286 "[eval] Exception callstack is duplicated"
[code]

This shows:

[code]

With a deeper callstack it is more obvious that this is duplicating all entries:

[code]

[2020-04-05 17:48] ibilon opened #9287 ""Recursive inline is not supported" with null safety and vshaxe build server"
`pack/Main.hx`
[code]

`build.hxml`
[code]

Running it at least twice will give
[code]

Changing `Strict` to `Loose` gives the same error, removing (`--macro nullSafety("pack")`) doesn't show the problem.

I cannot reproduce outside of vshaxe when manually running a compilation server.

Tested with haxe d6d4d3036adff61b50de780fe93b95d74339c68f and vshaxe 2.19.0

[2020-04-05 20:16] #7956 closed, assigned to Simn

[2020-04-05 20:23] nadako commented on #7995
This works for me.

[2020-04-05 20:28] nadako commented on #8004
That seems to work now.

[2020-04-05 20:45] nadako commented on #9234
Has something changed here? I'm getting only one `ValueType` and it's the one from `_std/js` which seems correct to me:

![image](https://user-images.githubusercontent.com/49749/78509560-0f5cf380-778f-11ea-961a-de97bf3683c6.png)

[2020-04-05 20:46] nadako commented on #7452
We decided to move that to 4.2

[2020-04-05 20:46] nadako commented on #7452
FYI the work-in-progres branch is here: #8460

[2020-04-05 22:50] Gama11 commented on #9234
That's not correct, both should show up.

Also, I'm not seeing that (JS target as well):

![](https://i.imgur.com/yS8vVhy.png)

[2020-04-05 23:30] haxiomic commented on #7995
Yep, works for me now in development branch, thanks for testing @nadako 🌟

[2020-04-05 23:30] #7995 closed, assigned to Simn

[2020-04-06 09:33] #9286 closed, assigned to nobody

[2020-04-06 09:39] kevinresol opened #9288 "Exhaustive check for multiple Null<T> types"
4.0.5

[code]

gives `Unmatched patterns: Some` at `o.bar`

adding two more cases fixes it:

[code]

Doesn't seem to be consistent with pattern matching on single value (no need `case null`):

[code]

[2020-04-06 09:42] RealyUniqueName commented on #9287
Though I had the same error at some point, I can't reproduce it now neither with the latest dev Haxe nor with 4.0.5.
I'm using release version of vshaxe.

[2020-04-06 10:54] sh-dave opened #9289 "Arrays are null in @:structInit classes"
I expected this to create a 10 element array for `foo2` when i don't specify one in the argument list (like it assigns x=42), but currently it's just null.

[code]

JS output from http://try-haxe.mrcdk.com/#7d8e0

[code]

[2020-04-06 10:57] #9276 closed, assigned to nobody

[2020-04-06 11:18] Gama11 commented on #9277
Hm, it looks like internally, `cl_implements` is used for this, and `genjson` already maps that to `interfaces`, so it would be cleaner to do the same for `XmlParser` and we wouldn't need a new field.

[2020-04-06 11:42] #9277 closed, assigned to nobody

[2020-04-06 11:46] RealyUniqueName commented on #9289
Looks like an ordering issue with `@:structInit` field inits.
Changing
[code]
to
[code]
emits
[code]

[2020-04-06 20:11] nadako commented on #9266
Here's a test case:

[code]

[2020-04-06 20:29] nadako commented on #3846
@ncannasse please review

[2020-04-07 13:29] nadako opened #9290 "abstract `this` modification lost in tempvaring"
(sorry if this is a duplicate, I couldn't find a related issue)

[code]

generated code (prints `1`, but should print `3` or emit a compile-time error):

[code]

In some other `this` modification cases we have this `Cannot modify the abstract value, store it into a local first` error, so if we can't make this "just work" it would be fair to raise this error in this case as well instead of silently

[2020-04-07 13:32] nadako commented on #9290
FYI this is the same with `-D analyzer-optimize` (it just eliminates the `_g` and operations on it and leaves the `Main.a` trace).

[2020-04-07 13:34] nadako commented on #9290
This is a bit unfortunate for an abstract like `Color`, because something like `color.a += 0.3` will just not work.

[2020-04-07 13:36] RealyUniqueName commented on #9290
Same with Haxe 4.0.5 and 3.4.7. I wonder why such a basic usage issue was not reported earlier.

[2020-04-07 13:41] nadako opened #9291 "abstract `this` modification does not respect `final`"
I think this should fail with the `Cannot assign to final` error (or something more explanatory, since we're not explicitly assigning here).

[code]

[2020-04-07 14:08] RealyUniqueName commented on #9291
I'm not sure about this.
Re-assigning `this` is an implementation detail of an abstract. And on usage site things _looks_ correct.
I guess it boils down to how Haxe specify `final`.
Does it imply that a `final` value stored into a temporary variable will always hold `==` with the original `final` value?

[2020-04-07 14:22] Gama11 opened #9292 "[cs] static methods from C# std dll are marked as final"
It doesn't make sense for static methods to be `final` in Haxe:

![](https://i.imgur.com/m8JhdZb.png)

from https://api.haxe.org/cs/system/collections/ArrayList.html

Same for completion:

![](https://i.imgur.com/NRaWdpw.png)

[2020-04-07 14:24] Gama11 opened #9293 "[display][cs] toplevel completion contains "PrivateImplementationDetails" classes"
Toplevel completion on the C# target seems to contain a lot of nonsense that should probably be hidden:

![](https://i.imgur.com/Whux3ok.png)

[2020-04-07 14:28] RealyUniqueName commented on #9292
Fixed in https://github.com/HaxeFoundation/haxe/commit/b51adecd2f87efa0ba23d0aee546241ae846869e

[2020-04-07 14:28] #9292 closed, assigned to nobody

[2020-04-07 15:53] nadako commented on #9293
It's better now, however there's still this `<Module>` ending up in the completion. This requires looking into the DLL to figure out what else should be checked besides `CompilerGeneratedAttribute`.

![image](https://user-images.githubusercontent.com/49749/78691218-ad200200-78f8-11ea-9b51-b6ae369dec14.png)

[2020-04-07 16:44] haxiomic commented on #9168
@RealyUniqueName pointed out `js.Lib.global`, which is either `window`, `global` or `self` depending on the context – makes sense to me to use that in js.Browser

https://github.com/HaxeFoundation/haxe/pull/9167#issuecomment-610306053

[2020-04-07 16:58] RealyUniqueName commented on #9275
@TheDudeFromCI @andyli any updates?

[2020-04-07 18:14] ncannasse opened #9294 "Completion displayed while not requested"
I think this is similar to #8752, but using another case.

Calling `haxe.macro.Context.getType("")` in macro will give completion result instead of an error.

[2020-04-07 18:24] RealyUniqueName commented on #9294
Looks very similar to https://github.com/HaxeFoundation/haxe/issues/6499

[2020-04-07 19:00] ncannasse commented on #9294
Yes, except it was closed and it still reproduces ;)

[2020-04-07 19:05] Simn commented on #9294
Uhm, I wanted to rely on physical equality for this, but then I changed it back to structural equality in https://github.com/HaxeFoundation/haxe/commit/3e7f36879a9043112e55adc6cdb0bc8e4c2f8fdf for some reason...

[2020-04-07 19:23] nadako commented on #9294
Does `magic_type_path` have to be an empty-string-named one? if the idea was to use phyiscal equality, some unique string (e.g. `" - display - "` like for `magic_display_field_name`) would work as well.

[2020-04-07 19:41] #9290 closed, assigned to nobody

[2020-04-07 19:46] RealyUniqueName opened #9295 "[abstracts] "this" modification in non-inlined method"
This should emit an error `Abstract 'this' value can only be modified inside an inline function.`, but it doesn't.
[code]

[2020-04-07 19:47] RealyUniqueName commented on #9295
Related issue: #6340

[2020-04-07 22:12] TheDudeFromCI commented on #9275
@RealyUniqueName The build isn't live yet, but I just tested the snapshot on my machine and it appears to be working fully, now.

[2020-04-08 08:50] kevinresol opened #9296 "Wrong var shadowing"
nightly 5b027dc:

[code]

This should stack overflow, but doesn't work on nightly.

[2020-04-08 08:51] kevinresol commented on #9296
Generated:
[code]

[2020-04-08 08:54] nadako commented on #9296
I also reduced it into:

[code]

[code]

Besides the shadowing issue there are two weird things with it:
 - `next` name is used for the `b` argument
 - `Main.bool()` call is tempvared, but only if we have `v` as the first argument (but i guess that's fine given that `-D analyzer-optimize` packs it back)

[2020-04-08 10:23] #9295 closed, assigned to RealyUniqueName

[2020-04-08 17:42] #9294 closed, assigned to RealyUniqueName

[2020-04-08 17:45] RealyUniqueName commented on #7962
@Gama11 could you please check with the latest development?
I'm not sure, what to look for, but at least I don't get xml in output panel now.

[2020-04-09 07:46] nadako opened #9298 "[java/jvm] use java.security.MessageDigest for more haxe.crypto.classes"
Similarly to 1cd7785231885c9aaf8cf3df35eac5f0e23fc117 it should be done for at least Sha1 and Sha256, because it is a lot faster than the Haxe implementation.

Also we might want to profile what exactly makes Haxe implementation so slow, because improving it will benefit all the targets that don't use native functions.

[2020-04-09 08:45] Simn commented on #9298
It uses `Array<Int>`, which means boxing.

[2020-04-09 10:17] nadako commented on #9298
Hm, I wonder if `haxe.ds.Vector<Int>` is better. It should be, but I vaguely remember it was actually slower than Array on... JS?

[2020-04-09 10:18] Gama11 commented on #9298
Hm... :D

[2020-04-09 10:20] Simn commented on #9298
#8040

[2020-04-09 14:23] Aurel300 opened #9299 "[macro] `var ...` used as a value"
[code]

Prints `anull`, but it should result in an error like: `Cannot use this expression as value`

[2020-04-09 14:29] RealyUniqueName commented on #9299
That should emit `Cannot use expression as value`.
Corresponding check is implemented in the analyzer:
https://github.com/HaxeFoundation/haxe/blob/54ff127c0462932cdb49e98aaeac1b94b995d071/src/optimization/analyzerTexprTransformer.ml#L181-L182
Perhaps, that check is not run for macros.

[2020-04-09 14:33] Gama11 commented on #7962
I still get random exceptions in the output panel when hovering over `main`. This is because Haxe returns `display/completion` instead of hover results.

![](https://i.imgur.com/iXA4px5.png)

[2020-04-09 14:55] #3583 closed

[2020-04-09 16:15] Gama11 commented on #9234
Not as urgent anymore, since VSCode now seems to render the full file path for each item as of 1.44.

[2020-04-09 16:17] sianahoret opened #9300 "js.lib.RegExpMatch extern misses `groups` member"
RegExp in Javascript allows to use named capture groups.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Groups_and_Ranges

If you do, the result should contain `groups` member.
It's missed in js.lib.RegExpMatch extern (https://github.com/HaxeFoundation/haxe/blob/4.0.5/std/js/lib/RegExp.hx#L44)

Example & proof:
[code]

[2020-04-09 16:40] nadako commented on #9300
I wonder if we should really add it, given that apparently [Firefox does not support it](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#Browser_compatibility) (so it's not cross-platform at all)?

[2020-04-09 16:45] Gama11 commented on #9300
Hm, it could perhaps still be useful in an environment like Node.

[2020-04-09 16:50] sianahoret commented on #9300
I don't consider the issue critical,
I just was upset a bit (by the fact that neither EReg nor js.lib.RegExp allow to use the feature) and nothing more :)

[2020-04-09 17:57] sianahoret commented on #9300
Just FYI: https://github.com/microsoft/TypeScript/blob/master/lib/lib.es2018.regexp.d.ts#L22

For ES5 it wasn't declared anyhow of course: https://github.com/microsoft/TypeScript/blob/master/lib/lib.es5.d.ts#L909

What's the Haxe approach to version-dependent features in extern classes declarations?

[2020-04-09 19:48] nadako commented on #9300
Well, we have `js_es` define that changes how some things are generated, but I'm not sure if it's a good idea to hide fields behind such a version check... Maybe we should add it and be done with it.

[2020-04-09 19:48] nadako commented on #9300
Oops, wrong button.

[2020-04-10 10:23] filt3rek opened #9301 "Having macro instance suggestion"
Hej all !

I'm sorry, I don't know where to put suggestions, so I try here.
According to this question : https://community.haxe.org/t/macro-instance/2347/13
I would suggest if it's not too much work to have macro instances.
Kevin wrote "Technically speaking, you can have instances in the macro context. But there is no way (syntax) to interact with that in the normal context."

Thanks for reading

[2020-04-10 11:32] nadako commented on #9300
I'll reopen this because I want to add some documentation to the RegExp APIs.

[2020-04-10 12:56] #9300 closed, assigned to nadako

[2020-04-10 13:38] nadako commented on #9298
Gotta check if all the runtimes support SHA-224, because apparently the official spec only requires MD5, SHA-1 and SHA-256.

[2020-04-10 15:38] nadako opened #9302 "@:coreApi doesn't recognize superclass methods"
while working on a new version of #7429 i found out that `@:coreApi` complains about missing fields that are actually defined in the parent class, which is unfortunate, because it would be nice to avoid redefining some of the native methods that already have the required signature and behaviour

[2020-04-10 18:41] nadako opened #9305 "weird tempvaring"
[code]

generated js:

[code]

There are two issues with this:

 * The `b()` call is stored in a temp var for no apparent reason.
 * Even if the temp var is needed, its name (`c`) is confusing. I would expect it to be named after an argument (`arg2`).

This is important in the context of #9035

[2020-04-10 20:56] pozirk opened #9306 "What's up with "final"?"
Hi!
In Haxe 4.0.5, the following code gives compiler error: "characters 3-6 : Missing variable identifier"
`var final:Int = 0;`

This works fine though:
`var test:Int = 0;`

Thank you!

[2020-04-10 20:58] pozirk commented on #9306
Ok, forget it. Just moved from Haxe 3, where "final" wasn't a keyword.

[2020-04-10 20:58] #9306 closed, assigned to nobody

[2020-04-11 00:03] andyli commented on #9275
The fix is in stable now.

[2020-04-11 00:03] #9275 closed, assigned to nobody

[2020-04-12 19:28] ncannasse commented on #3846
If CI passes it's ok for me.

[2020-04-12 19:34] ncannasse commented on #9301
That should go with a formal proposal on https://github.com/haxeFoundation/haxe-evolution

[2020-04-12 19:34] #9301 closed, assigned to nobody

[2020-04-12 19:53] filt3rek commented on #9301
Hi Nicolas,
I hope you're going fine.
I'm sorry I didn't know where to put that, thanks for your reply !

[2020-04-13 08:00] #9296 closed, assigned to nobody

[2020-04-13 08:31] nadako opened #9307 "minor local var renaming issue"
[code]

will generate

[code]

It seems unnecessary to name the further vars outside of the `x` scope.

[2020-04-13 08:40] RealyUniqueName commented on #9307
It is necessary to not reuse names of the captured vars:
[code]
expected to print:
[code]
but prints
[code]

[2020-04-13 08:40] #9307 closed, assigned to RealyUniqueName

[2020-04-13 08:53] nadako commented on #9307
Ah, you're right, thanks... Freaking hoisting rules.

[2020-04-13 09:26] RealyUniqueName commented on #9302
We also have an error like "Public field foo is not part of core type". I guess that means the parent class is also not allowed to have such fields.

[2020-04-13 09:40] #4435 closed

[2020-04-13 09:55] nadako commented on #9302
That sounds fair though.

[2020-04-13 10:40] nadako opened #9308 "[js][es6] more issues with var renaming and ES6 let"
This one is pretty trippy and there are probably multiple issues here, even without ES6...

So the following code fails to load with `SyntaxError: Identifier '_g1' has already been declared` when compiled with `-D js-es=6`:

[code]

The problematic generated code is (note the double `_g1` which is apprently not fine for ES6 `let`):
[code]

Now if we comment that `trace("hi")`, the renaming will be

[2020-04-13 11:05] RealyUniqueName commented on #9308
There's no need for additional renaming in es5, because those vars don't overlap at runtime.

[2020-04-13 11:45] #9308 closed, assigned to RealyUniqueName

[2020-04-13 11:47] RealyUniqueName commented on #9035
Resolved with #9304 and #9280

[2020-04-13 11:47] #9035 closed, assigned to RealyUniqueName

[2020-04-13 13:04] Gama11 opened #9309 "Importing a private type from the same module errors"
I'm not sure if it's correct that this produces an error, since we're in the same module and have access anyway:

[code]

[code]

Sure, it's redundant and should produce an "unused import" diagnostic, but should it error?

[2020-04-13 15:00] RealyUniqueName commented on #9309
Idk... How do you even get in a situation like this?

[2020-04-13 15:33] kevinresol commented on #9309
Similar to https://github.com/HaxeFoundation/haxe/issues/8145 ?

[2020-04-13 15:56] Gama11 commented on #9309
@RealyUniqueName I managed to break CI this way because there was a redundant import and I made the type private. :)

[2020-04-13 16:36] RealyUniqueName commented on #9309
Ok. Then I think it should not error.

[2020-04-13 16:41] RealyUniqueName commented on #9305
According to the code of analyzer that happens because `a` is a captured variable:
https://github.com/HaxeFoundation/haxe/blob/f9a7e541fdc8451d3ff20f5175f364c667dd21db/src/optimization/analyzerTexpr.ml#L863-L864
I checked and this condition is evaluated to `true` because `a` has `v_capture = true`.

And it's actually a bug.
Consider this sample:
[code]
this is expected to print `999, 123`, but it

[2020-04-14 11:08] RealyUniqueName opened #9310 "[dce][js] Unnecessary code in "hello world" sample"
After #9167 every compiled js now contains following lines (even if these functions are never used):
[code]
Together with [`ArrayIterator`included in every compiled js](https://github.com/HaxeFoundation/haxe/issues/9185) it gets quite ugly for minimal samples.

[2020-04-14 11:14] RealyUniqueName commented on #9310
#9233 fixes this too.

[2020-04-14 12:14] Gama11 opened #9311 "[display] auto-triggered case completion vs string interpolation"
Originally reported at https://github.com/vshaxe/vshaxe/issues/426.

The expected result here is to get _no_ completion results if the completion was auto-triggered, so that you can press Enter without accidentally inserting a random keyword from completion.

Note: this is only an issue with auto-triggered completion, i.e. when typing the `:` rather than just pressing ctrl+space after it. The beha

[2020-04-14 19:51] AlexHaxe opened #9312 "Compilation with -D js-es=6 fails with "Assertion failed" in "src/filters/renameVars.ml""
steps to reproduce:
[code]
will give (with `OCAMLRUNPARAM="b"`):
[code]

[2020-04-14 20:18] nadako opened #9313 "double final initialization possible with field init + constructor assignment"
This compiles, but it shouldn't because there's double final init.

[code]

I labelled this with `haxe-foundation-partner`, because we're seeing this a lot due to the state of our post-conversion code, but it's not blocking or urgent to fix.

[2020-04-14 20:36] Gama11 commented on #9313
Not sure it's really a "bug", more of a design decision.

[2020-04-14 20:37] nadako commented on #9313
We discussed it on Slack before and IIRC the consensus was that this is an oversight that is a bit annoying to fix, I just never reported it.

[2020-04-15 09:27] #9312 closed, assigned to RealyUniqueName

[2020-04-15 11:22] haxiomic commented on #8188
Adding to the discussion issue for future reference if this is revisited: an example where `@:using` would be helpful on a typedef is the case of `js.lib.Iterator`, where adding a `@:using()` to the typedef would enable native iteration (whereas currently you cannot iterate a js iterator in haxe out-of-the-box)

For example, js.lib.Iterator would become
[code]

[2020-04-15 11:24] haxiomic commented on #9168
This was resolved in #9167

[2020-04-15 11:24] #9168 closed, assigned to haxiomic

[2020-04-15 11:32] Gama11 commented on #8188
@haxiomic Maybe this could also be achieved by wrapping it in an abstract?

[2020-04-15 12:59] haxiomic commented on #8188
@Gama11 That works but didn't semantically marry up with haxe iterators when I tried it in the original PR
https://github.com/HaxeFoundation/haxe/pull/8754/commits/7a27eed1b592a9b23cbc8a14078b4e6829789917#r320362101

Although I need to think on it again because it's quite confusing

[2020-04-15 21:02] benmerckx opened #9316 "[php] Null check on instance closure"
[code]

Compiles to:

[code]

The null check should happen before the `Boot::getInstanceClosure` call.

[2020-04-16 07:02] ncannasse opened #9317 "[ide] Addressing the multiple errors problem"
There a few things that keeps annoying me regarding IDE integration.
Sadly, for some of them there's nothing we can do expect wait for VSCode to give us enough control over the Problems.

One however we can do since we control the compiler is the following:

This kind of error:
![image](https://user-images.githubusercontent.com/1022912/79424592-aceec900-7fc0-11ea-8258-a1c29562d49f.png)

Will turn

[2020-04-16 07:04] ncannasse commented on #9317
Putting that for 4.1 so it can be discussed quickly, it's not a big fix once we agree on the way to handle it.
CC @Gama11

[2020-04-16 08:10] Gama11 commented on #9317
Actually, VSCode's custom task execution API has been finalized for a bit now, which means we could experiment with parsing Haxe error messages ourselves instead of relying on regex problem matchers. We would then have to report them as diagnostics and manage that diagnostics collection ourselves.

Unfortunately, even in that case the compiler currently doesn't output enough information to tell wh

[2020-04-16 08:30] RealyUniqueName commented on #9317
Note that we have error messages, which span across multiple positions:
[code]
I think the right way is to group messages on the compiler side. Otherwise IDEs may need an update every time a new error kind is introduced in the compiler.

[2020-04-16 08:37] nadako opened #9318 "[ide] @:structInit vs go to definition on object declaration fields"
It sems that `@:structInit` could use some position love, see comments in `Main.main` below:

[code]

[2020-04-16 08:46] Gama11 commented on #9317
@RealyUniqueName I know, but IDEs would be able to parse it if it looked like this:

[code]

VSCode's "related diagnostic information" does support additional positions.

[2020-04-16 09:20] #9316 closed, assigned to RealyUniqueName

[2020-04-16 09:40] Gama11 commented on #9317
The more I think about it, the more I'm convinced that a compiler API is not going to work - most of the time, tasks don't call Haxe directly, but through Lime, Kha, NME, vshaxe-build... Even a `haxe --run` script that calls `haxe` via `Sys.command()` or similar would break it. I think we need to parse the error messages from stdout / stderr.

[2020-04-16 11:10] ncannasse commented on #9317
Oh please yes :D That would also solve the out-of-order messages (messages that gets sorted by line number instead of as reported by the compiler)

[2020-04-16 11:11] ncannasse commented on #9317
Yes I agree, this is another annoying thing, since vscode currently group _and sort_ by file/line without caring at all about the compiler order.

[2020-04-16 11:14] Gama11 commented on #9317
Not sure it would, it's still the same problems UI even if you're using the diagnostics API.

[2020-04-16 15:10] Gama11 opened #9319 "[display] broken hover for inferred catch variable"
Related to #9269.

[code]

![](https://i.imgur.com/zP4lNiu.png)

I expected to see `e:haxe.Exception` on hover over `e`, instead the entire try-catch range is highlighted.

[2020-04-16 15:13] nadako commented on #9319
Gama11, man who ~shoots~ creates issues faster than his shadow

[2020-04-16 15:14] Gama11 commented on #9319
Somehow I knew IDE support for this was going to be broken.. :D

[2020-04-16 15:15] Gama11 commented on #9319
Wait... I had the wrong Haxe version selected. Nothing to see here...

(except, maybe good opportunity to add a test? x))

[2020-04-16 15:47] RealyUniqueName commented on #9319
A test of what?

[2020-04-16 15:50] Gama11 commented on #9319
That you get `haxe.Exception` on hover here?

[2020-04-16 17:16] RealyUniqueName commented on #9183
@nadako I can't reproduce this neither with 4.0.5 nor with the latest dev Haxe

[2020-04-16 17:49] #9319 closed, assigned to RealyUniqueName

[2020-04-16 19:14] nadako commented on #9183
Hmm, now I cannot reproduce this as well... I get the signature help.

However the error (`Field f should be declared with 'override'`) still can be reproduced if you request signature help at position before `g` or after `;`, but also ONLY if display file is not invalidated (so any editing "fixes" it), so _something_ is still weird there.

[2020-04-17 01:40] sonygod opened #9320 "[display]4.1 will error for multiply target"
haxe nightly build 4-16

    --each
    -hl source/Game_ZJH_remote.hl
    --next
    -debug
    -hl source/Game_ZJH_remote_debug.hl

will got this error

    {
        "resource": "/d:/project/jj/TEST/Error",
        "owner": "_generated_diagnostic_collection_name_#2",
        "code": "2",
        "severity": 8,
        "message": "(unknown) : Uncaught exception Cannot call null\n(unknown) : Calle

[2020-04-17 08:54] nadako opened #9321 "[js][es6] constructor default arguments bug"
Not sure if regression or not, but we need to fix this for 4.1:

[code]

Generated JS:
[code]

The problematic bit is that `if(arg == null) arg = "base"` in `constructor` which shouldn't be there, since all the default arguments are handled in `_hx_constructor`. Might be a filter ordering issue or something.

[2020-04-17 11:14] nadako commented on #9313
Note that fixing this might break #7183, because I think that `@:structInit` currently kind of depends on this bug, e.g.:

[code]

will generate

[code]

while it should really generate

[code]

[2020-04-17 11:15] nadako commented on #7183
Please check https://github.com/HaxeFoundation/haxe/issues/9313#issuecomment-615188854 regarding the implementation of the default values.

[2020-04-17 11:32] sebthom commented on #8673
@RealyUniqueName

That does not seem to be true at least for `neko`.

[2020-04-17 12:02] Gama11 commented on #8673
https://haxe.org/manual/std-String-unicode.html

[2020-04-17 12:55] sebthom commented on #8673
So for Neko I would need a UnicodeString.fromCharCode() then?

[2020-04-17 14:13] ErikRikoo opened #9322 "Specifying @:generic on the type parameter (feature)"
This issue suggests a little feature on the @:generic metadata:

If you have a class with multiple generic types, you may need, for performance, to use the @:generic metadata, but only on one of the type parameters.
We would need a way to specify that, like:
[code]
Then, the class `A<Int, _>` would be different to the class `A<String, _>`.
But not `A<Int, Int>` and `A<Int, String>`

[2020-04-17 15:06] sebthom commented on #6071
Issue still exists, getting this with Haxe 4.0.5 and HL/JIT 1.10.0:
[code]

[2020-04-17 15:10] sebthom commented on #6071
Umm, seems to be solved in the latet HL/JIT 1.11.0.

It still may be a good idea to add a test case as outline above to the haxe test suite to prevent regressions.

[2020-04-17 15:22] sebthom commented on #6071
In HL 1.**11**.0 the exception is not thrown, but also the code is not properly executed anymore. I changed the example a bit:

[code]

If I execute that with HL 1.11.0 I now only see this in the console:
[code]
and HL silently exits with errorlevel **-1073741819**

If I remove the `inline` keyword for the `firstItem` method, everything works as expected.

[2020-04-17 17:18] RealyUniqueName commented on #8673
For neko there's `neko.Utf8`

[2020-04-17 18:34] sebthom commented on #8673
Nice, that's what I need. Using this prevents the deprecation warnings I get with `haxe.Utf8`.
Thanks!!

[2020-04-17 18:49] sebthom opened #9323 "[lua] Error: attempt to index local '_g1' (a nil value)"
When trying to build/test the [haxe-strings](https://github.com/vegardit/haxe-strings) library with lua, I am getting this [error](https://travis-ci.com/github/vegardit/haxe-strings/jobs/320533249#L171):
[code]

The Haxe generated code that Lua fails to interprete is this:
[code]

Any help is greatly appreciated.

[2020-04-17 20:04] #9321 closed, assigned to nadako

[2020-04-17 20:35] posxposy opened #9324 "@:using vs private (extension) class"
Hi,
I'm not sure if I can call it a bug...
But I found private modifier behavior a bit weird in case of `@:using` feature.

Check this sample:
[code]
And it will work fine!
But in the current case, I prefer to keep `DummyTools` class private, because I won't use it anywhere else except the current module.

But! If I'll do `private class DummyTools`, then it will not work because `@:using(Dummy.Dum

[2020-04-17 21:38] RealyUniqueName commented on #9323
Which Haxe version are you using? If it's the latest development, please try 4.0.5.
This is probably caused by the recent var renaming change.

[2020-04-17 21:39] nadako commented on #9323
Well the code seems correct, it's `__haxe_Resource.content` that is apparently null.

[2020-04-17 22:53] sebthom commented on #9323
It is happening for 4.0.5 and development.

[2020-04-18 08:08] sonygod commented on #9320
something not happen .

[2020-04-18 08:08] #9320 closed, assigned to nobody

[2020-04-18 19:25] kLabz opened #9325 "Void->Void unification not strict enough"
[code]

I was lacking coffee and made this "typo" while refactoring some code... and haxe doesn't complain (both 4.0.5 and recent dev (`af197e3` from 2020-04-09)).

[2020-04-18 19:40] Simn commented on #9325
We allow assigning `-> Whatever` to `-> Void`, so this is consistent as far as unification is concerned. However, the argument could be made that this should error at expression-level, i.e. when a function expression is assigned to `Void` (which can be detected from top-down inference).

[2020-04-20 05:51] sonygod opened #9326 "[display ]__o${dependencies.length} error"
haxe: dev 4-17 nightly build

os:windows-7

    {
        "resource": "/d:/project/TEST/Error",
        "owner": "_generated_diagnostic_collection_name_#10",
        "code": "2",
        "severity": 8,
        "message": "\"__o${dependencies.length}\" is not a valid function argument name",
        "source": "diagnostics",
        "startLineNumber": 1,
        "startColumn": 1,
        "endLineNum

[2020-04-20 08:19] Gama11 commented on #9326
How can this be reproduced?

[2020-04-20 09:01] RealyUniqueName commented on #9324
I agree this should work

[2020-04-20 11:24] ncannasse opened #9327 "Better JS debugging experience (2)"
Following #9035, there's still a few things to take care of I think:

- temp var name generation : I'm not sure if the patch addressed that, the idea is to reduce the amount of _g1,_g2 etc generated in output code. Adding variable name mapping in sourcemaps would be even better since we could either remove them entirely or collapse them into a single "<temp>" name.

- stepping : when stepping with

[2020-04-20 11:28] ncannasse commented on #9317
So. What's the actual plan for it ? Compiler support ? IDE Support ? Both ? ;)

[2020-04-20 12:27] Gama11 commented on #9317
- The env var to merge messages as you suggested might be a quick and easy short term solution for at least part of the problem.
- Eventually I want to look into the new API as mentioned, but not sure when I'll get to that / how much work that's going to be.
    - This approach requires the compiler to change how it outputs error messages that are just additional information for others, like an ad

[2020-04-20 13:54] ncannasse opened #9328 "Large file support"
In order to properly support files >2GB, we need to change the signature of `seek` and `tell` method for `sys.io.FileInput`, using Float instead of Int, which is more easy to handle than Int64, and provides files sizes up to 9007 TB.

seek() is not a problem, because passing Int will still work it might have 0 impact on user code, unless someone overrides it.
tell() will change the return type so

[2020-04-20 14:16] Simn commented on #9328
I would prefer to make Int64 less awkward to work with first. I don't think the required changes are very complicated, we just need a literal syntax and adapt some `TInt` things.

[2020-04-20 14:43] RealyUniqueName commented on #9327
The patch does reduce unique temp var names to some extent. Since Haxe tries to generate temp vars only when absolutely needed  (with analyzer enabled), I doubt we can reduce amount of temp vars significantly.
Name mapping might be an option. I'll investigate it.

This is caused by Haxe expressions being compiled into multiple expressions or even multiple lines of expression of a target language.

[2020-04-20 15:07] #9044 closed, assigned to nobody

[2020-04-20 15:07] #9139 closed, assigned to Simn

[2020-04-20 16:46] RealyUniqueName commented on #9317
I like the idea of prefixing sequential messages. But maybe with something like `+`, `&` or `>` to hint the relation "syntactically".
[code]
or
[code]

[2020-04-20 16:54] RealyUniqueName commented on #9328
`Float` for byte counting is a dirty hack.
I agree we should improve (U)Int64 situation and use it.
Also, supporting bigger file sizes would require `haxe.io.Bytes` to support bigger data chunks. Or something like this: https://github.com/HaxeFoundation/haxe/blob/a93adb16800a719510027e44ee2809ba1ece5c47/std/haxe/io/BigBuffer.hx

[2020-04-20 17:19] jdonaldson opened #9329 "Work around lack of defined static initialization order for haxe.Resource."
Haxe doesn't define static initialization order, and this causes some headache around defining some static resources through `haxe.Resource`.

See https://github.com/HaxeFoundation/haxe/issues/9323 for more details.

[2020-04-20 17:39] ncannasse commented on #9329
Order is specified as :
`__init__` first (reserved for std library)
statics -- order is inferred but cannot be ordered with 100% accuracy
main()

I don't think that moving haxe.Resource from `__init__` to statics would improve things. Might as well make them worse ;)

[2020-04-20 17:53] Gama11 commented on #9329
@ncannasse Huh, in what way is `__init__` reserved to the std lib?

[2020-04-20 18:31] Gama11 commented on #9175
This only seems to happen with `--server-connect`, which explains why simn bisected this to 1528b81b0990779b15ecee41227b19e6d29066dc - haxe-language-server only enables that if the haxe version is >= 4.1.

[2020-04-20 18:38] Gama11 opened #9331 "[display] wrong hover range when hovering over macro function call"
Using the repro case from https://github.com/HaxeFoundation/haxe/issues/9175, I found that only `Macro` gets highlighted when hovering over `func()`:

![](https://i.imgur.com/cWJREGx.png)

Normally, the range spans the entire expression, e.g. `Main.main`:

![](https://i.imgur.com/WGAZPds.png)

This may be a bit hard to see in the screenshots.

[2020-04-20 18:46] jdonaldson commented on #9329
Let me update the lua target first then.  I have a note to myself indicating that `__init__` *needed* to go after static initialization, but perhaps I was somehow confused.

[2020-04-20 19:45] ncannasse commented on #6071
Typing does causes invalid HL compilation. This can be confirmed by doing `haxe -D hl-check -D dump`.

From the dump output, this is caused by bug in inlining:
[code]

Here `Array<firstItem.T>` should be `Array<String>`.
The error itself might be HL specific but it's a bug at Haxe compiler level.

[2020-04-20 20:06] ncannasse commented on #9327
@RealyUniqueName I was thinking about temp vars such as switch value, or loop iterators.
Here's some output with latest Haxe (breakpoint set in Hide hide.cdb.comp.Cell.valueHtml inside double "for" loop - case List)

Without ES6:
![image](https://user-images.githubusercontent.com/1022912/79794637-e6be2780-8352-11ea-834a-7b8d0dd7ce6d.png)

With ES6, it's a lot better, thanks to let, but debugger cr

[2020-04-20 20:16] ncannasse commented on #9328
The problem with Int64 is that it's not supported natively on every platform, JS being quite an important one for example.

[2020-04-20 20:19] ncannasse commented on #9328
So on many of these platforms using Int64 will prove to be much more slower than using Float.
- Or we can introduce Int53 which is actually a double with no floating part ;)

[2020-04-20 20:28] ncannasse commented on #9329
@Gama11 `__init__` is meant to run before any user code (static inits etc.) it can be used for various things such as actual initialization of a class (importing its value from some context etc.) or loading a native library, whatever. So it's not reserved for std per-se, but should not be used by user code.

[2020-04-21 10:24] nadako commented on #9328
This is something I've been actually seriously considering for one of my projects, because I didn't want to introduce Int64 object allocations for JS but also didn't want to use Float directly because of fractions. I've never implemented this though, because I just used domain-specific abstract types over numbers in the end.

Also modern JS has `BigInt` nowadays, maybe something to look into as we

[2020-04-21 10:42] sebthom opened #9332 "[jvm] java.lang.VerifyError: Instruction type does not match stack map"
The following tests works fine on all targets, including Java, but fails for the jvm target.

[code]

Results in:
[code]

I can make it work on jvm by changing `foo(?bar:Int = 0)` to `foo(bar:Int = 0)`

[2020-04-21 10:45] Simn commented on #9332
Please see if that reproduces with a nightly build. From a quick check it doesn't reproduce for me on latest Haxe.

[2020-04-21 11:00] sebthom commented on #9332
Yes, seems to be fixed in nightly. Thanks!

[2020-04-21 11:00] #9332 closed, assigned to nobody

[2020-04-21 11:02] Aurel300 commented on #9328
I agree with the `Int64` argument. For JS it should be implemented on top of `BigInt` moving forward. It is available in [most browsers](https://caniuse.com/#search=bigint) nowadays, but anyway for filesystem operations Node.js matter a lot more – `BigInt` support has been around since Node.js 10.4.0 and 10 is currently the oldest supported version (LTS is 12, latest is 13 at the moment).

Using `

[2020-04-21 11:40] sebthom opened #9333 "[eval] Invalid_argument("String.sub / Bytes.sub")"
When targeting eval (--interp -D eval-stack) the following fails:
[code]

[code]

I tried haxe 4.0.5 and nightly build.
All other targets work.

[2020-04-21 12:35] lublak opened #9334 "[macro] Cannot access static field "" from a class instance"
Create two files:

Test.hx
[code]
Example.hx
[code]

You get the error:
[code]

tested with haxe 4.0.5 and latest nightly build 4.1.0-rc.1+adc9ed1b2

Edit (just for info):

The same issue also applies if you try it with @:using

Example.hx
[code]

ExampleUsing.hx
[code]

[2020-04-21 12:58] sonygod commented on #9326
it's random show。I can't  reproduced.

[2020-04-21 13:41] back2dos commented on #9326
I bet this is one of the cases where string interpolation in macros stops working with compiler server.

[2020-04-21 15:28] jdonaldson commented on #9323
I changed the initialization order in a recent commit.  Your test suite is still not passing, but perhaps the key blockers are addressed now.  https://github.com/HaxeFoundation/haxe/commit/adc9ed1b25d76575f6535e9d997324455d2319cb

[2020-04-21 15:36] jdonaldson commented on #9329
Closing this, the main issue for Lua is addressed.  I'm happy to talk about initialization order improvements, but that should first be a more general discussion.

[2020-04-21 15:37] #9329 closed, assigned to nobody

[2020-04-21 15:37] jdonaldson commented on #9329
Closing this, the main issue for Lua is addressed.  I'm happy to talk about initialization order improvements, but that should first be a more general discussion.

[2020-04-21 16:09] sebthom commented on #9323
@jdonaldson looking at the latest [test run](https://travis-ci.com/github/vegardit/haxe-strings/jobs/321602925) I can see that this commit solves this issue. I see one test failure but that is not related and I have to track down the cause separately.

Thank you!

[2020-04-21 16:09] #9323 closed, assigned to nobody

[2020-04-21 16:14] sebthom commented on #9323
@jdonaldson looking at the latest [test run](https://travis-ci.com/github/vegardit/haxe-strings/jobs/321602925) I can see that you commit solves this issue. I see one test failure but that is not related and I have to track down the cause separately.

Thank you!

[2020-04-21 16:35] sebthom commented on #7428
Still the case for Haxe 4.0.5 and 4.1.0-nightly.

[2020-04-21 22:44] haxiomic opened #9335 "[js] Constructible variable"
This is a feature request that's come out of the dts2hx extern work. A very similar feature already exists in haxe: `@:selfCall`, the request is to add a sibling called `@:newCall` which generates slightly different code

In TypeScript anons and interfaces can have a 'construct' signature
[code]

To support this behavior when translating to haxe, it would be useful to haxe a new metadata `@:newCal

[2020-04-21 22:57] nadako commented on #9335
I'm curious where it's actually useful, what does `new(): string` even mean? Could you provide a real-world example?

[2020-04-21 23:05] nadako commented on #9335
One tricky thing here is implementing closures on such functions.

[2020-04-21 23:09] haxiomic commented on #9335
It's a strangely common pattern in the typescript built-in types
https://github.com/microsoft/TypeScript/blob/7d4fc7333105ef426a5a6605a75b5febff2d40be/lib/lib.dom.d.ts#L4294

Top-level cases like that I can detect and promote to a class in haxe so we can avoid it there but the general case does seem to occur in the wild https://grep.app/search?q=new%5C%28%5B%5E%29%5D%2A%5C%29%5Cs%2A%3A&regexp=true

[2020-04-21 23:27] nadako commented on #9335
Interestingly, this is another use-case for intersection types:

[code]

could be translated into

[code]

Also note that you cannot really use `@:newCall` for the things that you have to pass _from_ Haxe to JS, it only works when you want to use some native output and I'm still curious in which cases this is used in the wild :).

[2020-04-21 23:58] haxiomic commented on #9335
Constructible as an intersection types is a much better solution than `@:newCall`, I'll change the issue

[2020-04-22 07:41] nadako commented on #9335
Well this is a more general issue and I can't currently help much with it. Type intersections is something we all have to discuss first.

[2020-04-22 08:13] filt3rek opened #9336 "Macro pos and line number pos"
Hej !

In the past (before Haxe 4), when using tink_template, and when an error occured in a template, the compiler reported the right line number in the template but since Haxe 4, it's not the case, it reports line number 1 and only the pos is right (the offset).

Juraj told that it's an compiler issue : "In macros, one can only specify file, start and end offset and it is the compiler that turns

[2020-04-22 09:15] Simn commented on #9333
The documentation says:

My understanding of that was that a length of -1 is not a valid substring.

However, if this works on all other targets then I'll comply in eval as well.

[2020-04-22 09:18] sebthom commented on #9333
Thanks for changing it.

What confused me regarding the docu is that the method signature is defined as:
[code]
Where the default value of `len` is `-1` - which kind of implies that providing -1 must also be a valid value.

[2020-04-22 09:24] Simn commented on #9333
Well, now I'm confused too. The Java implementation does this: `len < 0 ? s : s.substr(0, pos + len)`. So for any negative `len` it would take the entire string, otherwise a substring.

Now I'm not sure what the specification is in the first place and how it relates to `substr`. I also thought that a negative length on that one had defined semantics, but according to the documentation that's unspe

[2020-04-22 09:31] #9333 closed, assigned to Simn

[2020-04-22 09:31] Simn commented on #9336
Please provide a reproducible example.

[2020-04-22 09:35] Simn commented on #9334
I acknowledge that this is not the ideal behavior, but it is rather annoying to fix this due to how non-static macro functions are treated internally. Given how rare those are, we are unlikely to fix this anytime soon. Please work around the issue for the time being, i.e. by fencing your macro from your non-macro code.

[2020-04-22 09:39] RealyUniqueName commented on #9327
Yeah, because of var hoisting we can't re-use the same name for var shadowing inside of loops. If name mapping via sourcemaps won't help, then I don't think we can do anything else.

[2020-04-22 09:41] Simn commented on #9313
I don't consider this a bug. We've designed it so multiple assignments in constructors would be allowed and this is just a variant of that.

[2020-04-22 09:44] filt3rek commented on #9336
This gives that error : `my_template.mtt:1: characters 32-35 : Unknown identifier : foo` (the line number isn't exact and before Haxe 4 it was good)
Main.hx :
[code]
my_template.hx :
[code]
build.hxml :
[code]

[2020-04-22 09:51] nadako commented on #9313
I vaguely remember discussions about multiple assignments, but was it really "design"? IMO this is not ideal, it should be single assignment per code path (a slightly modified unitialized var check might work?)

[2020-04-22 09:54] nadako commented on #9313
BTW:

simn This should error

[2020-04-22 09:58] RealyUniqueName commented on #9328
I think `Int53` might be an option for existing sys API. Why would that degrade type safety?

[2020-04-22 10:00] RealyUniqueName commented on #9326
We still need more data to be able to do something.

[2020-04-22 10:01] Simn commented on #9313
I probably said this thinking that multiple assignments were already disallowed because your example focuses on a variable with an initialization instead of the much more straightforward `this.x = x; this.x = x;` case.

[2020-04-22 10:14] Simn commented on #9305
This is a problem with the initial transformation of the call. The second argument is moved out as a temp var, but the first one remains even though it can be affected.

This is probably a more general problem with the affection checker. With any luck it's just a missing `v_capture` check there that then also fixes some as of yet undiscovered inlining issues (and makes Nicolas complain about temp

[2020-04-22 10:23] #9305 closed, assigned to nobody

[2020-04-22 10:24] Simn commented on #9305
I don't really understand why, but a unit.js diff suggests that there are actually _less_ variables now.

[2020-04-22 10:48] nadako commented on #9305
Indeed, the original example now generates:
[code]
even without `-D analyzer-optimize`

[2020-04-22 11:10] Simn commented on #9305
I double-checked this again with `@:analyzer(full_debug)` to make sure I'm not crazy, but it looks exactly how we want it to.

Initial:

[code]

After transformation:
[code]

Note how both arguments are temp-varred out, which is what we want at this stage. The only weird part is that the variable for `b` is named `c`...

After fusion:

[code]

Fusion is also correct:

1. `var a<6637> = a` is rejec

[2020-04-22 11:57] #7428 closed, assigned to waneck

[2020-04-22 12:22] kevinresol commented on #9324
#8145

[2020-04-22 12:40] RealyUniqueName commented on #9324
Closing as a duplicate

[2020-04-22 12:40] #9324 closed, assigned to nobody

[2020-04-22 13:19] Shallowmallow commented on #8980
Seems to be stil the case 4.0.5

On C  targets  (linux , android)

if you do

[code]

it says false. On html5 it works.

[2020-04-22 13:59] ErikRikoo opened #9337 "Abstract: forward construct from the implied type"
Currently, there is no way to forward the construct from the implied type (at least I found none).
It would be great if we could have a compiler metadata that generates the following code:
[code]
With:
[code]
We can't forward new directly in the @:forward arguments. We get an "Unexpected )" error just after the new keyword.
But maybe there could be a new compiler metadata such as @:forwardConstruc

[2020-04-22 14:05] RealyUniqueName commented on #9337
This is basically a duplicate of the mentioned issue. Please, continue that discussion instead of starting a new one.

[2020-04-22 14:05] #9337 closed, assigned to nobody

[2020-04-22 14:12] Simn commented on #6619
We have to design `@:forward` somehow. I don't know if it's good to have 10 different metadata for this stuff...

[2020-04-22 14:22] RealyUniqueName commented on #9336
I've tried your sample with Haxe 3.4.7 and got the same error pointing to the first line. Are you sure the sample is correct for the issue?

[2020-04-22 15:26] nanjizal commented on #6619
Is that code really complete, what is the full intention,  for instance this works fine?
[code]
It seems like it's expecting too much and is not clear enough?
However I do believe the constructor should be possible to leave out, so this should work fine?
[code]
A missing constructor in this case should be inherited not error?
// Test.hx:4: characters 16-24 : A does not have a constructor

[2020-04-22 15:31] nanjizal commented on #6619
'this' in abstracts of abstract is rather an unpredictable character and it's annoying the amount of this needed in abstracts compared to classes, not intending to go off topic it's all related to getting consistant and logical abstract behaviour, certainly I feel an abstract should have internal access to private var of parent which it doesn't at the moment.

[2020-04-22 16:03] RealyUniqueName commented on #9175
Yeah, I can't reproduce this with `--wait` even repeating exact same commands and file modifications vshaxe does.

[2020-04-22 16:04] RealyUniqueName commented on #9175
Btw, that `cannot call null` comes from `haxe.macro.Context` static prototype being used without its fields populated.

[2020-04-22 16:06] Simn commented on #9175
Yes, I already investigated that a bit and found that the `cf_expr` values were all `None`. This suggests some problem in the compilation server, not something eval-specific.

[2020-04-22 17:29] back2dos commented on #9336
I've reduced it to this:

[code]

Seems to be the case since at least 3.2.1.

With some random poking around, I was able to (unreliably) undo whatever side-effect `Context.parse` causes and I'd assume that the issue surfaced because some combination of changes in Haxe and tink impacted execution order.

[2020-04-22 17:32] filt3rek commented on #9336
Thanks for your help Juraj, I was lost at the end...

[2020-04-22 17:40] RealyUniqueName commented on #9175
Provided sample works fine now.

[2020-04-22 20:09] benmerckx commented on #9335
But the Type intersection doesn't help with constructing it from Haxe's side, does it?
https://try.haxe.org/#10739
As far as I know there's no way to construct something that Haxe considers a value right now (apart from js.Syntax.construct) so `@:newCall` is still useful I would think (and presumably a lot easier to implement).

[2020-04-22 21:03] lublak commented on #9335
You can theoretically use `Type.createInstance` https://api.haxe.org/Type.html#createInstance

https://try.haxe.org/#d6183

[2020-04-23 07:16] flipflophhj opened #9338 "HttpJs Unhandled exception when there is a ERR_CERT_AUTHORITY_INVALID error"
This is a pretty hard to reproduce error as out dev ops is currently struggling to find the root cause of the error.

The browser console reports

`POST https://blah-blah/analytics/query/gql net::ERR_CERT_AUTHORITY_INVALID`

This is callback function from HttpJs.hx.
[code]

The value of s is 0.

It therefore checks for isLocal which is not the case.

Then it eventually ends up in the switch defaul

[2020-04-23 09:13] ErikRikoo opened #9339 "Allow multiple arguments in array access"
**Changes:**
Currently, we can't have multiple arguments when we are accessing a variable with [].
It could be great if we could, at least in a macro.
In the standard library it would need a change in ExprDef, I propose this
[code]
Then it looks like the ExprDef for a function call. And we keep EArray for simple argument array access, then we don't break retro compatibility.

**Alternatives:**
- W

[2020-04-23 10:20] nanjizal opened #9340 "Unusual variable names broken."
Greek symbols common in maths do not seem to be valid characters, is this something that could be easily changed if I collated suitable ascii codes or would this be really heavy to support?
[code]
Numerical.hx:17: character 9 : Invalid character 0x3C4

[2020-04-23 10:26] lublak commented on #9339
Do you mean?:

[code]

~Than you should use a function. An arrayaccess is always one expression (one index).~
~You say it is cleaner.~
~But what is the second argument, or the third or ....?~
~index1, index2, index3? This make no sence right?~

[2020-04-23 10:32] lublak commented on #9340
It is recommended not to use any special characters as variable or method names.
(Also in other languages).

Why do you want something like that? Just call it `tau`.
Its also easier to program with "simple names".

[2020-04-23 10:33] Simn commented on #9340
We have no plans to support this.

[2020-04-23 10:33] #9340 closed, assigned to nobody

[2020-04-23 10:55] Aurel300 commented on #9339
@lublak This type of indexing is often used e.g. in Python to express indexing into multi-dimensional structures. So `someMatrix[2, 5]` might express the 3rd row, 6th column of a matrix.

@ErikRikoo I think this might have to go through haxe-evolution? Most importantly, the change you propose is breaking for a lot of macros. A "softer" way (but still breaking) to do this might be to introduce `EAr

[2020-04-23 11:13] nadako opened #9341 "[jvm] no source file name for local functions"
[code]

[code]

Note the `null` for file name for `haxe.root.Main$Closure_main_0.invoke`.

Also the stack trace is duplicated, which probably comes from `haxe.Exception.toString`? (cc @RealyUniqueName)

[2020-04-23 11:15] nanjizal commented on #9340
For future reference, this was quite quickly rejected, deeper discussion on the topic is covered here, if Go has this type of support it's not completely crazy concept but accept it may not be where Haxe wants to go.

https://news.ycombinator.com/item?id=1850938

- "Go supports unicode from the ground up. Strings are UTF-8, and any identifier can include unicode characters - you can name your Pi c

[2020-04-23 11:23] Simn commented on #9341
The source file is there now. Rethrowing to Mr. Exception to check the duplicate stack trace.

[2020-04-23 11:44] #9336 closed, assigned to nobody

[2020-04-23 11:45] ErikRikoo commented on #9339
Yes I edited my issue to keep EArray and an EArray multiple I think it would break less code. Because there is code that is dependant from EArray so adding a new argument to it would break some code.
I will write a proposal then and push it.
Thanks for your answers :)

Edit:
I created the [proposal](https://github.com/HaxeFoundation/haxe-evolution/pull/72).

[2020-04-23 11:45] RealyUniqueName commented on #9336
General advice:
Don't use existing file names for `Context.parse` positions. The position data will be cached with the code parsed instead of the code in the real file.

[2020-04-23 11:50] back2dos commented on #9336
Could you elaborate on your advice please? After all, I do wish to point the position to the source file. What should I do instead?

[2020-04-23 13:34] Aurel300 commented on #9328
The safety degrades mostly with the `Float` option. With `Int53`, the issues I see are actually mostly to do with literals and type casting.

If we want `Int53` literals, the parser must be modified. If we do this, we might as well implement `Int64` literals.

If we don't implement `Int53` literals, how does a user specify a large offset as an input into e.g. `seek` (or `resize` in new sys APIs)?

[2020-04-23 14:21] back2dos opened #9342 "Returning an expression referring to genericBuild type loses position."
Minimal example:

[code]

Now `haxe --run Main` will output:

[code]

The expression returned from `Macros.foo` seems to contain the right position, but for some reason it is lost. Maybe it doesn't get encoded properly or something?

[2020-04-23 15:53] RealyUniqueName commented on #9336
Ok, looks like it was another bug in `Context.parse`.
Now that advice relates only to `Context.parseInlineString`:
When you do `Context.parseInlineString(str, pos)`, and `pos.file` was not seen by the compiler yet, then the compiler will cache lines data obtained from `str` for the `pos.file` filename.
So, when you "stringify" any position involving that file, the compiler will report lines within

[2020-04-23 17:05] RealyUniqueName commented on #9338
This is already fixed in https://github.com/HaxeFoundation/haxe/commit/a288ff6cdd8b6eab8a98f72bb243ed242c03c1b7

[2020-04-23 17:05] #9338 closed, assigned to nobody

[2020-04-23 18:56] #9342 closed, assigned to nobody

[2020-04-24 09:07] nadako opened #9343 "UInt division inconsistent across targets"
I've only tested Flash and JS, so it might be a SWF-specific issue, but I don't know:

[code]

Changing `getFloat` body to `getUInt() / (0xFFFFFFFF : UInt)` makes it trace `1` consistently. On JS it is always `1` because generated code is always: `UInt.toFloat(Main.getUInt()) / UInt.toFloat(-1)`

[2020-04-24 09:54] RealyUniqueName commented on #9343
I think it only affects flash, because other targets use an abstract with `@:to function toFloat`

[2020-04-24 09:57] RealyUniqueName commented on #9343
Also affects C#

[2020-04-24 09:58] sonygod commented on #9326
after https://github.com/HaxeFoundation/haxe/commit/717c4061d0db9e2160d36decd4753d1e755736f1

it seems fixed.

[2020-04-24 09:58] #9326 closed, assigned to nobody

[2020-04-24 10:31] derRaab opened #9345 "Type.enumParameters() error with google closure compiler in advanced mode"
We switched to Haxe 4 not that long ago and now ran into release build issues using the google closure compiler in the most aggressive settings. Everything worked fine in Haxe 3.4.7 but now I have trouble to fix this behaviour. (The main problem seems basically, that the accessed property was renamed - that didn't happen in older Haxe versions (generated different code I guess)).

I spent several

[2020-04-24 12:20] YellowAfterlife opened #9346 "Cannot override select classes (e.g. Array) via addClassPath"
In my efforts with working with CustomJSGenerator I've ran into a recurring issue: I cannot provide implementations of specific standard-library classes without caveats.

For a small example:

Main.hx:
[code]
Macro.hx:
[code]
mystd/Array.hx:
[code]
mystd/Date.hx:
[code]
build.hxml:
[code]
output:
[code]
zip sample: [cjs.zip](https://github.com/HaxeFoundation/haxe/files/4527884/cjs.zip)

Although I

[2020-04-24 13:32] RealyUniqueName commented on #9345
Try `-D js_enums_as_arrays`

[2020-04-24 13:49] vonagam opened #9347 "Issue with overloading array access using static function"
For some reason overloading array access with a static function does not work well. Illustration:

[code]

So it does work for field access override, it does work with non-static function (commented out alternative implementation) and for some reason in this example it even works with static one if  `MyAbstract` has `to Int`.

[2020-04-24 14:57] #9347 closed, assigned to nobody

[2020-04-24 19:07] healingdrawing opened #9348 "Python targeting ignored haxe class property `obj.value`, but force call `obj.get_value()` getter work."
haxe class code.
[code]

python3 terminal output.
[code]

[link to github repo with full code](https://github.com/healingdrawing/gemm/tree/object-testing)

[property of Dot3D object which ignored](https://github.com/healingdrawing/gemm/blob/object-testing/GeometryXD/geometryxd/Dot3D.hx#L35)

[main class function which used Dot3D class](https://github.com/healingdrawing/gemm/blob/object-testing/Geo

[2020-04-24 21:06] healingdrawing commented on #9348
there is link to repo with full code
[githublink](https://github.com/healingdrawing/gemm/tree/object-testing)

[2020-04-24 22:52] uvtc commented on #9150
So I understand this correctly, there are two cases:

 1. when you don't import the module
 2. when you do

? (Also given the fact that Haxe affords me the shorthand to specify class names like "pack.Module" instead of the more strictly accurate "pack.Module.Module" for a class Module in module pack/Module.hx.)

As it stands now (with Haxe v4.0.5), given pack/Module.hx:

[code]

**Case 1: when you

[2020-04-24 23:35] haxiomic opened #9349 "[Macro Syntax Printer] Access order can generate invalid syntax"
When printing a field with an array of `Access` modifiers, modifiers are emitted in the order they're stored in the array. This can lead to invalid syntax:

[code]

To resolve I suggest adopting a fixed order for sorting access modifiers before printing, or simplify always printing final last. Is final the only order dependent modifier?

I'll make a PR if others agree this should be fixed

[2020-04-25 10:12] back2dos opened #9351 "[cs] Method type parameters drop nullability."
[code]

From this we get:

[code]

The code has `Main.eval<int>` where it should probably have  `Main.eval<haxe.lang.Null<int>>`.

The easiest workarounds:

- `-D erase-generics` (if that's an option)
- use call site inlining (if that's an option)
- `var eval:Null<Int>->Null<Int> = eval` before making the call. Leads to `global::haxe.lang.Function eval = ((global::haxe.lang.Function) (new global::

[2020-04-25 10:25] RealyUniqueName commented on #9348
Haxe's properties are not supported by python runtimes.
At compile time Haxe compiler replaces `obj.value` by `obj.get_value`, but for the python runtime there is no relation between `obj.value` and `obj.get_value` so you have to manually use `obj.get_value` at python side.

[2020-04-25 10:25] #9348 closed, assigned to nobody

[2020-04-25 10:55] RealyUniqueName commented on #9351
Actually this is already fixed by a176acde2ea379b6625d1c43bb8b5190b1946f27

[2020-04-25 10:55] #9351 closed, assigned to nobody

[2020-04-25 11:04] RealyUniqueName commented on #9325
So, would this argument be made? Or we can close the issue? )

[2020-04-25 11:43] Simn commented on #9325
I'm worried about breaking some macro-generated code which just happens to put function expressions in places where it doesn't care about them ever being called. Though I can't really think of a concrete example.

Maybe we could turn this into a "this code has no effect" diagnostic instead of a hard error. Come to think of it, I'm not sure why it doesn't do that already given that the transformati

[2020-04-25 11:46] RealyUniqueName commented on #9339
Closing this since there's now a proposal in haxe-evolution repo, and further discussion should go there.

[2020-04-25 11:46] #9339 closed, assigned to nobody

[2020-04-25 11:46] haxiomic commented on #9335
I've found the pattern occurs quite a few times in node.js

For example, node.js Buffer instances have a field called [`constructor`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/cb19b1b38249b94d8ceeb2339d627c19972385bf/types/node/v11/globals.d.ts#L238), so you can do

[code]

I think in this case @:newCall could help (of course, something more sophisticated with Constructible would be

[2020-04-25 11:48] RealyUniqueName commented on #9341
I'm going to change `Exception.toString` to return exception message only.

[2020-04-25 12:01] jstolarek opened #9352 "License question"
A quick question: what is the license for Haxe logo? Can I use it as an icon for my `exe` file?

[2020-04-25 12:01] haxiomic opened #9353 "[Macro Syntax Printer] Invalid function type with single named optional parameter"
For example, if we try to represent the following function type
[code]
With
[code]

`printer.printComplexType()` generates invalid `?a:Int -> Int` (missing parenthesis around parameter)

However, if TOptional is removed we get `(a: Int) -> Int`

(I'll fix this over the weekend)

[2020-04-25 12:10] back2dos opened #9354 "[python] Big UInt gets generated as negative int literal."
[code]

Yields:

[code]

[2020-04-25 12:11] jeremyfa commented on #8980
Reproducing the issue as well on cpp with haxe 4.

[2020-04-25 12:17] #9341 closed, assigned to RealyUniqueName

[2020-04-25 12:21] RealyUniqueName commented on #9354
Is it an issue?
`UInt` is an integer at runtime for python.

[2020-04-25 12:26] nadako commented on #9348
We could support `@:python.property` to generate native python properties (IIRC it's `@property def value()` + `@value.setter def value()` or something like that). At this point I'm thinking that we need a generic framework for supporting target-native properties, because a lot of target languages have them.

[2020-04-25 12:41] back2dos opened #9355 "Regression: enough inlining thwarts ECheckType"
Consider the following marvel:

[code]

In 4.0.5 this outputs:

[code]

In 031345d (latest available nightly at the time of writing this):

[code]

[2020-04-25 12:45] back2dos commented on #9354
Python ints have arbitrary precision and therefore don't overflow.

[2020-04-25 14:04] healingdrawing commented on #9348
sounds complex, for me. Just for case (i am sure 99% it out of my perception), can i look at file which convert haxe to python?
i tried search it, in the haxe repo, but no success.
First why i interesting uses python, because it very comfort for testing or fast trying something short, no need even browser and html as js case, just open terminal , and try things step by step.
Possibly haxe at this

[2020-04-25 14:23] nanjizal commented on #9348
There is a gen class for each target that will deal with constructing classes and functions etc..
https://github.com/HaxeFoundation/haxe/blob/development/src/generators/genpy.ml
standard parts of the core library are found here:
https://github.com/HaxeFoundation/haxe/tree/development/std/python
helpers within it:
https://github.com/HaxeFoundation/haxe/tree/development/std/python/internal
Python sp

[2020-04-25 15:56] healingdrawing commented on #9348
thanx, as expected, i can do nothing helpful on my present level, just need observe from side, but now i am sure/understand it, and can relax and be quiet :+1:

[2020-04-25 18:57] Aurel300 commented on #9348
@healingdrawing Just to point out if you want to quickly test small things, eval might be a better target – you just do `haxe --run Main` from the terminal and the code is compiled and immediately executed, without an in-between step involving another language.

[2020-04-26 11:23] ncannasse opened #9357 "Inline produces Ast.null_pos, breaks debugger"
When compiling the following code:

[code]

Using hashlink target with `-D dump`, you can see the following in dump/hl_code.txt:

[code]

This means just after Main.hx:20 there's a null with Ast.null_pos inserted.
This causes some issues when debugging inline functions, as originally reported here https://github.com/vshaxe/hashlink-debugger/issues/76

[2020-04-26 11:31] Simn commented on #9357
[code]

`-D dump=position` says:

[code]

[2020-04-26 12:00] #9357 closed, assigned to nobody

[2020-04-26 13:11] muchitto opened #9358 "Generic classes inline setter in other file messes up something in the compilation server."
So, I have this strange situation where I have this two source file example:

`src/Main.hx`:
[code]

`src/StateHandler.hx`
[code]

`build.hxml`

[code]

The first time I compile it using the compilation server, it works great. When I modify the `Main.hx`-file (like just adding a line break in the end of the file). It gives me this error:
[code]
When I modify the `StateHandler.hx`-file (again, only

[2020-04-26 14:42] haxiomic opened #9359 "[eval] Sys.stdout does not work when using compilation server"
Reproduced with 4.0.5 and development branch

**Main.hx**
[code]

**build.hxml**
[code]

**In vscode, run build task (Terminal -> Run build task)**

When running a haxe file that uses the compilation server, i.e. `haxe --run Main --connect 3000`, writes to stdout and stderr will not be printed. If `flush()` is used the output is printed in the _compilation-sever_ terminal rather than the main term

[2020-04-26 19:00] ncannasse commented on #9358
Oooh a reproducible compiler cache error :D

[2020-04-26 19:59] derRaab commented on #9345
@RealyUniqueName - thanks, that works just fine again. I did some research, had a look at the generated code and would like to ask two questions for better understanding:

1. Does `-D js_enums_as_arrays` simply activate the Haxe 3 code again?
2. Why was the code changed in Haxe 4 to use objects instead of arrays? Seems like there have been some problems with it anyway?

Thanks! :)

[2020-04-26 21:28] #9353 closed, assigned to haxiomic

[2020-04-26 21:37] nadako commented on #9150
It's about removing `(1)`, yeah.

`(2)` is easily explainable: all module types are imported in the global namespace, potentially shadowing earlier imports (so import order matters). That said, having a "strict" mode that errors on name clash might not be the worst idea :)

[2020-04-26 22:06] #9349 closed, assigned to haxiomic

[2020-04-27 00:30] vonagam commented on #6619
Use case when absence of a way to forward constructor complicates things - creation of abstract for an extern class to support operators when said class has constructor overloads. Example:

[code]

[2020-04-27 07:44] Simn commented on #9221
This now works correctly even without the dynamic access generation. I've also checked the specification regarding that return situation and it turns out that this is valid as per 2.6.4:

I thought I read that functions must ensure a neutral stack at the time of a return, but thinking about this more I suppose this would be quite impractical.

So overall, this is resolved.

[2020-04-27 07:44] #9221 closed, assigned to Simn

[2020-04-27 07:57] #9101 closed, assigned to Simn

[2020-04-27 08:13] mockey opened #9363 "[PHP] Std.random"
I saw that `Std.random` is using `mt_rand` in PHP. Wouldn't it be better to use `random_int` here?
https://www.php.net/manual/en/function.mt-rand.php
https://www.php.net/manual/en/function.random-int.php

[2020-04-27 08:39] Simn commented on #9015
We should address #9317 before we try to do anything here.

[2020-04-27 08:41] Simn commented on #8868
This can probably be closed after merging #9283.

[2020-04-27 09:03] Simn commented on #9097
The "good" news is that now "Go to Implementations" doesn't work anymore either, so at least it's consistent.

[2020-04-27 11:45] ncannasse commented on #6843
We discussed extensively again Haxe-in-Haxe today.
We agree that we need more data before making a decision regarding if OCaml should be the runtime VS JVM or HL or HxCPP.

One solution I propose to learn about this is to port a "mini compiler" from Haxe to OCaml, and I think HScript Parser + Checker would be a good candidate as it's "vanilla" Haxe with no much optimizations.

Once ported, I can p

[2020-04-27 19:09] nanjizal opened #9365 "typedef get,set properties don't error but no way to use them?"
[code]
This is valid Haxe code but I can't seem to find a way to use them ( default will not allow below example to update size ), nearest I got was this test:
[code]

[2020-04-27 20:00] uvtc commented on #9150
Thanks, Dan.

Ah, I see. The way `(2)` works is by design (possibly because it may be useful to shadow type names in that way?).

Yes, being warned if shadowing were to happen seems useful to me. Though, with programming languages I generally tend to want safety nets over the wild west anyway. :)

But my issue with `(2)` is that there's no easy way to tell from which module `A` came, other than di

[2020-04-28 05:27] Antriel opened #9366 "Uncaught exception Unbound variable"
Main.hx:
[code]
build.hxml:
[code]

Accessing `nameToVarKey.exists` directly works, but in a closure doesn't. Doesn't happen outside of macro, and doesn't happen without the `M` type parameter.

[2020-04-28 07:44] Antriel opened #9367 "`Context.typeof` fails on module sub-type"
[code]
The `typeof` call fails with `Class<Main> has no field Foo`. Same behavior for sub-type in a different module.
I tracked it down to somewhere between https://github.com/HaxeFoundation/haxe/commit/d30eec2 (works) and https://github.com/HaxeFoundation/haxe/commit/b5b9d1e (does not).

[2020-04-28 07:45] Simn commented on #9367
That's gonna be https://github.com/HaxeFoundation/haxe/commit/55b45250f26bbca9d0608f2e43c768330b0fd6c2

[2020-04-28 07:52] #3846 closed

[2020-04-28 08:13] markknol commented on #9352
It is not allowed to reuse the Haxe logo for a library or application for not edited by Haxe Foundation.

What kind of exe file are we talking about?

[2020-04-28 09:31] Simn commented on #9365
You can create a compatible class and assign it to that structure.

[2020-04-28 09:31] #9365 closed, assigned to nobody

[2020-04-28 10:30] nadako commented on #9367
Does this also fail without macros?

[2020-04-28 10:33] Antriel commented on #9367
Actually yes, `Type.typeof(Main.Foo);` fails too. New minimal example:
[code]

[2020-04-28 10:34] nanjizal commented on #9365
I failed to find a way that worked, probably being stupid but no one on discord seemed to know either, so for anyone with similar issue my work round was to use an abstract, my full context use case:
An abstract wrapper
<https://github.com/nanjizal/trilateral2/blob/master/trilateral2/DrawAbstract.hx>
A typedef
<https://github.com/nanjizal/trilateral2/blob/master/trilateral2/DrawType.hx>
getting ro

[2020-04-28 10:50] jstolarek commented on #9352
This one: https://github.com/jstolarek/hashlink-launcher
At the moment it uses Haxe logo as an icon but if that is a violation of the license I will of course remove it.

[2020-04-28 13:26] back2dos commented on #9352
Some projects have a logo that is derived from the Haxe logo, yet clearly different, e.g. [hxdefold](https://github.com/hxdefold), [HaxeUI](https://github.com/haxeui), [HaxeFlixel](https://github.com/HaxeFlixel), [vshaxe](https://github.com/vshaxe), [NME](https://github.com/haxenme/nme/blob/master/README.md), etc. etc.

You can follow the same approach - in your case I wonder whether the Heaps / H

[2020-04-28 13:28] RealyUniqueName commented on #9363
`random_int` is at least two times slower.
And since `Std.random` is not specified to be cryptographically secure, I doubt we should change it.

[2020-04-28 13:28] #9363 closed, assigned to nobody

[2020-04-28 13:36] jstolarek commented on #9352
Thanks. Allow me a few days to fix this up on my side.

I think this should be a matter of license, i.e. Haxe logos etc. should have their own separate license that specifies what is allowed and what is not. I think Firefox is a good example, where the source code is FOSS, but the Firefox name and the logos are trademarked. The result is that while it is allowed to modify and distribute applicatio

[2020-04-28 19:34] nadako commented on #9367
*(in case I die from brain explosion while trying to fix this and won't be able to finish)* This is about falling back to current-package module resolution when there is a requested type in the current module context, but it does NOT have a requested field.

Similar issue is with this code: https://github.com/deepnight/deepnightLibs/blob/e21549d49d0da75578b45b88f092813ad76dace8/src/dn/heaps/Contro

[2020-04-28 20:18] nadako commented on #9367
Should work now, will close by adding a test.

[2020-04-28 20:38] #9367 closed, assigned to nadako

[2020-04-29 01:02] nadako opened #9368 "duplicate __init__ allowed but only the last one is used"
looks like we're missing a check for `cl_init`:

[code]

this only traces `2`

[2020-04-29 08:35] Simn commented on #9366
An initial investigation suggests that the generated `this` variable has `v_capture=false` which causes Eval to look for it in the closure scope instead of the context.

The next question is why that is the case.

[2020-04-29 08:55] Simn commented on #9366
The problem here was that `run_expression_filters` ignores classes for which `is_removable_class` is true, which lead to `captured_vars` not being executed on `VarManager` itself (not the generic instance of it). Eval then still tried to generate that class, but because the filter didn't run, variables would have the wrong `v_capture` value.

[2020-04-29 08:58] Simn commented on #9366
Hmm, maybe it would be cleaner to make sure `remove_generic_base` is run in macro context as well. That one doesn't actually remove the class from the type list, it just sets `cl_extern <- true` which causes generators to ignore it.

The fact that this doesn't run in macro context also explains why the problem only reproduced in macro context.

[2020-04-29 09:01] #9366 closed, assigned to nobody

[2020-04-29 09:23] nadako commented on #9175
FYI I still get this when working on macros sometimes, but it's much rarer after the fix! I'll try to provide an example next time I get it.

[2020-04-29 09:26] Simn commented on #7977
@RealyUniqueName Is this within the scope of the recent changes you've made?

[2020-04-29 09:27] nadako commented on #7977
That still doesn't work.

[2020-04-29 09:28] nadako commented on #7977
Oh wait, VSCode doesn't use the latest changes, so maybe it does :)

[2020-04-29 09:29] Simn commented on #8044
I'm reading this and don't really know what you actually mean by "should take type parameters into account". It also doesn't help that I can't tell what you're doing in that screenshot. Could you rephrase the problem here so even I can understand it?

[2020-04-29 09:30] Simn commented on #7977
Yes that's why I'm asking. I see `1 reference` in code lens so this might work if vshaxe sends the correct request.

[2020-04-29 09:32] nadako commented on #7977
@Gama11 what should we do on vshaxe side regarding this, given that we can't easily ask the user? to me it looks like just requesting all usages through hierarchy is the most useful.

[2020-04-29 09:49] Simn commented on #9097
This works now, but it would be nice to have a test for it.

[2020-04-29 09:52] nadako commented on #7977
Also what still bugs me is that even if we could ask the user it would be very annoying for people that don't use inheritance (much). IIRC it is done right in IntelliJ, where it only asks what to show when there is any difference. I expressed this concern before in https://github.com/HaxeFoundation/haxe/pull/9315#issuecomment-614220102, but it looked like you guys have an idea how to handle that.

[2020-04-29 09:54] Simn commented on #9261
Should this be labeled as a regression?

[2020-04-29 09:56] Aurel300 commented on #8044
@Simn There are two types that could be imported: `haxe.format.JsonParser` and `json2object.JsonParser`. The former takes no types parameters, the latter takes one. I think the suggestion is that in this case the latter should be suggested first, because it would work with the type parameters (at least by arity, if not possible constraints).

[2020-04-29 09:58] Simn commented on #9317
I'm removing the 4.1 label because I can't see us dealing with this quickly in any way.

[2020-04-29 10:01] Simn commented on #8980
I just checked again and it still reproduces with latest Haxe and hxcpp.

@hughsando Anything we can do here?

[2020-04-29 10:27] Simn commented on #9162
This is difficult to address properly because large parts of toplevel-completion are purely syntax-based, which means that there is nothing to unify.

[2020-04-29 12:05] Gama11 commented on #8044
Exactly, `haxe.format.JsonParser` is not a very good fit because it has _no_ type parameters, whereas the syntax in the source file has _one_.

[2020-04-29 12:07] Gama11 commented on #7977
Did we even add the parameter to code lens? I thought it was "find references" only...

Agreed.

[2020-04-29 14:46] ncannasse commented on #9317
I think we should be able to come up with a solution that works and is quite easy to implement, maybe this could be discussed on #ide ?

[2020-04-29 14:57] ncannasse commented on #8838
Seems like it works now.

[2020-04-29 14:57] #8838 closed, assigned to nobody

[2020-04-29 16:12] RealyUniqueName commented on #9355
This turned out to be quite involved.
The real issue is not a check-type being removed (`(valueOfFloat:Float)` should be safe to eliminate), but a filter,which inserts abstract casts.
Reduced:
[code]
The `writeFloat(o)` call gets inlined as `var f:Float = o; trace(Std.string(f));` and reduced to `trace(Std.string(o))`, which is correct.
But then [AbstractCasts.handle_abstract_casts](https://github

[2020-04-29 17:46] RealyUniqueName commented on #9359
I guess this may be pretty  annoying for eval-based tools.
Probably also affects stdin and stderr.
@Simn do you think this should be fixed for 4.1?

[2020-04-29 18:16] RealyUniqueName commented on #9345
Yes, `-D js_enums_as_arrays` activates old approach, which was generating enums as arrays.
It was changed because objects are semantically closer to Haxe enums. Also JS runtimes can't optimize arrays of mixed types.
@nadako did I miss something?

[2020-04-29 18:41] #9368 closed, assigned to nobody

[2020-04-29 18:54] RealyUniqueName commented on #9261
I guess it was always like that for cppia, so it's not a regression.

[2020-04-29 18:59] RealyUniqueName commented on #7977
This is covered by  #9315

[2020-04-29 19:04] RealyUniqueName commented on #7977
I think it's up to IDE to decide on this. IDE could request for decendants by default and provide additional commands for other modes, so that users would use the command they need.
One thing we can do on the compiler side is provide a request kind like "Does this symbol has descendants/parents?" or even a request, which would return full hierarchy.

[2020-04-29 19:32] nadako commented on #9345
Yeah, the idea that simple anonymous objects are the fastest way to represent enums, and IIRC it was proven by benchmarks as well. They are also nicer to work with from native JS (well except the `_hx_index` check:)). I don't know right now what to do about closure advanced optimizations, I have to look into it...

[2020-04-29 20:41] #7809 closed, assigned to RealyUniqueName

[2020-04-30 01:05] haxiomic commented on #9359
I'd argue it's worth resolving for 4.1 as it's pretty close to haxe hello world in vscode – I came across it while making an example for a newbie, simplest thing seemed to be to use the `--run` target so you can edit and see the program output interactively

[2020-04-30 02:27] vonagam opened #9369 "[lua] @:selfCall on a method is ignored"
`@:selfCall` is not respected on a method in lua. Example:

[code]

produces:

[code]

In javascript it works both on a constructor and on a method, while in lua it works properly only on a constructor.

[2020-04-30 07:57] RealyUniqueName commented on #9345
Enums could be generated like this to not rely on enum names as properties:
[code]

[2020-04-30 08:00] derRaab commented on #9345
Wouldn't it be necessary to also use quotes in line 4?:

[code]

[2020-04-30 08:14] RealyUniqueName commented on #9345
No, because then declarations won't be minimized, while references will.
[code]
will be minimized to
[code]

[2020-04-30 08:41] derRaab commented on #9345
@RealyUniqueName , yes, but that's the whole point? Advanced settings will just remove the quotes as far as I know, so access to this property will be available everywhere. This access problem might happen in other places as well?

[2020-04-30 08:44] derRaab commented on #9345
As a matter of fact, shouldn't using only the quotes (line 4) fix the problem everywhere?

[2020-04-30 09:49] back2dos opened #9370 "Comments in string interpolation expressions break nested interpolation in subsequent expressions."
[code]

Checked with 4.0.5. and current nightly (4450dfb).

[2020-04-30 09:53] Aurel300 commented on #9370
One more for https://github.com/HaxeFoundation/haxe/issues/2244 ?

[2020-04-30 10:00] back2dos commented on #9370
Quite possible. I've removed all spaces to make sure they're not the cause: Also, I've printed the expression in a macro and I get this:

[code]

It would seem like the lexer throws out the comment right there, and then presumably the position of `${foo}` within the literal no longer lines up with where it was in the file. If interpolation is still governed by this position cache that Simn explain

[2020-04-30 10:04] Simn commented on #9370
Yes that's still a thing. We were working towards getting rid of it, but I don't remember what the outcome of that was. Might have been one of these nadako-has-a-branch-things.

[2020-04-30 10:12] nadako commented on #9370
I have to re-read all the stuff about this. I remember implementing a mini-ast for the interpolated strings, but I did it on the lexer level, which was wrong because we only want to do the interpolation when actually typing the string, not on the token level.

[2020-04-30 10:43] RealyUniqueName commented on #9345
No, because minimized `ActivatableState.INITIALIZED` is `g.o` and there's no property named `o`.
We can generate `ActivatableState.INITIALIZED` as `ActivatableState["INITIALIZED"]` instead, but that would prevent minimization of enum names completely. Which, I guess, is not what one wants when using advanced optimization setting.

[2020-04-30 10:46] RealyUniqueName commented on #9370
Can we close this as a duplicate of #2244?

[2020-04-30 10:49] RealyUniqueName commented on #9352
I'm closing this as there's no issue.

[2020-04-30 10:49] #9352 closed, assigned to nobody

[2020-04-30 10:50] RealyUniqueName commented on #9352
Feel free to reopen or add comments.

[2020-04-30 10:52] back2dos commented on #9370
From what I've observed, whitespace is conserved in interpolation expressions, while comments are not. So the cause may be different, although the solution will probably be the same (getting rid of the position cache voodoo).

[2020-04-30 10:58] Simn commented on #9370
Wasn't the idea to handle this at lexer level (we have to handle it there _somehow_ anyway) and then carry both the complete string and that mini-AST to the typer?

[2020-04-30 11:03] rhacking opened #9371 "[java] Type not found : java.lang.String"
Create a file src/Test.hx:
[code]

and build.hxml:
[code]

Running `haxe ./build.hxml` results in `src/Test.hx:1: characters 8-24 : Type not found : java.lang.String`

Tried using Haxe versions 4.0.5 and 4.1.0-rc.1+4450dfbb6, `javac 1.8.0_252` and latest hxjava and latest git master branch hxjava.

Vshaxe does autocomplete `java.lang.String`, but it then also subsequently lints it with `Type not f

[2020-04-30 11:05] nadako commented on #9370
See #6475

[2020-04-30 11:06] back2dos commented on #9370
There was a pull request for this: https://github.com/HaxeFoundation/haxe/pull/6475

My objection was that the original string would be lost in the process and when you want to process it in a macro, then that gets very awkward.

A (backward compatible) solution would be this:

1. Bring back the proper parser for string interpolation, that also extracts the string as a whole.
2. still just pass it

[2020-04-30 11:44] #8868 closed, assigned to Simn, RealyUniqueName

[2020-04-30 12:08] nadako commented on #7977
Tested this with the [latest language server](https://github.com/vshaxe/haxe-language-server/commit/2c7aab63c9d99469ce7e9d87a4ce388dda1bfc9e) and it works! \o/ I'll close this one and create separate issues if more stuff comes up.

[2020-04-30 12:08] #7977 closed, assigned to Simn

[2020-04-30 14:11] RealyUniqueName commented on #9371
There's `java.NativeString`, which is `java.lang.String` at run time.
https://github.com/HaxeFoundation/haxe/blob/acaec1c8a0443b15537ee993b6c8031ad8c911be/std/java/NativeString.hx#L32-L33

[2020-04-30 18:56] nadako commented on #7975
a bit similar to #8535

[2020-05-01 07:28] YellowAfterlife commented on #9346
Note: Also applies to 4.1.0's haxe.Exception, which brings even more trouble since the implementation filled with js-specific tricks that I now have to check for.

[2020-05-01 09:35] #8543 closed, assigned to nobody

[2020-05-01 16:07] RealyUniqueName commented on #9346
Could you please assemble a self-contained sample?

[2020-05-01 16:10] YellowAfterlife commented on #9346
The attached cjs.zip is a self-contained example.

[2020-05-01 16:11] #8750 closed, assigned to RealyUniqueName

[2020-05-01 22:10] vonagam opened #9372 "Template fails to resolve name when current nested context is not an object"
Example:

[code]

Throws from `Reflect.hasField` on [this line](https://github.com/HaxeFoundation/haxe/blob/2b6424c1a21cc4d19474ef51dc8eac66b9ce220f/std/haxe/Template.hx#L125) with `Unexpected value VInt32(0), expected object`. Seems like `hasField` can't handle non-object and there is no check if a current context is one.

[2020-05-02 06:33] Simn commented on #9371
Maybe adding a `typedef String = java.NativeString` in a `java.lang` package is a way to deal with this.

[2020-05-02 13:11] cedx opened #9373 "[php] Feature request: add the `JsonSerializable` interface"
The [`JsonSerializable` interface](https://www.php.net/manual/en/class.jsonserializable.php) is available since PHP 5.4. As of Haxe 4.0, the PHP target requires PHP 7.0, so this interface can now be safely included.

[2020-05-02 16:09] haxiomic commented on #9335
I think a generic build macro work around is possible so I'll close this in favor of that approach

[2020-05-02 16:09] #9335 closed, assigned to nobody

[2020-05-02 18:42] RealyUniqueName commented on #9371
I think it was made as `NativeString` to not shadow Haxe String.

[2020-05-03 12:46] hughsando opened #9374 "Compiler is not renaming name clashes"
The cpp backend relies on the haxe compiler changing the name of variables when the name is recycled.  There might be something different hxcpp needs to do now, but the following code no longer works:
[code]

Note that this still works:
[code]
So it looks like is something to to with the arguments.

[2020-05-04 12:38] haxiomic opened #9376 "Float should be EitherType<String, Float>"
EitherType's to/from unification fails when it's used to type an object property

Tested with 3.4.7 to development

[code]

Error is:

[code]

Reading the error, it looks like this _should_ work

[2020-05-04 12:41] nadako commented on #9376
I don't think it should work, because you could then assign a `String` to `c` through `d`, which is wrong...

[2020-05-04 12:54] nadako commented on #9376
Funny enough, it is a type hole in [TypeScript](https://www.typescriptlang.org/play/?ssl=1&ssc=1&pln=5&pc=1#code/DYUwLgBAhgXBDeEAecB2BXAtgIxAJwgF8IBeBZOAZgAYiBuAKFEmzkRQgx3wgB8IAzmDwBLVAHMipaI2wA6JNIBEACxDBgAeyWMAxptQDNoOVvEAKMAE8ADiE0AzaAoCUjIA).

[2020-05-04 13:06] haxiomic commented on #9376
Ahhh, that's amazing, feel dumb for not seeing this, thanks for the education @nadako!

[2020-05-04 13:06] #9376 closed, assigned to nobody

[2020-05-04 13:10] nadako commented on #9376
BTW I think this works for read-only/final fields.

[2020-05-04 16:58] #9374 closed, assigned to RealyUniqueName

[2020-05-04 17:16] RealyUniqueName commented on #9371
I'll go ahead and close this. Feel free to reopen.

[2020-05-04 17:16] #9371 closed, assigned to nobody

[2020-05-04 17:35] RealyUniqueName commented on #9373
It's already included:
https://github.com/HaxeFoundation/haxe/blob/18b5e7d1058f97f457c1791296309fc4479d6f20/std/php/JsonSerializable.hx#L28-L31

Not sure why API docs are missing it.

[2020-05-04 17:36] RealyUniqueName commented on #9373
Ah, it was not available in 4.0.

[2020-05-04 17:36] #9373 closed, assigned to nobody

[2020-05-04 21:43] cedx commented on #9373
OK, thanks @RealyUniqueName. I guess I have to wait for the next Haxe release...

[2020-05-04 22:48] cedx opened #9377 "[php] `Array` class should implement the native `Countable` interface"
A Haxe array should be as close as possible to a native array in order to be easily usable from PHP code.
In PHP code, we must use `$array->length` to access the length of a Haxe array, but the idiomatic way of doing this is to call the `count` function on it: `count($array)`.

See the native `ArrayObject` class that mimics a plain array:
https://www.php.net/manual/en/class.arrayobject.php

It imp

[2020-05-05 06:30] nadako opened #9378 "final not respected by write access within unrelated constructor"
This compiles, but it shouldn't. Looks like we're checking if we're inside a constructor, but not checking which constructor exactly ;-)

[code]

[2020-05-05 06:31] Simn commented on #9378
That's both tragic and funny...

[2020-05-05 08:36] Gama11 commented on #9373
You don't _have_ to. https://build.haxe.org/builds/haxe/

[2020-05-05 09:27] #9377 closed, assigned to nobody

[2020-05-05 09:31] cedx commented on #9377
Thanks @RealyUniqueName 🥰

[2020-05-05 11:08] back2dos opened #9379 "Comparing method with null fails on many targets."
Minimal example:

[code]

Throws on eval, php, java. On cs it doesn't compile. Works on js, neko and python, because it's not a problem at runtime. The code for cpp looks like it'll fail too, but can't confirm right now, because it bricked my compiler setup 😊

[2020-05-05 11:13] RealyUniqueName commented on #9355
I failed to find a good solution.
But since it affects only `Std.string` calls (see #2401 and [related commit](https://github.com/HaxeFoundation/haxe/commit/27e464a2e1e76b9dda0d9997ecc0f59d43ace9c9)) I'll make a PR with a small hack.

[2020-05-05 11:24] RealyUniqueName commented on #9379
I think it happens because `this.items` is compiled as `FInstance` instead of `FClosure`:
[code]

[2020-05-05 11:28] RealyUniqueName commented on #9379
Oh, it's actually a regression since 4.0.

[2020-05-05 11:41] lublak opened #9381 "[display] isFinal autoBuild not set on second class"
FinalDisplayBuilder.hx
[code]

FinalDisplay.hx
[code]

FinalDisplayTest.hx // can be any name
[code]

The project builds fine. The problem is only in "display" available.

[2020-05-05 12:04] back2dos opened #9382 "[eval] StringBuf with emojis throws uncatchable exception"
Minimal example:

[code]

Passing the last argument fixes the issue, so I suspect the implementation measures the bytes length and then runs out of bounds?

[2020-05-05 12:12] nadako opened #9383 "signature help at wrong position sucks types into macro context"
Subj. This might cause weird, almost random macro context invalidations that break e.g. with `coconut.ui` that relies on `@:persistent` static fields.

[code]

[2020-05-05 13:23] Simn commented on #9379
A bisect would be interesting.

[2020-05-05 13:28] #9382 closed, assigned to nobody

[2020-05-05 14:04] #9378 closed, assigned to nobody

[2020-05-05 14:58] derRaab opened #9384 "Std.is(v,Interface) breaks with google closure compiler in advanced mode"
We switched to Haxe 4 not that long ago and now ran into release build issues using the google closure compiler in the most aggressive settings. Everything worked fine in Haxe 3.4.7 but now I have trouble to fix this behaviour. (The main problem seems basically, that the accessed property was renamed - that didn't happen in older Haxe versions (generated different code I guess)).

I spent several

[2020-05-05 15:02] haxiomic opened #9385 "[macro] Syntax printer: function returning function can print invalid syntax"
When printing the following complex type `:() -> (() -> R)`, the syntax printer fails to wrap the returning function in parantheses which is a syntax error

Repro
[code]

PR opened #9386

[2020-05-05 15:13] nadako commented on #9384
I believe this was fixed in c510ae6c73cbd8ecf532b63aff85950e6b8fc5fd. Could you check with a nightly build?

[2020-05-05 15:22] derRaab commented on #9384
Oh boy, now I remember my previous https://github.com/HaxeFoundation/haxe/issues/9172 issue. :) Code looks good, I'll give it a try!

[2020-05-05 15:36] derRaab commented on #9384
@nadako Haxe 4.1.0-rc.1+18b5e7d10 does indeed fix that! Thanks - and sorry for this issue then. Next time I will try the nightly build first. Is there a schedule for 4.1 release?

[2020-05-05 15:36] #9384 closed, assigned to nobody

[2020-05-05 15:39] nadako commented on #9384
should be out very soon :)

[2020-05-05 16:10] haxiomic opened #9387 "Switch statement causing compiler errors / invalid code gen in unit tests"
Tested with development bec8e9e16df65dc32fcd422789595b2e9c4ed508 (Tue May 5 17:03:16 2020 +0300)

This is a weird one, it seems something in the unit tests breaks something in the haxe compiler, triggering the bug. Discovered when making this PR: https://github.com/HaxeFoundation/haxe/pull/9386

I can reproduce the issue by adding a redundant switch statement and trying to compile unit tests with

[2020-05-06 06:21] nadako opened #9388 "unnecessary tempvaring when transforming crement unops on properties"
[code]

[code]

[2020-05-06 11:18] derRaab commented on #9112
Just a quick note:
I ran into that issue as well. Since this worked in Haxe 3.4.7 I wonder if this shouldn't be mentioned as breaking change for Haxe 4? Haxe 3 did simply return the integer again. That was quite handy to force a dynamic value to be an integer.

[2020-05-06 12:30] nanjizal commented on #9112
Would it improve Haxe user experience to add some **force** methods optimised per target, well anyway my js optimised forceInt function incase it's useful for derRaab

https://gist.github.com/nanjizal/ca151e52b8aabd21ecb951d6463bca49

[code]

[2020-05-06 13:42] nadako opened #9389 "throwing haxe.macro.Expr.Error behaviour changed since 4.0"
[code]

in 4.0.5, this code would show a compiler error (`boop`) at the position of `e` (like `Context.error`), in current `development` this shows a stacktrace like other exceptions, so there's no special handling anymore.

Probably related to haxe.Exception reworks?

[2020-05-06 14:06] RealyUniqueName commented on #9379
So, it's a consequence of #6297
I think changing `FClosure` to `FInstance` just to make genjs happy was a wrong move.
Accessing a method without calling it should always be `FClosure`. And if a target wants cleaner output it's that target's concern to detect and handle edge cases.

@Simn  let's revert #6297 and handle that in genjs instead?

[2020-05-06 14:11] RealyUniqueName commented on #9389
Yep

[2020-05-06 14:26] #9389 closed, assigned to RealyUniqueName

[2020-05-06 15:38] Simn commented on #9379
If that's the cause then it's not a regression since 4.0 though.

[2020-05-06 15:42] RealyUniqueName commented on #9379
It is.
3.4.7 doesn't have this bug. And https://github.com/HaxeFoundation/haxe/commit/b2a3e37a0e7f9919171db2a1d9bb994101b8f866#diff-d9f788ff511f3c22dcae93956e997b38R1150 is the exact line, which changes that `FClosure` into `FInstance`

[2020-05-06 15:45] Simn commented on #9379
Then it's a regression since 3.4, not since 4.0. That makes a difference regarding the urgency of this.

However, I certainly agree that we should focus on correct code first and optimizations second. So reverting for now might be the best choice.

[2020-05-06 15:52] nadako opened #9390 "[eval] "Something went wrong" when throwing haxe.macro.Expr outside macro context"
[code]

`haxe --run Main` will simply print `Something went wrong`

[2020-05-06 16:05] nadako commented on #9390
maybe it shouldn't do special handling for `Error` at all when not in macro and treat it like other exceptions, just like other targets

[2020-05-06 19:09] ErikRikoo opened #9391 "Not_Found when deleting @:genericBuild on Local Class"
When trying to delete the @:genericBuild metadata from a class when calling the build macro we get an unexpected Not_Found error.
Reproductible exemple:
The exemple class + main:
[code]
The build function:
[code]

When compiling this code we get the given trace:
[code]
But if we comment the line with `localClass.meta.remove(":genericBuild");`, we get:
[code]
So the metadata is still there but if w

[2020-05-07 07:55] nadako opened #9393 "Constraint check error position is not accurate"
In the example above, the "constraint check failure" error will be reported at the position of `f` (not even the call). I think I understand why that's happening (it's checking the field itself, not really a call argument, right?), but maybe it is possible to store a position of a thing that made T an actual type (`1` in this example).

[code]

[2020-05-07 08:26] Simn commented on #9393
IMO this is not worth fixing. Addressing this in the general case (where there's no 1:1 mapping between argument and type parameter) would require quite a bit of effort which I don't think is justified.

It can probably be changed to give the error of the call as a whole instead of the field, but trying to map this to individual arguments seems pretty crazy.

[2020-05-07 09:27] Simn opened #9394 "[neko?] local renaming vs. package or something"
Trying to run https://github.com/HaxeFoundation/code-cookbook/blob/master/CodeCookBook-neko.hxml errors:

[code]

This is fixed by renaming the local `data` on Generator.hx:138 to something else, so the problem is that it shadows the `data` package or something.

This is a recent regression.

[2020-05-07 09:29] nadako commented on #9394
We should check if this also breaks on JS with `js-unflatten` and adjust paltform settings? I think it's the `ReserveAllTopLevelSymbols` flag?

[2020-05-07 10:22] #9379 closed, assigned to RealyUniqueName

[2020-05-07 10:36] #9394 closed, assigned to RealyUniqueName

[2020-05-07 10:36] nadako commented on #6297
closed by 7440224a035438014acb9cb58c22ed26ab3fe500?

[2020-05-07 10:37] Simn commented on #6297
I thought that reopened it

[2020-05-07 10:46] RealyUniqueName commented on #6297
Yep, 7440224 closes it.

[2020-05-07 10:46] #6297 closed

[2020-05-07 10:47] Simn commented on #6297
Ah sorry, I didn't notice that there were two commits.

[2020-05-07 13:17] nadako opened #9395 "[cs/java(not-jvm)] invalid closure generation with @:generic + structure typing"
[code]

this generates the following C#:

[code]

which then of course fails on native compilation, because o.dispose is indeed not a `haxe.lang.Function`

---

if we remove `@:generic` it will work via dynamic access:
[code]

but with `@:generic` it should generate the same code as if we'd have `T:Main` instead of a structure:

[code]

[2020-05-07 13:21] nadako commented on #9395
This might be an issue with the AST (cc @Simn @RealyUniqueName) - note `FClosure` has `None` for a class.

[code]

[2020-05-07 16:34] nadako opened #9396 "reification syntax survives typing"
This currently compiles (with just normal typing without any macro processing), but I don't think it should:

[code]

We should probably catch EMeta that starts with `$` (there's also `$b`, `$p` and any `$blahblah`, really) and raise a compile-time error.

Also just `$a` identifier survives until we get an `Unknown identifier : $a` error, while `var $a` and `o.$a` complain properly about using the

[2020-05-07 22:13] haxiomic opened #9397 "Stack overflow with intersection types"
Repro

**Main.hx**
[code]
`haxe Main.hx`
= "Stack overflow"

(this is simplified from code generated from typescripts lib.dom.d.ts)

Tested haxe 4.0.5 and latest development

Problem is in **codegen.ml** `update_cache_dependencies`

[code]

Running with the added prints we get
[code]

[2020-05-08 05:51] #9385 closed, assigned to haxiomic

[2020-05-08 10:37] haxiomic commented on #9387
Works on 4.0_bugfix, so _could_ be a regression or could be a recent change to the unit tests

[2020-05-08 17:19] nadako opened #9400 "Add "final" inference"
We currently disable some optimizations such as tail recusion elimination and purity inference for _non-final instance methods_ based on the fact that we cannot make assumptions about them, since they can be overriden later by users of haxe-generated code.

While this is a safe bet, I believe it is actually rare when Haxe code is used like that, and it would be more beneficial to actually infer an

[2020-05-08 17:28] Simn commented on #9400
I was thinking that we need the notion of a Haxe compilation being "self-contained". Perhaps we can even assume this when there is a `-main`, and then have a define to switch the behavior off (or on in absence of `-main`).

I feel like there's a better word for that though which eludes me right now.

[2020-05-08 17:44] Gama11 commented on #9400
Clearly that's a "final" compilation. ;)

[2020-05-08 17:45] Simn commented on #9400
I actually kinda like that, but there's probably some established term for it.

[2020-05-08 18:11] nadako commented on #9400
standalone?

[2020-05-08 18:40] vonagam opened #9401 "Field doc display retrieval for abstract properties"
Worked with generating fields for abstracts and noticed that even though i set `doc` properties on their fields they weren't showing up in tooltips of vshaxe. Here is demo:

[code]

No info for `bar.b` getter is a problem and if you remove `b2` and `b1` comments you still won't  see `b0`.

[2020-05-08 19:39] RealyUniqueName commented on #9400
But what about the complication server?
First compilation - no overrides. Second compilation - an override is added, but the parent entity is reused from cache.

[2020-05-08 19:53] Simn commented on #9400
Final inference itself can work around that. But yes, if there's an optimization depending on it we would have to reverse-invalidate for sure...

This might then require field-level invalidation first in order to not be a big problem. And that in turn probably requires redesigning the compilation server. :(

[2020-05-08 21:47] AlexHaxe opened #9402 "[lua] generated lua file omits call to main function"
I was wondering why lua benchmarks for formatter where suddenly super fast and it turns out it just doesn't invoke formatter's `main` function.

Sample code:
[code]
call with `haxe -lua main.lua -main Main && lua main.lua`

It works if you comment out `import haxe.Timer;`

broken somewhere between versions 18b5e7d1058f97f457c1791296309fc4479d6f20 and ef9469a1d4049bf2838c51d1a0debfc602a7f73d

18b5e

[2020-05-08 22:45] haxiomic commented on #9387
Did a bisect on this one, making the above change to Printer.hx and re-running compile-js.hxml

Narrowed down to a change between (ok) e6de685 and (compiler-error) 27c349a
**DIff: [compare/e6de685..27c349a](https://github.com/haxeFoundation/haxe/compare/e6de685..27c349a)**

Edit: just saw recent compiler commits – guess you found this long before I did!

[2020-05-10 03:25] vonagam opened #9403 "Value escaping ($v) in reification only works inside macro context"
Example:

[code]

All other escaping mechanisms (e/a/b/i/p) work outside macro call. Is there something in `$v` escaping that requires it to have access to macro context?

[2020-05-10 05:59] back2dos commented on #9403
It relies on [`haxe.macro.Context.makeExpr`](https://github.com/HaxeFoundation/haxe/blob/4.0.5/std/haxe/macro/Context.hx#L322). If you don't target eval or neko, you get a compiler error for this.

A cross platform implementation (based on `Type.typeof`) shouldn't be too hard, but the question is if its worth the trouble. If you want to deal with expressions at runtime, perhaps [hscript](https://g

[2020-05-10 06:07] vonagam commented on #9403
I do target eval. This is reproducible with `--run Main` or `--main Main --interp` on my machine.

[2020-05-10 06:27] vonagam commented on #9403
`Context.makeExpr(0, pos)` is working inside `Main.main`, so if this is the only requirement for `$v` then it should work too.

[2020-05-10 09:22] vonagam opened #9404 "Alternative extension syntax (&) not recognized in macro reification"
Example:

[code]

Also is there any reason why last comma in old syntax `{> Foo, > Bar,}` can't be optional?

[2020-05-10 14:04] hughsando commented on #6843
I think the OCaml target is completely unnecessary for moving forward.  It should go:
1. Write ocaml ast -> haxe generator
2. try it

We can worry about whether ocaml is going to be faster or not later.  My guess is it will all depend on how Dynamic the code looks.

I would also add that a Lexer is a very finite piece of code and should be hand-optimized with haxe idioms rather than with ocaml con

[2020-05-11 14:17] vonagam opened #9405 "Macro printer outputs invalid syntax for TExtend type"
Example:

[code]

`{> Foo, var bar : Int, var baz : Int }` is not valid since it uses class notation for fields but separates them with comma instead of semicolon and lacks trailing semicolon.

[2020-05-12 10:47] #9355 closed, assigned to RealyUniqueName

[2020-05-12 12:40] tong opened #9407 "opam version still 4.0.0"
https://github.com/HaxeFoundation/haxe/blob/30eed0a60c37473789553f82f12df6553393776c/opam#L3

[2020-05-12 12:49] dmitryhryppa commented on #8980
Looks like there is a typo in `StringTools`.  Probably this part: https://github.com/HaxeFoundation/haxe/blob/development/std/StringTools.hx#L258-L265

should be:
[code]

[2020-05-12 12:59] Aurel300 commented on #8980
@dmitryhryppa No, that would be wrong. You'd be indexing `p1` (the `end` string) using indices that might only be valid in `p0` (the `s` string). The original `var p0 = s.c_str().add(s.length - end.length);` offsets the C string pointer by `s.length - end.length` bytes, so in the loop `p0.at(i)` is the same as `s.c_str().at(s.length - end.length + i)`.

However, there *might* be a problem there. `

[2020-05-12 13:12] posxposy commented on #8980
@Aurel300 Yep, true. I deleted my suggestion but looks like you managed to see it :D
Here is a bit dirty option:
[code]

[2020-05-12 13:37] Aurel300 commented on #8980
The cpp side already knows the byte length of the string, so `strlen` is unnecessary (and potentially slow).

[2020-05-12 13:41] posxposy commented on #8980
@Aurel300

Ah, good to know.
I've just meant, that counting bytes length looks like a working solution.

[2020-05-12 14:26] haxiomic commented on #9405
I've got a fix for this in another project. Plan to PR soon but in the meantime, feel free to copy this extension to Printer.hx into your project. Includes a number of fixes as well as improved formatting

https://github.com/haxiomic/dts2hx/blob/master/src/Printer.hx

[2020-05-12 14:34] vonagam commented on #9405
Yeah, i worked it around for myself too with this override (since i also prefer newer syntax of intersection):

[code]

[2020-05-12 15:35] piotrklibert commented on #9402
I encountered the same issue, probably: the code which compiled ok before suddenly vanished after https://github.com/HaxeFoundation/haxe/commit/bde35a20d9c3bccd045caa52dce05a75de788537 - without any error from the compiler, the output file got deleted. Reverting to bec8e9e16 fixed the issue.

[2020-05-12 16:17] jdonaldson commented on #9402
@RealyUniqueName I took a look at the example, and it seems to be a problem in the AST construction.  The lua generator never sees the call to main when haxe.Timer is imported.

[2020-05-12 16:43] #9402 closed, assigned to RealyUniqueName

[2020-05-12 16:44] RealyUniqueName commented on #9402
@jdonaldson An issue is entry point expression is not necessary a call. I've changed genlua to generate any entry point expression, not only calls.

[2020-05-12 20:19] jdonaldson commented on #9402
That's clear to me now, thanks for the details and update.

[2020-05-13 09:13] RealyUniqueName commented on #9407
Updated in 72779e6e5ca7ece8b5cae4ea7869709953ea6c16

[2020-05-13 09:13] #9407 closed, assigned to nobody

[2020-05-13 13:52] cedx opened #9408 "[js] Allow `js.lib.Symbol` instances as property names"
In JavaScript, `Symbol`s are commonly used as name of computed properties.
In Haxe, all native APIs accepting a property name require that this name is a `String`:

- `js.lib.Object.defineProperty()`
- `js.lib.Object.getOwnPropertyDescriptor()`
- `js.lib.Reflect.defineProperty()`
- `js.lib.Reflect.deleteProperty()`
- `js.lib.Reflect.get()`
- `js.lib.Reflect.has()`
- `js.lib.Reflect.set()`

This re

[2020-05-13 15:24] #9408 closed, assigned to nobody

[2020-05-13 16:51] #9390 closed, assigned to nobody

[2020-05-13 19:06] benmerckx opened #9411 "[php] Doctyping arrays"
As haxe arrays in php now implement all the possible interfaces to be an array like object maybe typings can be improved more for interoperability when we have a (in php land) concrete type?

[code]

If `T` here is a type recognized by php (primitive, class, callable, etc) IDE's will give proper type hinting when iterating through the array in php while hinting the Array_hx methods too. The trade-

[2020-05-13 19:14] dschmitt007 opened #9412 "Lua 5.3 implements bit32 as a native and utf8 as just utf8 not lua-utf8"
Similar to:
https://github.com/HaxeFoundation/haxe/issues/5954
Lua 5.3 now includes the bit32 operators as a key word and changes lua-utf8 to utf8 (and the require will fail.)

A change of:
[code]
fixes it

Probably room to insert conditionals based on version:
https://stackoverflow.com/questions/16257259/in-lua-is-there-a-function-that-will-tell-me-what-current-version-im-running, or walk through

[2020-05-13 21:04] nadako commented on #9135
That's more or less what haxeshim does: it's a "frontend" that runs a correct haxe binary with correct env vars based on selected version. and the `haxe_libraries` folder serves the same purpose as the "haxelib-lock.json" - it contains full information about libraries: some metadata for installing this exact version and compiler arguments (so the compiler binary don't have to depend on haxelib and

[2020-05-13 21:27] chfoo opened #9413 "JS ES6 Identifier '_g' already declared when catching exception"
When compiling this code with haxe 4.1.0+23e1444f4 with `-main TestJSBug --js testjsbug.js -D js-es=6`

[code]

it generates

[code]

and causes `SyntaxError: Identifier '_g' has already been declared`.

Compiling with haxe 4.0.5 generates

[code]
 which runs fine.

This issue seems to only happen if `exception` isn't used.

I tried searching and found #9308 which might be related.

[2020-05-13 21:33] nadako commented on #9413
Can reproduce, thanks for the report!

[2020-05-14 03:37] nanjizal opened #9414 "4.10 ( first rev release ) occasional Error 1."
With haxe 4.1.0 ( the first iteration released ), was building lime project from terminal ( after many iterations without problem ).
Not sure if it's a weird timing error, it's only happened ONCE so far and it went away when I closed the associated terminal.
I was trying to run from a terminal hxml file with following:
[code]
which called another hxml with the following:
[code]
even if i just ran

[2020-05-14 03:43] nanjizal commented on #9414
Feel free to close, and only link to if others get similar error.

[2020-05-14 05:10] kLabz commented on #9414
Did you restart your compilation server(s) after updating to haxe 4.1?

[2020-05-14 09:42] #8966 closed, assigned to nobody

[2020-05-14 09:55] haxiomic commented on #9387
Re-ran bisect, this one is now fixed :D, thanks @RealyUniqueName
Fixed in this diff [compare/1c31a59..dba7789](https://github.com/haxeFoundation/haxe/compare/1c31a59..dba7789)

[2020-05-14 09:55] #9387 closed, assigned to nobody

[2020-05-14 10:14] nanjizal commented on #9414
This was a day or so after installing and I have been using Haxe quite a bit so it was not something that happened for some time and I have not seen it since, but I think had to restart my system within that time so probably yes, I have no idea on compilation server restarting. I will let you know if it appears again.

By the way well done on you guys speeding up JVM.

[2020-05-14 12:15] RealyUniqueName commented on #9414
Looks like a random system failure not related to Haxe

[2020-05-14 12:15] #9414 closed, assigned to nobody

[2020-05-14 12:33] RealyUniqueName commented on #9387
Mystery...

[2020-05-14 12:55] flashultra opened #9415 "[ JS ] Wrong value for byte (0xFF) when increment"
The following example will return 0 for eval, hashlink, java  , but 256 for javascript
[code]
This will take 0xFF ( last byte from ```key```  and will add +1 . Result should be 0

[2020-05-14 12:59] kevinresol commented on #9415
The generated js is `bytes.b[0] += 1`, which causes the behaviour.

~The difference is as follow:~
~- `bytes.b[0] = 255; bytes.b[0] += 1` => `bytes.b[0] == 256`~
~- `bytes.b[0] = 256` => `bytes.b[0] == 0`~

[2020-05-14 14:41] farteryhr commented on #2976
idea: separate the one for primitive types (like using js:typeof, lua:type(x), matches a finite set, do simple comparison, summarize to "object" "function" for things with complex types it can't handle) and the one for objects (like using instanceof, plus proper Array handling, and more complicated type-type matching, always return false when the lhs operand is primitive value(?)).

by instinct, t

[2020-05-14 15:16] dschmitt007 opened #9416 "lua support for code insertion via Syntax"
Haxe 4 added Syntax to javascript:
https://try.haxe.org/#77000
It would be nice if that idiom were standardized for all the languages.
(In this case, specifically Lua.)

[2020-05-14 15:44] RealyUniqueName commented on #9416
Yes, the plan is to gradually add `{target}.Syntax` module to other targets as well.
Meanwhile you can do the same thing with `untyped __lua__("{0} lua code {1} with args", arg1, arg2)`

[2020-05-14 15:48] jdonaldson commented on #9416
I'll add support for lua.Syntax and add a deprecation note for `__lua__`

[2020-05-14 15:57] kevinresol commented on #9415
Edit:

The actual problem is that the expression `bytes.b[0] += 1` itself is 256. However after the operation, `bytes.b[0]` would be 0

[2020-05-14 16:30] #9413 closed, assigned to RealyUniqueName

[2020-05-14 17:02] RealyUniqueName commented on #9415
Fixed.
Keeping it open until the fix is merged into 4.1_bugfix branch

[2020-05-14 17:04] RealyUniqueName commented on #9415
And reverted the "fix" :)

[2020-05-14 17:09] RealyUniqueName commented on #9415
So, the compiled code for
[code]
looks like this:
[code]
I think this raises a question if it's legit to "inline" an assignment operation. @Simn ?

[2020-05-14 17:27] Simn commented on #9415
I don't really understand the problem here. The value of `a = b` should be `a`, not `b`.

[2020-05-14 17:39] Aurel300 commented on #9415
We cannot inline here because in JS (tested with Node):

[code]

[2020-05-14 17:39] Simn commented on #9415
wtf...

[2020-05-14 17:46] Aurel300 commented on #9415
I think the idea is that in JS, an assignment (or a combined assignment) expression always takes the value of the RHS? And typed arrays were introduced much later. There also isn't real operator overloading in JS as far as I can tell.

[2020-05-14 17:48] Simn commented on #9415
I always thought it was `a = (b = c)`, but apparently I need to go back to compiler 101 class.

[2020-05-14 21:01] Simn opened #9417 "Check The Robert Issue"
So I don't forget: There's a potential problem with access on something that tries really hard to not look like `Dynamic` picking up non-Dynamic static extensions.

[2020-05-14 21:16] nadako commented on #9417
[code]

[2020-05-14 21:27] nadako commented on #9417
(replacing `to Dynamic` with a `@:to Dynamic` method will prevent this BTW)

[2020-05-14 22:14] nadako opened #9418 "@:structInit constructor field order is messed up"
[code]

generates:
[code]

outputs (js):

[code]

call argument order is messed up in both `super` calls and `new GrandChild`

[2020-05-14 22:20] nadako commented on #7183
Note that the current implementation (as described in https://github.com/HaxeFoundation/haxe/issues/9313#issuecomment-615188854) also triggers "this-before-super" situations when inheritance is involved and this leads to ugly code generation on some targets. For example:

[code]

On ES6 this will generate:

[code]

which is totally unnecessary.

[2020-05-14 22:25] nadako commented on #7183
(wanted to label it with hf partner because we use @:structInit+inheritance, but then realized it's not that big of an issue for us, since our target output is ES5 and it's not that bad there ^^)

[2020-05-15 00:25] RblSb commented on #9418
[code]
Works correctly, but dumps:
`new Child(42, "hi");`
while constructors in `Child` and `Base` are `new(string:String, int:Int)` 😦

[2020-05-15 00:30] posxposy opened #9419 "4.1.0 is not available for install on Ubuntu"
Hi,

looks like there is no 4.1.0 version here: https://launchpad.net/~haxe/+archive/ubuntu/releases
So `sudo apt-get install haxe` installs old 4.0.5 version.

Thank you

[2020-05-15 00:34] andyli opened #9420 "Cannot build compiler with the "full" version of extlib"
For some unknown reason, I failed to build Haxe 4.1.0 in Debian unstable with the Debian packages.

The error I got:
[code]

According to the discussion in #8918, I believe it has something to do with case sensitivity. While I'm still searching for the root cause, it would be great if we can resolve it by renaming some files (probably `haxe-debian/libs/extlib-leftovers/uTF8.{ml,mli}`).

[2020-05-15 01:37] nadako opened #9421 "[ide] poor/no completion for expression macro arguments"
Consider this situation:
[code]

Invoking toplevel completion will NOT call the macro, thus we can't wrap given `EDisplay` into some typecheck to trigger completion.

If we now type the first argument, e.g. `f(1,|` and invoke toplevel completion, the macro will be called and will receive `EConst(1), EDisplay(DKMarked)`.

So it is only possible to provide completion for the last argument, unless we

[2020-05-15 01:41] nadako commented on #9421
BTW I'm pretty sure the related code is somewhere near my macroContext.ml changes of #9410

[2020-05-15 03:40] kevinresol commented on #9415
Interesting:

https://www.oreilly.com/library/view/javascript-the-definitive/9781449393854/ch04s11.html
https://www.ecma-international.org/ecma-262/5.1/#sec-11.13.1

http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1570.pdf

[2020-05-15 05:52] Simn commented on #9420
I don't remember why we even still have the UTF8 and UCharExt modules there because they should exist in extlib anyway...

Could you check if removing extlib from ttflib/dune fixes this for you?

[2020-05-15 05:56] Simn commented on #9420
Interestingly, my local extlib doesn't have these modules. The last file there is `std.mli`, but I have no idea why that is the case because the extlib repository clearly has uTF8.ml and such: https://github.com/ygrek/ocaml-extlib/blob/master/src/uTF8.mli

[2020-05-15 06:08] Simn commented on #9417
That makes it a variant of #5924 and the question Kevin asked in the last comment there becomes relevant.

Now I'm somewhat worried about breaking this (for `to Dynamic` in particular), but it's hard to tell if anyone intentionally relied on this behavior.

[2020-05-15 11:14] RealyUniqueName commented on #9419
It takes some time to update all the distros.
But @andyli is going to do that: https://twitter.com/andy_li/status/1260716546378227713

[2020-05-15 11:15] nadako opened #9423 "[ide] module target-specialization show up in toplevel completion"
I didn't have time to check if it's a haxe or vshaxe issue, but i suspect it comes from haxe, so I'll just report it here:

Consider we have these files:
 * `Mod.hx` containing `class Mod {}`
 * `Mod.whatever.hx` containing `class Mod {}`

Now if we autocomplete here:
[code]

We will get `Mod` (also reported as `imported` for some reason) and `Mod.whatever.Mod` (suggested auto-import from `Mod.wha

[2020-05-15 11:18] RealyUniqueName commented on #9420
I doubt Debian uses case-insensitive file system by default. So unless you've manually changed your file system, case sensitivity should not be the reason.

[2020-05-15 12:35] Simn commented on #9420
This is probably not about casing at all and a matter of `extlib` having `uTF8.ml`. From what I gather, that has moved to `extlib-compat`, so the problem could be that the build system has an older version of it.

[2020-05-15 13:52] RealyUniqueName commented on #9418
Merged into 4.1_bugfix

[2020-05-15 13:52] #9418 closed, assigned to nobody

[2020-05-15 14:57] Jarrio opened #9424 "[Haxe 4.1] DateTools - haxe.Exception has no field thrown"
`
/usr/local/lib/haxe/std/DateTools.hx:101: characters 5-10 : haxe.Exception has no field thrown
`
Running on OSX

[2020-05-15 15:09] basro opened #9425 "macro functions marked with @:deprecated will issue a warning even when unused."
Main.hx:
[code]

run `haxe Test.hx`
Output: `Test.hx:4: lines 4-6 : Warning : Usage of this field is deprecated`

[2020-05-15 15:28] RealyUniqueName commented on #9424
Looks like you're using an old std library with the new Haxe.

[2020-05-15 15:29] RealyUniqueName commented on #9424
Another guess: you're using [exception](https://lib.haxe.org/p/exception/) library, which shadows `haxe.Exception`. In this case you have to remove that library from your project.

[2020-05-15 15:36] Jarrio commented on #9424
This was it! I am using the `safety` lib which has `exception` as a dependency. Thanks!

[2020-05-15 15:36] #9424 closed, assigned to nobody

[2020-05-15 15:38] RealyUniqueName opened #9426 "[js][es6] locals with the same names in different `__init__` functions"
[code]
[code]

[2020-05-15 15:46] RealyUniqueName commented on #9424
Safety lib is updated on github to avoid this issue. It's just not released to haxelib yet. I'm going to make a release now.

[2020-05-15 15:52] RealyUniqueName commented on #9424
Done: https://lib.haxe.org/p/safety/1.1.2/

[2020-05-15 16:31] #9397 closed, assigned to nobody

[2020-05-15 16:43] RealyUniqueName commented on #9395
Looks like a typer issue in [`generic_substitute_expr`](https://github.com/HaxeFoundation/haxe/blob/1e873e8/src/typing/generic.ml#L90)

[2020-05-15 16:44] RealyUniqueName commented on #9391
I suspect this is about compiling using compilation server.

[2020-05-15 17:46] #9426 closed, assigned to RealyUniqueName

[2020-05-15 18:28] andyli commented on #9420
It's a bit complicated on my end - I'm using Debian in WSL 2, and my work directory is in a NTFS drive. I do have case-sensitivity enabled for my directory, so I "think" it's case-sensitive and my simple manual testing agreed.

Even more strange, the error only occurs when I use the ocaml packages from Debian, but not when I use opam, even if I used all the libs with the same version numbers.

May

[2020-05-15 18:36] andyli commented on #9420
I've just tried but it gave me the same error.

And somehow even if I removed both extlib and extlib-leftover and it also gave me the same error. I suppose it should error about some types not found?

[2020-05-15 19:23] andyli commented on #9420
FYI, here are the commands I used to reproduce the issue with docker.

[code]

[2020-05-15 19:32] andyli commented on #9420
Looks like that's the reason why it succeeded when I use opam instead of the Debian extlib package.

The opam extlib used this, which excluded utf8 and uchar...
[code]

Not very sure what should be the right fix now....

[2020-05-15 21:12] Simn commented on #9420
What I don't understand is why you still get that error after removing `extlib` from the dune file. That suggests that it picks up a different `uTF8.mli` file from some other place.

[2020-05-15 21:21] Simn commented on #9420
Or not specifically .mli but whichever one of the 30 OCaml file extensions it was...

Anyway, removing `extlib` there should be good regardless because the lib doesn't need it.

[2020-05-16 01:32] andyli commented on #9420
Maybe it's because ttflib depends on swflib, which depends on extlib?

I found a way to reproduce the issue using the opam packages: replace extlib with extlib-compat by just `opam install extlib-compat`.

I suggested the Debian extlib maintainer to build with `minimal=1` like the OPAM extlib package. But even it it solved the Debian case, I'm not sure about the other distros' extlib.

To be safe

[2020-05-16 08:10] Gama11 opened #9428 "Compiler doesn't terminate with dts2hx-generated VSCode externs"
See title - this is with latest HEAD (d5733b04433e9f41feb65a4b07dcdfa4a2cc177d), so it includes 8c254fb8372cfd3cce76cd52a1b105d909c6821f. The vshaxe test branch is at that commit too, but you can change `.haxerc` to a dev build if you want.

No isolated repro case yet, so these are the steps to reproduce:

[code]

There's no more output after this line, but `haxe.exe` is still using up one CPU cor

[2020-05-16 08:29] back2dos commented on #6794
Ok, this works in display mode, but not in diagnostics:

[code]

In diagnostics, it says "Bool should be Int" and "String should be Int". And if you use autocompletion to make it `test(true / 'false').charAt(0)` then you get an additional "Array<Unknown<0>> has no field charAt" - while still getting proper autocompletion for `String` on that expression.

[2020-05-16 08:46] sonygod opened #9429 "[java/jvm]not support sqlite."
[code]

[code]

[2020-05-16 08:47] Simn commented on #6794
I'm getting a different problem with this example:

![Code_ctQGWmP4YX](https://user-images.githubusercontent.com/634365/82115355-9627c780-9762-11ea-8b7b-363574892dab.png)

The only diagnostics is the `import haxe.macro.*` being reported as unused, which suggests that the compiler never even looks at the macro context.

[2020-05-16 08:50] Simn commented on #9429
Yes `__java__` won't work on the JVM target, so this has to be changed to actual Haxe code.

[2020-05-16 08:58] #9417 closed, assigned to Simn

[2020-05-16 08:59] #7452 closed, assigned to nadako

[2020-05-16 09:20] back2dos commented on #6794
The error seems to occur only for js and python targets ^^

[2020-05-16 10:14] nadako opened #9430 "duplicate field access errors in some cases"
[code]

gives

[code]

That's the case even in haxe 3.4.7, but it now also happens for lowercase fields, since the merge of module-statics and it's the reason for the current CI failures.

I believe the issue is caused by the fact that field access is done twice, because we do it extra time to get a Not_found error when resolving dot path:

https://github.com/HaxeFoundation/haxe/blob/01cfe550b9da7

[2020-05-16 13:37] vonagam opened #9431 "[cpp] Extending extern class with nativeGen one"
As i understand from #8300 it is not possible to extend an external class with a usual haxe class. You need to create a native cpp class which extends desired external class and has a member instance of a haxe class to which it delegates implementations.

I am trying to use `@:nativeGen` class to generate said native class. But right now extension of  extern class is not supported by `gencpp`.

Ex

[2020-05-16 15:07] nadako commented on #7697
We have to fix this somehow, since now JVM is getting traction, and `java.util.function` is in the standard lib...

[2020-05-16 16:14] basro opened #9432 "Possible constructor inlining improvements"
## Goal
The goal is to make this compile to code with 0 allocations:

[code]

For this I would like these constructors to inline properly:

[code]

But currently only take iterator is inlined, fib is not.

## Why it currently doesn't work

The inline constructors filter receives code with functions already inlined, but logically, before the constructors are inlined the call to Take's from.next() c

[2020-05-16 16:44] basro commented on #9432
Here's what each filter pass would do to the example main function:
<details>

<summary>Input code for main</summary>

[code]

</details>

<details>

<summary>apply inline constructors</summary>

[code]

</details>

<details>

<summary>apply type tightening</summary>

[code]

</details>

<details>

<summary>apply function inline pass</summary>

[code]

</details>

<details>

<summary> apply inline

[2020-05-16 16:53] nadako commented on #9432
I guess if this "type tightening" is implemented, it'll also fix #3147? I can't say about the technical part, but I'm sure it would be a welcome addition \o/

[2020-05-16 17:04] nadako commented on #9429
FWIW this example works for me, but there's indeed a wild `untyped __java__` that needs to be changed.

[2020-05-16 17:15] #9429 closed, assigned to nobody

[2020-05-16 17:44] saem commented on #6394
Abstract interfaces or structural types as something that are explicitly compile time only might help.

Likey needs a proposal, but having this and other "higher order" abstracts might indicate a desire for something like row polymorphism (compile time only). The type following with platform specialization like in Map<K,V> or trying to use @:generic on an abstract with a type parameter seems to al

[2020-05-17 02:48] hughsando commented on #6394
KeyValueIterator, and indeed Iterator is another construct that has terrible performance characteristics on static targets - basically requiring dynamic access for the fields, and (for hxcpp) dynamic access of the value.  Anything that could be done to make this strongly typed would be good.

[2020-05-17 10:18] Gama11 opened #9435 "[display] no completion for out-of-bounds argument in call"
[code]

Code completion for the second argument doesn't seem to work before it's been added to the declaration of `foo`. This is annoying because when I add additional arguments, I often start by modifying a call, no the declaration.

____

Works:

![](https://i.imgur.com/uUzDQaq.png)

Doesn't work (fallback to text-based completion because there are no Haxe results):

![](https://i.imgur.com/5l9u

[2020-05-17 10:21] nadako commented on #9435
Happens to me from time to time and yep it is annoying :)

[2020-05-17 14:11] basro commented on #9432
Some more thoughts:

Type tightening might be a lot easier if restricted to variables that are assigned only once.
That way it should be possible to just sequentially remap the types in code execution order and whenever an assignment to such a (single assignment) variable is encountered the type of the rvalue expression can be used directly without too much consideration.

Inline constructors alre

[2020-05-17 14:55] Gama11 opened #9436 "Leftover tasks for module-level statics"
_(extracted from https://github.com/HaxeFoundation/haxe/pull/8460)_

 - [x] ~discuss metadata/extern for KModuleStatics class~ (moved to #9494)
 - [x] adapt other targets to "flatten" module-statics classes
 - [x] better error messages for module-level `public`/`static` keywords
 - [ ] document resolution order (with and without import)
 - [x] check/adjust dox generation
   - dox should display mo

[2020-05-17 16:01] Gama11 opened #9437 "[display] hover only working on types until file is changed with module level functions"
![](https://i.imgur.com/ifzw96M.gif)

Can be reproduced by cloning https://github.com/HaxeFlixel/setup-flixel and running `npm install`.

[2020-05-17 16:15] Gama11 opened #9438 "[java/jvm] "Invalid number of type parameters for java.util.Set" when including native jar"
_Originally reported here: https://github.com/vshaxe/vshaxe/issues/431_

Note: you can obtain the jar from here: https://repo1.maven.org/maven2/org/processing/core/3.3.6/core-3.3.6.jar

___

I'm trying to use Processing (Java library). The following file (`src/Test.hx`):
[code]

and the following `build.hxml`:
[code]
(where `lib/core.jar` is the jar file shipped with Processing in the subfolder `c

[2020-05-17 17:02] nadako commented on #9437
Yep, can confirm, will try figuring this out :)

[2020-05-17 18:20] #9437 closed, assigned to nobody

[2020-05-17 18:36] nadako opened #9440 "[ide] find references doesn't work on static fields when find_descendants/find_base is true"

[2020-05-17 19:02] nadako commented on #9436
I guess this stuff needs to be split up. And IIRC there was some open question about access control too, but oh well :)

[2020-05-17 19:21] Gama11 opened #9441 "Duplicate main() is possible with module level statics"
This should probably error in some way?

[code]

[2020-05-17 19:24] nadako commented on #9441
Not sure, it follows normal resolution order and `main` is not a reserved field name...

[2020-05-17 19:31] Simn commented on #9441
I agree, this is fine.

[2020-05-17 19:39] nadako commented on #9440
@RealyUniqueName looks like it's broken for static fields in general, might be related to the find-base-and-children change, could you look into it?

[2020-05-17 19:41] nadako commented on #9440
Yeah, it's because of:

https://github.com/HaxeFoundation/haxe/blob/97401b65570a5f0cab3571f62dc19e5592e744b4/src/context/display/findReferences.ml#L66

It should completely ignore these flags when we're talking about static fields.

[2020-05-17 19:42] nadako commented on #9440
Not technically a regression, but since vshaxe now always passes the flag, it stopped working in newer haxe :)

[2020-05-17 19:51] #7916 closed, assigned to RealyUniqueName

[2020-05-17 20:26] nadako commented on #9440
Should be trivial to fix after #9442 is merged.

[2020-05-17 21:37] nadako opened #9443 "--json output should contain real paths and names, before @:native rewriting"
genxml does this by extracting `@:realPath` meta:

https://github.com/HaxeFoundation/haxe/blob/a6a0afed27dc47c22a68124194df4f78bfb260b1/src/codegen/genxml.ml#L60-L66

https://github.com/HaxeFoundation/haxe/blob/a6a0afed27dc47c22a68124194df4f78bfb260b1/src/codegen/genxml.ml#L165-L172

[2020-05-17 21:42] nadako opened #9444 "--json outputs different field name than specified in JsonMetadataEntry"
We have:
[code]

But the actual `--json` output contains `params` instead of `args`.

Also, the values seem to always be `null`, but I guess that's not surprising, given that `typedef JsonExpr = JsonTodo` :)

[2020-05-17 21:47] nadako opened #9445 "--json outputs different structure than specified for `JsonClass.superClass`"
`JsonClass.superClass` is typed as `Null<JsonTypePathWithParams>`, where `JsonTypePathWithParams` is:

[code]

however the actual `--json` output looks like this:

[code]

[2020-05-17 22:06] nadako opened #9446 "[ide] find references doesn't work for the FIRST module-static"
This one is different from #9440 and I suspect it has something to do with the `KModuleStatics` class position, which is the zero-range position of the first definition.

[code]

[2020-05-17 22:32] #9441 closed, assigned to nobody

[2020-05-17 22:45] RealyUniqueName commented on #9440
I'll cherry-pick this and #9442 when I get to updating 4.1_bugfix

[2020-05-18 08:24] sonygod opened #9447 "[All]http post error ."
[code]

I try to build hl and node target . node seem ok. but hl give me wrong reuslt.

      errorHttp Error #422

[2020-05-18 10:30] nadako opened #9448 "[ide] object field completion for structure intersections loses the order"
I'm not sure how this is handled (probably just sort-by-pos.pmin?), and I'm not sure if it's even possible to fix as long as we don't have intersection types in the typed AST (we don't, right?), but it would be great if the order of suggested fields in object declaration completion was dependent on the order of types in the intersection, e.g.:

[code]

![image](https://user-images.githubuserconten

[2020-05-18 10:45] nadako commented on #9448
Somewhat related: currently the completion shows the fields as "from anonymous structure", while when typing against just a typedef it'll show e.g. `from BaseProps` - would be nice to preserve this for intersection types too.

Maybe this can be done, since IIRC we have "extends" anon status?

[2020-05-18 11:35] RealyUniqueName commented on #9447
cpp, php, java, lua, python also get 422 Http error from the server.
I doubt it's an issue of a Haxe target. More likely it's a quirky server setup.

[2020-05-18 11:40] nadako opened #9449 "[ide][macro] uncatchable Context.getType in completion"
Could be an instance of #8092, however I'm not trying to getType a module :) Also for some reason this only reproduces in code completion, compiling (through cache server) works just fine. I'm labelling this hf-partner, because it breaks completion for a macro in our game codebase.

With the following setup, invoking structure field completion inside `{}` returns nothing, and the last output from

[2020-05-18 12:13] sonygod commented on #9447
but only node target seeem ok.will you fixed that ?

[2020-05-18 14:00] RealyUniqueName commented on #9447
I can't fix it without knowing why the server responds with 422 status.

[2020-05-18 14:11] sonygod commented on #9447
may be addHeader  function have some issue.

[2020-05-18 14:11] kLabz commented on #9447
Testing with curl, we usually get 422 status when ip is missing. Error message is then
[code]

[2020-05-18 14:24] sonygod commented on #9447
full source code here.
[code]

///server side

[code]

//build.xml

[code]

![image](https://user-images.githubusercontent.com/748320/82225604-ff246080-9957-11ea-9198-ef0af98bf1fb.png)

[2020-05-18 14:54] nadako opened #9450 "Expected type is not propagated through branching"
Could the following code be made working? It would be nice :)

[code]

Also, in the `try` example it complains about `get()` rather than `[]`, which is confusing because it doesn't follow syntatical order.

[2020-05-18 14:58] nadako commented on #9450
I get it though that it should NOT complain about expected type mismatch if these expressions are not used as a value, and we still want type "minification", which seems to be a bit incompatible with expected type, so changing this might be quite involved.